.portlet-body
	%table.table.table-hover
		%thead
			%tr
				%th
					Referral Date
				%th
					Referred To
				%th
					Referral Reason
				
		%tbody
			- @old_referrals.each do |referral|
				%tr
					%td
						= referral.created_at.strftime("%B %d, %Y")
					%td{:style=>"max-width: 100px;word-wrap: break-word;"}
						= referral.refer_to.present? ? referral.refer_to : "N/A"
					%td{:style=>"max-width: 100px;word-wrap: break-word;"}
						= referral.referral_reason.present? ? referral.referral_reason : "N/A"
					%td
						= link_to "Edit", edit_examination_referral_path(@exam.id, referral.id), remote: true,  class: "btn btn-success btn-sm edit-referral"
					%td
						= link_to "Delete", examination_referral_path(@exam.id, referral.id), remote: true, class: "btn btn-danger btn-sm delete-referral", onclick: "$(this).parent().parent().remove()", method: :delete
					%td
						= link_to "View", examination_referral_path(@exam.id, referral.id), remote: true,  class: "btn btn-success btn-sm edit-referral"
					%td
						-if @exam.joint_resource.family_member_id.nil?
							= link_to "<i class='fa fa-send '></i>&nbsp;Email".html_safe,referral_reports_path(id: referral.id,:patient_id => @exam.joint_resource.patient.id ,:email => :true), :remote => true,class: "btn btn-success btn-sm hide_btn",:"data-no-turbolink"=> "true"
						-else
							= link_to "<i class='fa fa-send '></i>&nbsp;Email".html_safe,referral_reports_path(id: referral.id,:family_member_id => @exam.joint_resource.family_member_id ,:email => :true), :remote => true,class: "btn btn-success btn-sm hide_btn",:"data-no-turbolink"=> "true"
:javascript
	$(".edit-referral").bind('ajax:complete', function () {
		$('.spinner').hide();
		$("#referral-modal").modal();
		$("#old-referral-modal").modal('toggle');
	})
