.portlet-body
  %table.table.table-hover
    %thead
      %tr
        %th
          Referral Date
        %th
          Referred To
        %th
          Referral Reason
        
    %tbody
      - @old_referrals.each do |referral|
        %tr
          %td
            = referral.created_at.strftime("%B %d, %Y")
          %td
            = referral.try(:refer_to)
          %td
            = referral.try(:referral_reason)
          %td
            = link_to "Print", examination_referral_path(@exam.id, referral.id), remote: true,  class: "btn btn-success btn-sm print_exam"
:javascript
  $(".print_exam").bind('ajax:complete', function () {
    $('.spinner').hide();
    $("#print-modal").modal('toggle');
    $("#referral-modal").modal();
  })
