.form-wizard
  .form-body
    %ul.nav.nav-pills.nav-justified.steps
      %li
        %a.step{"data-toggle" => "tab", :href => edit_examination_referral_path(@exam.id, @referral.id), :"data-remote"=>"true"}
          %span.number
            1
          %span.desc
            %i.fa.fa-check
            Referral Check List
      %li.active
        %a.step{"data-toggle" => "tab", :href => "#tab2"}
          %span.number
            2
          %span.desc
            %i.fa.fa-check
            Referral Detail  
   
%hr
= simple_form_for @referral, url: @form_url do |f|
  %div
    .row
      .col-md-6
        %label.string.optional.control-label Name:
        %span.valuemark
          #{@patient.name}
      .col-md-6
        %label.string.optional.control-label DOB:
        %span.valuemark
          #{@patient.birthday.present? ? @patient.birthday : "N/A"}
    .row
      - if @patient.birthday.present?
        .col-md-6
          %label.string.optional.control-label AGE:
          %span.valuemark
            #{@patient.age}
      .col-md-6
        %label.string.optional.control-label Date:
        %span.valuemark
          #{Time.now.utc.strftime("%B/%d/%Y at %I:%M%p")}
    .row
      .col-md-12
        %label.string.optional.control-label Phone No.:
        %span.valuemark
          #{@patient.phone.present? ? @patient.phone : "N/A"}
    .row
      .col-md-12
        %label.string.optional.control-label Email:
        %span.valuemark
          #{@patient.email}
    .row
      .col-md-3
        %label.string.optional.control-label Request to see:
      .col-md-9
        = f.input :refer_to, label: false, input_html: {onchange: "$(this).attr('value',($(this).val()))"}
    .row
      .col-md-3
        %label.string.optional.control-label Referral Reason:
      .col-md-9
        = f.input :referral_reason, label: false, input_html: {onchange: "$(this).attr('value',($(this).val()))"}
    .row
      .col-md-3
        %label.string.optional.control-label Body Message:
      .col-md-9
        = f.input :message, label: false, as: :text   
    .row
      .col-md-3
        %label.string.optional.control-label Copy referral to:
      .col-md-9
        = f.input :cc_to, :url => autocomplete_contact_name_autocompletes_path, :as => :autocomplete, placeholder: "Enter Company Name", input_html: {class: "form-control contact-autocomplete clear_input", id: "#{@exam.id}" ,value: ""}, label: false
        = f.hidden_field :cc_to, value: "", id: "refferal_cc"
        = f.hidden_field :contact_ids, value: "", id: "contact_ids"
        = hidden_field_tag("fax", "", :id => "fax")
 
    %br
    .row
      .col-sm-12
        #contact_find

  %br
  .modal-footer
    = link_to "Back", edit_examination_referral_path(@exam.id, @referral.id), remote: true, class: "btn btn-primary", id: "referral-btn"
    = button_tag "Save & Send Notification to Patient", name: "commit",value: "referral", class: "btn btn-success send_report_btn"

  
  