%hr
.row
  .row
    .col-md-12{:style => "margin-left: 3%;"}
      %i.fa.fa-medkit
      Exam date:
      = "#{exam.try(:exam_date)}"
  %br
  - if referral_form.try(:medical)
    .col-md-6
      %label.bold
        Patient Medical History:
      %br
      .col-md-offset-1
        - if patient.try(:pmhxes).present?
          - patient.pmhxes.each do |pmhx|
            - if pmhx.try(:disease).try(:name).present?
              = pmhx.disease.name
            , notes:
            = pmhx.notes
        - else
          (-) Negative
    .col-md-6 
      %label.bold
        Family Medical History:
      %br
      .col-md-offset-1
        - if  patient.try(:fmhxes).present?
          - patient.fmhxes.each do |fmhx|
            - if fmhx.try(:disease).try(:name).present?
              = fmhx.disease.name
            , notes:
            = fmhx.notes
        - else
          (-) Negative
%br

.row

  .col-md-6  
    %label.bold
      Patient Ocular History:
    %br
    .col-md-offset-1
      - if  patient.try(:pohxes).present?
        - patient.pohxes.each do |pohx|
          - if pohx.try(:disease).try(:name).present?  
            = pohx.disease.name
          , notes:
          = pohx.notes
        %br
      - else
        (-) Negative

  .col-md-6 
    %label.bold
      Family Ocular History:
    %br
    .col-md-offset-1
      - if  patient.try(:fohxes).present?
        - patient.fohxes.each do |fohx|
          - if fohx.try(:disease).try(:name).present?
            = fohx.disease.name
          , notes:
          = fohx.notes
      - else
        (-) Negative
%br

.row

  .col-md-6    
    %label.bold
      Patient Surgical History:
    %br
    .col-md-offset-1
      - if  patient.try(:sxhxes).present?
        - patient.sxhxes.each do |sxhx|
          - if sxhx.try(:disease).try(:name).present?  
            = sxhx.disease.name
          , notes:
          = sxhx.notes
        %br
      - else
        (-) Negative
  .col-md-6    
    %label.bold
      Allergy:
    %br
    .col-md-offset-1
      - if  patient.try(:allergies).present?
        - patient.allergies.each do |allergy|
          - if allergy.try(:disease).try(:name).present?  
            = allergy.disease.name
          , notes:
          = allergy.notes
        %br
      - else
        (-) Negative
.row
  - if patient.blood_pressure.present?  
    .col-md-6
      %label
        %b Blood Pressure:
      .col-md-offset-1
        = patient.blood_pressure  
.row
  - if patient.blood_pressure_time.present?   
    .col-md-6
      %label
        %b Blood Pressure Time:
      .col-md-offset-1
        = patient.blood_pressure_time
%hr
.row
  .col-md-6
    - sh = exam.social_history
    %label
      %b Neurological Psychological Status: 
    %br
    .col-md-6  
      %label
        %b Agitated:
      = patient.agitated ? "Yes" : "No"
    .col-md-6  
      %label
        %b Depressed:     
      = patient.depressed ? "Yes" : "No"  
    %br
    .col-md-6  
      %label
        %b Oriented x 3:      
      = patient.oriented_x3 ? "Yes" : "No"
    .col-md-6  
      %label
        %b Anxious:      
      = patient.anxious ? "Yes" : "No"
    .col-md-6  
      %label
        %b Notes:
      = "#{@sh.try(:notes_for_neurological)}"
.row
  - if patient.medical_details.present?  
    .col-md-6
      %label 
        %b Last Medical Exam
      = patient.medical_details
  - if patient.medical_notes.present?  
    .col-md-6
      %label
        %b Where
      = patient.medical_notes
  - if patient.last_eye_exam.present?
    .col-md-6
      %label 
        %b Last Eye Exam
      = patient.last_eye_exam
  - if patient.referred_by_data.present?  
    .col-md-6
      %label
        %b Where
      = patient.referred_by_data


  .col-md-6
    %label
      %b Tobacco Use:      
    = patient.tobacco_use ? "Yes" : "No"
    %label
      %b Alcohol Use:     
    = patient.alcohol_use ? "Yes" : "No"  
    %br
    %label
      %b Pregnant:      
    = patient.try(:pregnant) ? "Yes" : "No"
    %label
      %b Breast Feeding:      
    = patient.breast_feeding ? "Yes" : "No"

- if referral_form.try(:primlinary)
  %hr
  %label.bold
    Preliminary Exam
  %br
  - pe = exam.try(:primlinary_exam)
  .col-md-6
    %b EOMS
    = ": #{pe.eoms}" 
    .row
      .col-md-6
        %b Pupils
        = ": #{pe.pupils}"
  .col-md-6
    %b Confrontational Field
    = ": #{pe.confrontational}"
    %br
    %b Color Vision (Ishihara)
    = ": #{pe.color_vision}"
    - if pe.steropsis.present?  
      %b Stereopsis (Randot)
      = ": #{pe.steropsis}"
  .col-md-12
    - if pe.primlinary_exam_notes.present?
      - pe.primlinary_exam_notes.each do |f|
        %label.string.optional.control-label.bold Additional testings / Notes:
        = "#{f.notes.present? ? f.notes : '' }"
        %br

- if referral_form.try(:binocular)
  %label.bold
    Binocular Testing
  %br
  - bt = exam.try(:binocular_testing)
  .col-md-6
    %label
      %b Cover Test:
    .row
      .col-md-6
        %b Distance
        = ": #{bt.try(:ctd)}" if bt.try(:ctd).present?
      .col-md-6
        %b Near
        = ": #{bt.try(:ctn)}" if bt.try(:ctn).present?
    .row
      .col-md-6
        %b NRA
        = ": #{bt.try(:nra)}" if bt.try(:nra).present?
      .col-md-6
        %b PRA
        = ": #{bt.try(:pra)}" if bt.try(:pra).present?
      .col-md-6
        %b NPC
        = ": #{bt.try(:npc)}" if bt.try(:npc).present?
  .col-md-6
    %label
      %b Phorias:
    .row 
      .col-md-6
        %b Horizontal Distance
        = ": #{bt.try(:hpd)}" if bt.try(:hpd).present?
      .col-md-6
        %b Horizontal Near
        = ": #{bt.try(:hpn)}" if bt.try(:hpn).present?
      .col-md-6
        %b Vertical Distance
        = ": #{bt.try(:vpd)}" if bt.try(:vpd).present?
      .col-md-6
        %b Vertical Near
        = ": #{bt.try(:vpn)}" if bt.try(:vpn).present?
  
    .col-md-6    
      = "Notes: #{bt.try(:notes)}" if bt.try(:notes).present?

.div.clear{:style=>"clear:both"}

- if referral_form.visual
  %hr
  .row
    .col-md-12
      - visual_acuities = exam.visual_acuities 
      %label
        %b Visual Acuity

    - visual_acuities.each do |va|
      .col-md-6
        %label
          = va.using_glasses ? "With Correction: ": "Without Correction: "
          %b Type
          = ": #{va.glass_type}" if va.using_glasses
        .row
          .col-md-6
            %label
              %b Distance:
            .col-md-12
              = "OD 20/ #{va.distance_od}" if va.distance_od.present?
            .col-md-12
              = "OS 20/ #{va.distance_os}" if va.distance_os.present? 
            .col-md-12      
              = "OU 20/ #{va.distance_ou}" if va.distance_ou.present?
          .col-md-6
            %label
              %b Near:
            .col-md-12
              = "OD 20/#{va.near_od}" if va.near_od.present?
            .col-md-12          
              = "OS 20/#{va.near_os}" if va.near_os.present?
            .col-md-12          
              = "OU 20/#{va.near_ou}" if va.near_ou.present?
%hr
.row
  .col-md-12
    %label
      %b Current Glasses:

  .col-md-12
    -count = 1
    - exam.glasses.each do |glass|
      - if glass.od_cylinder.present? || glass.od_axis.present? || glass.glasses_type?
        %table.table.table-condensed{:style => "font-size:12px;"}
          %tr
            %tr
              %td{colspan: 1}
                = count
              -if ((glass.od_sphere.present? && (glass.od_sphere != "pl")) || (glass.os_sphere.present? && (glass.os_sphere != "pl")))
                %td
                  %b SPHERE
              -if ((glass.od_cylinder.present? && (glass.od_cylinder != "pl")) || (glass.os_cylinder.present? && (glass.os_cylinder != "pl")))
                %td 
                  %b CYLINDER
              -if glass.od_axis.present? || glass.os_axis.present?
                %td
                  %b AXIS
              -if glass.od_prism.present? || glass.os_prism.present?
                %td
                  %b PRISM
              %td{:class => ("hidden" unless glass.visual_acuity.try(:distance_od).present? || glass.visual_acuity.try(:distance_os).present?)}
                %b VA@D
              %td{:class => ("hidden" unless glass.visual_acuity.try(:near_od).present? || glass.visual_acuity.try(:near_os).present?)}
                %b VA@N
          -if ((glass.od_sphere.present? && (glass.od_sphere != "pl"))|| (glass.od_cylinder.present? && (glass.od_cylinder != "pl")) || (glass.od_prism.present?) || (glass.od_axis.present?))
            %td
              %b OD
            - if glass.od_sphere != "pl"  
              %td
                = glass.od_sphere
            - if glass.od_cylinder != "pl"  
              %td
                = glass.od_cylinder
            %td
              = glass.od_axis
            %td
              = glass.od_prism
            - if glass.visual_acuity.try(:distance_od).present? || glass.visual_acuity.try(:distance_os).present?  
              %td
                = "20/ #{glass.visual_acuity.distance_od}"
            - if glass.visual_acuity.try(:near_od).present?  ||  glass.visual_acuity.try(:near_os).present?  
              %td
                = glass.visual_acuity.try(:near_od)

          %tr
            - if ((glass.os_sphere.present? && (glass.os_sphere != "pl")) || (glass.os_cylinder.present? && (glass.os_cylinder != "pl")) || (glass.os_prism.present?) || (glass.os_axis.present?))  
              %td
                %b OS
              - if glass.os_sphere != "pl"  
                %td
                  = glass.os_sphere
              - if glass.os_cylinder != "pl"  
                %td
                  = glass.os_cylinder
              %td
                = glass.os_axis
              %td
                = glass.od_prism
              - if glass.visual_acuity.try(:distance_os).present? || glass.visual_acuity.try(:distance_od).present?  
                %td
                  = "20/ #{glass.visual_acuity.try(:distance_os)}"
              - if glass.visual_acuity.try(:near_os).present?  || glass.visual_acuity.try(:near_od).present?   
                %td
                  = glass.visual_acuity.near_os
          %tr
            %td
              %b Add
            -if glass.ou_add.present?  
              %td
                =glass.ou_add
            %td
            %td
            %td
              OU
            - if glass.visual_acuity.try(:distance_ou).present?  
              %td
                = "#{glass.visual_acuity.distance_ou}"
            - if glass.visual_acuity.try(:near_ou).present?  
              %td
                = glass.visual_acuity.near_ou
          %tr
            -if glass.glasses_type.present?
              %td
                %b TYPE
              %td
                = glass.glasses_type
          - count = count + 1  
  %hr
    

- if referral_form.refraction
  %hr
  .row{:style => "font-size: 10px;"}
    .col-md-12
      %label.bold
        REFRACTION 
    .col-md-12
      - exam.try(:eye_measurements).each do |eye_measurement|
        - if eye_measurement.show == true
          -  glass = eye_measurement.glass
          -  if(subtest_show_hide(eye_measurement))
            %table{:style => "font-size:12px;width:100%;"}
              %tr
                %th{:colspan => 2}
                  - if(eye_measurement.measurement_type == "bincular_balance")
                    %b Binocular Balance
                  -elsif (eye_measurement.measurement_type == "cyclopelgic")
                    %b Cycloplegic
                  -else
                    %label.bold
                      = eye_measurement.measurement_type.titleize
              %tr
                %th
                %th SPHERE
                %th CYLINDER
                %th AXIS
                %th PRISM
                %th VA@D
                %th VA@N
              %tr
                %td.bold OD
                %td
                  = glass.od_sphere
                %td
                  = glass.od_cylinder
                %td
                  = glass.od_axis
                %td
                  = "#{ glass.od_prism.present? ? glass.od_prism + 'BO' : '' }"
                %td
                  = "20/ #{glass.visual_acuity.distance_od}"
                %td
                  = glass.visual_acuity.near_od
              %tr
                %td.bold OS
                %td
                  = glass.os_sphere
                %td
                  = glass.os_cylinder
                %td
                  = glass.os_axis
                %td
                  = "#{ glass.os_prism.present? ? glass.os_prism + 'BI' : '' }"
                %td
                  = "20/ #{glass.visual_acuity.distance_os}"
                %td
                  = glass.visual_acuity.try(:near_os)  
              %tr
                %td.bold Add
                %td
                  =glass.ou_add
                %td
                %td
                %td.bold OU
                %td
                  = "20/ #{glass.visual_acuity.distance_ou}"
                %td
                  = glass.visual_acuity.near_ou
              %tr
                %td.bold Notes
                %td{:colspan => 6}
                  = "#{eye_measurement.notes}"
            -if eye_measurement.measurement_type == "cyclopelgic"
              .row
                .col-sm-8
                  - if eye_measurement.cyclopelgic.present?
                    - if eye_measurement.installed_at.present?  
                      %label
                        %b Drops Used:
                        = "#{'1 gtt Cyclopentolate 1% is instilled at:' +eye_measurement.installed_at.strftime('%I:%M %P').to_s}"
                .col-sm-4
                  - if eye_measurement.cyclopelgic_text.present? 
                    %label
                      %b Other: 
                      = "#{eye_measurement.cyclopelgic_text}"

- if referral_form.contact
  - contact_lens_exam = exam.contact_lens_exam
  -if contact_lens_exam.try(:od_d_h).present? || contact_lens_exam.try(:lenses).try(:first).try(:od_lens_types_price_id).present?

    %hr

    .row
      .col-md-12
        %label
          %b Contact Lens Exam 
      .col-md-12
        %table.table.table-condensed{:style => "font-size:12px;"}
          %tr
            %td
              %tr
                %td{colspan: 2}
                  Keratometry:
                - if contact_lens_exam.od_d_h.present? || contact_lens_exam.od_d_v.present?  
                  %td
                    Diopter
                - if contact_lens_exam.od_mm_h.present? || contact_lens_exam.od_mm_v.present? 
                  %td
                    MM
                - if contact_lens_exam.od_axis_h.present? || contact_lens_exam.od_axis_v.present?  
                  %td
                    Axis
                -else
                  %td
                %td
                %td
                - if contact_lens_exam.os_d_h.present? || contact_lens_exam.os_d_v.present?  
                  %td
                    Diopter
                - if contact_lens_exam.os_mm_h.present? || contact_lens_exam.os_mm_v.present?   
                  %td
                    MM
                - if  contact_lens_exam.os_axis_h.present? || contact_lens_exam.os_axis_v.present?
                  %td
                    Axis

            %td
              <br/>OD
            %td
              <br/>Horizontal
              
            %td
              = contact_lens_exam.od_d_h
            %td
              = contact_lens_exam.od_mm_h
            %td
              = contact_lens_exam.od_axis_h
            %td
              <br/>OS
            %td
              <br/>Horizontal

            %td
              = contact_lens_exam.os_d_h
            %td
              = contact_lens_exam.os_mm_h
            %td
              = contact_lens_exam.os_axis_h
          %tr#border_remove_keratometry
            %td
              <br/>
            %td
              Vertical
              
            %td
              = contact_lens_exam.od_d_v
            %td
              = contact_lens_exam.od_mm_v
            %td
              = contact_lens_exam.od_axis_v
            %td
              <br/>
            %td
              Vertical

            %td
              = contact_lens_exam.os_d_v
            %td
              = contact_lens_exam.os_mm_v
            %td
              = contact_lens_exam.os_axis_v
          %tr#border_remove_dominate
            %td
              Dominate Eye
            %td
              = contact_lens_exam.dominated_eye_od == "OD" ? "OD" : ''
            %td
              = contact_lens_exam.dominated_eye_od == "OS" ? "OS" : ''

      .col-md-12
        - contact_lens_exam.try(:lenses).order("created_at ASC").each_with_index do |lens,index|
          - od_lens_types =LensTypesPrice.find_by(id: lens.od_lens_types_price_id)
          - os_lens_types =LensTypesPrice.find_by(id: lens.os_lens_types_price_id)
          - od_type = od_lens_types.try(:lens_type)
          - os_type = os_lens_types.try(:lens_type)
          - if lens.od_type.present?
            %label.bold  
              = "#{index == 0 ? 'Current lens' : 'Trial '+ index.to_s}"
              = lens.lens_date.present? ? "Issue Date: #{lens.lens_date}" : ""
            %table.table{:style => "font-size:12px;"}
              %tr
                %td
                  %b OD
                %td{:colspan=>10}
                  = lens.od_type
              %tr
                %th
                %th
                  %b SPH      
                %th
                  %b CYL 
                %th
                  %b AXIS
                %th
                  %b ADD
                %th
                  %b Base Curve 
                %th
                  %b Diameter 
                %th
                  %b Over Refraction
                %th
                  %b VA@D
                %th
                  %b VA@N
              %tr
                %td 
                %td
                  = lens.od_sphere  
                %td
                  = filter_lens_fields(od_type, 'cylinder') == "hidden" ? " " : lens.od_cylinder
                %td
                  = filter_lens_fields(od_type, 'axis') == "hidden" ? " " : lens.od_axis
                %td
                  = filter_lens_fields(od_type, 'add') == "hidden" ? " " : lens.od_add
                %td
                  = lens.od_base_curve
                %td
                  = lens.od_diameter
                %td
                  = lens.od_over_refraction
                %td
                  = "20/"+lens.visual_acuity.distance_od if lens.visual_acuity.present?
                %td
                  = lens.visual_acuity.near_od if lens.visual_acuity.present?
              %tr
                %td
                  %b OS
                %td{:colspan=>10}
                  = lens.os_type
              %tr
                %td 
                %td
                  = lens.os_sphere 
                %td
                  = filter_lens_fields(os_type, 'cylinder') == "hidden" ? " " : lens.os_cylinder
                %td
                  = filter_lens_fields(os_type, 'axis') == "hidden" ? " " : lens.os_axis
                %td
                  = filter_lens_fields(os_type, 'add') == "hidden" ? " " : lens.os_add
                %td
                  = lens.os_base_curve
                %td
                  = lens.os_diameter
                %td
                  = lens.os_over_refraction
                %td
                  = "20/"+lens.visual_acuity.distance_os if lens.visual_acuity.present?
                %td
                  = lens.visual_acuity.near_os if lens.visual_acuity.present?
              %tr
                %td
                %td{:colspan=>6}
                  %b Notes:
                  = lens.notes
                %td
                  %b OU
                %td
                  = "20/"+lens.visual_acuity.distance_ou if lens.visual_acuity.present?
                %td
                  = lens.visual_acuity.near_ou if lens.visual_acuity.present?
              %br


  
- if referral_form.external
  %hr
  .row
    .col-md-12
      %label
        External Exam
      %br
      - external_exam = exam.external_exam
    
    .col-md-12
      .row
        .col-md-12
          -if request.try(:format).try(:html?) || request.try(:format).try(:js?)
            - if params['fax'].present?
              .raphael_div
                = wicked_pdf_image_tag "/images/external_image.jpg", :style => "height: 200px;width: 600px;", class: "img-responsive"
                #eye_view.raphael_draw
            -else
              .raphael_div
                = image_tag "/images/external_image.jpg", :style => "height: 200px;width: 600px;", class: "img-responsive"  
                #eye_view.raphael_draw
          - else
            .raphael_div
              = wicked_pdf_image_tag "/images/external_image.jpg", :style => "height: 200px;width: 600px;", class: "img-responsive"
              #eye_view.raphael_draw
        .col-md-12
          - if external_exam.try(:corneal_disease).try(:draw_data).present?
            %label        
              Corneal
            -if request.try(:format).try(:html?) || request.try(:format).try(:js?)
              -if params['fax'].present?
                .raphael_div
                  = wicked_pdf_image_tag "/images/cornea.png", :style => "height: 120px;width: 400px;", class: "img-responsive"
                  .raphael_draw{id: "corneal_view_#{referral_form.id}"}
              -else
                .raphael_div
                  = image_tag "/images/cornea.png", :style => "height: 120px;width: 400px;", class: "img-responsive"
                  .raphael_draw{id: "corneal_view_#{referral_form.id}"}
            - else
              .raphael_div
                = wicked_pdf_image_tag "/images/cornea.png", :style => "height: 120px;width: 400px;", class: "img-responsive"
                .raphael_draw{id: "corneal_view_#{referral_form.id}"}

        .col-md-8
          .row
            .col-md-12
              %label.string.optional.control-label.bold NCT:
              -external_exam.ncts.each do |nct|
                %label.string.optional.control-label.bold OD
                %span
                  = "#{ nct.nct_first.present? ? nct.nct_first + 'mmHg' : '' }"
                %label.string.optional.control-label.bold OS
                %span
                  = "#{ nct.nct_last.present? ? nct.nct_last + 'mmHg' : '' }"
                %label.string.optional.control-label.bold Time
                %span
                  = nct.nct_time.try(:strftime, "%l:%M:%S %p")
                | &nbsp;
                %br
          .row
            .col-md-12
              %label.string.optional.control-label.bold GAT:
              -external_exam.gats.each do |gat|
                %label.string.optional.control-label.bold OD
                %span
                  = "#{ gat.gat_first.present? ? gat.gat_first + 'mmHg' : '' }"
                %label.string.optional.control-label.bold OS
                %span
                  = "#{ gat.gat_last.present? ? gat.gat_last + 'mmHg' : '' }"
                %label.string.optional.control-label.bold Time
                %span
                  = gat.try(:gat_time).try(:strftime, "%l:%M:%S %p")
                | &nbsp;
                %br
    .col-md-12
      .row
        .col-md-8
          .row
            .col-md-3
              %label.string.optional.control-label.bold Tear Film:
            .col-md-3
              %span
                = external_exam.tear_film
            .col-md-3
              %label.string.optional.control-label.bold Sclera:
            .col-md-3
              %span
                = external_exam.sclera
          .row
            .col-md-3
              %label.string.optional.control-label.bold Cornea:
            .col-md-3 
              %span
                = external_exam.cornea
            .col-md-3  
              %label.string.optional.control-label.bold Lids/ Lashes:
            .col-md-3
              %span
                = external_exam.lids_lashes
          .row
            .col-md-3
              %label.string.optional.control-label.bold Iris:
            .col-md-3
              %span
                = external_exam.iris
            .col-md-3
              %label.string.optional.control-label.bold A/C:
            .col-md-3
              %span
                = external_exam.ac
          .row
            .col-md-3
              %label.string.optional.control-label.bold Bulbar Conj:
            .col-md-3
              %span
                = external_exam.bulbar_conj
            .col-md-3
              %label.string.optional.control-label.bold Lens :
            .col-md-3
              %span
              = external_exam.lens
          .row
            .col-md-3
              %label.string.optional.control-label.bold Palpebral Conj: 
            .col-md-3
              %span
                = external_exam.palpebral_conj
            .col-md-2
              %label.string.optional.control-label.bold Angles: 
            .col-md-2
              %label.string.optional.control-label.bold OD
              %span
                = external_exam.angles_od
              &nbsp;
            .col-md-2
              %label.string.optional.control-label.bold OS
              %span
                = external_exam.angles_os 
        .col-md-4
          - if external_exam.corneal_disease.present?
            - external_exam = exam.external_exam
            - if external_exam.corneal_disease.diseases.present?
              Corneal Disease:
              - external_exam.corneal_disease.diseases.each do |disease|
                = disease.name           
              %br
              = "Notes: #{external_exam.corneal_disease.notes}"
            %br
            - if exam.external_exam.gonioscopy.present?
              - gonioscopy = exam.external_exam.gonioscopy
              .row
                .col-md-12.text-center
                  Gonioscopy

              .row
                .col-md-6.text-center{:style => "background: url(/images/cross.png);background-repeat: no-repeat;background-position: center;"}
                  OD
                  .row 
                    .col-md-8.col-md-offset-2
                      = gonioscopy.od_inferior
                  .row 
                    .col-md-6.text-right
                      = gonioscopy.od_nasal
                    .col-md-6.text-left
                      = gonioscopy.od_temporal
                  .row
                    .col-md-8.col-md-offset-2 
                      = gonioscopy.od_superior
                  = gonioscopy.od_pigmentation
                .col-md-6.text-center{:style => "background: url(/images/cross.png);background-repeat: no-repeat;background-position: center;"}
                  OS
                  .row 
                    .col-md-8.col-md-offset-2
                      = gonioscopy.os_inferior
                  .row 
                    .col-md-6.text-right
                      = gonioscopy.os_nasal
                    .col-md-6.text-left
                      = gonioscopy.os_temporal
                  .row
                    .col-md-8.col-md-offset-2 
                      = gonioscopy.os_superior
                  = gonioscopy.os_pigmentation
                .col-md-12.text-center               
                  = "Notes: #{gonioscopy.notes}"
                .col-md-12
                  %label.string.optional.control-label.bold Visual Field:
                  =exam.external_exam.visual_field                  
%hr
.row
  .col-md-12
    %label
      %b Internal Exam
    - internal_exam = exam.internal_exam
  .col-md-12
    -if request.try(:format).try(:html?) || request.try(:format).try(:js?)
      - if params['fax'].present?
        .raphael_div
          = wicked_pdf_image_tag "/images/internal_image.jpg", :style => "height: 200px;width: 600px;", class: "img-responsive"
          .raphael_draw{id: "internal_eye_view_#{referral_form.id}"}
      - else
        .raphael_div
          = image_tag "/images/internal_image.jpg", :style => "height: 200px;width: 600px;", class: "img-responsive"
          .raphael_draw{id: "internal_eye_view_#{referral_form.id}"}
    -else
      .raphael_div
        = wicked_pdf_image_tag "/images/internal_image.jpg", :style => "height: 200px;width: 600px;", class: "img-responsive"
        .raphael_draw{id: "internal_eye_view_#{referral_form.id}"}
    .row
      .col-md-6
        %label.string.optional.control-label 
        %b OS/ CD
        %span
          = internal_exam.os
        %br
        %label.string.optional.control-label
        %b OD/ CD
        %span
          = internal_exam.od
        %br
        %label.string.optional.control-label
        %b Vessels
        %span
          = internal_exam.vessels
        %br
        %label.string.optional.control-label
        %b Macula
        %span
          = internal_exam.macula
        %br
        %label.string.optional.control-label
        %b Post Pole
        %span
          = internal_exam.post_pole
        %br
        %label.string.optional.control-label
        %b Periphery
        %span
          = internal_exam.periphery
        %br
        %label.string.optional.control-label
        %b Vitreous
        %span
          = internal_exam.vitreous
        %br
      .col-md-6
        - if internal_exam.dilation.present?
          %label.string.optional.control-label
          %b Dilation:
          %br
          .col-md-12
            %label.string.optional.control-label
            %b Drop Used:
            %span
              - if internal_exam.tropicomide
                1 gtt 1 % Tropicamide,
              -if internal_exam.phenylephrine
                1 gtt 2.5 % Phenylephrine,
              %br
              -if internal_exam.fundus
                &emsp; Dilated Fundus Exam,
              -if internal_exam.ophthalmoscopy
                Extended Ophthalmoscopy, was performed
          .col-md-12
            %label.string.optional.control-label
            %b Other:
            %span
              = internal_exam.dilation_text
          .col-md-12
            %label.string.optional.control-label 
            %b Instilled at
            %span
              = internal_exam.installed_at.strftime("%I:%M %P") 
          .col-md-12
            %label.string.optional.control-label
            %b OD
            %span
              = internal_exam.dilation_od
          .col-md-12
            %label.string.optional.control-label
            %b OS
            %span
              = internal_exam.dilation_os
        - else 
          Patient refuses dilated fundus examination after explanation of test


- if referral_form.procedure
  
  %hr
  - exam_procedures = exam.procedure_adjustments

  .row
    .col-md-12
      .row 
        .col-md-6
          %label
            %b Procedure:
        .col-md-4
          %label
            %b Code:
      - exam_procedures.each_with_index do |exam_procedure, index|
        .row
          .col-md-1
            = "#{index += 1}." 
          .col-md-5 
            = exam_procedure.name
          .col-md-4
            = exam_procedure.code
        %br

- if referral_form.impression
  %hr
  - exam_impressions = exam.exam_impressions
  .row
    .col-md-12
      .row
        .col-md-6
          %label
            %b Impression:
        .col-md-3
          %label
            %b Code:
        .col-md-3
          %label
            %b Plan:
      %br
      - exam_impressions.each_with_index do |exam_impression, index|
        .row
          .col-md-1
            = "#{index += 1}." 
          .col-md-3
            = exam_impression.try(:impression).try(:name)
          .col-md-2
            = exam_impression.eye
          .col-md-2
            = exam_impression.try(:impression).try(:code)
          .col-md-4
            = exam_impression.plan
        %br


-if exam.glasses_prescriptions.present?
  %hr 
  / Finalized Prescription
  .row
    .col-md-12  
      %h4.control-label Final Eyeglasses Prescription
      - exam.glasses_prescriptions.each do |glasses_prescription|
        - glass = glasses_prescription.glass
        .row
          %label.col-md-2
          %label.col-md-2
            %b SPHERE
          %label.col-md-3
            %b CYLINDER
          %label.col-md-2
            %b AXIS
          %label.col-md-3
            %b PRISM
        .row
          .col-md-2
            OD
          .col-md-2
            = glass.try(:od_sphere)
          .col-md-3
            = glass.try(:od_cylinder)
          .col-md-2
            = glass.try(:od_axis)
          .col-md-3
            = glass.try(:od_prism)
        .row
          .col-md-2
            OS
          .col-md-2
            = glass.try(:os_sphere)
          .col-md-3
            = glass.try(:os_cylinder)
          .col-md-2
            = glass.try(:os_axis)
          .col-md-3
            = glass.try(:os_prism)
        .row
          .col-md-2
            ADD
          .col-md-2
            = glass.try(:ou_add)
          .col-md-3
          .col-md-2
          .col-md-3
        - if  exam.exam_date.present? 
          .row
            .col-md-3
              Issued Date: 
            .col-md-3
              = exam.exam_date.strftime("%m/%d/%y")
            .col-md-3
              Expired Date:
            .col-md-3
              - exp_glas_date = exam.exam_date + 1.year
              = exp_glas_date.strftime("%m/%d/%y")
        - if  glasses_prescription.doctor_recommendations.present? 
          .row
            .col-md-3
              Recommendations: 
            .col-md-9
              = glasses_prescription.doctor_recommendations.map(&:name).join(', ')
        - if  glasses_prescription.comment.present? 
          .row
            .col-md-3
              Comment: 
            .col-md-9
              = glasses_prescription.comment


-if exam.lens_prescriptions.present?
  %hr
  .row
    .col-md-12
      %h4.control-label Final Contact Lens Prescription
      - exam.lens_prescriptions.each do |lens_prescription|
        - lens = lens_prescription.lens
        - od_lens_types =LensTypesPrice.find_by(id: lens.od_lens_types_price_id)
        - os_lens_types =LensTypesPrice.find_by(id: lens.os_lens_types_price_id)
        - od_type = od_lens_types.try(:lens_type)
        - os_type = os_lens_types.try(:lens_type)         
        .col-md-12  
          .row
            %label.col-md-1
            %label.col-md-3
              %b Type
            %label.col-md-1.text_padding_fix
              %b Sphere
            %label.col-md-2
              %b Cylinder
            %label.col-md-1
              %b Axis
            %label.col-md-1
              %b Add
            %label.col-md-2
              %b Base Curve
            %label.col-md-1
              %b Diameter
        .col-md-12
          .row
            .col-md-1
              OD
            .col-md-3
              = lens.od_type
            .col-md-1
              = lens.od_sphere
            .col-md-2
              = filter_lens_fields(od_type, 'cylinder') == "hidden" ? " " : lens.od_cylinder
            .col-md-1
              = filter_lens_fields(od_type, 'axis') == "hidden" ? " " : lens.od_axis
            .col-md-1
              = filter_lens_fields(od_type, 'add') == "hidden" ? " " : lens.od_add
            .col-md-2
              = lens.od_base_curve
            .col-md-1
              = lens.od_diameter
        .col-md-12
          .row
            .col-md-1
              OS
            .col-md-3
              = lens.os_type
            .col-md-1
              = lens.os_sphere
            .col-md-2
              = filter_lens_fields(os_type, 'cylinder') == "hidden" ? " " : lens.os_cylinder
            .col-md-1
              = filter_lens_fields(os_type, 'axis') == "hidden" ? " " : lens.os_axis
            .col-md-1
              = filter_lens_fields(os_type, 'add') == "hidden" ? " " : lens.os_add
            .col-md-2
              = lens.os_base_curve
            .col-md-1
              = lens.os_diameter
          %br
        .col-md-12
          - if exam.exam_date.present?  
            .row
              .col-md-2
                %b Issued Date: 
              .col-md-2
                = exam.exam_date.strftime("%m/%d/%y")
              .col-md-2
                %b Expired Date:
              .col-md-2
                - exp_date = exam.exam_date + 1.year
                = exp_date.strftime("%m/%d/%y")
          .row
            - if lens_prescription.cleaning_solution.present?
              .col-md-2
                %b Cleaning Solution
              .col-md-2
                = current_organisation.exam_cleaning_solution.find_by(id: lens_prescription.cleaning_solution).try(:name)
            - if lens_prescription.comment.present?  
              .col-md-2
                %b Notes
              .col-md-2
                = lens_prescription.comment
          .row
            .col-md-12
              Patient explanation of proper instruction and technique for cleaning, storing, insertion, and removal of the contact lens. Patient explanation of benefits and risk of contact lens use. 
            %br
%br
- if exam.medical_rxes.present?  
  %hr 
    .row.hr_exam_form
      .col-md-12  
        %h4.control-label.bold Medical Rx
        -exam.medical_rxes.each do |e_imp|
          .row
            .col-md-1
            .col-md-4
              %label.control-label.bold Name:
              %span.valuemark
                #{patient.try(:name)}
            .col-md-4
              %label.control-label.bold DOB
              %span.valuemark
                #{patient.try(:birthday)}
            .col-md-3
              %label.string.optional.control-label.bold Age:
              %span.valuemark
                #{patient.try(:age)}
          .row.delete_data
            .col-md-1
            .col-md-11
              .row
                .col-md-6
                  %label.control-label.bold Issue Date:
                  %span
                    = e_imp.issued_date.nil? ? "" : e_imp.issued_date.to_date
                .col-md-6
                  %label.control-label.bold Exp Date:
                  %span
                    = e_imp.expired_date.nil? ? "" : e_imp.expired_date.to_date

            .col-md-2
              = image_tag "/images/medical_rx.png",class: "img-responsive set_img_style " 
            .col-md-6
              - if e_imp.try(:medication).present? 
                .row.medi_dosage_margin
                  .col-md-12
                    = e_imp.medication.capitalize
              - if e_imp.try(:dosage).present?  
                .row
                  .col-md-12
                    %label.bold Sig:
                    = e_imp.dosage.capitalize
                    
          .row
            - if e_imp.try(:generic).present?  
              .col-md-3
                %label.bold Refills:
                = e_imp.try(:refill)
                %br
                = "Generic Ok" 
%div.col-md-offset-6
  - if exam.doctor.sign_image.present?
    - if request.try(:format).try(:html?) || request.try(:format).try(:js?)
      -if params['fax'].present?
        = wicked_pdf_image_tag exam.doctor.sign_image.url, class: "img-responsive"
      -else
        %img{:src => exam.doctor.sign_image.url, class: "img-responsive"}/
    -else 
      = wicked_pdf_image_tag exam.doctor.sign_image.url, class: "img-responsive"
  - else   
    .signature  
      = exam.doctor.try(:name)
  %br
  = exam.doctor.name.to_s
  %br
  - if exam.try(:doctor).try(:license_no).present?
    = " License Number " + exam.try(:doctor).try(:license_no)
%br

:javascript
  $('.spinner').hide();
  var referral_eye_function = #{exam.external_exam.try(:eye_draw_data).to_json}
  if (referral_eye_function){
    var eye2 = Raphael.sketchpad("eye_view", {
      height: 200,
      width: 600,
      editing: false // true is default
    }); 
    eye2.strokes(referral_eye_function);
  }

  var referral_corneal_function = #{exam.external_exam.corneal_disease.try(:draw_data).to_json}
  if (referral_corneal_function){
    var corneal_view = Raphael.sketchpad("corneal_view_#{referral_form.id}", {
      height: 120,
      width: 400,
      editing: false // true is default
    });
    corneal_view.strokes(referral_corneal_function); 
  }
  
  var referral_strokes_function = #{exam.internal_exam.try(:draw_data).to_json}
  if (referral_strokes_function){
    var internal_eye = Raphael.sketchpad("internal_eye_view_#{referral_form.id}", {
      height: 200,
      width: 600,
      editing: false // true is default
    }); 
    internal_eye.strokes(referral_strokes_function);
  }
  
  function printDiv(divName) 
  {
    var divToPrint = document.getElementById(divName).innerHTML;
    document.body.innerHTML = divToPrint;
    $(".ref_email_btn").hide();
    $(".print_ref_report").show();
    $(".view_print_btn").hide();
    $(".btn_ref_show_hide").removeClass("hide");
    $( ".print_ref_report" ).on( "click", function() {
      var current_url = window.location.href;
      window.location.assign(current_url);
      $(".view_print_btn").hide();
      $(".btn_ref_show_hide").hide();
      window.print();
    })
  }
  $(".print_ref_report").hide();


:css
  @font-face {
    font-family: signature;
    src: url(/signature.ttf);
  }
  .signature {
    font-family: signature;
    font-size: 40px;
  }
