%hr
#print_title{:style => "display: none"}
  .row
    .col-sm-12.text-center
      = @patient.name + ' DOB: ' + @patient.birthday.to_s + ' ' + @exam.exam_date.to_s + ' ' + @exam.store.try(:description) 
  %br
  %br
#print_overview_tab1
  .row
    .col-md-6
      %label
        %b
          = @patient.name
      %ul.list-inline
        - if @patient.email.present?
          %li{style: "margin-top: 7px"}
            %i.fa.fa-envelope
            = "#{@patient.email}"
        - if @patient.phone.present?  
          %li
            %i.fa.fa-comment
            = "#{number_to_phone(@patient.phone.to_s[2..-1].to_i, area_code: true)}"
        %br
        - if  @patient.birthday.present? 
          %li
            %i.fa.fa-calendar
            = "#{@patient.birthday} , AGE: #{@patient.try(:age)}"
        - if @patient.occupation.present?  
          %li
            %i.fa.fa-briefcase
            = "#{@patient.occupation}"
        - if @patient.class == Patient && @patient.employer.present?  
          %li
            %i.fa.fa-user
            = "#{@patient.employer}"
        
        - if @patient.vision_insurance.present?
          - if @patient.vision_insurance_name.present? && @patient.vision_insurance_code.present?  
            %li
              %i.fa.fa-eye
              = "#{@patient.vision_insurance_name + ' / ' + @patient.vision_insurance_code}"
          - else
            %li
              %i.fa.fa-eye
              = "#{@patient.vision_insurance_name}"
        %br
        - if @patient.try(:joint_resource).try(:home_address).present?
          %li
            - address = @patient.joint_resource.home_address
            %i.fa.fa-map-marker
            -if address.address1.present?
              - addr = address.address1
            -if address.city.present?
              -if addr.present?
                - addr = addr + ', ' + address.city
              -else
                - addr = address.city
            -if address.country_id.present? && address.state_id.present? 
              -if addr.present?
                - addr = addr + addr + "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name).nil? ? "" : ", #{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"}"
              -else
                - addr = "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"
            -if address.postal_code.present?
              -if addr.present?
                - addr = addr + ', ' + address.postal_code
              -else
                - addr = address.postal_code
            = addr
          %br
        %li
          %i.fa.fa-medkit
          Exam date:
          = "#{@exam.try(:exam_date)}"

    .col-md-6
      .row.data_off_address
        .col-md-2.store_descrip
          - if @exam.try(:doctor).try(:store).try(:logo).present?  
            %img.img-responsive{:src => @exam.try(:doctor).try(:store).try(:logo).url(:thumb)}/
          - else
            %img.img-responsive{:alt => "logo", :src => "/images/def_logo.jpg"}/
        .col-md-6
          %b
            = "#{@exam.try(:doctor).try(:store).try(:description)}"
          %br
          = "#{@exam.try(:doctor).try(:store).try(:office_address).try(:address1)}"
          = "#{@exam.try(:doctor).try(:store).try(:office_address).try(:address2)}"
          %br
          = "#{@exam.try(:doctor).try(:store).try(:office_address).try(:city)}, "
          = "#{@exam.try(:doctor).try(:store).try(:office_address).try(:state_id)}"
          = "#{@exam.try(:doctor).try(:store).try(:office_address).try(:postal_code)}"
          %br
          = "#{@exam.try(:doctor).try(:store).try(:contact_email)}"
          %br
          - if @exam.try(:doctor).try(:store).try(:phone_number).present?
            = "P: #{number_to_phone(@exam.doctor.store.phone_number.to_s[2..-1].to_i, area_code: true)}" 
            %br
          = "F: #{@exam.store.fax}"  if @exam.try(:store).fax.present?

%div
  %hr{:class => ("hidden" unless @referral_form.refer_to.present? || @referral_form.referral_reason.present? || @referral_form.message.present? || @referral_form.cc_to.present?)}
  - if @referral_form.refer_to.present?  
    .row
      .col-md-3
        %label.string.optional.control-label.bold Request to see:
      %span.valuemark
        #{@referral_form.refer_to}
  - if @referral_form.referral_reason.present?
    .row
      .col-md-3
        %label.string.optional.control-label.bold Referral Reason:
      %span.valuemark
        #{@referral_form.referral_reason}
  - if @referral_form.message.present?
    .row
      .col-md-3
        %label.string.optional.control-label.bold Message:
      %span.valuemark
        #{@referral_form.message}
  - if @referral_form.cc_to.present?
    .row
      .col-md-3
        %label.string.optional.control-label.bold CC to:
      %span.valuemark
        #{@referral_form.cc_to}
  - if @exam.chief_complain.present?
    .row
      .col-md-3
        %label
          %b Chief Complaint:
          - chief_complain = @exam.chief_complain
      = "#{chief_complain}"

  = render partial: "doctor/referrals/view", :locals => {referral_form: @referral_form, exam: @exam, patient: @patient}
%br
.modal-footer{:style => "border-top: none;"}
  %button.btn.btn-primary.hide_btn{"data-dismiss" => "modal", :type => "button"} Close
  = link_to "Print", '#', class: "btn btn-primary hide_btn", onclick: "printreferralform()"
  -if @patient.joint_resource.family_member_id.nil?  
    = link_to "<i class='fa fa-send '></i>&nbsp;Email".html_safe,referral_reports_path(id: @referral_form.id,:patient_id => @patient.id ,:email => :true), :remote => true,class: "btn btn-primary hide_btn",:"data-no-turbolink"=> "true"
  -else
    = link_to "<i class='fa fa-send'></i>&nbsp;Email".html_safe,referral_reports_path(id: @referral_form.id,:family_member_id => @patient.id ,:email => :true), :remote => true,class: "btn btn-primary hide_btn",:"data-no-turbolink"=> "true"

