.form-wizard
  .form-body
    %ul.nav.nav-pills.nav-justified.steps
      %li.active
        %a.step{"data-toggle" => "tab", :href => "#tab1"}
          %span.number
            1
          %span.desc
            %i.fa.fa-check
            Referral Check List
      %li
        %a.step{"data-toggle" => "tab", :href => "#tab2" , onclick: "$('#save-and-go-referral').trigger('click'); return false;"}
          %span.number
            2
          %span.desc
            %i.fa.fa-check
            Referral Detail
%hr
    
= simple_form_for @referral, url: @form_url, remote: true do |vis_f|
  = vis_f.input :examination_id, as: :hidden
  = hidden_field_tag :step, "two_request"

  .icheck_fixed_190
    .row
      .col-md-offset-1.col-md-5
        = vis_f.input_field :medical, "data-color" => "blue", "data-skin" => "line", "data-text" => "Medical History", :style => "-webkit-user-select: text;", class: "icheck-me"
      .col-md-offset-1.col-md-5
        = vis_f.input_field :social, "data-color" => "blue", "data-skin" => "line", "data-text" => "Social History", :style => "-webkit-user-select: text;", class: "icheck-me"
    %br
     
    .row
      .col-md-offset-1.col-md-5
        = vis_f.input_field :binocular, "data-color" => "blue", "data-skin" => "line", "data-text" => "Binoculer Testing", :style => "-webkit-user-select: text;", class: "icheck-me"
      .col-md-offset-1.col-md-5
        = vis_f.input_field :binocular, "data-color" => "blue", "data-skin" => "line", "data-text" => "Preliminaries", :style => "-webkit-user-select: text;", class: "icheck-me"
    %br
    .row
      .col-md-offset-1.col-md-5
        = vis_f.input_field :visual, "data-color" => "blue", "data-skin" => "line", "data-text" => "Visual Acuity", :style => "-webkit-user-select: text;", class: "icheck-me"
      .col-md-offset-1.col-md-5
        = vis_f.input_field :refraction, "data-color" => "blue", "data-skin" => "line", "data-text" => "Refraction", :style => "-webkit-user-select: text;", class: "icheck-me"
    %br
    .row
      .col-md-offset-1.col-md-5
        = vis_f.input_field :contact, "data-color" => "blue", "data-skin" => "line", "data-text" => "Contact Lens Exam", :style => "-webkit-user-select: text;", class: "icheck-me"
      .col-md-offset-1.col-md-5
        = vis_f.input_field :external, "data-color" => "blue", "data-skin" => "line", "data-text" => "External Exam", :style => "-webkit-user-select: text;", class: "icheck-me"
    %br
    .row
      .col-md-offset-1.col-md-5
        = vis_f.input_field :internal, "data-color" => "blue", "data-skin" => "line", "data-text" => "Internal Exam", :style => "-webkit-user-select: text;", class: "icheck-me"
      .col-md-offset-1.col-md-5
        = vis_f.input_field :procedure, "data-color" => "blue", "data-skin" => "line", "data-text" => "Procedures", :style => "-webkit-user-select: text;", class: "icheck-me"
    %br
    .row
      .col-md-offset-4.col-md-5
        = vis_f.input_field :impression, "data-color" => "blue", "data-skin" => "line", "data-text" => "Impression/Plan", :style => "-webkit-user-select: text;", class: "icheck-me"
  
 
  %br
  .modal-footer
    = button_tag "Next", name: "commit",value: "two_request", class: "btn btn-success", id: "save-and-go-referral"
    %br
    
:javascript
  $('.spinner').hide();  
  icheck();              