.pagination .previous_page {
  color: #999999;
  border: 1px solid #9aafe5;
}

.pagination .previous_page.disabled {
  color: #999999;
  border: 1px solid #dddddd;
}

.pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}

.pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}

.pagination .next_page {
  color: #999999;
  border: 1px solid #9aafe5;
}

.pagination .next_page.disabled {
  color: #999999;
  border: 1px solid #dddddd;
}

.ui-widget-header {
  background-color: white !important;
  border: 1px solid #9aafe5;
}