/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.dispense-log-text{
  margin-left: 2%; 
  line-height: 30px;
  display:block; 
  width:90%; 
  word-break:break-all;
  font-size:15px;
}
