@font-face {
	font-family: signature;
	src: url(/signature.ttf);
}
.sign_design {
	font-family: signature;
	font-size: 40px;
}
.refrac_table td {
	width: 13%;
}
.refrac_table {
	width:50%;
	display: inline-block;
	float: left;
}