/* favourite order Show page css ----------------------------start ------------------ */
  
  #renewed_order_checklist .container {
    max-width: 80%;
    margin: 0 auto;
    border-top: 5px solid #435757;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    user-select: none;
  }
  
  #renewed_order_checklist h1 {
    padding: 20px;
    background-color: rgba(255, 255, 255, .4);
    font-size: 1.8em;
    text-align: center;
  }
  
  #renewed_order_checklist .lens-items{
    display: flex;
    flex-direction: column;
    padding: 20px;
    counter-reset: done-items undone-items;
  }
  
  #renewed_order_checklist h2 {
    position: relative;
    margin: 0;
    padding: 10px 0;
    font-size: 1.2em;
  }
  
  #renewed_order_checklist h2::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -20px;
    width: 5px;
    background-color: #435757;
  }
  
  #renewed_order_checklist h2::after {
    display: block;
    float: right;
    font-weight: normal;
  }
  
  #renewed_order_checklist .done {
    order: 1;
  }
  
  /* #renewed_order_checklist .done::after {
      content: ' (' counter(done-items) ')';
    } */
  
  #renewed_order_checklist .undone {
    order: 3;
  }
  
  /* #renewed_order_checklist .undone::after {
      content: ' (' counter(undone-items) ')';
    } */
  
  /* hide inputs offscreen, but at the same vertical positions as the correpsonding labels, so that tabbing scrolls the viewport as expected */
  #renewed_order_checklist input.checkmark {
    display: block;
    height: 53px;
    margin: 0 0 -53px -9999px;
    order: 4;
    outline: none;
    counter-increment: undone-items;
  }
  
  #renewed_order_checklist input.checkmark:checked {
    order: 2;
    counter-increment: done-items;  
  }
  
  #renewed_order_checklist label.checkmark {
    display: block;
    position: relative;
    padding: 15px 0 15px 45px;
    border-top: 1px dashed #fff;
    order: 4;
    cursor: pointer;
    animation: undone .5s;
  }
  
  #renewed_order_checklist label.checkmark::before {
    content: '\f10c'; /* circle outline */
    display: block;
    position: absolute;
    top: 11px;
    left: 10px;
    font: 1.5em 'FontAwesome';
  }
  
  #renewed_order_checklist label.checkmark:hover, input.checkmark:focus + label.checkmark {
    background-color: rgba(255, 255, 255, .2);
  }
  
  #renewed_order_checklist input.checkmark:checked + label.checkmark {
    order: 2;
    animation: done .5s;
  }
  
  #renewed_order_checklist input.checkmark:checked + label.checkmark::before {
    content: '\f058'; /* circle checkmark */
  }
  
  @keyframes done {
    0% {
      opacity: 0;
      background-color: rgba(255, 255, 255, .4);
      transform: translateY(20px);
    }
    50% {
      opacity: 1;
      background-color: rgba(255, 255, 255, .4);
    }
  }
  
  @keyframes undone {
    0% {
      opacity: 0;
      background-color: rgba(255, 255, 255, .4);
      transform: translateY(-20px);
    }
    50% {
      opacity: 1;
      background-color: rgba(255, 255, 255, .4);
    }
  }
/* favourite order Show page css ---------------------------- end --------------------*/

  .label_view {
    display: block;
  }
  .favorder_cont {
    margin-top: 0px;
  }

  .page_bottom_gap {
    margin-bottom: 20px !important;
  }
  .bottom_gap {
    margin-bottom: -5%;
  }