.text_div {
    font-size:18px;
    margin-left: 52%;
    margin-bottom: -3%;
}
@font-face {
font-family: signature;
src: url(/signature.ttf);
}
.signature {
font-family: signature;
font-size: 40px;
}
.proc_name {
	margin-bottom: 10px;
}
.impr_col {
	padding: 5px;
}
.set_img_style {
	vertical-align :middle; 
	margin-top: 20px;
	height: 60px;
}
.medi_dosage_margin {
	margin-top: 30px;
}
.delete_btn_margin {
	margin-top: -5%;
}
.set_border_style {
	border: 1px solid #000 !important;
}
.print_opt_margin {
	margin-top: -8%;
}
.label_set {
	font-size: 18px;
	line-height: 18px;
	color: rgb(66, 66, 66);
}
.plus_square_set {
	margin-left: 6px;
	color: rgb(66, 66, 66);
}
.nct_col {
	margin-top: -3% !important;
}
.nct_toggle {
	-webkit-user-select: text;
	font-size: 20px !important;
}
.nct_cloned_row {
	margin-top: -5% !important;
}
.nct_inputs {
	margin-top: -29px !important;
	margin-left: 82px !important;
}
.nct_last {
	left: 27% !important;
}
.nct_row {
	margin-bottom: 2% !important; 
}
.div_centering {
	border-style: groove !important;
	text-align: center !important;
}
.color_picker_input {
	width: 70% !important;
	display: inline-block !important;
}
.fix_text{
  width: 65px !important;
}
.btn_bp_time {
margin-top: 14%;
}