/* order checklist page css ----------------------------start ------------------ */
  
  #checklist_modal .modal-body h2 {
    position: relative;
    margin: 0;
    background-color: rgba(255, 255, 255, .4);
    padding: 10px 0;
    font-size: 1.2em;
  }
  #checklist_modal .modal-body .lens_info {
    position: relative;
    padding-left: 10%;
    font-size: 1.2em;
    display: block;
  }
  
  #checklist_modal .modal-body h2::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -20px;
    width: 5px;
    background-color: #435757;
  }
  
  #checklist_modal .modal-body h2::after {
    display: block;
    float: right;
    font-weight: normal;
  } 

   
  #checklist_modal .modal-body .items{
    display: flex;
    flex-direction: column;
    padding: 20px;
    counter-reset: done-items undone-items;
  }
  
  #checklist_modal .modal-body .done {
    order: 1;
  }
  
  #checklist_modal .modal-body .done::after {
      content: ' (' counter(done-items) ')';
    }
  
  #checklist_modal .modal-body .undone {
    order: 3;
  }
  
  #checklist_modal .modal-body .undone::after {
      content: ' (' counter(undone-items) ')';
  }
  
  /* hide inputs offscreen, but at the same vertical positions as the correpsonding labels, so that tabbing scrolls the viewport as expected */
  #checklist_modal .modal-body input.checkmark.parent_item {                                       /* parent item */
    display: block;
    height: 53px;
    margin: 0 0 -53px -9999px;
    order: 4;
    outline: none;
    counter-increment: undone-items;
  }
   #checklist_modal .modal-body input.checkmark.subitem {                                       /* subitem */
    display: block;
    margin: 0 0 -53px -9999px;
    height: 53px;
    outline: none;
  }
  
  
  #checklist_modal .modal-body input.checkmark.parent_item:checked {                                /* parent item */
    order: 2;
    counter-increment: done-items;  
  }
  
  #checklist_modal .modal-body label.checkmark.parent_item {                                        /* parent item */
    display: block;
    position: relative;
    padding: 15px 0 15px 45px;
    border-top: 1px dashed #efefef;
    order: 4;
    cursor: pointer;
    animation: undone .5s;
  }
  #checklist_modal .modal-body label.checkmark.subitem {                                      /* subitem */
     padding-left: 20%;
     display: block;
     position: relative;
     border-top: 1px dashed #efefef;
     cursor: pointer;
  }
  
  #checklist_modal .modal-body label.checkmark.parent_item::before {                                   /* parent item */
    content: '\f10c'; /* circle outline */
    display: block;
    position: absolute;
    top: 11px;
    left: 10px;
    font: 1.5em 'FontAwesome';
  }
  #checklist_modal .modal-body label.checkmark.subitem::before {                            /* subitem */
    content: '\f10c'; /* circle outline */
    display: block;
    position: absolute;
    font: 1.5em 'FontAwesome';
    left: 15%;
  }
  
  #checklist_modal .modal-body label.checkmark.parent_item:hover, input.checkmark.parent_item:focus + label.checkmark.parent_item {             /* parent item */
    background-color: #eee;
  }
   #checklist_modal .modal-body label.checkmark.subitem:hover, input.checkmark.subitem:focus + label.checkmark.subitem {             /* sub item */
    background-color: #d6d6d6;
  }
  
  #checklist_modal .modal-body input.checkmark.parent_item:checked + label.checkmark.parent_item {                             /* parent item */
    order: 2;
    animation: done .5s;
  }
  
  #checklist_modal .modal-body input.checkmark.parent_item:checked + label.checkmark.parent_item::before {                     /* parent item */
    content: '\f058'; /* circle checkmark */
  }
  
  #checklist_modal .modal-body input.checkmark.subitem:checked + label.checkmark.subitem::before {                     /* sub item */
    content: '\f058'; /* circle checkmark */
  }
  
  @keyframes done {
    0% {
      opacity: 0;
      background-color: rgba(255, 255, 255, .4);
      transform: translateY(20px);
    }
    50% {
      opacity: 1;
      background-color: rgba(255, 255, 255, .4);
    }
  }
  
  @keyframes undone {
    0% {
      opacity: 0;
      background-color: rgba(255, 255, 255, .4);
      transform: translateY(-20px);
    }
    50% {
      opacity: 1;
      background-color: rgba(255, 255, 255, .4);
    }
  }
/* order checklist page css ----------------------------end--------------------- */
  .tabbable-custom > #tab_partial > .nav-tabs {
    border: none;
    margin: 0px;
  }
  .tabbable-custom > #tab_partial > .nav-tabs > li {
    /*margin-right: 2px;
    border-top: 2px solid transparent;*/
    background: white;
  }
  .tabbable-custom > #tab_partial > .nav-tabs > li > a {
    margin-right: 0;
    color: #424242;
    font-size: 15px;
    padding: 9px 15px;  
  }
  .tabbable-custom > #tab_partial > .nav-tabs > li.active{
    border-top: 3px solid #f3565d;
    margin-top: 0;
    position: relative;
  }
  .tabbable-custom > #tab_partial > .nav-tabs > li {
    background: white;
  }
  .tabbable-custom > #tab_partial > .nav-tabs > li > a:hover {
    border-top: 3px solid #84DACA;
    margin-top: 0;
    /*position: relative;*/
    background: white;
    /*border-color: transparent;*/
  }
  .tabbable-custom > #tab_partial > .nav-tabs > li.active > a:hover {
    border-top: none;
    background: #fff;
    border-color: #d4d4d4 #d4d4d4 transparent;
  }
  .tabbable-custom.tabbable-full-width .nav-tabs > li > a {
    color: #424242;
    font-size: 15px;
    padding: 9px 15px;
  }
  .tabbable-custom > .nav-tabs > li {
      background: white;
  }
  .last_exam_test a:hover {
    text-decoration: none;
  }