/*---CSS for doctor/setting_orders/_index.html.haml partial---start---*/

.lens_text {
margin-left: 8%;
}
.good_text {
right: 5%;
}
.material_text {
left: 10%;
}
.pay_text {
left: 8%;
}
.good_text1 {
left: 4%;
}
.good_text2 {
left: 12%;
}
.apply_grey {
background-color:#DEDEDE;
width: 24%;
}
.eyeglass_box {
overflow: hidden; 
position: relative; 
border: 0px; 
width: 100%;
}
.eyeglass_box1 {
box-sizing: content-box;
}
.eyeglass_box2 {
overflow: auto; 
height: 200px; 
width: 100%;
}

tr.grid_icon:hover > td > i{
  color: #428bca !important;
  display: block !important;
}

/*---CSS for doctor/setting_orders/_index.html.haml partial---end---*/

/*---CSS for /settings/_exam_form.html.haml---start---*/
.disease_box {
  overflow: auto; 
  height: 200px; 
  width: 100%;
}
.disease_datatable_head {
  overflow: hidden; 
  position: relative; 
  border: 0px; 
  width: 100%;
}
.disease_datatable_innerhead {
  box-sizing: content-box;
}
.disease_th {
  width: 15px;
}
/*---CSS for /settings/_exam_form.html.haml---end---*/