-family_member=family_member||@family_member
- if family_member.present?
  = simple_form_for family_member , :role =>"form", :class =>"profile_update" do|f|
    .col-md-12
      .col-md-6
        .form-group
          %label.control-label First Name
          = f.input :first_name,  label: false, class:"form-control"
      .col-md-6
        .form-group
          %label.control-label Last Name
          = f.input :last_name,  label: false, class:"form-control"
    .col-md-12
      .col-md-6
        .form-group
          %label.control-label Mobile Number
          = text_field_tag  "tel_input", family_member.phone, class:"form-control tel-input"
          = f.hidden_field :phone
      .col-md-6
        .form-group
          %label.control-label Birthday
          = f.input :birthday, :as => :date_picker, label: false, class:"form-control"
    .col-md-12
      .col-md-6
        .form-group
          %label.control-label Ethnicity
          = f.select(:ethnicity, options_for_select([['White', 'white'], ['Spanish / Latino', 'spanish_latino'],['Black / African American','black_african_american'],['Asian','asian'],['Other','other']]),{ :prompt => 'Select One'}, { class: "form-control"})
      .col-md-6  
        .form-group
          %label.control-label Occupation
          = f.input :occupation,  label: false, class:"form-control"
    .col-md-12
      .col-md-6
        .form-group
          %label.control-label Eye Color
          =f.input :eye_color, label: false, class:"form-control"
      .col-md-6
        .form-group
          %label.control-label SSN
          = f.input :ssn, label: false, class:"form-control"
    .col-md-12
      .col-md-6    
        .form-group
          %label.control-label Vision Insurance
          = f.input :vision_insurance_id,as: :select,collection: current_organisation.try(:vision_insurances), default: 1, :label => false,:label_method=> :name,:value_method=> :id, :wrapper => false, class:"form-control"
      .col-md-6
        .form-group
          %label.control-label Relation
          = f.select(:relation, options_for_select([['Brother', 'brother'], ['Sister', 'sister'],['Mother','mother'],['Father','father'],['Son','son'],['Daughter', 'daughter'], ['Grandfather', 'grandfather'],['Grandmother','grandmother'],['Wife','wife']]),{ :prompt => ''}, { class: "form-control"})
    .col-md-12
      .col-md-6
        .form-group
          %label.control-label Gender
          %br
          - gender_male =  (f.object.gender == "male")
          %div{style: "float: left;"}
            %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Male", :checked => gender_male, :name => "family_member[gender]", :type => "radio", :value => "male", width: 20}/
          - gender_female =  (f.object.gender == "female")
          %div{style: "float: left; padding-left: 10px;"}
            %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Female", :checked => gender_female, :name => "family_member[gender]", :type => "radio", :value => "female"}/
      .col-md-6
        .form-group
          %label.control-label Do you use contact lenses?
          %br
          - contact_lenses = (f.object.contact_lenses == true ? true : false)
          %div{style: "float: left;"}
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "family_member[contact_lenses]", :type => "radio", :value => "true", checked: contact_lenses}/
          -contact_lenses = (f.object.contact_lenses == false ? true : false)         
          %div{style: "float: left; padding-left: 10px;"}
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "family_member[contact_lenses]", :type => "radio", :value => "false", checked: contact_lenses}/
      
    .col-md-12
      .col-md-6  
        .form-group
          %label.control-label Are You Intrested In Contact Lenses?
          %br
          - interested_contact_lens = (f.object.interested_contact_lens == true ? true : false)
          %div{style: "float: left;"}
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "family_member[interested_contact_lens]", :type => "radio", :value => "true", checked: interested_contact_lens}/
          -interested_contact_lens = (f.object.interested_contact_lens == false ? true : false)         
          %div{style: "float: left; padding-left: 10px;"}
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "family_member[interested_contact_lens]", :type => "radio", :value => "false", checked: interested_contact_lens}/
      .col-md-6
        .form-group
          %label.control-label Pregnant?
          %br
          - pregnate = (f.object.pregnate == true ? true : false)
          %div{style: "float: left;"}
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "family_member[pregnate]", :type => "radio", :value => "true", checked: pregnate}/
          - pregnate = (f.object.pregnate == false ? true : false)            
          %div{style: "float: left; padding-left: 10px;"}
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "family_member[pregnate]", :type => "radio", :value => "false", checked: pregnate}/
    .col-md-12
      .col-md-6
        .form-group
          %label.control-label Breast Feeding?
          %br
          - breast_feeding = (f.object.breast_feeding == true ? true : false)
          %div{style: "float: left;"}
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "family_member[breast_feeding]", :type => "radio", :value => "true", checked: breast_feeding}/
          - breast_feeding = (f.object.breast_feeding == false ? true : false)            
          %div{style: "float: left; padding-left: 10px;"}
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "family_member[breast_feeding]", :type => "radio", :value => "false", checked: breast_feeding}/
      .col-md-6
        .form-group
          %label.control-label Tobacco Use
          %br
          - tobacco_use = (f.object.tobacco_use == true ? true : false)
          %div{style: "float: left;"}
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "family_member[tobacco_use]", :type => "radio", :value => "true", checked: tobacco_use}/
          - tobacco_use = (f.object.tobacco_use == false ? true : false)            
          %div{style: "float: left; padding-left: 10px;"}
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "family_member[tobacco_use]", :type => "radio", :value => "false", checked: tobacco_use}/      
    
    .col-md-12
      .col-md-6  
        .form-group  
          %label.control-label Alcohol Use
          %br
          - alcohol_use = (f.object.alcohol_use == true ? true : false)
          %div{style: "float: left;"}
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "family_member[alcohol_use]", :type => "radio", :value => "true", checked: alcohol_use}/
          - alcohol_use = (f.object.alcohol_use == false ? true : false)            
          %div{style: "float: left; padding-left: 10px;"}
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "family_member[alcohol_use]", :type => "radio", :value => "false", checked: alcohol_use}/
      .col-md-6
        .form-group
          %label.control-label In LASIK?
          %br
          - in_lasik = (f.object.in_lasik == true ? true : false)
          %div{style: "float: left;"}
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "family_member[in_lasik]", :type => "radio", :value => "true", checked: in_lasik}/
          - in_lasik = (f.object.in_lasik == false ? true : false)            
          %div{style: "float: left; padding-left: 10px;"}
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "family_member[in_lasik]", :type => "radio", :value => "false", checked: in_lasik}/
      
    .col-md-12
      .col-md-6
        .form-group
          %span.btn.default.btn-file
            %span.fileinput-new
              Select Profile
            %span.fileinput-exists
              Image
            =f.file_field :avatar

    .col-md-12
      .icheck_fixed_190.medical-history-section
        .row
          .col-md-6
            - {"pmhxes"=> "Patient Medical History", "fmhxes"=> "Family Medical History", "pohxes"=> "Patient Ocular History","medications" => "Medications"}.each do |medical_issue, value|

              = exam_simple_checkbox_add "#{medical_issue}_check", f, {checkbox_label: value} do         
                - if medical_issue == "fmhxes"
                  - if family_member.fmhxes.present?
                    - family_member.try(:fmhxes).group_by(&:relation).each do |key, fmhxes_sorted_by_relations|
                      - index = 1
                      .md-container
                        = f.simple_fields_for medical_issue, fmhxes_sorted_by_relations do |med|
                          .row
                            .col-md-offset-1.col-md-3
                              - if index == 1
                                = med.input :relation, collection:  MedicalHistory::Relation, input_html:  {rows: 3, class: 'relation_select'}, label: false, prompt: 'Select Relation'
                              -else
                                = med.input :relation, as: :hidden, input_html: {class: "relation_field"}
                            .col-md-5.child-toggler
                              = med.input :checked, label: false, as: :boolean, input_html: {:checked => !(med.object.new_record?), data: { 'toggle-element' => "##{medical_issue}_#{med.object.try(:disease).try(:key_name)}"}, toggle: '', :class => 'icheck-me checkbox-la', "data-color" => "blue", "data-skin" => "line", "data-text" => med.object.try(:disease).try(:name)}
                              
                            .col-md-3{ id: "#{medical_issue}_#{med.object.try(:disease).try(:key_name)}" }
                              = med.hidden_field :disease_id
                              = med.text_field :notes, placeholder: "Add Notes", class: "form-control"
                          - index = index+1
                        = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue), class: "family_disease_autocomplete_field form-control pull-right", "data-type"=> medical_issue, "data-patient-type-params" => "family_member", placeholder: "Add disease", style: "width: 61%;"
                        .clearfix
                        %br
                  .md-container
                    = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue), class: "add_new_family_disease_autocomplete_field form-control pull-right", "data-type"=> medical_issue, "data-patient-type-params" => "family_member", placeholder: "Add disease", style: "width: 90%"

                    .clearfix
                    %br

                - else
                  = f.simple_fields_for medical_issue do |med|
                    .row                                    
                      .col-md-offset-1.col-md-5.child-toggler 
                        = med.input :checked, label: false, as: :boolean, input_html: {:checked => !(med.object.new_record?), data: { 'toggle-element' => "##{medical_issue}_#{med.object.try(:disease).try(:key_name)}"}, toggle: '', :class => 'icheck-me checkbox-la', "data-color" => "blue", "data-skin" => "line", "data-text" => med.object.disease.try(:name)}
                      .col-md-6{ id: "#{medical_issue}_#{med.object.disease.try(:key_name)}" }
                        
                        = med.hidden_field :disease_id
                        = med.text_field :notes, placeholder: "Add Notes", class: "form-control"
                  = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue), class: "disease_autocomplete_field pull-right form-control", "data-type"=> medical_issue, "data-patient-type-params" => "family_member",  placeholder: "Add More", style: "width: 88%"
                  .clearfix
                  %br

          .col-md-6
            - {"fohxes"=> "Family Ocular History", "sxhxes"=>"Patient Surgical History", "allergies"=> "Allergy"}.each do |medical_issue, value|
              = exam_simple_checkbox_add "#{medical_issue}_check", f, {checkbox_label: value} do
                - if medical_issue == "fohxes"
                  - if family_member.fohxes.present?
                    - family_member.try(:fohxes).group_by(&:relation).each do |key, fohxes_sorted_by_relations|
                      - index = 1
                      .md-container
                        = f.simple_fields_for medical_issue, fohxes_sorted_by_relations do |med|
                          .row
                            .col-md-offset-1.col-md-3
                              - if index == 1
                                = med.input :relation, collection:  MedicalHistory::Relation, input_html:  {rows: 3, class: 'relation_select'}, label: false, prompt: 'Select Relation'
                              -else
                                = med.input :relation, as: :hidden, input_html: {class: "relation_field"}
                            .col-md-5.child-toggler
                              = med.input :checked, label: false, as: :boolean, input_html: {:checked => !(med.object.new_record?), data: { 'toggle-element' => "##{medical_issue}_#{med.object.try(:disease).try(:key_name)}"}, toggle: '', :class => 'icheck-me checkbox-la', "data-color" => "blue", "data-skin" => "line", "data-text" => med.object.try(:disease).try(:name)}
                              
                            .col-md-3{ id: "#{medical_issue}_#{med.object.try(:disease).try(:key_name)}" }
                              = med.hidden_field :disease_id
                              = med.text_field :notes, placeholder: "Add Notes", class: "form-control"
                          - index = index+1
                        = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue), class: "family_disease_autocomplete_field form-control pull-right", "data-type"=> medical_issue, "data-patient-type-params" => "family_member", placeholder: "Add disease", style: "width: 61%;"
                        .clearfix
                        %br
                  .md-container
                    = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue), class: "add_new_family_disease_autocomplete_field form-control pull-right", "data-type"=> medical_issue,"data-patient-type-params" => "family_member", placeholder: "Add disease", style: "width: 90%"

                    .clearfix
                    %br
                - else
                  = f.simple_fields_for medical_issue do |med|
                    .row
                      .col-md-offset-1.col-md-5.child-toggler
                        = med.input :checked, label: false, as: :boolean, input_html: { :checked => !(med.object.new_record?), data: { 'toggle-element' => "##{medical_issue}_#{med.object.disease.key_name}"} , toggle: '', :class => 'icheck-me checkbox-la', "data-color" => "blue", "data-skin" => "line", "data-text" => med.object.disease.name}
                      .col-md-6{ id: "#{medical_issue}_#{med.object.disease.key_name}" }
                        = med.hidden_field :disease_id
                        = med.text_field :notes, placeholder: "Add Notes", class: "form-control"
                  = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue), class: "disease_autocomplete_field pull-right form-control " , "data-type"=> medical_issue, "data-patient-type-params" => "family_member", placeholder: "Add More", style: "width: 88%"
                  .clearfix
                  %br  
                  
    .col-md-12
      = hidden_field_tag('patient_id', params[:patient_id])
      .pull-right
        - if current_doctor.present?
          = link_to "<i class='fa fa-history' ></i> &nbsp;Audits".html_safe, '#member_details_audits_modal', :class => "btn btn-md btn-default", "data-toggle" => "modal" 
        = f.submit "Save Changes", class: "btn green"
    .clearfix
-unless family_member.new_record?
  #member_details_audits_modal.modal.fade.modal-scrollable{"aria-hidden" => "true", "aria-labelledby" => "member-details-audits-modal-modalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:style => 'padding-top: 50px;'}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4#member_details_audits_modal-modalLabel.modal-title
            %i.fa.fa-history
            Details Audits
        .modal-body{:style => 'max-height: 500px !important;overflow-y: auto;'}
          = render :partial => "doctor/dashboards/audits",locals: {:object => family_member.prev_audits.map{|obj| obj.as_json}}
    }
#medical_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medical History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "medical"
                = hidden_field_tag "type","patient_medical"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
            

        .modal-footer            
          %button.btn.btn-sm.blue Save

#family_medical_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medical History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "medical"
                = hidden_field_tag "type","family_medical"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
            

        .modal-footer            
          %button.btn.btn-sm.blue Save
#oculus_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Ocular History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "oculus"
                = hidden_field_tag "type","patient_ocular_history"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer            
          / %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
          %button.btn.btn-sm.blue Save
#family_oculus_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Ocular History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "oculus"
                = hidden_field_tag "type","family_patient_ocular_history"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer            
          / %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
          %button.btn.btn-sm.blue Save

:javascript 
  telInput();
  diseaseAutocompleteField();
  familyDiseaseAutocompleteField();
  initializePlugins();
  icheck();
  disease_toggle();
  ComponentsPickers.init();