$('#family_member_edit_form').html("<%= escape_javascript(render partial: '/patient/family_members/family_member_form', family_member: @family_member) %>");
$('#family_member_edit_modal').modal();
$('.spinner').hide();
$(".date-picker").datepicker();