#portlet-config.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Modal title
      .modal-body
        Widget settings form goes here
      .modal-footer
        %button.btn.blue{:type => "button"} Save changes
        %button.btn.default{"data-dismiss" => "modal", :type => "button"} Close
      
    / END PAGE TITLE &amp; BREADCRUMB
.row.profile
  .col-md-12
    / BEGIN TABS
    .tabbable.tabbable-custom.tabbable-full-width
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab_1_1"}
            Overview
        %li
          %a{"data-toggle" => "tab", :href => "#tab_1_2"}
            Reports
            %span.badge.badge-success
              =@family_member.total_report_count
        %li
          %a{"data-toggle" => "tab", :href => "#tab_1_4"}
            Account

        -if current_doctor.present?
          %li
            %a{"data-toggle" => "tab", :href => "#attached_docs_tab_1_7"}
              Attached Docs
              %span.badge.badge-success#doc_count2
                /*--Below badge calculation is for all documents for Particular Family Member--*/
                - doc_count = 0 
                - @family_member.try(:examinations).each do |fam_exams|
                  - doc_count = doc_count + fam_exams.documents.count
                - doc_count = doc_count + @family_member.documents.count
                = doc_count

      .tab-content
        #tab_1_1.tab-pane.active
          .row
            .col-md-3
              %ul.list-unstyled.profile-nav
                %li
                  %img.img-responsive{:alt => "", :src => @family_member.avatar.present? ? @family_member.avatar.url : @family_member.gender == 'male' ? "/images/male.jpg" : "/images/female-icon1.jpg"}/
                -if current_doctor.present? 
                  -if current_doctor.role.include?("staff") || current_doctor.role.include?("administrator") || current_doctor.role.include?("super_administrator")
                    %li
                      %ul.dropdown.pull-right
                        %li#actionsliststyle.btn-group
                          %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                            Actions
                            %i.fa.fa-angle-down
                          %ul.dropdown-menu.pull-right
                            %li
                              - today_order = Order.where("Date(created_at) = ? and joint_resource_id = ?", Date.today,@family_member.joint_resource.id)
                              -if today_order.present?
                                %a{ :data => { "no-turbolink"=> "true" },:href => edit_order_path(today_order.first)}
                                  %i.fa.fa-shopping-cart
                                  Open Order
                              -else
                                - pending_appointment = @appointments.where("Date(start_time) = ? and status = 0 and joint_resource_id = ?",Date.today,@family_member.joint_resource.id)
                                -if pending_appointment.present?
                                  %a{"data-toggle"=> "modal", :href => "#order-modal"}
                                    %i.fa.fa-shopping-cart
                                    Create Order
                                -else
                                  %a{ :data => { "no-turbolink"=> "true"},:href => new_order_path(:id => @family_member.joint_resource.id ,:changecall => 'pending')}
                                    %i.fa.fa-shopping-cart
                                    Create Order
                %li
                  .col-md-12
                    .portlet.sale-summary
                      .portlet-title
                        
                      .portlet-body
                        %ul.list-unstyled
                          %li
                            %span.sale-info
                              Visits
                              %i.fa.fa-img-up
                            %span.sale-num
                              = @patient.sign_in_count
                          %li
                            %span.sale-info
                              Views
                              %i.fa.fa-img-down
                            %span.sale-num
                              = @patient.views_count
                          %li
                            %span.sale-info
                              Rewards
                            %span.sale-num
                              $
                              = @patient.reward_point.to_i
            .col-md-9
              
              .row{style: "min-height: 200px"}
                .col-md-8.profile-info
                  %h1
                    = @family_member.try(:name)
                    -if class_name(@patient) == "FamilyMember"
                      %br
                      %small
                        Family member of
                        =@patient.try(:joint_resource).try(:patient).try(:name)
                    %ul.list-inline
                      %li
                        -if @patient.try(:joint_resource).try(:home_address).present?
                          - address = @patient.joint_resource.home_address
                          %i.fa.fa-map-marker
                          -if address.address1.present?
                            - addr = address.address1
                          -if address.address2.present?
                            - if addr.present?
                              - addr = addr + ' Apt.# ' + address.address2
                            - else
                              - addr = ' Apt.# ' + address.address2
                          -if address.city.present?
                            -if addr.present?
                              - addr = addr + ', ' + address.city
                            -else
                              - addr = address.city
                          -if address.country_id.present? && address.state_id.present? 
                            -if addr.present?
                              - addr = addr + "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name).nil? ? "" : ", #{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"}"
                            -else
                              - addr = "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"
                          -if address.postal_code.present?
                            -if addr.present?
                              - addr = addr + ', ' + address.postal_code
                            -else
                              - addr = address.postal_code
                          = addr
                      - if  @family_member.birthday.present? 
                        %li
                          %i.fa.fa-calendar
                          = "#{@family_member.birthday} , AGE: #{@family_member.try(:age)}"
                      - if  @family_member.occupation.present? 
                        %li
                          %i.fa.fa-briefcase
                          = @family_member.occupation
                      - if @family_member.try(:joint_resource).try(:intrests).present? 
                        %li
                          %i.fa.fa-star
                          = "#{@family_member.joint_resource.intrests}"
                      - if @family_member.email.present? 
                        %li{style: "margin-top: 7px"} 
                          %i.fa.fa-envelope
                          = "#{@family_member.email}"
                      - if @family_member.phone.present?  
                        %li
                          %i.fa.fa-comment
                          = "#{number_to_phone(@family_member.phone.to_s[2..-1].to_i, area_code: true)}"  
              .tabbable.tabbable-custom.tabbable-custom-profile
                %ul.nav.nav-tabs
                  %li.active
                    %a{"data-toggle" => "tab", :href => "#tab_1_22"}
                      Exams
                      %span.badge.badge-success
                        =@exams.count
                  %li
                    %a{"data-toggle" => "tab", :href => "#tab_1_33"}
                      Orders
                      %span.badge.badge-success
                        =@orders.count
                  %li
                    %a{"data-toggle" => "tab", :href => "#tab_1_11"}
                      Appointments
                      %span.badge.badge-success
                        =@appointments.count
                  
                .tab-content
                  #tab_1_11.tab-pane
                    .scroller{"data-always-visible" => "1", "data-height" => "290px", "data-rail-visible1" => "1"}
                      .portlet-body
                        %table.table.table-striped.table-bordered.table-advance.table-hover
                          %thead
                            %tr
                              %th
                                %i.fa.fa-briefcase
                                Doctor
                              %th.hidden-xs
                                %i.fa.fa-question
                                Reason Of Visit
                              %th
                                %i.fa.fa-clock-o
                                Time
                              %th
                                %i.fa.fa-clock-o
                                Date
                              %th
                                %i.fa.fa-clock-o
                                Status
                              -if current_doctor.present?  
                                %th
                                  %i.fa.fa-bookmark
                                  Action
                          %tbody
                            - @appointments.each do |booking|
                              %tr
                                %td
                                  = booking.try(:doctor).try(:name)
                                %td.hidden-xs{style: "width: 35%;"} 
                                  = booking.try(:exam_procedures).map(&:name).present? ? booking.exam_procedures.map(&:name).join(", ").titleize : "N/A"
                                %td
                                  = booking.try(:start_time).try(:strftime, "%I:%M %p")
                                %td
                                  = booking.try(:start_time).try(:strftime, "%m-%d-%y")
                                %td
                                  - if booking.status == "no_show" && booking.examination.present? && booking.examination.status == "finalized"
                                    Finalized
                                  -elsif booking.deleted_at.nil?
                                    = booking.try(:status).try(:titleize)
                                  = "Canceled" unless booking.deleted_at.nil?
                                -if current_doctor.present?
                                  %td
                                    -if booking.deleted_at.nil?
                                      %ul.dropdown
                                        %li#actionsliststyle.btn-group
                                          %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                                            Actions
                                            %i.fa.fa-angle-down
                                          %ul.dropdown-menu.pull-right   
                                            - if booking.try(:examination).present?
                                              %li
                                                %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(booking.examination)+"?changecall=pending_exam" }
                                                  %i.fa.fa-edit
                                                  Open Exam
                                              -if booking.try(:joint_resource).try(:orders).present? && booking.try(:joint_resource).try(:orders).last.status.in?(['pending', 'unforder','ordered']) && (booking.try(:joint_resource).try(:order).try(:contact_lens_orders).present? or booking.try(:joint_resource).try(:order).try(:eye_glass_orders).present?)
                                                %li
                                                  %a{ :data => { "no-turbolink"=> "true" },:href => edit_order_path(booking.joint_resource.orders.last)+"?changecall=pending_order" ,:style => "-webkit-user-select: text;"}
                                                    %i.fa.fa-shopping-cart
                                                    Open Order
                                              - else
                                                %li
                                                  - today_order = Order.where("Date(created_at) = ? and joint_resource_id = ?", Date.today,booking.joint_resource.id)
                                                  -if today_order.present?
                                                    %a{ :data => { "no-turbolink"=> "true" },:href => edit_order_path(today_order.first)}
                                                      %i.fa.fa-shopping-cart
                                                      Open Order
                                                  -else
                                                    %a{ :data => { "no-turbolink"=> "true"},:href => new_order_for_exam_path(:examination_id => booking.examination.id,:id => booking.joint_resource.id,:changecall => 'pending')}
                                                      %i.fa.fa-shopping-cart
                                                      Create Order
                                            - else
                                              - ex_pro_id = current_organisation.exam_procedures.where(name: "Follow Up").first.id
                                              - follow_up_procedure = booking.try(:exam_procedures).where(id: ex_pro_id).present?
                                              - old_exam =@family_member.try(:joint_resource).try(:examinations).last
                                              - if follow_up_procedure && old_exam.present?
                                                %li
                                                  %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(old_exam)+"?changecall=pending_exam" }
                                                    %i.fa.fa-edit
                                                    Work on Exam from #{old_exam.updated_at.to_date}
                                              -else
                                                %li
                                                  %a{ :data => { "no-turbolink"=> "true"},:href=> new_examination_path(:id => booking.joint_resource.id ,:changecall => "pending", :booking_id => booking.id),:style => "-webkit-user-select: text;"}
                                                    %i.fa.fa-edit 
                                                    Create Exam
                                            %li
                                              %a{ :href => '#' ,:class => 'followups', :data => { :id => booking.joint_resource.id ,:name => booking.try(:joint_resource).try(:family_member).try(:name)}}
                                                %i.fa.fa-thumbs-o-up
                                                Follow up
                                                %span.badge.badge-success
                                                  = booking.try(:joint_resource).try(:follow_ups).count
                                            %li
                                              %a{ :data => { "no-turbolink"=> "true", method: :delete  , confirm: "Are you sure?" },:href => booking_path(id: booking.id,notification: true),:style => "-webkit-user-select: text;"}
                                                %i.fa.fa-remove
                                                Cancel
                        - unless @appointments.present?
                          .text-center{:colspan => 3}
                            %i.fa.fa-search
                            %em No appointments found
                    #followup-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "followup-modal-label",:role => "dialog", :tabindex => "-1"}
                      .modal-dialog.modal-lg
                        .modal-content
                          .modal-header
                            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
                            %h4#followup-modal-label.modal-title
                          .modal-body
                          .modal-footer
                            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close
                    #modalfollowupremove.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalfollowupremoveLabel", :role => "dialog", :tabindex => "-1"}
                      .modal-dialog
                        .modal-content
                          .modal-header
                            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
                            %h4#modalfollowupremoveLabel.modal-title Confirmation
                          .modal-body{:style => 'max-height: 100px;overflow-y: auto;'} 
                            %span
                              Are You sure you want to remove this log ?
                          .modal-footer.bg-warning
                            .row
                              .col-md-12.pull-right
                                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} No
                                %a{"data-method" => "delete", :href => "#",:id => "follow_up_remove_id",:class => "btn btn-success"} Yes
                  / tab-pane
                  #tab_1_22.tab-pane.active
                    .scroller{"data-always-visible" => "1", "data-height" => "290px", "data-rail-visible1" => "1"}
                      .portlet-body
                        %table.table.table-striped.table-bordered.table-advance.table-hover
                          %thead
                            %tr
                              %th
                                %i.fa.fa-briefcase
                                Doctor
                              %th.hidden-xs
                                %i.fa.fa-question
                                Reason Of Visit
                              %th
                                %i.fa.fa-clock-o
                                Exam Date
                              %th
                                %i.fa.fa-clock-o
                                Status
                              -if current_doctor.present?  
                                %th
                                  %i.fa.fa-bookmark
                                  Action 
                          %tbody
                            - @exams.sort_by(&:exam_date).reverse.each do |exam|
                              %tr
                                %td
                                  = exam.try(:doctor).try(:name)
                                %td.hidden-xs{style: "width: 35%;"}
                                  = exam.try(:procedure_adjustments).map(&:name).present? ? exam.procedure_adjustments.map(&:name).join(", ").titleize : "N/A"
                                %td
                                  = exam.try(:updated_at).try(:strftime, "%m-%d-%y")
                                %td
                                  %a.btn.default.btn-xs.blue-stripe{:href => "#"}
                                    = exam.try(:status)
                                -if current_doctor.present?
                                  %td
                                    %ul.dropdown
                                      %li#actionsliststyle.btn-group
                                        %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                                          Actions
                                          %i.fa.fa-angle-down
                                        %ul.dropdown-menu.pull-right
                                          %li
                                            %a{ :data => { "no-turbolink"=> "true" }, :href => edit_examination_path(exam)}
                                              %i.fa.fa-edit
                                              Open Exam
                        - unless @exams.present?
                          .text-center{:colspan => 3}
                            %i.fa.fa-search
                            %em No exams found 
                  / tab-pane
                  #tab_1_33.tab-pane
                    #tab_1_33_1.tab-pane.active
                      .scroller{"data-always-visible" => "1", "data-height" => "290px", "data-rail-visible1" => "1"}
                        .portlet-body
                          -if current_doctor.present?
                            .row
                              .col-md-12
                                = search_form_for @search, url: family_member_path(family_member_id: @family_member.id),:remote => true do |f|
                                  .form-group
                                    .col-md-3
                                      = f.search_field :id_eq, class: "form-control",placeholder: 'Order ID'
                                  .form-group
                                    .col-md-3
                                      = f.search_field :doctor_full_name_cont, class: "form-control",placeholder: 'Doctor Name'
                                  .form-group
                                    .col-md-3
                                      = f.search_field :order_date_eq, class: "form-control date_picker",placeholder: 'MM/DD/YYYY'
                                  .form-group
                                    .col-md-3
                                      = hidden_field_tag :family_member_id, @family_member.id
                                      =f.submit 'search', class: "btn btn-blue"
                          .row
                            .col-md-12
                              .clearfix
                          .row
                            .col-md-12#orders_tab
                              = render 'doctor/dashboards/dashboard_partial/orders_listing.html.haml'
                          - unless @orders.present?
                            .text-center{:colspan => 3}
                              %i.fa.fa-search
                              %em No orders found
                  #tab_1_44.tab-pane
                    #tab_1_44_1.tab-pane.active
                      .table-responsive
                        %table#recentorders.table.table-hover.table-condensed.table-bordered

        #tab_1_2.tab-pane.reports
          .row.profile-reports
            .col-md-3
              %ul.ver-inline-menu.tabbable.margin-bottom-10
                %li.active
                  %a{"data-toggle" => "tab", :href => "#referrals_reports_tab_3-1"}
                    %i.fa.fa-cog
                    Referrals
                %li
                  %a{"data-toggle" => "tab", :href => "#prescription_reports_tab_3-2"}
                    %i.fa.fa-picture-o
                    Prescription
                %li
                  %a{"data-toggle" => "tab", :href => "#invoices_reports_tab_3-3"}
                    %i.fa.fa-lock
                    Invoices
                    
            .col-md-9
              .tab-content
                #referrals_reports_tab_3-1.tab-pane.active
                  = render '/patient/dashboards/dashboard_tabs/referral_report'
                #prescription_reports_tab_3-2.tab-pane
                  = render '/patient/dashboards/dashboard_tabs/prescription_report'
                #invoices_reports_tab_3-3.tab-pane
                  = render '/patient/dashboards/dashboard_tabs/invoice_report'
                  
        #tab_1_4.tab-pane.account_and_family
          .row.profile-account
            .col-md-3
              %ul.ver-inline-menu.tabbable.margin-bottom-10
                %li.active
                  %a{"data-toggle" => "tab", :href => "#tab_1-1"}
                    %i.fa.fa-cog
                    Personal Info
                  %span.after
                %li
                  %a{"data-toggle" => "tab", :href => "#tab_1-2"}
                    %i.fa.fa-picture-o
                    Change Avatar
                %li
                  %a{"data-toggle" => "tab", :href => "#tab_1-3"}
                    %i.fa.fa-lock
                    Change Password
                %li
                  %a{"data-toggle" => "tab", :href => "#tab_1-4"}
                    %i.fa.fa-eye
                    Change Background
                %li
                  %a{"data-toggle" => "tab", :href => "#tab_1-6"}
                    %i.fa.fa-credit-card
                    Credit Card Details
                -if current_doctor.present? && (current_doctor.role & ["super_administrator", "administrator"]).any?
                  %li
                    %a{"data-toggle" => "tab", :href => "#tab_1-7"}
                      %i.fa.fa-trash
                      Delete Account
                %li
                  %a{"data-toggle" => "tab", :href => "#tab_1-8"}
                    %i.fa.fa-file-pdf-o
                    TOS
                    %span.badge.badge-success.pull-right
                      =current_organisation.try(:setting).try(:documents).all.count

            .col-md-9
              .tab-content
                #tab_1-2.tab-pane
                  %p
                    Change Profile Url Here
                  .form-group
                    .fileinput.fileinput-new{"data-provides" => "fileinput"}
                      .fileinput-new.thumbnail{:style => "width: 200px; height: 150px;"}
                        = image_tag(@family_member.try(:avatar).present? ? @family_member.avatar.try(:url) : @family_member.try(:gender) == 'male' ? "/images/male.jpg" : "/images/female-icon1.jpg", :id=>"profile_image", :style => "height: 100%;")
                      .fileinput-preview.fileinput-exists.thumbnail{:style => "max-width: 200px; max-height: 150px;"}
                      %div
                        %span.btn.default.btn-file
                          %span.fileinput-new
                            Select image
                          %span.fileinput-exists
                            Change
                          =file_field_tag "update_profile_avatar", onchange: "readURL(this);", name: "update_profile[avatar]"
                  .margin-top-10
                    = button_tag "Submit", class: "btn btn-info", id: "file_uploading", value: "family_member[avatar]", "data-href": family_member_path(@family_member.id)
                #tab_1-3.tab-pane
                  = form_for :edit_patient,  url: password_update_patients_path(patient_id: @patient.id), remote: true, html: { method: :put } do |f|
                    .form-group.col-md-12
                      %label.control-label.col-md-2
                        Current Password
                      .col-md-3
                        = f.password_field :current_password, autocomplete: "off",required: true, class: "form-control"
                    .form-group.col-md-12
                      %label.control-label.col-md-offset-2.col-md-10
                        = link_to "Forgot your password?", "#forgot_password", :"data-toggle"=> "modal"

                    .form-group.col-md-12
                      %label.control-label.col-md-2
                        New Password
                      .col-md-3
                        = f.password_field :password, autocomplete: "off",required: true, class: "form-control"
                    .form-group.col-md-12
                      %label.control-label.col-md-2
                        Verify Password
                      .col-md-3
                        = f.password_field :password_confirmation, autocomplete: "off",required: true, class: "form-control"

                    .form-group.col-md-12
                      .actions.col-md-offset-2.col-md-10
                        = f.submit "Save Changes", class: "btn btn-info"
                #tab_1-4.tab-pane
                  .col-md-6
                    = form_for :background, url: backgrounds_path(patient_id: @patient.id), remote: true, :authenticity_token => true, :html => {:multipart => true} do |form|
                      .form-group
                        .fileinput.fileinput-new{"data-provides" => "fileinput"}
                          .fileinput-new.thumbnail{:style => "width: 200px; height: 150px;"}
                            %img{:alt => "", :id=>"background_image", :src => @patient.bgurl, :style=>"height: 100%"}/
                          .fileinput-preview.fileinput-exists.thumbnail{:style => "max-width: 200px; max-height: 150px;"}
                          %div
                            %span.btn.default.btn-file
                              %span.fileinput-new
                                Select image
                              %span.fileinput-exists
                                Change
                              =form.file_field :avatar, onchange: "readUrlForBackground(this);"
                      .margin-top-10
                        = form.submit "Submit", class: "btn green"
                  .col-md-6
                    .portlet.box.red-sunglo
                      .portlet-title
                        .caption
                          %i.fa.fa-plus-square>
                          Click on Image To Change Your Background                   
                    .portlet-body
                      .scroller{"data-always-visible" => "1", "data-handle-color" => "red", "data-rail-color" => "blue", "data-rail-visible" => "1", :style => "height:200px"}
                        -@patient.backgrounds.each do |background_image|
                          =link_to background_update_patients_path(bg_id: background_image,patient_id: @patient.id) do
                            %img{:alt => "", :id=>"background_image", :src => background_image.avatar.url(:thumb), :style=>"padding: 2px"}/
                #tab_1-6.tab-pane
                  = render "/patient/dashboards/dashboard_partial/dropin_credit_cards"
                #tab_1-7.tab-pane
                  %h4 Do you want to permanently delete this account?
                  %br
                    =link_to("Yes", family_member_path(:id => @family_member.id) , :method => :delete,data: { confirm: 'Are you sure?' }, class: "btn btn-danger")
                    =link_to("No",'/', class: "btn btn-primary")
                #tab_1-8.tab-pane
                  = simple_form_for @patient, url: update_patient_patient_path(@patient.id), remote: true do |f|
                    %h3.block Terms of service
                    .row
                      .col-md-12
                        - current_organisation.try(:setting).try(:documents).all.each_with_index do |doc, index|
                          .col-md-6.title
                            = "#{index+1} #{doc.docs_file_name.truncate(60)}"
                          %iframe{:src=>"#{doc.present? ? doc.docs.url : '/Hippa.htm'}",id:"term_doc", :height=>"400px", :width => "100%"}

                    .form-group
                      .col-md-1
                        = f.input :accept_terms,label: false,:wrapper => false, type: :checkbox, :disabled => @patient.accept_terms
                        
                      %label.control-label.col-md-3
                        Accept terms and conditions
                        %span.required
                          *
                    %br
                    %hr
                    .row
                      .col-md-1
                      .col-md-2
                        %b
                          Date:
                      .col-md-1
                        - if @patient.sign_date.present?
                          = "#{@patient.sign_date}"
                        -else
                          = Date.today.to_s
                    %br
                    .row
                      .col-md-1
                      .col-md-2
                        %b
                          Name:
                      .col-md-2
                        = "#{@patient.name}"
                    %br
                    .row
                      .col-md-1
                      .col-md-2
                        %b
                          Signature:
                      .col-md-5
                        .signature
                          = "#{@patient.try(:name)}"
                      .col-md-6.margiv-top-10.btn_on_print
                        = f.submit "Submit", class: "btn btn-info"
                        = link_to "Print", '#', class: "btn btn-info", id: "print_page"
                           

                #tab_1-1.tab-pane.active
                  = simple_form_for @family_member , :role =>"form", :class =>"profile_update" do|f|
                    .form-group.col-md-12
                      %label.control-label.col-md-3
                        First name
                        %span.required
                          * 
                      .col-md-3
                        = f.input :first_name,label: false,:wrapper => false
                      %label.control-label.col-md-3
                        Last name
                        %span.required
                          *
                      .col-md-3
                        = f.input :last_name,label: false,:wrapper => false
                    .form-group.col-md-12
                      %label.control-label.col-md-3
                        Phone
                      .col-md-3
                        = text_field_tag  "tel_input", @family_member.phone, class:"tel-input form-control" 
                        = f.hidden_field :phone
                      %label.control-label.col-md-3
                        Email
                        %span.required
                          *
                      .col-md-3
                        = text_field_tag  "tel_mail", @patient.email, class:"form-control", placeholder: "eg: @gmail" ,:readonly => true
                    .form-group.col-md-12
                      %label.control-label.col-md-3
                        Birthday
                        %span.required
                          *
                      .col-md-3    
                        = f.input :birthday, :as => :date_picker, label: false
                      %label.control-label.col-md-3
                        Gender
                        %span.required
                          *
                      .col-md-3
                        - gender_male =  (f.object.gender == "male")
                        %div{style: "float: left;"}
                          %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Male", :checked => gender_male, :name => "family_member[gender]", :type => "radio", :value => "male", width: 20}/
                        - gender_female =  (f.object.gender == "female")
                        %div{style: "float: left; padding-left: 10px;"}
                          %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Female", :checked => gender_female, :name => "family_member[gender]", :type => "radio", :value => "female"}/
                    .form-group.col-md-12
                      %label.control-label.col-md-3
                        Ethnicity
                      .col-md-3
                        = f.select(:ethnicity, options_for_select([['White', 'white'], ['Spanish / Latino', 'spanish_latino'],['Black / African American','black_african_american'],['Asian','asian'],['Other','other']], @family_member.ethnicity),{ :prompt => 'Select One'}, { class: "form-control"})
                      %label.control-label.col-md-3
                        Eye Color
                      .col-md-3
                        = f.select(:eye_color, options_for_select([['Blue', 'blue'], ['Green', 'green'],['Hazel','hazel'],['Light Brown','light_brown'],['Dark Brown','dark_brown']],@family_member.eye_color),{ :prompt => 'Select One'},{ class: "form-control"})
                    -if current_doctor.present?
                      .form-group.col-md-12
                        %label.control-label.col-md-3
                          Occupation
                        .col-md-3
                          = f.input :occupation,  label: false
                        %label.control-label.col-md-3 
                          SSN
                        .col-md-3
                          = f.input :ssn, label: false, class:"form-control"
                      .form-group.col-md-12
                        %label.control-label.col-md-3
                          Vision Insurance
                          %span.required
                            *
                        .col-md-3
                          = f.input :vision_insurance_id,as: :select,collection: current_organisation.try(:vision_insurances), default: 1, :label => false,:label_method=> :name,:value_method=> :id, :wrapper => false, class:"form-control"
                        %label.control-label.col-md-3
                          Relation
                        .col-md-3
                          = f.select(:relation, options_for_select([['Brother', 'brother'], ['Sister', 'sister'],['Mother','mother'],['Father','father'],['Son','son'],['Daughter', 'daughter'], ['Grandfather', 'grandfather'],['Grandmother','grandmother'],['Wife','wife']],@family_member.relation),{ :prompt => ''}, { class: "form-control"})
                    -else
                      .form-group.col-md-12
                        %label.control-label.col-md-3
                          Occupation
                        .col-md-3
                          = f.input :occupation,  label: false
                        %label.control-label.col-md-3 
                          Vision Insurance
                        .col-md-3
                          = f.input :vision_insurance_id,as: :select,collection: current_organisation.try(:vision_insurances), default: 1, :label => false,:label_method=> :name,:value_method=> :id, :wrapper => false, class:"form-control"
                      .form-group.col-md-12
                        %label.control-label.col-md-3
                          Relation
                        .col-md-3
                          = f.select(:relation, options_for_select([['Brother', 'brother'], ['Sister', 'sister'],['Mother','mother'],['Father','father'],['Son','son'],['Daughter', 'daughter'], ['Grandfather', 'grandfather'],['Grandmother','grandmother'],['Wife','wife']],@family_member.relation),{ :prompt => ''}, { class: "form-control"})

                    .form-group.col-md-12
                      .col-md-6{style: "border-right: 1px solid #ccc;"}
                        %h4 Home Address
                        = simple_fields_for :home_address,(@patient.home_address.present? ? @patient.home_address : @patient.build_home_address) do |home_addr_f|
                      
                          .form-group.col-sm-12
                            %label.control-label Address
                            = home_addr_f.text_field :address1, class:"form-control"
                          .form-group.col-sm-12
                            %label.control-label Apt. Number
                            = home_addr_f.text_field :address2, class:"form-control"
                          .form-group.col-sm-6
                            %label.control-label Country
                            = home_addr_f.country_select :country_id,  {priority: %w(US CA)}, class: 'form-control country_select', :"data-target"=> "#home_address_state"
                          .form-group.col-sm-6
                            %label.control-label State
                            #home_address_state
                              - country_code  = home_addr_f.object.country_id.present? ? home_addr_f.object.country_id : "US"
                              - if Carmen::Country.coded(country_code).try(:subregions).present?
                                = home_addr_f.subregion_select(:state_id, country_code , {}, { :class => 'form-control' } )
                          .form-group.col-sm-6
                            %label.control-label City
                            = home_addr_f.text_field :city, class:"form-control"
                          .form-group.col-sm-6
                            %label.control-label Pin Code
                            = home_addr_f.text_field :postal_code, class:"form-control"
                            = home_addr_f.hidden_field :addr_type, class:"form-control", :value => "home"
                      .col-md-6
                        %h4 Office Address
                        = simple_fields_for :office_address,(@patient.office_address.present? ? @patient.office_address : @patient.build_office_address) do |office_addr_f|
                        
                          .form-group.col-sm-12
                            %label.control-label Address
                            = office_addr_f.text_field :address1, class:"form-control"
                          .form-group.col-sm-6
                            %label.control-label Country
                            = office_addr_f.country_select :country_id, {priority: %w(US CA)}, class: 'form-control country_select', :"data-target"=> "#office_address_state"
                          
                          .form-group.col-sm-6
                            %label.control-label State
                            #office_address_state
                              - country_code  = office_addr_f.try(:object).try(:country_id).present? ? office_addr_f.object.country_id : "US"
                              - if Carmen::Country.coded(country_code).try(:subregions).present?
                                = office_addr_f.subregion_select(:state_id, country_code, {}, { :class => 'form-control' } )
                          .form-group.col-sm-6
                            %label.control-label City
                            = office_addr_f.text_field :city, class:"form-control"
                          .form-group.col-sm-6
                            %label.control-label Pin Code
                            = office_addr_f.text_field :postal_code, class:"form-control"
                            = office_addr_f.hidden_field :addr_type, class:"form-control", :value => "office"
                    .form-group.col-md-12  
                      .icheck_fixed_190.medical-history-section
                        .col-md-12
                          .row
                            .col-md-6
                              - {"pmhxes"=> "Patient Medical History", "fmhxes"=> "Family Medical History", "pohxes"=> "Patient Ocular History","medications" => "Medications"}.each do |medical_issue, value|

                                = exam_simple_checkbox_add "#{medical_issue}_check", f, {checkbox_label: value} do         
                                  - if medical_issue == "fmhxes"
                                    - if @family_member.fmhxes.present?
                                      - @family_member.try(:fmhxes).group_by(&:relation).each do |key, fmhxes_sorted_by_relations|
                                        - index = 1
                                        .md-container
                                          = f.simple_fields_for medical_issue, fmhxes_sorted_by_relations do |med|
                                            .row
                                              .col-md-offset-1.col-md-3
                                                - if index == 1
                                                  = med.input :relation, collection:  MedicalHistory::Relation, input_html:  {rows: 3, class: 'relation_select'}, label: false, prompt: 'Select Relation'
                                                -else
                                                  = med.input :relation, as: :hidden, input_html: {class: "relation_field"}
                                              .col-md-5.child-toggler
                                                = med.input :checked, label: false, as: :boolean, input_html: {:checked => !(med.object.new_record?), data: { 'toggle-element' => "##{medical_issue}_#{med.object.try(:disease).try(:key_name)}"}, toggle: '', :class => 'icheck-me checkbox-la', "data-color" => "blue", "data-skin" => "line", "data-text" => med.object.try(:disease).try(:name)}
                                                
                                              .col-md-3{ id: "#{medical_issue}_#{med.object.try(:disease).try(:key_name)}" }
                                                = med.hidden_field :disease_id
                                                = med.text_field :notes, placeholder: "Add Notes", class: "form-control"
                                            - index = index+1
                                          = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue), class: "family_disease_autocomplete_field form-control pull-right", "data-type"=> medical_issue, "data-patient-type-params" => "family_member", placeholder: "Add disease", style: "width: 61%;"
                                          .clearfix
                                          %br
                                    .md-container
                                      = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue), class: "add_new_family_disease_autocomplete_field form-control pull-right", "data-type"=> medical_issue, "data-patient-type-params" => "family_member", placeholder: "Add disease", style: "width: 90%"

                                      .clearfix
                                      %br

                                  - else
                                    = f.simple_fields_for medical_issue do |med|
                                      .row                                    
                                        .col-md-offset-1.col-md-5.child-toggler 
                                          = med.input :checked, label: false, as: :boolean, input_html: {:checked => !(med.object.new_record?), data: { 'toggle-element' => "##{medical_issue}_#{med.object.try(:disease).try(:key_name)}"}, toggle: '', :class => 'icheck-me checkbox-la', "data-color" => "blue", "data-skin" => "line", "data-text" => med.object.disease.try(:name)}
                                        .col-md-6{ id: "#{medical_issue}_#{med.object.disease.try(:key_name)}" }
                                          
                                          = med.hidden_field :disease_id
                                          = med.text_field :notes, placeholder: "Add Notes", class: "form-control"
                                    = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue), class: "disease_autocomplete_field pull-right form-control", "data-type"=> medical_issue, "data-patient-type-params" => "family_member",  placeholder: "Add More", style: "width: 88%"
                                    .clearfix
                                    %br

                            .col-md-6
                              - {"fohxes"=> "Family Ocular History", "sxhxes"=>"Patient Surgical History", "allergies"=> "Allergy"}.each do |medical_issue, value|
                                = exam_simple_checkbox_add "#{medical_issue}_check", f, {checkbox_label: value} do
                                  - if medical_issue == "fohxes"
                                    - if @family_member.fohxes.present?
                                      - @family_member.try(:fohxes).group_by(&:relation).each do |key, fohxes_sorted_by_relations|
                                        - index = 1
                                        .md-container
                                          = f.simple_fields_for medical_issue, fohxes_sorted_by_relations do |med|
                                            .row
                                              .col-md-offset-1.col-md-3
                                                - if index == 1
                                                  = med.input :relation, collection:  MedicalHistory::Relation, input_html:  {rows: 3, class: 'relation_select'}, label: false, prompt: 'Select Relation'
                                                -else
                                                  = med.input :relation, as: :hidden, input_html: {class: "relation_field"}
                                              .col-md-5.child-toggler
                                                = med.input :checked, label: false, as: :boolean, input_html: {:checked => !(med.object.new_record?), data: { 'toggle-element' => "##{medical_issue}_#{med.object.try(:disease).try(:key_name)}"}, toggle: '', :class => 'icheck-me checkbox-la', "data-color" => "blue", "data-skin" => "line", "data-text" => med.object.try(:disease).try(:name)}
                                                
                                              .col-md-3{ id: "#{medical_issue}_#{med.object.try(:disease).try(:key_name)}" }
                                                = med.hidden_field :disease_id
                                                = med.text_field :notes, placeholder: "Add Notes", class: "form-control"
                                            - index = index+1
                                          = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue), class: "family_disease_autocomplete_field form-control pull-right", "data-type"=> medical_issue, "data-patient-type-params" => "family_member", placeholder: "Add disease", style: "width: 61%;"
                                          .clearfix
                                          %br
                                    .md-container
                                      = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue), class: "add_new_family_disease_autocomplete_field form-control pull-right", "data-type"=> medical_issue,"data-patient-type-params" => "family_member", placeholder: "Add disease", style: "width: 90%"

                                      .clearfix
                                      %br
                                  - else
                                    = f.simple_fields_for medical_issue do |med|
                                      .row
                                        .col-md-offset-1.col-md-5.child-toggler
                                          = med.input :checked, label: false, as: :boolean, input_html: { :checked => !(med.object.new_record?), data: { 'toggle-element' => "##{medical_issue}_#{med.object.disease.key_name}"} , toggle: '', :class => 'icheck-me checkbox-la', "data-color" => "blue", "data-skin" => "line", "data-text" => med.object.disease.name}
                                        .col-md-6{ id: "#{medical_issue}_#{med.object.disease.key_name}" }
                                          = med.hidden_field :disease_id
                                          = med.text_field :notes, placeholder: "Add Notes", class: "form-control"
                                    = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue), class: "disease_autocomplete_field pull-right form-control " , "data-type"=> medical_issue, "data-patient-type-params" => "family_member", placeholder: "Add More", style: "width: 88%"
                                    .clearfix
                                    %br  
                    .col-md-12
                      = hidden_field_tag('patient_id', params[:patient_id])
                      = f.submit "Save Changes", class: "btn btn-info"
                      - if current_doctor.present?
                        = link_to "<i class='fa fa-history' ></i> &nbsp;Audits".html_safe, '#member_details_audits_modal', :class => "btn btn-md btn-default", "data-toggle" => "modal" 
                    .col-md-12
                      %br  

        #attached_docs_tab_1_7.tab-pane.attached_doc
          .portlet.box
            .portlet-title.hex_424242
              .caption
                %i.fa.fa-plus-square>
                Upload a file
            .portlet-body
              = simple_form_for :document, :remote => true, url:  upload_file_family_member_path(@family_member.id) do |f|
                .row
                  .col-md-5
                    = f.file_field "attached_file3", name: "family_member[attached_file]"
                  .col-md-2
                    = link_to "<button id=\"exam_form_img_upload\" class=\"btn btn-success btn-xm\" type=\"button\">Upload</button>".html_safe, "#", class: "attached-doc-btn3 btn-left", :"data-value"=> "attached_docs", :"data-href"=> upload_file_family_member_path(@family_member.id), :"data-page"=> "attached_docs_page",:"data-no-turbolink"=> "true"
                  #progress-div
                    #progress-bar
                  #targetLayer

          .portlet.box  
            .portlet-title.hex_424242
              .caption
                %i.fa.fa-plus-square>
                Uploaded Documents
            .portlet-body      
              .row
                -if doc_count == 0
                  .row#image_div
                    .no_attach.text-center{:colspan => 3}
                      %i.fa.fa-search
                      %em No attached documents found 
                -else
                  .row#image_div
                    -if @family_member.documents.present?
                      - @family_member.documents.each do |doc|
                        -if (doc.docs_content_type =~ %r(image) || doc.docs_content_type == 'application/pdf')
                          .col-md-2 
                            = link_to "<img src= #{doc.docs.url(:thumb)} >".html_safe, download_file_family_members_path("doc_id" => doc.id),:"data-no-turbolink"=> "true"
                            %br
                            = doc.docs_file_name.truncate(20)
                            = link_to 'x', delete_file_family_members_path("doc_id" => doc.id), :class => 'image_delete',:remote => true,:"data-no-turbolink"=> "true", onclick: "remove_doc(this);"
                        -else
                          .col-md-2
                            = link_to "<img src=\"/images/word_icon1.png\">".html_safe, download_file_family_members_path("doc_id" => doc.id),:"data-no-turbolink"=> "true"
                            %br
                            = doc.docs_file_name.truncate(20)
                            = link_to 'x', delete_file_family_members_path("doc_id" => doc.id), :class => 'image_delete',:remote => true,:"data-no-turbolink"=> "true", onclick: "remove_doc(this);"
                  .row
                    - @family_member.examinations.each do |sds|
                      -sds.documents.each do |doc|
                        -if (doc.docs_content_type =~ %r(image) || doc.docs_content_type == 'application/pdf')
                          .col-md-2
                            = link_to "<img src= #{doc.docs.url(:thumb)}>".html_safe, download_file_examinations_path("doc_id" => doc.id),:"data-no-turbolink"=> "true"
                            %br
                            = doc.docs_file_name.truncate(20)
                            = link_to "View Exam".html_safe,edit_examination_path(doc.examination)
                        -else
                          .col-md-2
                            = link_to "<img src=\"/images/word_icon1.png\">".html_safe, download_file_examinations_path("doc_id" => doc.id),:"data-no-turbolink"=> "true"
                            %br
                            = doc.docs_file_name.truncate(20)
                            = link_to "View Exam".html_safe,edit_examination_path(doc.examination)


            
#member_details_audits_modal.modal.fade.modal-scrollable{"aria-hidden" => "true", "aria-labelledby" => "member-details-audits-modal-modalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:style => 'padding-top: 50px;'}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#member_details_audits_modal-modalLabel.modal-title
          %i.fa.fa-history
            Details Audits
      .modal-body{:style => 'max-height: 500px !important;overflow-y: auto;'}
        = render :partial => "doctor/dashboards/audits",locals: {:object => @family_member.prev_audits.map{|obj| obj.as_json}}

#medical_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medical History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "medical"
                = hidden_field_tag "type","patient_medical"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
            

        .modal-footer            
          %button.btn.btn-sm.blue Save

#family_medical_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medical History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "medical"
                = hidden_field_tag "type","family_medical"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
            

        .modal-footer            
          %button.btn.btn-sm.blue Save
#oculus_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Ocular History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "oculus"
                = hidden_field_tag "type","patient_ocular_history"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer            
          %button.btn.btn-sm.blue Save
#family_oculus_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Ocular History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "oculus"
                = hidden_field_tag "type","family_patient_ocular_history"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer            
          %button.btn.btn-sm.blue Save
:css
  #progress-bar {
    background-color: #12CC1A;
    height:20px;
    color: #FFFFFF;
    width:0%;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    transition: width .3s;
  }
  #progress-div {
    border:#0FA015 1px solid;
    border-radius:4px;
    text-align:center;
    margin-top: 5%;
    width: 50%;
    margin-left: 1%;
  }
  #targetLayer{
    width:100%;
    text-align:center;
  }

:javascript 
  Metronic.init();
  ComponentsPickers.init();
  telInput();
  diseaseAutocompleteField();
  familyDiseaseAutocompleteField();
  initializePlugins();
  icheck();
  disease_toggle();

  $("#q_order_date_eq").datepicker({
    format: "mm/dd/yyyy"
  });

  $(document).on('click','.save_follow_up',function(){
    var myform = $('#new_follow_up').serialize();
    var patient_id = $(this).data('id');
    var patient_name  = $(this).data('name');
    $.ajax({ 
           type: "POST",
           url: "/follow_ups",
           data: myform,
           dataType: "JSON"
           }).success(function(data){
             var element;
             $('.followups').each(function(){ if($(this).data('id')== patient_id ){ element=$(this) } });
             if( typeof element != "undefined" ) { element.trigger('click');}
          }).error(function(data){
             $('#error_explanation').html(data.responseJSON.error);
             $('#error_explanation').show();
             return false;
          });
  });

  $(document).on('click','.followups',function(){
    var jr_id = $(this).data('id');
    var patient_name  = $(this).data('name');
    $.ajax({ 
           type: "GET",
           url: "/follow_ups",
           data: 'id='+jr_id,
           dataType: "JSON",
           async: false
           }).success(function(data){
               $('#followup-modal').find('.modal-header').html("<h3><i class='fa fa-user'></i>&nbsp;&nbsp;"+patient_name+"&nbsp;Follow up Log</h3>");
               $('#followup-modal').find('.modal-body').html(data.html);
               $('#followup-modal').find('.modal-footer').html("<a class='btn btn-default' data-dismiss='modal'>Close</a> <a href=# data-id="+jr_id+" data-name="+patient_name+" class='add_new_follow_up btn btn-primary'>Add New</a>");
               $('#followup-modal').modal('show');
          });
  });

  $(document).on('click','.add_new_follow_up',function(){
    var patient_id = $(this).data('id');
    var patient_name  = $(this).data('name');
    $.ajax({ 
           type: "GET",
           url: "/follow_ups/new",
           data: 'id='+patient_id,
           dataType: "JSON",
           async: true
           }).success(function(data){
              if(data.status == "Error"){
                $('#followup-modal').modal('hide');
                jQuery.gritter.add({ title: data.status, text: data.msg });
              }
              else{ 
                $('#followup-modal').find('.modal-header').html("<h3><i class='fa fa-user'></i>&nbsp;&nbsp;"+patient_name+"&nbsp;Follow up Log</h3>");
                $('#followup-modal').find('.modal-body').html(data.html);
                $('#followup-modal').find('.modal-footer').html("<a class='btn btn-default' data-dismiss='modal'>Close</a> <a href=# data-id="+patient_id+" data-name="+patient_name+" class='save_follow_up btn btn-primary'>Save</a>");
                $('#followup-modal').modal('show');
              }
          });
  });

  $(document).on('click','.save_follow_up',function(){
    var myform = $('#new_follow_up').serialize();
    var patient_id = $(this).data('id');
    var patient_name  = $(this).data('name');
    $.ajax({ 
           type: "POST",
           url: "/follow_ups",
           data: myform,
           dataType: "JSON"
           }).success(function(data){
             var element;
             $('.followups').each(function(){ if($(this).data('id')== patient_id ){ element=$(this) } });
             if( typeof element != "undefined" ) { element.trigger('click');}
          }).error(function(data){
             $('#error_explanation').html(data.responseJSON.error);
             $('#error_explanation').show();
             return false;
          });
  });

  $(document).on('click', ".attached-doc-btn3", function(event){
    event.preventDefault();
    var path = $(this).attr('data-href');
    var form_data = new FormData();
    var file_data = $("#document_attached_file3").prop("files")[0];
    form_data.append("attached_file", file_data);
    form_data.append("family_member","True");
    var img = $('<img >');
    $.ajax({
      url: path,
      type: "patch",
      data: form_data,
      contentType: false,
      processData: false, 
      beforeSend: function() {
        $("#progress-bar").width('0%');
      },
      success: function(data){
        if (data.status === "Success"){
          function image_src(){
           if (data.img_url.includes(".html") || data.img_url.includes(".htm")){
            return("/images/word_icon1.png");
           }else{
            return(data.img_url);
          }
          }
          jQuery.gritter.add({ title: data.status, text: data.msg });

          var abc = $('<div class="col-md-2">' +
          '<a data-no-turbolink="true" href="/family_members/download_file?doc_id='+ data.doc_id +'">' +
          '<img src="'+ image_src()+'">' +
          '</a><br>'+data.doc_name +'<a class="image_delete" data-no-turbolink="true" onclick="remove_doc(this)" data-remote="true" href="/family_members/delete_file?doc_id='+data.doc_id+'">x</a></div>');

          abc.appendTo('#image_div');
          $("#doc_count2").text(parseInt($("#doc_count2").text()) + 1);
        }else{
          jQuery.gritter.add({ title: data.status, text: data.msg });
        } 
          $(".no_attach").hide();
          $("#progress-bar").width('0%');
          $("#document_attached_file3").val('');
        
      },
      xhr: function(){
          // get the native XmlHttpRequest object
          var xhr = $.ajaxSettings.xhr() ;
          // set the onprogress event handler
          xhr.upload.onprogress = function (event){ 
            $("#progress-bar").width(event.loaded/event.total*100 + '%');
            $("#progress-bar").html('<div id="progress-status">' + event.loaded/event.total*100 +' %</div>')
          }
          // return the customized object
          return xhr ;
        }
      });
    });

  function remove_doc(el){
    $(el).parent().remove();
    $("#doc_count2").text(parseInt($("#doc_count2").text()) - 1);
  }

  $(".title").css({"font-size":"20px","margin-bottom":"15px","margin-top":"15px"});

  reports_tab = '/family_members/reports?&family_member_id=#{@family_member.id}';
  $('.reports').load(reports_tab, function( response, status, xhr ) {
    $('.spinner').hide();
  });



  $(".status_button").click(function () {
    $(this).toggleClass("red");
    $(this).text(function(x, y){
       return y === 'Active' ? 'Inactive' : 'Active'
    })
  });

