.container
  / BEGIN PAGE HEADER
  .row
    .col-md-12
      / BEGIN PAGE TITLE &amp; BREADCRUMB
      %h3.page-title
        Manage Patients
        %small listings
      %ul.page-breadcrumb.breadcrumb
        %li
          %i.fa.fa-home
          %a{:href => "/"} Home
          %i.fa.fa-angle-right
        %li
          %a{:href => "#"} Manage Patients
      / END PAGE TITLE &amp; BREADCRUMB
  / END PAGE HEADER
  %div#pending-tab
    =render '/doctor/manage_patients/manage_patients_partials/todays_pending_appointment'
  %div#unf-exam-tab
    =render '/doctor/manage_patients/manage_patients_partials/unfinished_exams'
  %div#unf-ord-tab
    =render '/doctor/manage_patients/manage_patients_partials/unfinished_orders'
  %div#to-be-orderd-tab
    =render '/doctor/manage_patients/manage_patients_partials/to_to_ordered'
  %div#to-be-dspnsd-tab
    =render '/doctor/manage_patients/manage_patients_partials/to_be_dispensed'
  %div#fllw-up-tab
    =render '/doctor/manage_patients/manage_patients_partials/follow_up_list'
  %div#ins-bal-tab
    =render '/doctor/manage_patients/manage_patients_partials/insurance_balance_due'
:css
  / .nav-tabs > li.active > a,li > a:hover,li > a:Focus
  /   {
  /     color: #FFF !important;
  /     background: #3FD5C0 !important;
  /   }
  .bootstrap-datetimepicker-widget {
    position: inherit;
    z-index: auto;
  }
  .ui-widget-header{
    border:1px solid #ffffff !important;
    background:#ffffff !important;
    color:#fff !important;
    font-weight:bold !important;
  }
:javascript
  // manage patient navigate to specific section  --------start---------
  (function($, window) {
    var adjustAnchor = function() {
      var $anchor = $(':target'),
      fixedElementHeight = 180;

      if ($anchor.length > 0) {
        $('html, body')
          .stop()
          .animate({
              scrollTop: $anchor.offset().top - fixedElementHeight
          }, 500);
      }
    };

    $(window).on('hashchange load', function() {
        adjustAnchor();
      });
    $(document).ready(function(){
      var current_doctor = "#{current_doctor.id}";
      console.log("current_doctor: "+current_doctor)
      var myFirebaseRef = new Firebase("https://#{ENV['FIREBASE_APP_URL']}");  //firebase app url reference
      //var doctorDashboardFirebaseRef = new Firebase("https://brilliant-torch-554.firebaseio.com");

      adjustAnchor();
      var formatted_date = "#{Date.today.strftime('%m/%d/%Y')}";
      managePatientsIndexPage(myFirebaseRef.child('manage_patients').ref(),formatted_date,myFirebaseRef.child('doctor_dashboard').ref());
      $(".date-picker").datepicker({
        format: "mm/dd/yyyy"
      });
    })
    })(jQuery, window);
    //manage patient navigate to specific section ----------end-------

  
