= simple_form_for @patient, url: manage_patients_by_doctor_index_path do |f|
 = f.input :first_name
 = f.input :last_name
 = f.input :birthday, as: :date_picker
 = f.input :phone
 = f.input :email
 = f.input :password
 = f.input :password_confirmation
 = f.submit
