%table.table.table-hover.table-condensed.table-bordered.search_table
  %thead
    %tr
      %th
        Name
      %th.hidden-xs
        Birthdate                         
      %th
        Email
      %th
        Phone
      %th
        Vision Insurance
      %th
        Payment
      %th
        Latest Entry
      %th
        Actions
      %th.hidden
        id
  %tbody
    - if @patients.present?
      - @patients.each do |joint_resource|
        -patient=joint_resource.member
        %tr
          %td
            -if patient.class.name == "FamilyMember"
              %a{:href => family_member_path(joint_resource.family_member)}
                = patient.name
            -else
              %a{:href => doctor_patient_profile_path(:patient_id => joint_resource.patient.id)}
                = patient.name

          %td.hidden-xs
            = patient.birthday.present? ? patient.birthday.strftime("%B %d, %Y") : "N/A"
          %td
            = joint_resource.email
          %td
            = patient.phone.present? ? "#{number_to_phone(patient.phone.to_s[2..-1].to_i, area_code: true)}" : "N/A" 
          %td
            = patient.vision_insurance.present? ? patient.vision_insurance.name : "N/A"
          %td
            - if joint_resource.try(:orders).try(:last).present?
              %h5
                = "Exam $ "+joint_resource.orders.last.examination.try(:procedure_adjustments).sum(:price).to_s if joint_resource.orders.last.examination.present?
              %h5
                = "Order $ "+joint_resource.orders.last.total.round(2).to_s
            -else
              N/A
          %td
            = patient.updated_at.strftime("%m/%d/%Y")
          %td
            %ul.patient-log.dropdown
              %li#actionsliststyle.btn-group
                %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                  Actions
                  %i.fa.fa-angle-down
                %ul.dropdown-menu.pull-right
                  %li
                    %a{ :href => "#",:class => 'exam-order-booking' , :data => { 'doctor-id' => current_doctor.id,'join-id' => joint_resource.id,'exam-id' => 9,'name' => patient.name,'vision-insurance-id'=>patient.vision_insurance_id,"no-turbolink" => true}}
                      %i.fa.fa-shopping-cart
                      Create Exam
                  - if current_doctor.role.include?("staff") || current_doctor.role.include?("administrator") || current_doctor.role.include?("super_administrator")
                    %li
                      %a{ :data => { "no-turbolink"=> "true"},:href => new_order_path(:id => joint_resource.id ,:changecall => 'pending')}
                        %i.fa.fa-shopping-cart
                        Create Order

                  - if joint_resource.examinations.last.present?
                    %li
                      %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(joint_resource.examinations.last)}
                        %i.fa.fa-edit
                        Open Exam
                        %span.badge.badge-success
                          = patient.try(:examinations).count
                  - if joint_resource.orders.any?
                    %li.dropdown-submenu.pull-left
                      %a{ :data => { "no-turbolink"=> "true" },:href =>  '#'}
                        %i.fa.fa-angle-left
                        Last Order
                      %ul.dropdown-menu
                        %li
                          %a{ :data => { "no-turbolink"=> "true" },'tabindex' =>"-1",:href =>  edit_order_path(joint_resource.orders.last)}
                            %i.fa.fa-shopping-cart
                            Open
                            -if joint_resource.previous_holded_order.any?
                              %small.badge.badge-round.badge-danger.pull-right #{joint_resource.previous_holded_order.count}
                        %li  
                          %a{:href => invoice_order_path(joint_resource.orders.last,:format => :pdf,request_type: 'pdf'),:data => { 'no-turbolink' => true},:target => '_blank' }
                            %i.fa.fa-file-pdf-o
                            Invoice
                        - if joint_resource.orders.any?
                          %li
                            %a{ :data => {"remote" =>"true",'type' => 'json'}, :href => email_invoice_order_path(joint_resource.orders.last) }
                              %i.fa.fa-send
                              Email Invoice
                        -if joint_resource.orders.last.status.exclude? "ready_for_pick_up"
                          %li
                            %a{ :data => {"remote" =>"true",'type' => 'json'},'tabindex' =>"-1",:href =>  dispense_order_path(joint_resource.orders.last),:class => 'dispense_link'}
                              %i.fa.fa-medkit
                              Dispense It!
                        %li
                          %a{ :data => { :remote => true ,'type' => 'json' }, :href => email_card_warning_order_path(joint_resource)}
                            %i.fa.fa-send
                            Email Card Warning
                        -if joint_resource.favourites.last.present?
                          %li.dropdown-submenu.pull-left
                            %a{ :data => { "no-turbolink"=> "true" },:href =>  '#'}
                              %i.fa.fa-angle-left
                              Re-newed Order
                            %ul.dropdown-menu
                              %li
                                %a{ :data => { "no-turbolink"=> "true" },'tabindex' =>"-1",:href =>  favourite_path(joint_resource.favourites.last)}
                                  %i.fa.fa-shopping-cart
                                  Open
                                  -if joint_resource.favourites.last.status.include? "dispensed"
                                    .pull-right
                                      %small.badge.badge-round.badge-success done
                                  -else
                                    .pull-right
                                      %small.badge.badge-round.badge-danger Hold
                              %li
                                %a{ :href => invoice_favourite_path(joint_resource.favourites.last,:format => :pdf),:target => '_blank',:data => { 'no-turbolink' => true} }
                                  %i.fa.fa-file-pdf-o
                                  Invoice
                              %li
                                %a{ :href => email_invoice_favourite_path(joint_resource.favourites.last) ,:data => { "remote" =>"true",'type' => 'json'}}
                                  %i.fa.fa-send
                                  Email Invoice
                              -if ["ready_for_pick_up",'dispensed'].exclude? (joint_resource.favourites.last.status)
                                %li
                                  %a{ :data => {"remote" =>"true",'type' => 'json'},'tabindex' =>"-1",:href =>  dispense_favourite_path(joint_resource.favourites.last),:class => 'dispense_link'}
                                    %i.fa.fa-medkit
                                    Dispense It!
                  - if joint_resource.lens_prescriptions_in_use.any?
                    %li
                      %a{:data => {"remote"=>"true",'type' => 'json'},:href => email_prescription_dashboard_path(joint_resource.lens_prescriptions_in_use.last)}
                        %i.fa.fa-send
                        Email Prescription
                  - if joint_resource.referrals.any?
                    %li
                      %a{ :data => { "no-turbolink" => "true", :remote => true, :type => 'json' },:href => send_mail_to_patient_examination_referral_path(joint_resource.referrals.last.examination, joint_resource.referrals.last)}
                        %i.fa.fa-send
                        Email Referral
                  -patient=joint_resource.member
                  -if patient.class.name == "FamilyMember"
                    %li{:style => "-webkit-user-select: text;"}
                      %a{:href => family_member_path(joint_resource.family_member_id)} 
                        %i.fa.fa-user
                        View Profile
                  - else
                    %li
                      %a{ :data => { "no-turbolink"=> "true"},:href => doctor_patient_profile_path(:patient_id => joint_resource.patient_id)}
                        %i.fa.fa-user
                        View Profile
                  %li
                    %a{ :data => { "no-turbolink" => "true",:id => joint_resource.id,:name => patient.name.to_s}, :href => "#" ,:class => "followups"}
                      %i.fa.fa-thumbs-o-up
                      Follow up
                      %span.badge.badge-success
                        = joint_resource.try(:follow_ups).try(:count)
                  -if !joint_resource.patient.confirmed?
                    %li
                      %a{ :data => { :remote => true ,'type' => 'json' } ,:href => confirm_account_dashboard_path(patient)}
                        %i.fa.fa-question-circle
                        Confirm Account
          %td.hidden
            = joint_resource.id
  .row
    .col-md-12
      .digg_pagination
        = will_paginate @patients
- unless @patients.present?
  .text-center{:colspan => 3}
    %i.fa.fa-search
    %em No records found, search again.
  
:javascript
  paginate_records();
