#card_brief.row 
  .col-md-12       
    - gateway_profile_check = @profile.present? && @profile.success?
    - if gateway_profile_check
      .col-md-6.outer_container_bg
        %div.inner_container_bg
          .col-md-12
            = image_tag (get_card_image @patient.profile.try(:brand_name)), class: "pull-right"  
          .col-md-12
            %h3.text-warning
              = "EXP: #{@patient.try(:profile).try(:card_expiry_date).strftime("%m / %Y")}"
            %h3
              = "xxxx-xxxx-xxxx-#{@profile.params['profile']['payment_profiles']['payment']['credit_card']['card_number'].last(4)}"
          .col-md-12  
            %hr
            .col-md-6
              #detail_button.btn.yellow
                Edit Detail
            .col-md-6
              .btn.green
                %a{ :href => remove_card_dashboards_path(:patient_id => @patient.id),:data => { 'no-turbolink' => true},:class => "remove_card"}
                  Remove Card
           

      .col-md-4
        %label.btn.auth_message{class: "#{@patient.profile.validated? ? 'green' :  'btn-warning'}"} 
          - if @patient.profile.validated? 
            = "<i class='fa fa-check' ></i> Card Authorized !".html_safe 
          - else
            = "<i class='fa fa-exclamation-triangle' ></i>Card Not Authorized !".html_safe
    -else
      .row
        %h5.alert.alert-warning You haven't created Any Payment Profile Yet!

#card_detail.row{class: (gateway_profile_check ? 'hidden' : "")}
  %h4.col-md-12.row
    Update Card
    = image_tag "/images/cards.png", class: "pull-right"
  = form_for :creditcard, url: gateway_profile_check ? payment_method_update_dashboards_path : new_payment_profile_dashboards_path,remote: true,:role =>"form" , html: { method: :post, id: 'card_detail_form' } do |cc|
    = hidden_field_tag 'patient_id', @patient.id
    .row
      .form-group.col-md-6
        %label
          First Name
          %span.require *
        = cc.text_field :first_name, class: "form-control", value: (@patient.profile.present? ? @patient.profile.try(:first_name) : @patient.try(:first_name)), placeholder: "Enter first name", required: true
      .form-group.col-md-5
        %label
          Last Name
          %span.require *
        = cc.text_field :last_name, class: "form-control", value: (@patient.profile.present? ? @patient.profile.try(:last_name) : @patient.try(:last_name)), placeholder: "Enter last name", required: true
    .row
      .col-md-4
        .form-group.cnumber
          %label 
            Card Number
            %span.require *
          .input-group
            %input.form-control{ name: "creditcard[number]",placeholder: "#{ gateway_profile_check ? "xxxx-xxxx-xxxx-#{@profile.params['profile']['payment_profiles']['payment']['credit_card']['card_number'].last(4)}" : 'enter card no.'}"}
              %span.input-group-addon
                %i.fa.fa-credit-card
      .form-group.col-sm-2
        %label
          Month
          %span.require *
        = cc.select :month, Date::ABBR_MONTHNAMES.compact.each_with_index.collect{|m, i| [m, i+1]}, {:prompt => 'Please Select'}, class: "form-control input-small"
      .form-group.col-sm-2
        %label
          Year
          %span.require *
        = cc.select :year,  Array.new(15){|i| Date.current.year+i}, {:prompt => 'Please Select'}, class: "form-control input-small"
      .form-group.col-sm-3
        %label
          Security Code
          %span.require *
        = cc.text_field :verification_value, class: "form-control input-small", min: 4
    .row
      .form-group.col-md-4
        %label 
          Address
          %span.require *
        = cc.text_field :address, class: "form-control", value: (@patient.profile.present? ? @patient.profile.try(:address) : @patient.try(:home_address).try(:address1)), required: true
      .form-group.col-md-4
        %label 
          City
        = cc.text_field :city, class: "form-control", value: (@patient.profile.present? ? @patient.profile.try(:city) : @patient.try(:home_address).try(:city))
      .form-group.col-md-3
        %label 
          Zip Code
          %span.require *
        = cc.text_field :zip_code, class: "form-control", value: (@patient.profile.present? ? @patient.profile.try(:zip_code) : @patient.try(:home_address).try(:postal_code)), required: true
    .row
      .form-group.col-md-4
        %label
          Country
        = cc.country_select :country, {priority: %w(US CA),selected: @patient.try(:profile).try(:country).present? ? @patient.profile.country : (@patient.try(:home_address).try(:country_id).present? ? @patient.try(:home_address).try(:country_id) : "US")}, class: 'form-control country_select', :"data-target"=> "#address_state"
      .form-group.col-md-4
        %label
          State
        #address_state
          - country_code  = @patient.try(:profile).try(:country).present? ? @patient.profile.country : (@patient.try(:home_address).try(:country_id).present? ? @patient.try(:home_address).try(:country_id) : "US")
          - if Carmen::Country.coded(country_code).try(:subregions).present?
            = cc.subregion_select(:state, country_code, {selected: @patient.try(:profile).try(:state).present? ? @patient.profile.state : @patient.try(:home_address).try(:state_id)}, { :class => 'form-control' } )
    .row
      .margin-top-10.col-sm-12
        = cc.submit "Confirm",{ class: "btn btn-info", id: "#payment_method_update_submit_btn"}
:javascript
  creditCardValidation();
  
