- if @customer.present?
	#tab_1_1_1.tab-pane.active
		.table-responsive
			%table#followups_tab.table.table-hover.table-condensed.table-bordered
				%thead
					%tr
						%th
							Card Type
						%th
							Ending In
						%th
							Action
				%tbody
					- if @customer.credit_cards.present?
						- @customer.credit_cards.each do |details|
							%tr
								%td
									= details.card_type
								%td
									=  details.last_4
								%td
									= link_to "Delete", delete_payment_method_payments_path(id: @patient.id,token: details.token), class: "btn btn-danger" , data: { confirm: 'Are you sure?' }, onclick: "$(this).closest('tr').remove();"
					- if @customer.paypal_accounts.present?
						- @customer.paypal_accounts.each do |details|
							%tr
								%td
									= details.email
								%td 
								%td
									= link_to "Delete", delete_payment_method_payments_path(id: @patient.id,token: details.token), class: "btn btn-danger" , data: { confirm: 'Are you sure?' }, onclick: "$(this).closest('tr').remove();"
							
