.row
  .col-md-3
    %ul.list-unstyled.profile-nav
      %li
        %img.img-responsive.profile_image{:alt => "", :src => user_profile_image}/
      %li
        .col-md-12
          .portlet.sale-summary
            .portlet-title

            .portlet-body
              %ul.list-unstyled
                %li
                  %span.sale-info
                    Visits
                    %i.fa.fa-img-up
                  %span.sale-num
                    = current_patient.sign_in_count
                %li
                  %span.sale-info
                    Views
                    %i.fa.fa-img-down
                  %span.sale-num
                    = current_patient.views_count
                %li
                  %span.sale-info
                    Rewards
                  %span.sale-num
                    = '$ ' + current_patient.reward_point.round(2).to_s

  .col-md-9
    .row.patient_details_container
      .col-md-8.profile-info
        %h1
          = current_patient.name
        %p.about_section
          = current_patient.try(:about)
        %p
          %a{:href => "#{current_patient.profile_url}",:target => '_blank'}
            = current_patient.try(:profile_url)
        %ul.list-inline
          %li
            - if current_patient.home_address.present?
              - address = current_patient.home_address
              %i.fa.fa-map-marker
              -if address.address1.present?
                - addr = address.address1
              -if address.city.present?
                -if addr.present?
                  - addr = addr + ', ' + address.city
                -else
                  - addr = address.city
              -if address.country_id.present? && address.state_id.present?
                -if addr.present?
                  - addr = addr + "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name).nil? ? "" : ", #{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"}"
                -else
                  - addr = "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"
              -if address.postal_code.present?
                - if addr.present?
                  - addr = addr + ', ' + address.postal_code
                -else
                  - addr = address.postal_code
              = addr
          - if current_patient.birthday.present?  
            %li
              %i.fa.fa-calendar
              = "#{current_patient.birthday} , AGE: #{current_patient.age}"
          - if current_patient.occupation.present?  
            %li
              %i.fa.fa-briefcase
              = current_patient.occupation
          - if current_patient.intrests.present?  
            %li
              %i.fa.fa-star
              = "#{current_patient.intrests}"


    .tabbable.tabbable-custom.tabbable-custom-profile
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab_1_22"}
            Exams
            %span.badge.badge-success
              =@exams.count
        %li
          %a{"data-toggle" => "tab", :href => "#tab_1_33"}
            Orders
            %span.badge.badge-success
              =@orders.count
        %li
          %a{"data-toggle" => "tab", :href => "#tab_1_11"}
            Appointments
            %span.badge.badge-success
              =@appointments.count
       
      .tab-content
        #tab_1_11.tab-pane
          .scroller{"data-always-visible" => "1", "data-height" => "290px", "data-rail-visible1" => "1"}
            .portlet-body
              %table.table.table-striped.table-bordered.table-advance.table-hover
                %thead
                  %tr
                    %th
                      %i.fa.fa-briefcase
                      Doctor
                    %th
                      %i.fa.fa-briefcase
                      Patient
                    %th.hidden-xs
                      %i.fa.fa-question
                      Reason Of Visit
                    %th
                      %i.fa.fa-clock-o
                      Time
                    %th
                      %i.fa.fa-clock-o
                      Date
                    %th
                      %i.fa.fa-clock-o
                      Status
                %tbody
                  - if @appointments.present?  
                    - @appointments.each do |booking|
                      %tr
                        %td
                          = booking.try(:doctor).try(:name)
                        %td
                          = booking.try(:joint_resource).try(:member).try(:name)
                        %td.hidden-xs
                          = booking.try(:exam_procedures).present? ? booking.exam_procedures.map(&:name).join(", ") : "N/A"
                        %td
                          = booking.start_time.strftime("%I:%M %p")
                        %td
                          = booking.start_time.strftime("%m-%d-%y")
                        %td
                          -if booking.deleted_at.present?
                            = "canceled".titleize 
                          -elsif booking.status != "no_show"
                            = booking.try(:status).try(:titleize)
                          -else
                            = "Finalized" 
                             

        #tab_1_22.tab-pane.active
          #tab_1_1_1.tab-pane.active
            .scroller{"data-always-visible" => "1", "data-height" => "290px", "data-rail-visible1" => "1"}
              .portlet-body
                %table.table.table-striped.table-bordered.table-advance.table-hover
                  %thead
                    %tr
                      %th
                        %i.fa.fa-briefcase
                        Doctor
                      %th
                        %i.fa.fa-briefcase
                        Patient
                      %th.hidden-xs
                        %i.fa.fa-question
                        Reason Of Visit
                      %th
                        %i.fa.fa-clock-o
                        Last Update
                      %th
                        %i.fa.fa-clock-o
                        Status
                      %th
                        %i.fa.fa-clock-o
                        Cost($)
                  %tbody
                    - if @exams.present?
                      - @exams.each do |exam|
                        %tr
                          %td
                            = exam.try(:doctor).try(:name)
                          %td
                            = exam.try(:joint_resource).try(:member).try(:name)
                          %td.hidden-xs
                            = exam.try(:procedure_adjustments).present? ? exam.procedure_adjustments.map(&:name).join(", ").titleize : "N/A"
                          %td
                            = exam.updated_at.strftime("%m-%d-%y")
                          %td
                            %a.btn.default.btn-xs.blue-stripe{:href => "#"}
                              = exam.status
                          %td

                            = exam.procedure_adjustments.present? ? "$ " + exam.procedure_adjustments.sum(:price).to_s : "N/A"
                          
                    - else
                      %td.text-center{:colspan => "6"}
                        %i.fa.fa-search
                        No records to display

        #tab_1_33.tab-pane
          #tab_1_1_1.tab-pane.active
            .scroller{"data-always-visible" => "1", "data-height" => "290px", "data-rail-visible1" => "1"}
              .portlet-body
                %table.table.table-striped.table-bordered.table-advance.table-hover
                  %thead
                    %tr
                      %th
                        %i.fa.fa-briefcase
                        Doctor
                      %th
                        %i.fa.fa-briefcase
                        Patient
                      %th
                        %i.fa.fa-clock-o
                        Order Date
                      %th
                        %i.fa.fa-clock-o
                        Cost($)
                      %th
                        %i.fa.fa-balance-scale
                        Balance Due($)
                      %th
                        %i.fa.fa-bookmark
                        Payment Status
                  %tbody
                    - @orders.each do |order|
                      %tr
                        %td
                          = order.try(:doctor).try(:name)
                        %td
                          = order.try(:joint_resource).try(:member).try(:name)
                        %td
                          = order.try(:order_date).try(:strftime, "%m-%d-%y")
                        %td
                          = order.total.present? ? "$ " + order.total.round(2).to_s : "N/A"
                        %td
                          = "$ " + order.balance_due.to_s
                        %td
                          - if order.paid?
                            %a.btn.default.btn-xs.red-stripe{:href => "#"}
                              Paid
                          -else
                            %a.payment-modal-link.btn.default.btn-xs.green-stripe{:href => "#", "data-value"=> order.id, "data-order_type" => "Order"}
                              Pay Now
                            -if @joint_resource.profile.present?
                              = link_to '<i class="fa fa-credit-card"></i>'.html_safe, profile_payment_patients_path(order_id: order.id), remote: true, class: 'registered-payment-method-modal-link'
        
#registered_payment_checkout