.login
  .content
    / BEGIN RESEND CONFIRMATION FORM
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|

      %h3 Resend confirmation instructions
      %p
        Enter your e-mail address below to reset your password.
      .form-group
        .input-icon
          %i.fa.fa-envelope
          = f.email_field :email, autofocus: true, label: false, class: "placeholder-no-fix form-control"
      .form-actions
        %button.btn.green-meadow.pull-right{:type => "submit"}
          Submit
          %i.icon-arrow-right
        / END RESEND CONFIRMATION FORM
