.row.profile-reports
  .col-md-10.col-md-offset-1
    #get_1_click
      = render 'patient/favourites/get_1_click'
        
  #order_prescription_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Order Prescription
        .modal-body#fav_selected_patient_prescriptions
          = render '/patient/favourites/selected_patient_prescriptions'
          

