-current_patient||= @patient
.tab-content
  #tab_5-1.tab-pane.active
    .portlet.box.green-turquoise
      .portlet-title
        .caption
          %i.fa.fa-gift
          1- click Contact Lens Order
      .portlet-body
        = simple_form_for @favourite_order.present? ? @favourite_order : FavouriteOrder.new,url: create_favourite_favourites_path,remote: true ,html: { class: "form-inline re_new_order_form" ,role: 'form'} do |f|
          .row
            .col-md-7
              %label How would you like to recieve your order?
            .col-md-4
              %label Select Patient
          .row
            .col-md-7.btn-group.shippment{"data-toggle" => "buttons"}
              %button.btn.btn-default.myButton{:type => "button", value: :free_shipping } Free Shipping
              %button.btn.btn-default.active.myButton{:type => "button" ,value: :pick_up_at_office } Pick Up at Office
            = f.input :shippment_method,as: :hidden,:input_html => { value: :pick_up_at_office }
            .col-md-4
              = f.input :joint_resource_id, :collection => current_patient.all_resources, :label_method => :name, :value_method => :id , label: false, selected: @selected_patient.present? ? @selected_patient.id : current_patient.joint_resource.id
          %hr
          - if @one_click_lens.present?  
            %label
              Finalize Contact Lens Prescription
            %table.table.table-striped.table-hover
              %thead
                %tr
                  %th
                    
                  %th
                    TYPE
                  %th.hidden-480
                    SPHERE
                  %th.hidden-480
                    CYLINDER
                  %th.hidden-480
                    AXIS
                  %th
                    ADD
                  %th
                    BASE CURVE
                  %th
                    DIAMETER
                  %th
                    BOXES PER EYE

              %tbody
                .col-md-12
                  %tr
                    %th
                      OD
                    %td
                      = @one_click_lens.od_type
                    %td.hidden-480
                      = @one_click_lens.od_sphere
                    %td.hidden-480
                      = @one_click_lens.od_cylinder
                    %td.hidden-480
                      = @one_click_lens.od_axis
                    %td.hidden-480
                      = @one_click_lens.od_add
                    %td
                      = @one_click_lens.od_base_curve
                    %td
                      = @one_click_lens.od_diameter

                    %td{class: 'boxes'}
                      = f.input :lens_od_unit_price,as: :hidden,:input_html => { :value => eye_lens_price(@one_click_lens.od_type) }
                      = f.input :lens_od_quantity,label: false,collection: 1..4,:selected => '1',:input_html => {class: "lens_qnt",value: '1'}
                .col-md-12{ id: 'lens_order_'+@one_click_lens.contact_lens_order_id.to_s+'_os' }
                  %tr
                    %th
                      OS
                    %td
                      = @one_click_lens.os_type
                    %td
                      = @one_click_lens.os_sphere
                    %td
                      = @one_click_lens.os_cylinder
                    %td
                      = @one_click_lens.os_axis
                    %td
                      = @one_click_lens.os_add
                    %td
                      = @one_click_lens.os_base_curve
                    %td
                      = @one_click_lens.os_diameter
                    
                    %td{class: 'boxes'}
                      = f.input :lens_os_unit_price,as: :hidden,:input_html => { :value => eye_lens_price(@one_click_lens.os_type) }
                      = f.input :lens_os_quantity,label: false,collection: 1..4,:selected => '1',:input_html => {class: "lens_qnt",value: '1'}
            
            %hr
            .row
              .col-md-9
                .row
                  .col-md-12
                    %h4 Total Reward Points in your account: $ #{current_patient.reward_point.round(2)}
                .row
                  .col-md-6
                    .input-icon
                      %i.fa.fa-dollar
                      = f.input :reward_points_used, wrapper: false,readonly: true,label: false, :input_html => {class: 'form-control'}
                      %strong
                        100 Reward == 1 $
                  .col-md-6#reward_points
                    .btn-group.points{"data-toggle" => "buttons"}
                      %button.btn.btn-default.myButton{:type => "button", value: :true } Apply
                      %button.btn.btn-default.active.myButton{:type => "button" ,value: :false } Remove
                    = f.input :rewards_applied,as: :hidden
                %br
              .col-md-3
                .row
                  .col-md-6
                    %h4
                      Discount:
                    = f.input :discount,label: false, as: :hidden
                  .col-md-6.pull-right
                    %h4
                      15 %
                .row
                  .col-md-3
                    %h3
                      Total
                    .input-icon
                      %i.fa.fa-dollar
                      = f.input :total ,label: false, wrapper: false, readonly: true, :input_html => {class: 'form-control',value: @order_total.present? ? @order_total.round(2) : 0.0 }
                      = f.input :lens_prescription_id,as: :hidden,:input_html => { :value => @one_click_lens_prescription.id }
            %form.form-inline{:role => "form"}
              .form-group
                = f.label 'Other Presciptions',{:class => 'btn btn-danger', "data-toggle" => "modal", :href => "#order_prescription_modal"}
                = f.submit "Buy", class: "button btn btn-success"
          - else
            %br
            .col-md-12{:style => "text-align: center;"}
              .table-responsive
                %table.table.table-hover.table-bordered
                  %tr
                    %td.text-center{:colspan => 11}
                      %i.fa.fa-search
                      %em No prescriptions to display
            %br
            %hr
:javascript
  $(document).ready(function(){
    one_click_buy();
  })
