- if @all_prescriptions_in_use.present?
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
        %th
          TYPE
        %th.hidden-480
          SPHERE
        %th.hidden-480
          CYLINDER
        %th.hidden-480
          AXIS
        %th
          ADD
        %th
          BASE CURVE
        %th
          DIAMETER
        %th
          Action
    %tbody
      -@all_prescriptions_in_use.each_with_index do |prescription,index|
        -unless prescription.lens.is_empty?
          - lens = prescription.lens
          .col-md-12
            %tr
              %th
                OD
              %td{class: 'type'}
                = lens.try(:od_type)
              %td.hidden-480
                = lens.try(:od_sphere)
              %td.hidden-480
                = lens.try(:od_cylinder)
              %td.hidden-480
                = lens.try(:od_axis)
              %td.hidden-480
                = lens.try(:od_add)
              %td
                = lens.try(:od_base_curve)
              %td
                = lens.try(:od_diameter)
              %td
                %a{ :href => "#",class: ' btn btn-primary selected_prescription',:data => { :prescription_id => prescription.id,:jr_id => prescription.examination.joint_resource.id} }
                  Select
          .col-md-12
            %tr
              %th
                OS
              %td
                = lens.try(:os_type)
              %td
                = lens.try(:os_sphere)
              %td
                = lens.try(:os_cylinder)
              %td
                = lens.try(:os_axis)
              %td
                = lens.try(:os_add)
              %td
                = lens.try(:os_base_curve)
              %td
                = lens.try(:os_diameter)
              %td
                /= link_to "Open", get_1_click_dashboards_path(lens_id: lens.id),{ remote: true, "data-dismiss" => "modal"}
          .col-md-12
            %tr
              %th
              %td
              %td
              %td
              %td
              %td
              %td
              %td
              %td
- else
  %br
  .col-md-12{:style => "text-align: center;"}
    No Prescriptions to display
  %br
  %hr

:javascript

  $(document).on('click','.selected_prescription',function() {
    prescription_id=$(this).attr('data-prescription-id');
    jr_id = $(this).attr('data-jr-id');
    url2 = '/favourites/get_1_click?prescription_id='+prescription_id+"&jr_id="+jr_id;
    $('#get_1_click').load(url2, function( response, status, xhr ){
      $('.spinner').hide();
      $('#order_prescription_modal').modal('hide');
    });
  });