!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Your Invoice
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table.body{style: "width: 100%;"}
        %tr
          %td.center{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            / BEGIN: Content
            %table.container.content{:align => "center"}
              %tr
                %td
                  %table.row.note
                    %tr
                      %td.wrapper.last
                        %h4
                          = "Hi #{@joint_resource.name},"
                        %h4
                          = "You're a valuable patient of #{@store.try(:description)}"
                        %p
                          Please find your attached invoice.
                        %table{:style => "margin-bottom: 10px"}
                          %tr
                            %td.panel
                              %strong Invoice Date
                            %td.panel
                              %strong
                                = "#{@order.try(:order_date).try(:strftime,"%m/%d/%Y")}"
                          %tr
                            - if @order.cash_payment_received.present? && @order.cash_payment_received > 0
                              %td.panel
                                %strong Total Cash Payment : 
                              %td.panel
                                %strong $ #{number_with_precision(@order.cash_payment_received, :precision =>2)}
                              %br
                          %tr
                            -if @order.check_payment_received.present? && @order.check_payment_received > 0
                              %td.panel
                                %strong Total Check Payment : 
                              %td.panel
                                %strong $ #{number_with_precision(@order.check_payment_received, :precision =>2)}
                              %br
                          %tr
                            - if @order.transactions.any?
                              %td.panel
                                %strong Total Profile Card Payment: 
                              %td.panel
                                %strong $ #{number_with_precision(@order.transactions.sum(:amount), :precision =>2)}
                          %tr
                            - if @order.balance_due.to_f > 0
                              %td.panel
                                %strong Balance Due :   
                              %td.panel
                                %strong $ #{number_with_precision(@order.balance_due, :precision =>2)} 
                          
                        %p
                          For your profile direct access click link below.
                        / BEGIN: Note Panel
                        %table.twelve.columns{:style => "margin-bottom: 10px"}
                          %tr
                            %td.panel
                              = link_to @one_click_url, @one_click_url
                            %td.expander
                        %p
                          If clicking the URL above does not work, copy and paste the URL into a browser window or feel free to contact us.
                        / END: Note Panel
                 
            / END: Content
            = render "/app_mailer/footer"
