- if @view == "new" 
  %h3.event-form-title Store
  #external-events
    = select_tag :store_id, options_from_collection_for_select(@resources, "id", "description",  @resource.try(:id)), class: "form-control store_select", style: "margin-bottom: 10px", "data-target"=> "#store_doctors_list"
  #store_doctors_list
    = render "doctor_list", resource: @resource
  -#store_doctors_option
    = render "/pages/store_doctors_option", store: @resource

- elsif @view == "store"
  %h3.event-form-title Store
  #external-events
    = select_tag :store_id, options_from_collection_for_select(@resources, "id", "description",  @resource.id), class: "form-control store_select", style: "margin-bottom: 10px", "data-target"=> "#store_doctors_list"
    #store_doctors_list
      = render "doctor_list", resource: @resource

- else
  = render "doctor_list", resource: @resource