- if resource.try(:doctors).present?
  %h3#event_box.event-form-title
    Calendar Colour Indication
    %br
    %br
    - if current_doctor.role.include?("doctor") && !current_doctor.role.include?("administrator") && !current_doctor.role.include?("super_administrator") && !current_doctor.role.include?("staff")
      .row
        .col-md-9
          .btn-group{"data-toggle" => "buttons"}
            %label.btn.green-meadow.margin-bottom-10.doctor-btn#btnSubmit
              %input.toggle{:type => "radio", name: "doctor_id", value: current_doctor.id}
                = current_doctor.name
        .col-md-3{style: "padding: 4px"}
          %div{style: "height: 12px; width: 12px; background-color: #{current_doctor.theme_color}"}

    - else
      -count = 0
      - resource.doctors.doctors_with_role_doctor.each do |doctor|
        .row
          .col-md-9
            .btn-group{"data-toggle" => "buttons"}
              %label.btn.green-meadow.margin-bottom-10.doctor-btn
                %input.toggle{:type => "radio", name: "doctor_id", value: doctor.id} 
                  = doctor.name
          .col-md-3{style: "padding: 4px"}
            %div{style: "height: 12px; width: 12px; background-color: #{doctor.theme_color}"}
      .row
        .col-md-9
          .btn-group{"data-toggle" => "buttons"}
            %label.btn.green-meadow.margin-bottom-10.doctor-btn.active
              %input.toggle{:type => "radio", value: 'first', name: "doctor_id", checked: true}
                = "All"
      %hr.visible-xs/
- else
  = "Sorry there is no doctor"


:css
  .doctor-btn
  {
    width: 200px;
  }

:javascript
   $(document).ready(function(){
      $('#btnSubmit').trigger('click');
    });
  
  $("input[name=doctor_id]:radio").change(function () {
    var doc_val = $(this).val();
    $("input[type='radio'][name='doctor_id']:unchecked").parent().removeClass('active');
    $(this).addClass('active');
    if (doc_val != "first")
    {
      $('#calendar').html("");
      calendar();
    }
    else
    {
      var $selectWrapper = $("#calendar_view"),
          url;
      url = '/bookings/get_view?calendar_view=store&store_id='+$(store_id).val();
      $selectWrapper.load(url, function(response, status, xhr ) {
        $('#calendar').html("");
        calendar(view_name="store");
      });
    }
  })