.row
  %input.form-control#fetch_slot{ name: "slot_time",value: @fetch_slot_time, type: 'hidden'}
  .col-md-12
    .portlet.box.green-meadow.calendar
      .portlet-title
        .caption
          %i.fa.fa-calendar>
          Calendar
      .portlet-body
        .row
          .col-md-3.col-sm-12
            #calendar_view
              = render "calendar_view"
            / END DRAGGABLE EVENTS PORTLET
          .col-md-9.col-sm-12
            #calendar.has-toolbar
#delete-appointment-modal.modal.fade{"data-backdrop" => "static", "data-keyboard" => "false", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4
          Confirmation
      .modal-body
        %p
          Are you sure you want to delete this appointment ?
      .modal-footer
        %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"}  No
        %a#url_with_notification.btn.btn-sm.blue{href: "", :"data-method"=>"delete"}
          Yes, with notification
        %a#url_without_notification.btn.btn-sm.green{href: "", :"data-method"=>"delete"}
          Yes, without notification

#family-member-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "FamilyMember-modal-label",:role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.append_dup_email
          Duplicate Email
      .modal-body{:style => 'max-height: 200px;overflow-y: auto;'}
        %h2.append_name
          This Email is already used by
        %span
          %div
            .col-md-5
              Select Relationship
            .col-md-4
              = select_tag "family_relation", options_for_select([['', ''], ['Spouse', 'spouse'],['Domestic Partner ','domestic_partner '],['Parent','parent'],['Friend','friend'],['Grandchild', 'grandchild'],['Sibling','sibling'],['Cousin','cousin'],['Grandparent','grandparent'],['Other','other'],['Unknown','unknown']]),:class => "form-control"
            .col-md-3

      .modal-footer
        %a{:href => "#",:id => "create_family_id",:class => "btn btn-success"} Confirm
        %button#no_family.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Cancel


:javascript
  $(document).on('click','#create_family_id',function(){
    $("#family-member-modal").modal('hide');
    $('#create_family').val('Yes');
    $('#relation').val($('#family_relation').val());
  })
  $(document).on('click','#no_family',function(){
    $('#patient_email').val('');
  })
  function duplicate_email_check() {
    if($('.patient_already_exists').is(':checked') == false)
    {
      var email = $('#patient_email').val();
      $(".append_dup_email").text("Duplicate Email: " + email);
      var path = '/patients/check_duplicate_email';
      $.ajax({
        url: path,
        type: 'get',
        data: "email=" + encodeURIComponent(email),
        success: function(response) {
          // Below code is added to fetch patient's name corresponding to duplicate email id.
          fetch_pname = response.substr ( response.indexOf ( 'id' ) + 4 );
          record_name = fetch_pname.replace(/[_\W]+/g, " ");
          $(".append_name").text("This Email is already used by " + record_name);
        }
      });
    }
  }
  $(document).on('click', ".delete-appointment-btn", function(){
    var booking_id = $(this).attr("data-bookingid")
    $('#url_without_notification').attr('href','/bookings/'+booking_id)
    $('#url_with_notification').attr('href','/bookings/'+booking_id+'?notification=true')
    $("#delete-appointment-modal").modal();
  })
  var $view_name = "new";

  $(document).on('click','#patient_email_not_supplied',function(){
    if($(this).is(':checked'))
    {
      first = $('#patient_first_name').val();
      last = $('#patient_last_name').val();
      if(first != '' && last != '')
      {
        $('#patient_email').val('');
        $('#patient_email').attr('readonly',true);
      }
      else
      {
        alert("First Name and Last Name must be present for Email not supplied option");
        $(this).prop("checked", false);
      }
    }
    else
    {
      $('#patient_email').removeAttr('readonly');
      $('#patient_email').val('');
    }
  })
  
  $(document).on('click','#append_random',function(){
    
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for( var i=0; i <10; i++ )
       text += possible.charAt(Math.floor(Math.random() * possible.length));
      $("#patient_email").val("itrust.io.app+"+text+"@gmail.com");
  });