<% if params[:page_id].present? %>
  $("#tab_1_11").load(window.location.origin + ' #tab_1_11',function(){
    setTimeout(function() {
      $('.multi-select-exams').multiselect({
        enableFiltering: true,
        includeSelectAllOption: true,
        maxHeight: '300',
        buttonWidth: '256',
        templates: {
          filterClearBtn: '<span class="input-group-btn"><button class="btn btn-default multiselect-clear-filter" type="button"><b>X<b></button></span>',
          saveBtn: '<span class="input-group-btn"><button type="button" class="btn btn-default"><b>√<b></button></span>'
        }
      });
      $('.dropdown-toggle').dropdown();
    }, 5000);
  });
<% end %>