= f.simple_fields_for :addon_details, include_id: false do |addon_detail|
  .nested-fields{:id => "glass_addon_"+addon_detail.object.id.to_s }
    .row
      .col-md-4
      .col-md-3
        %label Color
    .row
      .col-md-4
        = addon_detail.input :id, as: :hidden
        = addon_detail.input :glass_addons_price_id, as: :select,collection: current_organisation.glass_addons_prices, :prompt => "Choose a Addon", :label => false,:label_method=> :addon,:value_method=> :id,input_html:{:multiple => false ,:class => "multi-select-addons"}
      .col-md-3
        = addon_detail.input :color,label: false,input_html: {:class => "addon_color"}
      .col-md-2
        .form-group
          .input-group-addon
            %i.fa.fa-dollar.pull-left
            %label{:class => "addon_static_price",:data => { :price => addon_detail.object.new_record? ? "0.00" : addon_detail.object.try(:glass_addons_price).try(:price) },:style => 'display: block;'}
              = addon_detail.object.new_record? ? "0.00" : addon_detail.object.try(:glass_addons_price).try(:price) || "0.00"
      .col-md-2
        -#= link_to_remove_association "<i class=icon-trash icon-white></i>".html_safe, f,data: {confirm: 'Are you sure?'},:class => "addons-price glass_total_calc_for_addons", data: { :suborder => f.object.id }
        = link_to "Remove", delete_glass_addon_order_path(addon_detail.object), remote: true, class: 'btn btn-sm btn-danger'