.nested-fields
  .row
    .col-lg-12
      .portlet.box.blue-hoki
        .portlet-title
          .caption
            %i.icon-eyeglasses
            EyeGlasses
            %span.semi-bold Order ##{f.object.id}
          .tools-dropdown-on-portlet.pull-right
            .actions
              = link_to '&nbsp; Hold'.html_safe, hold_glass_suborder_order_path(f.object), :method => :put, :remote => true , :id => 'glass_order_hold_'+f.object.id.to_s,:class => f.object.hold? ? "hold_glass fa fa-gavel icon-white btn btn-sm btn-success" : "hold_glass fa fa-gavel icon-white btn btn-sm blue-hoki"
              - if @order.joint_resource.examinations.present?
                = link_to '&nbsp;Final Rxs'.html_safe,glass_prescriptions_orders_path(:jr_id => @order.joint_resource,:form_id => f.options[:html][:id] ),:remote => true,:data => {:toggle => 'modal', :target => "#prescription"},:class => "fa fa-wrench icon-white btn blue-hoki btn-sm other_prescriptation",:title => 'Other Prescriptions', :rel=> 'tooltip'
              %button.bt_lab_confirm.fa.fa-file-pdf-o{"data-target" => "#input_lab_order_details_"+f.object.id.to_s, "data-toggle" => "modal", :type => "button"} Lab Order
              = link_to '&nbsp;Manually Change'.html_safe,"#glass_manual_toggle_"+f.object.id.to_s,:class => 'fa fa-gear btn btn-sm blue-hoki glass_manual_change ',data: {:suborder => f.object.id}
              = link_to '&nbsp;Remove'.html_safe, delete_eyeglass_suborder_order_path(f.object.id), :remote => true , :class => "fa fa-trash-o icon-white btn blue-hoki btn-sm glass_delete"
              = f.input :doctor_id, as: :hidden,input_html: { value: current_doctor.try(:id) }
        .portlet-body.form
          .form-body
            = f.simple_fields_for :glasses do |glass|
              = glass.input :id, as: :hidden
              .glass_form_fields{:style => 'display:none;',id: "glass_edit_manual_change_"+f.object.id.to_s}
                = render 'doctor/orders/order_partial/eye_glass_order/glass_fields',:f => f,:glass => glass
              .glass_prescription{:id => 'glasses_prescription_manual_change_'+f.object.id.to_s,:style => 'display:block;'}
                = render 'doctor/orders/order_partial/eye_glass_order/glasses_prescription',:suborder => f.object,:glass => glass.object
              = render 'doctor/orders/order_partial/eye_glass_order/glass_benefits',:f => f
              .row
                .col-md-6
                .col-md-6{:style => 'display:none;',id: "glass_save_manual_change_"+f.object.id.to_s}
                  = f.submit 'Save', class: 'pull-right fa fa-floppy-o btn btn-md green glass_save',:"data-no-turbolink"=> "true"

/ Modal for Lab Confirmation over Order Tab Under Eyeglass Order creation.
.modal.fade{:role => "dialog", id: "input_lab_order_details_"+f.object.id.to_s}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Lab Order Confirmation

      .modal-body
        = f.simple_fields_for :glasses do |glass|
          %label.control-label 
            %b Account Number
          =f.input :acc_no,label: false
          %label.control-label 
            %b Message to Lab
          =f.input :msg_lab,label: false
          %b Mark as Urgent
          = f.input :check_box_mark_urgent,label: false, as: :radio_buttons

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button", class: "btn"} Close
        =f.submit "Next",name: "lab_next",value: "Next", :"data-modal-id" => "#input_lab_order_details_"+f.object.id.to_s, class: "btn green btn_lab_confirm"


/ Modal for Lab Pdf view after Lab Order Confirmation.
.modal.fade{:role => "dialog", id: "view_pdf_modal_"+f.object.id.to_s}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Lab Order Pdf
      .modal-body
        %label View your Lab Order
        = link_to "<i class='fa fa-file-pdf-o'></i>&nbsp;Lab Order".html_safe,lab_order_order_path(f.object,:format => :pdf),:target => '_blank',:onclick => '$(this).closest("form").ajaxSubmit({dataType: "json"})',class: "btn blue-hoki btn-sm" if f.object.id.present?
                
      .modal-footer
        %button.btn.green{:type => "button",:onclick => '$("#input_lab_order_details_'+f.object.id.to_s+'").modal("show");$("#view_pdf_modal_'+f.object.id.to_s+'").modal("hide");'} Back 
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

:javascript
  $('.btn_lab_confirm').on('click',function() {
    $($(this).attr("data-modal-id")).modal('hide');
  })
  
:css
  .bt_lab_confirm
  {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
  }

