.portlet.box.red-intense
  .portlet-title{:style => "padding-top: 5px !important; padding-bottom: 0px !important;"}
    .caption
      %i.fa.fa-money
      Benefits
  .portlet-body.form
    .form-body
      .row
        .form-group
          %label.control-label.col-md-3 Material Copay
          .col-md-3
            .input-icon
              %i.fa.fa-dollar
              = f.input :material_copay, label: false,as: :string,:input_html => {value: (number_with_precision(f.object.material_copay, :precision => 2)) ,:class => "glass_total_calc price_inp", data: { :suborder => f.object.id }},:wrapper => false
          %label.control-label.col-md-3 Frame Allowance
          .col-md-3
            .input-icon
              %i.fa.fa-dollar
              = f.input :frame_allowance, label: false,as: :string,:input_html => {value: (number_with_precision(f.object.frame_allowance, :precision => 2)) ,:class => "glass_total_calc price_inp input-icon", data: { :suborder => f.object.id }},:wrapper => false
      .row
        .form-group
          %label.control-label.col-md-3 Frame Only Discount
          .col-md-3
            %i.percent_icon %
            = f.input :overage_discount, label: false,as: :string,:input_html => {value: (number_with_precision(f.object.overage_discount, :precision => 2)) ,:class => "glass_total_calc price_inp percent_box", data: { :suborder => f.object.id }},:wrapper => false
          %label.control-label.col-md-3 Overall Discount(%)
          .col-md-3
            %i.percent_icon %
            = f.input :discount, label: false,as: :string,:input_html => {value: (number_with_precision(f.object.discount, :precision => 2)) ,:class => 'price_inp glass_total_calc percent_box', data: { :suborder => f.object.id }},:wrapper => false
      .row
        .form-group
          %label.control-label.col-md-6
            .well
              .goods-page-price
                %strong Total
              .form-group
                .input-icon
                  %i.fa.fa-dollar
                  = f.input :total, label: false,as: :string,:input_html => {value: (number_with_precision(f.object.total, :precision => 2)) ,:class => 'eye_glass_order_total price_inp'},:wrapper => false
          .col-md-6
            = f.input :comments, as: :text,:input_html => {:cols => 6, :rows => 3 }