.row
  .col-md-6
    .row.static-info
      .col-md-12.name
        %h3
          = glass.selected_finalize ? "Finalized Glass Prescription" : "Manually Entered Prescription"
.row.table-responsive
  .col-md-12
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th
            
          %th
            SPHERE
          %th
            CYLINDER
          %th
            AXIS
          %th
            ADD(OU)
          %th
            BASE CURVE
          %th
            SEGMENT HEIGHT
          %th
            PRISM
      %tbody
        .col-md-12
          %tr
            %th
              OD
            %td
              = glass.od_sphere
            %td
              = glass.od_cylinder
            %td
              = glass.od_axis
            %td
              = glass.ou_add
            %td
              = glass.od_base_curve
            %td
              = glass.od_segment_height
            %td
              = glass.od_prism
        .col-md-12
          %tr
            %th
              OS
            %td
              = glass.os_sphere
            %td
              = glass.os_cylinder
            %td
              = glass.os_axis
            %td
              = glass.ou_add
            %td
              = glass.os_base_curve
            %td
              = glass.os_segment_height
            %td
              = glass.os_prism
-unless suborder.is_empty_frame_details? && suborder.eyeglass_types_price.blank? && suborder.lens_material.blank? && glass.visual_acuity.is_empty? && suborder.addon_details.blank?
  .portlet.gren
    .portlet-title
      .caption
        %i.fa.fa-gift
        Sub Order
    .portlet-body
      .row
        .col-md-4
          -#.row
          %table.table.table-hover.table-advance
            %tbody
              %tr
                %th
                  Lens Type
                -if suborder.eyeglass_types_price.present? 
                  %td
                    = suborder.eyeglass_types_price.glasstype
                  %td
                    = "$"+number_with_precision(suborder.glass_type_price, :precision => 2).to_s
                -else
                  %td{ :colspan => '2'}
                    %i.fa.fa-search
                    %em No lens type
              %tr
                %th Lens Material
                -if suborder.lens_material.present?
                  %td
                    = suborder.lens_material.name
                  %td
                    -unless suborder.lens_material_price.present?
                      = "$"+number_with_precision(suborder.lens_material.price, :precision => 2).to_s
                    -else
                      = "$"+number_with_precision(suborder.lens_material_price, :precision => 2).to_s
                -else
                  %td{ :colspan => '2'}
              %tr
                %th Lens Addons
                %td
                  - suborder.addon_details.each do |detail|
                    -unless detail.is_empty?
                      .row
                        %label.col-md-12
                          = detail.glass_addons_price.addon if detail.glass_addons_price.present?
                          = "("+detail.color.to_s+")"
                %td
                  - suborder.addon_details.each do |detail|
                    -unless detail.is_empty?
                      .row
                        %label.col-md-12
                          = "$"+number_with_precision(detail.glass_addons_price.price, :precision => 2).to_s if detail.glass_addons_price.present?
        .col-md-5
          %table.table.table-hover.table-advance
            %tbody
              %tr
                %th 
                  Frame
                -if suborder.glass_frames_price.present?
                  %td
                    = suborder.glass_frames_price.frame
                  %td{ :colspan => 2 , :align => 'center'}
                    -unless suborder.frame_price.present?
                      = "$"+number_with_precision(suborder.glass_frames_price.price, :precision => 2)
                    -else
                      = "$"+number_with_precision(suborder.frame_price, :precision => 2)
                -else
                  %td{ :colspan => 2 }
                    %i.fa.fa-search
                    %em No frame found
              - unless suborder.is_empty_frame_details?
                %tr
                  %td Model
                  %td{ :class => 'right_border'}
                    = suborder.model
                  
                  %td  Material
                  %td
                    = suborder.material
                %tr
                  %td Eye Size
                  %td{ :class => 'right_border'}
                    = suborder.eye_size
                  
                  %td  Temple
                  %td
                    = suborder.temple
                .row
                  .col-md-1
                  .col-md-4
                %tr
                  %td Bridge
                  %td{ :class => 'right_border'}
                    = suborder.bridge

                  %td  B
                  %td
                    = suborder.glass_b
                %tr
                  %td Color
                  %td{ :class => 'right_border'}
                    = suborder.color

                  %td  ED
                  %td
                    = suborder.glass_ed
              -else
                %td{ :colspan => 2 }
                  %i.fa.fa-search
                  %em No frame details found
        .col-md-3
          %table.table.table-hover
            %tbody
              %tr
                %th
                  Pupillary Distance
                %th
                  = "OD"
                %th
                  = "OS"
                %th
                  = "OU"
              -unless glass.visual_acuity.is_empty?
                %tr
                  %th
                    Distance
                  %td
                    = glass.visual_acuity.distance_od
                  %td
                    = glass.visual_acuity.distance_os
                  %td
                    = glass.visual_acuity.distance_ou
                %tr
                  %th
                    Intermediate
                  %td
                    = glass.visual_acuity.intermediate_od
                  %td
                    = glass.visual_acuity.intermediate_os
                  %td
                    = glass.visual_acuity.intermediate_ou
                %tr
                  %th
                    Near
                  %td
                    = glass.visual_acuity.near_od
                  %td
                    = glass.visual_acuity.near_os
                  %td
                    = glass.visual_acuity.near_ou
              -else
                %tr
                  %td{ :colspan => 2 }
                    %i.fa.fa-search
                    %em No data found
      %hr
-else
  .goods-page{:style => 'display:block;',:class => "glass_manual_change",data: {:suborder => suborder.id}}
    .goods-data.clearfix
      .table-responsive
        %table.table.table-hover.table-bordered.table-striped
          %thead
            %tr
              %th
                = "Sub-Order"
          %tbody
            %tr
              %td.text-center{:colspan => 3}
                %i.fa.fa-search
                %em No sub-order found
                %em click here to add sub-order
-#
  .col-md-12
    .portlet.box.red-intense
      .portlet-title
        .caption
          %i.fa.fa-money
          Benefits
      .portlet-body
        .form-group
          %label.col-md-6 Allowance
          %label.col-md-6
            = "$ "+number_with_precision(suborder.frame_allowance.to_s, :precision => 2)
        .form-group
          %label.col-md-6 Overage Discount(%)
          %label.col-md-6
            = suborder.overage_discount.to_s+"%"
        .form-group
          %label.col-md-6 Discount(%)
          %label.col-md-6
            = suborder.discount.to_s+"%"
        .form-group
          %label.col-md-6 Material Copay
          %label.col-md-6
            = "$ "+number_with_precision(suborder.material_copay.to_s, :precision => 2)
        .goods-page-price
          %strong Total
          .form-group
            %label.col-md-6
              = "$ "+number_with_precision(suborder.total.to_s, :precision => 2)
.form-actions
  .pull-right
    = link_to "&nbsp;Edit".html_safe,"#glass_manual_toggle_"+suborder.id.to_s,:class => 'fa fa-pencil btn btn-md blue-hoki glass_manual_change',data: {:suborder => suborder.id}
:css 
  .right_border {
    border-right: thick solid;
    }