.row
  .col-md-12
    .row
      .col-md-12
        .col-md-2 
          =#glass.input :od_sphere, label: 'SPH',:input_html => { placeholder: 'OD'}
          =glass.input :od_sphere, label: 'SPH', collection: (@setting.glass_sphere_start.to_i..@setting.glass_sphere_end.to_i).step(0.25).to_a.map! { |e| e > 0 ? "+#{'%.2f'%e}" : (e==0 ? "pl" : '%.2f'%e)}.reverse,prompt: "Sphere"
        .col-md-1
          =# glass.input :od_cylinder, label: 'CYL'
          = glass.input :od_cylinder, label: 'CYL', collection: ((@setting.glass_cylinder_start.to_i..@setting.glass_cylinder_end.to_i).step(0.25).to_a.map! { |e| e > 0 ? ("+#{'%.2f'%e}" if e != 0) : '%.2f'%e}-["0.00"]).reverse, :include_blank => true,input_html: {:class => 'cyl_view_change'}
        .col-md-2
          =# glass.input :od_axis, label: 'Axis'
          =glass.input :od_axis, label: 'Axis', collection: (1..180).step(1).to_a
        .col-md-1
          = glass.input :ou_add, label: 'Add',collection: AppConstant::ADD,input_html: {:class => 'add_view_change'}
        .col-md-2
          = glass.input :od_prism, label: 'Prism'
        .col-md-2
          = glass.input :od_segment_height, label: 'Segment Height'
        .col-md-2
          = glass.input :od_base_curve, label: 'Base Curve'      
    .row
      .col-md-12
        .col-md-2
          =#glass.input :os_sphere, label: false,:input_html => { placeholder: 'OS'}
          =glass.input :os_sphere, label: false, collection: (@setting.glass_sphere_start.to_i..@setting.glass_sphere_end.to_i).step(0.25).to_a.map! { |e| e > 0 ? "+#{'%.2f'%e}" : (e==0 ? "pl" : '%.2f'%e)}.reverse,prompt: "Sphere"
        .col-md-1
          =# glass.input :os_cylinder, label: false
          = glass.input :os_cylinder, label: false, collection: ((@setting.glass_cylinder_start.to_i..@setting.glass_cylinder_end.to_i).step(0.25).to_a.map! { |e| e > 0 ? ("+#{'%.2f'%e}" if e != 0) : '%.2f'%e}-["0.00"]).reverse, :include_blank => true,input_html: {:class => 'cyl_view_change'}
        .col-md-2
          =# glass.input :os_axis, label: false
          =glass.input :os_axis, label: false, collection: (1..180).step(1).to_a
        .col-md-1
          = select_tag :add_duplicate, options_for_select(AppConstant::ADD.collect{|u| [u,u]},glass.object.ou_add), :class => "form-control add_view_change", :include_blank => true
        .col-md-2
          = glass.input :os_prism, label: false
        .col-md-2
          = glass.input :os_segment_height, label: false
        .col-md-2
          = glass.input :os_base_curve, label: false
          = glass.input :selected_finalize,as: :hidden
          -#= glass.input :id, as: :hidden
.row
  .col-md-6
    .portlet.box.blue
      .portlet-title{:style => "padding-top: 5px !important; padding-bottom: 0px !important;"}
        .caption
          %i.fa.fa-circle-thin
          Lens
      .portlet-body
        .row
          .col-md-2
            %label Type
          .col-md-4
            =# glass.input :glasses_type,label:'Type',input_html: {class: "glasses-type"}
            = f.input :eyeglass_types_price_id,collection: current_organisation.eyeglass_types_prices, :prompt => "Choose a type", label: false,:label_method=> :glasstype,:value_method=> :id,input_html:{value: (number_with_precision(f.object.eyeglass_types_price_id, :precision => 2)) ,:multiple => false,class: "glasses-type"}
          .col-md-6
            .form-group
              .input-icon
                %i.fa.fa-dollar
                = f.input :glass_type_price,label: false,as: :string,:input_html => {value: (number_with_precision(f.object.glass_type_price, :precision => 2)) ,:class => 'price_inp glass_total_calc', data: { :suborder => f.object.id }},:wrapper => false
        .row
          .col-md-12
            .row
              .col-md-2
                %label Material
              .col-md-4
                = f.input :lens_material_id,collection: current_organisation.lens_materials, :prompt => "Choose a material", label: false,:label_method=> :name,:value_method=> :id,input_html:{:multiple => false,:class => "lens-material" }
              .col-md-6
                .form-group
                  .input-icon
                    %i.fa.fa-dollar
                    = f.input :lens_material_price,label: false,as: :string,:input_html => {value: (number_with_precision(f.object.lens_material_price, :precision => 2)) ,:class => 'price_inp glass_total_calc', data: { :suborder => f.object.id }},:wrapper => false
            .row
              .col-md-9
                .portlet
                  .portlet-title{:style => "padding-top: 5px !important; padding-bottom: 0px !important;"}
                    .caption
                      %i.fa.fa-gift
                      Add-on details
                  .portlet-body.form
                    #addondetails
                      .dataTables_scroll
                        .dataTables_scrollBody{ :style => "overflow-y: auto;overflow-x: hidden; height: 200px; width: 100%;"}
                          .form-body{:id => 'glass_addons_'+f.object.id.to_s }
                            = render 'doctor/orders/order_partial/eye_glass_order/addon_detail_fields',:f => f
                          .form-actions.right
                            -#= link_to 'Add new', add_glass_addon_order_path(f.object),:partial => 'doctor/orders/order_partial/eye_glass_order/addon_detail_fields',:class => "btn btn-success btn-sm glass_total_calc_for_addons", data: { :suborder => f.object.id }
                            = link_to "Add New", add_glass_addon_order_path(f.object), remote: true, class: 'btn btn-sm btn-primary'
              .col-md-3
                .form-group
                  %label Add-on Total Price
                  .input-icon
                    %i.fa.fa-dollar
                    = f.input :addons_price,as: :string,label: false,:input_html => {value: (number_with_precision(f.object.addons_price, :precision => 2)) ,:class => 'price_inp glass_total_calc', data: { :suborder => f.object.id }},:wrapper => false
  .col-md-6
    .portlet.box.blue
      .portlet-title{:style => "padding-top: 5px !important; padding-bottom: 0px !important;"}
        .caption
          %i.fa.fa-windows
          Frame
      .portlet-body
        .row
          .col-md-2
            %label Frame
          .col-md-6
            = f.input :glass_frames_price_id,collection: current_organisation.glass_frames_prices, label: false,:label_method=> :frame,input_html:{:multiple => false ,:class => "glass-frame", :prompt => "Choose a Frame" }
          .col-md-4
            .form-group
              .input-icon
                %i.fa.fa-dollar
                = f.input :frame_price,label: false,as: :string,:input_html => {value: (number_with_precision(f.object.frame_price, :precision => 2)) ,:class => 'price_inp input-icon glass_total_calc', data: { :suborder => f.object.id }},:wrapper => false
        .row
          .col-md-3
            = f.input :model,label: 'Model',size: 10
          .col-md-3
            = f.input :eye_size,label: 'Eye Size'
          .col-md-3
            = f.input :bridge,label: 'Bridge'
          .col-md-3
            = f.input :glass_b,label: 'B'
        .row
          .col-md-3
            = f.input :color,label: 'Color'
          .col-md-3
            = f.input :material,label: 'Material'
          .col-md-3
            = f.input :temple,label: 'Temple'
          .col-md-3
            = f.input :glass_ed,label: 'ED'
        .row
          .col-md-12
            = f.input :id,as: :hidden
            -#= f.input :comments,as: :text,:input_html => {:cols => 6, :rows => 5 }
  .col-md-6
    .portlet.box.blue
      .portlet-title{:style => "padding-top: 5px !important; padding-bottom: 0px !important;"}
        .caption
          %i.fa.fa-eye
          Pupillary Distance
      .portlet-body.form
        .form-body
          = glass.simple_fields_for :visual_acuity, glass.object.visual_acuity.present? ? glass.object.visual_acuity : glass.object.build_visual_acuity do |visual_acuity|
            .row
              -pd_d = "pd_d hidden"
              -pd_i = "pd_i hidden"
              -pd_n = "pd_n hidden"
              -pd_d = "pd_d" if visual_acuity.object.distance_od.present? || visual_acuity.object.distance_os.present? || visual_acuity.object.distance_ou.present?
              -pd_i = "pd_i" if visual_acuity.object.intermediate_od.present? || visual_acuity.object.intermediate_os.present? || visual_acuity.object.intermediate_ou.present?
              -pd_n = "pd_n" if visual_acuity.object.near_od.present? || visual_acuity.object.near_os.present? || visual_acuity.object.near_ou.present?
              .col-md-4
                = visual_acuity.label :distance_od,'Distance', class: "pupillary_distance_distance btn btn-sm green"
                = visual_acuity.input :distance_od,label:false,:input_html => { class: pd_d,placeholder: 'OD'}
              .col-md-4
                = visual_acuity.label :intermediate_od,'Intermediate',class: "pupillary_distance_intermediate btn btn-sm green"
                = visual_acuity.input :intermediate_od,label:false,:input_html => { class: pd_i,placeholder: 'OD'}
              .col-md-4
                = visual_acuity.label :near_od,'Near', class: "pupillary_distance_near btn btn-sm green"
                = visual_acuity.input :near_od,label:false,:input_html => { class: pd_n,placeholder: 'OD'}
            .row
              .col-md-4
                = visual_acuity.input :distance_os,label: false,:input_html => { class: pd_d,placeholder: 'OS'}
              .col-md-4
                = visual_acuity.input :intermediate_os,label:false,:input_html => { class: pd_i,placeholder: 'OS'}
              .col-md-4
                = visual_acuity.input :near_os,label: false,:input_html => { class: pd_n,placeholder: 'OS'}
            .row
              .col-md-4
                = visual_acuity.input :distance_ou,label: false,:input_html => { class: pd_d,placeholder: 'OU'}
              .col-md-4
                = visual_acuity.input :intermediate_ou,label: false,:input_html => { class: pd_i,placeholder: 'OU'}
              .col-md-4
                = visual_acuity.input :near_ou,label: false,:input_html => { class: pd_n,placeholder: 'OU'}
:css
  .cyl_view_change {
    width: 90px;
  }
  .add_view_change {
    width: 90px;
  }

:javascript

  $(document).on('change','.eye_glass_order_glasses_ou_add select',function(){
      $(this).closest(".row").next().find('select.add_duplicate').val($(this).val());
  })
  $(document).on('change','.add_duplicate',function(){
      $(this).closest(".row").prev().find('.eye_glass_order_glasses_ou_add select').val($(this).val());
  })