.row
  - if object.any?
    - object.each_with_index do |ord,index|
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th
              #{index+1}.
            %td
              %b
                Issue date:
              = ord['issued_date']
            %th.hidden-480
              SPHERE
            %th.hidden-480
              CYLINDER
            %th.hidden-480
              AXIS
            %th.hidden-480
              ADD
            %th.hidden-480
              PRISM
        %tbody
          .col-md-12
            %tr
              %th
              %th
                OD
              %td
                = ord['od_sphere']
              %td.hidden-480
                = ord['od_cylinder']
              %td.hidden-480
                = ord['od_axis']
              %td.hidden-480
                = ord['ou_add']
              %td.hidden-480
                = ord['od_prism']
          .col-md-12
            %tr
              %th
              %th
                OS
              %td
                = ord['os_sphere']
              %td.hidden-480
                = ord['os_cylinder']
              %td.hidden-480
                = ord['os_axis']
              %td.hidden-480
                = ord['ou_add']
              %td.hidden-480
                = ord['os_prism']
              
          .col-md-12
            %tr
              %th
              %th
                Recommendations:
              %td{:colspan => "5"}
                = ord['doctor_recommendations'].is_a?(Array) ? ord['doctor_recommendations'].compact.join(', ') : ord['doctor_recommendations']
          .col-md-12
            %tr
              %th
              %th
                Comments
              %td{:colspan => "4"}
                = ord['comments'].is_a?(Array) ? ord['comments'].compact.join(', ') : ord['comments']
              %td.hidden-480
                %button{:href => "#",:class => "select_glass_prescp_option btn btn-primary pull-right" ,:data => {:dismiss => 'modal',:form_prescp => form_id,:selected => ord }}Import
              
  - else
    .col-md-8.text-center
      %i.fa.fa-search
      %em No prescription found
:javascript
  $(document).on('click','.select_glass_prescp_option',function(){
    var form = $('#'+$(this).data('form-prescp'));
    form.find('#eye_glass_order_glasses_attributes_0_od_sphere').val($(this).data('selected-od-sphere'));

    form.find('#eye_glass_order_glasses_attributes_0_od_cylinder').val($(this).data('selected-od-cylinder'));
    
    form.find('#eye_glass_order_glasses_attributes_0_od_axis').val($(this).data('selected-od-axis'));

    form.find('#eye_glass_order_glasses_attributes_0_od_prism').val($(this).data('selected-od-prism'));
    
    form.find('#eye_glass_order_glasses_attributes_0_ou_add').val($(this).data('selected-ou-add'));
    
    form.find('#eye_glass_order_glasses_attributes_0_os_sphere').val($(this).data('selected-os-sphere'));
    
    form.find('#eye_glass_order_glasses_attributes_0_os_cylinder').val($(this).data('selected-os-cylinder'));
    
    form.find('#eye_glass_order_glasses_attributes_0_os_axis').val($(this).data('selected-os-axis'));
    
    form.find('#eye_glass_order_glasses_attributes_0_os_prism').val($(this).data('selected-os-prism'));

    if(!isNaN($(this).data('selected-finalize'))){
      form.find('#eye_glass_order_glasses_attributes_0_selected_finalize').val("true");
    }

    // To toggle static prescription view on importing a prescription
    // if(form.find('.glass_form_fields').is(':hidden')){
      //form.find('.lens_manual_change').trigger('click');
      $('#glass_edit_manual_change_'+$(this).data('form-prescp').match(/\d+/)[0]+",#glasses_prescription_manual_change_"+$(this).data('form-prescp').match(/\d+/)[0]+",#glass_save_manual_change_"+$(this).data('form-prescp').match(/\d+/)[0]);
    // }
    form.submit();
  });
