= f.simple_fields_for :eye_glass_orders,@order.eye_glass_orders do |glass_order|
  = render 'doctor/orders/order_partial/eye_glass_order/eye_glass_order_fields',:f => glass_order,:sherlock => glass_order.options[:child_index]
.pull-right 
  = link_to_add_association "<i class='fa fa-plus'></i>&nbsp;Add new".html_safe, f, :eye_glass_orders,:partial => 'doctor/orders/order_partial/eye_glass_order/eye_glass_order_fields',:render_options => {:locals => {:sherlock => Time.now.to_i }},:class => "btn btn-success lens-tools tooltip-set","data-original-title" => "click to add more eye glass orders", "data-placement" => "right", "data-toggle" => "tooltip"
