.row 
  .col-md-12
    .col-md-4
      .portlet.box.red-sunglo
        .portlet-title
          .caption
            %i.fa.fa-plus-square>
            Medical History
          .actions
            = link_to "Update All", edit_records_settings_path(form_type: "disease", disease_type: "medical"),  remote: true, class: "btn btn-default btn-sm"
            %a.btn.btn-default.btn-sm{"data-toggle" => "modal", :href => "#medical_history_modal"}
              %i.fa.fa-pencil
              Add New
        .portlet-body
          .dataTables_scroll
            .dataTables_scrollBody.disease_box
              %table.table.table-striped.table-hover.dataTable.no-footer
                %tbody
                  - @diseases_medical.each do |disease|
                    %tr
                      %td.max-width
                        = disease.name.capitalize
                      %td
                        = link_to "Delete", delete_disease_settings_path(id: disease.id), remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete
          
      #medical_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Add Medical History
            = form_tag add_disease_settings_path do
              .modal-body
                .object
                  .row
                    .col-md-11.form-group
                      = text_field_tag "diseases[1][name]","", class: "form-control",required: true
                      = hidden_field_tag "diseases[1][groups][]", "medical"
                    .col-md-1
                      = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
                  

              .modal-footer            
                %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
                %button.btn.btn-sm.blue Save

    .col-md-4
      .portlet.box.blue-madison
        .portlet-title
          .caption
            %i.fa.fa-plus-square>
            Ocular History
          .actions
            = link_to "Update All", edit_records_settings_path(form_type: "disease", disease_type: "oculus"),  remote: true, class: "btn btn-default btn-sm"            
            %a.btn.btn-default.btn-sm{"data-toggle" => "modal", :href => "#oculus_history_modal"}
              %i.fa.fa-pencil
              Add New
        .portlet-body
          .dataTables_scroll
            .dataTables_scrollBody.disease_box
              %table.table.table-striped.table-hover.dataTable.no-footer
                %tbody
                  - @diseases_oculus.each do |disease|
                    %tr
                      %td.max-width
                        = disease.name.capitalize
                      %td
                        = link_to "Delete", delete_disease_settings_path(id: disease.id), remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete

          
      #oculus_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Add Ocular History
            = form_tag add_disease_settings_path do
              .modal-body
                .object
                  .row
                    .col-md-11.form-group
                      = text_field_tag "diseases[1][name]","", class: "form-control",required: true
                      = hidden_field_tag "diseases[1][groups][]", "oculus"
                    .col-md-1
                      = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
              .modal-footer            
                %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
                %button.btn.btn-sm.blue Save

    .col-md-4
      .portlet.box.blue-steel
        .portlet-title
          .caption
            %i.fa.fa-plus-square>
            Allergies
          .actions
            = link_to "Update All", edit_records_settings_path(form_type: "disease", disease_type: "allergy"),  remote: true, class: "btn btn-default btn-sm"

            %a.btn.btn-default.btn-sm{"data-toggle" => "modal", :href => "#allergy_history_modal"}
              %i.fa.fa-pencil
              Add New
        .portlet-body
          .dataTables_scroll
            .dataTables_scrollBody.disease_box
              %table.table.table-striped.table-hover.dataTable.no-footer
                %tbody
                  - @diseases_allergy.each do |disease|
                    %tr
                      %td.max-width
                        = disease.name.capitalize
                      %td
                        = link_to "Delete", delete_disease_settings_path(id: disease.id), remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete


          
      #allergy_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Add Allergies
            = form_tag add_disease_settings_path do
              .modal-body
                .object
                  .row
                    .col-md-11.form-group
                      = text_field_tag "diseases[1][name]","", class: "form-control",required: true
                      = hidden_field_tag "diseases[1][groups][]", "allergy"
                    .col-md-1
                      = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
              .modal-footer            
                %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
                %button.btn.btn-sm.blue Save
.row
  .col-md-12
    .col-md-4
      .portlet.box.blue-steel
        .portlet-title
          .caption
            %i.fa.fa-plus-square>
            Surgery
          .actions
            = link_to "Update All", edit_records_settings_path(form_type: "disease", disease_type: "surgery"),  remote: true, class: "btn btn-default btn-sm"

            %a.btn.btn-default.btn-sm{"data-toggle" => "modal", :href => "#surgery_history_modal"}
              %i.fa.fa-pencil
              Add New
        .portlet-body
          .dataTables_scroll
            .dataTables_scrollBody.disease_box
              %table.table.table-striped.table-hover.dataTable.no-footer
                %tbody
                  - @diseases_surgery.each do |disease|
                    %tr
                      %td.max-width
                        = disease.name.capitalize
                      %td
                        = link_to "Delete", delete_disease_settings_path(id: disease.id), remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete
         
      #surgery_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Add Surgeries
            = form_tag add_disease_settings_path do
              .modal-body
                .object
                  .row
                    .col-md-11.form-group
                      = text_field_tag "diseases[1][name]","", class: "form-control",required: true
                      = hidden_field_tag "diseases[1][groups][]", "surgery"
                    .col-md-1
                      = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
              .modal-footer            
                %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
                %button.btn.btn-sm.blue Save

    .col-md-4
      .portlet.box.red-sunglo
        .portlet-title
          .caption
            %i.fa.fa-plus-square>
            Medication
          .actions
            = link_to "Update All", edit_records_settings_path(form_type: "disease", disease_type: "psychology"),  remote: true, class: "btn btn-default btn-sm"

            %a.btn.btn-default.btn-sm{"data-toggle" => "modal", :href => "#psychology_history_modal"}
              %i.fa.fa-pencil
              Add New
        .portlet-body
          .dataTables_scroll
            .dataTables_scrollBody.disease_box
              %table.table.table-striped.table-hover.dataTable.no-footer
                %tbody
                  - @diseases_psychology.each do |disease|
                    %tr
                      %td.max-width
                        = disease.name.capitalize
                      %td
                        = link_to "Delete", delete_disease_settings_path(id: disease.id), remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete
          
      #psychology_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Add Medication
            = form_tag add_disease_settings_path do
              .modal-body
                .object
                  .row
                    .col-md-11.form-group
                      = text_field_tag "diseases[1][name]","", class: "form-control",required: true
                      = hidden_field_tag "diseases[1][groups][]", "psychology"
                    .col-md-1
                      = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
              .modal-footer            
                %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
                %button.btn.btn-sm.blue Save
        
    .col-md-4
      .portlet.box.blue-madison
        .portlet-title
          .caption
            %i.fa.fa-plus-square>
            Impression
          .actions
            = link_to "Update All", edit_records_settings_path(form_type: "impression"),  remote: true, class: "btn btn-default btn-sm"

            %a.btn.btn-default.btn-sm{"data-toggle" => "modal", :href => "#Impression_modal"}
              %i.fa.fa-pencil
              Add New
        .portlet-body
          .dataTables_scroll
            .dataTables_scrollHead.disease_datatable_head
              .dataTables_scrollHeadInner.disease_datatable_innerhead
                .dataTables_scrollBody.disease_box
                  %table.table.table-striped.table-hover.dataTable.no-footer
                    %thead
                      %tr
                        %th.max-width
                          Impression
                        %th
                          Code
                    %tbody
                      - @impressions.each do |impression|
                        %tr
                          %td.max-width
                            = impression.name.capitalize
                          %td
                            = impression.code
                          %td
                            = link_to "Delete", delete_impression_settings_path(id: impression.id), remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete
         
                
      #Impression_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Add Impressions
            = form_tag add_impression_settings_path do
              .modal-body
                .row
                  .col-md-6
                    Impression
                  .col-md-5
                    Impression Code
                .row.object
                  .col-md-6.form-group
                    = text_field_tag "impressions[1][name]","", class: "form-control",required: true
                  .col-md-5.form-group
                    = text_field_tag "impressions[1][code]","", class: "form-control",required: true
                  .col-md-1.form-group
                    = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
              .modal-footer            
                %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
                %button.btn.btn-sm.blue Save
.row      
  .col-md-12
    .col-md-6
      .portlet.box.red-sunglo
        .portlet-title
          .caption
            %i.fa.fa-money>
            Procedure
          .actions
            = link_to "Update All", edit_records_settings_path(form_type: "procedure"),  remote: true, class: "btn btn-default btn-sm"

            %a.btn.btn-default.btn-sm{"data-toggle" => "modal", :href => "#procedure_modal"}
              %i.fa.fa-pencil
              Add New
        .portlet-body
          .dataTables_scroll
            .dataTables_scrollHead.disease_datatable_head
              .dataTables_scrollHeadInner.disease_datatable_innerhead
                .dataTables_scrollBody.disease_box
                  %table.table.table-striped.table-hover.dataTable.no-footer
                    %thead
                      %tr
                        %th.disease_th
                        %th
                          Name
                        %th
                          Exam Code
                        %th
                          Patient Pays
                        %th
                          Cost of Good
                    %tbody.procedure_table
                      - @procedures.each do |procedure|
                        %tr.grid_icon
                          %td
                            %i.glyphicon.glyphicon-th.hide
                          %td.max-width
                            = procedure.name.capitalize
                          %td
                            = procedure.code
                          %td
                            = number_to_currency(procedure.patient_pays)
                          %td
                            = number_to_currency(procedure.price)
                          %td
                            = link_to "Delete", delete_procedure_settings_path(id: procedure.id), remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete
         
      #procedure_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Add Procedures
            = form_tag add_procedure_settings_path do
              .modal-body
                .row
                  .col-md-4
                    Procedure
                  .col-md-3
                    Exam Code 
                  .col-md-2
                    Cost of Good
                  .col-md-2
                    Patient Pays 
                .row.object
                  .col-md-4.form-group
                    = text_field_tag "procedures[1][name]","", class: "form-control",required: true
                  .col-md-3.form-group
                    = text_field_tag "procedures[1][code]","", class: "form-control",required: true
                  .col-md-2.form-group
                    = text_field_tag "procedures[1][patient_pays]","", class: "form-control", placeholder: "$"
                  .col-md-2.form-group
                    = text_field_tag "procedures[1][price]","", class: "form-control", placeholder: "$",required: true
                  .col-md-1.form-group
                    = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
              .modal-footer            
                %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
                %button.btn.btn-sm.blue Save

    .col-md-6
      .portlet.box.blue-steel
        .portlet-title
          .caption
            %i.fa.fa-circle-thin>
            %i.fa.fa-circle-thin>
            Contact Lens Type
          .actions
            = link_to "Update All", edit_records_settings_path(form_type: "contact_lens"),  remote: true, class: "btn btn-default btn-sm"

            %a.btn.btn-default.btn-sm{"data-toggle" => "modal", :href => "#contact_lens_type_modal"}
              %i.fa.fa-pencil
              Add New
        .portlet-body
          .dataTables_scroll
            .dataTables_scrollHead.disease_datatable_head
              .dataTables_scrollHeadInner.disease_datatable_innerhead
                .dataTables_scrollBody.disease_box
                  %table.table.table-striped.table-hover.dataTable.no-footer
                    %thead
                      %tr
                        %th.max-width
                          Brand Name
                        %th
                          Base Curve
                        %th
                          Diameter
                        %th
                          Boxes Lasts
                        %th
                          Cost of Good
                        %th
                          Unit Price
                    %tbody
                      - @lenses.each do |lens|
                        %tr
                          %td.max-width
                            = lens.brand_name.capitalize
                          %td
                            = lens.base_curve
                          %td
                            = lens.diameters
                          %td
                            = lens.modality
                          %td
                            = number_to_currency(lens.cost_of_good)
                          %td
                            = number_to_currency(lens.price)
                          %td
                            = link_to "Delete", delete_lens_settings_path(id: lens.id), remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete
          
              
      #contact_lens_type_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog.bigModal
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Add Contact Lens Type
            = form_tag add_lens_settings_path do
              .modal-body
                .object
                  .row
                    .col-md-11.form-group
                      %label Brand Name
                      = text_field_tag "lenses[1][brand_name]","", class: "form-control",required: true
                      = hidden_field_tag 'action_type' ,'add_new'
                    .col-md-1.form-group
                      = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
                    
                    .col-md-3.form-group
                      %label Modality
                      = select_tag "lenses[1][modality]", options_for_select([['1 month', '1'], ['3 months', '3'] , ['6 months', '6'] , ['12 months', '12']]), class: "form-control"
                    .col-md-3.form-group
                      %label Type
                      = select_tag "lenses[1][lens_type]",options_for_select([['',''], ['Sphere', 'sphere'], ['Toric', 'toric'] , ['Multifocal', 'multifocal']]), class: "form-control lens_type_selection"
                    .col-md-3.form-group
                      %label Cost of Good
                      = text_field_tag "lenses[1][cost_of_good]","$0.00", class: "form-control", placeholder: "$"
                    .col-md-3.form-group
                      %label Unit Price
                      = text_field_tag "lenses[1][price]","$100.00", class: "form-control", placeholder: "$",required: true
                    .col-md-2.form-group
                      %label Base Curves
                      = text_field_tag "lenses[1][base_curve]",AppConstant::BC_VAL.join(','),class: 'form-control multi-select-base-curves'
                    .col-md-2.form-group
                      %label Diameters
                      = text_field_tag "lenses[1][diameters]",AppConstant::DIA_VAL.join(','),class: 'form-control multi-select-diameters'
                    .col-md-2.form-group
                      %label Sphere
                      =text_field_tag "lenses[1][sphere]", AppConstant::SPH_VAL.join(','), class: "form-control multi-select-sphere"
                    .col-md-2.form-group.lenses_cylinder
                      %label Cylinder
                      =text_field_tag "lenses[1][cylinder]", AppConstant::CYL_VAL.join(','), class: "form-control multi-select-cylinder"
                    .col-md-2.form-group.lenses_axis
                      %label Axis
                      =text_field_tag "lenses[1][axis]",AppConstant::AXIS.join(','),class: "form-control multi-select-axis"
                    .col-md-2.form-group.lenses_add
                      %label Add
                      =text_field_tag "lenses[1][add]", AppConstant::ADD_VAL.join(','), class: "form-control multi-select-add"

              .modal-footer            
                %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
                %button.btn.btn-sm.blue Save      
.row
  .col-md-12  
    .col-md-6
      .portlet.box.red-sunglo
        .portlet-title
          .caption
            %i.icon-eyeglasses>
            Set Eyeglass Ranges
        
        .portlet-body
          .eyeglass_range_edit
            = simple_form_for @settings do |f|
              %h1
              .row
                .col-md-2 Sphere
                .col-md-offset-1.col-md-3
                  = f.input :glass_sphere_start, label: false, as: :string, :input_html => {:rows => 1,  value: range_number_conversion(@settings.glass_sphere_start)}      
                .col-md-offset-1.col-md-3
                  = f.input :glass_sphere_end, label: false, as: :string, :input_html => {:rows => 1,  value: range_number_conversion(@settings.glass_sphere_end)}
              .row.eyeglass_range_slider
                .col-md-offset-2.col-md-9 
                  %input#sphere_eyeglass_slider{:"data-slider-max" => "40", :"data-slider-min" => "-40", :"data-slider-step" => "0.25", :"data-slider-value" => "#{@settings.glass_sphere_start},#{@settings.glass_sphere_end}", :type => "text"}
              %hr
              .row
                .col-md-2 Cylinder
                .col-md-offset-1.col-md-3 
                  = f.input :glass_cylinder_start, label: false, as: :string, :input_html => {:rows => 1,  value: range_number_conversion(@settings.glass_cylinder_start)}
                .col-md-offset-1.col-md-3
                  = f.input :glass_cylinder_end, label: false, as: :string, :input_html => {:rows => 1,  value: range_number_conversion(@settings.glass_cylinder_end)}
              .row.eyeglass_range_slider
                .col-md-offset-2.col-md-9   
                  %input#cylinder_eyeglass_slider{:"data-slider-max" => "+20", :"data-slider-min" => "-20", :"data-slider-step" => "0.25", :"data-slider-value" => "#{@settings.glass_cylinder_start},#{@settings.glass_cylinder_end}", :type => "text"}
              %hr
              .row
                .col-md-2 Add
                .col-md-offset-1.col-md-3
                  = f.input :glass_add_start, label: false, as: :string, :input_html => {:rows => 1,  value: range_number_conversion(@settings.glass_add_start)}
                .col-md-offset-1.col-md-3
                  = f.input :glass_add_end, label: false, as: :string, :input_html => {:rows => 1,  value: range_number_conversion(@settings.glass_add_end)}
              .row.eyeglass_range_slider
                .col-md-offset-2.col-md-9   
                  %input#add_eyeglass_slider{:"data-slider-max" => "10", :"data-slider-min" => "0.25", :"data-slider-step" => "0.25", :"data-slider-value" => "#{@settings.glass_add_start},#{@settings.glass_add_end}", :type => "text"}
              .modal-footer
                = link_to "<button class=\"btn btn-sm btn-success\" type=\"button\">Edit</button>".html_safe, "#", class: "edit_glass_range"
                %button.btn.btn-sm.blue.set_glass_range Save
.row
  .col-md-12
    .col-md-4
      .portlet.box.blue-steel
        .portlet-title
          .caption
            %i.fa.fa-plus-square
            Recommendations
          .actions
            = link_to "Update All", edit_records_settings_path(form_type: "recommendation"), remote: true, class: "btn btn-default btn-sm"

            %a.btn.btn-default.btn-sm{"data-toggle" => "modal", :href => "#recommendation_modal"}
              %i.fa.fa-pencil
              Add New
        .portlet-body
          .dataTables_scroll
            .dataTables_scrollBody.disease_box
              %table.table.table-striped.table-hover.dataTable.no-footer
                %tbody.recommendation_table
                  - @recommendations.each do |reco|
                    %tr.grid_icon
                      %td
                        %i.glyphicon.glyphicon-th.hide
                      %td.max-width
                        = reco.name.try(:capitalize)
                      %td
                        = link_to "Delete", delete_recommendation_settings_path(id: reco.id), remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete
      

      #recommendation_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Add Recommendation
            = form_tag add_recommendation_settings_path do
              .modal-body
                .object
                  .row
                    .col-md-11.form-group
                      = text_field_tag "doctor_recommendation[1][name]","", class: "form-control",required: true
              .modal-footer            
                %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
                %button.btn.btn-sm.blue Save                
    
    .col-md-4
      .portlet.box.red-sunglo
        .portlet-title
          .caption
            %i.fa.fa-plus-square>
            Prescribing Medications
          .actions
            = link_to "Update All", edit_records_settings_path(form_type: "disease", disease_type: "prescribing_medication"),  remote: true, class: "btn btn-default btn-sm"
            %a.btn.btn-default.btn-sm{"data-toggle" => "modal", :href => "#prescribing_medication_modal"}
              %i.fa.fa-pencil
              Add New
        .portlet-body
          .dataTables_scroll
            .dataTables_scrollBody.disease_box
              %table.table.table-striped.table-hover.dataTable.no-footer
                %tbody
                  - @prescribing_medications.each do |disease|
                    %tr
                      %td.max-width
                        = disease.name.capitalize
                      %td
                        = link_to "Delete", delete_disease_settings_path(id: disease.id), remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete
          
      #prescribing_medication_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Add Prescribing Medication
            = form_tag add_disease_settings_path do
              .modal-body
                .object
                  .row
                    .col-md-11.form-group
                      = text_field_tag "diseases[1][name]","", class: "form-control",required: true
                      = hidden_field_tag "diseases[1][groups][]", "prescribing_medication"
                    .col-md-1
                      = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
                  

              .modal-footer            
                %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
                %button.btn.btn-sm.blue Save

    .col-md-4
      .portlet.box.red-sunglo
        .portlet-title
          .caption
            %i.fa.fa-plus-square>
            Dosage
          .actions
            = link_to "Update All", edit_records_settings_path(form_type: "disease", disease_type: "dosage"),  remote: true, class: "btn btn-default btn-sm"
            %a.btn.btn-default.btn-sm{"data-toggle" => "modal", :href => "#dosage_modal"}
              %i.fa.fa-pencil
              Add New
        .portlet-body
          .dataTables_scroll
            .dataTables_scrollBody.disease_box
              %table.table.table-striped.table-hover.dataTable.no-footer
                %tbody
                  - @dosages.each do |disease|
                    %tr
                      %td.max-width
                        = disease.name.capitalize
                      %td
                        = link_to "Delete", delete_disease_settings_path(id: disease.id), remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete
          
      #dosage_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Add Dosage
            = form_tag add_disease_settings_path do
              .modal-body
                .object
                  .row
                    .col-md-11.form-group
                      = text_field_tag "diseases[1][name]","", class: "form-control",required: true
                      = hidden_field_tag "diseases[1][groups][]", "dosage"
                    .col-md-1
                      = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
                  

              .modal-footer            
                %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
                %button.btn.btn-sm.blue Save
.row
  .col-md-12
    .col-md-6
      .portlet.box.red
        .portlet-title.portlet-title-height
          .caption
            %i.fa.fa-flag>
            Prescription Expiration
        .portlet-body
          = simple_form_for :default_expiry_set,url: set_default_expiry_setting_path(current_organisation.setting.id),method: :put do |f|
            .row
              .col-md-5
                %b Years Selection Dropdown
                = f.select :default_expiry,1..5,:selected=>current_organisation.setting.default_expiry
              .col-md-2
                = submit_tag "Update" ,class: "btn btn-primary btn-sm"
          
    .col-md-6
      .portlet.box.red
        .portlet-title.portlet-title-height
          .caption
            %i.fa.fa-flag>
            E-Scribe Expiration
        .portlet-body
          = simple_form_for :default_escribe_expiry,url:set_default_escribe_expiry_setting_path(current_organisation.setting.id),method: :put do |f|
            .row
              .col-md-5
                %b Date Selection Dropdown
                = f.select :e_scribe_defexpirydate, options_for_select(AppConstant::ESCRIBE_EXPIRATION,:selected=>current_organisation.setting.e_scribe_defexpirydate)
              .col-md-2
                = submit_tag "Update" ,class: "btn btn-primary btn-sm"
.row
  .col-md-12
    .col-md-4
      .portlet.box.blue-steel
        .portlet-title
          .caption
            %i.fa.fa-plus-square
            Contact Lens Cleaning Solutions
          .actions
            = link_to "Update All", edit_records_settings_path(form_type: "cleaning_solution"), remote: true, class: "btn btn-default btn-sm"

            %a.btn.btn-default.btn-sm{"data-toggle" => "modal", :href => "#lens_prescription_modal"}
              %i.fa.fa-pencil
              Add New
        .portlet-body
          .dataTables_scroll
            .dataTables_scrollBody.disease_box
              %table.table.table-striped.table-hover.dataTable.no-footer
                %tbody
                  - @exam_cleaning_solution.each do |solution|
                    %tr.grid_icon
                      %td.max-width
                        = solution.name.try(:capitalize)
                      %td
                        = link_to "Delete", delete_cleaning_solution_settings_path(id: solution.id), remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete

                  

      #lens_prescription_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Add Cleaning Solutions
            = form_tag add_exam_cleaning_solution_settings_path do
              .modal-body
                .row.object
                  .col-md-11.form-group
                    = text_field_tag "solutions[1][name]","", class: "form-control",required: true
              .modal-footer            
                %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
                %button.btn.btn-sm.blue Save
        

//Modal will use to update all exam forms object
#edit_records_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.bigModal
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Update Records
        #edit_records_body.modal-body

:javascript
  ranges_modal_box_readonly();