//Preliminaries---------------------------------------------//

.portlet.box
  .portlet-title.hex_424242
    .caption
      %i.fa.fa-plus-square>
      Preliminaries
  .portlet-body
    .row
      = simple_form_for :exam_form_preliminary_defaults , url: set_preliminaries_defaults_settings_path, remote: true do |primlinary_f|
        .col-md-7
          .row
            .col-md-8
              = primlinary_f.input :eoms_def,label: "Eoms" , :input_html => {:value=> @def_values.eoms_def.present? ? @def_values.eoms_def : ""},required: false
          .row
            .col-md-8
              = primlinary_f.input :pupils_def, label: "Pupils" ,:input_html => {:value=> @def_values.pupils_def.present? ? @def_values.pupils_def : ""},required: false
          .row
            .col-md-8
              = primlinary_f.input :steropsis_def, label: "Stereopsis (Randot)", :input_html => {:value=> @def_values.steropsis_def.present? ? @def_values.steropsis_def : ""},required: false
        .col-md-5
          = primlinary_f.input :confrontational_def, label: "Confrontational Field", :input_html => {:value=>  @def_values.confrontational_def.present? ? @def_values.confrontational_def : ""},required: false

          = primlinary_f.input :color_vision_def, label: "Color Vision", :input_html => {:value=>  @def_values.color_vision_def.present? ? @def_values.color_vision_def : ""},required: false

          = primlinary_f.input :prelm_notes_def, label: "Additional testings / Notes", placeholder: "Add Notes", :input_html => {:value=>  @def_values.prelm_notes_def.present? ? @def_values.prelm_notes_def : ""},required: false
        .col-md-2
          = submit_tag "Update" ,class: "btn btn-success"



//Binocular Testing---------------------------------------------//
.portlet.box
  .portlet-title.hex_424242
    .caption
      %i.fa.fa-plus-square>
      Binocular Testing
  .portlet-body
    .row
      = simple_form_for :exam_form_binocular_defaults , url: set_binocular_defaults_settings_path, remote: true do |binocular_f| 
        .col-md-6
          %label
            Cover Test
          .row
            .col-md-4
              = binocular_f.input :ctd_def, label: "Distance", :wrapper_html => { :class => ''}, :input_html => {:value=> @def_values.ctd_def.present? ? @def_values.ctd_def : ""},required: false
  
            .col-md-4
              = binocular_f.input :ctn_def, label: "Near", :input_html => {:value=> @def_values.ctn_def.present? ? @def_values.ctn_def : ""},required: false
          .row
            .col-md-4
              = binocular_f.input :nra_def, label: "NRA", :input_html => {:value=> @def_values.nra_def.present? ? @def_values.nra_def : ""},required: false
            .col-md-4
              = binocular_f.input :pra_def, label: "PRA", :input_html => {:value=> @def_values.pra_def.present? ? @def_values.pra_def : ""},required: false
            .col-md-2
              = binocular_f.input :npc_def, label: "NPC", :input_html => {:value=> @def_values.npc_def.present? ? @def_values.npc_def : ""},required: false
            .row
            .col-md-10
              = binocular_f.input :notes_def, label: false, placeholder: "Add Notes", :input_html => {:value=> @def_values.notes_def.present? ? @def_values.notes_def : ""},required: false
        .col-md-6
          %label
            Phorias
          .row 
            %label.col-md-4
              Horizontal
            .col-md-4
              = binocular_f.input :hpd_def, label: "Distance", :input_html => {:value=> @def_values.hpd_def.present? ? @def_values.hpd_def : ""},required: false
            .col-md-4
              = binocular_f.input :hpn_def, label: "Near", :input_html => {:value=> @def_values.hpn_def.present? ? @def_values.hpn_def : ""},required: false
          .row 
            %label.col-md-4
              Vertical
            .col-md-4
              = binocular_f.input :vpd_def, label: "Distance", class: "col-lg-10", :input_html => {:value=> @def_values.vpd_def.present? ? @def_values.vpd_def : ""},required: false
            .col-md-4
              = binocular_f.input :vpn_def, label: "Near", :input_html => {:value=> @def_values.vpn_def.present? ? @def_values.vpn_def : ""},required: false
            .col-md-2
              = submit_tag "Update" ,class: "btn btn-success"


//External Exam---------------------------------------------//
.portlet.box
  .portlet-title.hex_424242
    .caption
      %i.fa.fa-plus-square>
      External Exam
  .portlet-body
    .row
      = simple_form_for :exam_form_external_defaults , url: set_external_defaults_settings_path, remote: true do |ext_f| 
        .col-md-6
          .row
            .col-md-4
              = ext_f.input :tear_film_def, label: "Tear film", :wrapper_html => { :class => ''}, :input_html => {:value=> @def_values.tear_film_def.present? ? @def_values.tear_film_def : ""},required: false
  
            .col-md-4
              = ext_f.input :cornea_def, label: "Cornea", :input_html => {:value=> @def_values.cornea_def.present? ? @def_values.cornea_def : ""},required: false
          .row
            .col-md-4
              = ext_f.input :lids_lashes_def, label: "Lids lashes", :input_html => {:value=> @def_values.lids_lashes_def.present? ? @def_values.lids_lashes_def : ""},required: false
            .col-md-4
              = ext_f.input :iris_def, label: "Iris", :input_html => {:value=> @def_values.iris_def.present? ? @def_values.iris_def : ""},required: false
          .row
            .col-md-4
              = ext_f.input :lens_def, label: "Lens", :input_html => {:value=> @def_values.lens_def.present? ? @def_values.lens_def : ""},required: false
            .col-md-4
              = ext_f.input :ac_def, label: "Ac", :input_html => {:value=> @def_values.ac_def.present? ? @def_values.ac_def : ""},required: false
          .row
            .col-md-4
              %strong
                Cycloplegic Drop Used:
          %br           
          .row
            .col-md-4
              = ext_f.input :cyclopelgic_text, label: "Drop 1", :input_html => {:value=> @def_values.cyclopelgic_text.present? ? @def_values.cyclopelgic_text: ""},required: false 
            .col-md-4
              = ext_f.input :cyclopelgic1_text, label: "Drop 2", :input_html => {:value=> @def_values.cyclopelgic1_text.present? ? @def_values.cyclopelgic1_text : ""},required: false
          .row
            .col-md-4
              = ext_f.input :cyclopelgic2_text, label: "Drop 3", :input_html => {:value=> @def_values.cyclopelgic2_text.present? ? @def_values.cyclopelgic2_text : ""},required: false 
            .col-md-4
              = ext_f.input :cyclopelgic3_text, label: "Drop 4", :input_html => {:value=> @def_values.cyclopelgic3_text.present? ? @def_values.cyclopelgic3_text : ""},required: false                 
        .col-md-6
          .row 

            .col-md-4
              = ext_f.input :palpebral_conj_def, label: "Palpebral conj", :input_html => {:value=> @def_values.palpebral_conj_def.present? ? @def_values.palpebral_conj_def : ""},required: false
            .col-md-4
              = ext_f.input :sclera_def, label: "Sclera", :input_html => {:value=> @def_values.sclera_def.present? ? @def_values.sclera_def : ""},required: false
          .row  
            .col-md-4
              = ext_f.input :bulbar_conj_def, label: "Bulbar conj", :input_html => {:value=> @def_values.bulbar_conj_def.present? ? @def_values.bulbar_conj_def : ""},required: false
            .col-md-4
              = ext_f.input :visual_field_def, label: "Visual Field", class: "col-lg-10", :input_html => {:value=> @def_values.visual_field_def.present? ? @def_values.visual_field_def : ""},required: false
          .row 

            
          .row  
            %label.col-md-4
              Angles
            .col-md-4
              = ext_f.input :angles_od_def, label: "OD", :input_html => {:value=> @def_values.angles_od_def.present? ? @def_values.angles_od_def : ""},required: false
            .col-md-4
              = ext_f.input :angles_os_def, label: "OS", :input_html => {:value=> @def_values.angles_os_def.present? ? @def_values.angles_os_def : ""},required: false
            .col-md-2
              = submit_tag "Update" ,class: "btn btn-success"

//External Exam---------------------------------------------//
.portlet.box
  .portlet-title.hex_424242
    .caption
      %i.fa.fa-plus-square>
      Internal Exam
  .portlet-body
    .row
      = simple_form_for :exam_form_internal_defaults, url: set_internal_defaults_settings_path, remote: true do |ext_f| 
        .col-md-6
          .row
            .col-md-6
              = ext_f.input :od_def, label: "OD C/D", :wrapper_html => { :class => ''}, :input_html => {:value=> @def_values.od_def.present? ? @def_values.od_def : ""},required: false
  
          .row
            .col-md-6
              = ext_f.input :os_def, label: "OS C/D", :input_html => {:value=> @def_values.os_def.present? ? @def_values.os_def : ""},required: false
            .col-md-8
              = ext_f.input :post_pole_def, label: "Post pole", :input_html => {:value=> @def_values.post_pole_def.present? ? @def_values.post_pole_def : ""},required: false
            
            .col-md-8
              = ext_f.input :periphery_def, label: "Periphery", :input_html => {:value=> @def_values.periphery_def.present? ? @def_values.periphery_def : ""},required: false
            .col-md-10
              = ext_f.input :vitreous_def, label: "Vitreous", :input_html => {:value=> @def_values.vitreous_def.present? ? @def_values.vitreous_def : ""},required: false
        .col-md-6
          .row 
            
            .col-md-8
              = ext_f.input :vessels_def, label: "Vessels", :input_html => {:value=> @def_values.vessels_def.present? ? @def_values.vessels_def : ""},required: false
          .row    
            .col-md-8
              = ext_f.input :macula_def, label: "Macula", :input_html => {:value=> @def_values.macula_def.present? ? @def_values.macula_def : ""},required: false
          .row
            %label.col-md-10
              Dilation
          .row  
            .col-md-10
              = ext_f.input :dilation_fundus_def, label: false, :input_html => {:value=>  @def_values.dilation_fundus_def.present? ? @def_values.dilation_fundus_def : ""},required: false
          %br               
          .row
            .col-md-6
              = ext_f.input :tropicomide, label: "Drop 1", :input_html => {:value=> @def_values.tropicomide.present? ? @def_values.tropicomide : ""},required: false 
            .col-md-6
              = ext_f.input :phenylephrine, label: "Test 1", :input_html => {:value=> @def_values.phenylephrine.present? ? @def_values.phenylephrine : ""},required: false
          .row
            .col-md-6
              = ext_f.input :fundus, label: "Drop 2", :input_html => {:value=> @def_values.fundus.present? ? @def_values.fundus : ""},required: false 
            .col-md-6
              = ext_f.input :ophthalmoscopy, label: "Test 2", :input_html => {:value=> @def_values.ophthalmoscopy.present? ? @def_values.ophthalmoscopy : ""},required: false
          .row
            .col-md-6
              = ext_f.input :drop3_text, label: "Drop 3", :input_html => {:value=> @def_values.drop3_text.present? ? @def_values.drop3_text : ""},required: false
          .row     
            .col-md-6
              = ext_f.input :drop4_text, label: "Drop 4", :input_html => {:value=> @def_values.drop4_text.present? ? @def_values.drop4_text : ""},required: false
                              
            .col-md-10
              = ext_f.input :reason_field_def, label: "Reason", :input_html => {:value=> @def_values.reason_field_def.present? ? @def_values.reason_field_def : ""},required: false
            .col-md-10
              = ext_f.input :dilation_od_def, label: "OD", :input_html => {:value=> @def_values.dilation_od_def.present? ? @def_values.dilation_od_def : ""},required: false
            .col-md-10
              = ext_f.input :dilation_os, label: "OS", :input_html => {:value=> @def_values.dilation_os.present? ? @def_values.dilation_os : ""},required: false
          .row  
            .col-md-2
              = submit_tag "Update" ,class: "btn btn-success"