var item = <%= @data.first.to_json.html_safe %>
$('#contact_lens_type_modal').modal('hide');
var changed_object = $("input").filter(function () {
  return this.value === "Add New";
});
var elementId = '#' + changed_object.attr("id")
changed_object.val(item.label)
$(elementId).parent().next().find('.hidden').val(item.id);
$(elementId).parent().parent().parent().next().find('.base_curve select').html(item.select_base_curve_options)
$(elementId).parent().parent().parent().next().find('.diameter select').html(item.select_diameter_options)
if(elementId.split('_')[8] == "os"){
  $(elementId).parent().parent().parent().next().find('.os_sphere select').html(item.sphere)
  $(elementId).parent().parent().parent().next().find('.os_cylinder select').html(item.cylinder)
  $(elementId).parent().parent().parent().next().find('.os_add select').html(item.add)
  $(elementId).parent().parent().parent().next().find('.os_axis input').html(item.axis)
}
else if(elementId.split('_')[8] == "od"){
  $(elementId).parent().parent().parent().next().find('.od_sphere select').html(item.sphere)
  $(elementId).parent().parent().parent().next().find('.od_cylinder select').html(item.cylinder)
  $(elementId).parent().parent().parent().next().find('.od_add select').html(item.add)
  $(elementId).parent().parent().parent().next().find('.od_axis input').html(item.axis)
}

if(item.lens_type == "multifocal"){
  $(elementId).parent().parent().parent().next().find('.axis').addClass('hidden');
  $(elementId).parent().parent().parent().next().find('.cylinder').addClass('hidden');
  $(elementId).parent().parent().parent().next().find('.add').removeClass('hidden');
}
else if(item.lens_type == "sphere")
{
  $(elementId).parent().parent().parent().next().find('.axis').addClass('hidden');
  $(elementId).parent().parent().parent().next().find('.cylinder').addClass('hidden');
  $(elementId).parent().parent().parent().next().find('.add').addClass('hidden');
}
else if(item.lens_type == "toric")
{
  $(elementId).parent().parent().parent().next().find('.axis').removeClass('hidden');
  $(elementId).parent().parent().parent().next().find('.cylinder').removeClass('hidden');
  $(elementId).parent().parent().parent().next().find('.add').addClass('hidden');
}
else
{
  $(elementId).parent().parent().parent().next().find('.axis').removeClass('hidden');
  $(elementId).parent().parent().parent().next().find('.cylinder').removeClass('hidden');
  $(elementId).parent().parent().parent().next().find('.add').removeClass('hidden');
}
