var item = <%= @data.first.to_json.html_safe %>
$('#Impression_modal').modal('hide');
var changed_object = $("input").filter(function () {
  return this.value === item.label;
});
changed_object.val(item.label)
$('.spinner').show();
var time = (new Date).getTime();
if(item.id!="")
{
  $(changed_object).before('<input class="hidden" type="radio" value="OU" checked="checked" name="examination[exam_impressions_attributes]['+time+'][eye]"><input class="hidden" type="radio" value="OS" name="examination[exam_impressions_attributes]['+time+'][eye]" ><input class="hidden" type="radio" value="OD" name="examination[exam_impressions_attributes]['+time+'][eye]" ><input class="hidden" type="text" value="" name="examination[exam_impressions_attributes]['+time+'][plan]"><input type="hidden" value="'+item.id+'" name="examination[exam_impressions_attributes]['+time+'][impression_id]">')

  $('.spinner').show();
  data = $(".exam-form" ).serialize();
  formSubmit(data);       
  myFirebaseRef.child("procedure_impression_plan_page").transaction(function(data){ return $.now()});
  changed_object.value="";
}
function formSubmit(data)
{
  $.ajax({
    url: $(".exam-form" ).attr("action"),
    type: 'POST',
    data: data,
    async: false
  });
} 