<% if (params[:order] == "true") %>
{  
  var callback_added_firebase = function(outerChildSnapshot,event){
    if(outerChildSnapshot.key() == "procedure_adjustment_change"){
      $.ajax({
        url: "/orders/"+$('#order_id').val()+"/reload_procedures",
        type: 'GET',
        async: false
      });
    }

    outerChildSnapshot.ref().on('child_added',function(childSnapshot,prevChildSnap){
      console.log("CHILD ADDED DATA  => "+childSnapshot.key()+":"+childSnapshot.val());
      if(outerChildSnapshot.key() != "users"){
        
        // retrieve the closest form first as id are same on multiple forms
        var form = $('#'+outerChildSnapshot.key()).closest('form');
              
        if(form.find('#'+childSnapshot.key()).length > 0){
          form.find('#'+childSnapshot.key()).val(childSnapshot.val());
        }
      }
    });
  }

  var myFirebaseRef = new Firebase("https://" + "<%= ENV['FIREBASE_APP_URL'] %>");
  var item = <%= @data.first.to_json.html_safe %>
  $('#procedure_modal').modal('hide');
  var changed_object = $("input").filter(function () {
    return this.value === item.label;
  });
  changed_object.val(item.label) 
  $('.spinner').show();
  if(item.id!="")
  {
    $(changed_object).before('<input type="text" class="hidden" value="'+ item.id+'" name="examination[procedure_adjustments_attributes]['+Date.now()+'][exam_procedure_id]"/>');

    $('.spinner').show();
    form = $(".exam-form" ).closest('form');
    form.ajaxSubmit({
      dataType: 'json'
    });
    data = {item: item}
    myFirebaseRef.on("child_added", callback_added_firebase);
    changed_object.value="";
  }
}
<% else %>
{
  var item = <%= @data.first.to_json.html_safe %>
  $('#procedure_modal').modal('hide');
  var changed_object = $("input").filter(function () {
    return this.value === item.label;
  });
  changed_object.val(item.label)
  $('.spinner').show();
  if(item.id!="")
  {
    $(changed_object).before('<input type="text" class="hidden" value="'+item.id+'" name="examination[procedure_adjustments_attributes]['+Date.now()+'][exam_procedure_id]"/>');

    $('.spinner').show();
    data = $(".exam-form" ).serialize();
    formSubmit(data);     
    myFirebaseRef.child("procedure_impression_plan_page").transaction(function(data){ return $.now()});    
    changed_object.value="";
  }
  function formSubmit(data)
  {
    $.ajax({
      url: $(".exam-form" ).attr("action"),
      type: 'POST',
      data: data,
      async: false
    });
  } 
}
<% end %>
