var item = <%= @data.first.to_json.html_safe %>
var d_type = item.type.toString()
$('#medical_history_modal').modal('hide');
$('#medical_history_modal_1').modal('hide');
$('#family_medical_history_modal').modal('hide');
$('#family_medical_history_modal_1').modal('hide');
$('#oculus_history_modal').modal('hide');
$('#oculus_history_modal_1').modal('hide');
$('#family_oculus_history_modal').modal('hide');
$('#family_oculus_history_modal1').modal('hide');
$('#psychology_history_modal').modal('hide');
$('#surgery_history_modal').modal('hide');
$('#allergy_history_modal').modal('hide');
var changed_object = $("input").filter(function () {
  return this.value === item.label;
});
changed_object.val(item.label)
var data_type=$(changed_object).attr("data-type");
var time = (new Date).getTime();
var patient_type_parmas = $(changed_object).attr("data-patient-type-params");
if(d_type=="patient_medical"){
  if(item.id!="")
  {
    $(changed_object).before('<div class="row"><div class="col-md-offset-1 col-md-5 child-toggler"><div class="form-group boolean optional examination_'+data_type+'_checked"><div class="checkbox"><input value="" type="hidden" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][checked]"><label class="boolean optional" for="examination_'+data_type+'_attributes_'+time+'_checked"><input data-toggle-element="#'+data_type+'_'+item.value+'" toggle="" class="boolean optional icheck-me checkbox-la" data-skin="line" data-color="blue" data-text="'+item.label+'" type="checkbox" value="1" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][checked]" id="examination_'+data_type+'_attributes_'+time+'_checked" checked="checked"></label></div></div></div><div class="disease_notes col-md-6" id="'+data_type+'_'+item.value+'" style="display: block;"><input type="hidden" value="'+item.id+'" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][disease_id]"id="examination_'+data_type+'_attributes_'+time+'_disease_id"><div class="string optional examination_'+data_type+'_notes"><input class="string optional form-control" type="text" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][notes]" id="examination'+data_type+'_attributes_'+time+'_notes" placeholder="add details"></div></div>')
    icheck();
    disease_toggle();
    changed_object.value="";
  }
}
else if(d_type=="patient_ocular_history"){
  if(item.id!="")
  {
    $(changed_object).before('<div class="row"><div class="col-md-offset-1 col-md-5 child-toggler"><div class="form-group boolean optional examination_'+data_type+'_checked"><div class="checkbox"><input value="" type="hidden" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][checked]"><label class="boolean optional" for="examination_'+data_type+'_attributes_'+time+'_checked"><input data-toggle-element="#'+data_type+'_'+item.value+'" toggle="" class="boolean optional icheck-me checkbox-la" data-skin="line" data-color="blue" data-text="'+item.label+'" type="checkbox" value="1" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][checked]" id="examination_'+data_type+'_attributes_'+time+'_checked" checked="checked"></label></div></div></div><div class="disease_notes col-md-6" id="'+data_type+'_'+item.value+'" style="display: block;"><input type="hidden" value="'+item.id+'" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][disease_id]"id="examination_'+data_type+'_attributes_'+time+'_disease_id"><div class="string optional examination_'+data_type+'_notes"><input class="string optional form-control" type="text" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][notes]" id="examination'+data_type+'_attributes_'+time+'_notes" placeholder="add details"></div></div>')
    icheck();
    disease_toggle();
    changed_object.value="";
  }
}
else if(d_type=="patient_medication"){
  if(item.id!="")
  {
    $(changed_object).before('<div class="row"><div class="col-md-offset-1 col-md-5 child-toggler"><div class="form-group boolean optional examination_'+data_type+'_checked"><div class="checkbox"><input value="" type="hidden" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][checked]"><label class="boolean optional" for="examination_'+data_type+'_attributes_'+time+'_checked"><input data-toggle-element="#'+data_type+'_'+item.value+'" toggle="" class="boolean optional icheck-me checkbox-la" data-skin="line" data-color="blue" data-text="'+item.label+'" type="checkbox" value="1" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][checked]" id="examination_'+data_type+'_attributes_'+time+'_checked" checked="checked"></label></div></div></div><div class="disease_notes col-md-6" id="'+data_type+'_'+item.value+'" style="display: block;"><input type="hidden" value="'+item.id+'" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][disease_id]"id="examination_'+data_type+'_attributes_'+time+'_disease_id"><div class="string optional examination_'+data_type+'_notes"><input class="string optional form-control" type="text" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][notes]" id="examination'+data_type+'_attributes_'+time+'_notes" placeholder="add details"></div></div>')
    icheck();
    disease_toggle();
    changed_object.value="";
  }
}
else if(d_type=="patient_surgery"){
  if(item.id!="")
  {
    $(changed_object).before('<div class="row"><div class="col-md-offset-1 col-md-5 child-toggler"><div class="form-group boolean optional examination_'+data_type+'_checked"><div class="checkbox"><input value="" type="hidden" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][checked]"><label class="boolean optional" for="examination_'+data_type+'_attributes_'+time+'_checked"><input data-toggle-element="#'+data_type+'_'+item.value+'" toggle="" class="boolean optional icheck-me checkbox-la" data-skin="line" data-color="blue" data-text="'+item.label+'" type="checkbox" value="1" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][checked]" id="examination_'+data_type+'_attributes_'+time+'_checked" checked="checked"></label></div></div></div><div class="disease_notes col-md-6" id="'+data_type+'_'+item.value+'" style="display: block;"><input type="hidden" value="'+item.id+'" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][disease_id]"id="examination_'+data_type+'_attributes_'+time+'_disease_id"><div class="string optional examination_'+data_type+'_notes"><input class="string optional form-control" type="text" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][notes]" id="examination'+data_type+'_attributes_'+time+'_notes" placeholder="add details"></div></div>')
    icheck();
    disease_toggle();
    changed_object.value="";
  }
}
else if(d_type=="patient_allergy"){
  if(item.id!="")
  {
    $(changed_object).before('<div class="row"><div class="col-md-offset-1 col-md-5 child-toggler"><div class="form-group boolean optional examination_'+data_type+'_checked"><div class="checkbox"><input value="" type="hidden" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][checked]"><label class="boolean optional" for="examination_'+data_type+'_attributes_'+time+'_checked"><input data-toggle-element="#'+data_type+'_'+item.value+'" toggle="" class="boolean optional icheck-me checkbox-la" data-skin="line" data-color="blue" data-text="'+item.label+'" type="checkbox" value="1" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][checked]" id="examination_'+data_type+'_attributes_'+time+'_checked" checked="checked"></label></div></div></div><div class="disease_notes col-md-6" id="'+data_type+'_'+item.value+'" style="display: block;"><input type="hidden" value="'+item.id+'" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][disease_id]"id="examination_'+data_type+'_attributes_'+time+'_disease_id"><div class="string optional examination_'+data_type+'_notes"><input class="string optional form-control" type="text" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][notes]" id="examination'+data_type+'_attributes_'+time+'_notes" placeholder="add details"></div></div>')
    icheck();
    disease_toggle();
    changed_object.value="";
  }
}
else if(d_type=="family_medical"){
  $(changed_object).before('<div class="md-container"><div class="row"><div class="col-md-3 col-md-offset-1 "><select class="form-control relation_select" type="text" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][relation]" id="examination_'+data_type+'_attributes_'+time+'_relation" ><option value="select relation">select relation</option><option value="great_grandparent">great_grandparent</option><option value="grandparent">grandparent</option><option value="parent">parent</option><option value="parent-father">parent-father</option><option value="parent-mother">parent-mother</option><option value="sibling">sibling</option><option value="sibling-sister">sibling-sister</option><option value="sibling-brother">sibling-brother</option><option value="child">child</option><option value="child-daughter">child-daughter</option><option value="child-son">child-son</option><option value="others">others</option><option value="unknown">unknown/option></select></div><div class="col-md-5 child-toggler"><div class="form-group boolean optional examination_'+data_type+'_checked"><div class="checkbox"><input value="" type="hidden" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][checked]"><label class="boolean optional" for="examination_'+data_type+'_attributes_'+time+'_checked"><input data-toggle-element="#'+data_type+'_'+item.value+'" toggle="" class="boolean optional icheck-me checkbox-la" data-skin="line" data-color="blue" data-text="'+item.label+'" type="checkbox" value="1" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][checked]" id="examination_'+data_type+'_attributes_'+time+'_checked" checked="checked"></label></div></div></div><div class="col-md-3" id="'+data_type+'_'+item.value+'" style="display: block;"><input type="hidden" value="'+item.id+'" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][disease_id]"id="examination_'+data_type+'_attributes_'+time+'_disease_id"><div class="string optional examination_'+data_type+'_notes"><input class="string optional form-control" type="text" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][notes]" id="examination_'+data_type+'_attributes_'+time+'_notes" placeholder="Add Notes"></div></div></div><input type="text" name="disease_name" id="disease_name" value="" class="family_disease_autocomplete_field form-control pull-right ui-autocomplete-input" data-type="fmhxes" data-patient-type-params="patient" placeholder="Add disease" style="width: 61%; -webkit-user-select: text;" data-autocomplete="/autocompletes/autocomplete_disease_name?type=" autocomplete="off"><div class= "clearfix"></div><br></div>');
  icheck();
  disease_toggle();
  changed_object.value="";
}
else if(d_type=="family_patient_ocular_history"){
  $(changed_object).before('<div class="md-container"><div class="row"><div class="col-md-3 col-md-offset-1 "><select class="form-control relation_select" type="text" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][relation]" id="examination_'+data_type+'_attributes_'+time+'_relation" ><option value="select relation">select relation</option><option value="great_grandparent">great_grandparent</option><option value="grandparent">grandparent</option><option value="parent">parent</option><option value="parent-father">parent-father</option><option value="parent-mother">parent-mother</option><option value="sibling">sibling</option><option value="sibling-sister">sibling-sister</option><option value="sibling-brother">sibling-brother</option><option value="child">child</option><option value="child-daughter">child-daughter</option><option value="child-son">child-son</option><option value="others">others</option><option value="unknown">unknown/option></select></div><div class="col-md-5 child-toggler"><div class="form-group boolean optional examination_'+data_type+'_checked"><div class="checkbox"><input value="" type="hidden" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][checked]"><label class="boolean optional" for="examination_'+data_type+'_attributes_'+time+'_checked"><input data-toggle-element="#'+data_type+'_'+item.value+'" toggle="" class="boolean optional icheck-me checkbox-la" data-skin="line" data-color="blue" data-text="'+item.label+'" type="checkbox" value="1" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][checked]" id="examination_'+data_type+'_attributes_'+time+'_checked" checked="checked"></label></div></div></div><div class="col-md-3" id="'+data_type+'_'+item.value+'" style="display: block;"><input type="hidden" value="'+item.id+'" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][disease_id]"id="examination_'+data_type+'_attributes_'+time+'_disease_id"><div class="string optional examination_'+data_type+'_notes"><input class="string optional form-control" type="text" name="'+patient_type_parmas+'['+data_type+'_attributes]['+time+'][notes]" id="examination_'+data_type+'_attributes_'+time+'_notes" placeholder="Add Notes"></div></div></div><input type="text" name="disease_name" id="disease_name" value="" class="family_disease_autocomplete_field form-control pull-right ui-autocomplete-input" data-type="fmhxes" data-patient-type-params="patient" placeholder="Add disease" style="width: 61%; -webkit-user-select: text;" data-autocomplete="/autocompletes/autocomplete_disease_name?type=" autocomplete="off"><div class= "clearfix"></div><br></div>');
  icheck();
  disease_toggle();
  changed_object.value="";
}

/* Js for form checkbox(Medical history) toggle with Icheck------Start--------*/
function disease_toggle(){
  $('.parent-toggle').on('ifToggled', function(event){
    _checkboxAddInitialize();
    _checkboxAddHandleChange(event);
    icheck();
  });

  $('.child-toggler').on('ifToggled', function(event){
    _checkboxTogglerChangeHandler(event);
    _checkboxTogglerUpdateState();
  });
}
/* Js for form checkbox (Medical history) toggle with Icheck------End--------*/