.row
  .col-md-12
    %h3.page-title
      Settings
      %small Setup exam form values and other's
    %ul.page-breadcrumb.breadcrumb
      %li
        %i.fa.fa-home
        %a{:href => "/"} Home
        %i.fa.fa-angle-right
      %li
        %a{:href => "#"} Setting
      %li.pull-right
        #dashboard-report-range.dashboard-date-range.tooltips{"data-original-title" => "Change dashboard date range", "data-placement" => "top"}
          %i.icon-calendar
          %span
          %i.fa.fa-angle-down
.row.profile
  .col-md-12
    .tabbable.tabbable-custom.tabbable-full-width
      - if current_doctor.role.include?("super_administrator") || current_doctor.role.include?("administrator") || current_doctor.role.include?("doctor") 
        %ul#settings_tabs.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab_show", "data-href"=> settings_path(load_partial: true)}
              Exam Form
          %li
            %a{"data-toggle" => "tab", :href => "#tab_show", "data-href"=> setting_orders_path}
              Order Form
          %li
            %a{"data-toggle" => "tab", :href => "#tab_show", "data-href"=> setting_schedulers_path}
              Doctor And Office Schedule

          %li
            %a{"data-toggle" => "tab", :href => "#tab_show", "data-href"=> setting_patients_path}
              Patient Form

          %li
            %a{"data-toggle" => "tab", "data-href"=> exam_form_defaults_settings_path}
              Exam Form Defaults
    
        .tab-content
          #tab_show.tab-pane.active
            =render '/doctor/settings/exam_form'    
      - else
        %ul#settings_tabs.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab_show", "data-href"=> setting_schedulers_path}
              Doctor And Office Schedule

        .tab-content
          #tab_show.tab-pane.active   
            =render '/doctor/setting_schedulers/schedule'

:javascript  

  settingsIndexPage(); 
  initializeTagMultiselect();
  function initializeTagMultiselect()
  {
    $(".multi-select-base-curves").select2({
      tags: #{AppConstant::BASECURVE}
    });

    $(".multi-select-diameters").select2({
      tags: #{AppConstant::DIAMETER}
    });
    $(".multi-select-sphere").select2({
      tags: #{AppConstant::SPHERE}
    });
    $(".multi-select-cylinder").select2({
      tags: #{AppConstant::CYLINDER}
    });
    $(".multi-select-add").select2({
      tags: #{AppConstant::ADD}
    });
    $(".multi-select-axis").select2({
      tags: #{AppConstant::AXIS}
    });
  }

:css
  .bigModal{
    width:940px;
  }
  .max-width
  {
    min-width: 10px;
    max-width: 150px;
  }

  .contact_lens_update:hover
  {
    background-color: gainsboro;
  }

  .multi-select-axis .select2-choices {
    max-height: 160px !important;  
    overflow-y: auto;
  }

  .multi-select-add .select2-choices {
    max-height: 160px !important;  
    overflow-y: auto;
  }

  .multi-select-sphere .select2-choices {
    max-height: 160px !important;  
    overflow-y: auto;
  }

  .multi-select-cylinder .select2-choices {
    max-height: 160px !important;  
    overflow-y: auto;
  }