.col-md-10
  .inbox-loading
    .portlet.box.blue-steel      
  .inbox-content
    .portlet.box.blue-steel
      .portlet-body
        = will_paginate @booking_notifications, :params => {:controller => 'notifications', :action => 'booking_notifications'}  if @booking_notifications.present? 
        .scroller.full_view_notification{"data-always-visible" => "1", "data-rail-visible" => "0", :style => "height: 350px;"}
          %ul.feeds
            -@booking_notifications.each do |notification|
              -if !notification.is_deleted?
                %li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-warning
                          %i.fa.fa-bell-o
                      .cont-col2
                        .desc
                          -booking_time=notification.event.start_time
                          - if notification.event.doctor.id==current_doctor.id
                            - tense = booking_time > Time.now ? "have" : "had"
                            = (AppConfig.show_notification['doctor']['have_appointment']['with_current_doctor'] % {patient_name: notification.event.joint_resource.member.name, booking_date: booking_time.to_date, tense: tense, booking_time: booking_time.strftime('%I:%M %p')}).html_safe
                          - else
                            - tense = booking_time > Time.now ? "has" : "had"
                            = (AppConfig.show_notification['doctor']['have_appointment']['with_doctor'] % {doctor_name: notification.event.doctor.name, patient_name: notification.event.joint_resource.member.name, tense: tense, booking_date: booking_time.to_date, booking_time: booking_time.strftime('%I:%M %p')}).html_safe
                          
                  .col2
                    .date
                      = "Created At #{notification.created_at.strftime('%I:%M %p , %m/%d/%Y')}"
              -else
                -booking=Booking.with_deleted.find(notification.event_id)
                -booking_time=booking.start_time         
                -if Doctor.exists?(booking.destroyer_id)
                  %li
                    .col1
                      .cont
                        .cont-col1
                          .label.label-sm.label-warning
                            %i.fa.fa-bell-o
                        .cont-col2
                          .desc
                            - if booking.destroyer_type=="Doctor" 
                              - if booking.destroyer_id==current_doctor.id
                                - tense = booking_time > Time.now ? "have" : "had"
                                = (AppConfig.show_notification['doctor']['cancel_appointment']['by_current_doctor'] % {patient_name: booking.joint_resource.member.name, tense: tense}).html_safe
                              - else
                                - tense = booking_time > Time.now ? "has" : "had"
                                = (AppConfig.show_notification['doctor']['cancel_appointment']['by_doctor'] % { doctor_name: Doctor.with_deleted.find(booking.destroyer_id).name, patient_name: booking.joint_resource.member.name, tense: tense}).html_safe
                            - else
                              - tense = booking_time > Time.now ? "has" : "had"
                              = (AppConfig.show_notification['doctor']['cancel_appointment']['by_patient'] % { doctor_name: booking.doctor.present? ? booking.doctor.name : "", patient_name: booking.joint_resource.member.name, tense: tense}).html_safe
                    .col2
                      .date
                        = "Created At #{notification.created_at.strftime('%I:%M %p , %d/%m/%Y')}"