.col-md-10
  .pull-right
    = form_tag(notifications_path, method: :get, id: "form_search", remote: true) do 
      = text_field_tag :search, params[:search], placeholder: "search" 
      = submit_tag "search", :id => "search_btn", class: "btn btn-success btn-xs"
    %br  
.col-md-10
  .inbox-loading
    .portlet.box.blue-steel      
  .inbox-content
    .portlet.box.blue-steel
      .portlet-body
        = will_paginate @contact_form_notifications, :params => {:controller => 'notifications', :action => 'contact_form_notifications'} if @contact_form_notifications.present?
        .scroller.full_view_message{"data-always-visible" => "1", "data-rail-visible" => "0", :style => "height: 400px;"}
          %ul.feeds
            - @notifications =  @contact_form_notifications.select('notifications.*, notifications.patient_id').group_by(&:patient_id)

            -@notifications.each do |key, value|
              - if key == nil
                - value.each do |notification|
                  %li
                    .col1
                      .cont
                        .cont-col1
                          .label.label-sm.label-warning
                            %i.icon-envelope-open
                        .cont-col2
                          .desc
                            %a{"data-toggle"=> "modal", :href => notification_url(notification)}
                              -if notification.event.class == Log 
                                - twilio_webhook_id = notification.event.trackable_id
                                - twilio_webhook = TwilioWebhook.find twilio_webhook_id
                                %strong
                                  = "#{twilio_webhook.from}"
                              -else
                                = notification.event.name    
                              %br
                            = "Message: </strong>#{notification.event.comment}</strong>".html_safe
                    .col2 
                      .date
                        = "Created At #{notification.created_at.strftime('%I:%M %p , %m/%d/%Y')}"    
                  -if notification.event_type == "ContactForm"
                    = render :partial => "/contact_forms/reply_modal_boxes", :locals => { :index => notification.id, :contact_form => notification.event, :type => "ContactForm" }
                  -elsif notification.event_type == "Log"
                    -if notification.event.try(:trackable_type) == "ContactForm"
                      = render :partial => "/contact_forms)/reply_modal_boxes", :locals => { :index => notification.id, :contact_form => notification.event.trackable, :type => "ContactForm" }
                    -elsif notification.event.try(:trackable_type) == "TwilioWebhook"
                      = render :partial => "/contact_forms/reply_modal_boxes", :locals => { :index => notification.id, :twilio_webhook => notification.event.trackable, :type => "TwilioWebhook" }
              -else        
                %li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-warning
                          %i.icon-envelope-open
                      .cont-col2
                        .desc
                          %a{"data-toggle"=> "modal", :href => notification_url(value.last)}
                            -if value.last.event.class == Log 
                              - @patient = Patient.find(key)
                              %strong
                                = "#{@patient.name }"
                            -else
                              = value.last.event.name    
                            %br
                          = "Message: </strong>#{value.last.event.comment}</strong>".html_safe
                  .col2 
                    .date
                      = "Created At #{value.last.created_at.strftime('%I:%M %p , %m/%d/%Y')}"
                -if value.last.event_type == "ContactForm"
                  = render :partial => "/contact_forms/reply_modal_boxes", :locals => { :index => value.last.id, :contact_form => value.last.event, :type => "ContactForm" }
                -elsif value.last.event_type == "Log"
                  -if value.last.event.try(:trackable_type) == "ContactForm"
                    = render :partial => "/contact_forms)/reply_modal_boxes", :locals => { :index => value.last.id, :contact_form => value.last.event.trackable, :type => "ContactForm" }
                  -elsif value.last.event.try(:trackable_type) == "TwilioWebhook"
                    = render :partial => "/contact_forms/reply_modal_boxes", :locals => { :index => value.last.id, :twilio_webhook => value.last.event.trackable, :type => "TwilioWebhook" }