.row
  .col-md-12
    / BEGIN PAGE TITLE &amp; BREADCRUMB
    %h3.page-title
      Notifications
      %small user inbox
    %ul.page-breadcrumb.breadcrumb
      %li
        %i.fa.fa-home
        %a{:href => "/"} Home
        %i.fa.fa-angle-right
      %li
        %a{:href => "#"} Notifications
        %i.fa.fa-angle-right
      %li
        %a{:href => "#"} Inbox
    / END PAGE TITLE &amp; BREADCRUMB

.row.inbox
  .col-md-2
    %ul.inbox-nav.margin-bottom-10
      %li.inbox{class: "#{params[:redirect] == "booking" ? 'active' : ''}"}
        %a{"data-toggle" => "tab", :href => "#{request.url.split('?').first}#tab_1_1"}
          Booking
        %b
      %li.sent{class: "#{params[:redirect] == "booking" ? '' : 'active'}"}
        %a{"data-toggle" => "tab", :href => "#{request.url.split('?').first}#tab_1_2"}
          Messages
        %b
  .tab-content
    #tab_1_1.tab-pane{class: "#{params[:redirect] == "booking" ? 'active' : ''}"}  
      #booking_notifications     
        = render "booking_notifications"
    #tab_1_2.tab-pane{class: "#{params[:redirect] == "booking" ? '' : 'active'}"}
      #contact_form_notifications
        = render "messages" 
:javascript
  $('.pagination a').attr('data-remote', 'true');
      