= simple_form_for @order,remote: @order.persisted?, html: {class: "order-form" } do |f|
  .tab-content
    #tab1.tab-pane.active
      .row
        .col-md-12
          %br
      = f.input :examination_id, as: :hidden
      = f.input :status,as: :hidden
      = f.input :total,as: :hidden
      = f.input :joint_resource_id, as: :hidden
      = hidden_field_tag 'contacts_suborder_update'
      = hidden_field_tag 'glasses_suborder_update'
      = f.input :doctor_id,as: :hidden,:input_html => { :value => current_doctor.id }
      .row
        .col-md-12
          .portlet.grey-cascade.box
            .portlet-title
              .caption
                %i.fa.fa-cogs
                Items
            .portlet-body
              .table-responsive
                %table.table.table-hover.table-bordered.table-striped
                  %thead
                    %tr
                      %th
                        = "Description"
                      %th
                        = "Code"
                      %th
                        = "Unit Price"
                  %tbody
                  - if @examination.present? && @examination.try(:procedure_adjustments).present?
                    - @examination.try(:procedure_adjustments).map(&:exam_procedure).each_with_index do |procd,index|
                      %tr
                        %td
                          %h5
                            #{index+1}. #{procd.name}
                        %td
                          %em
                            #{procd.code}
                        %td
                          %strong
                            %span $
                            #{procd.price}
                  - elsif @order.procedures.present?
                    - @order.procedures.each_with_index do |procd,index|
                      %tr
                        %td
                          %h5
                            #{index+1}. #{procd.name}
                        %td
                          %em
                            #{procd.code}
                        %td
                          %strong
                            %span $
                            #{procd.price}
                  - else
                    %tr
                      %td.text-center{:colspan => 3}
                        %i.fa.fa-search
                        %em No exam procedures found
      -#.row
        .col-md-6
      -#.row
        -# unless @contact_lenses.present?
        - if current_doctor && !@order.new_record? && @order.examination.present?
          .col-md-5
            %button.btn.btn-warning#add_contact_lens_order Add Contact Lens Prescription
          .col-md-5
            %button.btn.btn-warning#add_eyeglass_order Add EyeGlasses Prescription
      #newcontactlens
      #neweyeglass
    #tab2.tab-pane
      .row
        .col-md-12
          %br
      .row
        .col-md-12
          #contactlensorders
            = f.simple_fields_for :contact_lens_orders do |lens_order|
              = render 'doctor/orders/order_partial/contact_lens_order/contact_lens_order_fields',:f => lens_order,:sherlock => lens_order.options[:child_index]
            .pull-right
              = link_to_add_association "<i class='fa fa-plus'></i>&nbsp;Add new".html_safe, f, :contact_lens_orders,:partial => 'doctor/orders/order_partial/contact_lens_order/contact_lens_order_fields',:render_options => {:locals => {:sherlock => Time.now.to_i }},:class => "btn btn-success lens-tools add-suborder tooltip-set","data-original-title" => "click to add more lens orders", "data-placement" => "right", "data-toggle" => "tooltip"
    #tab3.tab-pane
      .row
        .col-md-12
          %br
      .row
        .col-md-12
          #eyeglassorders
            = f.simple_fields_for :eye_glass_orders do |glass_order|
              = render 'doctor/orders/order_partial/eye_glass_order/eye_glass_order_fields',:f => glass_order,:sherlock => glass_order.options[:child_index]
            .pull-right
              = link_to_add_association "<i class='fa fa-plus'></i>&nbsp;Add new".html_safe, f, :eye_glass_orders,:partial => 'doctor/orders/order_partial/eye_glass_order/eye_glass_order_fields',:render_options => {:locals => {:sherlock => Time.now.to_i }},:class => "btn btn-success lens-tools add-suborder tooltip-set","data-original-title" => "click to add more eye glass orders", "data-placement" => "right", "data-toggle" => "tooltip"
    -if params[:action] == "new"
      .row
        %hr
        .col-md-4.col-md-offset-8.form-inline
          .form-group
            = f.button :submit, class: 'btn btn-lg green m-icon-big', :disable_with=>"Loading..."
    %div#prescription.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "prescription", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:style => 'margin: 140px auto !important;'}
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
            %h4#prescription.modal-title Lens Prescriptions
          .modal-body{:style => 'max-height: 500px;overflow-y: auto;'} 
            %span.semi-bold{:style => "font-size: 25px;margin-left: 20px;"}
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

:javascript
  $(document).ready(function(){
    var exam_copay = "#{@exam_copay}";
    var $total_paid = "#{@order.total_paid}"
    var joint_resource_id = "#{@joint_resource.id}";
    ordersFormPage(exam_copay,joint_resource_id,$total_paid);
  });
