.tab-content
  #tab1.tab-pane.active
    .row
      .col-md-12
        .portlet.grey-cascade.box
          .portlet-title
            .caption
              %i.fa.fa-cogs
              Items
          .portlet-body
            .table-responsive
              #procedure_adjustment_fields
                = render 'doctor/orders/order_partial/procedure_adjustment/procedure_adjustment_table'
  #tab2.tab-pane
    .row
      .col-md-12
        %br
    .row
      .col-md-12
        #contactlensorders
          - @order.contact_lens_orders.each do |suborder|
            %div{id: "lens_order_"+suborder.id.to_s }
              = render 'doctor/orders/new_partials/lens_suborder', :suborder => suborder
          #newly-added-lens-suborder
          .pull-right
            = link_to "Add New", create_contact_lens_suborder_order_path(@order), remote: true, class: 'btn btn-sm btn-primary'
  #tab3.tab-pane
    .row
      .col-md-12
        %br
    .row
      .col-md-12
        #eyeglassorders
          - @order.eye_glass_orders.each do |suborder|
            %div{id: "glass_order_"+suborder.id.to_s }
              = render 'doctor/orders/new_partials/glass_suborder', :suborder => suborder
          #newly-added-glass-suborder
          .pull-right
            = link_to "Add New", create_glass_suborder_order_path(@order), remote: true, class: 'btn btn-sm btn-primary'
  %div#prescription.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "prescription", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:style => 'margin: 140px auto !important;'}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
          %h4#prescription.modal-title Lens Prescriptions
        .modal-body{:style => 'max-height: 500px;overflow-y: auto;'} 
          %span.semi-bold{:style => "font-size: 25px;margin-left: 20px;"}
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close