<% addon_details_tempt = ''%>

<% simple_form_for @eye_glass_order, :url => update_eyeglass_suborder_order_path(@eye_glass_order) do |f| %>
   <% addon_details_tempt = render :partial => 'doctor/orders/order_partial/eye_glass_order/addon_detail_fields',:locals => { f: f} %>
<% end %>

var glass_order_id = <%= @eye_glass_order.id %>
$('#glass_addons_'+glass_order_id).html("<%= j addon_details_tempt %>")