$('#checklist_body').html("<%= escape_javascript( render :partial => 'doctor/orders/order_partial/checklist/checklist.html.haml') %>")
console.log(' partial rendered successfully')
$('#checklist_modal').modal('show');