$('#newly-added-glass-suborder').append("<div id=<%= 'glass_order_'+@eye_glass_order.id.to_s %>><%= j render :partial => 'doctor/orders/new_partials/glass_suborder' , :suborder => @eye_glass_order %></div>")
$('#tab_partial').html("<%= j render :partial => 'doctor/orders/order_partial/tab_partial' %>")
$('.tab-content .tab-pane').removeClass('active');
$('#tab3.tab-pane').addClass('active');
if($('.order_complete_options').length ==0){
  $('.order_action').append('<li><a class="order_complete_options" data-no-turbolink="true" data-remote="" href="/patients/profile_payment?order_id=<%= @order.id%>"> <i class="fa fa-check-circle"></i> Finalize Order</a><li>')
}


// $(<%="glass_order_#{@eye_glass_order.id.to_s}"%>).find('.glass_manual_change').first().click();
$('.spinner').hide();