$('#newly-added-lens-suborder').append("<div id=<%= 'lens_order_'+@contact_lens_order.id.to_s %>><%= j render :partial => 'doctor/orders/new_partials/lens_suborder' , :locals => { :suborder => @contact_lens_order }%></div>")
$('#tab_partial').html("<%= j render :partial => 'doctor/orders/order_partial/tab_partial' %>")
$('.tab-content .tab-pane').removeClass('active');
$('#tab2.tab-pane').addClass('active');
if($('.order_complete_options').length ==0){
  $('.order_action').append('<li><a class="order_complete_options" data-no-turbolink="true" data-remote="" href="/patients/profile_payment?order_id=<%= @order.id%>"> <i class="fa fa-check-circle"></i> Finalize Order</a><li>')
}

icheck();

var availableTags = <%= raw available_contact_lens_types %>;
console.log('tags: -------------'+availableTags);
var myFirebaseRef = new Firebase("https://<%= ENV['FIREBASE_APP_URL'] %>/orders/<%= @contact_lens_order.order.id.to_s %>");  //firebase app url reference
console.log('after newly added lens suborder myFirebaseRef key ----------: '+myFirebaseRef.key())
prepopulate_contact_lens_types_prices(availableTags,myFirebaseRef,"<%= current_doctor.id.to_s %>");
$('.spinner').hide();