var addon_details_id = <%= @addon_detail.id %>
var suborder_id = <%= @addon_detail.eye_glass_order.id %>
console.log('suborder_id : '+suborder_id)
var form = $("#glass_order_"+suborder_id).find('form')
form.find('#eye_glass_order_addons_price').val('');
form.find('#eye_glass_order_addon_details_attributes_'+addon_details_id+'_id').remove();
$("#glass_addon_"+addon_details_id).remove();
form.find('#eye_glass_order_addons_price').trigger('change');
$('.spinner').hide();
