var ele_id = <%= @eye_glass_order.id %>
console.log("output is : "+"#glass_order_"+ele_id);
var glass_ele = $("#glass_order_"+ele_id)
glass_ele.remove();
<% @order = @eye_glass_order.order %>
<% unless (@order.eye_glass_orders.any? || @order.contact_lens_orders.any? || @order.procedure_adjustments.any?) %>
  $('.order_complete_options').remove()
<% end %>
$('#tab_partial').html("<%= j render :partial => 'doctor/orders/order_partial/tab_partial' %>")
$('.tab-content .tab-pane').removeClass('active');
$('#tab3.tab-pane').addClass('active');
$('#total_all').html("$ <%= '%.2f' % @order.total %>")
$('#order_balance_due').html("$ <%= '%.2f' % @order.balance_due %>")
$('#order_refund').html("$ <%= '%.2f' % @order.refund %>")
$('.spinner').hide();