.row
  .col-md-12
    .portlet
      .portlet-title
        .caption.profile-info.info0{:style => "width:33%"}
          .info1
            .info2  
              -if @resource.class == Patient
                %a{:href => doctor_patient_profile_path(:patient_id => @joint_resource.patient_id),:class=>'anchor_style', :style => "color: black;"}    
                  = @joint_resource.try(:name)
              -else
                %a{:href => family_member_path(@joint_resource.family_member_id),:class=>'anchor_style', :style => "color: black;"}
                  = @resource.try(:name)
            %ul.list-inline
              - if @joint_resource.email.present?  
                %li{style: "margin-top: 7px"} 
                  %i.fa.fa-envelope
                  = "#{@joint_resource.email}"
              - if @resource.phone.present?  
                %li
                  %i.fa.fa-comment
                  = "#{number_to_phone(@resource.phone.to_s[2..-1].to_i, area_code: true)}"
              %br
              - if @resource.birthday.present?  
                %li
                  %i.fa.fa-calendar
                  = "#{@resource.birthday} , AGE: #{@resource.try(:age)}"
              -if @resource.class == Patient && @resource.employer.present? 
                %li
                  %i.fa.fa-user
                  = "#{@resource.employer}"
              - if @resource.occupation.present?  
                %li
                  %i.fa.fa-briefcase
                  = "#{@resource.occupation}"

              - if @resource.vision_insurance.present?
                - if @resource.vision_insurance_name.present? && @resource.vision_insurance_code.present?  
                  %li
                    %i.fa.fa-eye
                    = "#{@resource.vision_insurance_name + ' / ' + @resource.vision_insurance_code}"
                - else
                  %li
                    %i.fa.fa-eye
                    = "#{@resource.vision_insurance_name}"
              - if current_organisation.setting.flag_for_medical      
                %li
                  %i.fa.fa-medkit{style: "color: #999999;"}
                  = "#{@resource.medical_insurance.try(:name)}"      
              %br
              - if @joint_resource.try(:home_address).present?
                %li
                  - address = @joint_resource.home_address
                  %i.fa.fa-map-marker
                  -if address.address1.present?
                    - addr = address.address1
                  -if address.address2.present?
                    - if addr.present?
                      - addr = addr + ' Apt.# ' + address.address2
                    - else
                      - addr = ' Apt.# ' + address.address2
                  -if address.city.present?
                    -if addr.present?
                      - addr = addr + ', ' + address.city
                    -else
                      - addr = address.city
                  -if address.country_id.present? && address.state_id.present? 
                    -if addr.present?
                      - addr = addr + "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name).nil? ? "" : ", #{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"}"
                    -else
                      - addr = "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"
                  -if address.postal_code.present?
                    -if addr.present?
                      - addr = addr + ', ' + address.postal_code
                    -else
                      - addr = address.postal_code
                  = addr
        .actions.btn-set{:style => "width: 67%"}
          = simple_form_for @order, remote: true, html: {class: "order_date_form"} do |f|
            .row
              %div.col-md-4
                %div.col-md-5
                  %label{:style => "background-color: white;font-size: 18px;font-weight: 400;padding: 4px;"}
                    Provider:
                %div.col-md-7{style:"padding: 0;"}
                  = f.select :doctor_id , options_for_select(@doctors.collect{ |u| [u.name, u.id] }, @order.doctor_id), {}, class:"form-control"
              %div.col-md-4
                %div.col-md-5{style:"padding: 0;"}
                  %label{:style => "background-color: white;font-size: 18px;font-weight: 400;padding: 4px;"}
                    Order Date:
                %div.col-md-7
                  = f.input :order_date, as: :date_picker, label: false
              %div.col-md-4
                /here false says button is not prescription finalized examFormSubmit(false)
                %button.btn.green{onclick: "$('.order_date_form').submit(); return false;"}
                  %i.fa.fa-check-circle
                  Save &amp; Continue Edit
                .btn-group.pull-right{:style => "-webkit-user-select: text;"}
                  %button.btn.yellow.dropdown-toggle{"data-close-others" => "true", "data-delay" => "1000", "data-hover" => "dropdown", "data-toggle" => "dropdown", :type => "button"}
                    %span{:style => "-webkit-user-select: text;"} Actions
                    %i.fa.fa-angle-down{:style => "-webkit-user-select: text;"}
                  %ul.dropdown-menu.pull-right.order_action
                    -any_item = (@order.eye_glass_orders.any? || @order.contact_lens_orders.any? || @order.procedure_adjustments.any?)
                    - if any_item
                      %li
                        -#%a{:href => complete_options_order_path(@order),:class => 'order_complete_options', :data => { :remote => true}}
                        %a{:href => profile_payment_patients_path(order_id: @order.id),:class => 'order_complete_options',:data => { "no-turbolink"=> "true",:remote => true}}
                          %i.fa.fa-check-circle
                          Finalize Order
                    -if @order.examination.present?
                      %li
                        %a{:href => edit_examination_path(@order.examination),:target => '_blank' }
                          %i.fa.fa-edit
                          View Exam
                    -if @order.paid? && any_item
                      %li
                        %a{ :data => {"remote" =>"true",'type' => 'json'}, :href => email_invoice_order_path(@order), :class => 'email_invoice' }
                          %i.fa.fa-send
                          Email Invoice

                    -if @order.paid? && any_item
                      %li
                        = link_to "<i class='fa fa-files-o'></i>&nbsp;View Invoice".html_safe, invoice_reports_path(id: @order.id,:name => "inv_show"),:target => '_blank'
              
                    %li
                      %a{ :href => '#' ,:class => 'followups', :data => { :id => @order.joint_resource.id ,:name => @order.joint_resource.try(:member).try(:name)}}
                        %i.fa.fa-thumbs-o-up
                        Follow up
                        %span.badge.badge-success
                          = @order.joint_resource.try(:follow_ups).count
                    -if @resource.class == Patient
                      %li
                        %a{ :data => { "no-turbolink"=> "true"},:href => doctor_patient_profile_path(:patient_id => @joint_resource.patient_id),:target => '_blank'}
                          %i.fa.fa-user
                          View Profile 
                    -else
                      %li{:style => "-webkit-user-select: text;"}
                        %a{:href => family_member_path(@resource.id), :style => "color: black;"} 
                          %i.fa.fa-user
                          View Profile            
            
            .row
              %div.col-md-5
                %div.col-md-7
                  %label{:style => "background-color: white;font-size: 18px;font-weight: 400;padding: 4px;"}
                    Order Selection:
                  %span.badge.badge-danger{:style => "margin-top: -35px;margin-left: -15px;"}
                    = @all_orders.count
                %div.col-md-5{style:"padding: 0;"}
                  = select_tag :selected_order , options_from_collection_for_select(@all_orders.order(order_date: :desc), 'id', 'order_date', @order.id), class: "form-control", id: "select_order", onchange: "loadOrder();"
                - if @order.try(:joint_resource).try(:examinations).present?
                  %div.col-md-7{style:"margin-top: 10px;"}
                    %label{:style => "background-color: white;font-size: 18px;font-weight: 400;padding: 4px;width: 136px;"}
                      .exam_process.last_exam_test
                        %a{:href => edit_examination_path(@order.joint_resource.examinations.last), :style => "color: black;"}
                          Open Exam
                    %span.badge.badge-danger{:style => "margin-top: -35px;margin-left: -15px;"}
                      = @order.joint_resource.examinations.all.count  

              %div.col-md-1
              %div.col-xs-7.col-md-3{:style => "background-color: white"}
                %ul.list-inline.pull-left
                  %li
                    %span.semi-bold.price_detail Total Payment:
                  %br
                  %li
                    %span.semi-bold.price_detail Balance Due:
                  %br
                  %li
                    %span.semi-bold.price_detail Reward:
                  %br
                  %li
                    %span.semi-bold.price_detail Refund:
              %div.col-xs-5.col-md-2{:style => "background-color: white"}
                %ul.list-inline.pull-left
                  %li
                    #total_all.semi-bold.price_detail  $ #{number_with_precision(@order.total, :precision => 2)} 
                  %br
                  %li
                    #order_balance_due.semi-bold.price_detail   $ #{number_with_precision(@order.balance_due, :precision =>2)}
                  %br
                  %li
                    #order_reward.semi-bold.price_detail.price-field
                      $
                      #{number_with_precision(@joint_resource.reward_point, :precision =>2)}
                  %br
                  %li
                    #order_refund.semi-bold.price_detail  $ #{number_with_precision(@order.refund, :precision =>2)}
              %div#online_users.col-md-1
%input#order_id.form-control{:type => "hidden", value: @order.id}
.row
  .col-md-12
    #order-form-body{:style => 'background-color: white;'}
      .page-content{style: 'background-image: url() !important; min-height: 360px !important; padding: 0px !important;'}
        .tabbable.tabbable-custom.tabbable-custom-profile
          #tab_partial
            =render 'doctor/orders/order_partial/tab_partial.html.haml'
          = render 'order_form'
#order_complete_confirmation_modal
  = render 'doctor/orders/order_partial/order_complete_confirmation_modal'
#order_checklist_modal
  = render 'doctor/orders/order_partial/order_checklist_modal'
#card_not_authorized
  -if @profile.present?
    =render '/doctor/orders/order_partial/card_not_authorized'
/ profile payment option
- unless @order.new_record?
  #registered_payment_checkout

#followup-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "followup-modal-label",:role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
        %h4#followup-modal-label.modal-title
      .modal-body
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close
#modalfollowupremove.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalfollowupremoveLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
        %h4#modalfollowupremoveLabel.modal-title Confirmation
      .modal-body{:style => 'max-height: 100px;overflow-y: auto;'} 
        %span
          Are You sure you want to remove this log ?
      .modal-footer.bg-warning
        .row
          .col-md-12.pull-right
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} No
            %a{"data-method" => "delete", :href => "#",:id => "follow_up_remove_id",:class => "btn btn-success"} Yes
= javascript_include_tag '/assets/dropin.min.js'
:javascript
  var availableTags = #{available_contact_lens_types};
  console.log("availableTags is :"+availableTags);
  $(document).ready(function(){
    var current_order = "#{@order.id}";
    var current_doctor = "#{current_doctor.id}";
    // we are using firebase connection here to share order form real time updates by providing tree parent key as order id
    var myFirebaseRef = new Firebase("https://#{ENV['FIREBASE_APP_URL']}/orders/"+current_order);  //firebase app url reference
    ordersEditPage(myFirebaseRef,current_order,current_doctor);
    prepopulate_contact_lens_types_prices(availableTags,myFirebaseRef,current_doctor);
  });

  // To save the newly added follow up log
  $(document).on('click','.save_follow_up',function(){
    var myform = $('#new_follow_up').serialize();
    var patient_id = $(this).data('id');
    var patient_name  = $(this).data('name');
    $.ajax({ 
           type: "POST",
           url: "/follow_ups",
           data: myform,
           dataType: "JSON"
           }).success(function(data){
             var element;
             $('.followups').each(function(){ if($(this).data('id')== patient_id ){ element=$(this) } });
             if( typeof element != "undefined" ) { element.trigger('click');}
          }).error(function(data){
             $('#error_explanation').html(data.responseJSON.error);
             $('#error_explanation').show();
             return false;
          });
  });
   // To list patient follow ups in modal box
  $(document).on('click','.followups',function(){
    var jr_id = $(this).data('id');
    var patient_name  = $(this).data('name');
    $.ajax({ 
           type: "GET",
           url: "/follow_ups",
           data: 'id='+jr_id,
           dataType: "JSON",
           async: false
           }).success(function(data){
               $('#followup-modal').find('.modal-header').html("<h3><i class='fa fa-user'></i>&nbsp;&nbsp;"+patient_name+"&nbsp;Follow up Log</h3>");
               $('#followup-modal').find('.modal-body').html(data.html);
               $('#followup-modal').find('.modal-footer').html("<a class='btn btn-default' data-dismiss='modal'>Close</a> <a href=# data-id="+jr_id+" data-name="+patient_name+" class='add_new_follow_up btn btn-primary'>Add New</a>");
               $('#followup-modal').modal('show');
          });
  });
  
  // To add new follow up log through modal box
  $(document).on('click','.add_new_follow_up',function(){
    var patient_id = $(this).data('id');
    var patient_name  = $(this).data('name');
    $.ajax({ 
           type: "GET",
           url: "/follow_ups/new",
           data: 'id='+patient_id,
           dataType: "JSON",
           async: true
           }).success(function(data){
              if(data.status == "Error"){
                $('#followup-modal').modal('hide');
                jQuery.gritter.add({ title: data.status, text: data.msg });
              }
              else{
                $('#followup-modal').find('.modal-header').html("<h3><i class='fa fa-user'></i>&nbsp;&nbsp;"+patient_name+"&nbsp;Follow up Log</h3>");
                $('#followup-modal').find('.modal-body').html(data.html);
                $('#followup-modal').find('.modal-footer').html("<a class='btn btn-default' data-dismiss='modal'>Close</a> <a href=# data-id="+patient_id+" data-name="+patient_name+" class='save_follow_up btn btn-primary'>Save</a>");
                $('#followup-modal').modal('show');
              }
          });
  });
  
  // To save the newly added follow up log
  $(document).on('click','.save_follow_up',function(){
    var myform = $('#new_follow_up').serialize();
    var patient_id = $(this).data('id');
    var patient_name  = $(this).data('name');
    $.ajax({ 
           type: "POST",
           url: "/follow_ups",
           data: myform,
           dataType: "JSON"
           }).success(function(data){
             var element;
             $('.followups').each(function(){ if($(this).data('id')== patient_id ){ element=$(this) } });
             if( typeof element != "undefined" ) { element.trigger('click');}
          }).error(function(data){
             $('#error_explanation').html(data.responseJSON.error);
             $('#error_explanation').show();
             return false;
          });
  });
