$('#prescription').find('.modal-header').html("<h4 class='modal-title'><%= "<i class='fa fa-cog'></i>  Finalized Glass prescriptions <small> for #{@joint_resource.member.try(:name)}<small>".html_safe %></h4>");
$('#prescription').find('.modal-body').html('<%= escape_javascript(render :partial => "doctor/orders/order_partial/eye_glass_order/glass_prescriptions",:locals => {:object => @prescrips ,:form_id => params[:form_id] })%>');
$('#prescription').modal('show');
