<% if @contact_lens_order.hold %>
  $("#lens_order_hold_<%= @contact_lens_order.id %>").removeClass('blue-hoki');
  $("#lens_order_hold_<%= @contact_lens_order.id %>").addClass('btn-success');
<% else %>
  $("#lens_order_hold_<%= @contact_lens_order.id %>").removeClass('btn-success');
  $("#lens_order_hold_<%= @contact_lens_order.id %>").addClass('blue-hoki');
<% end %>
$('#tab_partial').html("<%= j render :partial => 'doctor/orders/order_partial/tab_partial' %>")
$('.tab-content .tab-pane').removeClass('active');
$('#tab2.tab-pane').addClass('active');
$('#total_all').html("$ <%= '%.2f' % @order.total %>")
$('#order_balance_due').html("$ <%= '%.2f' % @order.balance_due %>")
$('#order_refund').html("$ <%= '%.2f' % @order.refund %>")