<% if @eye_glass_order.hold %>
  $("#glass_order_hold_<%= @eye_glass_order.id %>").removeClass('blue-hoki');
  $("#glass_order_hold_<%= @eye_glass_order.id %>").addClass('btn-success');
<% else %>
  $("#glass_order_hold_<%= @eye_glass_order.id %>").removeClass('btn-success');
  $("#glass_order_hold_<%= @eye_glass_order.id %>").addClass('blue-hoki');
<% end %>
$('#tab_partial').html("<%= j render :partial => 'doctor/orders/order_partial/tab_partial' %>")
$('.tab-content .tab-pane').removeClass('active');
$('#tab3.tab-pane').addClass('active');
$('#total_all').html("$ <%= '%.2f' % @order.total %>")
$('#order_balance_due').html("$ <%= '%.2f' % @order.balance_due %>")
$('#order_refund').html("$ <%= '%.2f' % @order.refund %>")