%table.table
  %thead
    %tr
      %th Date
      %th Patient Name
      %th Doctor
      %th Status
      %th Order Procedures
      %th Order Total

  %tbody
    - @orders.each do |order|
      - patient = order.joint_resource.member
      %tr
        %td= order.created_at
        %td
          = patient.try(:name)
          -if class_name(patient) == "FamilyMember"
            %br
            %strong
              Family member of
              = order.joint_resource.patient.try(:name)
        %td= order.doctor.name if order.doctor.present?
        %td= order_status(order)
        %td= order.exam_procedures.present? ? order.exam_procedures.map{|prcd| prcd.code }.join(","): (order.procedures.present? ? order.procedures.map{|prcd| prcd.code }.join(","): '')
        %td= order.total