- logo_url = @store.try(:logo).try(:url)
- address = @store.try(:office_address) || current_organisation.try(:address)
- resource = @eye_glass_order.order.joint_resource.member
.row
  .col-md-6
    - if @eye_glass_order.try(:order).try(:store).try(:logo).present?
      -unless request.try(:format).try(:html?)
        = wicked_pdf_image_tag @eye_glass_order.try(:order).try(:store).logo.url(:thumb), class: "img-responsive align-middle"
      -else
        = image_tag @eye_glass_order.try(:order).try(:store).logo.url(:thumb), class: "img-responsive align-middle"
    - else
      %img.img-responsive.align-middle{:alt => "logo",:src => "/images/def_logo.jpg"}/
      %h4
        = @eye_glass_order.try(:order).try(:store).try(:description)
  .col-sm-5
    %strong #{@eye_glass_order.try(:order).try(:store).try(:description).try(:titleize)}
    %br
    %strong #{@eye_glass_order.try(:order).try(:store).try(:office_address).try(:address1)}
    -unless @eye_glass_order.try(:order).try(:store).try(:office_address).try(:address2).blank?
      %br
      #{@eye_glass_order.try(:order).try(:store).try(:office_address).try(:address2)}
    %br/
    #{@eye_glass_order.try(:order).try(:store).try(:office_address).try(:city)} ,
    = Carmen::Country.coded(@eye_glass_order.try(:order).try(:store).try(:office_address).try(:country_id)).try(:subregions).try(:coded,(@eye_glass_order.try(:order).try(:store).try(:office_address).try(:state_id))).try(:name)
    #{@eye_glass_order.try(:order).try(:store).try(:office_address).try(:postal_code)}
    %br
    = "P: #{number_to_phone(@eye_glass_order.try(:order).store.phone_number.to_s[2..-1].to_i, area_code: true)}"
    %br
    = "F: #{@eye_glass_order.try(:order).store.fax}" if @eye_glass_order.try(:order).store.fax.present?
    %br
    %abbr{:title => "Email"}
    #{@eye_glass_order.try(:order).try(:store).try(:contact_email)}          
  .col-md-1
%br
%br
%h4.text-center
  Lab Order
.row
  .col-sm-6
    %ul.list-unstyled
      %li
        Name: 
        = resource.name
      %li
        = "Date: #{@eye_glass_order.try(:order).try(:created_at).try(:strftime,"%m/%d/%Y")}"
      %li
        = "Eyeglass Order ID: #{@eye_glass_order.id}"
      -if @eye_glass_order.try(:acc_no).present?  
        %li
          Account Number:
          =@eye_glass_order.try(:acc_no) 
      - if @eye_glass_order.try(:msg_lab).present?  
        %li
          Message to Lab:
          =@eye_glass_order.try(:msg_lab) 

- if @eye_glass_order.try(:check_box_mark_urgent) == true
  %h2.text-center.text-danger
    URGENT PLEASE EXPEDITE
.row
  .col-md-12
    .grid.simple
      .grid-body
        %table.table-hover.table-condensed.table-bordered.form-group
          %thead
            %tr
              %th 
              %th SPH
              %th CYL
              %th AXIS
              %th ADD
              %th Prism
              %th Segment Height
              %th Base Curve
          %tbody
            %tr
              %td
                = "OD : "
                -#%i{:class =>  @eye_glass_order.od_checkmark ? 'fa fa-check': 'fa fa-close'}
              %td
                = lab_order_prescription('od_sphere')
              %td
                = lab_order_prescription('od_cylinder')
              %td
                = lab_order_prescription('od_axis')
              %td
                = lab_order_prescription('ou_add')
              %td
                = lab_order_prescription('od_prism')
              %td
                = lab_order_prescription('od_segment_height')
              %td
                = lab_order_prescription('od_base_curve').present? ? lab_order_prescription('od_base_curve') : "4"
            %tr
              %td
                = "OS :"
                -#%i{:class =>  @eye_glass_order.os_checkmark ? 'fa fa-check': 'fa fa-close'}
              %td
                = lab_order_prescription('os_sphere')
              %td
                = lab_order_prescription('os_cylinder')
              %td
                = lab_order_prescription('os_axis')
              %td
                = lab_order_prescription('ou_add')
              %td
                = lab_order_prescription('os_prism')
              %td
                = lab_order_prescription('os_segment_height')
              %td
                = lab_order_prescription('os_base_curve').present? ? lab_order_prescription('os_base_curve') : "4"

.row
  .col-md-6
    .grid.simple
      .grid-body
        %table.table-hover.table-condensed.table-bordered.form-group
          %thead
            %tr
              %th{:colspan => 3}
                = 'Lens Information'
          %tbody.lens_info
            %tr
              %th{:colspan => 2}
                = "Lens Type"
                -#%i.pull-right{:class =>  @eye_glass_order.eye_glass_type_checkmark ? 'fa fa-check': 'fa fa-close'}
              %td
                = @eye_glass_order.try(:eyeglass_types_price).try(:glasstype)
            %tr
              %th{:colspan => 2}
                = "Lens Material"
                -#%i.pull-right{:class =>  @eye_glass_order.lens_material_checkmark ? 'fa fa-check': 'fa fa-close'}
              %td
                = @eye_glass_order.try(:lens_material).try(:name)
            - lab_order_addon_details.each_with_index do |addon,index|
              %tr
                %th{:colspan => 2}
                  = "Add-on ##{index+1}"
                  -#%i.pull-right{:class =>  addon.third ? 'fa fa-check': 'fa fa-close'}
                %td{:colspan => 2}
                  = "#{addon.first}"
                  -if addon.second.present?
                    = "(#{addon.second})"
        -if  @eye_glass_order.try(:glass_frames_price).try(:frame).present?
          %table.table-hover.table-condensed.table-bordered
            %thead
              %tr
                %th.container-fluid{:colspan => 6}
                  Frame Information
                  -#%i.pull-right{:class =>  @eye_glass_order.frame_checkmark ? 'fa fa-check': 'fa fa-close'}
            %tbody
              %tr
                %th
                  = "Frame Type"
                %td{:colspan => 3}
                  = @eye_glass_order.try(:glass_frames_price).try(:frame)
              %tr
                %th
                  = "Material"
                %td
                  = "#{@eye_glass_order.try(:material).present? ? @eye_glass_order.try(:material) : "Zyl"}"
                %th
                  = "temple"
                %td
                  = @eye_glass_order.try(:temple)
              %tr
                %th
                  = "Eye Size"
                %td
                  ="#{@eye_glass_order.try(:eye_size).present? ? @eye_glass_order.try(:eye_size) : "60"}"
                %th
                  = "Model"
                %td
                  = @eye_glass_order.try(:model)
              %tr
                %th
                  = "Bridge"
                %td
                  ="#{@eye_glass_order.try(:bridge).present? ? @eye_glass_order.try(:bridge) : "18"}"
                %th
                  = "Color"
                %td
                  = @eye_glass_order.try(:color)
              %tr
                %th
                  = "B"
                %td
                  ="#{@eye_glass_order.try(:glass_b).present? ? @eye_glass_order.try(:glass_b) : "40" }"
                %th
                  = "ED"
                %td{:colspan => 3}
                  ="#{@eye_glass_order.try(:glass_ed).present? ? @eye_glass_order.try(:glass_ed) : "60" }"
  -unless @eye_glass_order.try(:glasses).try(:first).try(:visual_acuity).is_empty?
    .col-md-6.pull-right
      .grid.simple
        .grid-body
          %table.table-hover.table-condensed.table-bordered
            %thead
              %tr
                %th.semi-bold{:colspan => 3} Distance PD
            %tbody
              -if @eye_glass_order.try(:glasses).try(:first).try(:visual_acuity).try(:distance_pupillary?)
                %tr
                  %td
                    = "OD"
                  %td
                    = "OS"
                  %td
                    = "OU"
                %tr
                  %td
                    = lab_order_pupillary_distance("distance_od")
                  %td
                    = lab_order_pupillary_distance("distance_os")
                  %td
                    = lab_order_pupillary_distance("distance_ou")
              -if @eye_glass_order.try(:glasses).try(:first).try(:visual_acuity).try(:intermediate_pupillary?)
                %tr
                  %th{:colspan => 3} 
                    = "Intermediate PD"
                %tr
                  %td
                    = "OD"
                  %td
                    = "OS"
                  %td
                    = "OU"
                %tr
                  %td
                    = lab_order_pupillary_distance("intermediate_od")
                  %td
                    = lab_order_pupillary_distance("intermediate_os")
                  %td
                    = lab_order_pupillary_distance("intermediate_ou")
              -if @eye_glass_order.try(:glasses).try(:first).try(:visual_acuity).try(:near_pupillary?)
                %tr
                  %th{:colspan => 3} 
                    = "Near PD"
                %tr
                  %td
                    = "OD"
                  %td
                    = "OS"
                  %td
                    = "OU"
                %tr
                  %td
                    = lab_order_pupillary_distance("near_od")
                  %td
                    = lab_order_pupillary_distance("near_os")
                  %td
                    = lab_order_pupillary_distance("near_ou")
%br
.row
  .col-md-4
    %h4 Comments:
.row
  .col-md-10
    .valuemark
      %span #{@eye_glass_order.try(:comments)}
%br
:css
  td{
    width: 95px;
    height: 35px;
    font-size: 10px;
  }
  .lens_info{
    width: 50% !important;
  }
  .lens_info td{
    width: 40% !important;
  }
  .lab_order_pd{
    width: 50% !important;
  }
  .head-margin{
    margin: 30px 0px 0px 30px;
  }
  .info-margin{
    margin: 20px 0 0 0px;
  }
  th{
    font-size: 12px;
  }
  h4{
    font-size: 14px;
  }