.container
  %p#notice= notice
  .container
  / BEGIN PAGE HEADER
  .row
    .col-md-12
      / BEGIN PAGE TITLE &amp; BREADCRUMB
      %h3.page-title
        New Order
        %small
          = @joint_resource.email
      %ul.page-breadcrumb.breadcrumb
        %li#actionsliststyle.dropdown.btn-group
          %a.dropdown-toggle{"data-toggle" => "dropdown","data-delay"=>"1000","data-hover"=>"dropdown", :href => "#",class: 'btn blue btn-lg'}
            %span Actions
            %i.fa.fa-angle-down
          %ul.dropdown-menu.pull-right
            %li
              %a{ :href => doctor_patient_profile_path(:patient_id => @joint_resource.patient_id)}
                %i.fa.fa-user
                View Profile
        %li
          %i.fa.fa-home
          %a{:href => "/"} Home
          %i.fa.fa-angle-right
        %li
          %a{:href => "#"} Extra
          %i.fa.fa-angle-right
        %li
          %a{:href => "#"} order
      / END PAGE TITLE &amp; BREADCRUMB
  / END PAGE HEADERns", id: "actions",class: "btn btn-success"
  .row
    .col-lg-12
      #patient-details{:style => 'background-color: white;'}
        %br
        .row
          .col-md-12
            %h3{:style => "padding-left: 5px;"}
              #{@joint_resource.try(:name)}
              -if class_name(@joint_resource.member) == "FamilyMember"
                %small
                  Family member of
                  = @joint_resource.try(:name)
        .row
          .col-md-3
            %i.fa.fa-calendar{:style => "padding-left: 5px;"}
            %label.string.optional.control-label DOB:
            %span.semi-bold
              #{@joint_resource.member.birthday}
          .col-md-2
            %i.fa.fa-birthday-cake
            %label.string.optional.control-label AGE:
            %span.semi-bold
              #{@joint_resource.member.age}
          .col-md-5
  %hr/
  .row
    .col-md-12
      #order-form-body{:style => 'background-color: white;'}
        .tabbable.tabbable-custom.tabbable-full-width
          #tab_partial
            =render 'doctor/orders/order_partial/tab_partial.html.haml'
          = render 'form'
:javascript
  $(document).ready(function(){
    var exam_copay = "#{@exam_copay}";
    ordersNewPage(exam_copay);
  });
