$('#tab_partial').html("<%= j render :partial => 'doctor/orders/order_partial/tab_partial' %>")
$('#registered_payment_checkout').html("<%= j render :partial => '/patient/dashboards/dashboard_partial/profile_payment' %>");
$('#order_balance_due').html("$ <%= @order.balance_due %>");
