console.log("Spinner "+$('.spinner'));
<% eye_glass_order_tempt = ''%>
<% contact_lens_order_tempt = ''%>
<% form_for @order do |f| %>
  <% eye_glass_order_tempt = render :partial => 'doctor/orders/order_partial/eye_glass_order/glass_order',:locals => { f: f} %>
  <% contact_lens_order_tempt = render :partial => 'doctor/orders/order_partial/contact_lens_order/lens_order',:locals => { f: f} %>
<% end %>
$('#eyeglassorders').html("<%= j eye_glass_order_tempt %>");
$('#contactlensorders').html("<%= j contact_lens_order_tempt %>");
$('#tab_partial').html("<%= j render :partial => 'doctor/orders/order_partial/tab_partial' %>")
<% unless params[:contacts_suborder_update].present? || params[:glasses_suborder_update].present? %>
  $('.tab-content .tab-pane').removeClass('active');
  $('#tab1.tab-pane').addClass('active');
<% end %>
$('#registered_payment_checkout').html("<%= j render :partial => '/patient/dashboards/dashboard_partial/profile_payment' %>");
$('#order_complete_confirmation_modal').html("<%= j render :partial => 'doctor/orders/order_partial/order_complete_confirmation_modal' %>")
$('#order_checklist_modal').html("<%= j render :partial => 'doctor/orders/order_partial/order_checklist_modal' %>")
$('#total_all').html("$ <%= '%.2f' % @order.total %>");
$('#order_balance_due').html("$ <%= '%.2f' % @order.balance_due %>");
icheck();
var availableTags = <%= raw available_contact_lens_types %>;
var current_order = "<%= @order.id %>";
var current_doctor = "<%= current_doctor.id %>";
$total_paid = "<%= '%.2f' % @order.total_paid %>";
console.log("lens types tags is :"+availableTags);
console.log("current doctor id :"+current_doctor);
console.log("current_order id :"+current_order);
var myFirebaseRef = new Firebase("https://#{ENV['FIREBASE_APP_URL']}/orders/"+current_order);  //firebase app url reference
prepopulate_contact_lens_types_prices(availableTags,myFirebaseRef,current_doctor);
