$("#lens_order_<%= @contact_lens_order.id %>").html("<%=j render :partial => 'doctor/orders/new_partials/lens_suborder', :locals => { :suborder => @contact_lens_order } %>");
$('#total_all').html("$ <%= '%.2f' % @order.total %>")
$('#order_balance_due').html("$ <%= '%.2f' % @order.balance_due %>")
$('#order_refund').html("$ <%= '%.2f' % @order.refund %>")
icheck();
var availableTags = <%= raw available_contact_lens_types %>;
prepopulate_contact_lens_type1(availableTags);
var myFirebaseRef = new Firebase("https://<%= ENV['FIREBASE_APP_URL'] %>/orders/<%= @order.id.to_s %>");  //firebase app url reference
prepopulate_contact_lens_types_prices(availableTags,myFirebaseRef,"<%= current_doctor.id.to_s %>");
$('.spinner').hide();
