$("#glass_order_<%= @eye_glass_order.id %>").html("<%=j render :partial => 'doctor/orders/new_partials/glass_suborder', :locals => { :suborder => @eye_glass_order } %>");
$('#total_all').html("$ <%= '%.2f' % @order.total %>")
$('#order_balance_due').html("$ <%= '%.2f' % @order.balance_due %>")
$('#order_refund').html("$ <%= '%.2f' % @order.refund %>")
icheck();
$('.spinner').hide();
var lab_next_btn = "<%= @lab_order_btn%>" // this variable gives us value when we click on Next Lab Order Btn over Order Dashboard.
if (lab_next_btn == "Next"){
	$("#view_pdf_modal_<%= @eye_glass_order.id %>").modal('show');
}