= render 'comfy/admin/cms/partials/site_form_before', :form => form

= form.text_field :label, :data => {:slugify => @site.new_record?}, :placeholder => "Enter Sub-domain name like 'brickellvision'"
= form.text_field :identifier, :data => {:slug => true}, :placeholder => "Enter Sub-domain name like 'brickellvision'"
= form.text_field :hostname
= form.text_field :path
= form.select :locale, ComfortableMexicanSofa.config.locales.to_a.collect{|l| ["#{l[1]} (#{l[0]})", l[0]]}
= form.form_group do
  = form.check_box :is_mirrored, :label => t('.is_mirrored')

= render 'comfy/admin/cms/partials/site_form_after', :form => form

= form.form_group :class => 'form-actions' do
  = form.primary t(@site.new_record?? '.create' : '.update')
  = link_to t('.cancel'), comfy_admin_cms_sites_path, :class => 'btn btn-link'