.row
  .col-lg-12
    .portlet.box.red-intense
      .portlet-title
        .caption
          %i.fa.fa-phone
          Follow up
          %span.semi-bold List
      .portlet-body
        .row-fluid
          .span12
            .grid.simple
              .grid-body
                .row
                  .col-md-12
                    .btn-group.tabletools-dropdown-on-portlet
                      .col-md-6
                        #ShowToday_followup{:style=> 'position: relative;width: 10%;'}
                      .col-md-6
                        #DefaultView_followup{:style=>'position: relative;margin-right: 100px;width: 10%;',:class => 'defview'}
                .table-responsive
                  %table#followup.table.table-hover.table-condensed.table-bordered
                    %thead
                      %tr
                        %th
                          Name
                        %th.hidden-xs
                          Birthdate
                        %th
                          Email
                        %th
                          Phone
                        %th
                          Latest Entry
                        %th
                          Actions
                        %th.hidden
                          id
                    %tbody
                      - @follow_ups.each do |order|
                        - patient = order.joint_resource.member
                        %tr
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style'}
                                = patient.try(:name)
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style'}
                                = patient.try(:name)
                          %td.hidden-xs
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.birthday.present? ? patient.birthday.strftime("%B %d,%Y") : "N/A"
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.birthday.present? ? patient.birthday.strftime("%B %d,%Y") : "N/A" 
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.email
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.email

                            
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'} 
                                = patient.phone.present? ? patient.phone : "N/A"
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'} 
                                = patient.phone.present? ? patient.phone : "N/A"

                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = order.updated_at.strftime("%m/%d/%Y at %I:%M%p")
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = order.updated_at.strftime("%m/%d/%Y at %I:%M%p")

                            
                          %td
                            %ul.dropdown
                              %li#actionsliststyle.btn-group
                                %a.dropdown-toggle{ :href => '#', 'data-toggle' => 'dropdown',:class => 'btn btn-sm default yellow-stripe'}
                                  Actions
                                  %i.fa.fa-angle-down
                                %ul.dropdown-menu.pull-right
                                  %li
                                    %a{ :href => '#' ,:class => 'followups', :data => { :id => order.joint_resource.id ,:name => patient.try(:name)}}
                                      %i.fa.fa-thumbs-o-up
                                      Follow up
                                      %span.badge.badge-success
                                        =patient.try(:joint_resource).try(:follow_ups).count
                                  - if order.examination.present?
                                    %li
                                      %a{ :href => edit_examination_path(order.examination),:data => { 'no-turbolink' => true}}
                                        %i.fa.fa-openid
                                        Open Exam
                                  %li
                                    -if order.try(:contact_lens_orders).present? or order.try(:eye_glass_orders).present?
                                      %a{ :href =>  edit_order_path(order),:data => { 'no-turbolink'=>true}}
                                        %i.fa.fa-shopping-cart
                                        Open Order
                                  - if patient.class.name == "FamilyMember"
                                    %li{:style => "-webkit-user-select: text;"}
                                      %a{:href => family_member_path(order.try(:joint_resource).try(:family_member_id))}
                                        %i.fa.fa-user
                                        View Profile
                                  - else
                                    %li
                                      %a{ :data => { "no-turbolink"=> "true"},:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient_id)}
                                        %i.fa.fa-user
                                        View Profile
                                  %li
                                    %a{ :href => '#' ,:id => 'finalized_remove' ,:data => {:id => order.id },:class => 'remove-confirm'}
                                      %i.fa.fa-trash-o
                                      Remove
                          %td.hidden
                            = order.joint_resource.id
                      - @renewed_follow_ups.each do |order|
                        - patient = order.joint_resource.member
                        %tr
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style'}
                                = patient.name
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style'}
                                = patient.name
                          %td.hidden-xs
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.birthday.strftime("%B %d,%Y") if patient.birthday.present?
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.birthday.strftime("%B %d,%Y") if patient.birthday.present?
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.email
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.email
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'} 
                                = patient.phone.present? ? patient.phone : "N/A"
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'} 
                                = patient.phone.present? ? patient.phone : "N/A"
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = order.updated_at.strftime("%m/%d/%Y at %I:%M%p")
                                -if order.order_subscription_id.present?
                                  %span.pull-right.badge.badge-rounded.badge-info subscribed
                                -else
                                  %span.pull-right.badge.badge-rounded.badge-warning re-newed
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = order.updated_at.strftime("%m/%d/%Y at %I:%M%p")
                                -if order.order_subscription_id.present?
                                  %span.pull-right.badge.badge-rounded.badge-info subscribed
                                -else
                                  %span.pull-right.badge.badge-rounded.badge-warning re-newed
                          %td
                            %ul.dropdown
                              %li#actionsliststyle
                                %a.dropdown-toggle{ :class => 'btn btn-sm default yellow-stripe', :href => '#', 'data-toggle' => 'dropdown'}
                                  Actions
                                  %i.fa.fa-angle-down
                                %ul.dropdown-menu
                                  %li
                                    %a{ :href => '#' ,:class => 'followups', :data => { :id => patient.id ,:name => patient.try(:name)}}
                                      %i.fa.fa-thumbs-o-up
                                      Follow up
                                      %span.badge.badge-success
                                        =patient.try(:joint_resource).try(:follow_ups).count
                                  -if order.try(:contact_lens_orders).present? or order.try(:eye_glass_orders).present?
                                    %li
                                      %a{ :href =>  favourite_path(order),:data => { 'no-turbolink'=>true}}
                                        %i.fa.fa-shopping-cart
                                        Open Order
                                  %li
                                    %a{ :href => invoice_favourite_path(order,:format => :pdf),:data => { 'no-turbolink' => true} }
                                      %i.fa.fa-file-pdf-o
                                      Invoice
                                  -# if class_name(patient)=="Patient"
                                  -if patient.class.name == "FamilyMember"
                                    %li{:style => "-webkit-user-select: text;"}
                                      %a{:href => family_member_path(order.try(:joint_resource).try(:family_member_id))}
                                        %i.fa.fa-user
                                        View Profile
                                  - else
                                    %li
                                      %a{ :data => { "no-turbolink"=> "true"},:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient_id)}
                                        %i.fa.fa-user
                                        View Profile
                                  %li
                                    %a{ :href => '#' ,:id => 'finalized_remove' ,:data => {:id => order.id ,:renewed => 'order'},:class => 'remove-confirm'}
                                      %i.fa.fa-trash-o
                                      Remove
                          %td.hidden
                            = order.joint_resource.id
                      - @follow_list.each do |order|
                        - patient = order.joint_resource.member
                        %tr
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style'}
                                = patient.try(:name)
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style'}
                                = patient.try(:name)
                          %td.hidden-xs
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.birthday.strftime("%B %d,%Y") if patient.birthday.present?
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.birthday.strftime("%B %d,%Y") if patient.birthday.present?

                            
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.email

                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.email

                            
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.phone.present? ? patient.phone : "N/A"
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.phone.present? ? patient.phone : "N/A"

                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                From Patient Follow Up
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                From Patient Follow Up
                          %td
                            %ul.dropdown
                              %li#actionsliststyle.btn-group
                                %a.dropdown-toggle{ :href => '#', 'data-toggle' => 'dropdown',:class => 'btn btn-sm default yellow-stripe'}
                                  Actions
                                  %i.fa.fa-angle-down
                                %ul.dropdown-menu.pull-right
                                  %li
                                    %a{ :href => '#' ,:class => 'followups', :data => { :id => order.joint_resource.id ,:name => patient.try(:name)}}
                                      %i.fa.fa-thumbs-o-up
                                      Follow up
                                      %span.badge.badge-success
                                        =patient.try(:joint_resource).try(:follow_ups).count
                                  -if patient.class.name == "FamilyMember"
                                    %li{:style => "-webkit-user-select: text;"}
                                      %a{:href => family_member_path(order.try(:joint_resource).try(:family_member_id))}
                                        %i.fa.fa-user
                                        View Profile
                                  - else
                                    %li
                                      %a{ :data => { "no-turbolink"=> "true"},:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient_id)}
                                        %i.fa.fa-user
                                        View Profile
                          %td.hidden
                            = order.joint_resource.id
                  #followup-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "followup-modal-label",:role => "dialog", :tabindex => "-1"}
                    .modal-dialog.modal-lg
                      .modal-content
                        .modal-header
                          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
                          %h4#followup-modal-label.modal-title
                        .modal-body
                        .modal-footer
                          %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close
                  #modalfollowupremove.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalfollowupremoveLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog
                      .modal-content
                        .modal-header
                          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
                          %h4#modalfollowupremoveLabel.modal-title Confirmation
                        .modal-body{:style => 'max-height: 100px;overflow-y: auto;'} 
                          %span
                            Are You sure you want to remove this log ?
                        .modal-footer.bg-warning
                          .row
                            .col-md-12.pull-right
                              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} No
                              %a{"data-method" => "delete", :href => "#",:id => "follow_up_remove_id",:class => "btn btn-success"} Yes
:javascript

  //below function written inside manage_patients.js
  finalise_rvm();