.row
  .col-lg-12
    .portlet.box.blue-hoki
      .portlet-title
        .caption
          %i.fa.fa-globe
          Insurance Balance
          %span.semi-bold Due
      .portlet-body
        .row-fluid
          .span12
            .grid.simple
              .grid-body
                .row
                  .col-md-12
                    .tabletools-dropdown-on-portlet
                .table-responsive
                  %table#insurance_balance_table.table.table-hover.table-condensed.table-bordered
                    %thead
                      %tr
                        %th.text-center
                          Name
                        %th.hidden-xs.text-center
                          Birthdate
                        %th.text-center
                          Insurance Paid
                        %th.text-center
                          Amount Due
                        %th.text-center
                          Insurance
                        %th.text-center
                          Latest Entry
                        %th.text-center
                          Actions
                        %th.hidden
                          id
                    %tbody
                      - @insurance_balance.order('updated_at DESC').each do |order|
                        - patient = order.joint_resource.member
                        - if patient.try(:vision_insurance_id) !=1 and patient.try(:vision_insurance).present? and patient.vision_insurance.name != "N/A"
                          %tr
                            %td
                              -if patient.class.name == "FamilyMember"
                                %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style'}
                                  = patient.try(:name)
                              -else
                                %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style'}
                                  = patient.try(:name)
                            %td.hidden-xs
                              -if patient.class.name == "FamilyMember"
                                %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                  = patient.birthday.present? ? patient.birthday.strftime("%B %d,%Y") : "N/A" 
                              -else
                                %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                  = patient.birthday.present? ? patient.birthday.strftime("%B %d,%Y") : "N/A" 
                            %td
                              = simple_form_for order, remote: true do |f|
                                .col-md-8
                                  .input-icon
                                    %i.fa.fa-dollar
                                    = f.input :insurance_paid, label: false, wrapper: false, as: :string
                                .col-md-4
                                  = submit_tag "Save", class: "save_amount demo-loading-btn btn btn-sm", 'data-loading-text': "Loading..."
                            %td
                              -if patient.class.name == "FamilyMember"
                                %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                  = order.total
                              -else
                                %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                  = order.total
                            %td
                              -if patient.class.name == "FamilyMember"
                                %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                  = patient.try(:vision_insurance).try(:name)
                              -else
                                %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                  = patient.try(:vision_insurance).try(:name)  
                            %td
                              -if patient.class.name == "FamilyMember"
                                %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                  = order.updated_at.strftime("%d-%m-%Y at %I:%M%p")
                              -else
                                %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                  = order.updated_at.strftime("%d-%m-%Y at %I:%M%p")      
                            %td
                              %ul.dropdown
                                %li#actionsliststyle.btn-group
                                  %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                                    Actions
                                    %i.fa.fa-angle-down
                                  %ul.dropdown-menu.pull-right
                                    - if order.examination.present?
                                      %li
                                        %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(order.examination)}
                                          %i.fa.fa-edit
                                          Open Exam
                                    %li
                                      -if order.try(:contact_lens_orders).present? or order.try(:eye_glass_orders).present?
                                        %a{ :href => edit_order_path(order),:class => 'open-order' , :data => { 'exam-id' => order.examination.present? ? order.examination.id : '',:id => order.id,:name => patient.first_name,"no-turbolink" => true}}
                                          %i.fa.fa-shopping-cart
                                          Open Order

                                    - if patient.class.name == "FamilyMember"
                                      %li{:style => "-webkit-user-select: text;"}
                                        %a{:href => family_member_path(order.try(:joint_resource).try(:family_member_id))}
                                          %i.fa.fa-user
                                          View Profile
                                    - else
                                      %li
                                        %a{ :data => { "no-turbolink"=> "true"},:href => doctor_patient_profile_path(:patient_id => patient.id)}
                                          %i.fa.fa-user
                                          View Profile
                                    %li
                                      = simple_form_for order, remote: true  do |f|
                                        = f.hidden_field :remove_from_insurance_due, value: true
                                      %a{:href => '#' ,:id => 'insurance_remove' ,:class => 'remove-confirm',:onclick => "assign_element(this);"}
                                        %i.fa.fa-trash-o
                                          Remove
                            %td.hidden
                              = order.joint_resource.id
                #modalinsuranceremove.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalremoveLabel", :role => "dialog", :tabindex => "-1"}
                  .modal-dialog
                    .modal-content
                      .modal-header
                        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
                        %h4#modalinsuranceremoveLabel.modal-title Confirmation
                      .modal-body{:style => 'max-height: 100px;overflow-y: auto;'} 
                        %span
                          Are You sure you want to remove this log ?
                      .modal-footer.bg-warning
                        .row
                          .col-md-12.pull-right
                            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} No
                            %a{:onclick => "remove_element();", :href => "#",:id => "insurance_remove_id",:class => "btn btn-success","data-dismiss" => "modal"} Yes

:javascript
  insurance_rvm();
  var element ;
  function assign_element(el){
    element = el;
  } 
  function remove_element(){
       $(element).parent().find('form').submit(); 
       $('.spinner').hide(); 
       $(element).closest('tr').first().remove();
  }
  jQuery(document).ready(function() {       
    
    // initiate layout and plugins
    Metronic.init(); // init metronic core components
    //Layout.init(); // init current layout
    //QuickSidebar.init() // init quick sidebar
    // button state demo
    $('.demo-loading-btn')
      .click(function () {
        var btn = $(this)
        btn.button('loading')
        setTimeout(function () {
          btn.button('reset')
        }, 3000)
    });
  });
