.row
  .col-lg-12
    .portlet.box.red-intense
      .portlet-title
        .caption
          %i.fa.fa-shopping-cart
          To Be 
          %span.semi-bold Ordered
      .portlet-body
        .row-fluid
          .span12
            .grid.simple
              .grid-body
                .row
                  .col-md-12
                    .btn-group.tabletools-dropdown-on-portlet
                      .col-md-6
                        #ShowToday_ordered{:style=> 'position: relative;width: 10%;'}
                      .col-md-6
                        #DefaultView_ordered{:style=>'position: relative;margin-right: 100px;width: 10%;',:class => 'defview'}
                .table-responsive
                  %table#ordered.table.table-hover.table-condensed.table-bordered
                    %thead
                      %tr
                        %th
                          Name
                        %th.hidden-xs
                          Birthdate
                        %th
                          Email
                        %th
                          Phone
                        %th
                          Latest Entry
                        %th
                          Actions
                        %th.hidden
                          id
                    %tbody
                      - @to_be_ordered.each do |order|
                        - patient = order.joint_resource.member
                        %tr
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style'}
                                = patient.try(:name)
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style'}
                                = patient.try(:name)
                          %td.hidden-xs
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.birthday.present? ? patient.birthday.strftime("%B %d,%Y") : "N/A" 
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.birthday.present? ? patient.birthday.strftime("%B %d,%Y") : "N/A" 

                            
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.email

                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.email

                            
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.phone.present? ? patient.phone : "N/A"

                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.phone.present? ? patient.phone : "N/A"
                            
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = order.updated_at.strftime("%m/%d/%Y at %I:%M%p")
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = order.updated_at.strftime("%m/%d/%Y at %I:%M%p")

                            
                          %td
                            %ul.dropdown
                              %li#actionsliststyle.btn-group
                                %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                                  Actions
                                  %i.fa.fa-angle-down
                                %ul.dropdown-menu.pull-right
                                  - if order.examination.present?
                                    %li
                                      %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(order.examination)}
                                        %i.fa.fa-edit
                                        Open Exam
                                  -if order.try(:contact_lens_orders).present? or order.try(:eye_glass_orders).present?
                                    %li
                                      %a{ :data => { "no-turbolink"=> "true" },:href => edit_order_path(order)}
                                        %i.fa.fa-shopping-cart
                                        Open Order

                                  - if patient.class.name == "FamilyMember"
                                    %li{:style => "-webkit-user-select: text;"}
                                      %a{:href => family_member_path(order.try(:joint_resource).try(:family_member_id))}
                                        %i.fa.fa-user
                                        View Profile
                                  - else
                                    %li
                                      %a{ :data => { "no-turbolink"=> "true"},:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient_id)}
                                        %i.fa.fa-user
                                        View Profile
                                  %li
                                    %a{:href => dispense_order_path(order),:data => {"remote" =>"true",'type' => 'json'},:class => 'dispense_link'}
                                      %i.fa.fa-medkit
                                      Dispense it
                          %td.hidden
                            = order.joint_resource.id
                      - @re_newed_ordered.each do |re_newed_order|
                        -if re_newed_order.joint_resource.present?
                          - patient = re_newed_order.joint_resource.member
                          %tr
                            %td
                              -if patient.class.name == "FamilyMember"
                                %a{:href => family_member_path(re_newed_order.joint_resource.family_member),:class=>'anchor_style'}
                                  = patient.try(:name)
                              -else
                                %a{:href => doctor_patient_profile_path(:patient_id => re_newed_order.joint_resource.patient.id),:class=>'anchor_style'}
                                  = patient.try(:name)
                            %td.hidden-xs
                              -if patient.class.name == "FamilyMember"
                                %a{:href => family_member_path(re_newed_order.joint_resource.family_member),:class=>'anchor_style1'}
                                  = patient.birthday.strftime("%B %d,%Y") if patient.birthday.present?
                              -else
                                %a{:href => doctor_patient_profile_path(:patient_id => re_newed_order.joint_resource.patient.id),:class=>'anchor_style1'}
                                  = patient.birthday.strftime("%B %d,%Y") if patient.birthday.present?
                            %td
                              -if patient.class.name == "FamilyMember"
                                %a{:href => family_member_path(re_newed_order.joint_resource.family_member),:class=>'anchor_style1'}
                                  = patient.email

                              -else
                                %a{:href => doctor_patient_profile_path(:patient_id => re_newed_order.joint_resource.patient.id),:class=>'anchor_style1'}
                                  = patient.email
                            %td
                              -if patient.class.name == "FamilyMember"
                                %a{:href => family_member_path(re_newed_order.joint_resource.family_member),:class=>'anchor_style1'}
                                  = patient.phone.present? ? patient.phone : "N/A"

                              -else
                                %a{:href => doctor_patient_profile_path(:patient_id => re_newed_order.joint_resource.patient.id),:class=>'anchor_style1'}
                                  = patient.phone.present? ? patient.phone : "N/A"

                            %td
                              -if patient.class.name == "FamilyMember"
                                %a{:href => family_member_path(re_newed_order.joint_resource.family_member),:class=>'anchor_style1'}
                                  = re_newed_order.updated_at.strftime("%m/%d/%Y at %I:%M%p")
                                  -if re_newed_order.order_subscription_id.present?
                                    %span.pull-right.badge.badge-rounded.badge-info subscribed
                                  -else
                                    %span.pull-right.badge.badge-warning.badge-rounded re-newed
                              -else
                                %a{:href => doctor_patient_profile_path(:patient_id => re_newed_order.joint_resource.patient.id),:class=>'anchor_style1'}
                                  = re_newed_order.updated_at.strftime("%m/%d/%Y at %I:%M%p")
                                  -if re_newed_order.order_subscription_id.present?
                                    %span.pull-right.badge.badge-rounded.badge-info subscribed
                                  -else
                                    %span.pull-right.badge.badge-warning.badge-rounded re-newed
                            %td
                              %ul.dropdown
                                %li#actionsliststyle.btn-group
                                  %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                                    Actions
                                    %i.fa.fa-angle-down
                                  %ul.dropdown-menu.pull-right
                                    -# if re_newed_order.order.examination.present?
                                      %li
                                        %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(re_newed_order.order.examination)}
                                          %i.fa.fa-edit
                                          Open Exam
                                    -if re_newed_order.try(:order).try(:contact_lens_orders).present? or re_newed_order.try(:order).try(:eye_glass_orders).present?
                                      %li
                                        %a{ :data => { "no-turbolink"=> "true" },:href => favourite_path(re_newed_order)}
                                          %i.fa.fa-shopping-cart
                                          Open Order
                                    - if patient.class.name == "FamilyMember"
                                      %li{:style => "-webkit-user-select: text;"}
                                        %a{:href => family_member_path(re_newed_order.try(:joint_resource).try(:family_member_id))}
                                          %i.fa.fa-user
                                          View Profile
                                    -else
                                      %li
                                        %a{ :data => { "no-turbolink"=> "true"},:href => doctor_patient_profile_path(:patient_id => re_newed_order.joint_resource.patient_id)}
                                          %i.fa.fa-user
                                          View Profile
                                    %li
                                      %a{:data => { "no-turbolink"=> "true"},:href => dispense_favourite_path(re_newed_order)}
                                        %i.fa.fa-medkit
                                        Dispense it
                            %td.hidden
                              = re_newed_order.joint_resource.id