.row
  .col-lg-12
    .portlet.box.green-haze
      .portlet-title
        .caption
          %i.fa.fa-medkit
          To Be 
          %span.semi-bold Dispensed
      .portlet-body
        .row-fluid
          .span12
            .grid.simple
              .grid-body
                .row
                  .col-md-12
                    .btn-group.tabletools-dropdown-on-portlet
                      .col-md-6
                        #ShowToday_dispensed{:style=> 'position: relative;width: 10%;'}
                      .col-md-6
                        #DefaultView_dispensed{:style=>'position: relative;margin-right: 100px;width: 10%;',:class => 'defview'}
                .table-responsive
                  %table#dispensed.table.table-hover.table-condensed.table-bordered
                    %thead
                      %tr
                        %th
                          Name
                        %th.hidden-xs
                          Birthdate
                        %th
                          Email
                        %th
                          Phone
                        %th
                          Latest Entry
                        %th
                          Actions
                        %th.hidden
                          id
                    %tbody
                      - @to_be_dispensed.each do |order|
                        - patient = order.joint_resource.member
                        %tr
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style'}
                                = patient.try(:name)
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style'}
                                = patient.try(:name)
                          %td.hidden-xs
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.birthday.present? ? patient.birthday.strftime("%B %d,%Y") : "N/A" 
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.birthday.present? ? patient.birthday.strftime("%B %d,%Y") : "N/A" 

                            
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.email
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.email

                            
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.phone.present? ? patient.phone : "N/A"

                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}  
                                = patient.phone.present? ? patient.phone : "N/A"
                            
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = order.updated_at.strftime("%m/%d/%Y at %I:%M%p")
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = order.updated_at.strftime("%m/%d/%Y at %I:%M%p")

                            
                          %td
                            %ul.dropdown
                              %li#actionsliststyle.btn-group
                                %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                                  Actions
                                  %i.fa.fa-angle-down
                                %ul.dropdown-menu.pull-right
                                  - if order.examination.present?
                                    %li
                                      %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(order.examination)}
                                        %i.fa.fa-edit
                                        Open Exam
                                  -if order.try(:contact_lens_orders).present? or order.try(:eye_glass_orders).present?
                                    %li
                                      %a{ :data => { "no-turbolink"=> "true" },:href => edit_order_path(order)}
                                        %i.fa.fa-shopping-cart
                                        Open Order
                                  %li
                                    %a{ :href => '#' ,:id => 'dispenselog' ,:data => { :name => patient.name, :order => order.id,:type => 'Order'} ,:class => 'dispense-log'}
                                      %i.fa.fa-edit
                                        Dispense Log
                                      %span.badge-danger #{order.dispense_logs.count}
                                  %li
                                    %a{ :href => '#' ,:id => 'removeconfirm' ,:data => {:id => order.id }, :class => 'remove-confirm'}
                                      %i.fa.fa-trash-o
                                        Remove
                                  - if order.examination.present? && order.examination.referrals.present?
                                    %li
                                      %a{ :href => send_mail_to_patient_examination_referral_path(:examination_id => order.examination,:id => order.examination.referrals.last),:data => { 'no-turbolink' => true}}
                                        %i.fa.fa-send
                                        Email Referral
                                  %li
                                    %a{ :href => invoice_order_path(order,:format => :pdf),:data => { 'no-turbolink' => true} }
                                      %i.fa.fa-file-pdf-o
                                      Invoice
                                  %li
                                    %a{ :href => email_invoice_order_path(order) ,:data => { 'no-turbolink' => true, 'remote' => true,'type' => 'json'}}
                                      %i.fa.fa-send
                                      Email Invoice

                                  - if patient.class.name == "FamilyMember"
                                    %li{:style => "-webkit-user-select: text;"}
                                      %a{:href => family_member_path(order.try(:joint_resource).try(:family_member_id))}
                                        %i.fa.fa-user
                                        View Profile
                                  - else
                                    %li
                                      %a{ :data => { "no-turbolink"=> "true"},:href => doctor_patient_profile_path(:patient_id => order.try(:joint_resource).try(:patient_id))}
                                        %i.fa.fa-user
                                        View Profile
                          %td.hidden
                            = order.joint_resource.id
                      - @re_newed_dispensed.each do |re_newed_order|
                        - if re_newed_order.joint_resource.present?
                          - patient = re_newed_order.joint_resource.member  #hot fix
                          %tr
                            %td
                              -if patient.class.name == "FamilyMember"
                                %a{:href => family_member_path(re_newed_order.joint_resource.family_member),:class=>'anchor_style'}
                                  = patient.try(:name)
                              -else
                                %a{:href => doctor_patient_profile_path(:patient_id => re_newed_order.joint_resource.patient.id),:class=>'anchor_style'}
                                  = patient.try(:name)
                            %td.hidden-xs
                              -if patient.class.name == "FamilyMember"
                                %a{:href => family_member_path(re_newed_order.joint_resource.family_member),:class=>'anchor_style1'}
                                  = patient.birthday.strftime("%B %d,%Y") if patient.birthday.present?
                              -else
                                %a{:href => doctor_patient_profile_path(:patient_id => re_newed_order.joint_resource.patient.id),:class=>'anchor_style1'}
                                  = patient.birthday.strftime("%B %d,%Y") if patient.birthday.present?
                            %td
                              -if patient.class.name == "FamilyMember"
                                %a{:href => family_member_path(re_newed_order.joint_resource.family_member),:class=>'anchor_style1'}
                                  = patient.email
                              -else
                                %a{:href => doctor_patient_profile_path(:patient_id => re_newed_order.joint_resource.patient.id),:class=>'anchor_style1'}
                                  = patient.email
                            %td
                              -if patient.class.name == "FamilyMember"
                                %a{:href => family_member_path(re_newed_order.joint_resource.family_member),:class=>'anchor_style1'}
                                  = patient.phone.present? ? patient.phone : "N/A"

                              -else
                                %a{:href => doctor_patient_profile_path(:patient_id => re_newed_order.joint_resource.patient.id),:class=>'anchor_style1'}
                                  = patient.phone.present? ? patient.phone : "N/A"

                            %td
                              -if patient.class.name == "FamilyMember"
                                %a{:href => family_member_path(re_newed_order.joint_resource.family_member),:class=>'anchor_style1'}
                                  = re_newed_order.updated_at.strftime("%m/%d/%Y at %I:%M%p")
                                  -if re_newed_order.order_subscription_id.present?
                                    %span.pull-right.badge.badge-rounded.badge-info subscribed
                                  -else
                                    %span.pull-right.badge.badge-rounded.badge-warning re-newed
                              -else
                                %a{:href => doctor_patient_profile_path(:patient_id => re_newed_order.joint_resource.patient.id),:class=>'anchor_style1'}
                                  = re_newed_order.updated_at.strftime("%m/%d/%Y at %I:%M%p")
                                  -if re_newed_order.order_subscription_id.present?
                                    %span.pull-right.badge.badge-rounded.badge-info subscribed
                                  -else
                                    %span.pull-right.badge.badge-rounded.badge-warning re-newed
                            %td
                              %ul.dropdown
                                %li#actionsliststyle.btn-group
                                  %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                                    Actions
                                    %i.fa.fa-angle-down
                                  %ul.dropdown-menu.pull-right
                                    -if re_newed_order.try(:order).try(:contact_lens_orders).present? or re_newed_order.try(:order).try(:eye_glass_orders).present?
                                      %li
                                        %a{ :data => { "no-turbolink"=> "true" },:href => favourite_path(re_newed_order)}
                                          %i.fa.fa-shopping-cart
                                          Open Order
                                    %li
                                      %a{ :href => invoice_favourite_path(re_newed_order,:format => :pdf),:target => '_blank',:data => { 'no-turbolink' => true} }
                                        %i.fa.fa-file-pdf-o
                                        Invoice
                                    %li
                                      %a{ :href => email_invoice_favourite_path(re_newed_order) ,:data => { 'no-turbolink' => true}}
                                        %i.fa.fa-send
                                        Email Invoice

                                    - if patient.class.name == "FamilyMember"
                                      %li{:style => "-webkit-user-select: text;"}
                                        %a{:href => family_member_path(re_newed_order.try(:joint_resource).try(:family_member_id))}
                                          %i.fa.fa-user
                                          View Profile
                                    - else
                                      %li
                                        %a{ :data => { "no-turbolink"=> "true"},:href => doctor_patient_profile_path(:patient_id => re_newed_order.try(:joint_resource).try(:patient_id))}
                                          %i.fa.fa-user
                                          View Profile
                                    %li
                                      %a{ :href => '#' ,:id => 'dispenselog' ,:data => { :name => patient.name, :order => re_newed_order.id ,:type => 'FavouriteOrder'} ,:class => 'dispense-log'}
                                        %i.fa.fa-edit
                                          Dispense Log
                                        %span.badge-danger #{re_newed_order.dispense_logs.count}
                                    %li
                                      %a{ :href => '#' ,:id => 'removeconfirm' ,:data => {:id => re_newed_order.id ,:renewed => 'order'}, :class => 'remove-confirm'}
                                        %i.fa.fa-trash-o
                                          Remove
                            %td.hidden
                              = re_newed_order.joint_resource.id
                  %div#modalremoveconfirm.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalremoveconfirmLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog
                      .modal-content
                        .modal-header
                          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
                          %h4#modalremoveconfirmLabel.modal-title Confirmation
                        .modal-body{:style => 'max-height: 100px;overflow-y: auto;'} 
                          %span
                            Are You sure you want to remove this log ?
                        .modal-footer.bg-warning
                          .row
                            .col-md-12.pull-right
                              = check_box_tag 'removeNotify', 'yes', false
                              = label_tag 'removeNotify','Send client notification'
                          .row
                            .col-md-12.pull-right
                              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} No
                              %a{"data-method" => "delete", :href => "#", :rel => "nofollow",:id => "emailremoveid",:class => "btn btn-success"} Yes
                  %div#mymodal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "mymodalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog
                      .modal-content
                        .modal-header
                          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
                          %h4#mymodalLabel.modal-title Patient Details
                        .modal-body{:style => 'max-height: 420px;overflow-y: auto;'}
                        .modal-footer
                          %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close
                  %div#dispensemodal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "dispensemodalLabel", "data-backdrop" => "static", "data-keyboard"=>"false", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog
                      .modal-content
                        .modal-header
                          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
                          %h4#dispensemodalLabel.modal-title
                        .modal-body{:style => 'height: 400px;overflow-y: auto !important;'}
                        .modal-footer
                          %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close