.row
  .col-lg-12
    .portlet.box.blue-hoki
      .portlet-title
        .caption
          %i.fa.fa-globe
          Today’s pending
          %span.semi-bold Appointments
      .portlet-body
        .row-fluid
          .span12
            .grid.simple
              .grid-body
                .row
                  .col-md-12
                    .tabletools-dropdown-on-portlet
                      =# %div#ShowToday_pending
                      =# %div#DefaultView_pending
                .table-responsive
                  %table#pending.table.table-hover.table-condensed.table-bordered
                    %thead
                      %tr
                        %th
                          Name
                        %th.hidden-xs
                          Birthdate
                        %th
                          Email
                        %th
                          Phone
                        %th
                          Latest Entry
                        %th
                          Actions
                        %th.hidden
                          id
                    %tbody
                      - @pending_appoints.each do |booking|
                        - joint_resource = booking.joint_resource
                        - patient = joint_resource.member
                        %tr
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(joint_resource.family_member),:class=>'anchor_style'}
                                = patient.try(:name)
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => joint_resource.patient.id),:class=>'anchor_style'}
                                = patient.try(:name)
                          %td.hidden-xs
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.birthday.present? ? patient.birthday.strftime("%B %d,%Y") : "N/A" 
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.birthday.present? ? patient.birthday.strftime("%B %d,%Y") : "N/A" 
                            
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.email
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.email
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.phone
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.phone
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(joint_resource.family_member),:class=>'anchor_style1'}
                                = booking.start_time.strftime("%m/%d/%Y at %I:%M%p")
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => joint_resource.patient.id),:class=>'anchor_style1'}
                                = booking.start_time.strftime("%m/%d/%Y at %I:%M%p") 
                          %td
                            %ul.dropdown
                              %li#actionsliststyle.btn-group
                                %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                                  Actions
                                  %i.fa.fa-angle-down
                                %ul.dropdown-menu.pull-right
                                  -if booking.check_in.blank?
                                    %li
                                      %a.booking_checkin{ :data => { "no-turbolink"=> "true", "booking_id"=> booking.id ,"url" => check_in_booking_path(id: booking.id) },:href => "#",:style => "-webkit-user-select: text;"}
                                        %i.fa.fa-sign-in
                                        Check In
                                  - if booking.examination.present?
                                    %li
                                      %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(booking.examination)+"?changecall=pending_exam" }
                                        %i.fa.fa-edit
                                        Open Exam
                                    -# if booking.check_in.present?
                                      %li
                                        %a{ :data => { 'no-turbolink' => 'true'} , :href => process_booking_manage_patients_by_doctor_path(booking)}
                                          %i.fa.fa-question-circle
                                          Check-In
                                    - if booking.examination.order.present?
                                      -if booking.try(:examination).try(:order).try(:contact_lens_orders).present? or booking.try(:examination).try(:order).try(:eye_glass_orders).present?
                                        %li
                                          %a{ :data => { "no-turbolink"=> "true" },:href => edit_order_path(booking.examination.order)+"?changecall=pending_order" ,:style => "-webkit-user-select: text;"}
                                            %i.fa.fa-shopping-cart
                                            Open Order
                                  - else
                                    -if booking.joint_resource.orders.present?
                                      %li
                                        %a{ :data => { "no-turbolink"=> "true"},:href=> new_examination_path(:id => joint_resource.id ,:changecall => "pending",:booking_id => booking.id),:style => "-webkit-user-select: text;"}
                                          %i.fa.fa-edit
                                          Create Exam
                                    -if booking.joint_resource.orders.present? && booking.joint_resource.orders.last.status.in?(['finalized','ready_for_pick_up','follow','dispensed'])  
                                      -#%li
                                        %a{ :data => { "no-turbolink"=> "true"},:href => new_order_path(:id => joint_resource.id ,:changecall => "pending"),:style => "-webkit-user-select: text;"}
                                          %i.fa.fa-shopping-cart
                                          Create Order
                                  - if patient.class.name == "FamilyMember"
                                    %li{:style => "-webkit-user-select: text;"}
                                      %a{:href => family_member_path(patient.try(:joint_resource).try(:family_member_id))}
                                        %i.fa.fa-user
                                        View Profile
                                  - else
                                    %li
                                      %a{ :data => { "no-turbolink"=> "true"},:href => doctor_patient_profile_path(:patient_id => patient.try(:joint_resource).try(:patient_id)),:style => "-webkit-user-select: text;"}
                                        %i.fa.fa-user
                                        View Profile
                                  %li
                                    %a{ :href => '#' ,:id => "booking_delete_confirm",:class => 'delete-confirm',:data => {:id => booking.id },:style => "-webkit-user-select: text;"}
                                      %i.fa.fa-trash-o
                                      Cancel
                          %td.hidden
                            = joint_resource.id
                  %div#modalconfirm.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalconfirmLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog
                      .modal-content
                        .modal-header
                          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
                          %h4#modalconfirmLabel.modal-title
                            %i.fa.fa-question-circle
                            Confirmation
                        .modal-body{:style => 'max-height: 100px;overflow-y: auto;'} 
                          %span
                            Are You sure you want to cancel this appointment ?
                        .modal-footer.bg-warning
                          .row
                            .col-md-12.pull-right
                              = check_box_tag 'deleteNotify', 'yes', false, class: 'send_clt_notify'
                              = label_tag 'deleteNotify','Send client notification'
                          .row
                            .col-md-12.pull-right
                              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} No
                              %a{"data-method" => "delete", :href => "bookings/pony", :rel => "nofollow",:id => "emailcancelid",:class => "btn btn-success"} Yes
                  %div#order_delete_confirm_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalconfirmLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog
                      .modal-content
                        .modal-header
                          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
                          %h4#order_delete_confirm_modalLabel.modal-title Confirmation
                        .modal-body{:style => 'max-height: 100px;overflow-y: auto;'} 
                          %span
                            Are You sure you want to delete this order ?
                        .modal-footer.bg-warning
                          .row
                            .col-md-12.pull-right
                              = check_box_tag 'order_delete_notify', 'yes', false, class: 'send_clt_notify'
                              = label_tag 'order_delete_notify','Send client notification'
                          .row
                            .col-md-12.pull-right
                              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} No
                              %a{"data-method" => "delete", :href => "/orders/pony", :rel => "nofollow",:class => "btn btn-success order_email_cancel_id"} Yes
:javascript
  
  //below function written inside manage_patients.js
  tod_pending_appointment();
  

   