.row
  .col-lg-12
    .portlet.box.green-haze
      .portlet-title
        .caption
          %i.fa.fa-edit
          Unfinished
          %span.semi-bold Exams
      .portlet-body
        .row-fluid
          .span12
            .grid.simple
              .grid-body
                .row
                  .col-md-12
                    .btn-group.tabletools-dropdown-on-portlet
                      .col-md-6
                        #ShowToday_unfexam{:style=> 'position: relative;width: 10%;'}
                      .col-md-6
                        #DefaultView_unfexam{:style=>'position: relative;margin-right: 100px;width: 10%;',:class => 'defview'}
                .table-responsive
                  %table#unfexam.table.table-hover.table-condensed.table-bordered
                    %thead
                      %tr
                        %th
                          Name
                        %th.hidden-xs
                          Birthdate
                        %th
                          Email
                        %th
                          Phone
                        %th
                          Latest Entry
                        %th
                          Actions
                        %th.hidden
                          id
                    %tbody
                      - @unfinished_exams.each do |exam|
                        - patient = exam.joint_resource.member
                        %tr
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(exam.joint_resource.family_member),:class=>'anchor_style'}
                                = patient.try(:name)
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => exam.joint_resource.patient.id),:class=>'anchor_style'}
                                = patient.try(:name)
                          %td.hidden-xs
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(exam.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.birthday.present? ? patient.birthday.strftime("%B %d,%Y") : "N/A"
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => exam.joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.birthday.present? ? patient.birthday.strftime("%B %d,%Y") : "N/A"
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(exam.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.email
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => exam.joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.email                         
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(exam.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.phone.present? ? patient.phone : "N/A"
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => exam.joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.phone.present? ? patient.phone : "N/A"
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(exam.joint_resource.family_member),:class=>'anchor_style1'}
                                = exam.updated_at.strftime("%m/%d/%Y at %I:%M%p")
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => exam.joint_resource.patient.id),:class=>'anchor_style1'}
                                = exam.updated_at.strftime("%m/%d/%Y at %I:%M%p")
                          %td
                            %ul.dropdown
                              %li#actionsliststyle.btn-group
                                %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                                  Actions
                                  %i.fa.fa-angle-down
                                %ul.dropdown-menu.pull-right
                                  %li
                                    %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(exam)}
                                      %i.fa.fa-edit
                                      Open Exam
                                  - if exam.order.present? && (exam.order.contact_lens_orders.present? || exam.order.eye_glass_orders.present?)
                                    %li
                                      %a{ :data => { "no-turbolink"=> "true" },:href => edit_order_path(exam.order)}
                                        %i.fa.fa-shopping-cart
                                        Open Order
                                  - else                                    
                                    %li
                                      %a{ :data => { "no-turbolink"=> "true"},:href => new_order_for_exam_path(:examination_id => exam.id,:id => exam.joint_resource.id,:changecall => 'pending')}
                                        %i.fa.fa-shopping-cart
                                        Create Order
                                  - if patient.class.name == "FamilyMember"
                                    %li{:style => "-webkit-user-select: text;"}
                                      %a{:href => family_member_path(patient.try(:joint_resource).try(:family_member_id))}
                                        %i.fa.fa-user
                                        View Profile
                                  - else
                                    %li
                                      %a{ :data => { "no-turbolink"=> "true"},:href => doctor_patient_profile_path(:patient_id => patient.try(:joint_resource).try(:patient_id))}
                                        %i.fa.fa-user
                                        View Profile
                          %td.hidden
                            = exam.joint_resource.id