.row
  .col-lg-12
    .portlet.box.blue-madison
      .portlet-title
        .caption
          %i.fa.fa-tag
          Unfinished
          %span.semi-bold Orders
      .portlet-body
        .row-fluid
          .span12
            .grid.simple
              .grid-body
                .row
                  .col-md-12
                    .btn-group.tabletools-dropdown-on-portlet
                      .col-md-6
                        #ShowToday_unforder{:style=> 'position: relative;width: 10%;'}
                      .col-md-6
                        #DefaultView_unforder{:style=>'position: relative;margin-right: 100px;width: 10%;',:class => 'defview'}
                .table-responsive
                  %table#unforder.table.table-hover.table-condensed.table-bordered
                    %thead
                      %tr
                        %th
                          Name
                        %th.hidden-xs
                          Birthdate
                        %th
                          Email
                        %th
                          Phone
                        %th
                          Latest Entry
                        %th
                          Actions
                        %th.hidden
                          id
                    %tbody
                      - @unfinished_orders.each do |order|
                        - patient = order.joint_resource.member
                        %tr
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style'}
                                = patient.try(:name)
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style'}
                                = patient.try(:name)
                          %td.hidden-xs
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.birthday.present? ? patient.birthday.strftime("%B %d,%Y") : "N/A" 
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.birthday.present? ? patient.birthday.strftime("%B %d,%Y") : "N/A" 
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.email
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = patient.email
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = patient.phone.present? ? patient.phone : "N/A"

                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'} 
                                = patient.phone.present? ? patient.phone : "N/A"
                          %td
                            -if patient.class.name == "FamilyMember"
                              %a{:href => family_member_path(order.joint_resource.family_member),:class=>'anchor_style1'}
                                = order.updated_at.strftime("%m/%d/%Y at %I:%M%p")
                            -else
                              %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:class=>'anchor_style1'}
                                = order.updated_at.strftime("%m/%d/%Y at %I:%M%p")

                          %td
                            %ul.dropdown
                              %li#actionsliststyle.btn-group
                                %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                                  Actions
                                  %i.fa.fa-angle-down
                                %ul.dropdown-menu.pull-right
                                  - if order.examination.blank?
                                    %li
                                      %a{ :data => { "no-turbolink"=> "true"},:href=> new_exam_for_order_path(:order_id => order.id,:id => order.joint_resource.id )}
                                        %i.fa.fa-edit
                                        Create Exam
                                  - if order.examination.present?
                                    %li
                                      %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(order.examination)}
                                        %i.fa.fa-edit
                                        Open Exam
                                  -if order.contact_lens_orders.present? or order.eye_glass_orders.present?
                                    %li
                                      %a{ :href => edit_order_path(order),:class => 'open-order' , :data => { 'exam-id' => order.examination.present? ? order.examination.id : '',:id => order.id,:name => patient.first_name,"no-turbolink" => true}}
                                        %i.fa.fa-shopping-cart
                                        Open Order
                                  - if patient.class.name == "FamilyMember"
                                    %li{:style => "-webkit-user-select: text;"}
                                      %a{:href => family_member_path(patient.try(:joint_resource).try(:family_member_id))}
                                        %i.fa.fa-user
                                        View Profile
                                  - else
                                    %li
                                      %a{ :data => { "no-turbolink"=> "true"},:href => doctor_patient_profile_path(:patient_id => patient.try(:joint_resource).try(:patient_id))}
                                        %i.fa.fa-user
                                        View Profile
                          %td.hidden
                            = order.joint_resource.id
                  .modal-scrollable
                    #exam-procedure-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exam-procedure-modal-label","data-backdrop" => "static", "data-keyboard"=>"false", :role => "dialog", :tabindex => "-1"}
                      .modal-dialog
                        .modal-content
                          .modal-header
                            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
                            %h4#exam-procedure-modal-label.modal-title
                          .modal-body
                          .modal-footer
                            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close