#print_title.hidden
  .row
    .col-sm-12.text-center
      = @resource.name + ' DOB: ' + @resource.birthday.to_s + ' ' + @examination.exam_date.to_s + ' ' + @examination.store.try(:description)
  %br
  %br

#print_overview_tab
  .row.data_off_address
    .col-md-6
      %label
        %b
          = @resource.name
      %ul.list-inline
        - if @joint_resource.email.present?  
          %li
            %i.fa.fa-envelope
            = "#{@joint_resource.email}"
        - if @resource.phone.present?  
          %li
            %i.fa.fa-comment
            = "#{number_to_phone(@resource.phone.to_s[2..-1].to_i, area_code: true)}"
        %br
        - if @resource.birthday.present?  
          %li
            %i.fa.fa-calendar
            = "#{@resource.birthday} , AGE: #{@resource.try(:age)}"
        - if @resource.occupation.present?  
          %li
            %i.fa.fa-briefcase
            = "#{@resource.occupation}"
        -if @resource.class == Patient && @resource.employer.present?
          %li
            %i.fa.fa-user
            = "#{@resource.employer}"
        
        - if @resource.vision_insurance.present?
          - if @resource.vision_insurance_name.present? && @resource.vision_insurance_code.present?  
            %li
              %i.fa.fa-eye
              = "#{@resource.vision_insurance_name + ' / ' + @resource.vision_insurance_code}"
          - else
            %li
              %i.fa.fa-eye
              = "#{@resource.vision_insurance_name}"
        %br
        - if @joint_resource.try(:home_address).present?
          %li
            - address = @joint_resource.home_address
            %i.fa.fa-map-marker
            -if address.address1.present?
              - addr = address.address1
            -if address.address2.present?
              - if addr.present?
                - addr = addr + ' Apt.# ' + address.address2
              - else
                - addr = ' Apt.# ' + address.address2
            -if address.city.present?
              -if addr.present?
                - addr = addr + ', ' + address.city
              -else
                - addr = address.city
            -if address.country_id.present? && address.state_id.present? 
              -if addr.present?
                - addr = addr + "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name).nil? ? "" : ", #{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"}"
              -else
                - addr = "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"
            -if address.postal_code.present?
              -if addr.present?
                - addr = addr + ', ' + address.postal_code
              -else
                - addr = address.postal_code
            = addr
          %br
        %li
          %i.fa.fa-medkit
          Exam date:
          = "#{@examination.exam_date}"

    .col-md-6
      .row.data_off_address
        .col-md-2.store_descrip
          - if @examination.doctor.try(:store).try(:logo).present?
            %img{:src => @examination.doctor.store.logo.url(:thumb)}/
          - else
            %img{:alt => "logo", :src => "/images/def_logo.jpg"}/
        .col-md-6
          - if @examination.doctor.store.present?  
            %b
              = "#{@examination.doctor.store.description}"
            - if @examination.doctor.store.try(:office_address).try(:address1).present? || @examination.doctor.store.try(:office_address).try(:address2).present? 
              %br
              = "#{@examination.doctor.store.office_address.address1}"
              = "#{@examination.doctor.store.office_address.address2}"
            %br
            = "#{@examination.doctor.store.try(:office_address).try(:city)}, " if @examination.doctor.store.try(:office_address).try(:city).present?
            = "#{@examination.doctor.store.try(:office_address).try(:state_id)}"
            = "#{@examination.doctor.store.try(:office_address).try(:postal_code)}"
            %br
            - if @examination.doctor.try(:store).phone_number.present? 
              = "P:#{number_to_phone(@examination.doctor.store.phone_number.to_s[2..-1].to_i, area_code: true)}"
              %br
            - if @examination.doctor.store.contact_email.present?  
              = "#{@examination.doctor.store.contact_email}"
              %br
            = "F:#{@examination.doctor.store.fax}"  if @examination.doctor.try(:store).fax.present?
      

  %hr
  .row
    .col-md-12
      %label
        %b Chief Complaint:
        - if @examination.chief_complain.present?
          - chief_complain = @examination.chief_complain
        - else
          %i.fa.fa-search
            There is no Chief Complaint
    .col-md-8.comp_left_margin
      = "#{chief_complain}"
    .col-md-6
      %label
        %b Patient Medical History:

      .col-md-offset-1
        - @pmhxes = @resource.pmhxes.where.not(id: nil)
        - if @pmhxes.present?
          - @pmhxes.each do |pmhx|
            - if pmhx.try(:disease).try(:name).present?
              = pmhx.disease.name.capitalize
            notes:
            = pmhx.notes
            %br
        - else
          (-) Negative


    .col-md-6
      %label
        %b Family Medical History:
      .col-md-offset-1
        - @fmhxes = @resource.fmhxes
        - if @fmhxes.present?
          - @fmhxes.each do |fmhx|
            -if fmhx.try(:relation).present?  
              Relation:
              = fmhx.relation + ','
            - if fmhx.try(:disease).try(:name).present?  
              = fmhx.disease.name.capitalize
            notes:
            = fmhx.notes
            %br
        -else
          (-) Negative
  

  .row
    .col-md-6
      %label
        %b Patient Ocular History:
      .col-md-offset-1
        - @pohxes = @resource.pohxes.where.not(id: nil)
        - if @pohxes.present?
          - @pohxes.each do |pohx|
            - if pohx.try(:disease).try(:name).present?  
              = pohx.disease.name.capitalize
            notes:
            = pohx.notes
            %br
        -else
          (-) Negative
    .col-md-6
      %label
        %b Family Ocular History:
      .col-md-offset-1
        - @fohxes = @resource.fohxes
        - if @fohxes.present?
          - @fohxes.each do |fohx|
            - if fohx.try(:relation).present?  
              Relation:
              = fohx.relation + ','
            - if fohx.try(:disease).try(:name).present?  
              = fohx.disease.name.capitalize
            notes:
            = fohx.notes
            %br
        -else
          (-) Negative
  
  .row
    .col-md-6
      %label
        %b Patient Surgical History:
      .col-md-offset-1
        - @sxhxes = @resource.sxhxes
        - if @sxhxes.present?
          - @sxhxes.each do |sxhx|
            - if sxhx.try(:disease).try(:name).present?  
              = sxhx.disease.name.capitalize
            notes:
            = sxhx.notes
            %br
        -else
          (-) Negative

    .col-md-6
      %label
        %b Allergy:
      .col-md-offset-1
        - @allergies = @resource.allergies.where.not(id: nil)
        - if @allergies.present?
          - @allergies.each do |allergy|
            - if allergy.try(:disease).try(:name).present?  
              = allergy.disease.name.capitalize
            notes:
            = allergy.notes
            %br
        -else
          (-) Negative
  .row
    .col-md-6
      %label
        %b Medications:
      .col-md-offset-1
        - @medications = @resource.medications.where.not(id: nil)
        - if @medications.present?
          - @medications.each do |medication|
            - if medication.try(:disease).try(:name).present?  
              = medication.disease.name.capitalize
            notes:
            = medication.notes
            %br
        - else
          (-) Negative

  .row
    - if @resource.blood_pressure.present?
      .col-md-6
        %label
          %b Blood Pressure:
        .col-md-offset-1
          = @resource.blood_pressure  
    - if @resource.blood_pressure_time.present?  
      .col-md-6
        %label
          %b Blood Pressure Time:
        .col-md-offset-1
          = @resource.blood_pressure_time


  %hr
  .row.hr_exam_form
    .col-md-6
      - sh = @examination.social_history
      - if sh.present?  
        %label
          %b Neurological Psychological Status: 
      %br  
      .col-md-6  
        %label
          %b Agitated:
        = @resource.agitated.present? ? "Yes" : "No"
      .col-md-6  
        %label
          %b Depressed:     
        = @resource.depressed.present? ? "Yes" : "No"  
        %br 
      .col-md-6  
        %label
          %b Oriented x 3:      
        = @resource.oriented_x3.present? ? "Yes" : "No" 
      .col-md-6  
        %label
          %b Anxious:      
        = @resource.anxious.present? ? "Yes" : "No"
    .col-md-6 
      .col-md-6  
        %label
          %b Tobacco Use:      
        = @resource.tobacco_use.present? ? "Yes" : "No"
      .col-md-6  
        %label
          %b Alcohol Use:     
        = @resource.alcohol_use.present? ? "Yes" : "No"
        %br
      .col-md-6  
        %label
          %b Pregnant:      
        = @resource.try(:pregnant).present? ? "Yes" : "No"
      .col-md-6  
        %label
          %b Breast Feeding:      
        = @resource.breast_feeding.present? ? "Yes" : "No"
      .col-md-6  
        %label
          %b In LASIK?:      
        = @resource.in_lasik.present?  ? "Yes" : "No"   
      .col-md-6  
        %label
          %b Do you use contact lenses?:      
        = @resource.contact_lenses.present? ? "Yes" : "No"
    .col-md-6  
      .col-md-6  
        %label
          %b Are you interested in Contact lenses?:      
        = @resource.interested_contact_lens.present? ? "Yes" : "No"  
 
  .row
    .col-md-6  
      - if @resource.referred_by.present?  
        .col-md-6  
          %label
            %b Referred By:
          = "#{@resource.referred_by}"
      - if @resource.notes_for_neurological.present?
        .col-md-6  
          %label
            %b Emergency Contact:
          = "#{@resource.notes_for_neurological}"
      - if @resource.medical_details.present? 
        .col-md-6
          %label 
            %b Last Medical Exam
          = @resource.medical_details
      - if @resource.medical_notes.present?  
        .col-md-6
          %label
            %b Where
          = @resource.medical_notes
      - if @resource.last_eye_exam.present?  
        .col-md-6
          %label 
            %b Last Eye Exam
          = @resource.last_eye_exam
      - if @resource.referred_by_data.present? 
        .col-md-6
          %label
            %b Where
          = @resource.referred_by_data
    .col-md-6
      - if @resource.history_info.include?("Internet Search")  
        .col-md-6
          %label
            %b Internet Search:
            = "Yes"
      - if @resource.history_info.include?("Insurance")  
        .col-md-6  
          %label
            %b Insurance:
          = "Yes"
      - if @resource.history_info.include?("sidewalk sign")  
        .col-md-6  
          %label
            %b Sidewalk sign:
          = "Yes"

  %hr
  .row.hr_exam_form
    .col-md-12
      - if @examination.primlinary_exam.present?
        %label
          %b Preliminary Exams
          - pe = @examination.primlinary_exam
    .col-md-6
      - if pe.eoms.present?  
        %b EOMS
        = ": #{pe.eoms}"
      .row
        - if pe.pupils.present?
          .col-md-6
            %b Pupils
            = ": #{pe.pupils} "
    .col-md-6
      - if pe.confrontational.present?
        %b Confrontational Field
        = ": #{pe.confrontational}"
        %br
      - if pe.color_vision.present?  
        %b Color Vision (Ishihara)
        = ": #{pe.color_vision}"
        %br
      - if pe.steropsis.present?  
        %b Stereopsis (Randot)
        = ": #{pe.steropsis}"
    .col-md-12
      - if pe.primlinary_exam_notes.present?
        - pe.primlinary_exam_notes.each do |f|
          %label.string.optional.control-label.bold Additional testings / Notes:
          = "#{f.notes.present? ? f.notes : '' }"
          %br

      %br
      %br
      - if @examination.binocular_testing.present?
        %label
          %b Binocular Testing
    - bt = @examination.binocular_testing
    .col-md-6
      - if bt.ctd.present? || bt.ctn.present? || bt.nra.present? || bt.pra.present? || bt.npc.present?
        %label
          Cover Test:
      .row
        - if bt.ctd.present?
          .col-md-6
            %label
              Distance:
              = "#{bt.ctd}"
        - if bt.ctn.present?  
          .col-md-6
            %label
              %b Near: 
            = "#{bt.ctn}"
      .row
        - if bt.nra.present?
          .col-md-6
            %b NRA
            = ": #{bt.nra}" 
        - if bt.pra.present?  
          .col-md-6
            %b PRA
            = ": #{bt.pra}" 
        - if bt.npc.present?  
          .col-md-6
            %b NPC
            = ": #{bt.npc}" 
    .col-md-6
      - if bt.hpd.present? || bt.hpn.present? || bt.vpd.present? || bt.vpn.present?
        %label
          %b Phorias:
      .row
        - if bt.hpd.present?
          .col-md-6
            %b Horizontal Distance: 
            = "#{bt.hpd}" 
        - if bt.hpn.present?
          .col-md-6
            %b Horizontal Near: 
            = "#{bt.hpn}" 
        - if bt.vpd.present?
          .col-md-6
            %b Vertical Distance: 
            = "#{bt.vpd}" 
        - if bt.vpn.present?
          .col-md-6
            %b Vertical Near:   
            = "#{bt.vpn}" 
    .col-md-12
      - if bt.notes.present?  
        %label
          %b Notes:     
          = "#{bt.notes}" 
  %hr
  .row.hr_exam_form
    - if @examination.visual_acuities.present?
      .col-md-12
        - visual_acuities = @examination.visual_acuities 
        %label
          %b Visual Acuity
      - visual_acuities.each do |va|
        .col-md-6
          - if va.distance_od.present? || va.distance_os.present? || va.distance_ou.present? || va.near_od.present? || va.near_os.present? || va.near_ou.present?
            %label
              = va.using_glasses ? "With Correction: ": "Without Correction: "
              = " Type: #{va.glass_type}" if va.using_glasses && va.glass_type.present?
          .row
            .col-md-6
              - if va.distance_od.present? || va.distance_os.present? || va.distance_ou.present? 
                %label
                  %b Distance:
              .col-md-12
                = "OD 20/ #{va.distance_od}" if va.distance_od.present?
              .col-md-12
                = "OS 20/ #{va.distance_os}" if va.distance_os.present? 
              .col-md-12      
                = "OU 20/ #{va.distance_ou}" if va.distance_ou.present?
            .col-md-6
              - if va.near_od.present? || va.near_os.present? || va.near_ou.present?  
                %label
                  %b Near
              .col-md-12
                = "OD 20/ #{va.near_od}" if va.near_od.present?
              .col-md-12          
                = "OS 20/ #{va.near_os}" if va.near_os.present?
              .col-md-12          
                = "OU 20/ #{va.near_ou}" if va.near_ou.present?
    
  %hr
  .row.hr_exam_form
    .col-md-12
      %label
        %b Current Glasses:

    .col-md-12
      -count = 1
      - @examination.glasses.each do |glass|
        - if glass.od_cylinder.present? || glass.od_axis.present? || glass.glasses_type?
          .row
            %label.col-sm-1
              = count
            -if ((glass.od_sphere.present? && glass.od_sphere != "pl") || (glass.os_sphere.present? && glass.os_sphere != "pl"))
              %label.col-sm-2
                %b SPHERE  
            -else
              .col-sm-2      
            -if ((glass.od_cylinder.present? && glass.od_cylinder != "pl") || (glass.os_cylinder.present? && glass.os_cylinder != "pl"))
              %label.col-sm-2
                %b CYLINDER 
            -else
              .col-sm-2
            -if glass.od_axis.present? || glass.os_axis.present?    
              %label.col-sm-2
                %b AXIS
            -else
              .col-sm-2
            -if glass.od_prism.present? || glass.os_prism.present?
              %label.col-sm-2
                %b PRISM  
            -else
              .col-sm-2
            
            .col-sm-1{:class => ("hidden" unless glass.visual_acuity.try(:distance_od).present? || glass.visual_acuity.try(:distance_os).present?)}
              %b VA@D
            .col-sm-2{:class => ("hidden" unless glass.visual_acuity.try(:near_od).present? || glass.visual_acuity.try(:near_os).present?)}
              %b VA@N  
                   
          .row
            -if ((glass.od_sphere.present? && glass.od_sphere != "pl")|| (glass.od_cylinder.present? && glass.od_cylinder != "pl")) || (glass.od_prism.present?) || (glass.od_axis.present?)
              .col-sm-1
                %b OD
              .col-sm-2
                - if glass.od_sphere != "pl"
                  = glass.od_sphere 
              .col-sm-2
                - if glass.od_cylinder != "pl"
                  = glass.od_cylinder
              .col-sm-2
                = glass.od_axis
              .col-sm-2
                = glass.od_prism
              - if glass.visual_acuity.try(:distance_od).present? || glass.visual_acuity.try(:distance_os).present?  
                .col-sm-1
                  = "20/ #{glass.visual_acuity.try(:distance_od)}"
              - if glass.visual_acuity.try(:near_od).present?  ||  glass.visual_acuity.try(:near_os).present?  
                .col-sm-2
                  = glass.visual_acuity.try(:near_od)
          .row
            - if ((glass.os_sphere.present? && glass.os_sphere != "pl") || (glass.os_cylinder.present? && glass.os_cylinder != "pl")) || (glass.os_prism.present?) || (glass.os_axis.present?)
              .col-sm-1
                %b OS
              .col-sm-2
                - if glass.os_sphere != "pl"
                  = glass.os_sphere
              .col-sm-2
                - if glass.os_cylinder != "pl"
                  = glass.os_cylinder
              .col-sm-2
                = glass.os_axis
              .col-sm-2
                = glass.os_prism
              - if glass.visual_acuity.try(:distance_os).present? || glass.visual_acuity.try(:distance_od).present?  
                .col-sm-1
                  = "20/ #{glass.visual_acuity.try(:distance_os)}"
              - if glass.visual_acuity.try(:near_os).present?  || glass.visual_acuity.try(:near_od).present?   
                .col-sm-2
                  = glass.visual_acuity.try(:near_os)
            
          .row
            -if glass.ou_add.present?  
              %label.col-sm-1
                %b Add OU
            - else
              .col-md-1
            .col-sm-6  
              =glass.ou_add
            .col-sm-2
              %b OU
            - if glass.visual_acuity.try(:distance_ou).present?  
              .col-sm-1
                = "20/ #{glass.visual_acuity.distance_ou}"
            - if glass.visual_acuity.try(:near_ou).present?  
              .col-sm-2
                = glass.visual_acuity.near_ou
          .row  
            -if glass.glasses_type.present?  
              %label.col-sm-1
                %b Notes:
            .col-sm-2
              = glass.glasses_type
          - count = count + 1 

  %hr
  .row.hr_exam_form
    .col-md-12
      %label.bold
        = "Refraction" 
    .col-md-12
      - order = [2, 1,3,4]
      - @examination.try(:eye_measurements).sort_by.with_index{ |d,i| order[i] }.each do |eye_measurement|
        - if eye_measurement.show == true  
          -  glass = eye_measurement.try(:glass)
          -  if(subtest_show_hide(eye_measurement))
            %table.form-group.refrac_table{:style => ""}
              %tr
                %th{:colspan => 2}
                  - if(eye_measurement.measurement_type == "bincular_balance")
                    %b Binocular Balance
                  -elsif (eye_measurement.measurement_type == "cyclopelgic")
                    %b Cycloplegic
                  -else
                    %label.bold
                      = eye_measurement.measurement_type.titleize
              %tr
                %th
                %th SPHERE
                %th CYLINDER
                %th AXIS
                %th PRISM
                %th VA@D
                %th VA@N
              %tr
                %td.bold OD
                %td
                  = glass.od_sphere
                %td
                  = glass.od_cylinder
                %td
                  = glass.od_axis
                %td
                  = "#{ glass.od_prism.present? ? glass.od_prism + 'BO' : '' }"
                %td
                  = "20/ #{glass.visual_acuity.distance_od}"
                %td
                  = glass.visual_acuity.near_od
              %tr
                %td.bold OS
                %td
                  = glass.os_sphere
                %td
                  = glass.os_cylinder
                %td
                  = glass.os_axis
                %td
                  = "#{ glass.os_prism.present? ? glass.os_prism + 'BI' : '' }"
                %td
                  = "20/ #{glass.visual_acuity.distance_os}"
                %td
                  = glass.visual_acuity.try(:near_os)
              %tr
                %td.bold Add
                %td
                  =glass.ou_add
                %td
                %td
                %td.bold OU
                %td
                  = "20/ #{glass.visual_acuity.distance_ou}"
                %td
                  = glass.visual_acuity.near_ou
              %tr
                %td.bold Notes
                %td{:colspan => 6}
                  = "#{eye_measurement.notes}"
            -if eye_measurement.measurement_type == "cyclopelgic"
              .row
                .col-sm-8
                  %b Drops Used:
                  - exam_form_default = current_organisation.exam_form_default  
                  - if eye_measurement.cyclopelgic.present?
                    - if eye_measurement.installed_at.present?
                      %label
                        = "#{ exam_form_default.cyclopelgic_text + ' is instilled at:' +eye_measurement.installed_at.strftime('%I:%M %P').to_s}"
                  - if eye_measurement.cyclopelgic1.present?
                    - if eye_measurement.installed_at.present?  
                      %label
                        = ", #{exam_form_default.cyclopelgic1_text + ' is instilled at:' +eye_measurement.installed_at.strftime('%I:%M %P').to_s}"
                  - if eye_measurement.cyclopelgic2.present?
                    - if eye_measurement.installed_at.present?  
                      %label
                        = ", #{exam_form_default.cyclopelgic2_text + ' is instilled at:' +eye_measurement.installed_at.strftime('%I:%M %P').to_s}"
                  - if eye_measurement.cyclopelgic3.present?
                    - if eye_measurement.installed_at.present?  
                      %label
                        = ", #{exam_form_default.cyclopelgic3_text + ' is instilled at:' +eye_measurement.installed_at.strftime('%I:%M %P').to_s}"                  
                .col-sm-4
                  - if eye_measurement.cyclopelgic_text.present? 
                    %label
                      %b Other: 
                      = "#{eye_measurement.cyclopelgic_text}"

  - contact_lens_exam = @examination.contact_lens_exam
  
  %hr
  .row.hr_exam_form
    .col-md-12
      %label.bold
        = "Contact Lens Exam" 
    .col-md-12
      %table.table
        - if contact_lens_exam.od_d_h.present? || contact_lens_exam.od_mm_h.present? || contact_lens_exam.od_axis_h.present? || contact_lens_exam.os_d_h.present? || contact_lens_exam.os_mm_h.present? || contact_lens_exam.os_axis_h.present? || contact_lens_exam.od_d_v.present? || contact_lens_exam.od_mm_v.present? || contact_lens_exam.od_axis_v.present? || contact_lens_exam.os_d_v.present? || contact_lens_exam.os_mm_v.present? || contact_lens_exam.os_axis_v.present?
          %tr
            %td
              %tr
                %td{colspan: 2}
                  %b Keratometry:
                %td
                  %b Diopter
                %td
                  %b MM
                %td
                  %b Axis
                %td
                %td
                %td
                  %b Diopter
                %td
                  %b MM
                %td
                  %b Axis

            %td
              %b <br/>OD
            %td
              %b <br/>Horizontal
            
            %td
              = contact_lens_exam.od_d_h
            %td
              = contact_lens_exam.od_mm_h
            %td
              = contact_lens_exam.od_axis_h
            %td
              %b <br/>OS
            %td
              %b <br/>Horizontal

            %td
              = contact_lens_exam.os_d_h
            %td
              = contact_lens_exam.os_mm_h
            %td
              = contact_lens_exam.os_axis_h
          %tr
            %td
              <br/>
            %td
              %b Vertical
              
            %td
              = contact_lens_exam.od_d_v
            %td
              = contact_lens_exam.od_mm_v
            %td
              = contact_lens_exam.od_axis_v
            %td
              <br/>
            %td
              %b Vertical

            %td
              = contact_lens_exam.os_d_v
            %td
              = contact_lens_exam.os_mm_v
            %td
              = contact_lens_exam.os_axis_v
        %tr
          - unless contact_lens_exam.dominated_eye_od == "off" || contact_lens_exam.dominated_eye_od.nil?
            %td.col-md-3
              %b Dominate Eye
            %td
              = contact_lens_exam.dominated_eye_od

    .col-md-12
      - contact_lens_exam.try(:lenses).order("created_at ASC").each_with_index do |lens,index|
        - od_lens_types =LensTypesPrice.find_by(id: lens.od_lens_types_price_id)
        - os_lens_types =LensTypesPrice.find_by(id: lens.os_lens_types_price_id)
        - od_type = od_lens_types.try(:lens_type)
        - os_type = os_lens_types.try(:lens_type)
        - if lens.od_type.present?  
          %label.bold  
            = "#{index == 0 ? 'Current lens' : 'Trial '+ index.to_s}"
            = lens.lens_date.present? ? "Issue Date: #{lens.lens_date}" : ""
          %table.table
            %tr  
              %th
              %th
                %b Type
              %th
                %b SPH    
              %th
                %b CYL 
              %th
                %b AXIS
              %th
                %b ADD
              %th
                %b Base Curve 
              %th
                %b Diameter 
              %th
                %b Over Refraction
              %th
                %b VA@D
              %th
                %b VA@N
            %tr
              %td
                %b OD
              %td
                = lens.od_type
              %td
                = lens.od_sphere
              %td
                = filter_lens_fields(od_type, 'cylinder') == "hidden" ? " " : lens.od_cylinder
              %td
                = filter_lens_fields(od_type, 'axis') == "hidden" ? " " : lens.od_axis
              %td
                = filter_lens_fields(od_type, 'add') == "hidden" ? " " : lens.od_add
              %td
                = lens.od_base_curve
              %td
                = lens.od_diameter
              %td
                = lens.od_over_refraction
              %td
                = "20/"+lens.visual_acuity.distance_od if lens.visual_acuity.present?
              %td
                = lens.visual_acuity.near_od if lens.visual_acuity.present?
            %tr
              %td
                %b OS
              %td
                = lens.os_type
              %td
                = lens.os_sphere
              %td
                = filter_lens_fields(os_type, 'cylinder') == "hidden" ? " " : lens.os_cylinder
              %td
                = filter_lens_fields(os_type, 'axis') == "hidden" ? " " : lens.os_axis
              %td
                = filter_lens_fields(os_type, 'add') == "hidden" ? " " : lens.os_add
              %td
                = lens.os_base_curve
              %td
                = lens.os_diameter
              %td
                = lens.os_over_refraction
              %td
                = "20/"+lens.visual_acuity.distance_os if lens.visual_acuity.present?
              %td
                = lens.visual_acuity.near_os if lens.visual_acuity.present?
            %tr
              %td{:colspan=>8}
                %b Notes:
                = lens.notes
              %td
                %b OU
              %td
                = "20/"+lens.visual_acuity.distance_ou if lens.visual_acuity.present?
              %td
                = lens.visual_acuity.near_ou if lens.visual_acuity.present?
            %br

  %hr
  .row.hr_exam_form
    .col-md-12
      %label
        %b External Exam
      - external_exam = @examination.external_exam
    
    .col-md-12
      .row
        .col-md-8
          .raphael_div
            %img.img-responsive.img_eyes{:src => "/images/external_image.jpg"}
            #eye_view.raphael_draw
        .col-md-4
          - if external_exam.corneal_disease.try(:draw_data).present?
            %label        
              %b Corneal
            .raphael_div
              %img.img-responsive.img_eye_cornea{:src => "/images/cornea.png"}
              #corneal_view.raphael_draw.set_cornea_height

        .col-md-8
          .row
            .col-md-12
              %label.string.optional.control-label.bold NCT:
              -external_exam.ncts.each do |nct|
                %label.string.optional.control-label.bold OD
                %span
                  = "#{ nct.nct_first.present? ? nct.nct_first + 'mmHg' : '' }"
                %label.string.optional.control-label.bold OS
                %span
                  = "#{ nct.nct_last.present? ? nct.nct_last + 'mmHg' : '' }"
                %label.string.optional.control-label.bold Time
                %span
                  = nct.nct_time.try(:strftime, "%l:%M:%S %p")
                | &nbsp;
          .row
            .col-md-12
              %label.string.optional.control-label.bold GAT:
              -external_exam.gats.each do |gat|
                %label.string.optional.control-label.bold OD
                %span
                  = "#{ gat.gat_first.present? ? gat.gat_first + 'mmHg' : '' }"
                %label.string.optional.control-label.bold OS
                %span
                  = "#{ gat.gat_last.present? ? gat.gat_last + 'mmHg' : '' }"
                %label.string.optional.control-label.bold Time
                %span
                  = gat.gat_time.try(:strftime, "%l:%M:%S %p")
                | &nbsp;
    .col-md-12
      .row
        .col-md-8
          .row
            .col-md-3
              %label.string.optional.control-label.bold Tear Film:
            .col-md-3
              %span
                = external_exam.tear_film
            .col-md-3
              %label.string.optional.control-label.bold Sclera:
            .col-md-3
              %span
                = external_exam.sclera
          .row
            .col-md-3
              %label.string.optional.control-label.bold Cornea:
            .col-md-3 
              %span
                = external_exam.cornea
            .col-md-3  
              %label.string.optional.control-label.bold Lids/Lashes:
            .col-md-3
              %span
                = external_exam.lids_lashes
          .row
            .col-md-3
              %label.string.optional.control-label.bold Iris:
            .col-md-3
              %span
                = external_exam.iris
            .col-md-3
              %label.string.optional.control-label.bold A/C:
            .col-md-3
              %span
                = external_exam.ac
          .row
            .col-md-3
              %label.string.optional.control-label.bold Bulbar Conj:
            .col-md-3
              %span
                = external_exam.bulbar_conj
            .col-md-3
              %label.string.optional.control-label.bold Lens :
            .col-md-3
              %span
                = external_exam.lens
          .row
            .col-md-3
              %label.string.optional.control-label.bold PalpebralConj: 
            .col-md-3
              %span
                = external_exam.palpebral_conj
            .col-md-2
              %label.string.optional.control-label.bold Angles: 
            .col-md-2
              %label.string.optional.control-label.bold OD
              %span
                = external_exam.angles_od
              &nbsp;
            .col-md-2
              %label.string.optional.control-label.bold OS
              %span
                = external_exam.angles_os
          - if @examination.external_exam.visual_field.present?  
            .row
              .col-md-3
                %label.string.optional.control-label.bold Visual Field: 
              .col-md-3
                %span  
                  =@examination.external_exam.visual_field 
        .col-md-4
          - if external_exam.corneal_disease.present?
            - external_exam = @examination.external_exam
            - if external_exam.corneal_disease.diseases.present?
              %b Corneal Disease:
              - external_exam.corneal_disease.diseases.each do |disease|
                = disease.name.capitalize           
              %br
              %label
                %b Notes: 
                = "#{external_exam.corneal_disease.notes}"
            %br
            - if @examination.external_exam.gonioscopy.present?
              - gonioscopy = @examination.external_exam.gonioscopy
              .row
                .col-md-12.text-center
                  %b Gonioscopy

              .row
                .col-md-6.text-center.text_css
                  %b OD
                  .row 
                    .col-md-8.col-md-offset-2
                      = gonioscopy.od_inferior
                  .row 
                    .col-md-6.text-right
                      = gonioscopy.od_nasal
                    .col-md-6.text-left
                      = gonioscopy.od_temporal
                  .row
                    .col-md-8.col-md-offset-2 
                      = gonioscopy.od_superior
                  = gonioscopy.od_pigmentation
                .col-md-6.text-center.text_css
                  %b OS
                  .row 
                    .col-md-8.col-md-offset-2
                      = gonioscopy.os_inferior
                  .row 
                    .col-md-6.text-right
                      = gonioscopy.os_nasal
                    .col-md-6.text-left
                      = gonioscopy.os_temporal
                  .row
                    .col-md-8.col-md-offset-2 
                      = gonioscopy.os_superior
                  = gonioscopy.os_pigmentation
                .col-md-12.text-center               
                  = "Notes: #{gonioscopy.notes}"          
      
  %hr
  .row.hr_exam_form
    .col-md-12
      %label
        %b Internal Exam
      - internal_exam = @examination.internal_exam
    .col-md-12
      .raphael_div
        %img.img-responsive.img_eyes{:src => "/images/internal_image.jpg"}
        #internal_eye_view.raphael_draw
      .row
        .col-md-6
          %label.string.optional.control-label 
          %b OS/ CD
          %span
            = internal_exam.os
          %br
          %label.string.optional.control-label
          %b OD/ CD
          %span
            = internal_exam.od
          %br
          %label.string.optional.control-label
          %b Vessels
          %span
            = internal_exam.vessels
          %br
          %label.string.optional.control-label
          %b Macula
          %span
            = internal_exam.macula
          %br
          %label.string.optional.control-label
          %b Post Pole
          %span
            = internal_exam.post_pole
          %br
          %label.string.optional.control-label
          %b Periphery
          %span
            = internal_exam.periphery
          %br
          %label.string.optional.control-label
          %b Vitreous
          %span
            = internal_exam.vitreous
          %br
        .col-md-6
          - if internal_exam.dilation.present?
            %label.string.optional.control-label
            %b Dilation:
            %br
            .col-md-12
              %label.string.optional.control-label
              %b Drop Used:
              %span
                - if internal_exam.tropicomide
                  = "#{current_organisation.exam_form_default.tropicomide},"
                -if internal_exam.phenylephrine
                  = "#{current_organisation.exam_form_default.phenylephrine},"
                %br
                -if internal_exam.fundus
                  = "#{current_organisation.exam_form_default.fundus},"
                -if internal_exam.ophthalmoscopy
                  = "#{current_organisation.exam_form_default.ophthalmoscopy}, "
                -if internal_exam.dilation_drop3
                  = "#{current_organisation.exam_form_default.drop3_text}, "
                -if internal_exam.dilation_drop3
                  = "#{current_organisation.exam_form_default.drop4_text} was performed"    
            .col-md-12
              %label.string.optional.control-label
              %b Other:
              %span
                = internal_exam.dilation_text
            .col-md-12
              %label.string.optional.control-label 
              %b Instilled at
              %span
                = internal_exam.installed_at.strftime("%I:%M %P") 
            .col-md-12
              %label.string.optional.control-label
              %b OD
              %span
                = internal_exam.dilation_od
            .col-md-12
              %label.string.optional.control-label
              %b OS
              %span
                = internal_exam.dilation_os
          - else 
            Patient refuses dilated fundus examination after explanation of test
            %br
            - if internal_exam.reason_field.present?
              %label.bold Reason:
              = internal_exam.reason_field


  - exam_procedures = @examination.procedure_adjustments
  %hr

  .row.hr_exam_form
    .col-md-12
      .row 
        .col-md-6
          %label
            %b Procedure:
        .col-md-4
          %label
            %b Code:
      - exam_procedures.each_with_index do |exam_procedure, index|
        .row
          .col-md-1
            = "#{index += 1}." 
          .col-md-5
            - booking = @examination.joint_resource.bookings.last
            - if @previous_exam.present?
              - if exam_procedure.name == "Follow Up"
                - if exam_procedure.prior_exam_follow_up
                  = exam_procedure.name.present? ? exam_procedure.name.capitalize + " performed by #{booking.doctor.try(:name)}  on " + " #{Date.today.try(:strftime,"%m/%d/%y")}" : ""
                -else    
                  = exam_procedure.name.present? ? exam_procedure.name.capitalize + " on #{exam_procedure.created_at.try(:strftime,"%m/%d/%y")} to exam findings from" + " #{@examination.exam_date.try(:strftime,"%m/%d/%y")}" : ""  
              -else
                = exam_procedure.name.present? ? exam_procedure.name.capitalize : ""
            -else
              - if exam_procedure.prior_exam_follow_up
                = exam_procedure.name.present? ? exam_procedure.name.capitalize + " performed by #{booking.doctor.try(:name)}  on " + " #{Date.today.try(:strftime,"%m/%d/%y")}" : ""
              -else  
                = exam_procedure.name.present? ? exam_procedure.name.capitalize : ""
          .col-md-4
            = exam_procedure.code
        %br


  %hr
  - exam_impressions = @examination.exam_impressions
  .row.hr_exam_form
    .col-md-12
      .row
        .col-md-4
          %label
            %b Impression:
        .col-md-2
          %label
            %b Code:
        .col-md-4
          %label
            %b Plan:
      %br
      - exam_impressions.each_with_index do |exam_impression, index|
        .row
          .col-md-1
            = "#{index += 1}." 
          .col-md-3
            = exam_impression.try(:impression).try(:name).try(:capitalize)
          .col-md-2
            = exam_impression.try(:impression).try(:code)
          .col-md-4
            = exam_impression.plan.present? ? exam_impression.plan : "N/A"
        %br

  -if @examination.glasses_prescriptions.present?
    %hr 
    .row.hr_exam_form
      .col-md-12  
        %h4.control-label.bold Final Eyeglasses Prescription
        - @examination.glasses_prescriptions.each do |glasses_prescription|
          - glass = glasses_prescription.glass
          .row
            %label.col-md-2
            - if glass.od_sphere.present? || glass.os_sphere.present?
              %label.col-md-2
                %b SPHERE
            - if glass.od_cylinder.present? || glass.os_cylinder.present? 
              %label.col-md-3
                %b CYLINDER
            - if glass.od_axis.present? || glass.os_axis.present? 
              %label.col-md-2
                %b AXIS
            - if glass.od_prism.present? || glass.os_prism.present?  
              %label.col-md-3
                %b PRISM
          - if glass.od_sphere.present? || glass.od_cylinder.present? || glass.od_axis.present? || glass.od_prism.present?  
            .row
              .col-md-2
                %b OD
              .col-md-2
                = glass.od_sphere
              .col-md-3
                = glass.od_cylinder
              .col-md-2
                = glass.od_axis
              .col-md-3
                = glass.od_prism
          - if glass.os_sphere.present? || glass.os_sphere.present? || glass.os_cylinder.present? || glass.os_axis.present? || glass.os_prism.present?
            .row
              .col-md-2
                %b OS
              .col-md-2
                = glass.os_sphere
              .col-md-3
                = glass.os_cylinder
              .col-md-2
                = glass.os_axis
              .col-md-3
                = glass.os_prism
          - if glass.ou_add.present? 
            .row
              .col-md-2
                %b ADD
              .col-md-2
                = glass.ou_add
              .col-md-3
              .col-md-2
              .col-md-3
          .row
            .col-md-3
              %b Issued Date: 
            .col-md-3
              = glasses_prescription.issued_date.try(:strftime,"%m/%d/%y")
            .col-md-3
              %b Expired Date:
            .col-md-3
              - exp_glas_date = glasses_prescription.expired_date
              = exp_glas_date.try(:strftime,"%m/%d/%y")
          - if glasses_prescription.doctor_recommendations.present?  
            .row
              .col-md-3
                %b Recommendations: 
              .col-md-9
                = glasses_prescription.doctor_recommendations.map(&:name).join(', ')
          - if glasses_prescription.comment.present? 
            .row
              .col-md-3
                %b Comment: 
              .col-md-9
                = glasses_prescription.comment


  -if @examination.lens_prescriptions.present?
    %hr
    .row.hr_exam_form
      .col-md-12
        %h4.control-label.bold Final Contact Lens Prescription
        - @examination.lens_prescriptions.each do |lens_prescription|
          - lens = lens_prescription.lens
          - od_lens_types =LensTypesPrice.find_by(id: lens.od_lens_types_price_id)
          - os_lens_types =LensTypesPrice.find_by(id: lens.os_lens_types_price_id)
          - od_type = od_lens_types.try(:lens_type)
          - os_type = os_lens_types.try(:lens_type)
          .col-md-12  
            - if lens.od_type.present? || lens.os_type.present?  
              .row
                %label.col-md-1
                %label.col-md-3
                  %b Type
                - if lens.od_sphere.present? || lens.os_sphere.present?
                  %label.col-md-1
                    %b Sphere
                - if lens.od_cylinder.present? || lens.os_cylinder.present? 
                  %label.col-md-2
                    %b Cylinder
                - if lens.od_axis.present? || lens.os_axis.present?
                  %label.col-md-1
                    %b Axis
                - if lens.od_add.present? || lens.os_add.present?
                  %label.col-md-1
                    %b Add
                - if lens.od_base_curve.present? || lens.os_base_curve.present?   
                  %label.col-md-2
                    %b Base Curve
                - if lens.od_diameter.present? || lens.os_diameter.present?
                  %label.col-md-1
                    %b Diameter 
          .col-md-12
            - if lens.od_type.present?  
              .row
                .col-md-1
                  %b OD
                .col-md-3
                  = lens.od_type
                - if lens.od_sphere.present?  
                  .col-md-1
                    = lens.od_sphere
                - if lens.od_cylinder.present?  
                  .col-md-2
                    = filter_lens_fields(od_type, 'cylinder') == "hidden" ? " " : lens.od_cylinder
                - if lens.od_axis.present?  
                  .col-md-1
                    = filter_lens_fields(od_type, 'axis') == "hidden" ? " " : lens.od_axis
                - if lens.od_add.present?  
                  .col-md-1
                    = filter_lens_fields(od_type, 'add') == "hidden" ? " " : lens.od_add
                - if lens.od_base_curve.present?  
                  .col-md-2
                    = lens.od_base_curve
                - if lens.od_diameter.present?  
                  .col-md-1
                    = lens.od_diameter 
          .col-md-12
            - if lens.os_type.present?  
              .row
                .col-md-1
                  %b OS
                .col-md-3
                  = lens.os_type
                - if lens.os_sphere.present?   
                  .col-md-1
                    = lens.os_sphere
                - if lens.os_cylinder.present?  
                  .col-md-2
                    = filter_lens_fields(os_type, 'cylinder') == "hidden" ? " " : lens.os_cylinder
                - if lens.os_axis.present?  
                  .col-md-1
                    = filter_lens_fields(os_type, 'axis') == "hidden" ? " " : lens.os_axis
                - if lens.os_add.present?  
                  .col-md-1
                    = filter_lens_fields(os_type, 'add') == "hidden" ? " " : lens.os_add
                - if lens.os_base_curve.present? 
                  .col-md-2
                    = lens.os_base_curve
                - if lens.os_diameter.present?  
                  .col-md-1
                    = lens.os_diameter
            %br
          .col-md-12
            .row
              .col-md-2
                %b Issued Date: 
              .col-md-2
                = lens_prescription.issued_date.try(:strftime,"%m/%d/%y")
              .col-md-2
                %b Expired Date:
              .col-md-2
                - exp_date = lens_prescription.expired_date
                = exp_date.try(:strftime,"%m/%d/%y")
            - if lens_prescription.cleaning_solution.present? || lens_prescription.comment.present?
              .row
                .col-md-2
                  %b Cleaning Solution
                .col-md-2
                  = current_organisation.exam_cleaning_solution.find_by(id: lens_prescription.cleaning_solution).try(:name)
                .col-md-2
                  %b Notes
                .col-md-2
                  = lens_prescription.comment
            .row
              .col-md-12
                Patient explanation of proper instruction and technique for cleaning, storing, insertion, and removal of the contact lens. Patient explanation of benefits and risk of contact lens use. 
              %br
  
  - if @examination.medical_rxes.present?  
    %hr 
      .row.hr_exam_form
        .col-md-12  
          %h4.control-label.bold Medical Rx
          -@examination.medical_rxes.each do |e_imp|
            .row
              .col-md-1
              .col-md-4
                %label.control-label.bold Name:
                %span.valuemark
                  #{@resource.try(:name)}
              .col-md-4
                %label.control-label.bold DOB
                %span.valuemark
                  #{@resource.try(:birthday)}
              .col-md-3
                %label.string.optional.control-label.bold Age:
                %span.valuemark
                  #{@resource.try(:age)}
            .row.delete_data
              .col-md-1
              .col-md-11
                .row
                  .col-md-6
                    %label.control-label.bold Issue Date:
                    %span
                      = e_imp.issued_date.nil? ? "" : e_imp.issued_date.to_date
                  .col-md-6
                    %label.control-label.bold Exp Date:
                    %span
                      = e_imp.expired_date.nil? ? "" : e_imp.expired_date.to_date

              .col-md-2
                = image_tag "/images/medical_rx.png",class: "img-responsive set_img_style " 
              .col-md-6
                - if e_imp.try(:medication).present? 
                  .row.medi_dosage_margin
                    .col-md-12
                      = e_imp.medication.capitalize
                - if e_imp.try(:dosage).present?  
                  .row
                    .col-md-12
                      %label.bold Sig:
                      = e_imp.dosage.capitalize
                      
            .row
              - if e_imp.try(:generic).present?  
                .col-md-3
                  %label.bold Refills:
                  = e_imp.try(:refill)
                  %br
                  = "Generic Ok" 
  
  %div.col-md-offset-9
    - if @examination.doctor.sign_image.present?
      %img{:src => @examination.doctor.sign_image.url, :style => "height: 100%;"}/
    - else  
      .sign_design
        = @examination.doctor.name
   
    %br
    = @examination.doctor.try(:name)
    %br
    - if @examination.doctor.license_no.present?
      = " License Number " + @examination.doctor.try(:license_no)

  = simple_form_for @examination, remote: true, html: {class: "exam-form wrapper-fluid"} do |f|
    = hidden_field_tag :submit, "finalized" 
    = f.input :joint_resource_id, as: :hidden
    = f.input :booking_id, as: :hidden 
    = f.submit "Finalized", class: 'hidden', id: "form_finalized_button", remote: false 

  = render "doctor/manage_examination/partial/drawing_read_js"



:javascript
  overview_tab_styling();
