/ Modal
#followup-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "followup-modal-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#followup-modal-label.modal-title
      .modal-body
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close
        
#referral-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:style => "width: 60%;"}
    .modal-content
      #referral_form.modal-body.referral_form
      
#old-referral-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        = link_to "Add New", new_examination_referral_path(@examination.id), remote: true, id: "referral-btn", class: "btn btn-sm btn-default pull-right margin-right-10"
        %h4#myModalLabel.modal-title
          Referrals 
      #old_referral_form.modal-body.old_referral_form


#print-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#myModalLabel.modal-title Print Exam Form 
        
        
      #print_form.modal-body


.row.exam_form_page
  .col-md-12
    .portlet
      .portlet-title
        .caption.profile-info.info0{:style => "width:33%"}
          .info1
            .info2 
              -if @resource.class == Patient
                %a{:href => doctor_patient_profile_path(:patient_id => @resource.id),:class=>'anchor_style', :style => "color: black;"}
                  = @resource.name
              -else
                %a{:href => family_member_path(@resource.id), :class=>'anchor_style',:style => "color: black;"}
                  = @resource.name
            %ul.list-inline
              - if @joint_resource.email.present?  
                %li{style: "margin-top: 7px"} 
                  %i.fa.fa-envelope
                  = "#{@joint_resource.email}"
              - if @resource.phone.present?   
                %li
                  %i.fa.fa-comment
                  = "#{number_to_phone(@resource.phone.to_s[2..-1].to_i, area_code: true)}"
              %br
              - if  @resource.birthday.present? 
                %li
                  %i.fa.fa-calendar
                  = "#{@resource.birthday} , AGE: #{@resource.try(:age)}" 
              -if @resource.class == Patient && @resource.employer.present?    
                %li
                  %i.fa.fa-user
                  = "#{@resource.employer}"
              - if @resource.occupation.present?  
                %li
                  %i.fa.fa-briefcase
                  = "#{@resource.occupation}" 
              
              - if @resource.vision_insurance.present?
                - if @resource.vision_insurance_name.present? && @resource.vision_insurance_code.present?  
                  %li
                    %i.fa.fa-eye
                    = "#{@resource.vision_insurance_name + ' / ' + @resource.vision_insurance_code}"
                - else
                  %li
                    %i.fa.fa-eye
                    = "#{@resource.vision_insurance_name}"
              - if current_organisation.setting.flag_for_medical      
                %li
                  %i.fa.fa-medkit{style: "color: #999999;"}
                  = "#{@resource.medical_insurance.try(:name)}"       
              %br
              - if @joint_resource.try(:home_address).present?
                %li
                  - address = @joint_resource.home_address
                  %i.fa.fa-map-marker
                  -if address.address1.present?
                    - addr = address.address1
                  -if address.address2.present?
                    - if addr.present?
                      - addr = addr + ' Apt.# ' + address.address2
                    - else
                      - addr = ' Apt.# ' + address.address2
                  -if address.city.present?
                    -if addr.present?
                      - addr = addr + ', ' + address.city
                    -else
                      - addr = address.city
                  -if address.country_id.present? && address.state_id.present? 
                    -if addr.present?
                      - addr = addr + "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name).nil? ? "" : ", #{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"}"
                    -else
                      - addr = "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"
                  -if address.postal_code.present?
                    -if addr.present?
                      - addr = addr + ', ' + address.postal_code
                    -else
                      - addr = address.postal_code
                  = addr

        .actions.btn-set{:style => "width:67%"}
          = simple_form_for @examination, remote: true, html: {class: "exam-form"} do |f|
            .row
              %div.col-md-4
                %div.col-md-5
                  %label{:style => "background-color: white;font-size: 18px;font-weight: 400;padding: 4px;"}
                    Provider:
                %div.col-md-7{style:"padding: 0;"}
                  = f.select :doctor_id , options_for_select(@doctors.collect{ |u| [u.name, u.id] }, @examination.doctor_id), {}, class:"form-control provider_change"
              %div.col-md-4
                %div.col-md-5{style:"padding: 0;"}
                  %label{:style => "background-color: white;font-size: 18px;font-weight: 400;padding: 4px;"}
                    Exam Date:
                %div.col-md-7
                  = f.input :exam_date, as: :date_picker, label: false
              %div.col-md-4
                /here false says button is not prescription finalized examFormSubmit(false)
                %button.btn.green.save_exam_btn{onclick: "examFormSubmit(); return false;"}
                  %i.fa.fa-check-circle
                  Saved
                
                .btn-group{:style => "-webkit-user-select: text;"}
                  %button.btn.yellow.dropdown-toggle{"data-close-others" => "true", "data-delay" => "1000", "data-hover" => "dropdown", "data-toggle" => "dropdown", :type => "button"}
                    %span{:style => "-webkit-user-select: text;"} Actions
                    %i.fa.fa-angle-down{:style => "-webkit-user-select: text;"}
                  %ul.dropdown-menu.pull-right{:role => "menu", :style => "-webkit-user-select: text;"}
                    %li{:style => "-webkit-user-select: text;"}
                      = link_to "<i class= \"fa fa-edit\"></i>Referral".html_safe, examination_referrals_path(@examination.id), remote: true, id: "old-referral-btn"
                    %li{:style => "-webkit-user-select: text;"}
                      %a{ :data => {"no-turbolink" => "true"},:href => '#', onclick: "$('#medical_rx_modal').modal()"}
                        %i.fa.fa-medkit
                        e-SCRIBE
            
                    -if @examination.order.present?  
                      %li{:style => "-webkit-user-select: text;"}
                        %a{ :data => { "no-turbolink"=> "true"},:href => edit_order_path(@examination.order.id)}
                          %i.fa.fa-shopping-cart
                          Open Order

                    -if @resource.class == Patient
                      %li{:style => "-webkit-user-select: text;"}  
                        %a{:href => doctor_patient_profile_path(:patient_id => @resource.id), :style => "color: black;"}
                          %i.fa.fa-user
                          View Profile
                    -else
                      %li{:style => "-webkit-user-select: text;"}
                        %a{:href => family_member_path(@resource.id), :style => "color: black;"}
                          %i.fa.fa-user
                          View Profile
                    
                    %li
                      %a{ :data => { "no-turbolink" => "true",:id => @joint_resource.id,:name => @joint_resource.member.name.to_s}, :href => "#" ,:class => "followups"}
                        %i.fa.fa-thumbs-o-up
                        Follow up
                        %span.badge.badge-success
                          = @examination.joint_resource.try(:follow_ups).try(:count)
                    %li{:style => "-webkit-user-select: text;",:id =>"hide_on_attached_doc_tab"}
                      %a{ :data => {"no-turbolink" => "true"},class:"disable",:href => '#', onclick: "print_exam()"}
                        %i.fa.fa-print
                        Print

                    - if @examination.status == 'finalized'
                      %li{:style => "-webkit-user-select: text;"}
                        %a{:style => "-webkit-user-select: text; cursor: pointer; background-color: green; color: white;"}
                          %i.fa.fa-check
                          Finalized
                    -else
                      - unless current_doctor.role.include?("staff") && (current_doctor.role.reject { |c| c.blank? }.length == 1)
                        %li.divider{:style => "-webkit-user-select: text;"}
                        %li{:style => "-webkit-user-select: text;"}
                          %a{:style => "-webkit-user-select: text; cursor: pointer;", onclick: "$('#form_finalized_button').trigger('click'); return false;"} Finalize


            .row
              %div.col-md-5
                %div.col-md-7
                  %label{:style => "background-color: white;font-size: 18px;font-weight: 400;padding: 4px;"}
                    Exam Selection:
                  %span.badge.badge-danger{:style => "margin-top: -35px;margin-left: -15px;"}
                    = @all_exam.count
                %div.col-md-5{style:"padding: 0;"}
                  = select_tag "selected_exam" , options_from_collection_for_select(@all_exam.order(exam_date: :desc), 'id', 'exam_date', @examination.id), class: "form-control", id: "exam_drop"
              %div.col-md-7
                #chief_complaint.col-md-10
                  = f.input :chief_complain, label: false, placeholder: "Chief Complaint:", :input_html => {onfocusout: "$('.save_exam_btn').trigger('click'); return false;"}
                #online_users.col-md-2
            - if @examination.joint_resource.try(:orders).present?
              .row
                %div.col-md-5
                  %div.col-md-7{:style =>  "margin-bottom: 4px;margin-top: -46px;"}
                    %label{:style => "background-color: white;font-size: 18px;font-weight: 400;padding: 4px;width: 136px;color :red;"}
                      .header.remove_line
                        %a{ :href =>  edit_order_path(@examination.joint_resource.orders.last), :style => "color: black;"}
                          Open Order 
                    %span.badge.badge-danger{:style => "margin-top: -35px;margin-left: -15px;"}
                      = @examination.joint_resource.orders.all.count

      .portlet-body
        .tabbable.tabbable-custom.tabbable-full-width
          %ul.nav.nav-tabs.exam_tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#tab_1_1", :"data-href"=>  view_examination_path(@examination), remote: true, :id => "overview_tab"}
                Overview
                %br
                %br
            %li.text-center
              %a{ "data-toggle" => "tab", :href => "#tab_1_1", :"data-href"=>  medical_history_examination_manage_index_path(@examination), id: "medical_history", remote: true}
                Medical/Social
                %div.text-center
                  History
            %li.text-center
              %a{"data-toggle" => "tab", :href => "#tab_1_1",:"data-href"=> primilary_binocular_examination_manage_index_path(@examination), id: "primilary_binocular",remote: true}
                Preliminary/Binocular
                %div
                  Testing
            %li.text-center
              %a{"data-toggle" => "tab", :href => "#tab_1_1",:"data-href"=> refraction_contact_lens_examination_manage_index_path(@examination), id: "refraction_contact", remote: true}
                Refraction 
                %div
                  Contact Lens Exam
            %li.text-center
              %a{"data-toggle" => "tab", :href => "#tab_1_1",:"data-href"=>  external_internal_examination_manage_index_path(@examination), onclick: "externalInternalClick()", id: "external_internal", remote: true}
                External/Internal
                %div
                  Exam
            %li.text-center
              %a{"data-toggle" => "tab", :href => "#tab_1_1",:"data-href"=>  procedure_impression_examination_manage_index_path(@examination), id: "procedure_impression", remote: true}
                Procedures
                %div
                  Impression/Plan
            %li.text-center.final_prescription_tab
              - final_count = 0
              -if @examination.lens_prescriptions.present? 
                - final_count = @examination.lens_prescriptions.count
              - if @examination.glasses_prescriptions.present? 
                - final_count = final_count + @examination.glasses_prescriptions.count
              -if @examination.medical_rxes.present?
                - final_count = final_count + @examination.medical_rxes.count
              %a{"data-toggle" => "tab", :href => "#tab_1_1",:"data-href"=>  finalized_prescriptions_examination_manage_index_path(@examination), id: "finalized_prescriptions"}
                %span 
                  Finalized Prescription
                %span#final_prescreption_count.badge.badge-danger{:style => "margin-top: -20px;"}
                  = final_count
                %br
                %br
            %li.text_center
              %a{"data-toggle" => "tab", :href => "#tab_1_1",:"data-href"=> attached_docs_examination_manage_index_path(@examination), id: "attached_docs", remote: true}
                %span
                  Attached Docs
                -if @previous_exam.try(:documents).present?  
                  %span#doc_badge.badge.badge-danger{:style => "margin-top: -20px;"}  
                    = @examination.documents.count + @previous_exam.documents.count
                -else
                  %span#doc_badge.badge.badge-danger{:style => "margin-top: -20px;"}  
                    = @examination.try(:documents).count
                %br
                %br
          .tab-content{style: "padding: 20px;"}
            #print_overview.hidden.tab-pane.active{:"data-turbolinks-temporary"=> true}           
            #tab_show.tab-pane.active{:"data-turbolinks-temporary"=> true}           
              = render "view"
#Impression_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Impressions
      = form_tag add_impression_settings_path, :remote => true do
        .modal-body
          .row
            .col-md-6
              Impression
            .col-md-5
              Impression Code
          .row.object
            .col-md-6.form-group
              = text_field_tag "impressions[1][name]","", class: "form-control",required: true
            .col-md-5.form-group
              = text_field_tag "impressions[1][code]","", class: "form-control",required: true
            .col-md-1.form-group
              = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer            
          %button.btn.btn-sm.blue Save

#procedure_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Procedures
      = form_tag add_procedure_settings_path, :remote => true do
        .modal-body
          .row
            .col-md-4
              Procedure
            .col-md-3
              Exam Code 
            .col-md-2
              Patient Pays 
            .col-md-2
              Cost of Good
          .row.object
            .col-md-4.form-group
              = text_field_tag "procedures[1][name]","", class: "form-control",required: true
            .col-md-3.form-group
              = text_field_tag "procedures[1][code]","", class: "form-control",required: true
            .col-md-2.form-group
              = text_field_tag "procedures[1][patient_pays]","", class: "form-control", placeholder: "$"
            .col-md-2.form-group
              = text_field_tag "procedures[1][price]","", class: "form-control", placeholder: "$",required: true
            .col-md-1.form-group
              = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer            
          %button.btn.btn-sm.blue Save

#medical_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medical History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_pmhxes", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "medical"
                = hidden_field_tag "type","patient_medical"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
            

        .modal-footer            
          %button.btn.btn-sm.blue Save

#family_medical_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medical History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_fmhxes", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "medical"
                = hidden_field_tag "type","family_medical"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
            

        .modal-footer            
          %button.btn.btn-sm.blue Save
#oculus_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Ocular History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_pohxes", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "oculus"
                = hidden_field_tag "type","patient_ocular_history"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer            
          %button.btn.btn-sm.blue Save
#family_oculus_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Ocular History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_fohxes", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "oculus"
                = hidden_field_tag "type","family_patient_ocular_history"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer            
          %button.btn.btn-sm.blue Save
#psychology_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medication
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_medications", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "psychology"
                = hidden_field_tag "type","patient_medication"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer            
          %button.btn.btn-sm.blue Save
#surgery_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Surgeries
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_surgery", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "surgery"
                = hidden_field_tag "type","patient_surgery"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer            
          %button.btn.btn-sm.blue Save
#allergy_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Allergies
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_allergy", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "allergy"
                = hidden_field_tag "type","patient_allergy"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer            
          %button.btn.btn-sm.blue Save

#medical_rx_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title 
          %i.fa.fa-medkit
          Medical Rx
      = simple_form_for @examination, :remote => true do |med_rx_f|
        .modal-body
          .object
            .row
              .col-md-2
                Impression:
              .col-md-3
                = autocomplete_field_tag 'examination[impression][0]', '', autocomplete_impression_name_autocompletes_path, class: "form-control pull-right medical_impression_autocomplete med_field", "data-type"=> 'impression', placeholder: "Add Impression"
              .col-md-5
              .col-md-2
                %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
            .row.medication_field
              .col-md-2
                Medication:
              .col-md-5
                = autocomplete_field_tag 'examination[medication]', '', autocomplete_disease_name_autocompletes_path(type: 'prescribing_medication'), class: "form-control pull-right med_field", "data-type"=> 'prescribing_medication', placeholder: "Add Medication"
            .row  
              .col-md-2
                Dosage:
              .col-md-5
                = autocomplete_field_tag 'examination[dosage]', '', autocomplete_disease_name_autocompletes_path(type: 'dosage'), class: " form-control pull-right med_field", "data-type"=> 'dosage', placeholder: "Add dosage"
            .row
              .col-md-2 Refill
              .col-md-3
                = med_rx_f.input :refill_start, label: false,class: "med_field", :readonly => true, :input_html => {:rows => 1, value: 0}
              .col-md-7 
                %input#medical_rx_slider{:"data-slider-max" => "8", :"data-slider-min" => "0", :"data-slider-step" => "1", :"data-slider-value" => "0", :type => "text"}
            .row
              .col-md-2 Generic Ok
              .col-md-2
                %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "OK", :name => "generic", :style => "-webkit-user-select: text;", :type => "checkbox", :checked => true}
                
        .modal-footer            
          %button#medical_rx_save.btn.btn-sm.green Save
          %button.btn.btn-sm.red{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} close

              
:javascript
  examinationsFormPage();
  var myFirebaseRef = new Firebase("https://#{ENV['FIREBASE_APP_URL']}/examinations/#{@examination.id}");  //firebase app url reference 
  examLiveEvent("#{@examination.id}", "#{current_doctor.id}",myFirebaseRef);
  function print_exam()
  {
    $('#print_title').show();
    $(".refract_s").css('font-size', '9px');
    $(".data_off_address").css('font-size', '9px');
    $(".current_text_size").css('font-size', '10.5px');
    $('.page-header').hide();
    $('.portlet-title').hide();
    $('.exam_tabs').hide();
    if ($('#overview_tab').parent().hasClass('active') == false)
    {
      $('#print_overview').removeClass('hidden');
      $('#tab_show').hide();
    }
    $($('.raphael_div')[1]).parent().removeClass('col-md-4');
    $($('.raphael_div')[1]).parent().addClass('col-md-12');
    $($('.raphael_div')[0]).parent().removeClass('col-md-8');
    $($('.raphael_div')[0]).parent().addClass('col-md-12');
    window.print();
    if ($('#overview_tab').parent().hasClass('active') == false)
    {
      $('#print_overview').addClass('hidden');
      $('#tab_show').show();
    }
    $('.page-header').show();
    $('.portlet-title').show();
    $('.exam_tabs').show();
    $($('.raphael_div')[1]).parent().removeClass('col-md-12');
    $($('.raphael_div')[1]).parent().addClass('col-md-4');
    $($('.raphael_div')[0]).parent().removeClass('col-md-12');
    $($('.raphael_div')[0]).parent().addClass('col-md-8');
    $('#print_title').hide();
    $(".refract_s").css('font-size', '14px');
    $(".current_text_size").css('font-size', '14px');
    $(".data_off_address").css('font-size', '13px');
  }

  $("#attached_docs").on('click',function(){
    $("a.disable").css({"pointer-events": "none",cursor: "default",color: "red"});
    $("a.disable").addClass('fa fa-ban');
  })

  $("#finalized_prescriptions,#procedure_impression,#external_internal,#refraction_contact,#primilary_binocular,#primilary_binocular,#medical_history,#overview_tab").on('click',function(){
    $("a.disable").css({"pointer-events": "",cursor: "",color: ""});
  })

  $('#medical_rx_slider').slider({});
  $('#medical_rx_slider').on('slide', function (ev) {
    $('#examination_refill_start').val($('#medical_rx_slider').val().split(',')[0]);
  });

  $('#medical_rx_save').on('click',function(){
    $('#medical_rx_modal').modal('hide');
    setTimeout( function() {
      $('#finalized_prescriptions').click();
    },1000);  
  })

  $('#medical_rx_modal').on('hidden.bs.modal', function (e) {
    $('.copied_object').remove();
    $(".med_field").val("");
  }) ;

  $("#examination_chief_complain").css('height','80px');

  $('.add-object').click(function(){
    var object_coppied = $(this).parent().parent().clone();
    var check_field = "<div class='row'><div class='col-md-4'><input class='optional icheck-me checkbox-sm' data-color='blue' data-skin='line' data-text='OU' name='eye[0]' type='radio' value='OU'> </div><div class='col-md-4'><input class='optional icheck-me checkbox-sm' data-color='blue' data-skin='line' data-text='OS' name='eye[0]' type='radio' value='OS'></div><div class='col-md-4'><input class='optional icheck-me checkbox-sm' data-color='blue' data-skin='line' data-text='OD' name='eye[0]' type='radio' value='OD'></div></div>"
    object_coppied.find('.check_field').html(check_field);
    object_coppied.addClass('copied_object');
    object_coppied.find(":text").val("");
    object_coppied.children().last().remove();
    object_coppied.children().first().html('');
    var time = (new Date).getTime();
    $(object_coppied).find(':input').each(function(){
      if($(this).attr("name") != undefined)
      {
        $(this).attr("name", $(this).attr("name").replace(/\d+/, time));
      }   
    })
    object_coppied.insertBefore($('.medication_field'));
    icheck();
  });