= form_tag update_records_setting_orders_path, method: :post do
  = hidden_field_tag 'form_type', 'eyeglass_frame'
  .row
    .col-md-4.material_text
      Frame
    .col-md-4.pay_text
      Cost of Good
    .col-md-4.good_text2
      Patient Pays

  .row.object
    - @eyeglass_frames.each do |eyeglass_frame|
      = simple_fields_for "frames[]", eyeglass_frame do |f|
        .col-md-4.form-group
          = f.input :frame, label: false
        .col-md-4.form-group
          .input-icon
            %i.fa.fa-dollar
            = f.input :patient_pays, label: false,:input_html => { value: (number_with_precision(f.object.patient_pays, :precision => 2)) ,class: 'dollar_box'}
        .col-md-4.form-group
          .input-icon
            %i.fa.fa-dollar
            = f.input :price, label: false,:input_html => { value: (number_with_precision(f.object.price, :precision => 2)) ,class: 'dollar_box'}

  .row.modal-footer
    = submit_tag :Save, class: "btn btn-primary"
