.row
  .col-md-12{style: "border: whitesmoke solid; background: white;"}
    #form_wizard_1.blue
      .portlet-title
      .portlet-body.form
        - @organisation = @organisation.present? ? @organisation : Organisation.new
        - @organisation.build_address
        = form_for @organisation, html: {id: "organisation_wizard_form", class: "form-horizontal"} do |f|
          .form-wizard
            .form-body
              %ul.nav.nav-pills.nav-justified.steps
                %li
                  %a.step{"data-toggle" => "tab", :href => "#tab1"}
                    %span.number
                      1
                    %span.desc
                      %i.fa.fa-check
                      Account Setup
                %li
                  %a.step{"data-toggle" => "tab", :href => "#tab2"}
                    %span.number
                      2
                    %span.desc
                      %i.fa.fa-check
                      Organisation
                
                %li
                  %a.step{"data-toggle" => "tab", :href => "#tab3"}
                    %span.number
                      3
                    %span.desc
                      %i.fa.fa-check
                      Confirm
              #bar.progress.progress-striped{:role => "progressbar"}
                .progress-bar.progress-bar-success
              .tab-content
                .alert.alert-danger.display-none
                  %button.close{"data-dismiss" => "alert"}
                  You have some form errors. Please check below.
                .alert.alert-success.display-none
                  %button.close{"data-dismiss" => "alert"}
                  Your form validation is successful!
                = fields_for :owner, Doctor.new do |owner_f| 
                  #tab1.tab-pane.active
                    %h3.block Provide your account details
                    .form-group
                      %label.control-label.col-md-3
                        First name
                        %span.required
                          *
                      .col-md-4
                        = owner_f.text_field :first_name, class: "form-control"
                    .form-group
                      %label.control-label.col-md-3
                        Last name
                        %span.required
                          *
                      .col-md-4
                        = owner_f.text_field :last_name, class: "form-control"
                    .form-group
                      %label.control-label.col-md-3
                        Password
                        %span.required
                          *
                      .col-md-4
                        = owner_f.password_field :password, class: "form-control", id: "submit_form_password"
                    .form-group
                      %label.control-label.col-md-3
                        Confirm Password
                        %span.required
                          *
                      .col-md-4
                        = owner_f.password_field :password_confirmation, class: "form-control"
                    .form-group
                      %label.control-label.col-md-3
                        Email
                        %span.required
                          *
                      .col-md-4
                        = owner_f.text_field :email, class: "form-control"
                    .form-group
                      %label.control-label.col-md-3
                        Phone Number
                        %span.required
                          *
                      .col-md-4
                        = text_field_tag  "tel_input", nil, class:"form-control tel-input"
                        = owner_f.hidden_field :mobile_number
                #tab2.tab-pane
                  %h3.block Provide your organisation details
                  .form-group
                    %label.control-label.col-md-3
                      Organisation Name
                      %span.required
                        *
                    .col-md-4
                      = f.text_field :company_name, class: "form-control"
                  .form-group
                    %label.control-label.col-md-3
                      Slogan                      
                    .col-md-4
                      = f.text_field :slogan, class: "form-control"
                      %span.help-block
                        Provide your organisation  slogan(tag line)
                  .form-group
                    %label.control-label.col-md-3
                      Description
                    .col-md-4
                      = f.text_area :description, class: "form-control"
                      %span.help-block
                        Write something about your company
                  .form-group
                    %label.control-label.col-md-3
                      Size
                      %span.required
                        *
                    .col-md-4
                      = f.select :size, Organisation::SIZE, {}, class: "form-control"
                      %span.help-block
                        Select organisation size
                  .form-group
                    %label.control-label.col-md-3
                      Domain name
                      %span.required
                        *
                    .col-md-4
                      = f.text_field :domain_name, class: "form-control"
                      %span.help-block
                        Provide your organisation domain name (.itrust.io will be append automaticaly in your domain name)
                  = f.fields_for :address do |address_f| 
                    .form-group
                      %label.control-label.col-md-3
                        Address line 1
                        %span.required
                          *
                      .col-md-4
                        = address_f.text_field :address1, class: "form-control"
                        %span.help-block
                          Provide your head office street address
                    .form-group
                      %label.control-label.col-md-3
                        Address line 2
                      .col-md-4
                        = address_f.text_field :address2, class: "form-control"
                        %span.help-block
                          Provide your head office street address
                    .form-group
                      %label.control-label.col-md-3
                        Postal Code
                        %span.required
                          *
                      .col-md-4
                        = address_f.text_field :postal_code, class: "form-control"
                        %span.help-block
                          Provide your head office postal code
                    .form-group
                      %label.control-label.col-md-3
                        Country
                        %span.required
                          *
                      .col-md-4
                        = address_f.country_select :country_id, {priority: %w(US CA)}, class: 'form-control country_select', :"data-target"=> "#office_address_state"
                        %span.help-block
                          Provide your head office country              
                    
                    .form-group
                      %label.control-label.col-md-3
                        State
                        %span.required
                          *
                      #office_address_state.col-md-4
                        = render partial: '/pages/subregion_select', locals: {parent_region: address_f.object.country_id}
                        %span.help-block
                          Provide your head office state
                    .form-group
                      %label.control-label.col-md-3
                        City/Town
                        %span.required
                          *
                      .col-md-4
                        = address_f.text_field :city, class: "form-control"
                        %span.help-block
                          Provide your head office city or town

                
                #tab3.tab-pane
                  %h3.block Confirm your Information
                  %h4.form-section Account
                  .form-group
                    %label.control-label.col-md-3 First Name:
                    .col-md-4
                      %p.form-control-static{"data-display" => "owner[first_name]"}
                  .form-group
                    %label.control-label.col-md-3 Last Name:
                    .col-md-4
                      %p.form-control-static{"data-display" => "owner[last_name]"}
                  .form-group
                    %label.control-label.col-md-3 Email:
                    .col-md-4
                      %p.form-control-static{"data-display" => "owner[email]"}
                  .form-group
                    %label.control-label.col-md-3 Phone Number:
                    .col-md-4
                      %p.form-control-static{"data-display" => "owner[mobile_number]"}
                  %h4.form-section Organisation
                  .form-group
                    %label.control-label.col-md-3 Name:
                    .col-md-4
                      %p.form-control-static{"data-display" => "organisation[company_name]"}
                  .form-group
                    %label.control-label.col-md-3 Slogan:
                    .col-md-4
                      %p.form-control-static{"data-display" => "organisation[slogan]"}
                  .form-group
                    %label.control-label.col-md-3 Description:
                    .col-md-4
                      %p.form-control-static{"data-display" => "organisation[description]"}
                  .form-group
                    %label.control-label.col-md-3 Size:
                    .col-md-4
                      %p.form-control-static{"data-display" => "organisation[size]"}
                  .form-group
                    %label.control-label.col-md-3 Domain:
                    .col-md-4
                      %p.form-control-static{"data-display" => "organisation[domain_name]"}
                  
                  .form-group
                    %label.control-label.col-md-3 Address Line1 :
                    .col-md-4
                      %p.form-control-static{"data-display" => "organisation[address_attributes][address1]"}
                  .form-group
                    %label.control-label.col-md-3 Address Line2 :
                    .col-md-4
                      %p.form-control-static{"data-display" => "organisation[address_attributes][address2]"}
                  .form-group
                    %label.control-label.col-md-3 Postal Code :
                    .col-md-4
                      %p.form-control-static{"data-display" => "organisation[address_attributes][postal_code]"}
                  .form-group
                    %label.control-label.col-md-3 City/Town:
                    .col-md-4
                      %p.form-control-static{"data-display" => "organisation[address_attributes][city]"}
                  .form-group
                    %label.control-label.col-md-3 Country:
                    .col-md-4
                      %p.form-control-static{"data-display" => "country"}
                  
                  
            .form-actions.fluid
              .row
                .col-md-12
                  .col-md-offset-3.col-md-9
                    %a.btn.default.button-previous{:href => "javascript:;"}
                      %i.m-icon-swapleft
                      Back
                    %a.btn.blue.button-next{:href => "javascript:;"}
                      Continue
                      %i.m-icon-swapright.m-icon-white
                    
                    %button.btn.green.button-submit{type: "submit"}
                      Submit
                      %i.m-icon-swapright.m-icon-white
:javascript
  jQuery(document).ready(function() {       
     // initiate layout and plugins
     Metronic.init(); // init metronic core components
     orgRegistrationFormWizard.init();
  });