.row
  .col-md-12{style: "border: whitesmoke solid; background: white;"}
    #form_wizard_1.blue
      .portlet-title
      .portlet-body.form
        - @organisation = @organisation.present? ? @organisation : Organisation.new
        - @organisation.build_address
        .row
          .col-md-4
          .col-md-4
            %br
            %a.btn.btn-block.btn-social.btn-lg.form-control.btn-google.google_login{:href => "/auth/google_oauth2?user=organisation", style: "padding: 15px 14px;height: 60px;"}
              %i.pull-left
                %img{:src=>"/images/google_icon.ico"}
              %p{style:"padding-top: 7px;text-transform: capitalize"} Sign up with Google
          .col-md-4
        %div{style:"border-bottom: 1px solid #e5e5e5;text-align:center;"}
          %span{style:"background: #FFF;position:relative;bottom: -10px;padding:0 15px;"}
            or
        = form_for @organisation, html: {id: "organisation_wizard_form", class: "form-horizontal"} do |f|
          .form-wizard
            .form-body
              .alert.alert-danger.display-none
                %button.close{"data-dismiss" => "alert"}
                You have some form errors. Please check below.
              .alert.alert-success.display-none
                %button.close{"data-dismiss" => "alert"}
                Your form validation is successful!
              = fields_for :owner, Doctor.new do |owner_f| 
                %h3.block Provide your account details
                .row
                  .col-md-6.col-xs-12
                    .form-group
                      %label.control-label.col-md-4
                        First name
                        %span.required
                          *
                      .col-md-8
                        = owner_f.text_field :first_name, class: "form-control"
                    .form-group
                      %label.control-label.col-md-4
                        Last name
                        %span.required
                          *
                      .col-md-8
                        = owner_f.text_field :last_name, class: "form-control"
                    .form-group
                      %label.control-label.col-md-4
                        Email
                        %span.required
                          *
                      .col-md-8
                        = owner_f.email_field :email, class: "form-control"
                    .form-group
                      %label.control-label.col-md-4
                        Phone Number
                        %span.required
                          *
                      .col-md-8
                        = text_field_tag  "tel_input", nil, class:"form-control tel-input"
                        = owner_f.hidden_field :mobile_number
                    .form-group
                      %label.control-label.col-md-4
                        Company Name
                        %span.required
                          *
                      .col-md-8
                        = f.text_field :domain_name, class: "form-control"
                  .col-md-6.col-xs-12
                    = f.fields_for :address do |address_f| 
                      .form-group
                        %label.control-label.col-md-4
                          Country
                          %span.required
                            *
                        .col-md-8
                          = address_f.country_select :country_id, {priority: %w(US CA)}, class: 'form-control country_select', :"data-target"=> "#office_address_state"
                      .form-group
                        %label.control-label.col-md-4
                          Address line 1
                          %span.required
                            *
                        .col-md-8
                          = address_f.text_field :address1, class: "form-control"
                      .form-group
                        %label.control-label.col-md-4
                          Address line 2
                        .col-md-8
                          = address_f.text_field :address2, class: "form-control"
                      .form-group
                        %label.control-label.col-md-4
                          State
                          %span.required
                            *
                        #office_address_state.col-md-8
                          - country_code  = address_f.object.country_id.present? ? address_f.object.country_id : "US"
                          - if Carmen::Country.coded(country_code).try(:subregions).present?
                            = address_f.subregion_select(:state_id, country_code, {}, { :class => 'form-control' } )
                      .form-group
                        %label.control-label.col-md-4
                          City
                          %span.required
                            *
                        .col-md-8
                          = address_f.text_field :city, class: "form-control"
                      .form-group
                        %label.control-label.col-md-4
                          Zip Code
                          %span.required
                            *
                        .col-md-8
                          = address_f.text_field :postal_code, class: "form-control"
        .form-actions.fluid
          .row
            .col-md-12
              .col-md-offset-3.col-md-9
                %button.btn.green.button-submit{type: "submit"}
                  Submit
                  %i.m-icon-swapright.m-icon-white
:javascript
  jQuery(document).ready(function() {       
  //    // initiate layout and plugins
      Metronic.init(); // init metronic core components
      orgRegistrationFormWizard.init();
      $('#form_wizard_1').find('.button-submit').show();
  });
:css
  a.google_login:hover{
    border: 5px solid #1bbc9b !important;
    padding: 10px 10px !important;
  }