/ BEGIN DASHBOARD STATS
.col-lg-3.col-md-3.col-sm-6.col-xs-12
  .dashboard-stat.blue-madison
    .visual
      %i.fa.fa-envelope
    .details
      .number
        = @delivered_all
      .desc
        Delivered
    %div.view_summary.more{"data-target": "delivered_summary", "data-parent": ".#{@data_filter}", "data-filter": @data_filter}
      View Summary
      %i.m-icon-swapright.m-icon-white
.col-lg-3.col-md-3.col-sm-6.col-xs-12
  .dashboard-stat.red-intense
    .visual
      %i.fa.fa-bar-chart-o
    .details
      .number
        = @dropped_all
      .desc
        Bounce/Failed
    %div.view_summary.more{"data-target": "failed_summary", "data-parent": ".#{@data_filter}", "data-filter": @data_filter}
      View Summary
      %i.m-icon-swapright.m-icon-white
.col-lg-3.col-md-3.col-sm-6.col-xs-12
  .dashboard-stat.green-haze
    .visual
      %i.fa.fa-location-arrow
    .details
      .number
        = @opened_all
      .desc
        Opens
    %div.view_summary.more{"data-target": "opened_summary", "data-parent": ".#{@data_filter}", "data-filter": @data_filter}
      View Summary
      %i.m-icon-swapright.m-icon-white
.col-lg-3.col-md-3.col-sm-6.col-xs-12
  .dashboard-stat.purple-plum
    .visual
      %i.fa.fa-thumbs-o-down
    .details
      .number
        =@unsubscribed_all
      .desc
        Unsubscribed User
    %div.view_summary.more{"data-target": "unsubscribed_summary", "data-parent": ".#{@data_filter}", "data-filter": @data_filter}
      View Summary
      %i.m-icon-swapright.m-icon-white
/ END DASHBOARD STATS
.clearfix
.col-md-12.col-sm-12
  / BEGIN PORTLET
  .portlet.solid.grey-cararra.bordered
    .portlet-title
      .caption
        %i.fa.fa-bullhorn>
        Message Tracking
      .tools
        .btn-group.pull-right
          %a.btn.grey-steel.btn-sm.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => ""}
            Filter
            %span.fa.fa-angle-down
          %ul.dropdown-menu.pull-right
            %li
              %a{:href => "javascript:;", :class=>"view_by", :'data-filter'=>@data_filter, :'data-view'=>"year"}
                View By
                %span.label.label-sm.label-default
                  Year
            %li.active
              %a{:href => "javascript:;",:class=>"view_by", :'data-filter'=>@data_filter, :'data-view'=>"month"}
                View By
                %span.label.label-sm.label-success
                  Month
            %li
              %a{:href => "javascript:;",:class=>"view_by", :'data-filter'=>@data_filter, :'data-view'=>"week"}
                View By
                %span.label.label-sm.label-warning
                  Week
    .portlet-body{:id=>"graph_body#{@data_filter}"}
      = column_chart @filter_result, id: "graph_#{@data_filter}"
      
  / END PORTLET
.clearfix
.col-md-12.col-sm-12
  #summary_section.portlet.box.blue-madison
    =render 'email_summary'
.clearfix

:css
  .pagination .previous_page {
    color: #999999;
    border: 1px solid #9aafe5;
  }

  .pagination .previous_page.disabled {
    color: #999999;
    border: 1px solid #dddddd;
  }

  .pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
  }

  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
  }

  .pagination .next_page {
    color: #999999;
    border: 1px solid #9aafe5;
  }

  .pagination .next_page.disabled {
    color: #999999;
    border: 1px solid #dddddd;
  }