.portlet-title
  .caption
    %i.fa.fa-globe>
    Failed Email Summary
.portlet-body
  %table#sample_3.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th
          ID
        %th
          Recipient
        %th
          Campaign
        %th
          Email Type
        %th
          Occuered Events 
        %th
          Failed Reason
        %th
          Failed Description       
        %th
          Created At
    %tbody
      - @mailgun_webhooks.each_with_index do |webhook, index|
        %tr
          %td
            -if params[:page].to_i>1 
              = "##{@mailgun_webhooks.per_page*(params[:page].to_i-1)+index+1}"
            -else
              = "##{index+1}"
          %td
            = webhook.recipient
          %td
            = webhook.trackable_type
          %td
            = webhook.sub_type.gsub('_', ' ')
          %td
            = webhook.events.join(",") 
          %td
            = webhook.reason
          %td
            = webhook.description 
          %td
            = webhook.created_at
            
      = will_paginate @mailgun_webhooks, :params => {:controller => 'campaigns', :action => 'failed_summary', :campaign=>@data_filter}  if @mailgun_webhooks.present?
