-if params[:campaign] == "done"
  #portlet_tab1.tab-pane.active
    %table#sample_editable_1.table.table-striped.table-hover.table-bordered
      %thead
        %tr
          %th
            \#
          %th
            Patient Name
          %th
            Survey Date
          %th
            Overall Rating
          %th
            Feedback
          %th
            Action
      %tbody
        - @patient_surveys_done.each_with_index do |survey, index|
          %tr
            %td
              -if params[:page].to_i>1 
                = "#{@patient_surveys_done.per_page*(params[:page].to_i-1)+index+1}"
              -else
                = "#{index+1}"
            %td
              = survey.patient.name
            %td.success
              = survey.created_at.strftime("%m-%d-%Y")
            %td.warning
              %input{min:2, max: 5, step: 0.5, :"data-size"=>"sm", label: false, class: "numeric", value: survey.overall_rating, readonly: true}
            %td.danger
              = survey.feedback
            %td.warning
              %a.btn.default.btn-xs.purple{"data-toggle" => "modal", :href => "#survey_modal#{survey.id}"}
                %i.fa.fa-edit
                View
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "survey_modal#{survey.id}"}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h4.modal-title
                    = "Rating by #{survey.patient.name}"
                .modal-body
                  %ul.pricing-content.list-unstyled
                    %li
                      .row
                        .col-md-6
                          %h4
                            %i.fa.fa-mortar-board
                            Professionalism
                        .col-md-6
                          %input{min:2, max: 5, step: 0.5, :"data-size"=>"sm", label: false, class: "numeric", value: survey.professionalism, readonly: true, showClear: false, showCaption: true}
                    %li
                      .row
                        .col-md-6
                          %h4
                            %i.fa.fa-asterisk
                            Quality Of work
                        .col-md-6
                          %input{min:2, max: 5, step: 0.5, :"data-size"=>"sm", label: false, class: "numeric", value: survey.work_quality, readonly: true, showClear: false}
                          
                    %li
                      .row
                        .col-md-6
                          %h4
                            %i.fa.fa-user-md
                            Staff
                        .col-md-6
                          %input{min:2, max: 5, step: 0.5, :"data-size"=>"sm", label: false, class: "numeric", value: survey.staff, readonly: true, showClear: false}
                    %li
                      .row
                        .col-md-6
                          %h4
                            %i.fa.fa-calendar-o
                            Adherence to schedule
                        .col-md-6
                          %input{min:2, max: 5, step: 0.5, :"data-size"=>"sm", label: false, class: "numeric", value: survey.schedule_adherence, readonly: true, showClear: false}
                    %li
                      .row
                        .col-md-6
                          %h4
                            %i.fa.fa-comments-o
                            Communication
                        .col-md-6
                          %input{min:2, max: 5, step: 0.5, :"data-size"=>"sm", label: false, class: "numeric", value: survey.communication, readonly: true, showClear: false, showClear: false}
                    %li
                      .row
                        .col-md-6
                          %h4
                            %i.fa.fa-trash-o
                            Cleanliness
                        .col-md-6
                          %input{min:2, max: 5, step: 0.5, :"data-size"=>"sm", label: false, class: "numeric", value: survey.cleanliness, readonly: true, showClear: false}  
                      / /.modal-content
        = will_paginate @patient_surveys_done, :'data-url'=>"/campaigns/paginate_option", :'data-type'=>"done"  if @patient_surveys_done.present?

-elsif params[:campaign] == "pending"
  #portlet_tab2.tab-pane
    %table#sample_editable_2.table.table-striped.table-hover.table-bordered
      %thead
        %tr
          %th
            \#
          %th
            Patient Name
          %th
            Notification will be sent on
          
      %tbody
        - @patient_surveys_pending.each_with_index do |patient, index|
          %tr
            %td
              -if params[:page].to_i>1 
                = "#{@patient_surveys_pending.per_page*(params[:page].to_i-1)+index+1}"
              -else
                = "#{index+1}"
            %td
              = patient.name
            %td.success
              = (patient.joint_resource.bookings.first.start_time + 6.hours).strftime("%m-%d-%y")
        = will_paginate @patient_surveys_pending, :'data-url'=>"/campaigns/paginate_option", :'data-type'=>"pending" if @patient_surveys_pending.present?

:javascript
  jQuery(document).ready(function() {
    campaignsIndexPage();
  });