.portlet-title
  .caption
    %i.fa.fa-globe>
    Unsubscribed User Summary
.portlet-body
  %table#sample_3.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th
          ID
        %th
          Recipient
        %th
          Campaign
        %th
          Created At
        %th
          Action
        
    %tbody
      - @unsubscribed_users.each_with_index do |user, index|
        %tr
          %td
            -if params[:page].to_i>1 
              = "##{@mailgun_webhooks.per_page*(params[:page].to_i-1)+index+1}"
            -else
              = "##{index+1}"
          %td
            = user["address"]
          %td
            = user["tags"].join(",")
          %td
            = user["created_at"]
          %td
            = link_to "Forcefully Subscribe" ,delete_unsubscribe_campaigns_path(email: user["address"], tags: user["tags"].join(",")), remote: true, onclick: "$('td a').parent().parent().remove();", class: "btn btn-sm btn-default" 

      = will_paginate @mailgun_webhooks, :params => {:controller => 'campaigns', :action => 'unsubscribed_summary', :campaign=>@data_filter}  if @mailgun_webhooks.present?     
