.row
  .col-md-12
    / BEGIN PAGE TITLE &amp; BREADCRUMB
    %h3.page-title
      Email Campaign
      %small statistics and more
    %ul.page-breadcrumb.breadcrumb
      %li
        %i.fa.fa-home
        %a{:href => "/"} Home
        %i.fa.fa-angle-right
      %li
        %a{:href => "#"} Campaign Analytics
      %li.pull-right
        #dashboard-report-range.dashboard-date-range.tooltips{"data-original-title" => "Change dashboard date range", "data-placement" => "top"}
          %i.icon-calendar
          %span
          %i.fa.fa-angle-down
    / END PAGE TITLE &amp; BREADCRUMB
/ END PAGE HEADER

.row.profile
  .col-md-12
    / BEGIN TABS
    .tabbable.tabbable-custom.tabbable-full-width
      %ul.nav.nav-tabs
        %li.active
          %a.campaign_tabs{"data-toggle" => "tab", :href => "#tab_1_1", "data-target"=> "overall"}
            Overall
        %li
          %a.campaign_tabs{"data-toggle" => "tab", :href => "#tab_1_2", "data-target"=> "appointment"}
            Appointments/Exams
        %li
          %a.campaign_tabs{"data-toggle" => "tab", :href => "#tab_1_3", "data-target"=> "order"}
            Orders
        %li
          %a.campaign_tabs{"data-toggle" => "tab", :href => "#tab_1_4", "data-target"=> "survey"}
            First Visitor Survey
        %li
          %a.campaign_tabs{"data-toggle" => "tab", :href => "#tab_1_5", "data-target"=> "follow_up"}
            One Year Follow Up
        %li
          %a.campaign_tabs{"data-toggle" => "tab", :href => "#tab_1_6", "data-target"=> "contact_form"}
            Contact Form Reply
        %li
          %a.campaign_tabs{"data-toggle" => "tab", :href => "#tab_1_7", "data-target"=> "patient_account"}
            Patient Account
        
      .tab-content
        #tab_1_1.overall.tab-pane.active
          = render "campaign_tab"
        / tab_1_2
        #tab_1_2.appointment.tab-pane
          .col-md-12
            Loading...
        / end tab-pane
        #tab_1_3.order.tab-pane
          .col-md-12
            Loading...
        #tab_1_4.survey.tab-pane
          .col-md-12
            Loading...
        #tab_1_5.follow_up.tab-pane
          .col-md-12
            Loading...
        #tab_1_6.contact_form.tab-pane
          .col-md-12
            Loading...
        #tab_1_7.patient_account.tab-pane
          .col-md-12
            Loading...

          
        / end row        
    / END TABS


:javascript
  campaignsAnalyticPage();
  