.row
  .col-md-12
    / BEGIN PAGE TITLE &amp; BREADCRUMB
    %h3.page-title
      Manage Campaign
      %small here you can manage email campaign 
    %ul.page-breadcrumb.breadcrumb
      %li
        %i.fa.fa-home
        %a{:href => "/"} Home
        %i.fa.fa-angle-right
      %li
        %a{:href => "#"}  Manage Campaign
      %li.pull-right
        #dashboard-report-range.dashboard-date-range.tooltips{"data-original-title" => "Change dashboard date range", "data-placement" => "top"}
          %i.icon-calendar
          %span
          %i.fa.fa-angle-down
    / END PAGE TITLE &amp; BREADCRUMB

.row
  .col-md-12
    / BEGIN TABS
    .tabbable.tabbable-custom.tabbable-full-width
      %ul.nav.nav-tabs      
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab_1_1"}
            Patient Survey
        %li
          %a{"data-toggle" => "tab", :href => "#tab_1_2"}
            Contact Form
        %li
          %a{"data-toggle" => "tab", :href => "#tab_1_3"}
            SMS
       
      .tab-content
        #tab_1_1.tab-pane.active
          .col-md-12
            / BEGIN PAGE TITLE &amp; BREADCRUMB
            %h5.page-title
              New Patient Survey
              %small See rating given by the patients
          .col-md-12
            / BEGIN Portlet PORTLET
            .portlet.box.red-sunglo.tabbable
              .portlet-title
                .caption
                  %i.fa.fa-plus-square>
                  New Patient Survey
              .portlet-body
                .tabbable.portlet-tabs
                  %ul.nav.nav-tabs
                    %li
                      %a{"data-toggle" => "tab", :href => "#portlet_tab2"}
                        Pending
                    %li.active
                      %a{"data-toggle" => "tab", :href => "#portlet_tab1"}
                        Done
                  .tab-content
                    #portlet_tab1.tab-pane.active
                      %table#sample_editable_1.table.table-striped.table-hover.table-bordered
                        %thead
                          %tr
                            %th
                              \#
                            %th
                              Patient Name
                            %th
                              Survey Date
                            %th
                              Overall Rating
                            %th
                              Feedback
                            %th
                              Action
                        %tbody
                          - @patient_surveys_done.each_with_index do |survey, index|
                            %tr
                              %td
                                = index+1
                              %td
                                = survey.patient.name
                              %td.success
                                = survey.created_at.strftime("%m-%d-%Y")
                              %td.warning
                                %input{min:2, max: 5, step: 0.5, :"data-size"=>"sm", label: false, class: "numeric", value: survey.overall_rating, readonly: true}
                              %td.danger
                                = survey.feedback.present? ? survey.feedback : "N/A"
                              %td.warning
                                %a.btn.default.btn-xs.purple{"data-toggle" => "modal", :href => "#survey_modal#{survey.id}"}
                                  %i.fa.fa-edit
                                  View
                            .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "survey_modal#{survey.id}"}
                              .modal-dialog
                                .modal-content
                                  .modal-header
                                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                                    %h4.modal-title
                                      = "Rating by #{survey.patient.name}"
                                  .modal-body
                                    %ul.pricing-content.list-unstyled
                                      %li
                                        .row
                                          .col-md-6
                                            %h4
                                              %i.fa.fa-mortar-board
                                              Professionalism
                                          .col-md-6
                                            %input{min:2, max: 5, step: 0.5, :"data-size"=>"sm", label: false, class: "numeric", value: survey.professionalism, readonly: true, showClear: false, showCaption: true}
                                      %li
                                        .row
                                          .col-md-6
                                            %h4
                                              %i.fa.fa-asterisk
                                              Quality Of work
                                          .col-md-6
                                            %input{min:2, max: 5, step: 0.5, :"data-size"=>"sm", label: false, class: "numeric", value: survey.work_quality, readonly: true, showClear: false}
                                            
                                      %li
                                        .row
                                          .col-md-6
                                            %h4
                                              %i.fa.fa-user-md
                                              Staff
                                          .col-md-6
                                            %input{min:2, max: 5, step: 0.5, :"data-size"=>"sm", label: false, class: "numeric", value: survey.staff, readonly: true, showClear: false}
                                      %li
                                        .row
                                          .col-md-6
                                            %h4
                                              %i.fa.fa-calendar-o
                                              Adherence to schedule
                                          .col-md-6
                                            %input{min:2, max: 5, step: 0.5, :"data-size"=>"sm", label: false, class: "numeric", value: survey.schedule_adherence, readonly: true, showClear: false}
                                      %li
                                        .row
                                          .col-md-6
                                            %h4
                                              %i.fa.fa-comments-o
                                              Communication
                                          .col-md-6
                                            %input{min:2, max: 5, step: 0.5, :"data-size"=>"sm", label: false, class: "numeric", value: survey.communication, readonly: true, showClear: false, showClear: false}
                                      %li
                                        .row
                                          .col-md-6
                                            %h4
                                              %i.fa.fa-trash-o
                                              Cleanliness
                                          .col-md-6
                                            %input{min:2, max: 5, step: 0.5, :"data-size"=>"sm", label: false, class: "numeric", value: survey.cleanliness, readonly: true, showClear: false}  
                          = will_paginate @patient_surveys_done, :'data-url'=>"/campaigns/paginate_option", :'data-type'=>"done" if @patient_surveys_done.present?
                    #portlet_tab2.tab-pane
                      %table#sample_editable_2.table.table-striped.table-hover.table-bordered
                        %thead
                          %tr
                            %th
                              \#
                            %th
                              Patient Name
                            %th
                              Notification will be sent on
                            
                        %tbody
                          - @patient_surveys_pending.sort_by{|p_start_time| p_start_time.joint_resource.bookings.first.start_time}.reverse.each_with_index do |patient, index|
                            %tr
                              %td
                                = index+1
                              %td
                                = patient.name
                              %td.success
                                = (patient.joint_resource.bookings.first.start_time + 6.hours).strftime("%m-%d-%y")
        .clearfix
        / tab_1_2
        #tab_1_2.tab-pane.contact_form
          .col-md-12
            Loading...
        #tab_1_3.tab-pane.sms
          .col-md-12
            Loading...
        .clearfix
        / end row        
    / END TABS
:javascript
  jQuery(document).ready(function() {
    campaignsIndexPage();
    dtable_patient_survey_table();
  });              