.btn-group{"data-toggle" => "buttons"}
	- if patient_signed_in? && @doctors.present?
		%label.btn.green-meadow.active.margin-bottom-10.doctor-btn
			%input.toggle{:type => "radio", value: 'first', name: "doctor_id", checked: true}
				= "First Available"
		- @doctors.each_with_index do |doctor, index|
			%label.btn.green-meadow.margin-bottom-10.doctor-btn
				%input.toggle{:type => "radio", name: "doctor_id", value: doctor.try(:id) }
					= doctor.try(:name)
				%br
	- elsif @doctors.present?
		%label.btn.green-meadow.active.margin-bottom-10.doctor-btn
			%input.toggle{:type => "radio", value: 'first', name: "doctor_id", checked: true}
				= "First Available"
		- @doctors.each_with_index do |doctor, index|
			%label.btn.green-meadow.margin-bottom-10.doctor-btn
				%input.toggle{:type => "radio", name: "doctor_id", value: doctor.try(:id) }
					= doctor.try(:name)
				%br
	- else
		%p
			Doctor is not available for this clinic.