.row
  .col-md-3
  .col-md-5
    -unless session[:wordpress_login]
      %a.btn.btn-block.btn-social.btn-lg.form-control.btn-google.google_login{:href => "/auth/google_oauth2?user=patient&start_time=#{@booking.start_time}&doctor_id=#{@booking.doctor_id}&store_id=#{@booking.store_id}", style: "padding: 15px 14px;height: 60px;"}
        %i.pull-left
          %img{:src=>"/images/google_icon.ico"}
        %p{style: "padding-top: 7px;text-transform: capitalize"} Sign up with Google
            
      %div{style:"border-bottom: 1px solid #e5e5e5;text-align:center;"}
        %span{style:"background: #FFF;position:relative;bottom: -10px;padding:0 15px;"}
          or
      %br

    %label.control-label Email Address
    = email_field_tag 'email','', :onblur => "duplicate_email_check(); return false", class: "form-control"

  .col-md-4
%br
.row{style:"padding-left: 10px;padding-right: 10px;"}
  .col-md-12{style: "padding: 10px 20px;text-align: right;margin-top: 20px;background-color: #f5f5f5;border-top: 1px solid #e5e5e5;"}
    %span{style:"padding-right: 50px"} 
      = "Your appointment time is #{@app_time}"
    %button.btn.default{:type => "button", id: "back-to-calendar"} Back to Calendar
    %button.btn.blue#button-continue
      Continue
      %i.m-icon-swapright

:javascript
  function duplicate_email_check() {
    var email = $('#email').val();
    var emailReg =  /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
    var email_status = emailReg.test(email);
    if (email_status)
    {
      var path = '/bookings/check_duplicate_email';
      $.ajax({
        url: path,
        type: 'get',
        data: "email=" + encodeURIComponent(email)
      });
    }
    else
    {
      $('#email').val('');
      jQuery.gritter.add({ title: 'error', text: 'Please enter Email address' });
    }
  }

:css
  a.google_login:hover{
    border: 5px solid #1bbc9b !important;
    padding: 10px 10px !important;
  }