/ BEGIN FORM          
= simple_form_for @patient, url: bookings_path, html_input:  {class: "horizontal-form"} do |f|   
  .form-body
    .form-section
      %h3 Patient Info
    .row
      .col-md-6
        .form-group
          %label.control-label First Name
          = f.input :first_name,label: false,:wrapper => false
      / /span
      .col-md-6
        .form-group
          %label.control-label Last Name
          = f.input :last_name,label: false,:wrapper => false
      / /span
    / /row

 
    .row
      .col-md-6
        .form-group
          %label.control-label Gender
          %br
          .col-md-9.row
            %label.radio-inline
              %input{:name => "patient[gender]", :type => "radio", :value => "male"}/
              Male
            %label.radio-inline
              %input{:checked => "", :name => "patient[gender]", :type => "radio", :value => "female"}/
              Female
                        
              
      / /span
      .col-md-6
        .form-group
          %label.control-label Date of Birth
          = f.input :birthday, as: :date_picker, label: false,:wrapper => false
          
      / /span
    / /row
    / /row
    .row
      .col-md-6
        .form-group
          %label.control-label Email
          = f.input :email, label: false,:wrapper => false,:readonly => true
      / /span
      .col-md-6
        .form-group
          %label.control-label Phone
          = text_field_tag  "tel_input", @patient.phone, class:"form-control tel-input"
          = f.hidden_field :phone
      / /span
    = simple_fields_for :booking, @booking do |booking_f|  
      .row
        .col-md-6
          .form-group
            %label.control-label Vision Insurance
            = f.input :vision_insurance_id,as: :select,collection: current_organisation.try(:vision_insurances), :prompt => "Choose a vision insurance", :label => false,:label_method=> :name,:value_method=> :id, :wrapper => false
        .col-md-6
          .form-group
            %label.control-label Reason of Visit
            = booking_f.association :exam_procedures,collection: current_organisation.try(:exam_procedures).where(name: ["New Patient Comprehensive Visit","Established Patient Comprehensive Visit","Contact lens fitting","Contact lens fitting / Bifocal"]).order(:position),:value_method => :id,input_html:{:multiple => true,:class => "multi-select-exams",:style => 'width: 200px;overflow-x:hidden;'}, label: false

      = booking_f.input :doctor_id, as: :hidden
      = booking_f.input :store_id, as: :hidden
      = booking_f.input :start_time, as: :hidden
      .row
        .col-md-12
          .form-group
            %label.control-label Any Comment?
            = booking_f.input :comment, label: false,:wrapper => false
      = hidden_field_tag('duplicate_email', value = false)
      = hidden_field_tag('joint_resource')
    
  .form-actions.right
    %span{style:"padding-right: 50px"} 
      = "Your appointment time is #{@app_time}"
    %button.btn.default{:type => "button", id: "back-to-calendar"} Back to Calendar
    %button.btn.blue#button-submit{:type => "button"}
      %i.fa.fa-check
      Submit
/ END FORM
:css
  .portlet-body.form {
    display:none;
  }

:javascript
  telInput();