.col-md-4.col-xs-12.margin-top-20
  - unless @store_closed
    -if @view == "first"
      - if(@first_free_time_slots.values.uniq.present?) #if all doctor day is closed 
        - @first_free_time_slots.each do |key, value|
          - if "#{@date} #{key}".to_time < Time.now
            .btn.margin-top-10
              = key 
          - else
            = link_to key, get_registration_form_bookings_path("store_id"=> @store.try(:id), "doctor_id"=> value, "time_slot"=> "#{@date} #{key}".to_time), remote: true, class: "btn btn-default margin-top-10 available-btn free_slot_link"
        - @booked_slots.each do |slot|
          .btn.margin-top-10
            = slot
      - else
        %h4
          Sorry, for this date there are no available appointments. Please select another date for booking.
    - elsif !(@is_doctors_day_close || @is_doctors_on_leave)
      - @doctor_time_slot.each do |slot|
        - if @booked_slot.include?(slot) ||  "#{@date} #{slot}".to_time < Time.now
          .btn.margin-top-10
            = slot
        - else        
          = link_to slot, get_registration_form_bookings_path("store_id"=> @store.try(:id), "doctor_id"=> @doctor.try(:id), "time_slot"=> "#{@date} #{slot}".to_time), remote: true, class: "btn btn-default margin-top-10 available-btn free_slot_link"
    - else
      %h4
        Sorry, for this date there are no available appointments. Please select another date for booking.
  - else
    %h4
      Sorry, for this date store is closed. Please select another date for booking.
:css
  .available-btn{
    background: #17A185;
    color: white;
  }

  .available-btn:hover{
    background: #4B8DF8;
    color: white;
  }

  .available-date{
    background: #17A185;
    color: white !important;
    border: 1px solid !important;;
  }

  .datepicker table tr td.day.available-date:hover {
    background: #4B8DF8;
    cursor: pointer;
  }
  
  .green-meadow.btn:hover, .green-meadow.btn:focus, .green-meadow.btn:active, .green-meadow.btn.active{
    background: #4B8DF8;
    color: white;
  }

:javascript

  $( document ).ajaxComplete(function() {
    if ($("#slot-wrapper h4").text() != '') {
      $(".table-condensed>tbody>tr>td.active").removeClass('active available-date').addClass('disabled');
    }
  });