<% if @patient.present? %>
  var data_array = <%= @data_list.to_json.html_safe%>
  $("#family_member").find('option').remove()
  for(var i in data_array)
  {
	var id = data_array[i][0];
	var title = data_array[i][1] + ' , DOB (' + data_array[i][2] + ')';
	$("#family_member").append(new Option(title, id));
  }
  $("#button-continue").prop( "disabled", "disabled" ); 
  $("#family-member-modal").modal('show');
<% else %>
  $("#button-continue").removeAttr("disabled"); 
<% end %>