$("#registration-info-section").html('<%= escape_javascript(render partial: "registration_form") %>');
$("#login_with_booking").html('<%= escape_javascript(render partial: "login_with_booking") %>');
$(".date-picker").datepicker();

$('.multi-select-exams').multiselect({
  enableFiltering: true,
  includeSelectAllOption: true,
  maxHeight: '300',
  buttonWidth: '256',
  templates: {
    filterClearBtn: '<span class="input-group-btn"><button class="btn btn-default multiselect-clear-filter" type="button"><b>X<b></button></span>',
    saveBtn: '<span class="input-group-btn"><button type="button" class="btn btn-default"><b>√<b></button></span>'
  }
});

$('.dropdown-toggle').dropdown();

$('#registration-info-section #button-submit').click(function () {                
  $.ajax({
    url: $("#new_patient").attr('action'),
    type: 'POST',
    data: $("#new_patient").serialize(),
    dataType: 'json',
    success: function(data) {
        if(data.status == "Error")
            jQuery.gritter.add({ title: data.status, text: data.msg });
        else
            $("#registration-info-section").html('<div align= "center" style= "height: 300px;"><center style="margin-top: 50px; font-size: 20px" class="text-success">'+data.msg+'</br> <a href="/bookings/new?wordpress_login=true" class="btn">Book another appointment</a></center></div>');
    },
    error: function(data){
       jQuery.gritter.add({ title: data.responseJSON.status, text: data.responseJSON.msg });
    }

  });
});

$('#login_with_booking #button-continue').click(function () { 
  var email = $('#email').val();
  var emailReg =  /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
  var email_status = emailReg.test(email);
  if(email_status == false)
  {
    jQuery.gritter.add({ title: 'error', text: 'Please enter Email address' });
  } 
  else
  {              
    $('#login_with_booking').hide();
    $('#registration-info-section').removeClass('hidden').show();
    $('#patient_email').val($('#email').val());
  }
});