.margin-bottom-40
.row
  .col-md-12.col-sm-12.col-xs-12
    .portlet.box.green-meadow
      .portlet-title
        .caption
          %i.fa.fa-calendar>
          Calendar
      .portlet-body
        #calendar-section.row
          .col-md-3.col-sm-12.col-xs-12.margin-top-10
            %h3.event-form-title Select your nearest store 
            = select_tag :store_id, options_from_collection_for_select(@stores, "id", "description", @store.try(:id)), class: "form-control", style: "margin-bottom: 10px", id: "store_select"
            %h3.event-form-title Select Doctor to see his appointment
            #doctor_list
              = render "/bookings/doctor_list"

          .col-md-5.col-sm-12.col-xs-12.new-calendar
            .form-group
              %div{style: "margin: auto"}
              .date-picker{"data-date-format" => "mm/dd/yyyy", "data-date-start-date" => "#{@rem_days.present? ? @rem_days.try(:first).to_s : '+0d'}", "data-date"=> "#{@rem_days.present? ? @rem_days.try(:first).to_s : Date.today.strftime('%m/%d/%Y')}", "data-dates-disabled" => "#{@all_leaves}", "data-date-days-of-week-disabled" =>"#{@weekly_off}"}
          #slot-wrapper
        #registration-info-section.portlet-body.form
        #login_with_booking.hidden


#family-member-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "FamilyMember-modal-label",:role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
        %h4
          Hello again
      .modal-body{:style => 'max-height: 200px;overflow-y: auto;'}
        %h2
          Email belongs to the following record(s).
        %span
          %div
            .col-md-4
              Please select for whom this booking is for
            .col-md-4
              =select_tag "family member" ,'', class: "form-control"
            .col-md-4
              

      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :id => "btn_no", :type => "button"}
          %i.m-icon-swapleft      
          Back
        %a{:href => "#",:id => "btn_yes",:class => "btn btn-success"}
          Submit
          %i.fa.fa-paper-plane

:css
  .new-calendar .table-condensed{
    width: 360px !important;
    height: 360px !important;
  }
  .doctor-btn
  {
    width: 200px;
  }
  @media only screen and (max-width: 420px) {
    .new-calendar .table-condensed{
      width: 200px !important;
      height: 200px !important;
    }
  }
  .doctor-btn
  {
    width: 200px;
  }

:javascript
  $(document).ready(function(){  
    bookingsNewPage();
    $('.day').addClass('available-date')
    $('.disabled.day').removeClass('available-date')
  })

  $('#btn_no').click(function(){
    window.location='/'
  });

  $('#btn_yes').click(function(){
    $('#duplicate_email').val('true');
    $('#joint_resource').val($('#family_member').val());
    $.ajax({
      url: $("#new_patient").attr('action'),
      type: 'POST',
      data: $("#new_patient").serialize(),
      dataType: 'json',
      success: function(data) {
          if(data.status == "Error")
              jQuery.gritter.add({ title: data.status, text: data.msg });
          else
              $("#registration-info-section").html('<div align= "center" style= "height: 300px;"><center style="margin-top: 50px; font-size: 20px" class="text-success">'+data.msg+'</br> <a href="/bookings/new?wordpress_login=true" class="btn">Book another appointment</a></center></div>');
              $("#login_with_booking").hide();
              $("#registration-info-section").removeClass('hidden').show();
      },
      error: function(data){
         jQuery.gritter.add({ title: data.responseJSON.status, text: data.responseJSON.msg });
      }
    });
    $("#family-member-modal").modal('hide');
  });