%h2 Contact Lens Exam
= simple_form_for @contact_lens_exam, :url => contact_lens_exam_index_path, :method => 'post' do |f|
  %table.table.table-striped
    %tbody
      %tr
        %td
          = #f.input :name 
        %td
          = #f.input :dob, as: :date
        %td
          =#f.input :age
  %table.table.table-striped
    %tbody
      %tr
        %td
          %tr
            %td
              Keratometry:
          / Keratrometry<br/><br/>OD

        %td
          <br/>OD
        %td
          <br/>H

        %td
          = f.input :od_d_h, label: 'D', collection: @float_dropdown.sort! { |x,y| y <=> x }, input_html:  {rows: 10} 
        %td
          = f.input :od_mm_h, label: 'MM'
        %td
          = f.input :od_axis_h, label: 'Axis'
        %td
          <br/>OS
        %td
          <br/>H

        %td
          = f.input :os_d_h, label: 'D', collection: @float_dropdown.sort! { |x,y| y <=> x }, input_html:  {rows: 10} 
        %td
          = f.input :os_mm_h, label: 'MM'
        %td
          = f.input :os_axis_h, label: 'Axis'
      %tr
        %td
          <br/>
        %td
          V

        %td
          = f.input :od_d_v, label: false, collection: @float_dropdown.sort! { |x,y| y <=> x }, input_html:  {rows: 10} 
        %td
          = f.input :od_mm_v, label: false
        %td
          = f.input :od_axis_v, label: false
        %td
          <br/>
        %td
          V

        %td
          = f.input :os_d_v, label: false, collection: @float_dropdown.sort! { |x,y| y <=> x }, input_html:  {rows: 10} 
        %td
          = f.input :os_mm_v, label: false
        %td
          = f.input :os_axis_v, label: false

  = f.button :button, "Save Post".html_safe, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."}
