- if devise_error_messages!.present?
  .alert.alert-danger.alert-dismissible{:role => "alert"}
    %button.close{:type => "button", data: {:dismiss => "alert"}}
      %span{"aria-hidden" => "true"}
        &times;
      %span.sr-only
        Close
    = resource.errors.full_messages.map { |msg| content_tag(:li, msg) }.join.html_safe