= render "error"
.login
  .content
    %h3 Change your password
    %br
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      .form-group
        
        = f.hidden_field :reset_password_token
        .input-icon
          %i.fa.fa-lock
          = f.password_field :password, placeholder: "New password" , :class => "col-sm-2 control-label", class: "placeholder-no-fix form-control", autofocus: true
        %br
        .input-icon
          %i.fa.fa-lock
          = f.password_field :password_confirmation, placeholder: "Confirm password" , :class => "col-sm-2 control-label", class: "placeholder-no-fix form-control", autofocus: true
      .form-actions
        %button.btn.green-meadow.pull-right{:type => "submit"}
          Submit
          %i.m-icon-swapright.m-icon-white
    = render "devise/shared/links"