= render "error"
.login
  .content
    / BEGIN FORGOT PASSWORD FORM
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      %h3 Forget Password ?
      %p
        Enter your e-mail address below to reset your password.
      .form-group
        .input-icon
          %i.fa.fa-envelope
          = f.email_field :email, autofocus: true, label: false, class: "placeholder-no-fix form-control"
          = f.hidden_field :subdomain, value: current_organisation.try(:domain_name) 

      .form-actions
        %button.btn.green-meadow.pull-right{:type => "submit"}
          Submit
          %i.icon-arrow-right
        / END FORGOT PASSWORD FORM
