.page-container{:style => "margin-top: 0px;"}
  .page-content{:style => "background-image: url() !important;min-height: 60px !important;"}
    .row
      -if object.present?
        - object.each_with_index do |ord,index|
          .row{:style => "margin-left:20px;"}
            .col-md-6
              %span.semi-bold #{index+1}. #{ord.first}
            .col-md-6.pull-right
              %span.semi-bold #{Date.parse(ord.second).strftime("%B %d, %Y")}
          - ord.third.each do |key,value|
            -unless value.nil?
              .row{:style => "margin-left:40px;"}
                .col-md-6
                  -if ['Medication','Pohx'].include?(ord.first)
                    %span
                      = 'Disease'
                  -else
                    %span #{key}
                .col-md-6
                  - if value.is_a?(Hash)
                    - value.each do |key, value|
                      .col-md-8
                        %span #{key}
                      .col-md-2
                        %span #{value}
                      %br
    
                  - elsif value.is_a?(Array)
                    - value.each do |val|
                      - if val.is_a?(Hash)
                        - val.each do |key, value|
                          .col-md-8
                            %span #{key}
                          .col-md-2
                            %span #{value}
                          %br
                      - else
                        %span #{val}
    
                  - else
                    %span #{value}
          %br
          .row
            .col-md-9.pull-right
              .col-md-4
                -if ord.try(:fifth).present?
                  %span.badge.badge-rounded{ :class=> ord.fifth.include?('Doctor') ? 'badge-success' : 'badge-warning'}
                    Made By #{ord.try(:fifth)} : 
                -else
                  %span
                    Made By:
              .col-md-5
                %strong.pull-right #{ord.try(:fourth)}
          %hr
      -else
        .row
          .col-md-9.text-center
            %i.fa.fa-search
            %em No Changes found
