#portlet-config.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Modal title
      .modal-body
        Widget settings form goes here
      .modal-footer
        %button.btn.blue{:type => "button"} Save changes
        %button.btn.default{"data-dismiss" => "modal", :type => "button"} Close
    
.row.profile
  .col-md-12
    / BEGIN TABS
    .tabbable.tabbable-custom.tabbable-full-width
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab_1_1"}
            Overview
        %li
          %a{"data-toggle" => "tab", :href => "#tab_1_2"}
            Reports
            %span.badge.badge-success
              =@patient.total_report_count
        %li
          %a{"data-toggle" => "tab", :href => "#tab_1_4"}
            Account
        
        %li
          %a{"data-toggle" => "tab", :href => "#attached_docs_tab_1_7", id: "attached_docs"}
            Attached Docs
            %span.badge.badge-success#doc_count
              /*--Below badge calculation is for all documents for Particular Patient--*/
              - doc_count = 0 
              - @patient.try(:examinations).each do |pat_exams|
                - doc_count = doc_count + pat_exams.documents.count
              - doc_count = doc_count + @patient.documents.count
              = doc_count

      .tab-content
        #tab_1_1.tab-pane.active
          .row
            .col-md-3
              %ul.list-unstyled.profile-nav
                %li
                  %img.img-responsive{:alt => "", :src => @patient.avatar.present? ? @patient.avatar.url : @patient.gender == 'male' ? "/images/male.jpg" : "/images/female-icon1.jpg"}/
                -if current_doctor.role.include?("staff") || current_doctor.role.include?("administrator") || current_doctor.role.include?("super_administrator")
                  %li
                    %ul.dropdown.pull-right
                      %li#actionsliststyle.btn-group
                        %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                          Actions
                          %i.fa.fa-angle-down
                        %ul.dropdown-menu.pull-right
                          %li
                            - today_order = Order.where("Date(created_at) = ? and joint_resource_id = ?", Date.today,@patient.joint_resource.id)
                            -if today_order.present?
                              %a{ :data => { "no-turbolink"=> "true" },:href => edit_order_path(today_order.first)}
                                %i.fa.fa-shopping-cart
                                Open Order
                            -else
                              - pending_appointment = @appointments.where("Date(start_time) = ? and status = 0 and joint_resource_id = ?",Date.today,@patient.joint_resource.id)
                              -if pending_appointment.present?
                                %a{"data-toggle"=> "modal", :href => "#order-modal"}
                                  %i.fa.fa-shopping-cart
                                  Create Order
                              -else
                                %a{ :data => { "no-turbolink"=> "true"},:href => new_order_path(:id => @patient.joint_resource.id ,:patient_profile => 'true')}
                                  %i.fa.fa-shopping-cart
                                  Create Order
                %li
                  .col-md-12
                    .portlet.sale-summary
                      .portlet-title
                        
                      .portlet-body
                        %ul.list-unstyled
                          %li
                            %span.sale-info
                              Visits
                              %i.fa.fa-img-up
                            %span.sale-num
                              = @patient.sign_in_count
                          %li
                            %span.sale-info
                              Views
                              %i.fa.fa-img-down
                            %span.sale-num
                              = @patient.views_count
                          %li
                            %span.sale-info
                              Rewards
                            %span.sale-num
                              $
                              = @patient.reward_point.to_i
            .col-md-9
              
              .row.section_height_set
                .col-md-8.profile-info
                  %h1
                    = @patient.name
                    -if class_name(@patient) == "FamilyMember"
                      %br
                      %small
                        Family member of
                        =@patient.joint_resource.patient.name
                  .col-md-12
                    %p.about_section
                      = @patient.try(:about)
                    %p
                      %a{:href => "#{@patient.profile_url}",:target => '_blank'}
                        = @patient.try(:profile_url)
                    %ul.list-inline
                      %li
                        -if @patient.try(:joint_resource).try(:home_address).present?
                          - address = @patient.joint_resource.home_address
                          %i.fa.fa-map-marker
                          -if address.address1.present?
                            - addr = address.address1
                          -if address.address2.present?
                            - if addr.present?
                              - addr = addr + ' Apt.# ' + address.address2
                            - else
                              - addr = ' Apt.# ' + address.address2
                          -if address.city.present?
                            -if addr.present?
                              - addr = addr + ', ' + address.city
                            -else
                              - addr = address.city
                          -if address.country_id.present? && address.state_id.present? 
                            -if addr.present?
                              - addr = addr + "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name).nil? ? "" : ", #{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"}"
                            -else
                              - addr = "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"
                          -if address.postal_code.present?
                            -if addr.present?
                              - addr = addr + ', ' + address.postal_code
                            -else
                              - addr = address.postal_code
                          = addr
                      - if @patient.birthday.present?  
                        %li
                          %i.fa.fa-calendar
                          = "#{@patient.birthday} , AGE: #{@patient.try(:age)}"
                      - if @patient.occupation.present?  
                        %li
                          %i.fa.fa-briefcase
                          = "#{@patient.occupation}"
                      - if @patient.joint_resource.intrests.present?  
                        %li
                          %i.fa.fa-star
                          = "#{@patient.joint_resource.intrests}"
                      - if   @patient.email.present? 
                        %li{style: "margin-top: 7px"} 
                          %i.fa.fa-envelope
                          = "#{@patient.email}"
                      - if @patient.phone.present?  
                        %li
                          %i.fa.fa-comment
                          = "#{number_to_phone(@patient.phone.to_s[2..-1].to_i, area_code: true)}"
                / end col-md-8
                .col-md-4
              .tabbable.tabbable-custom.tabbable-custom-profile
                %ul.nav.nav-tabs
                  %li.active
                    %a{"data-toggle" => "tab", :href => "#tab_1_22"}
                      Exams
                      %span.badge.badge-success
                        =@exams.count
                  %li
                    %a{"data-toggle" => "tab", :href => "#tab_1_33"}
                      Orders
                      %span.badge.badge-success
                        =@orders.count
                  %li
                    %a{"data-toggle" => "tab", :href => "#tab_1_11"}
                      Appointments
                      %span.badge.badge-success
                        =@appointments.count
                 
                .tab-content
                  #tab_1_11.tab-pane
                    .scroller{"data-always-visible" => "1", "data-height" => "290px", "data-rail-visible1" => "1"}
                      .portlet-body
                        %table.table.table-striped.table-bordered.table-advance.table-hover
                          %thead
                            %tr
                              %th
                                %i.fa.fa-briefcase
                                Doctor
                              %th.hidden-xs
                                %i.fa.fa-question
                                Reason Of Visit
                              %th
                                %i.fa.fa-clock-o
                                Time
                              %th
                                %i.fa.fa-clock-o
                                Date
                              %th
                                %i.fa.fa-clock-o
                                Status
                              %th
                                %i.fa.fa-bookmark
                                Action
                          %tbody
                            - @appointments.each do |booking|
                              %tr
                                %td
                                  = booking.doctor.try(:name)
                                %td.hidden-xs.proc_width 
                                  = booking.try(:exam_procedures).map(&:name).present? ? booking.exam_procedures.map(&:name).join(", ").titleize : "N/A"
                                %td
                                  = booking.start_time.try(:strftime, "%I:%M %p")
                                %td
                                  = booking.start_time.try(:strftime, '%m-%d-%y')
                                %td
                                  - if booking.status == "no_show" && booking.examination.present? && booking.examination.status == "finalized"
                                    Finalized
                                  -elsif booking.deleted_at.nil?
                                    = booking.status.titleize
                                  = "Canceled" unless booking.deleted_at.nil?
                                %td
                                  -if booking.deleted_at.nil?
                                    %ul.dropdown
                                      %li#actionsliststyle.btn-group
                                        %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                                          Actions
                                          %i.fa.fa-angle-down
                                        %ul.dropdown-menu.pull-right   
                                          - if booking.try(:examination).present?
                                            %li
                                              %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(booking.examination)+"?changecall=pending_exam" }
                                                %i.fa.fa-edit
                                                Open Exam
                                            -if booking.try(:joint_resource).try(:orders).present? && booking.joint_resource.orders.last.status.in?(['pending', 'unforder','ordered']) && (booking.joint_resource.try(:order).try(:contact_lens_orders).present? or booking.try(:joint_resource).try(:order).try(:eye_glass_orders).present?)
                                              %li
                                                %a{ :data => { "no-turbolink"=> "true" },:href => edit_order_path(booking.joint_resource.orders.last)+"?changecall=pending_order" ,:style => "-webkit-user-select: text;"}
                                                  %i.fa.fa-shopping-cart
                                                  Open Order
                                            - else
                                              %li
                                                - today_order = Order.where("Date(created_at) = ? and joint_resource_id = ?", Date.today,booking.joint_resource.id)
                                                -if today_order.present?
                                                  %a{ :data => { "no-turbolink"=> "true" },:href => edit_order_path(today_order.first)}
                                                    %i.fa.fa-shopping-cart
                                                    Open Order
                                          - else
                                            - ex_pro_id = current_organisation.exam_procedures.where(name: "Follow Up").first.id
                                            - follow_up_procedure = booking.exam_procedures.where(id: ex_pro_id).present?
                                            - old_exam =@patient.try(:joint_resource).try(:examinations).last
                                            - if follow_up_procedure && old_exam.present?
                                              %li
                                                %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(old_exam)+"?changecall=pending_exam" }
                                                  %i.fa.fa-edit
                                                  Work on Exam from #{old_exam.updated_at.to_date}
                                            -else
                                              %li
                                                %a{ :data => { "no-turbolink"=> "true"},:href=> new_examination_path(:id => booking.joint_resource.id ,:changecall => "pending", :booking_id => booking.id),:style => "-webkit-user-select: text;"}
                                                  %i.fa.fa-edit 
                                                  Create Exam
                                          %li
                                            %a{ :href => '#' ,:class => 'followups', :data => { :id => booking.joint_resource.id ,:name => booking.joint_resource.patient.name}}
                                              %i.fa.fa-thumbs-o-up
                                              Follow up
                                              %span.badge.badge-success
                                                = booking.try(:joint_resource).try(:follow_ups).count
                                          %li
                                            %a{ :data => { "no-turbolink"=> "true", method: :delete  , confirm: "Are you sure?" },:href => booking_path(id: booking.id,notification: true),:style => "-webkit-user-select: text;"}
                                              %i.fa.fa-remove
                                              Cancel
                        - unless @appointments.present?
                          .text-center{:colspan => 3}
                            %i.fa.fa-search
                            %em No appointments found
                    #followup-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "followup-modal-label",:role => "dialog", :tabindex => "-1"}
                      .modal-dialog.modal-lg
                        .modal-content
                          .modal-header
                            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
                            %h4#followup-modal-label.modal-title
                          .modal-body
                          .modal-footer
                            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close
                    #modalfollowupremove.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalfollowupremoveLabel", :role => "dialog", :tabindex => "-1"}
                      .modal-dialog
                        .modal-content
                          .modal-header
                            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
                            %h4#modalfollowupremoveLabel.modal-title Confirmation
                          .modal-body.followup_remove_height 
                            %span
                              Are You sure you want to remove this log ?
                          .modal-footer.bg-warning
                            .row
                              .col-md-12.pull-right
                                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} No
                                %a{"data-method" => "delete", :href => "#",:id => "follow_up_remove_id",:class => "btn btn-success"} Yes
                  / tab-pane
                  #tab_1_22.tab-pane.active
                    .scroller{"data-always-visible" => "1", "data-height" => "290px", "data-rail-visible1" => "1"}
                      .portlet-body
                        %table.table.table-striped.table-bordered.table-advance.table-hover
                          %thead
                            %tr
                              %th
                                %i.fa.fa-briefcase
                                Doctor
                              %th.hidden-xs
                                %i.fa.fa-question
                                Reason Of Visit
                              %th
                                %i.fa.fa-clock-o
                                Exam Date
                              %th
                                %i.fa.fa-clock-o
                                Status
                              %th
                                %i.fa.fa-bookmark
                                Action
                          %tbody
                            - @exams.sort_by(&:exam_date).reverse.each do |exam|
                              %tr
                                %td
                                  = exam.doctor.name
                                %td.hidden-xs.proc_width
                                  = exam.try(:procedure_adjustments).map(&:name).present? ? exam.procedure_adjustments.map(&:name).join(", ").titleize : "N/A"
                                %td
                                  = exam.exam_date.strftime("%m-%d-%y")
                                %td
                                  %a.btn.default.btn-xs.blue-stripe{:href => "#"}
                                    -if exam.booking == nil && exam.status == "removed"
                                      Finalized
                                    -else
                                      = exam.status
                                      
                                %td
                                  %ul.dropdown
                                    %li#actionsliststyle.btn-group
                                      %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                                        Actions
                                        %i.fa.fa-angle-down
                                      %ul.dropdown-menu.pull-right
                                        %li
                                          %a{ :data => { "no-turbolink"=> "true" }, :href => edit_examination_path(exam)}
                                            %i.fa.fa-edit
                                            Open Exam
                            
                            - @follow_ups_appointments.each do |booking|   
                              %tr
                                %td
                                  = booking.doctor.try(:name)
                                %td.hidden-xs.proc_width 
                                  = booking.try(:exam_procedures).map(&:name).present? ? booking.exam_procedures.map(&:name).join(", ").titleize : "N/A"
                                %td
                                  = booking.start_time.try(:strftime, '%m-%d-%y')
                                %td
                                  - if booking.status == "no_show" && booking.examination.present? && booking.examination.status == "finalized"
                                    Finalized
                                  -elsif booking.deleted_at.nil?
                                    = booking.status.titleize
                                  = "Canceled" unless booking.deleted_at.nil?
                                %td
                                  -if booking.deleted_at.nil?
                                    %ul.dropdown
                                      %li#actionsliststyle.btn-group
                                        %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                                          Actions
                                          %i.fa.fa-angle-down
                                        %ul.dropdown-menu.pull-right   
                                          - if booking.try(:examination).present?
                                            %li
                                              %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(booking.examination)+"?changecall=pending_exam" }
                                                %i.fa.fa-edit
                                                Open Exam
                                            -if booking.try(:joint_resource).try(:orders).present? && booking.joint_resource.orders.last.status.in?(['pending', 'unforder','ordered']) && (booking.joint_resource.try(:order).try(:contact_lens_orders).present? or booking.try(:joint_resource).try(:order).try(:eye_glass_orders).present?)
                                              %li
                                                %a{ :data => { "no-turbolink"=> "true" },:href => edit_order_path(booking.joint_resource.orders.last)+"?changecall=pending_order" ,:style => "-webkit-user-select: text;"}
                                                  %i.fa.fa-shopping-cart
                                                  Open Order
                                            - else
                                              %li
                                                - today_order = Order.where("Date(created_at) = ? and joint_resource_id = ?", Date.today,booking.joint_resource.id)
                                                -if today_order.present?
                                                  %a{ :data => { "no-turbolink"=> "true" },:href => edit_order_path(today_order.first)}
                                                    %i.fa.fa-shopping-cart
                                                    Open Order
                                          - else
                                            - ex_pro_id = current_organisation.exam_procedures.where(name: "Follow Up").first.id
                                            - follow_up_procedure = booking.exam_procedures.where(id: ex_pro_id).present?
                                            - old_exam =@patient.try(:joint_resource).try(:examinations).last
                                            - if follow_up_procedure && old_exam.present?
                                              %li
                                                %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(old_exam)+"?changecall=pending_exam" }
                                                  %i.fa.fa-edit
                                                  Work on Exam from #{old_exam.updated_at.to_date}
                                            -else
                                              %li
                                                %a{ :data => { "no-turbolink"=> "true"},:href=> new_examination_path(:id => booking.joint_resource.id ,:changecall => "pending", :booking_id => booking.id),:style => "-webkit-user-select: text;"}
                                                  %i.fa.fa-edit 
                                                  Create Exam
                                          %li
                                            %a{ :href => '#' ,:class => 'followups', :data => { :id => booking.joint_resource.id ,:name => booking.joint_resource.patient.name}}
                                              %i.fa.fa-thumbs-o-up
                                              Follow up
                                              %span.badge.badge-success
                                                = booking.try(:joint_resource).try(:follow_ups).count
                                          %li
                                            %a{ :data => { "no-turbolink"=> "true", method: :delete  , confirm: "Are you sure?" },:href => booking_path(id: booking.id,notification: true),:style => "-webkit-user-select: text;"}
                                              %i.fa.fa-remove
                                              Cancel
                        - unless @exams.present?
                          .text-center{:colspan => 3}
                            %i.fa.fa-search
                            %em No exams found
                  / tab-pane
                  #tab_1_33.tab-pane
                    #tab_1_33_1.tab-pane.active
                      .scroller{"data-always-visible" => "1", "data-height" => "290px", "data-rail-visible1" => "1"}
                        .portlet-body
                          .row
                            .col-md-12
                              = search_form_for @search, url: doctor_patient_profile_path(patient_id: @patient.id),:remote => true do |f|
                                .form-group
                                  .col-md-3
                                    = f.search_field :id_eq, class: "form-control",placeholder: 'Order ID'
                                .form-group
                                  .col-md-3
                                    = f.search_field :doctor_full_name_cont, class: "form-control",placeholder: 'Doctor Name'
                                .form-group
                                  .col-md-3
                                    = f.search_field :order_date_eq, class: "form-control date_picker",placeholder: 'MM/DD/YYYY'
                                .form-group
                                  .col-md-3
                                    = hidden_field_tag :patient_id, @patient.id
                                    =f.submit 'search', class: "btn btn-blue"
                          .row
                            .col-md-12
                              .clearfix
                          .row
                            .col-md-12#orders_tab
                              = render 'doctor/dashboards/dashboard_partial/orders_listing.html.haml'
                          - unless @orders.present?
                            .text-center{:colspan => 3}
                              %i.fa.fa-search
                              %em No orders found     
                  #tab_1_44.tab-pane
                    #tab_1_44_1.tab-pane.active
                      .table-responsive
                        %table#recentorders.table.table-hover.table-condensed.table-bordered     
        
        #tab_1_2.tab-pane.reports
          Loading...
        #tab_1_4.tab-pane.account_and_family
          Loading...
        #attached_docs_tab_1_7.tab-pane.attached_doc
          .portlet.box
            .portlet-title.hex_424242
              .caption
                %i.fa.fa-plus-square>
                Upload a file
            .portlet-body
              = simple_form_for :document, :remote => true, url:  upload_file_family_member_path(@patient.id) do |f|
                .row
                  .col-md-5
                    = f.file_field "attached_file2", name: "patient[attached_file]"
                  .col-md-2
                    = link_to "<button id=\"exam_form_img_upload\" class=\"btn btn-success btn-xm\" type=\"button\">Upload</button>".html_safe, "#", class: "attached-doc-btn2 btn-left", :"data-value"=> "attached_docs", :"data-href"=> upload_file_family_member_path(@patient.id), :"data-page"=> "attached_docs_page",:"data-no-turbolink"=> "true"
                  #progress-div
                    #progress-bar
                  #targetLayer

          .portlet.box
            .portlet-title.hex_424242
              .caption
                %i.fa.fa-plus-square>
                Uploaded Documents
            .portlet-body         
              .row
                -if doc_count == 0
                  .row#image_div
                    .no_attach.text-center{:colspan => 3}
                      %i.fa.fa-search
                      %em No attached documents found 
                -else
                  .row#image_div
                    -if @patient.documents.present?
                      - @patient.documents.each do |doc|
                        -if (doc.docs_content_type =~ %r(image) || doc.docs_content_type == 'application/pdf')
                          .col-md-2 
                            = link_to "<img src= #{doc.docs.url(:thumb)} >".html_safe, download_file_family_members_path("doc_id" => doc.id),:"data-no-turbolink"=> "true"
                            %br
                            = doc.docs_file_name.truncate(20) 
                            = link_to 'x', delete_file_family_members_path("doc_id" => doc.id), :class => 'image_delete',:remote => true,:"data-no-turbolink"=> "true", onclick: "remove_doc(this);"
                        -else
                          .col-md-2
                            = link_to "<img src=\"/images/word_icon1.png\">".html_safe, download_file_family_members_path("doc_id" => doc.id),:"data-no-turbolink"=> "true"
                            %br
                            = doc.docs_file_name.truncate(20)
                            = link_to 'x', delete_file_family_members_path("doc_id" => doc.id), :class => 'image_delete',:remote => true,:"data-no-turbolink"=> "true",onclick: "remove_doc(this);"
                  .row
                    - @patient.examinations.each do |sds|
                      -sds.documents.each do |doc|
                        -if (doc.docs_content_type =~ %r(image) || doc.docs_content_type == 'application/pdf')
                          .col-md-2 
                            = link_to "<img src= #{doc.docs.url(:thumb)} >".html_safe, download_file_examinations_path("doc_id" => doc.id),:"data-no-turbolink"=> "true"
                            %br
                            = doc.docs_file_name.truncate(20)
                            = link_to "View Exam".html_safe,edit_examination_path(doc.examination)
                        -else
                          .col-md-2
                            = link_to "<img src=\"/images/word_icon1.png\">".html_safe, download_file_examinations_path("doc_id" => doc.id),:"data-no-turbolink"=> "true"
                            %br
                            = doc.docs_file_name.truncate(20)
                            = link_to "View Exam".html_safe,edit_examination_path(doc.examination)
                          

         
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id=>"family_member_edit_modal"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#myModalLabel.modal-title Member Detail
      #family_member_edit_form.modal-body
#subscription_audits.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "subscriptionAuditsLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
        %h4#subscriptionAuditsLabel.modal-title
          %i.fa.fa-history
          %span Subscription Audits
      .modal-body.order_audit_modal 
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close
#order-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "OrderLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title
          %span Today's Appointment Order
      .modal-body.order_audit_modal 
        Please create order via your dashboard.
      .modal-footer
        %a.btn.btn-primary{:href => root_url} OK
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close
/ END PAGE CONTENT
:css
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }   
    .logo-default
    {
    max-width: 60px;
    }
    .menu-toggler.responsive-toggler
    {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    }
    .page-header.navbar .top-menu {
    display: block;
    clear: none;
    }
    .nav.nav-tabs {
    overflow-x: scroll;
    overflow-y:hidden;
    display: flex;
    white-space: nowrap;
    }
    ::-webkit-scrollbar{
    height:2px;
    }
    .dropdown {
    padding-left: 2px;
    }
  }

  #progress-bar {
    background-color: #12CC1A;
    height:20px;
    color: #FFFFFF;
    width:0%;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    transition: width .3s;
  }
  #progress-div {
    border:#0FA015 1px solid;
    border-radius:4px;
    text-align:center;
    margin-top: 5%;
    width: 50%;
    margin-left: 1%;
  }
  #targetLayer{
    width:100%;
    text-align:center;
  }


:javascript
  $("#q_order_date_eq").datepicker({
    format: "mm/dd/yyyy"
  });

  $(document).on("click", ".payment-modal-link", function(){
    var order_id = $(this).attr("data-value");
    $("#order_transaction_order_id").val(order_id);
    $("#payment-modal").modal();
  })

  reports_tab = '/family_members/reports?&patient_id=#{@patient.id}';
  $('.reports').load(reports_tab, function( response, status, xhr ) {
    $('.spinner').hide();
  });

  account_tab = '/dashboards/account_section?patient_id=#{@patient.id}';
  $('.account_and_family').load(account_tab, function( response, status, xhr ) {
    $('.spinner').hide();
  });

  

  

  $(function() {
    $(".pagination").on("click", 'a',function() {
      $(".pagination").html("Page is loading...");
      $.getScript(this.href);
      return false;
    });
  });

  // To save the newly added follow up log
  $(document).on('click','.save_follow_up',function(){
    var myform = $('#new_follow_up').serialize();
    var patient_id = $(this).data('id');
    var patient_name  = $(this).data('name');
    $.ajax({ 
           type: "POST",
           url: "/follow_ups",
           data: myform,
           dataType: "JSON"
           }).success(function(data){
             var element;
             $('.followups').each(function(){ if($(this).data('id')== patient_id ){ element=$(this) } });
             if( typeof element != "undefined" ) { element.trigger('click');}
          }).error(function(data){
             $('#error_explanation').html(data.responseJSON.error);
             $('#error_explanation').show();
             return false;
          });
  });
   // To list patient follow ups in modal box
  $(document).on('click','.followups',function(){
    var jr_id = $(this).data('id');
    var patient_name  = $(this).data('name');
    $.ajax({ 
           type: "GET",
           url: "/follow_ups",
           data: 'id='+jr_id,
           dataType: "JSON",
           async: false
           }).success(function(data){
               $('#followup-modal').find('.modal-header').html("<h3><i class='fa fa-user'></i>&nbsp;&nbsp;"+patient_name+"&nbsp;Follow up Log</h3>");
               $('#followup-modal').find('.modal-body').html(data.html);
               $('#followup-modal').find('.modal-footer').html("<a class='btn btn-default' data-dismiss='modal'>Close</a> <a href=# data-id="+jr_id+" data-name="+patient_name+" class='add_new_follow_up btn btn-primary'>Add New</a>");
               $('#followup-modal').modal('show');
          });
  });


  $(document).on('click', ".attached-doc-btn2", function(event){
    event.preventDefault();
    var path = $(this).attr('data-href');
    var form_data = new FormData();
    var file_data = $("#document_attached_file2").prop("files")[0];
    form_data.append("attached_file", file_data);
    form_data.append("patient","True");
    var img = $('<img >');
    $.ajax({
      url: path,
      type: "patch",
      data: form_data,
      contentType: false,
      processData: false, 
      beforeSend: function() {
        $("#progress-bar").width('0%');
      },
      success: function(data){
        if (data.status === "Success"){
          function image_src(){
           if (data.img_url.includes(".html") || data.img_url.includes(".htm")){
            return("/images/word_icon1.png");
           }else{
            return(data.img_url);
          }
          }
          jQuery.gritter.add({ title: data.status, text: data.msg });


          var abc = $('<div class="col-md-2">' +
          '<a data-no-turbolink="true" href="/family_members/download_file?doc_id='+ data.doc_id +'">' +
          '<img src="'+ image_src()+'">' +
          '</a><br>'+data.doc_name +'<a class="image_delete" data-no-turbolink="true" onclick="remove_doc(this);" data-remote="true" href="/family_members/delete_file?doc_id='+data.doc_id+'">x</a></div>');
          
          abc.appendTo('#image_div');
          $("#doc_count").text(parseInt($("#doc_count").text()) + 1);
         
        }else{
          jQuery.gritter.add({ title: data.status, text: data.msg });
        }
        $(".no_attach").hide();
        $("#progress-bar").width('0%');
        $("#document_attached_file2").val('');


      },
      xhr: function(){
          // get the native XmlHttpRequest object
          var xhr = $.ajaxSettings.xhr() ;
          // set the onprogress event handler
          xhr.upload.onprogress = function (event){ 
            $("#progress-bar").width(event.loaded/event.total*100 + '%');
            $("#progress-bar").html('<div id="progress-status">' + event.loaded/event.total*100 +' %</div>')
          }
          // return the customized object
          return xhr ;
        }
      });
    });
  function remove_doc(el){
    $(el).parent().remove();
    $("#doc_count").text(parseInt($("#doc_count").text()) - 1);
  }
  // To add new follow up log through modal box
  $(document).on('click','.add_new_follow_up',function(){
    var patient_id = $(this).data('id');
    var patient_name  = $(this).data('name');
    $.ajax({ 
           type: "GET",
           url: "/follow_ups/new",
           data: 'id='+patient_id,
           dataType: "JSON",
           async: true
           }).success(function(data){
              if(data.status == "Error"){
                $('#followup-modal').modal('hide');
                jQuery.gritter.add({ title: data.status, text: data.msg });
              }
              else{ 
                $('#followup-modal').find('.modal-header').html("<h3><i class='fa fa-user'></i>&nbsp;&nbsp;"+patient_name+"&nbsp;Follow up Log</h3>");
                $('#followup-modal').find('.modal-body').html(data.html);
                $('#followup-modal').find('.modal-footer').html("<a class='btn btn-default' data-dismiss='modal'>Close</a> <a href=# data-id="+patient_id+" data-name="+patient_name+" class='save_follow_up btn btn-primary'>Save</a>");
                $('#followup-modal').modal('show');
              }
          });
  });

