$modal = $('#myexammodal');
$modalBody = $('#myexammodal .modal-body');
$modalHeading = $('#myexammodal .modal-heading');
$modalHeading.html("Previous Updates");
$modalBody.html('<%= escape_javascript(render partial: "audits",locals: {:object => @examination.prev_audits.map{|obj| obj.as_json}}) %>');
$modal.modal();