
/- set_meta_tags title: 'Member Login', description: 'Member login page.', keywords: 'Site, Login, Members'
- set_meta_tags title: @seo.try(:title), description: @seo.try(:description), keywords: @seo.try(:keywords)

#portlet-config.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Modal title
      .modal-body
        Widget settings form goes here
      .modal-footer
        %button.btn.blue{:type => "button"} Save changes
        %button.btn.default{"data-dismiss" => "modal", :type => "button"} Close
.row.flash_message
.row
  .col-md-12
    %ul.page-breadcrumb.breadcrumb
      %li
        %i.fa.fa-home
        %a{:href => "/"} Home
        %i.fa.fa-angle-right
      %li
        %a{:href => "#"} Doctor Profile
        
.row.profile
  .col-md-12
    .tabbable.tabbable-custom.tabbable-full-width
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab_1_1"}
            Overview
        %li
          %a{"data-toggle" => "tab", :href => "#tab_1_3"}
            Account
        %li
          %a{"data-toggle" => "tab", :href => "#tab_1_4"}
            Journal
        %li
          %a{"data-toggle" => "tab", :href => "#tab_1_5"}
            Contact Lens
            %span.badge.badge-danger.contact_lens_badge{style: "margin-top: -20px;"}
              -if current_doctor.store.present?
                = current_doctor.store.contact_lens_distribution_orders.where(soft_delete: false).count
              -else
                0   
            
            
        
      .tab-content
        #tab_1_1.tab-pane.active
          =render '/doctor/dashboards/dashboard_partial/overview'
        #tab_1_3.tab-pane
          =render '/doctor/dashboards/dashboard_partial/account'
        #tab_1_4.tab-pane
          =render '/doctor/dashboards/dashboard_partial/exams'
        #tab_1_5.tab-pane
          =render '/doctor/dashboards/dashboard_partial/contact_lens'  
:javascript
  $(document).ready(function() {
    var current_doctor = "#{current_doctor.id}";
    console.log("current_doctor: "+current_doctor)
    var myFirebaseRef = new Firebase("https://#{ENV['FIREBASE_APP_URL']}");  //firebase app url reference

    Metronic.init();
    ComponentsPickers.init();

    $(".date-picker").datepicker({
      format: "mm/dd/yyyy"
    });
    
    //firebase reference for doctor_dashboard with current doctor ID as key
    dashboardsIndexPage(myFirebaseRef.child('manage_patients').ref(),current_doctor,myFirebaseRef.child('doctor_dashboard').ref())

    var formatted_date = "#{Date.today.strftime('%m/%d/%Y')}";
    managePatientsIndexPage(myFirebaseRef.child('manage_patients').ref(),formatted_date,myFirebaseRef.child('doctor_dashboard').ref());    

    $('.exam_audits_popup').bind('ajax:complete', function () {
      $('.spinner').hide();
    });

    $(function() {
      $(".pagination").on("click", 'a',function() {
      $(".pagination").html("Page is loading...");
      $.getScript(this.href);
      return false;
      });
    });

    var order_email = [];
    var order_accounts = [];
    $(document).on( "railsAutocomplete.select", '.order-contact-autocomplete', function(event, respose_data){
      $(".clear_input").val("");
      var exam_id = $(".order-contact-autocomplete").attr('id');
      var email = respose_data.item.email;
      var acount_number = respose_data.item.contact_acount
      $.ajax({
        type: "get",
        dataType: 'script',
        url:  "/contact_lens_distribution_orders/order_contact",
        data: {id: respose_data.item.id},
        success: function(response) {
          order_email.push(email)
          order_accounts.push(acount_number)
          $('#contact_emails').val(order_email);
          $('#contact_acounts').val(order_accounts);
        }
      });
    });


    $(document).on('click','.cross',function() {
      var email = $(this).next().attr('name');
      var acount = $(this).next().next().attr('name');

      order_email.splice(order_email.indexOf(email), 1);
      order_accounts.splice(order_accounts.indexOf(acount), 1);

      $('#contact_emails').val(order_email);
      $('#contact_acounts').val(order_accounts);
      
      $(this).parent().remove();
    });

  });

:css
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333333 !important;
    border: 1px solid transparent;
  }
