<% if params[:search_form].include?('upcoming') %>
  $('#upcomingapoinments').html("<%=j render 'doctor/dashboards/dashboard_partial/upcoming_appointments' %>")
<% elsif params[:search_form].include?('todays') %>
  $('#todayappointments').html("<%= j render :partial => 'doctor/dashboards/dashboard_partial/todayappointments_table' %>")
<% end %>
<% if params[:upcoming_appointments_page].present? %>
  $('#upcomingapoinments').html("<%=j render 'doctor/dashboards/dashboard_partial/upcoming_appointments' %>")
<% elsif params[:todays_appointments_page].present? %>
  $('#todayappointments').html("<%= j render :partial => 'doctor/dashboards/dashboard_partial/todayappointments_table' %>")
<% end %>
$('.dropdown-toggle').dropdown();