$modal = $('#mymodal');
$modalBody = $('#mymodal .modal-body');
$modalHeading = $('#mymodal .modal-heading');
$modalHeading.html("Previous Updates");
$modalBody.html('<%= escape_javascript(render partial: "audits",locals: {:object => @order.prev_audits.map{|obj| obj.as_json}}) %>');
$modal.modal();