.container
  / BEGIN PAGE HEADER
  .row
    .col-md-12
      / BEGIN PAGE TITLE &amp; BREADCRUMB
      %h3.page-title
        
      %ul.page-breadcrumb.breadcrumb
        %li
          %i.fa.fa-home
          %a{:href => '/'} Home
          %i.fa.fa-angle-right
        %li
          %a{:href => "#"} Patient Log
      / END PAGE TITLE &amp; BREADCRUMB
  / END PAGE HEADER
  .row
    .col-md-12
      .portlet
        .portlet-body
          %table.table.table-striped.table-bordered.table-advance.table-hover
            %thead
              %tr
                = search_form_for @patients_search, url: doctor_patient_logs_path,:remote => true do |f|
                  %td
                    = f.search_field :patient_first_name_or_patient_last_name_or_patient_full_name_or_family_member_first_name_or_family_member_last_name_or_family_member_family_full_name_cont, class: "form-control",placeholder: 'Patient Name'
                  %td
                    = f.search_field :patient_birthday_or_family_member_birthday_eq, class: "form-control date-picker",placeholder: 'Birthday '
                  %td
                    = f.search_field :patient_email_cont, class: "form-control",placeholder: 'Patient Email'
                  %td
                    = f.search_field :patient_phone_or_family_member_phone_cont, class: "form-control",placeholder: 'Phone number'
                  %td
                    = f.search_field :patient_vision_insurance_name_or_family_member_vision_insurance_name_cont_any, class: "form-control",placeholder: 'Vision Insurance'
                  %td
                    = f.search_field :patient_updated_at_or_family_member_updated_at_gteq, class: "form-control date-picker",placeholder: 'from'
                  %td
                    = f.search_field :patient_updated_at_or_family_member_updated_at_lteq,class: "form-control date-picker",placeholder: 'To'
                    = hidden_field_tag :search_form, 'patient_log'
                  %td
                    =f.submit 'search', class: "btn btn-blue"
  .row
    .col-lg-12
      .portlet.box.green-haze
        .portlet-title
          .caption
            %i.fa.fa-edit
            Patients
            %span.semi-bold Log
        .portlet-body
          .row-fluid
            .span12
              .grid.simple
                .grid-body
                  .row
                    .col-md-12
                      .btn-group.tabletools-dropdown-on-portlet
                        .col-md-6
                          #ShowToday{:style=> 'position: relative;width: 10%;'}
                        .col-md-6
                          #DefaultView{:style=>'position: relative;margin-right: 100px;width: 10%;'}
                  .table-responsive
                    #example1
                      = render 'doctor/dashboards/patient_log_partial/patients_listing.html.haml'
                    #exam-order-booking-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exam-order-booking-modal-label","data-backdrop" => "static", "data-keyboard"=>"false", :role => "dialog", :tabindex => "-1"}
                      .modal-dialog
                        .modal-content
                          .modal-header
                            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                            %h4.modal-title#user-name
                          - @booking = Booking.new
                          = simple_form_for @booking,:url => order_and_exam_bookings_path,:remote => true, :method => 'post' do |f|
                            .modal-body
                              .row
                                .col-md-12
                                  .col-md-6
                                    %label Start Time
                                    %input.form-control.required{:placeholder => "Select Time", :type => "text", :name=>"booking[start_time]", :id=>"booking_start_time", readonly: true,value: DateTime.now.strftime('%m/%d/%Y %I:%M %p')}

                                  .col-md-6
                                    = f.input :joint_resource_id, as: :hidden
                                    = hidden_field_tag 'only_exam',false
                                    %label Select Exam Procedures
                                    = f.association :exam_procedures,collection: current_organisation.exam_procedures.all.order(:position),:value_method => :id,input_html:{:multiple => true,:class => "multi-select-exams",:style => 'width: 100%; overflow-x: hidden;'}, label: false
                              .row
                                .col-md-12
                                  .col-md-6
                                    %h3.event-form-title Store
                                    #external-events
                                      = f.collection_select(:store_id, @resources, :id, :description,{},{class: "form-control store_select", style: "margin-bottom: 10px", "data-target"=> "#store_doctors_option", "data-dont_need_store_list"=> "true"})
                                    #store_doctors_option
                                      - if @resource.try(:doctors).present?
                                        %h3.event-form-title Select Doctor
                                        #external-events
                                          = f.collection_select(:doctor_id, @resource.doctors.where("role @> ?", '{"doctor"}'), :id, :name,{},{class: "form-control store_select", style: "margin-bottom: 10px", "data-target"=> "#store_doctors_option", "data-dont_need_store_list"=> "true"})
                                  .col-md-6
                                    = f.input :comment, as: :text
                              .row
                                .col-md-12
                                  .col-md-6
                                    %h3.event-form-title Insurance
                                    #external-events
                                      - @insurances = current_organisation.vision_insurances.flatten
                                      = select_tag 'vision_insurance_id', options_for_select(@insurances.collect{ |u| [u.name, u.id] }), class: "form-control vision_insurance_select"
                                    
                            .modal-footer
                              = f.button :submit,value:"Create Exam",class: "btn btn-primary pull-right booking_js_update"
                              
                    %div#mymodal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "mymodalLabel", :role => "dialog", :tabindex => "-1"}
                      .modal-dialog
                        .modal-content
                          .modal-header
                            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
                            %h4#mymodalLabel.modal-title Patient Details
                          .modal-body{:style => 'max-height: 420px;overflow-y: auto;'}
                          .modal-footer
                            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close
                    #followup-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "followup-modal-label", :role => "dialog", :tabindex => "-1"}
                      .modal-dialog.modal-lg
                        .modal-content
                          .modal-header
                            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
                            %h4#followup-modal-label.modal-title
                          .modal-body
                          .modal-footer
                            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close
                            
:javascript
  $(document).ready(function(){
    //Metronic.init();
    //ComponentsPickers.init();
    var $view_name = "new";
    var formatted_date = "#{Date.today.strftime('%m/%d/%Y')}";
    dashboardsPatientLogPage(formatted_date);
     $(".date-picker").datepicker({
       format: "mm/dd/yyyy"
     });

  });
  $(document).on('click','.booking_js_update',function(){
    $('#exam-order-booking-modal').modal('hide');
    var booking_id = $(this).data('booking-id');
    $.ajax({ 
              type: "GET",
              dataType: 'JSON',
              url: "#",
              success: function(data){ 

              }
      });
    
    $.ajax({ 
                type: "GET", 
                dataType: 'script',
                url: "/dashboards/todays_appointments",
                success: function(data){
              }
      });
      var new_user_hash = {};    
      new_user_hash[booking_id] = $.now();
      var myFirebaseRef = new Firebase("https://#{ENV['FIREBASE_APP_URL']}");  //firebase app url reference
      var doctorDashboardFirebaseRef = myFirebaseRef.child('doctor_dashboard').ref()
      doctorDashboardFirebaseRef.child('booking').transaction(function(data){ return $.extend(data, new_user_hash)});
  });
  
