.row
  .col-md-5
    %li.contact
      %span
      -if @contact.profile_image.present?
        %img{:src => @contact.profile_image.url, :style => "height: 50px; width:50px;"}/
        = @contact.company_name
        %a.cross
          %span
            x
        %input{:type=>"hidden", :value=>"#{@contact.id}", :name=>"#{@contact.email}"}
        %input{:type=>"hidden", :value=>"#{@contact.account_number}", :name=>"#{@contact.account_number}"}
      -else
        %span.circle
          %span.initials
            = @contact.company_name.first(2).upcase
        = @contact.company_name
        %a.cross
          %span
            x
          %input{:type=>"hidden", :value=>"#{@contact.id}", :id => "contact_email", :name=>"#{@contact.email}"}
          %input{:type=>"hidden", :value=>"#{@contact.account_number}", :name=>"#{@contact.account_number}"}

:css
  .modal-content{
    position: absolute;
  }
  .circle{
    text-align: center;
  }
  .initials {
    position: relative;
    font-size: 35px; /* 50% of parent */
    line-height: 50px; /* 50% of parent */
    color: #333333;
    font-family: "Courier New", monospace;
    font-weight: bold;
   
  }
  .contact{
    background-color: #f0f6fa;
    list-style-type: none;
  }
  .cross{
    position: relative;
    float: right;
  }            

