= form_for @contact_lens_distributon_order, remote: true, :html => { :id => "order_trial_form" } do |f|
  .col-md-12
    .row
      .col-md-12.nam
        %table.table.table-striped.table-hover
          - od_type =LensTypesPrice.find_by(id: @lens.od_lens_types_price_id).try(:lens_type)
          - os_type =LensTypesPrice.find_by(id: @lens.os_lens_types_price_id).try(:lens_type)
          - @trial_date = Date.today.strftime("%m/%d/%Y")
          %thead
            %tr
              %th
                
              %th
                TYPE
              %th.hidden-480
                SPHERE
              %th.hidden-480
                CYLINDER
              %th.hidden-480
                AXIS
              %th
                ADD
              %th
                BASE CURVE
              %th
                DIAMETER
              %th
                QUANTITY
          %tbody
            .col-md-12
              %tr
                %th
                  OD
                  %td
                    = @lens.od_type
                  %td.hidden-480
                    = @lens.od_sphere
                  %td.hidden-480
                    = filter_lens_fields(od_type, 'cylinder') == "hidden" ? " " : @lens.od_cylinder
                  %td.hidden-480
                    = filter_lens_fields(od_type, 'axis') == "hidden" ? " " : @lens.od_axis
                  %td.hidden-480
                    = filter_lens_fields(od_type, 'add') == "hidden" ? " " : @lens.od_add
                  %td
                    = @lens.od_base_curve
                  %td
                    = @lens.od_diameter
                  %td
                    = f.select :od_quantity, (0..12), selected: 1, class: "select form-control"
            .col-md-12
              %tr
                %th
                  OS
                  %td
                    = @lens.os_type
                  %td
                    = @lens.os_sphere
                  %td
                    = filter_lens_fields(os_type, 'cylinder') == "hidden" ? " " : @lens.os_cylinder
                  %td
                    = filter_lens_fields(os_type, 'axis') == "hidden" ? " " : @lens.os_axis
                  %td
                    = filter_lens_fields(os_type, 'add') == "hidden" ? " " : @lens.os_add
                  %td
                    = @lens.os_base_curve
                  %td
                    = @lens.os_diameter
                  %td
                    = f.select :os_quantity, (0..12), selected: 1, class: "select form-control"
                    = f.hidden_field :organisation_id, value: current_organisation.id
                    = f.hidden_field :doctor_id, value: current_doctor.id
                    = f.hidden_field :lens_id, value: @lens.id
                    = f.hidden_field :store_id, value: current_doctor.store.id
                    = f.hidden_field :patient_id, value: @patient_id if @patient_id.present?
                    = f.hidden_field :soft_delete, value: false
  .col-md-8            
    %label
      Comments:     
    = f.text_area :comments, class: "form-control"   
  .col-md-12  
    = f.submit("Confirm", class: "btn btn-success pull-right")   

:javascript
  $( "#order_trial_form" ).submit(function( event ) {
    if ($("#add_notes_#{@lens.id}").val() == "")
    {
      $("#add_notes_#{@lens.id}").val("Trials order #{@trial_date}");
    }
    else{
      $("#add_notes_#{@lens.id}").val($("#add_notes_#{@lens.id}").val() + ", Trials order #{@trial_date}");
    }  
    $('#order_trial_modal').modal('hide');
  });             