$(".flash_message").html('<div id="gritter-notice-wrapper"><div id="gritter-item" class="gritter-item-wrapper "><div class="gritter-item gritter-css3"><div class="gritter-close"></div><div class="gritter-without-image"><span class="gritter-title">Success</span><p>Contact lens order has been sent successfully</p></div><div style="clear:both"></div></div></div></div>');

$('#tab_1_5').html("<%= escape_javascript(render partial: 'doctor/dashboards/dashboard_partial/contact_lens') %>");
$(".contact_lens_badge").text("0");
$('#gritter-notice-wrapper').delay(3000).fadeOut();
