-suborder||=@eye_glass_order
= simple_form_for suborder, :url => update_eyeglass_suborder_order_path(suborder), method: :put, remote: :true, html: { class: 'glass_suborder_form'} do |glass_order|
  -#%div{id: "glass_order_"+glass_order.object.id.to_s }
  = render 'doctor/orders/order_partial/eye_glass_order/eye_glass_order_fields',:f => glass_order