-suborder||=@eye_lens_order
= simple_form_for suborder, :url => update_contact_lens_suborder_order_path(suborder) , method: :put, remote: :true, html: {class: 'lens_suborder_form' } do |lens_order|
  = render 'doctor/orders/order_partial/contact_lens_order/contact_lens_order_fields',:f => lens_order