= simple_form_for @booking, url: bookings_path, html_input:  {class: "horizontal-form"} do |f|  
  = f.input :doctor_id, as: :hidden
  = f.input :store_id, as: :hidden
  = f.input :start_time, as: :hidden 
  .form-body
    .form-section
      %h3 Add Patient Info
    .row
      .col-md-4
        .form-group
          %label.control-label Select Patient
          - jr = JointResource.where(patient_id: current_patient.id)
          = f.input :joint_resource_id, collection: jr, label_method: :name, value_method: :id, label: false,:wrapper => false, :input_html => { :class => 'resource_change' }
      .col-md-4
        .form-group
          %label.control-label Select Vision Insurance
          - insurances = current_organisation.try(:vision_insurances)
          = select_tag ':vision_insurance_options', options_for_select(insurances.collect{ |u| [u.name, u.id] }), class: "form-control vision_insurance_select"
      .col-md-4
        .form-group
          %label.control-label Add reason of Visit
          = f.association :exam_procedures,collection: current_organisation.exam_procedures.all.order(:position),:value_method => :id,input_html:{:multiple => true,:class => "multi-select-exams",:style => 'width: 200px;overflow-x:hidden;'}, label: false
    .row
      .col-md-12
        .form-group
          %label.control-label Any Comment?
          = f.input :comment, label: false,:wrapper => false

  .form-actions.right
    %span{style:"padding-right: 50px"}
      = "Your appointment time is #{@app_time}"
    %button.btn.default{:type => "button", id: "back-to-calendar"} Back to Calendar
    %button.btn.blue{:type => "submit"}
      %i.fa.fa-check
      Submit
      
:javascript
  $('.procedure_autocomplete_field').bind('railsAutocomplete.select', function(event, data){
    var data_type=$(this).attr("data-type");
    var time = (new Date).getTime();
    if(data.item.id!="")
    {
      $(this).after('<span class="checkbox" style="-webkit-user-select: text;"><label for="booking_exam_procedure_ids_'+data.item.id+'" style="-webkit-user-select: text;"><input class="check_boxes optional icheck-me" data-skin="line" data-color="blue" data-text="'+data.item.label+' '+data.item.code+'" type="checkbox" value="'+data.item.id+'" name="booking[exam_procedure_ids][]" id="booking_exam_procedure_ids_'+data.item.id+'" style="-webkit-user-select: text;" checked="checked"></label></span>');
    icheck();
    }
    this.value="";
  });

  $('.multi-select-exams').multiselect({
    enableFiltering: true,
    includeSelectAllOption: true,
    maxHeight: '300',
    buttonWidth: '256',
    templates: {
      filterClearBtn: '<span class="input-group-btn"><button class="btn btn-default multiselect-clear-filter" type="button"><b>X<b></button></span>',
      saveBtn: '<span class="input-group-btn"><button type="button" class="btn btn-default"><b>√<b></button></span>'
    }
  });
  $('.dropdown-toggle').dropdown();
 
  $(document).on('change','.resource_change',function(){
     var jr_id = $(this).val();
     $.ajax({ 
              type: "GET", 
              url: "/dashboards/resource_insurance?jr_id="+jr_id,
              success: function(data){ 
              console.log('json data'+data);
            }
     });
  });
