.portlet
  .portlet-title.line
    .caption
      %i.fa.fa-comments>
      Chats
    
  #chats.portlet-body
    %div.scroller{style: "max-height: 370px; overflow-y: auto; margin-bottom: 20px;"}
      %ul.chats
        - @complete_chat_logs.each do |log|
          %li{class: "#{log.action == "recive" ? 'in' : 'out'}"}
            %img.avatar{:alt => "", :src => "../../assets/admin/layout/img/#{log.action == "recive" ? 'avatar1.jpg': 'avatar2.jpg'}"}/
            .message
              %span.arrow
              %a.name{:href => "#"}
                = "#{log.action == "recive" ? @phone_number : 'Itrust Support'}"
              %span.datetime
                = log.created_at.strftime("%I:%M %p %m/%d/%Y")
              %span.body
                = log.message
.modal-footer
  %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Close