#tab_twilio_webhooks
  .col-md-12
    %h4.page-title
      SMS
      %small Do reply to our patients

  .col-md-12
    #tab_images.twilio-css 
      %table.table.table-bordered.table-hover
        %thead
          %tr.heading{:role => "row"}
            %th{:width => "5%"}
              = "#id"
            %th{:width => "8%"}
              Mobile Number
            %th{:width => "8%"}
              City
            %th{:width => "10%"}
              Country
            %th{:widthSort => "8%"}
              Message
            %th{:width => "10%"}
              Action
            %th{:width => "10%"}
              Created at
            %th{:width => "20%"}
              Action
        %tbody
          - @twilio_webhooks.each_with_index do |twilio_webhook, index|
            %tr
              %td
                %label
                  -if params[:page].to_i>1 
                    = "#{@twilio_webhooks.per_page*(params[:page].to_i-1)+index+1}"
                  -else
                    = "#{index+1}"
              %td
                %label
                  = twilio_webhook.from.present? ? twilio_webhook.from : "N/A"
              %td
                %label
                  = twilio_webhook.from_city.present? ? twilio_webhook.from_city : "N/A"
              %td
                %label
                  = twilio_webhook.from_country.present? ? twilio_webhook.from_country : "N/A"
              %td
                %label 
                  = twilio_webhook.body.present? ? twilio_webhook.body : "N/A"
              %td
                %label
                  = twilio_webhook.sms_status.join        
              %td
                %label
                  = twilio_webhook.created_at.to_date
              %td              
                %a.btn.btn-success.btn-sm{"data-toggle"=> "modal", :href => "#reply-sms-modal#{index}"}
                  Reply 
                %a.btn.btn-danger.btn-sm.complete-chat-btn{"data-phone"=> twilio_webhook.from}
                  Complete chat for this number      

                = render :partial => "/contact_forms/reply_modal_boxes", :locals => { :index => index, :twilio_webhook => twilio_webhook, :type => "TwilioWebhook"}
          = will_paginate @twilio_webhooks, :'data-url'=>"/twilio_webhooks", :'data-type'=>"twilio" if @twilio_webhooks.present?
#complete_chat_modal.modal.fade{"data-backdrop" => "static", "data-keyboard" => "false", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      #complete_chat_modal_body.modal-body
       


:javascript
  $(document).on('click','.complete-chat-btn', function(){
    var $selectWrapper = $("#complete_chat_modal_body"),
    url,
    phone= ""; 
    
    phone = $(this).attr("data-phone");
    url = '/twilio_webhooks/complete_chat?phone_number=%2B'+phone;
    $selectWrapper.load(url);
    $("#complete_chat_modal").modal();
  })


              
        