.row.profile-account
  .col-md-3.hide_on_print
    %ul.ver-inline-menu.tabbable.margin-bottom-10
      %li.active
        %a{"data-toggle" => "tab", :href => "#personal_info_account_tab_2-1"}
          %i.fa.fa-cog
          Personal Info
        %span.after
      %li
        %a{"data-toggle" => "tab", :href => "#change_avatar_account_tab_2-2"}

          %i.fa.fa-picture-o
          Change Avatar
      %li
        %a{"data-toggle" => "tab", :href => "#change_password_account_tab_2-3"}
          %i.fa.fa-lock
          Change Password
      %li
        %a{"data-toggle" => "tab", :href => "#change_background_account_tab_2-4"}
          %i.fa.fa-eye
          Change Background
      %li
        %a{"data-toggle" => "tab", :href => "#change_credit_card_details_tab_2-6"}
          %i.fa.fa-credit-card
          Credit Card Details
      -if current_doctor.present? && (current_doctor.role & ["super_administrator", "administrator"]).any?
        %li
          %a{"data-toggle" => "tab", :href => "#remove_patient_tab"}
            %i.fa.fa-trash
            Delete Account
      %li
        %a{"data-toggle" => "tab", :href => "#tos_tab_2-7"}
          %i.fa.fa-file-pdf-o
          TOS
          %span.badge.badge-success.pull-right
            =current_organisation.try(:setting).try(:documents).all.count


  .col-md-9
    .tab-content
      -@patient.reload
      #personal_info_account_tab_2-1.tab-pane.active
        = simple_form_for @patient, url: update_patient_patient_path(@patient.id), html: { class: 'patient_account_personal_info'} do |f|
          .form-group.col-md-12
            %label.control-label.col-md-3
              First name
              %span.required
                *
            .col-md-3
              = f.input :first_name,label: false,:wrapper => false
            %label.control-label.col-md-3
              Last name
              %span.required
                *
            .col-md-3
              = f.input :last_name,label: false,:wrapper => false
          .form-group.col-md-12
            %label.control-label.col-md-3
              Phone
            .col-md-3
              = text_field_tag  "tel_input", @patient.phone, class:"form-control tel-input"
              = f.hidden_field :phone
            %label.control-label.col-md-3
              Email
              %span.required
                *
            .col-md-3
              %div
                -unless current_patient.present?
                  .col-md-11{:style => "padding-left: 0px;padding-right: 10px;"}
                    = f.input :email,label: false,:wrapper => false, :input_html => {:value=> @patient.email_not_supplied ? @patient.read_attribute(:email) : @patient.email}
                  .col-md-1{:style => "padding-left: 5px;padding-right: 0px;"}
                    = link_to "N/A", '#', class: "btn btn-primary", id: "append_random_id"
                -else
                  = f.input :email,label: false,:wrapper => false,:readonly => true
          .form-group.col-md-12
            %label.control-label.col-md-3
              Birthday
              %span.required
                *
            .col-md-3
              = f.input :birthday, as: :date_picker, label: false,:wrapper => false,input_html: { class: "patient_dob"}
              
            %label.control-label.col-md-3
              Gender
              %span.required
                *
            .col-md-3
              - gender_male =  (f.object.gender == "male")
              %div{style: "width: 70px;  float: left;"}
                %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Male", :checked => gender_male, :name => "patient[gender]", :type => "radio", :value => "male", width: 20}/
              - gender_female =  (f.object.gender == "female")
              %div{style: "width: 115px; float: left; padding-left: 10px;"}
                %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Female", :checked => gender_female, :name => "patient[gender]", :type => "radio", :value => "female"}/
            
          .form-group.col-md-12
            %label.control-label.col-md-3
              Ethnicity
            .col-md-3
              = f.select(:ethnicity, options_for_select([['White', 'white'], ['Spanish / Latino', 'spanish_latino'],['Black / African American','black_african_american'],['Asian','asian'],['Other','other']], @patient.ethnicity),{ :prompt => 'Select One'}, { class: "form-control"})
            %label.control-label.col-md-3
              Eye Color
            .col-md-3
              = f.select(:eye_color, options_for_select([['Blue', 'blue'], ['Green', 'green'],['Hazel','hazel'],['Light Brown','light_brown'],['Dark Brown','dark_brown']],@patient.eye_color),{ :prompt => 'Select One'},{ class: "form-control"})
         
          .form-group.col-md-12
            %label.control-label.col-md-3
              Occupation
            .col-md-3
              = f.input :occupation,label: false,:wrapper => false
            %label.control-label.col-md-3
              Employer
            .col-md-3
              = f.input :employer,label: false,:wrapper => false
          .form-group.col-md-12
            %label.control-label.col-md-3
              Vision Insurance
              %span.required
                *
            .col-md-3
              = f.input :vision_insurance_id,as: :select,collection: current_organisation.try(:vision_insurances), :prompt => "Choose a vision insurance", :label => false,:label_method=> :name,:value_method=> :id, :wrapper => false
              
            - if current_organisation.setting.flag_for_medical == true   
              %label.control-label.col-md-3
                Medical Insurance
                %span.required
                  *
              .col-md-3
                = f.input :medical_insurance_id,as: :select,collection: current_organisation.try(:medical_insurances), :prompt => "Choose a medical insurance", :label => false,:label_method=> :name,:value_method=> :id, :wrapper => false
          -if current_doctor.present?
            .form-group.col-md-12
              %label.control-label.col-md-3
                SSN
              .col-md-3
                = f.input :ssn,label: false,:wrapper => false
              %label.control-label.col-md-3
                Member ID
              .col-md-3
                = f.input :member_id,label: false,:wrapper => false
          -if current_doctor.present?
            .form-group.col-md-12
              %label.control-label.col-md-3
                Interests
              .col-md-3
                = f.input :intrests,label: false,:wrapper => false
              %label.control-label.col-md-3
                About
              .col-md-3
                = f.input :about,label: false,:wrapper => false
          -else
            .form-group.col-md-12
              %label.control-label.col-md-3
                Profile Url
              .col-md-3
                = f.input :profile_url,label: false,:wrapper => false
              %label.control-label.col-md-3
                Interests
              .col-md-3
                = f.input :intrests,label: false,:wrapper => false
            .form-group.col-md-12
              %label.control-label.col-md-3
                About
              .col-md-3
                = f.input :about,label: false,:wrapper => false

          .form-group.col-md-12
            %label.control-label.col-md-5
              Method Of Notification (Appointment Reminders, Invoices, Orders)
            .col-md-6.col-md-offset-1.control-label
              .col-md-3
                - email_notification_method = (f.object.notification_method == 1 ? true : false)
                %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Email", :name => "patient[notification_method]", :style => "-webkit-user-select: text;", :type => "radio", :value => "1", :checked => email_notification_method}
              .col-md-5 
                - text_notification_method = (f.object.notification_method == 2 ? true : false)                   
                %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Text Message", :name => "patient[notification_method]", :style => "-webkit-user-select: text;", :type => "radio", :value => "2" , :checked => text_notification_method}
              .col-md-3
                - both_notification_method = (f.object.notification_method == 3 ? true : false)                  
                %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Both", :name => "patient[notification_method]", :style => "-webkit-user-select: text;", :type => "radio", :value => "3", :checked => both_notification_method}
          .form-group.col-md-12
            .col-md-6{style: "border-right: 1px solid #ccc;"}
              %h4 Home Address
              = f.simple_fields_for :home_address,(@patient.home_address.present? ? @patient.home_address : @patient.build_home_address) do |home_addr_f|
                
                .form-group.col-sm-12
                  %label.control-label Address
                  = home_addr_f.text_field :address1, class:"form-control"
                .form-group.col-sm-12
                  %label.control-label Apt. Number
                  = home_addr_f.text_field :address2, class:"form-control"
                .form-group.col-sm-6
                  %label.control-label Country
                  = home_addr_f.country_select :country_id,  {priority: %w(US CA)}, class: 'form-control country_select', :"data-target"=> "#home_address_state"
                .form-group.col-sm-6
                  %label.control-label State
                  #home_address_state
                    - country_code  = home_addr_f.object.country_id.present? ? home_addr_f.object.country_id : "US"
                    - if Carmen::Country.coded(country_code).try(:subregions).present?
                      = home_addr_f.subregion_select(:state_id, country_code, {}, { :class => 'form-control' } )
                .form-group.col-sm-6
                  %label.control-label City
                  = home_addr_f.text_field :city, class:"form-control"
                .form-group.col-sm-6
                  %label.control-label Pin Code
                  = home_addr_f.text_field :postal_code, class:"form-control"
                  = home_addr_f.hidden_field :addr_type, class:"form-control", :value => "home"
            .col-md-6
              %h4 Office Address
              = f.simple_fields_for :office_address,(@patient.office_address.present? ? @patient.office_address : @patient.build_office_address) do |office_addr_f|                       
                .form-group.col-sm-12
                  %label.control-label Address
                  = office_addr_f.text_field :address1, class:"form-control"
                .form-group.col-sm-6
                  %label.control-label Country
                  = office_addr_f.country_select :country_id, {priority: %w(US CA)}, class: 'form-control country_select', :"data-target"=> "#office_address_state"
                
                .form-group.col-sm-6
                  %label.control-label State
                  #office_address_state
                    - country_code  = office_addr_f.object.country_id.present? ? office_addr_f.object.country_id : "US" 
                    - if Carmen::Country.coded(country_code).try(:subregions).present?
                      = office_addr_f.subregion_select(:state_id, country_code, {}, { :class => 'form-control' } )
                .form-group.col-sm-6
                  %label.control-label City
                  = office_addr_f.text_field :city, class:"form-control"
                .form-group.col-sm-6
                  %label.control-label Pin Code
                  = office_addr_f.text_field :postal_code, class:"form-control"
                  = office_addr_f.hidden_field :addr_type, class:"form-control", :value => "office"
          .form-group.col-md-12
            = render "/patient/patients/medical_history", f: f
          .form-group.col-md-12
            .col-md-6.margiv-top-10
              = f.submit "Save Changes", class: "btn btn-info"
              -if current_doctor.present?
                = link_to "<i class='fa fa-history' ></i> &nbsp;Audits".html_safe, '#patient_details_audits_modal', :class => "btn btn-md btn-default", "data-toggle" => "modal"
            / %a.btn.default{:href => "#"}
            /   Cancel
      #patient_details_audits_modal.modal.fade.modal-scrollable{"aria-hidden" => "true", "aria-labelledby" => "member-details-audits-modal-modalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:style => 'padding-top: 50px;'}
          .modal-content
            .modal-header
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
              %h4#patient_details_audits_modal-modalLabel.modal-title
                %i.fa.fa-history
                Details Audits
            .modal-body{:style => 'max-height: 500px !important;overflow-y: auto;'}
              = render :partial => "doctor/dashboards/audits",locals: {:object => @patient.prev_audits.map{|obj| obj.as_json}}
      #tos_tab_2-7.tab-pane
        = simple_form_for @patient, url: update_patient_patient_path(@patient.id), remote: true do |f|
          %h3.block Terms of service
          .row
            .col-md-12
              - current_organisation.try(:setting).try(:documents).all.each_with_index do |doc, index|
                .col-md-6.title
                  = "#{index+1} #{doc.docs_file_name.truncate(60)}"
                %iframe{:src=>"#{doc.present? ? doc.docs.url : '/Hippa.htm'}",id:"term_doc", :height=>"400px", :width => "100%"}

          .form-group
            .col-md-1
              = f.input :accept_terms,label: false,:wrapper => false, type: :checkbox, :disabled => @patient.accept_terms
              
            %label.control-label.col-md-3
              Accept terms and conditions
              %span.required
                *
          %br
          %hr
          .row
            .col-md-1
            .col-md-2
              %b
                Date:
            .col-md-1
              - if @patient.sign_date.present?
                = "#{@patient.sign_date}"
              -else
                = Date.today.to_s
          %br
          .row
            .col-md-1
            .col-md-2
              %b
                Name:
            .col-md-2
              = "#{@patient.name}"
          %br
          .row
            .col-md-1
            .col-md-2
              %b
                Signature:
            .col-md-5
              .signature
                = "#{@patient.name}"
            .col-md-6.margiv-top-10.btn_on_print
              = f.submit "Submit", class: "btn btn-info"
              = link_to "Print", '#', class: "btn btn-info", id: "print_page"
                 
              
      #change_avatar_account_tab_2-2.tab-pane
        = form_for @patient,  url: update_patient_patient_path(@patient.id), :html => {:multipart => true} do |form|
          %p
            Change Profile Url Here
          .form-group
            .fileinput.fileinput-new{"data-provides" => "fileinput"}
              .fileinput-new.thumbnail{:style => "width: 200px; height: 150px;"}
                = image_tag(@patient.try(:avatar).present? ? @patient.avatar.try(:url) : @patient.try(:gender) == 'male' ? "/images/male.jpg" : "/images/female-icon1.jpg", :class => "profile_image", :style => "height: 100%;")
              .fileinput-preview.fileinput-exists.thumbnail{:style => "max-width: 200px; max-height: 150px;"}
              %div
                %span.btn.default.btn-file
                  %span.fileinput-new
                    Select image
                  %span.fileinput-exists
                    Change
                  =form.file_field :avatar, onchange: "readURL(this);"
          .margin-top-10
            = form.submit "Submit", class: "btn btn-info"
        
      #change_password_account_tab_2-3.tab-pane
        = form_for :edit_patient,  url: password_update_patients_path(patient_id: @patient.id), remote: true, html: { method: :put } do |f|
          .form-group.col-md-12
            %label.control-label.col-md-2
              Current Password
            .col-md-3
              = f.password_field :current_password, autocomplete: "off",required: true, class: "form-control"
          .form-group.col-md-12
            %label.control-label.col-md-offset-2.col-md-10
              = link_to "Forgot your password?", "#forgot_password", :"data-toggle"=> "modal"

          .form-group.col-md-12
            %label.control-label.col-md-2
              New Password
            .col-md-3
              = f.password_field :password, autocomplete: "off",required: true, class: "form-control"
          .form-group.col-md-12
            %label.control-label.col-md-2
              Verify Password
            .col-md-3
              = f.password_field :password_confirmation, autocomplete: "off",required: true, class: "form-control"
          
          .form-group.col-md-12
            .actions.col-md-offset-2.col-md-10
              = f.submit "Save Changes", class: "btn btn-info"
        /Forgot Password Modal Box ----Start----
        #forgot_password.modal.fade.bs-modal-sm{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}    
          .modal-dialog.modal-sm
            .modal-content
              .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                %h4.modal-title Are you sure, you want to reset your password ?
              .modal-footer
                %button.btn.default{"data-dismiss" => "modal", :type => "button"} No
                = link_to "Yes", sent_reset_password_instruction_patients_path(:patient_id => @patient.id), class: "btn btn-info"
        /Forgot Password Modal Box ----end----
      #change_background_account_tab_2-4.tab-pane
        .col-md-6
          = form_for :background, url: backgrounds_path(patient_id: @patient.id) , remote: true, :authenticity_token => true, :html => {:multipart => true} do |form|
            .form-group
              .fileinput.fileinput-new{"data-provides" => "fileinput"}
                .fileinput-new.thumbnail{:style => "width: 200px; height: 150px;"}
                  %img{:alt => "", :id=>"background_image", :src => @patient.bgurl, :style=>"height: 100%"}/
                .fileinput-preview.fileinput-exists.thumbnail{:style => "max-width: 200px; max-height: 150px;"}
                %div
                  %span.btn.default.btn-file
                    %span.fileinput-new
                      Select image
                    %span.fileinput-exists
                      Change
                    =form.file_field :avatar, onchange: "readUrlForBackground(this);"
            .margin-top-10
              = form.submit "Submit", class: "btn btn-info"
        .col-md-6
          .portlet.box.red-sunglo
            .portlet-title
              .caption
                %i.fa.fa-plus-square>
                Click on Image To Change Your Background                   
          .portlet-body
            .scroller{"data-always-visible" => "1", "data-handle-color" => "red", "data-rail-color" => "blue", "data-rail-visible" => "1", :style => "height:200px"}
              -@patient.backgrounds.each do |background_image|
                =link_to background_update_patients_path(bg_id: background_image,patient_id: @patient.id) do
                  %img{:alt => "", :id=>"background_image", :src => background_image.avatar.url(:thumb), :style=>"padding: 2px"}/
      #change_credit_card_details_tab_2-6.tab-pane
        = render "/patient/dashboards/dashboard_partial/dropin_credit_cards"
      #remove_patient_tab.tab-pane
        %h4 Do you want to permanently delete this account?
        %br
        =link_to("Yes", patient_path(:id => @patient.id) , :method => :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger")
        =link_to("No",'/', class: "btn btn-primary")
#medical_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medical History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_pmhxes", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "medical"
                = hidden_field_tag "type","patient_medical"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
            

        .modal-footer            
          %button.btn.btn-sm.blue Save
#medical_history_modal_1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medical History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_pmhxes_1", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "medical"
                = hidden_field_tag "type","patient_medical"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
            

        .modal-footer            
          %button.btn.btn-sm.blue Save
#family_medical_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medical History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_fmhxes", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "medical"
                = hidden_field_tag "type","family_medical"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
            

        .modal-footer            
          %button.btn.btn-sm.blue Save
#family_medical_history_modal_1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medical History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_fmhxes_1", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "medical"
                = hidden_field_tag "type","family_medical"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
            

        .modal-footer            
          %button.btn.btn-sm.blue Save
#oculus_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Ocular History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_pohxes", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "oculus"
                = hidden_field_tag "type","patient_ocular_history"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer            
          / %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
          %button.btn.btn-sm.blue Save
#oculus_history_modal1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Ocular History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_pohxes_1", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "oculus"
                = hidden_field_tag "type","patient_ocular_history"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer            
          / %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
          %button.btn.btn-sm.blue Save
#family_oculus_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Ocular History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_fohxes", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "oculus"
                = hidden_field_tag "type","family_patient_ocular_history"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer            
          / %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
          %button.btn.btn-sm.blue Save
#family_oculus_history_modal_1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Ocular History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_fohxes_1", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "oculus"
                = hidden_field_tag "type","family_patient_ocular_history"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer            
          / %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
          %button.btn.btn-sm.blue Save
#psychology_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medication
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_medications", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "psychology"
                = hidden_field_tag "type","patient_medication"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer            
          / %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
          %button.btn.btn-sm.blue Save
#surgery_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Surgeries
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_surgery", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "surgery"
                = hidden_field_tag "type","patient_surgery"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer            
          / %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
          %button.btn.btn-sm.blue Save
#allergy_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Allergies
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_allergy", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "allergy"
                = hidden_field_tag "type","patient_allergy"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer            
          / %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
          %button.btn.btn-sm.blue Save

  :javascript
    telInput();
    diseaseAutocompleteField();
    familyDiseaseAutocompleteField();
    initializePlugins();    
    disease_toggle();
    icheck();
    ComponentsPickers.init();
    append_random_id_under_account_tab();

    $(document).on('click', "#detail_button", function(){
      $("#change_credit_card_details_tab_2-6").find("#card_detail").removeClass('hidden');
      $("#change_credit_card_details_tab_2-6").find("#card_brief").addClass('hidden');
    })

    $(".title").css({"font-size":"20px","margin-bottom":"15px","margin-top":"15px"});
    $('#print_page').on('click',function(){
      $("#term_doc").contents().scrollTop('0')
      var heght = $("#term_doc").contents().height() + 300;
      $("#term_doc").css("height",heght + 'px',"overflow-x","hidden","overflow-y","scroll");
      $('.hide_on_print').next().removeClass('col-md-9')
      $('.hide_on_print, .nav, .btn_on_print').hide();
      $("#term_doc").attr("scrolling", "no"); 
      window.print();
      $('.hide_on_print').next().addClass('col-md-9')
      $('.hide_on_print, .nav, .btn_on_print').show();
      $("#term_doc").attr("scrolling", "yes"); 
      $("#term_doc").css("height","400px","width","100%");
      })

    $(document).ready(function(){
      if($('#patient_email_not_supplied').is(':checked'))
      {
        $('#patient_email').attr('readonly',true);
        $("[name='patient[notification_method]'][value='1']").attr('disabled','disabled');
        $("[name='patient[notification_method]'][value='3']").attr('disabled','disabled');
      }
    })

    $(document).on('click','#append_random_id',function(){
      var text = "";
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

      for( var i=0; i <10; i++ )
         text += possible.charAt(Math.floor(Math.random() * possible.length));
        $("#patient_email").val("itrust.io.app+"+text+"@gmail.com");
    });

    $(document).on('click','#patient_email_not_supplied',function(){
      if($(this).is(':checked'))
      {
        first = $('#patient_first_name').val();
        last = $('#patient_last_name').val();
        if(first != '' && last != '')
        {
          time = Date.now();
          email = first + time + '@' + last + '.' + last;
          $('#patient_email').val(email);
          $('#patient_email').attr('readonly',true);
          $("[name='patient[notification_method]'][value='2']").parent().addClass('checked')
          $("[name='patient[notification_method]'][value='1']").parent().removeClass('checked')
          $("[name='patient[notification_method]'][value='3']").parent().removeClass('checked')
          $("[name='patient[notification_method]'][value='1']").attr('disabled','disabled');
          $("[name='patient[notification_method]'][value='3']").attr('disabled','disabled');
        }
        else
        {
          alert("First Name and Last Name must be present for Email not supplied option");
          $(this).prop("checked", false);
        }
      }
      else
      {
        $('#patient_email').removeAttr('readonly');
        $('#patient_email').val('');
        $("[name='patient[notification_method]'][value='1']").removeAttr('disabled','disabled');
        $("[name='patient[notification_method]'][value='3']").removeAttr('disabled','disabled');
      }
    })

:css
  @font-face {
    font-family: signature;
    src: url(/signature.ttf);
  }
  .signature {
    font-family: signature;
    font-size: 40px;
  }