.row.profile-reports
  .col-md-3
    %ul.ver-inline-menu.tabbable.margin-bottom-10
      
      %li.active
        %a{"data-toggle" => "tab", :href => "#tab_4-2"}
          %i.fa.fa-eye
          View Family Members
      %li
        %a{"data-toggle" => "tab", :href => "#tab_4-1", id: "family_member_tab"}
          %i.fa.fa-plus
          Family Member
        %span.after
  .col-md-9
    .tab-content
      #tab_4-1.tab-pane
        .row
          .col-md-12
            .add-portfolio
              %span
                Update Family Members
        -if @patient.family_members.present?
          -@family_members = @patient.family_members
          = form_for "family_member", url: update_relation_family_members_path, method: :put do |f|
            .col-md-12
              .col-md-6
                .form-group
                  %label.control-label Family Member
                  = select_tag "family_member", options_from_collection_for_select(@family_members, :id, :name),{ class: "form-control"}
            .col-md-12 
              .col-md-6
                .form-group
                  %label.control-label Relation
                  = select_tag "relation", options_for_select([['Brother', 'brother'], ['Sister', 'sister'],['Mother','mother'],['Father','father'],['Son','son'],['Daughter', 'daughter'], ['Grandfather', 'grandfather'],['Grandmother','grandmother'],['Wife','wife']]),{ class: "form-control"}
            .col-md-12
              = hidden_field_tag('patient_id', params[:patient_id]|| current_patient.id)
              .col-md-6
                .form-group
                  = f.submit "Save", class: 'btn btn-info'
        -else
          %div{:style => "text-align: center;"}
            %i.fa.fa-search
              No records to display
      #tab_4-2.tab-pane.active
        .row
          .col-md-12
            .add-portfolio
              %span
                Added Family Members
        -if @patient.family_members.present?
          -@patient.family_members.each do |family_member|
            .portfolio-block
              .col-md-2
                =image_tag(family_member.avatar.present? ? family_member.avatar.url : family_member.gender == 'male' ? "/images/male.jpg" : "/images/female-icon1.jpg", size: "70")
              .col-md-3
                .portfolio-text                
                  .portfolio-text-info
                    %h4
                      =family_member.try(:name)
                    %p
                      =family_member.try(:relation).try(:capitalize)
              .col-md-3
                .portfolio-text                
                  .portfolio-text-info                    
                    %h4
                      =family_member.try(:birthday).try(:strftime, '%B %d, %Y')
              .col-md-2
                .portfolio-btn
                  = link_to "Remove", family_member_path(family_member.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-lg"
              .col-md-2
                .portfolio-btn
                  = link_to "View", family_member_path(family_member.id), class: "btn btn-danger btn-lg"
        -else
          %div{:style => "text-align: center;"}
            %i.fa.fa-search
              No records to display