.col-md-12
  -if @orders.present?
    -@orders.each do |order|
      = render 'patient/reports/invoices', order: order, current_patient: current_patient || @family_member, request_type: "html"
    = will_paginate @orders,:param_name => 'reports_orders_page',:style => "position: absolute;top: 95%;right: 83%;margin-top:4%;"
  - else
    %div{:style => "text-align: center;"}
      %i.fa.fa-search
      You dont have any orders yet