- if current_patient.present?
  -@resource = current_patient
- elsif params[:family_member_id].present?
  -@resource = FamilyMember.find(params[:family_member_id])
- else
  -@resource = Patient.find(params[:patient_id])
.portlet.box
  .portlet-title.hex_424242
    .caption
      %i.fa.fa-plus-square
      Medical Rx
  .portlet-body
    .row
      -@resource.examinations.each do |ex|
        - ex.medical_rxes.each do |e_imp|
          .row
            .col-md-1
            .col-md-7
              %p
                = ex.try(:store).try(:office_address).try(:full_addr_for_reports)
                %br
                - if ex.try(:store).phone_number.present?
                  = "P: #{number_to_phone(ex.store.phone_number.to_s[2..-1].to_i, area_code: true)}"
                  %br
                - if ex.try(:store).fax.present?  
                  = "F: #{ex.store.fax}"
                  %br
                = ex.try(:store).url
            .col-md-4
              - if ex.try(:store).try(:logo).present?
                = image_tag ex.store.logo.url(:thumb), class: "img-responsive"
              - else
                %img.img-responsive{:alt => "logo", :src => "/images/def_logo.jpg"}/
                %h3
                  = ex.try(:store).try(:description)
          .row
            .col-md-1
            .col-md-4
              %label.control-label Name:
              %span.valuemark
                #{@resource.try(:name)}
            .col-md-4
              %label.control-label DOB
              %span.valuemark
                #{@resource.try(:birthday)}
            .col-md-3
              %label.string.optional.control-label Age:
              %span.valuemark
                #{@resource.try(:age)}
          .row.delete_data
            .col-md-1
            .col-md-11
              .row
                .col-md-6
                  %label.control-label Issue Date:
                  %span
                    = e_imp.issued_date.nil? ? "" : e_imp.issued_date.to_date
                .col-md-6
                  %label.control-label Exp Date:
                  %span
                    = e_imp.expired_date.nil? ? "" : e_imp.expired_date.to_date
              .row
                .col-md-2
                  = image_tag "/images/medical_rx.png",class: "img-responsive set_img_style " 
                .col-md-6
                  - if e_imp.try(:medication).present? 
                    .row.medi_dosage_margin
                      .col-md-12
                        = e_imp.medication
                  - if e_imp.try(:dosage).present?  
                    .row
                      .col-md-12
                        %label Sig:
                        = e_imp.dosage
              .row.medi_dosage_margin
                .col-md-6
                .col-md-6
                  = ex.doctor.name.to_s
                  %br
                  - if ex.doctor.license_no.present?
                    = "   O.D. LIC # " +  "#{ex.doctor.license_no.to_s}"
              .row
                - if e_imp.try(:generic).present?  
                  .col-md-3
                    %label Refills:
                    = e_imp.try(:refill)
                    %br
                    = "Generic Ok" 
                .col-md-3
                .col-md-6
                  - if ex.doctor.sign_image.present?
                    %img{:src => ex.doctor.sign_image.url, :style => "height: 100%;"}/
                  - else
                    .signature
                      = ex.doctor.name
              .row.del
                .col-md-9
                .col-md-2.print_margin
                  = link_to "Delete", remove_medical_rx_examinations_path(medical_rx_id: e_imp.id), class: "btn btn-sm red remove_med_rx",:remote => true,:"data-no-turbolink"=> "true"
                  - if e_imp == ex.medical_rxes.last
                    = link_to "Print", '#', class: "btn btn-sm blue pull-right", id: "medical_print"
              .row
                .col-md-11
                  %hr.set_border_style


:javascript
  med_rx_report_tab();