.col-md-12
  - if @exams.present?
    - @exams.each do |exam|
      -if exam.glasses_prescriptions.present? || exam.lens_prescriptions.present?
        = render 'patient/reports/prescription', exam: exam, current_patient: current_patient || @family_member
    = will_paginate @exams,:param_name => 'reports_exams_page',:style => "position: absolute;top: 92%;right: 75%;margin-top:4%;" unless @family_member.present?
  - else
    %div{:style => "text-align: center;"}
      %i.fa.fa-search
      Prescriptions not present