.col-md-12
  - if @referrals.present?
    - @referrals.each do |referral_form|
      - if referral_form.present?
        = render 'patient/reports/referral', referral_form: referral_form, current_patient: current_patient || @family_member
    = will_paginate @referrals, :param_name => 'reports_referral_page',:style => "position: absolute;top: 92%;right: 75%;margin-top:4%;"
  -else
    %div{:style => "text-align: center;"}
      %i.fa.fa-search
      There is no referral form