.row.profile-reports
  .col-md-3.tab_account_section
    %ul.ver-inline-menu.tabbable.margin-bottom-10
      %li.active
        %a{"data-toggle" => "tab", :href => "#referrals_reports_tab_3-1"}
          %i.fa.fa-cog
          Referrals
          %span.badge.badge-success.tabs_top_margin
            = @referrals.count
      %li
        %a{"data-toggle" => "tab", :href => "#prescription_reports_tab_3-2"}
          %i.fa.fa-picture-o
          Prescription
          %span.badge.badge-success.tabs_top_margin
            = @exams.total_entries
      %li
        %a{"data-toggle" => "tab", :href => "#invoices_reports_tab_3-3"}
          %i.fa.fa-lock
          Invoices
          %span.badge.badge-success.tabs_top_margin
            = @orders.count
      %li
        %a{"data-toggle" => "tab", :href => "#medical_rxs_reports_tab_3-4"}
          %i.fa.fa-lock
          Medical Rx's
          %span.badge.badge-success.tabs_top_margin
            = @med_rx

  .col-md-9
    .tab-content
      #referrals_reports_tab_3-1.tab-pane.active
        = render '/patient/dashboards/dashboard_tabs/referral_report'
      #prescription_reports_tab_3-2.tab-pane
        = render '/patient/dashboards/dashboard_tabs/prescription_report'
      #invoices_reports_tab_3-3.tab-pane
        = render '/patient/dashboards/dashboard_tabs/invoice_report'
      #medical_rxs_reports_tab_3-4.tab-pane
        = render '/patient/dashboards/dashboard_tabs/medcial_rx_report'

:javascript
  $(document).on("click", ".pagination a", function() {
    event.preventDefault();
    var url=$(this).attr("href");
    if (url.match('reports_referral_page') == "reports_referral_page")
    {
      ($(this).closest("#referrals_reports_tab_3-1")).load(url);
    }
    else if (url.match('reports_exams_page') == "reports_exams_page")
    {
      ($(this).closest("#prescription_reports_tab_3-2")).load(url);
    }
    else if (url.match('reports_orders_page') == "reports_orders_page")
    {
      ($(this).closest("#invoices_reports_tab_3-3")).load(url);
    }
  });