.row
  .col-md-12
    .col-md-6
      .portlet.box.red-sunglo
        .portlet-title
          .caption
            %i.fa.fa-plus-square>
            Eyeglass Lens Type
          .actions
            = link_to "Update All", edit_records_setting_orders_path(form_type: "eyeglass_lens_type"),  remote: true, class: "btn btn-default btn-sm"
            %a.btn.btn-default.btn-sm{"data-toggle" => "modal", :href => "#Eyeglass_type_modal"}
              %i.fa.fa-pencil
              Add New
        .portlet-body
          .dataTables_scroll
            .dataTables_scrollHead{:class=> "eyeglass_box"}
              .dataTables_scrollHeadInner{:class=>"eyeglass_box1"}
                .dataTables_scrollBody{:class=>"eyeglass_box2"}
                  %table.table.table-striped.table-hover.dataTable.no-footer
                    %thead
                      %tr
                        %th.max-width
                          Lens Type
                        %th
                          Cost of Good
                        %th
                          Patient Pays
                    %tbody
                      - @eyeglass_lens_types.each do |eyeglass_type|
                        %tr
                          %td.max-width
                            = eyeglass_type.glasstype.capitalize
                          %td
                            = number_to_currency(eyeglass_type.patient_pays)
                          %td
                            = number_to_currency(eyeglass_type.price)
                          %td
                            = link_to "Delete", delete_eyeglass_lens_type_setting_orders_path(id: eyeglass_type.id), data: { confirm: "Are you sure?" }, remote: true, onclick: "$(this).parent().parent().remove()", method: :delete
                
      #Eyeglass_type_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Add Eyeglasses Lens Types
            = form_tag add_eyeglass_lens_type_setting_orders_path do
              .modal-body
                .row
                  .col-md-4.lens_text
                    Lens Type
                  .col-md-4.pays_text
                    Cost of Good
                  .col-md-3.good_text
                    Patient Pays
                .row.object
                  .col-md-4.form-group
                    = text_field_tag "eyeglass_types[1][glasstype]","", class: "form-control",required: true
                  .col-md-4.form-group
                    = text_field_tag "eyeglass_types[1][patient_pays]","", class: "form-control", placeholder: "$"
                  .col-md-3.form-group
                    = text_field_tag "eyeglass_types[1][price]","", class: "form-control", placeholder: "$",required: true
                  .col-md-1.form-group
                    = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
              .modal-footer            
                %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
                %button.btn.btn-sm.blue Save

    .col-md-6
      .portlet.box.blue-madison
        .portlet-title
          .caption
            %i.fa.fa-plus-square>
            Eyeglass Lens Material
          .actions
            = link_to "Update All", edit_records_setting_orders_path(form_type: "eyeglass_lens_material"),  remote: true, class: "btn btn-default btn-sm"

            %a.btn.btn-default.btn-sm{"data-toggle" => "modal", :href => "#Eyeglass_material_modal"}
              %i.fa.fa-pencil
              Add New
        .portlet-body
          .dataTables_scroll
            .dataTables_scrollHead{:class=>"eyeglass_box"}
              .dataTables_scrollHeadInner{:class=>"eyeglass_box1"}
                .dataTables_scrollBody{:class=>"eyeglass_box2"}
                  %table.table.table-striped.table-hover.dataTable.no-footer
                    %thead
                      %tr
                        %th.max-width
                          Material
                        %th
                          Cost of Good
                        %th
                          Patient Pays
                    %tbody
                      - @eyeglass_lens_materials.each do |eyeglass_material|
                        %tr
                          %td.max-width
                            = eyeglass_material.name.capitalize
                          %td
                            = number_to_currency(eyeglass_material.patient_pays)
                          %td
                            = number_to_currency(eyeglass_material.price)
                          %td
                            = link_to "Delete", delete_eyeglass_lens_material_setting_orders_path(id: eyeglass_material.id), remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete
                          
      #Eyeglass_material_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Add Eyeglasses Lens Material Types
            = form_tag add_eyeglass_lens_material_setting_orders_path do
              .modal-body
                .row
                  .col-md-4.material_text
                    Material
                  .col-md-4.pay_text
                    Cost of Good
                  .col-md-3.good_text1
                    Patient Pays
                .row.object
                  .col-md-4.form-group
                    = text_field_tag "lens_materials[1][name]","", class: "form-control",required: true
                  .col-md-4.form-group
                    = text_field_tag "lens_materials[1][patient_pays]","", class: "form-control", placeholder: "$"
                  .col-md-3.form-group
                    = text_field_tag "lens_materials[1][price]","", class: "form-control", placeholder: "$",required: true
                  .col-md-1.form-group
                    = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
              .modal-footer            
                %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
                %button.btn.btn-sm.blue Save

  .col-md-12
    .col-md-6
      .portlet.box.blue-madison
        .portlet-title
          .caption
            %i.fa.fa-plus-square>
            Eyeglass Add-ons
          .actions
            = link_to "Update All", edit_records_setting_orders_path(form_type: "eyeglass_addon"),  remote: true, class: "btn btn-default btn-sm"

            %a.btn.btn-default.btn-sm{"data-toggle" => "modal", :href => "#Eyeglass_addon_modal"}
              %i.fa.fa-pencil
              Add New
        .portlet-body
          .dataTables_scroll
            .dataTables_scrollHead{:class=> "eyeglass_box"}
              .dataTables_scrollHeadInner{:class=> "eyeglass_box1"}
                .dataTables_scrollBody{:class=> "eyeglass_box2"}
                  %table.table.table-striped.table-hover.dataTable.no-footer
                    %thead
                      %tr
                        %th.max-width
                          Add-ons
                        %th
                          Cost of Good
                        %th
                          Patient Pays
                    %tbody
                      - @eyeglass_addons.each do |eyeglass_addon|
                        %tr
                          %td.max-width
                            = eyeglass_addon.addon.capitalize
                          %td
                            = number_to_currency(eyeglass_addon.patient_pays)
                          %td
                            = number_to_currency(eyeglass_addon.price)
                          %td
                            = link_to "Delete", delete_eyeglass_addon_setting_orders_path(id: eyeglass_addon.id), remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete
          
                
      #Eyeglass_addon_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Add Eyeglasses Addons
            = form_tag add_eyeglass_addon_setting_orders_path do
              .modal-body
                .row
                  .col-md-4.material_text
                    Addon
                  .col-md-4.pay_text
                    Patient Pays
                  .col-md-3.good_text1
                    Cost of Good
                .row.object
                  .col-md-4.form-group
                    = text_field_tag "eyeglass_addons[1][addon]","", class: "form-control",required: true
                  .col-md-4.form-group
                    = text_field_tag "eyeglass_addons[1][patient_pays]","", class: "form-control", placeholder: "$"
                  .col-md-3.form-group
                    = text_field_tag "eyeglass_addons[1][price]","", class: "form-control", placeholder: "$",required: true
                  .col-md-1.form-group
                    = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
              .modal-footer            
                %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
                %button.btn.btn-sm.blue Save

    .col-md-6
      .portlet.box.red-sunglo
        .portlet-title
          .caption
            %i.fa.fa-plus-square>
            Eyeglass Frames
          .actions
            = link_to "Update All", edit_records_setting_orders_path(form_type: "eyeglass_frame"),  remote: true, class: "btn btn-default btn-sm"
            
            %a.btn.btn-default.btn-sm{"data-toggle" => "modal", :href => "#Eyeglass_frame_modal"}
              %i.fa.fa-pencil
              Add New
        .portlet-body
          .dataTables_scroll
            .dataTables_scrollHead{:class=> "eyeglass_box"}
              .dataTables_scrollHeadInner{:class=> "eyeglass_box1"}
                .dataTables_scrollBody{:class=> "eyeglass_box2"}
                  %table.table.table-striped.table-hover.dataTable.no-footer
                    %thead
                      %tr
                        %th.max-width
                          Frame
                        %th
                          Cost of Good
                        %th
                          Patient Pays
                    %tbody
                      - @eyeglass_frames.each do |eyeglass_frame|
                        %tr
                          %td.max-width
                            = eyeglass_frame.frame.capitalize
                          %td
                            = number_to_currency(eyeglass_frame.patient_pays)
                          %td
                            = number_to_currency(eyeglass_frame.price)
                          %td
                            = link_to "Delete", delete_eyeglass_frame_setting_orders_path(id: eyeglass_frame.id), remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete
            
                
      #Eyeglass_frame_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Add Eyeglasses Frame
            = form_tag add_eyeglass_frame_setting_orders_path do
              .modal-body
                .row
                  .col-md-4.material_text
                    Frame
                  .col-md-3.pay_text
                    Patient Pays
                  .col-md-3.good_text2
                    Cost of Good
                .row.object
                  .col-md-4.form-group
                    = text_field_tag "eyeglass_frames[1][frame]","", class: "form-control",required: true
                  .col-md-4.form-group
                    = text_field_tag "eyeglass_frames[1][patient_pays]","", class: "form-control", placeholder: "$"
                  .col-md-3.form-group
                    = text_field_tag "eyeglass_frames[1][price]","", class: "form-control", placeholder: "$",required: true
                  .col-md-1.form-group
                    = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
              .modal-footer            
                %button.btn.btn-success.btn-sm.add-object{:type => "button"}  Add More
                %button.btn.btn-sm.blue Save

  .col-md-12
    .col-md-6
      .portlet.box.red
        .portlet-title.portlet-title-height
          .caption
            %i.fa.fa-flag>
            Rewards
        .portlet-body
          = simple_form_for :control_reward_on_off,url: setting_order_path(@fetch_setting_orders_id),method: :put do |f|
            .row
              .col-md-5
                %b Use rewards in order form?
                = f.input :flag_for_reward,label: false,:checked=>current_organisation.setting.flag_for_reward , as: :radio_buttons
              .col-md-5
                %b Reward % of purchase
                - if current_organisation.setting.flag_for_reward == true  
                  = f.number_field :reward_percent_used,min:10,max:100,:step=>10,:value=>current_organisation.setting.reward_percent_used.to_i
                - else
                  = f.number_field :reward_percent_used,min:10,max:100,:step=>10,:value=>current_organisation.setting.reward_percent_used.to_i,readonly: true,:class=> 'apply_grey'
              .col-md-2
                = submit_tag "Update" ,class: "btn btn-primary btn-sm"

//Modal will use to update Order form object
#edit_records_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.bigModal
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Update Records
        #edit_records_body.modal-body


:javascript

  /*----below function is inside settings.js----*/
  reward_used_readonly();
