.row
  .col-md-12
    / BEGIN PAGE TITLE &amp; BREADCRUMB
    %h3.page-title
      Edit Organisations
      %small here you can update Organisation details.
    %ul.page-breadcrumb.breadcrumb
      %li
        %i.fa.fa-home
        %a{:href => "/"} Home
        %i.fa.fa-angle-right
      %li
        %a{:href => "#"} Organisation
        %i.fa.fa-angle-right
      %li
        %a{:href => "#"} Edit Organisations
      %li.pull-right
        #dashboard-report-range.dashboard-date-range.tooltips{"data-original-title" => "Change dashboard date range", "data-placement" => "top"}
          %i.icon-calendar
          %span
          %i.fa.fa-angle-down
    / END PAGE TITLE &amp; BREADCRUMB
.row
  .col-md-12
    = form_for current_organisation, url: manage_organisation_path(current_organisation.id), html: {id: "organisation_wizard_form_edit", class: "form-horizontal", style: "background: white; padding-top: 27px; padding-bottom: 27px;"} do |f|
      
      .col-md-6
        .form-group
          %label.control-label.col-md-4
            Organisation Name
            %span.required
              *
          .col-md-8
            = f.text_field :company_name, class: "form-control"
        .form-group
          %label.control-label.col-md-4
            Slogan                      
          .col-md-8
            = f.text_field :slogan, class: "form-control"
            %span.help-block
              Provide your organisation  slogan(tag line)
        .form-group
          %label.control-label.col-md-4
            Size
            %span.required
              *
          .col-md-8
            = f.select :size, Organisation::SIZE, {}, class: "form-control"
            %span.help-block
              Select organisation size
        = f.fields_for :address,current_organisation.address.present? ? current_organisation.address : current_organisation.build_address do |address_f| 
          = address_f.text_field :id,class: 'hidden'
          .form-group
            %label.control-label.col-md-4
              Address line 1
              %span.required
                *
            .col-md-8
              = address_f.text_field :address1, class: "form-control"
              %span.help-block
                Provide your head office street address
          .form-group
            %label.control-label.col-md-4
              Address line 2
            .col-md-8
              = address_f.text_field :address2, class: "form-control"
              %span.help-block
                Provide your head office street address
          .form-group
            %label.control-label.col-md-4
              Postal Code
              %span.required
                *
            .col-md-8
              = address_f.text_field :postal_code, class: "form-control"
              %span.help-block
                Provide your head office postal code
          .form-group
            %label.control-label.col-md-4
              Country
              %span.required
                *
            .col-md-8
              = address_f.country_select :country_id, {priority: %w(US CA)}, class: 'form-control country_select', :"data-target"=> "#office_address_state"
              %span.help-block
                Provide your head office country              
          
          .form-group
            %label.control-label.col-md-4
              State
              %span.required
                *
            #office_address_state.col-md-8
              - country_code  = address_f.object.country_id.present? ? address_f.object.country_id : "US"
              - if Carmen::Country.coded(country_code).try(:subregions).present?
                = address_f.subregion_select(:state_id, country_code, {}, { :class => 'form-control' } )
              %span.help-block
                Provide your head office state
          .form-group
            %label.control-label.col-md-4
              City/Town
              %span.required
                *
            .col-md-8
              = address_f.text_field :city, class: "form-control"
              %span.help-block
                Provide your head office city or town
      .col-md-6
        .form-group
          %label.control-label.col-md-4 Upload New Logo
          .col-md-8 
            = f.file_field(:avatar, class: "form-control")
        .form-group
          %label.control-label.col-md-4
            Description
            %span.required
              *
          .col-md-8
            = f.text_area :description, class: "form-control"
            %span.help-block
              Write something about your company
        .form-group
          %label.control-label.col-md-4 Time Zone
          .col-md-8
            = f.time_zone_select(:time_zone, ActiveSupport::TimeZone.all,{},{ class: 'form-control'} )
        .form-group
          %label.control-label.col-md-4 Email
          .col-md-8
            = f.email_field :email, class:"form-control"
        .form-group
          %label.control-label.col-md-4
            = image_tag('admin/pages/media/email/social_facebook.png', alt: "Facebook URL")
          .col-md-8  
            = f.text_field :facebook_url,class:"form-control"
        .form-group
          %label.control-label.col-md-4
            = image_tag('admin/pages/media/email/social_twitter.png', alt: "Twitter URL")
          .col-md-8
            = f.text_field :twitter_url,class:"form-control"
        .form-group
          %label.control-label.col-md-4
            = image_tag('admin/pages/media/email/social_google.png', alt: "Google URL")
          .col-md-8
            = f.text_field :google_url,class:"form-control"    
        .form-group
          %label.control-label.col-md-4
            = image_tag('admin/pages/media/email/social_linked_in.png', alt: "Linkedin URL")
          .col-md-8
            = f.text_field :linked_in_url,class:"form-control"
        .form-group
          %label.control-label.col-md-4
            = image_tag('admin/pages/media/email/social_youtube.png', alt: "Youtube URL")
          .col-md-8
            = f.text_field :youtube_url,class:"form-control"  
        .form-group
          %label.control-label.col-md-4
            = image_tag('admin/pages/media/email/social_pintrest.png', alt: "Pintrest URL")
          .col-md-8
            = f.text_field :pintrest_url,class:"form-control"
        .form-group
          %label.control-label.col-md-4
            = image_tag('admin/pages/media/email/social_instagram.png', alt: "Instagram URL")
          .col-md-8
            = f.text_field :instagram_url,class:"form-control"
      
      .form-group
        .col-md-offset-3.col-md-4
          = f.submit "Update", class: "btn btn-blue"
.clearfix

:javascript
  var form = $('#organisation_wizard_form_edit');
  var error = $('.alert-danger', form);
  var success = $('.alert-success', form);
  form.validate({
    doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
    errorElement: 'span', //default input error message container
    errorClass: 'help-block help-block-error', // default input error message class
    focusInvalid: false, // do not focus the last invalid input
    rules: {
      //organisation
      'organisation[domain_name]': {
        minlength: 2,
        required: true
        },
      'organisation[address_attributes][address1]': {
        required: true
        },
        'organisation[address_attributes][postal_code]': {
          minlength: 4,
          required: true
        },
        'organisation[address_attributes][city]': {
          minlength: 2,
          required: true
        },
        country: {
          required: true
        },

        description: {
          required: true
        },
    },

      highlight: function (element) { // hightlight error inputs
        $(element).closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
        },

        unhighlight: function (element) { // revert the change done by hightlight
          $(element).closest('.form-group').removeClass('has-error'); // set error class to the control group
          },
  });