.row
  .col-md-12
    %h3.page-title
      Manage Organisations
      %small here you can manage Organisations
    %ul.page-breadcrumb.breadcrumb
      %li
        %i.fa.fa-home
        %a{:href => "/"} Home
        %i.fa.fa-angle-right
      %li
        %a{:href => "#"} Organisation
        %i.fa.fa-angle-right
      %li
        %a{:href => "#"} Manage Organisations
      %li.pull-right
        #dashboard-report-range.dashboard-date-range.tooltips{"data-original-title" => "Change dashboard date range", "data-placement" => "top"}
          %i.icon-calendar
          %span
          %i.fa.fa-angle-down
.col-md-12
  .portlet.box.yellow
    .portlet-title
      .caption
        %i.fa.fa-cogs>
          Approval Pending Organisations
      .tools
        
    .portlet-body
      .table-responsive
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th
                \#
              %th
                Owner Name
              %th
                Name
              %th
                Subdomain 
              %th
                Description
              %th
                Action
          %tbody
            - @approvel_pendding_orgs.each_with_index do |org, index|          
              %tr
                %td
                  = index + 1
                %td
                  = org.owner.present? ? org.try(:owner).try(:name) : "N/A"
                %td
                  = org.company_name.present? ? org.company_name : "N/A"
                %td
                  = org.domain_name.present? ? org.domain_name : "N/A"
                %td
                  = org.description.present? ? org.description : "N/A"
                %td
                  = form_for org, url: manage_organisation_path(org.id) do |f|
                    = f.hidden_field :approved, value: true
                    = hidden_field_tag :approve_request, true
                    = button_tag  class: "btn default btn-xs green" do
                      %i.fa.fa-edit
                      Approve
                    = link_to "Decline", remove_pending_org_manage_organisations_path(id: org.id), remote: true,class:"btn default btn-xs red", method: :delete
            = will_paginate @approvel_pendding_orgs, :param_name => 'pending_page' if @approvel_pendding_orgs.present?
  
.col-md-12
  .portlet.box.yellow
    .portlet-title
      .caption
        %i.fa.fa-cogs>
          Approved Organisations
      .tools
        
    .portlet-body
      .table-responsive
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th
                \#
              %th
                Owner Name
              %th
                Name
              %th
                Subdomain
              %th
                Description
              %th
                Action
          %tbody
            - @approved_orgs.each_with_index do |org, index|          
              %tr
                %td
                  = index + 1
                %td
                  = org.owner.name.present? ? org.owner.name : "N/A"
                %td
                  = org.company_name.present? ? org.company_name : "N/A"
                %td
                  = org.domain_name.present? ? org.domain_name : "N/A"
                %td
                  = org.description.present? ? org.description : "N/A"
                %td
                  = form_for org, url: manage_organisation_path(org.id) do |f|
                    = f.hidden_field :approved, value: false
                    - if !org.default_org?
                      = button_tag  class: "btn default btn-xs green" do
                        %i.fa.fa-edit
                        Deactivate
                  %a.btn.default.btn-xs.purple{:href => "#twilio_phone_#{org.id}", "data-toggle"=>"modal"}
                    %i.fa.fa-edit
                    Assign Twilio Number
                  .modal.fade.bs-modal-sm{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1", id: "twilio_phone_#{org.id}"}
                    .modal-dialog.modal-sm
                      .modal-content
                        .modal-header
                          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                          %h4.modal-title Add Twilio Number
                        = form_for org, url: manage_organisation_path(org.id) do |f|
                          .modal-body
                            = f.text_field :twilio_number, class: "form-control form-group"
                            = f.text_field :twilio_acc_sid, class: "form-control form-group", placeholder: "Place Twilio Account SID"
                            = f.text_field :twilio_auth_token, class: "form-control form-group", placeholder: "Place Twilio Account AUTH TOKEN"
                          .modal-footer
                            %button.btn.btn-sm.default{"data-dismiss" => "modal", :type => "button"} Close
                            %button.btn.btn-sm.blue{:type => "submit"} Save changes
                  %a.btn.default.btn-xs.blue{:href => "#braintree_#{org.id}", "data-toggle"=>"modal"}
                    Assign Braintree Credential
                  .modal.fade.bs-modal-sm{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1", id: "braintree_#{org.id}"}
                    .modal-dialog.modal-sm
                      .modal-content
                        .modal-header
                          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                          %h4.modal-title Braintree Client Library Key
                        = form_for org, url: manage_organisation_path(org.id) do |f|
                          .modal-body
                            = f.text_field :org_braintree_merchant_id, class: "form-control form-group", placeholder: "Please Enter Merchant Id", required: true
                            = f.text_field :org_braintree_public_key, class: "form-control form-group", placeholder: "Please Enter Public Key", required: true
                            = f.text_field :org_braintree_private_key, class: "form-control form-group", placeholder: "Please Enter Private Key", required: true

                          .modal-footer
                            %button.btn.btn-sm.default{"data-dismiss" => "modal", :type => "button"} Close
                            %button.btn.btn-sm.blue{:type => "submit"} Save changes

            = will_paginate @approved_orgs, :param_name => 'approve_page' if @approved_orgs.present?
