.form-wizard
  .form-body.registration_navigation
    %ul.nav.nav-pills.nav-justified.steps
      %li
        %a.step{"data-toggle" => "tab", :href => "#tab_1"}
          %span.number
            1
          %span.desc
            %i.fa.fa-check
            Personal Info
      %li
        %a.step{"data-toggle" => "tab", :href => "#tab_2"}
          %span.number
            2
          %span.desc
            %i.fa.fa-check
            Address
      %li
        %a.step.active{"data-toggle" => "tab", :href => "#tab_3"}
          %span.number
            3
          %span.desc
            %i.fa.fa-check
            Medical History
      %li
        %a.step{"data-toggle" => "tab", :href => "#tab_4"}
          %span.number
            4
          %span.desc
            %i.fa.fa-check
            Social History
      %li
        %a.step{"data-toggle" => "tab", :href => "#tab_5"}
          %span.number
            5
          %span.desc
            %i.fa.fa-check
            TOS
    #bar.progress.progress-striped{:role => "progressbar"}
      .progress-bar.progress-bar-success
    .tab-content
      .alert.alert-danger.display-none
        %button.close{"data-dismiss" => "alert"}
        You have some form errors. Please check below.
      .alert.alert-success.display-none
        %button.close{"data-dismiss" => "alert"}
        Your form validation is successful!
      
      #tab_1.tab-pane.active
        %h3.block Provide your personal details
        .form-group
          %label.control-label.col-md-3
            First name
            %span.required
              *
          .col-md-3
            = f.input :first_name,label: false,:wrapper => false
          %label.control-label.col-md-3
            Last name
            %span.required
              *
          .col-md-3
            = f.input :last_name,label: false,:wrapper => false
        .form-group
          %label.control-label.col-md-3
            Phone
          .col-md-3
            = text_field_tag  "tel_input", @patient.phone, class:"form-control tel-input"
            = f.hidden_field :phone
          %label.control-label.col-md-3
            Email
            %span.required
              *
          .col-md-3
            %div
              .col-md-11{:style => "padding-left: 0px;padding-right: 10px;"}
                = f.input :email,label: false,:wrapper => false, :input_html => { :onblur => "duplicate_email_check(); return false"}
                = hidden_field_tag "create_family", "No"
                = hidden_field_tag "relation"
              .col-md-1{:style => "padding-left: 5px;padding-right: 0px;"}
                = link_to "N/A", '#', class: "btn btn-primary button", id: "append_random_id"
        .form-group
          %label.control-label.col-md-3
            Birthday
            %span.required
              *
          .col-md-3
            = f.input :birthday, as: :date_picker, label: false,:wrapper => false
          
          %label.control-label.col-md-3
            Vision Insurance
            %span.required
              *
          .col-md-3
            = f.input :vision_insurance_id,as: :select,collection: current_organisation.try(:vision_insurances), :prompt => "Choose a vision insurance", :label => false,:label_method=> :name,:value_method=> :id, :wrapper => false
        .form-group
          .col-md-6
          - if current_organisation.setting.flag_for_medical == true
            %label.control-label.col-md-3
              Medical Insurance
            .col-md-3
              = f.input :medical_insurance_id,as: :select,collection: current_organisation.try(:medical_insurances), :prompt => "Choose a medical insurance", :label => false,:label_method=> :name,:value_method=> :id, :wrapper => false    

        .form-group
          %label.control-label.col-md-3
            Occupation
          .col-md-3
            = f.input :occupation,label: false,:wrapper => false
          %label.control-label.col-md-3
            Gender
          .col-md-3
            - gender_male =  (f.object.gender == "male")
            %div{style: "width: 90px;  float: left;"}
              %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Male", :checked => gender_male, :name => "patient[gender]", :type => "radio", :value => "male", width: 20}/
            - gender_female =  (f.object.gender == "female")
            %div{style: "width: 115px; float: left; padding-left: 10px;"}
              %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Female", :checked => gender_female, :name => "patient[gender]", :type => "radio", :value => "female"}/
        .form-group
          %label.control-label.col-md-3
            Ethnicity
          .col-md-3
            = f.select(:ethnicity, options_for_select([['White', 'white'], ['Spanish / Latino', 'spanish_latino'],['Black / African American','black_african_american'],['Asian','asian'],['Other','other']]),{ :prompt => 'Select One'}, { class: "form-control"})
          %label.control-label.col-md-3
            Eye Color
          .col-md-3
            = f.select(:eye_color, options_for_select([['Blue', 'blue'], ['Green', 'green'],['Hazel','hazel'],['Light Brown','light_brown'],['Dark Brown','dark_brown']]),{ :prompt => 'Select One'},{ class: "form-control"})
        .form-group
          %label.control-label.col-md-3
            Employer
          .col-md-3
            = f.input :employer,label: false,:wrapper => false

          %label.control-label.col-md-3
            Member ID
          .col-md-3
            = f.input :member_id,label: false,:wrapper => false
        - if current_doctor.present?
          .form-group
            %label.control-label.col-md-3
              SSN
            .col-md-3
              = f.input :ssn,label: false,:wrapper => false 
        .form-group
          %label.control-label.col-md-5
            Method Of Notification (Appointment Reminders, Invoices, Orders)
          .col-md-6.col-md-offset-1.control-label
            .col-md-3
              - email_notification_method = (f.object.notification_method == 1 ? true : false)
              %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Email", :name => "patient[notification_method]", :style => "-webkit-user-select: text;", :type => "radio", :value => "1", :checked => email_notification_method}
            .col-md-5 
              - text_notification_method = (f.object.notification_method == 2 ? true : false)
              %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Text Message", :name => "patient[notification_method]", :style => "-webkit-user-select: text;", :type => "radio", :value => "2" , :checked => text_notification_method}
            .col-md-3
              - both_notification_method = (f.object.notification_method == 3 ? true : false)
              %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Both", :name => "patient[notification_method]", :style => "-webkit-user-select: text;", :type => "radio", :value => "3", :checked => both_notification_method}
      #tab_2.tab-pane
        %h3.block Provide your Address details  
        .row
          .col-md-6{:style => "border-right: 1px solid"}    
            = f.fields_for :home_address do |addr|
              %h4.form-section Home
              .form-group
                %label.control-label.col-md-3
                  Address
                  %span.required
                    *
                .col-md-9
                  = addr.input :address1,label: false,:wrapper => false
              .form-group    
                %label.control-label.col-md-3
                  Apt. Number
                .col-md-9
                  = addr.input :address2,label: false,:wrapper => false
                = addr.hidden_field :addr_type ,:value => 'home'
              .form-group
                %label.control-label.col-md-2 Country
                .col-md-4
                  = addr.country_select :country_id, {priority: %w(US CA),selected: 'US'}, class: 'form-control country_select', :"data-target"=> "#home_address_state"
                %label.control-label.col-md-2
                  State
                #home_address_state.col-md-4
                  - country_code  = addr.object.country_id.present? ? addr.object.country_id : "US"
                  - if Carmen::Country.coded(country_code).try(:subregions).present?
                    = addr.subregion_select(:state_id, country_code, {}, { :class => 'form-control' } )
              .form-group
                %label.control-label.col-md-2
                  City
                  %span.required
                    *
                .col-md-4
                  = addr.input :city,label: false,:wrapper => false
                %label.control-label.col-md-2
                  Zip
                  %span.required
                    * 
                .col-md-4
                  = addr.input :postal_code,label: false,:wrapper => false
          .col-md-6       
            = f.fields_for :office_address do |addr|
              %h4.form-section Office
              .form-group
                %label.control-label.col-md-3
                  Address
                .col-md-9
                  = addr.input :address1,label: false,:wrapper => false
              .form-group     
                %label.control-label.col-md-3
                  Suite Number
                .col-md-9
                  = addr.input :address2, label: false,:wrapper => false
                = addr.hidden_field :addr_type ,:value => 'office' 
              .form-group       
                %label.control-label.col-md-2 Country
                .col-md-4
                  = addr.country_select :country_id, {priority: %w(US CA), selected: 'US'}, class: 'form-control country_select', :"data-target"=> "#office_address_state"
                %label.control-label.col-md-2
                  State
                #office_address_state.col-md-4
                  - country_code  = addr.object.country_id.present? ? addr.object.country_id : "US"
                  - if Carmen::Country.coded(country_code).try(:subregions).present?
                    = addr.subregion_select(:state_id, country_code, {}, { :class => 'form-control' } )
                        
              .form-group
                %label.control-label.col-md-2
                  City
                .col-md-4
                  = addr.input :city,label: false,:wrapper => false  
                %label.control-label.col-md-2
                  Zip 
                .col-md-4
                  = addr.input :postal_code,label: false,:wrapper => false 

      #tab_3.tab-pane
        %h3.block Provide your Medical History details
        .form-group.col-md-12
          %label.col-md-6
            Last Medical Exam
          %label.col-md-6
            Where
        .form-group.col-md-12
          .col-md-6
            = f.input :medical_details, label: false,:wrapper => false
          .col-md-6
            = f.input :medical_notes,label: false,:wrapper => false
        .form-group.col-md-12
          %label.col-md-6
            Last Eye Exam
          %label.col-md-6
            Where
        .form-group.col-md-12
          .col-md-6
            = f.input :last_eye_exam, label: false,:wrapper => false
          .col-md-6
            = f.input :referred_by_data,label: false,:wrapper => false


        .row
          .col-md-6    
        .row
          .col-md-12
            = render "/patient/patients/medical_history", f: f
            

      #tab_4.tab-pane
        %h3.block Provide your Social History details
        .form-group
          %label.control-label.col-md-3
            Tobacco Use
          .col-md-1
            - tobacco_use = (f.object.tobacco_use == true ? true : false)
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "patient[tobacco_use]", :type => "radio", :value => "true", checked: tobacco_use}/
          .col-md-1
            - tobacco_use = (f.object.tobacco_use == false ? true : false)
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "patient[tobacco_use]", :type => "radio", :value => "false", checked: tobacco_use}/
          %label.control-label.col-md-3
            Alcohol Use
          .col-md-1
            - alcohol_use = (f.object.alcohol_use == true ? true : false)
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "patient[alcohol_use]", :type => "radio", :value => "true", checked: alcohol_use}/
          .col-md-1
            - alcohol_use = (f.object.alcohol_use == false ? true : false)            
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "patient[alcohol_use]", :type => "radio", :value => "false", checked: alcohol_use}/
        .form-group
          %label.control-label.col-md-3
            Pregnant?
          .col-md-1
            - pregnate = (f.object.pregnate == true ? true : false)
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "patient[pregnate]", :type => "radio", :value => "true", checked: pregnate }/
          .col-md-1
            - pregnate = (f.object.pregnate == false ? true : false)            
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "patient[pregnate]", :type => "radio", :value => "false", checked: pregnate}/
          %label.control-label.col-md-3
            Breast Feeding?
          .col-md-1            
            - breast_feeding = (f.object.breast_feeding == true ? true : false)
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "patient[breast_feeding]", :type => "radio", :value => "true", checked: false}/
          .col-md-1
            - breast_feeding = (f.object.breast_feeding == false ? true : false)
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "patient[breast_feeding]", :type => "radio", :value => "false", checked: breast_feeding}/
        .form-group
          %label.control-label.col-md-3
            Do you use contact lenses?
          .col-md-1
            - contact_lenses = (f.object.contact_lenses == true ? true : false)
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "patient[contact_lenses]", :type => "radio", :value => "true", checked: contact_lenses}/
          .col-md-1
            - contact_lenses = (f.object.contact_lenses == false ? true : false)            
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "patient[contact_lenses]", :type => "radio", :value => "false", checked: contact_lenses}/
          %label.control-label.col-md-3
            Are you interested in Contact lenses?
          .col-md-1
            - interested_contact_lens = (f.object.interested_contact_lens == true ? true : false)
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "patient[interested_contact_lens]", :type => "radio", :value => "true", checked: interested_contact_lens}/
          .col-md-1
            - interested_contact_lens = (f.object.interested_contact_lens == false ? true : false)
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "patient[interested_contact_lens]", :type => "radio", :value => "false", checked: interested_contact_lens}/
        .form-group
          %label.control-label.col-md-3
            In LASIK?
          .col-md-1
            - in_lasik = (f.object.in_lasik == true ? true : false)
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "patient[in_lasik]", :type => "radio", :value => "true", checked: in_lasik}/
          .col-md-1
            - in_lasik = (f.object.in_lasik == false ? true : false)
            %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "patient[in_lasik]", :type => "radio", :value => "false", checked: in_lasik}/
        %h3.block Knowledge of office
        .form-group
          .col-md-3
            - internet_history_info = (f.object.history_info.include?("Internet Search"))

            %input.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Internet Search", :name => "patient[history_info][]", :type => "checkbox", :value => "Internet Search", checked: internet_history_info}/
          
          .col-md-3
            - insurance_history_info = (f.object.history_info.include?("Insurance"))
            %input.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Insurance", :name => "patient[history_info][]", :type => "checkbox", :value => "Insurance", checked: insurance_history_info}/
        
          .col-md-3
            - sidewalk_history_info = (f.object.history_info.include?("sidewalk sign"))

            %input.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Sidewalk sign", :name => "patient[history_info][]", :type => "checkbox", :value => "sidewalk sign", checked: sidewalk_history_info}/
        .form-group
          %label.control-label.col-md-3
            Referred By
          .col-md-3
            = f.input :referred_by,label: false,:wrapper => false

        %h3.block Emergency Contact
        = f.fields_for :relative do |rel|
          .form-group
            %label.control-label.col-md-3
              Name
            .col-md-3
              = rel.input :name, label: false,:wrapper => false
            %label.control-label.col-md-3
              Relationship
            .col-md-3
              = rel.select :relationship, options_for_select([['', ''], ['Spouse', 'spouse'],['Domestic Partner ','domestic_partner '],['Parent','parent'],['Friend','friend'],['Grandchild', 'grandchild'],['Sibling','sibling'],['Cousin','cousin'],['Grandparent','grandparent'],['Other','other'],['Unknown','unknown']]), {}, {:class => "form-control",label: false,:wrapper => false}
          .form-group
            %label.control-label.col-md-3
              Phone Number
            .col-md-3
              = text_field_tag  "tel_input", @patient.relative_phone, class:"form-control tel-input"
              = rel.hidden_field :phone

      #tab_5.tab-pane
        %h3.block Terms of service
        .row
          .col-md-12
            - current_organisation.try(:setting).try(:documents).all.each_with_index do |doc, index|
              .col-md-6.title
                = "#{index+1} #{doc.docs_file_name.truncate(60)}"
              %iframe{:src=>"#{doc.present? ? doc.docs.url : '/Hippa.htm'}", :height=>"400px", :width => "100%" }

        .form-group
          .col-md-1
            = f.input :accept_terms,label: false,:wrapper => false, type: :checkbox
          %label.control-label.col-md-3
            Accept terms and conditions
            %span.required
              *
        %br
        %hr
        .row
          .col-md-1.accept_cond
          .col-md-2.accept_cond
            %b
              Date:
          .col-md-1.accept_cond
            = f.text_field :sign_date,label: false,:wrapper => false,:style=>"border: 0;", :value => "#{f.object.sign_date.present? ? f.object.sign_date : Date.today.to_s}"
        %br
        .row
          .col-md-1.accept_cond
          .col-md-2.accept_cond
            %b
              Name:
          .col-md-2.patient_name.accept_cond
            = "#{f.object.name}"
        %br
        .row
          .col-md-1.accept_cond
          .col-md-2.accept_cond
            %b
              Signature:
          .col-md-5.patient_signature.accept_cond
            .signature
              = "#{f.object.name}"

  .form-actions.fluid
    .row
      .col-md-12
        .col-md-offset-3.col-md-9
          %a.btn.default.button-previous{:href => "javascript:;"}
            %i.m-icon-swapleft
            Back
          %a.btn.blue.button-next{:href => "javascript:;"}
            Continue
            %i.m-icon-swapright.m-icon-white

          %button.btn.green.button-submit{type: "submit", data: { disable_with: "Processing..." }}
            Submit
            %i.m-icon-swapright.m-icon-white
:css
  @font-face {
    font-family: signature;
    src: url(/signature.ttf);
  }
  .signature {
    font-family: signature;
    font-size: 40px;
  }

  .registration_navigation > .nav > li > a {
    position: relative;
    display: block;
    padding: 0
  }

  .registration_navigation .steps > li > a.step > .number {
    margin-right: 0px;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }   
    .logo-default
    {
    max-width: 60px;
    }
    .menu-toggler.responsive-toggler
    {
        visibility: hidden;
        z-index: 1;
        position: absolute;
    left: 0px;
    top: 0px;
    }
    .page-header.navbar .top-menu {
    display: block;
    clear: none;
    }
  }
:javascript
  
  jQuery(document).ready(function() {       
    initializePlugins();   
    patientRegistrationFormWizard.init();
  });

  diseaseAutocompleteField();
  familyDiseaseAutocompleteField();
  disease_toggle();

  function duplicate_email_check() {
    var email = $('#patient_email').val();
    $(".append_dup_email").text("Duplicate Email: " + email);
    var path = '/patients/check_duplicate_email';
    $.ajax({
      url: path,
      type: 'get',
      data: "email=" + encodeURIComponent(email),
      success: function(response) {
        // Below code is added to fetch patient's name corresponding to duplicate email id.
        fetch_pname = response.substr ( response.indexOf ( 'id' ) + 4 );
        record_name = fetch_pname.replace(/[_\W]+/g, " ");
        $(".append_name").text("This Email is already used by " + record_name);
      }
    });
  }

  $(".title").css({"font-size":"20px","margin-bottom":"15px","margin-top":"15px"});
  $(".accept_cond").css('display','none');

  $('#patient_accept_terms').click(function() {
    if($(this).is(':checked'))
    {
      $(".accept_cond").css('display','block');
      $('.patient_name').html($('#patient_first_name').val().substr(0, 1).toUpperCase() + $('#patient_first_name').val().substr(1).toLowerCase() + " " + $('#patient_last_name').val().substr(0, 1).toUpperCase() + $('#patient_last_name').val().substr(1).toLowerCase());
      $('.patient_signature').html($('#patient_first_name').val()+" "+$('#patient_last_name').val());
      $('.patient_signature').css({"font-family": "signature","font-size": "40px"});
    }
    else
    {
      $(".accept_cond").css('display','none');
    }
  })

  icheck();
  validates_name();
  append_random_id_under_account_tab();