.portlet-body.icheck_fixed_190.medical-history-section
  .row
    .col-md-6
      - {"pmhxes"=> "Patient Medical History", "fmhxes"=> "Family Medical History", "pohxes"=> "Patient Ocular History","medications" => "Medications"}.each do |medical_issue, value|

        = exam_simple_checkbox_add "#{medical_issue}_check", f, {checkbox_label: value} do         
          - if medical_issue == "fmhxes"
            - if @patient.try(:fmhxes).present?
              - @patient.try(:fmhxes).group_by(&:relation).each do |key, fmhxes_sorted_by_relations|
                - index = 1
                .md-container
                  = f.simple_fields_for medical_issue, fmhxes_sorted_by_relations do |med|
                    .row
                      .col-md-offset-1.col-md-3
                        - if index == 1
                          = med.input :relation, collection:  MedicalHistory::Relation, input_html:  {rows: 3, class: 'relation_select'}, label: false, prompt: 'Select Relation'
                        -else
                          = med.input :relation, as: :hidden, input_html: {class: "relation_field"}
                      .col-md-5.child-toggler
                        = med.input :checked, label: false, as: :boolean, input_html: {:checked => !(med.try(:object).new_record?), data: { 'toggle-element' => "##{medical_issue}_#{med.try(:object).try(:disease).try(:key_name)}"}, toggle: '', :class => 'icheck-me checkbox-la', "data-color" => "blue", "data-skin" => "line", "data-text" => med.try(:object).try(:disease).try(:name)}
                        
                      .col-md-3{ id: "#{medical_issue}_#{med.try(:object).try(:disease).try(:key_name)}" }
                        = med.hidden_field :disease_id
                        = med.text_field :notes, placeholder: "Add Notes", class: "form-control"
                    - index = index+1
                  = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue),:id => "#{medical_issue}", class: "family_disease_autocomplete_field form-control pull-right", "data-type"=> medical_issue, "data-patient-type-params" => "patient", placeholder: "Add disease", style: "width: 61%;"
                  .clearfix
                  %br
            .md-container
              = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue),id: "#{medical_issue}", class: "add_new_family_disease_autocomplete_field form-control pull-right", "data-type"=> medical_issue, "data-patient-type-params" => "patient", placeholder: "Add disease", style: "width: 90%"

              .clearfix
              %br

          - else
            = f.simple_fields_for medical_issue do |med|
              .row                                    
                .col-md-offset-1.col-md-5.child-toggler 
                  = med.input :checked, label: false, as: :boolean, input_html: {:checked => !(med.try(:object).new_record?), data: { 'toggle-element' => "##{medical_issue}_#{med.try(:object).try(:disease).try(:key_name)}"}, toggle: '', :class => 'icheck-me checkbox-la', "data-color" => "blue", "data-skin" => "line", "data-text" => med.try(:object).try(:disease).try(:name)}
                .col-md-6{ id: "#{medical_issue}_#{med.try(:object).try(:disease).try(:key_name)}" }
                  
                  = med.hidden_field :disease_id
                  = med.text_field :notes, placeholder: "Add Notes", class: "form-control"
            = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue),:id => "#{medical_issue}", class: "disease_autocomplete_field pull-right form-control", "data-type"=> medical_issue, "data-patient-type-params" => "patient",  placeholder: "Add More", style: "width: 88%"
            .clearfix
            %br

    .col-md-6
      - {"fohxes"=> "Family Ocular History", "sxhxes"=>"Patient Surgical History", "allergies"=> "Allergy"}.each do |medical_issue, value|
        = exam_simple_checkbox_add "#{medical_issue}_check", f, {checkbox_label: value} do
          - if medical_issue == "fohxes"
            - if @patient.try(:fohxes).present?
              - @patient.try(:fohxes).group_by(&:relation).each do |key, fohxes_sorted_by_relations|
                - index = 1
                .md-container
                  = f.simple_fields_for medical_issue, fohxes_sorted_by_relations do |med|
                    .row
                      .col-md-offset-1.col-md-3
                        - if index == 1
                          = med.input :relation, collection:  MedicalHistory::Relation, input_html:  {rows: 3, class: 'relation_select'}, label: false, prompt: 'Select Relation'
                        -else
                          = med.input :relation, as: :hidden, input_html: {class: "relation_field"}
                      .col-md-5.child-toggler
                        = med.input :checked, label: false, as: :boolean, input_html: {:checked => !(med.try(:object).new_record?), data: { 'toggle-element' => "##{medical_issue}_#{med.try(:object).try(:disease).try(:key_name)}"}, toggle: '', :class => 'icheck-me checkbox-la', "data-color" => "blue", "data-skin" => "line", "data-text" => med.try(:object).try(:disease).try(:name)}
                        
                      .col-md-3{ id: "#{medical_issue}_#{med.try(:object).try(:disease).try(:key_name)}" }
                        = med.hidden_field :disease_id
                        = med.text_field :notes, placeholder: "Add Notes", class: "form-control"
                    - index = index+1
                  = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue), class: "family_disease_autocomplete_field form-control pull-right", "data-type"=> medical_issue, "data-patient-type-params" => "patient", placeholder: "Add disease", style: "width: 61%;"
                  .clearfix
                  %br
            .md-container
              = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue),id: "#{medical_issue}", class: "add_new_family_disease_autocomplete_field form-control pull-right", "data-type"=> medical_issue,"data-patient-type-params" => "patient", placeholder: "Add disease", style: "width: 90%"

              .clearfix
              %br
          - else
            = f.simple_fields_for medical_issue do |med|
              .row
                .col-md-offset-1.col-md-5.child-toggler
                  = med.input :checked, label: false, as: :boolean, input_html: { :checked => !(med.try(:object).new_record?), data: { 'toggle-element' => "##{medical_issue}_#{med.try(:object).try(:disease).try(:key_name)}"} , toggle: '', :class => 'icheck-me checkbox-la', "data-color" => "blue", "data-skin" => "line", "data-text" => med.try(:object).try(:disease).try(:name)}
                .col-md-6{ id: "#{medical_issue}_#{med.try(:object).try(:disease).try(:key_name)}" }
                  = med.hidden_field :disease_id
                  = med.text_field :notes, placeholder: "Add Notes", class: "form-control"
            = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue),:id => "#{medical_issue}", class: "disease_autocomplete_field pull-right form-control " , "data-type"=> medical_issue, "data-patient-type-params" => "patient", placeholder: "Add More", style: "width: 88%"
            .clearfix
            %br       