#registered-payment-method.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "my-registered-payment-method-modalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content{:style => "width: 115%;"}
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#my-registered-payment-method-modalLabel.modal-title
          Checkout
      = form_for @transaction.present? ? @transaction : OrderTransaction.new, :url => create_using_profile_payments_path, remote: true, :authenticity_token => true, html: {id: "payment-form",class: "order_confirm_btn"} do |f|
        .modal-body
          .row
            .col-md-5
              .col-md-6
                %h4
                  Order Total
              .col-md-6
                %h4
                  #order_total
                    %i.fa.fa-dollar#total_balance
                    %span
                      #{number_with_precision(@transaction.orderable.total, :precision =>2)}
              .col-md-6
                %h4
                  Balance Due
              .col-md-6
                %h4
                  #update_balance
                    %i.fa.fa-dollar.balance_due
                    %span
                      #{number_with_precision(@transaction.orderable.balance_due, :precision =>2)}
            .col-md-7
              .col-md-12.border  
                - if current_organisation.setting.flag_for_reward == true
                  .col-md-4
                    %h4
                      Rewards
                  .col-md-8
                    .col-md-6
                      %input#reward_applied.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "On",:name => "apply_reward",:type => "radio", value: 1}
                    .col-md-6
                      %input.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Off", :name => "apply_reward", :type => "radio", checked: true, value: 0}
                    .col-md-5
                      %h5
                        Available      
                    .col-md-6
                      %h5
                        #reward_balance
                          %i.fa.fa-dollar
                          %span
                            #{number_with_precision(@transaction.orderable.joint_resource.reward_point, :precision =>2)}
                        #used_reward_points.hidden
                
          .row
            .col-md-12#order_audits
          %hr
            
          .row.margin-bottom-40
            .col-md-12
              #payment
                #dropin-container
                %input#nonce{:name => "payment_method_nonce", :type => "hidden"}/
                %input#token{:name => "payment_method_token", :type => "hidden"}/
                = f.hidden_field :orderable_id
                = f.hidden_field :orderable_type
          -if current_doctor.present?
            .col-md-12.mimic_container.cash_pay
              %a.cash_payment.btn
                %img{:src => "/images/money.png", :width => "40", height: "24"}
              %span.label_des
                Cash  
              .col-md-12
                .input-icon.cash_fields{:style => "display :none;"}
                  %i.fa.fa-dollar
                  %input.form-control.cash_payment_amount{:name => "cash_amount",:type => "text",placeholder: 'enter cash amount',:data => { :order_total_amount => @transaction.orderable.total}}
                %br           
            .col-md-12.mimic_container.check_pay
              %a.check_payment.btn
                %img{:src => "/images/check-icon.png", :width => "40", height: "40"}
              %span.label_des
                Check  
              .col-md-12.check_payment_div{:style => "display :none;"}
                %div
                  %input.form-control.check_payment_number{:name => "check_number",:type => "text",placeholder: 'enter check number'}
                %br
                .input-icon.check_amt
                  %i.fa.fa-dollar
                  %input.form-control.check_payment_amount{:name => "check_amount",:type => "text",placeholder: 'enter check amount'}
                %br           
            .col-md-12.mimic_container.other_pay
              %a.other_payment.btn
                %img{:src => "/images/dollor.png", :width => "40", height: "40"}
              %span.label_des
                Other  
              .col-md-12.other_fields.pull-right{:style => "display :none;"}
                %div
                  %input.form-control.check_payment_number{:name => "comments",:type => "text",placeholder: 'comments'}
                %br  
                %div
                  %input.form-control.check_payment_number{:name => "additional_notes",:type => "text",placeholder: 'additional notes'}
                %br    
                .input-icon
                  %i.fa.fa-dollar
                  %input.form-control.cash_payment_amount{:name => "other_amount",:type => "text",placeholder: 'payment amount',:data => { :order_total_amount => @transaction.orderable.total}}
                %br 
            .row
              .col-md-12.error_payment_div.alert.alert-success{:style => "display :none;"}

            .h4{:style => "text-align: center;"}  
            - if notice
              .alert.alert-success.alert-dismissible{:role => "alert"}
                %button.close{:type => "button", data: {:dismiss => "alert"}}
                  %span{"aria-hidden" => "true"}
                    &times;
                  %span.sr-only
                    Close
                = notice          
                
        .modal-footer
          %button.btn.btn-default{:type => "button","data-dismiss" => "modal"} Cancel
          - if @transaction.orderable.transactions.present? || @transaction.orderable.cash_payments.any? || @transaction.orderable.check_payments.any? 
            %button.btn.btn-danger{:type => "button",data: {toggle: "modal", target: "#order_audits_modal"},:title => 'transactions details & refund option'}
              %i.fa.fa-history
              Refund
          %button#confirm_payment.btn.btn-default.hidden{:type => "button"}
            %i.fa.fa-credit-card
            Add Card
          %button.btn.btn-primary.submit_payment{:type => "submit"}
            %i.m-icon-swapright.m-icon-white
            Confirm Order
#order_audits_modal.modal.fade.modal-scrollable{"aria-hidden" => "true", "aria-labelledby" => "my-registered-payment-method-audits-modalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#my-registered-payment-method-modalLabel.modal-title
          %i.fa.fa-history
          Manage Refunds
      .modal-body{:style => 'max-height: 300px !important;overflow-y: auto;'}
        .tabbable.tabbable-custom.tabbable-full-width
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#tab_1_1"}
                Cash Payments
            %li
              %a{"data-toggle" => "tab", :href => "#tab_1_2"}
                Check Payments
            %li
              %a{"data-toggle" => "tab", :href => "#tab_1_3"}
                Card Payments
          .tab-content
            #tab_1_1.tab-pane.active
              .portlet-body
                %table.table.table-striped.table-hover
                  %thead
                    %tr
                      %th
                        ID
                      %th
                        Amount
                      %th
                        Charged On
                      %th
                        Collected By
                      %th
                        Refund
                  %tbody
                    .col-md-12
                      -if  @transaction.orderable.cash_payments.any?
                        - @transaction.orderable.cash_payments.each do |cash_payment|
                          %tr
                            %th
                              = "##{cash_payment.id.to_s}" 
                            %th
                              = "$#{number_with_precision(cash_payment.amount, :precision =>2)}"
                            %th
                              = cash_payment.created_at.strftime("%B %d, %Y at %I:%M %p")
                            %td
                              = cash_payment.doctor.name
                            %td
                              -if cash_payment.status.to_sym != :refund 
                                = link_to '<i class="fa fa-exchange" aria-hidden="true"></i>'.html_safe, refund_amount_order_path(id: cash_payment.id,payment_type: cash_payment.class.name), :method => :put, :remote => true, :class=> 'cash_check_payment'
                              -else
                                = 'Refunded'
                      -else
                        %tr
                          %td.text-center{:colspan => 5}
                            %i.fa.fa-search
                            %em No records to display
            #tab_1_2.tab-pane
              .portlet-body
                %table.table.table-striped.table-hover
                  %thead
                    %tr
                      %th
                        ID
                      %th
                        Amount
                      %th
                        Check Number
                      %th
                        Charged On
                      %th
                        Collected By
                      %th
                        Refund
                  %tbody
                    .col-md-12
                      -if @transaction.orderable.check_payments.any?
                        - @transaction.orderable.check_payments.each do |check_payment|
                          %tr
                            %th
                              = "##{check_payment.id.to_s}"
                            %th
                              = check_payment.amount.to_s
                            %th
                              = check_payment.check_number.to_s  
                            %td
                              = check_payment.created_at.strftime("%B %d, %Y at %I:%M %p")
                            %td
                              = check_payment.doctor.name
                            %td
                              -if check_payment.status.to_sym != :refund 
                                = link_to '<i class="fa fa-exchange" aria-hidden="true"></i>'.html_safe, refund_amount_order_path(id: check_payment.id,payment_type: check_payment.class.name), :method => :put, :remote => true, :class=> 'cash_check_payment' 
                              -else
                                = 'Refunded'
                      -else
                        %tr
                          %td.text-center{:colspan => 6}
                            %i.fa.fa-search
                            %em No records to display

            / tab_1_2
            #tab_1_3.tab-pane.card_transactions
              .portlet-body
                - @transactions = @transaction.orderable.transactions.flatten
                %table.table.table-striped.table-hover
                  %thead
                    %tr
                      %th
                        CHARGED ON
                      %th
                        AMOUNT
                      %th
                        STATUS
                      %th
                        RESPONSE ID
                      %th
                        REFUND
                  %tbody
                    .col-md-12
                      -if @transactions.any?
                        - @transactions.each do |order_transaction|
                          %tr{:title => order_transaction_title(order_transaction) }
                            %th
                              = order_transaction.created_at.strftime("%B %d, %Y  at %I:%M %p")
                            %td
                              = number_to_currency(order_transaction.amount)
                            %td.hidden-480
                              = order_transaction.status == 3 ? "Success" : (order_transaction.status == 2 ? "Failed" : "Processing")
                            %td.hidden-480
                              = order_transaction.response_id
                            %td.hidden-480
                              -if order_transaction.transaction_type.to_sym == :refund && order_transaction.status == 3
                                = "Refunded"
                              -elsif order_transaction.transaction_type.to_sym == :auth_capture && order_transaction.status == 3
                                = link_to '<i class="fa fa-exchange" aria-hidden="true"></i>'.html_safe,refund_using_profile_payment_path(order_transaction), remote: true,:confirm => 'Are you sure ?', :title => 'click to process refund', :class => 'refund_transaction'
                              -else
                                = "-------"
                      -else
                        %tr
                          %td.text-center{:colspan => 5}
                            %i.fa.fa-search
                            %em No records to display
:css
  .mimic_container{
    border: 1px solid #ccc;
  }
  .label_des{
    color: #000;
    font-size: 16px;
    margin-left: 20px;
  }
  .border{
    border: 1px solid #ccc;
    padding-top: 20px;
  }
:javascript
  

  $('.cash_pay').click(function(){
    $(".cash_fields").show();
    $('.check_payment_div').hide();
    $('.other_fields').hide();
  });

  $('.check_pay').click(function(){
    $('.check_payment_div').show();
    $(".cash_fields").hide();
    $('.other_fields').hide();
  });

  $('.other_pay').click(function(){
    $('.other_fields').show();
    $('.check_payment_div').hide();
    $(".cash_fields").hide();
  });

  icheck();
  $('#reward_applied').on('ifChecked',function(){
    var due_bal = parseFloat($('#update_balance').children().last().text());
    var reward_bal = parseFloat($('#reward_balance').children().last().text())
    var order_total = parseFloat($('#order_total').children().last().text())
    if(due_bal > reward_bal)
    {
      $('#reward_balance').children().last().text('0.00')
      $('#used_reward_points').text(reward_bal.toFixed(2))
      $('#update_balance').children().last().text((due_bal - reward_bal).toFixed(2) )
      $('#order_total').children().last().text((order_total - reward_bal).toFixed(2) )
    }
    else
    {
      $('#update_balance').children().last().text('0.00')
      $('#used_reward_points').text(due_bal.toFixed(2))
      $('#reward_balance').children().last().text((reward_bal - due_bal).toFixed(2) )
      $('#order_total').children().last().text((order_total - due_bal).toFixed(2) )
    }
  })
  $('#reward_applied').on('ifUnchecked',function(){
    var reward_bal = parseFloat($('#reward_balance').children().last().text())
    var used_bal = parseFloat($('#used_reward_points').text())
    var due_bal = parseFloat($('#update_balance').children().last().text());
    var order_total = parseFloat($('#order_total').children().last().text())
    $('#reward_balance').children().last().text((used_bal + reward_bal).toFixed(2))
    $('#update_balance').children().last().text((due_bal + used_bal).toFixed(2) )
    $('#order_total').children().last().text((order_total + used_bal).toFixed(2) )
    $('#used_reward_points').text('0.00')
  })

  $(document).ready(function(){
    var resource_id = "#{@resource.id}";
    $.ajax({
      url: '/payments/pay_online',
      data: 'resource_id=' + resource_id,
      success: function(data){
        $('#confirm_payment').removeClass('hidden');
        var form = $('#payment');
        var nonceInput = $('#nonce');
        var amount = parseFloat($('#update_balance').children().last().text());
        braintree.dropin.create({
          authorization: data.token,
          container: '#dropin-container',
          paypal: {
            flow: 'vault'
          }
        }, function (createErr, instance) {
            if (createErr){
                // handle error
              }
            
            $('#confirm_payment').click(function(){
              
              instance.requestPaymentMethod(function (err, payload) {
                if (err){
                  // handle error
                }
                // Send payload.nonce to your server
                if(typeof payload == "object")
                  $('#nonce').val(payload.nonce);
                //form.submit();
                // Submit payload.nonce to your server
                var nonce = payload.nonce;
                var resource_id = "#{@resource.id}";
                $.ajax({
                  url: '/payments/create_payment_method',
                  data: {
                    payment_method_nonce: nonce,
                    resource_id: resource_id
                  },
                  success: function(data){
                    var token_generate = data.token_generated;
                    $('#token').val(token_generate); 
                  },
                });
                var tokenInput = $('#token');
              });
            });
        });
      }
    });
  })

