<% if @patient.present? %>
  <% record_name = @patient.name %>
  var text = "";
  var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
  for( var i=0; i <4; i++ )
     text += possible.charAt(Math.floor(Math.random() * possible.length));
    $("#patient_email").val("<%= escape_javascript get_data.split(',').first %>+"+text+"@<%= escape_javascript get_data.split(',').second %>");

<% end %>