.container
  .col-md-12.col-sm-12
    %h3 Complete Profile    
    .login 
      %div{style: "border: whitesmoke solid; background: white;"}
        #form_wizard_2.blue
          .portlet-body.form
            = simple_form_for @patient,  html: {id: "patient_registration_wizard_form", class: "form-horizontal"}  do |f|
              = render 'form', f: f