.row.margin-bottom-40
  .col-md-12.col-sm-12
    %h1 Create Patient
    %p#notice= notice
    
    .login 
      %div{style: "border: whitesmoke solid; background: white;"}
        #form_wizard_2.blue
          .portlet-body.form
            -unless @patient.present?
              -@patient = Patient.new
              -@home_address = @patient.build_home_address country_id: current_organisation.try(:address).try(:country_id), state_id: current_organisation.try(:address).try(:state_id)
              -@office_address = @patient.build_office_address country_id: current_organisation.try(:address).try(:country_id), state_id: current_organisation.try(:address).try(:state_id)
              -@joint_resource = @patient.build_joint_resource
              -@relative = @patient.build_relative
              -current_organisation.diseases.default_medical.each do |disease|
                -@patient.pmhxes.build(disease: disease)      
                -@patient.pohxes.build(disease: disease)
                -@patient.medications.build(disease: disease)
            = simple_form_for @patient, html: {id: "patient_registration_wizard_form", class: "form-horizontal"}  do |f|
              = render '/patient/patients/form', f: f

#family-member-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "FamilyMember-modal-label",:role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.append_dup_email
          Duplicate Email
      .modal-body{:style => 'max-height: 200px;overflow-y: auto;'}
        %h2.append_name
          This Email is already used by
        %span
          %div
            .col-md-5
              Select Relationship
            .col-md-4
              = select_tag "family_relation", options_for_select([['', ''], ['Spouse', 'spouse'],['Domestic Partner ','domestic_partner '],['Parent','parent'],['Friend','friend'],['Grandchild', 'grandchild'],['Sibling','sibling'],['Cousin','cousin'],['Grandparent','grandparent'],['Other','other'],['Unknown','unknown']]),:class => "form-control"
            .col-md-3

      .modal-footer
        %a{:href => "#",:id => "create_family_id",:class => "btn btn-success"} Confirm
        %button#no_family.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Cancel

#medical_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medical History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_pmhxes", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "medical"
                = hidden_field_tag "type","patient_medical"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
            

        .modal-footer            
          %button.btn.btn-sm.blue Save
#medical_history_modal_1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medical History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_pmhxes_1", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "medical"
                = hidden_field_tag "type","patient_medical"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
            

        .modal-footer            
          %button.btn.btn-sm.blue Save
#family_medical_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medical History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_fmhxes", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "medical"
                = hidden_field_tag "type","family_medical"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
            

        .modal-footer            
          %button.btn.btn-sm.blue Save
#family_medical_history_modal_1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medical History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_fmhxes_1", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "medical"
                = hidden_field_tag "type","family_medical"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
            

        .modal-footer            
          %button.btn.btn-sm.blue Save
#oculus_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Ocular History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_pohxes", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "oculus"
                = hidden_field_tag "type","patient_ocular_history"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer
          %button.btn.btn-sm.blue Save
#oculus_history_modal1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Ocular History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_pohxes_1", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "oculus"
                = hidden_field_tag "type","patient_ocular_history"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer
          %button.btn.btn-sm.blue Save
#family_oculus_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Ocular History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_fohxes", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "oculus"
                = hidden_field_tag "type","family_patient_ocular_history"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer
          %button.btn.btn-sm.blue Save
#family_oculus_history_modal_1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Ocular History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_fohxes_1", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "oculus"
                = hidden_field_tag "type","family_patient_ocular_history"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer
          %button.btn.btn-sm.blue Save
#psychology_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medication
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_medications", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "psychology"
                = hidden_field_tag "type","patient_medication"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer
          %button.btn.btn-sm.blue Save
#surgery_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Surgeries
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_surgery", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "surgery"
                = hidden_field_tag "type","patient_surgery"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer
          %button.btn.btn-sm.blue Save
#allergy_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Allergies
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_allergy", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "allergy"
                = hidden_field_tag "type","patient_allergy"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer
          %button.btn.btn-sm.blue Save

:javascript
  $(document).on('click','#create_family_id',function(){
    $("#family-member-modal").modal('hide');
    $('#create_family').val('Yes');
    $('#relation').val($('#family_relation').val());
  })

  $(document).on('click','#no_family',function(){
    $('#patient_email').val('');
  })  