console.log('partial rendered successfuly');
$('#registered_payment_checkout').html("<%= escape_javascript(render partial: '/patient/patients/profile_payment') %>");
console.log('partial rendered successfuly');
<% if @resource.try(:profile).present? && !@resource.try(:profile).try(:validated?) %>
  $("#stack_error").modal('show');
  console.log('inside if condition ');
<% else %>
  $("#registered-payment-method").modal('show');
  console.log('inside else part')
<% end %>