= form_for :document, :remote => true,:html => { :id => "upload_exam_for_doc" } do |upload_f|
  #attached_docs_page.tab_reload.hidden{:"data-href"=> attached_docs_examination_manage_index_path(@examination)}
  .portlet.box
    .portlet-title.hex_424242
      .caption
        %i.fa.fa-plus-square>
        Upload a file
    .portlet-body
      .row
        .col-md-3
          = file_field_tag "attached_file", name: "examination[attached_file]"
        .col-md-2
          = link_to "<button id=\"exam_form_img_upload\" class=\"btn btn-success btn-xm\" type=\"button\">Upload</button>".html_safe, "#", class: "attached-doc-btn btn-left", :"data-value"=> "attached_docs", :"data-href"=> upload_file_examination_path(@examination.id), :"data-page"=> "attached_docs_page",:"data-no-turbolink"=> "true"
        #progress-div
          #progress-bar
        #targetLayer

- @setting = current_organisation.setting
= simple_form_for @examination, remote: true, html: {class: "exam-form wrapper-fluid"} do |f|
  .div{style: "background-color: white"}
    = hidden_field_tag :submit, "attached_docs"   
     
    -if class_name(@resource)=="Patient"
      -resource_name="patient".to_sym
    -else
      -resource_name="family_member".to_sym
    = hidden_field_tag('order_id',params[:order_id])
   
    = f.input :joint_resource_id, as: :hidden
    = f.input :booking_id, as: :hidden 

    .portlet.box
      .portlet-title.hex_424242
        .caption
          %i.fa.fa-plus-square>
          Uploaded Documents
      .portlet-body
        .row
          -@examination.documents.each do |doc|
            -if (doc.docs_content_type =~ %r(image) || doc.docs_content_type == 'application/pdf')
              .col-md-2
                = link_to "<img src= #{doc.docs.url(:thumb)}>".html_safe, download_file_examinations_path("doc_id" => doc.id),:"data-no-turbolink"=> "true"
                %br
                = doc.docs_file_name.truncate(25)
                = link_to 'x', delete_file_examinations_path("doc_id" => doc.id), :class => 'image_delete', data: { confirm: "Are you sure?" },:remote => true,:"data-no-turbolink"=> "true"
            -else
              .col-md-2
                = link_to "<img src=\"/images/word_icon1.png\">".html_safe, download_file_examinations_path("doc_id" => doc.id),:"data-no-turbolink"=> "true"
                %br
                = doc.docs_file_name.truncate(25)
                = link_to 'x', delete_file_examinations_path("doc_id" => doc.id), :class => 'image_delete', data: { confirm: "Are you sure?" },:remote => true,:"data-no-turbolink"=> "true"
          -if @previous_exam.present?
            -@previous_exam.documents.each do |doc|
              -if (doc.docs_content_type =~ %r(image) || doc.docs_content_type == 'application/pdf')
                .col-md-2
                  = link_to "<img src= #{doc.docs.url(:thumb)}>".html_safe, download_file_examinations_path("doc_id" => doc.id),:"data-no-turbolink"=> "true"
                  %br
                  = doc.docs_file_name.truncate(25)
                  = link_to 'x', delete_file_examinations_path("doc_id" => doc.id), :class => 'image_delete', data: { confirm: "Are you sure?" },:remote => true,:"data-no-turbolink"=> "true"
              -else
                .col-md-2
                  = link_to "<img src=\"/images/word_icon1.png\">".html_safe, download_file_examinations_path("doc_id" => doc.id),:"data-no-turbolink"=> "true"
                  %br
                  = doc.docs_file_name.truncate(25)
                  = link_to 'x', delete_file_examinations_path("doc_id" => doc.id), :class => 'image_delete', data: { confirm: "Are you sure?" },:remote => true,:"data-no-turbolink"=> "true"
      
  = f.input :joint_resource_id, as: :hidden
  = f.submit "Finalized", class: 'hidden', id: "form_finalized_button", remote: false   

= render '/doctor/manage_examination/shared/final_count_js' 

:css
  
  #progress-bar {
    background-color: #12CC1A;
    height:20px;
    color: #FFFFFF;
    width:0%;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    transition: width .3s;
  }
  #progress-div {
    border:#0FA015 1px solid;
    border-radius:4px;
    text-align:center;
    margin-top: 5%;
    width: 50%;
    margin-left: 1%;
  }
  #targetLayer{
    width:100%;
    text-align:center;
  }
  
:javascript
  
  $(document).ready(function(){
    url = $('#overview_tab').attr('data-href')
    $('#print_overview').load( url, function( response, status, xhr ) {   
      $('.spinner').hide();
      icheck();      
      examinationsFormPage();      
      initializePlugins();
    });
  })
  examFormSubmitEnter();


