- @setting = current_organisation.setting
= simple_form_for @examination, remote: true, html: {class: "exam-form wrapper-fluid"} do |f|
  .div{style: "background-color: white"}
    = hidden_field_tag :submit, "external_internal"
    -if class_name(@resource)=="Patient"
      -resource_name="patient".to_sym
    -else
      -resource_name="family_member".to_sym
    = hidden_field_tag('order_id',params[:order_id])
   
    = f.input :joint_resource_id, as: :hidden
    = f.input :booking_id, as: :hidden 
    #external_internal_page.tab_reload.hidden{:"data-href"=> external_internal_examination_manage_index_path(@examination)}
    .portlet.box
      .portlet-title.hex_424242
        .caption
          %i.fa.fa-plus-square>
          External Exam
      .portlet-body
        .row
          .col-md-12
            SLE
          #external_exam.col-md-12
            = f.simple_fields_for :external_exam do |external_exam|
              = external_exam.hidden_field :eye_draw_data, id: "eye_draw_data"
              .row
                .col-md-6
                  %div.back-eye-image.img-responsive#eye_editor{onmouseover: "$('#edit_eye').prop('checked', true);"}
                .col-md-2.div_centering
                  .hidden
                    = radio_button_tag 'edit', 'eye', true, class: "eye-tool"
                    Eye
                    = radio_button_tag 'edit', 'cornea'
                    Cornea
                  %br
                  %span.label.bg-blue  
                    Draw Specification
                  .clearfix
                  %br
                  .input-group.color.colorpicker-default.form-group.color_picker_input{"data-color" => "#000", "data-color-format" => "rgba"}
                    = text_field_tag :sketch_color, "#000", class:"form-control hidden sketch_color", :readonly=>true, style: "width: 90px;"
                    %span.input-group-btn
                      %button.btn.default{:type => "button", style: "width: 100%;"}
                        %i{:style => "background-color: #000; width: 90%;"}
                        \&nbsp;
                             
                  .editor_undo.btn.btn-default Undo
                  .editor_clear.btn.btn-default Clear
                
                .col-md-4
                  .row
                    .col-md-12
                      %div.text-center
                        %a.btn.btn-primary{"data-target" => "#cornea-modal", "data-toggle" => "modal"}
                          Cornea
                      #cornea-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "cornea-modal", :role => "dialog", :tabindex => "-1"}
                        .modal-dialog
                          .modal-content
                            .modal-header
                              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                              %h4#myModalLabel.modal-title Cornea
                            .modal-body
                              = external_exam.simple_fields_for :corneal_disease, (external_exam.object.corneal_disease.present? ? external_exam.object.corneal_disease : external_exam.object.build_corneal_disease) do |corneal_f|
                                #cornea-body
                                  = corneal_f.hidden_field :draw_data, id: "cornea_draw_data"
                                  = corneal_f.hidden_field :cornea_status, id: "cornea_status_check"
                                  .row.back-corneal-image.img-responsive#corneal_editor{ :style => "height: 120px; width: 368.656px; margin-left: 73px;", onmouseover: "$('#edit_cornea').prop('checked', true);"}
                                  = corneal_f.association :diseases, as: :check_boxes, collection:  current_organisation.diseases.default_corneas, label_method: :name, value_method: :id, label: false, :wrapper_html => { :class => 'form-inline' }, input_html: {class: "padding-10"}
                                  = corneal_f.input :notes, label: false, placeholder: "Add Notes"
                                .modal-footer
                                  = button_tag "Save", class: 'btn btn-primary btn-sm  submit_button', type: "button", onclick: "$('#cornea_status_check').val('true');$('#cornea-modal').modal('hide'); examFormSubmit();"
                                  %button.btn.btn-primary.btn-sm.class{type: "button", id: 'corneal_clear' } CLEAR
                  
                      -if @examination.try(:external_exam).try(:corneal_disease).persisted? && (@examination.try(:external_exam).try(:corneal_disease).try(:cornea_status) == true)
                        -cornea= @examination.external_exam.corneal_disease
                        .row.back-corneal-image.img-responsive#corneal_editor_view{ :style => "height: 120px; width: 368.656px;", onmouseover: "$('#edit_cornea').prop('checked', true);"}
                        - cornea.diseases.each_with_index do |disease, index|
                          = "," unless index == 0
                          = disease.name
                        .row
                        Notes :
                        = cornea.notes
                      %br
                      %div{:style => "text-align: center;"}
                        %a.btn.btn-primary{"data-target" => "#gonioscopy-modal", "data-toggle" => "modal"}
                          Gonioscopy

                      = external_exam.simple_fields_for :gonioscopy, external_exam.object.gonioscopy.present? ? external_exam.object.gonioscopy : external_exam.object.build_gonioscopy  do |gonioscopy_f|
                        #gonioscopy-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "gonioscopy-modal", :role => "dialog", :tabindex => "-1"}
                          .modal-dialog
                            .modal-content
                              .modal-header
                                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                                %h4#myModalLabel.modal-title Gonioscopy
                              .modal-body#gonioscopy-body                          
                                .row
                                  .col-md-6.text-center
                                    OD
                                    .row 
                                      .col-md-8.col-md-offset-2
                                        = gonioscopy_f.input :od_inferior, label: false, collection: 1..4
                                    .row 
                                      .col-md-6
                                        = gonioscopy_f.input :od_nasal, label: false, collection: 1..4
                                      .col-md-6
                                        = gonioscopy_f.input :od_temporal, label: false, collection: 1..4
                                    .row
                                      .col-md-8.col-md-offset-2 
                                        = gonioscopy_f.input :od_superior, label: false, collection: 1..4
                                    = gonioscopy_f.input :od_pigmentation, label: false, collection: ["Pigmentation 1","Pigmentation 2","Pigmentation 3","Pigmentation 4"]
                                  .col-md-6.text-center
                                    OS
                                    .row 
                                      .col-md-8.col-md-offset-2
                                        = gonioscopy_f.input :os_inferior, label: false, collection: 1..4
                                    .row 
                                      .col-md-6
                                        = gonioscopy_f.input :os_nasal, label: false, collection: 1..4
                                      .col-md-6
                                        = gonioscopy_f.input :os_temporal, label: false, collection: 1..4
                                    .row
                                      .col-md-8.col-md-offset-2 
                                        = gonioscopy_f.input :os_superior, label: false, collection: 1..4
                                    = gonioscopy_f.input :os_pigmentation, label: false, collection: ["Pigmentation 1","Pigmentation 2","Pigmentation 3","Pigmentation 4"]
                                = gonioscopy_f.input :notes, label: false, placeholder: "Add Notes"
                              .modal-footer

                                = button_tag "Save", class: 'btn btn-primary btn-sm  submit_button', type: "button", onclick: "$('#gonioscopy-modal').modal('hide'); examFormSubmit();"
                                %button.btn.btn-primary.btn-sm.class{type: "button", id: 'gonio_clear' } CLEAR
                      -if @examination.external_exam.gonioscopy.persisted?
                        -gonioscopy= @examination.external_exam.gonioscopy
                        .row
                          .col-md-6.text-center{:style => "background: url(/images/cross.png);background-repeat: no-repeat;background-position: center;"}
                            OD
                            .row 
                              .col-md-8.col-md-offset-2
                                = gonioscopy.od_inferior
                            .row 
                              .col-md-6.text-right
                                = gonioscopy.od_nasal
                              .col-md-6.text-left
                                = gonioscopy.od_temporal
                            .row
                              .col-md-8.col-md-offset-2 
                                = gonioscopy.od_superior
                            = gonioscopy.od_pigmentation
                          .col-md-6.text-center{:style => "background: url(/images/cross.png);background-repeat: no-repeat;background-position: center;"}
                            OS
                            .row 
                              .col-md-8.col-md-offset-2
                                = gonioscopy.os_inferior
                            .row 
                              .col-md-6.text-right
                                = gonioscopy.os_nasal
                              .col-md-6.text-left
                                = gonioscopy.os_temporal
                            .row
                              .col-md-8.col-md-offset-2 
                                = gonioscopy.os_superior
                            = gonioscopy.os_pigmentation
                        Notes : 
                        = gonioscopy.notes
              %br
              .row
                .col-md-8
                  -if @previous_exam.present?
                    %i.fa.fa-adjust.toggle{:style => "margin-bottom:2%;,-webkit-user-select: text;font-size: 20px;", "data-toggle"=>"collapse", "data-target"=>"#external_old_exam"}
                    From:
                    = @previous_exam.try(:exam_date)
                    #external_old_exam.collapse.in
                      .col-md-6  
                        .row
                          .col-md-4
                            Tear Film
                          .col-md-4
                            =@previous_exam.external_exam.tear_film
                        .row
                          .col-md-4
                            Angles(OD/OS)
                          .col-md-2
                            =@previous_exam.external_exam.angles_od
                          .col-md-2
                            =@previous_exam.external_exam.angles_os
                        .row
                          .col-md-4
                            Cornea
                          .col-md-4
                            =@previous_exam.external_exam.cornea
                        .row
                          .col-md-4
                            Lids lashes
                          .col-md-4
                            =@previous_exam.external_exam.lids_lashes
                        .row{ :style => "margin-bottom:6%"}
                          .col-md-4
                            Iris
                          .col-md-4
                            =@previous_exam.external_exam.iris
                      .col-md-6
                        .row
                          .col-md-4
                            Ac
                          .col-md-4
                            =@previous_exam.external_exam.ac
                        .row
                          .col-md-4
                            Bulbar conj
                          .col-md-4
                            =@previous_exam.external_exam.bulbar_conj
                        .row
                          .col-md-4
                            Lens
                          .col-md-4
                            =@previous_exam.external_exam.lens
                        .row
                          .col-md-4
                            Palpebral conj
                          .col-md-4
                            =@previous_exam.external_exam.palpebral_conj
                        .row{ :style => "margin-bottom:6%"}
                          .col-md-4
                            Sclera
                          .col-md-4
                            =@previous_exam.external_exam.sclera
                  .row
                    .col-md-6
                      = external_exam.input :tear_film, :input_html => {:value=> external_exam.try(:object).try(:tear_film).present? ? external_exam.object.tear_film :  ""}
                    .col-md-2
                      Angles
                    .col-md-2
                      = external_exam.input :angles_od, label: "OD", :input_html => {:value=> external_exam.try(:object).try(:angles_od).present? ? external_exam.object.angles_od : ""} 
                    .col-md-2
                      = external_exam.input :angles_os, label: "OS", :input_html => {:value=> external_exam.try(:object).try(:angles_os).present? ? external_exam.object.angles_os :  ""} 
                  .row
                    .col-md-6
                      = external_exam.input :cornea, :input_html => {:value=> external_exam.try(:object).try(:cornea).present? ? external_exam.object.cornea :  ""}
                    .col-md-6
                      = external_exam.input :lids_lashes, :input_html => {:value=> external_exam.try(:object).try(:lids_lashes).present? ? external_exam.object.lids_lashes :  ""}
                  .row
                    .col-md-6
                      = external_exam.input :iris, :input_html => {:value=> external_exam.try(:object).try(:iris).present? ? external_exam.object.iris :  ""}
                    .col-md-6
                      = external_exam.input :ac, :input_html => {:value=> external_exam.try(:object).try(:ac).present? ? external_exam.object.ac :  ""}
                  .row
                    .col-md-6
                      = external_exam.input :bulbar_conj, :input_html => {:value=> external_exam.try(:object).try(:bulbar_conj).present? ? external_exam.object.bulbar_conj :  ""}
                    .col-md-6
                      = external_exam.input :lens, :input_html => {:value=> external_exam.try(:object).try(:lens).present? ? external_exam.object.lens :  ""}
                  .row
                    .col-md-6
                      = external_exam.input :palpebral_conj, :input_html => {:value=> external_exam.try(:object).try(:palpebral_conj).present? ? external_exam.object.palpebral_conj :  ""}
                      = external_exam.input :sclera, :input_html => {:value=> external_exam.try(:object).try(:sclera).present? ? external_exam.object.sclera : ""}
                  %br


                %i.fa.fa-plus-square.plus_square_set
                %label.label_set
                  NCT
                .col-md-4
                  -if @previous_exam.present?
                    %br
                      .row
                        .col-md-12.nct_col
                          -if @previous_exam.present?
                            %i.fa.fa-adjust.toggle.nct_toggle{"data-toggle"=>"collapse", "data-target"=>"#old_external_exam1"}
                            From:
                            = @previous_exam.exam_date
                            #old_external_exam1.collapse.in
                              .col-md-12
                                .row
                                  .col-md-12
                                  - @previous_exam.try(:external_exam).try(:ncts).each do |nc|
                                    = "OD " + nc.nct_first + " mmHG" if nc.nct_first.present?
                                    = "OS " + nc.nct_last + " mmHG" if nc.nct_last.present?
                                    = "@" + nc.nct_time.strftime("%l:%M:%S %p") if nc.nct_time.present?
                                    %br

                  %br
                  = external_exam.simple_fields_for :ncts, external_exam.object.try(:ncts).present? ? external_exam.object.ncts.order(:created_at) : external_exam.object.ncts.create! do |nc_f|
                    .nct_fields 
                      .cloned_nct_fields  
                        .row.nct_cloned_row
                          .col-md-3
                            = nc_f.input :nct_first, label: "OD",:input_html => { :class => 'fix_text' }
                            %p.nct_inputs
                              %b mmHG
                          .col-md-3.nct_last
                            = nc_f.input :nct_last, label: "OS",:input_html => { :class => 'fix_text' }
                            %p.nct_inputs
                              %b mmHG

                        .row 
                          .col-md-12.nct_row   
                            %button.btn.btn-primary.btn-xmclass.nc_time_button{type: "button"} TIME
                            
                            = nc_f.text_field :nct_time, class: "nc_time",value: nc_f.object.nct_time.present? ? nc_f.object.nct_time.strftime("%l:%M:%S %p") : " "
                        %br                  

                  = link_to "<button class=\"btn btn-success btn-xm\" type=\"button\">Add New</button>".html_safe, "#", class: "add-new-btn btn-right", :"data-value"=> "add_nct", :"data-href"=> external_internal_examination_manage_index_path(@examination), :"data-page"=> "external_internal_page",:"data-no-turbolink"=> "true"

                %br
                %i.fa.fa-plus-square{style: "margin-left: 6px;color: rgb(66, 66, 66);"}
                %label{style: "font-size: 18px;line-height: 18px;color: rgb(66, 66, 66);"}
                  GAT
                .col-md-4
                  -if @previous_exam.present?
                    %br
                      .row
                        .col-md-12{style:"margin-top: -3%;"}
                          -if @previous_exam.present?
                            %i.fa.fa-adjust.toggle{:style => "-webkit-user-select: text;font-size: 20px;", "data-toggle"=>"collapse", "data-target"=>"#old_external_exam1"}
                            From:
                            = @previous_exam.exam_date
                            #old_external_exam1.collapse.in
                              .col-md-12
                                .row
                                  .col-md-12
                                  - @previous_exam.try(:external_exam).try(:gats).each do |gg|
                                    = "OD " + gg.gat_first + " mmHG" if gg.gat_first.present?
                                    = "OS " + gg.gat_last + " mmHG" if gg.gat_last.present?
                                    = "@" + gg.gat_time.strftime("%l:%M:%S %p") if gg.gat_time.present?
                                    %br

                  %br
                  = external_exam.simple_fields_for :gats, external_exam.object.try(:gats).present? ? external_exam.object.gats.order(:created_at) : external_exam.object.gats.create! do |gat_f|
                    .gat_fields 
                      .cloned_gat_fields  
                        .row{style:"margin-top: -5%;"}
                          .col-md-3
                            = gat_f.input :gat_first, label: "OD",:input_html => { :class => 'fix_text' }
                            %p{style: "margin-top: -29px;margin-left: 82px;"}
                              %b mmHG
                          .col-md-3{style: "left: 27%;"}
                            = gat_f.input :gat_last, label: "OS",:input_html => { :class => 'fix_text' }
                            %p{style: "margin-top: -29px;margin-left: 82px;"}
                              %b mmHG
                        .row 
                          .col-md-12{style: "margin-bottom: 2%;"}   
                            %button.btn.btn-primary.btn-xmclass.gat_time_button{type: "button"} TIME
                            
                            = gat_f.text_field :gat_time, class: "gat_time",value: gat_f.object.gat_time.present? ? gat_f.object.gat_time.strftime("%l:%M:%S %p") : " "
                        %br                  

                  = link_to "<button class=\"btn btn-success btn-xm\" type=\"button\">Add New</button>".html_safe, "#", class: "add-new-btn btn-right", :"data-value"=> "add_gat", :"data-href"=> external_internal_examination_manage_index_path(@examination), :"data-page"=> "external_internal_page",:"data-no-turbolink"=> "true"

                      
                  
                  .row
                    .col-md-12    
                      %i.fa.fa-plus-square.plus_square_set
                      %label.label_set
                        Visual Field
                      = external_exam.input :visual_field, label: false

        
    

    .portlet.box
      .portlet-title.hex_424242
        .caption
          %i.fa.fa-plus-square>
          Internal Exam
      .portlet-body
        .row#internal_exam
          .col-md-12
            = f.simple_fields_for :internal_exam do |internal_f|
              .row
                = internal_f.hidden_field :draw_data, id: "internal_exam_draw_data"
                .col-md-7
                  %div.internal-eye-image.img-responsive#internal_eye_editor
                .col-md-2.div_centering
                  %br          
                  %span.label.bg-blue  
                    Draw Specification
                  .clearfix
                  %br
                  .input-group.color.colorpicker-default.form-group.color_picker_input{"data-color" => "#000", "data-color-format" => "rgba"}
                    = text_field_tag :sketch_color, "#000", class:"form-control hidden sketch_color", :readonly=>true, style: "width: 90px;"
                    %span.input-group-btn
                      %button.btn.default{:type => "button", style: "width: 100%;"}
                        %i{:style => "background-color: #000; width: 90%;"}
                        \&nbsp;         

                             
                  .editor_undo.btn.btn-default Undo
                  .editor_clear.btn.btn-default Clear
                %br
              .row
                .col-md-12
                  -if @previous_exam.present?
                    %i.fa.fa-adjust.toggle{:style => "-webkit-user-select: text;font-size: 20px;", "data-toggle"=>"collapse", "data-target"=>"#old_internal_exam"}
                    From:
                    = @previous_exam.try(:exam_date)
                    #old_internal_exam.collapse.in
                      .row
                        .col-md-3
                          OD C/D
                        .col-md-3
                          =@previous_exam.internal_exam.od
                        .col-md-3
                          Vessels
                        .col-md-3
                          =@previous_exam.internal_exam.vessels
                      .row
                        .col-md-3
                          OS C/D
                        .col-md-3
                          =@previous_exam.internal_exam.os
                        .col-md-3
                          Macula
                        .col-md-3
                          =@previous_exam.internal_exam.macula
                      .row
                        .col-md-3
                          Post pole
                        .col-md-3
                          =@previous_exam.internal_exam.post_pole
                        .col-md-3
                          Vitreous
                        .col-md-3
                          =@previous_exam.internal_exam.vitreous
                      .row
                        .col-md-3
                          Periphery
                        .col-md-3
                          =@previous_exam.internal_exam.periphery
              .row
                .col-md-6
                  = internal_f.input :od, label: "OD C/D"
                .col-md-6
                  = internal_f.input :vessels, :input_html => {:value=> internal_f.try(:object).try(:vessels).present? ? internal_f.object.vessels :  ""}

              .row
                .col-md-6
                  = internal_f.input :os, label: "OS C/D"
                .col-md-6
                  = internal_f.input :macula, :input_html => {:value=> internal_f.try(:object).try(:macula).present? ? internal_f.object.macula :  ""}
              .row
                .col-md-6
                  = internal_f.input :post_pole, :input_html => {:value=> internal_f.try(:object).try(:post_pole).present? ? internal_f.object.post_pole :  ""}
                .col-md-6
                  = internal_f.input :vitreous, :input_html => {:value=> internal_f.try(:object).try(:vitreous).present? ? internal_f.object.vitreous :  ""}
              .row
                .col-md-6
                  = internal_f.input :periphery, :input_html => {:value=> internal_f.try(:object).try(:periphery).present? ? internal_f.object.periphery :  ""}
                .col-md-6
                  %div
                    %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "#{ExamFormDefault.where(:organisation_id => current_organisation).first.dilation_fundus_def.present? ? ExamFormDefault.where(:organisation_id => current_organisation).first.dilation_fundus_def : 'Patient refuses dilated fundus examination after explanation of tests'}", :checked => !internal_f.object.dilation, :name => "examination[internal_exam_attributes][dilation]", :type => "radio", :value => 0}
                  %br
                  %div  
                    = internal_f.input :reason_field, label: "Reason"
                  %br
                  %div{style: "width: 20%;"}
                    %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Dilation", :checked => internal_f.object.dilation, :name => "examination[internal_exam_attributes][dilation]", :type => "radio", :value => 1, :style => "width: 20%"}
                  %br
                  .row
                    .col-md-12
                      -if @previous_exam.present?
                        %i.fa.fa-adjust.toggle{:style => "-webkit-user-select: text;font-size: 20px;", "data-toggle"=>"collapse", "data-target"=>"#old_internal_exam1"}
                        From:
                        = @previous_exam.try(:exam_date)
                        #old_internal_exam1.collapse.in
                          .row
                            .col-md-1
                              OD:
                            .col-md-11
                              =@previous_exam.internal_exam.dilation_od
                            .col-md-1
                              OS:
                            .col-md-11
                              =@previous_exam.internal_exam.dilation_os
                  %br    
                  #drops{:class => internal_f.object.dilation ? '' : 'hidden'}
                    %b Drops Used
                    %br
                    - exam_form_default = current_organisation.exam_form_default
                    - if exam_form_default.present?
                      - if exam_form_default.tropicomide.present?
                        .col-md-6
                          = internal_f.input :tropicomide, label: false, input_html: {:class => 'icheck-me ', "data-color" => "blue", "data-skin" => "line", "data-text" => "#{exam_form_default.tropicomide}", :checked => internal_f.object.tropicomide}
                      - if exam_form_default.fundus.present?    
                        .col-md-6
                          = internal_f.input :fundus, label: false, input_html: {:class => 'icheck-me ', "data-color" => "blue", "data-skin" => "line", "data-text" => "#{exam_form_default.fundus}", :checked => internal_f.object.fundus}
                      -if exam_form_default.phenylephrine.present?
                        .col-md-6
                          = internal_f.input :phenylephrine, label: false, input_html: {:class => 'icheck-me ', "data-color" => "blue", "data-skin" => "line", "data-text" => "#{exam_form_default.phenylephrine}", :checked => internal_f.object.phenylephrine}
                      -if  exam_form_default.ophthalmoscopy.present? 
                        .col-md-6
                          = internal_f.input :ophthalmoscopy, label: false, input_html: {:class => 'icheck-me ', "data-color" => "blue", "data-skin" => "line", "data-text" => "#{exam_form_default.ophthalmoscopy}", :checked => internal_f.object.ophthalmoscopy}    
                      -if  exam_form_default.drop3_text.present? 
                        .col-md-6
                          = internal_f.input :dilation_drop3, label: false, input_html: {:class => 'icheck-me ', "data-color" => "blue", "data-skin" => "line", "data-text" => "#{exam_form_default.drop3_text}", :checked => internal_f.object.dilation_drop3}
                      -if  exam_form_default.drop4_text.present? 
                        .col-md-6
                          = internal_f.input :dilation_drop4, label: false, input_html: {:class => 'icheck-me ', "data-color" => "blue", "data-skin" => "line", "data-text" => "#{exam_form_default.drop4_text}", :checked => internal_f.object.dilation_drop4}        
                    
                    #installed
                      .col-md-12{style: "margin-top: 15px;"}
                        %strong
                          %lable Instilled at 
                          %input{:name => "examination[internal_exam_attributes][installed_at]",:value => internal_f.object.installed_at.present? ? internal_f.object.installed_at.strftime("%I:%M %P") : Time.now.strftime("%I:%M %P")}
                      .col-md-12
                        %b Comments
                        = internal_f.input :dilation_text, label: false,:input_html => { :value=> internal_f.try(:object).try(:dilation_text).present? ? internal_f.object.dilation_text :  "" }

                      .col-md-12
                        = internal_f.input :dilation_od, label: "OD",:input_html => { value: internal_f.try(:object).try(:dilation_od).present? ? internal_f.object.dilation_od :  "OD 90D Fundus/ 20D fundus lens 360 SD to Ora (No Breaks)"} 
                      .col-md-12
                        = internal_f.input :dilation_os, label: "OS",:input_html => { value: internal_f.try(:object).try(:dilation_os).present? ? internal_f.object.dilation_os :  "OS 90D Fundus/ 20D fundus lens 360 SD to Ora (No Breaks)"} 
                                    
  = f.input :joint_resource_id, as: :hidden
  = f.submit "Finalized", class: 'hidden', id: "form_finalized_button", remote: false 
  
= render '/doctor/manage_examination/shared/final_count_js' 
= render "/doctor/manage_examination/partial/drawing_js"  

:javascript
  $(document).ready(function(){
    url = $('#overview_tab').attr('data-href')
    $('#print_overview').load( url, function( response, status, xhr ) {   
      $('.spinner').hide();
      icheck();      
      examinationsFormPage();      
      initializePlugins();
    });
  })
  
  examFormSubmitEnter();