- @setting = current_organisation.setting
= simple_form_for @examination, remote: true, html: {class: "exam-form wrapper-fluid"} do |f|
  .div{style: "background-color: white"}
    = hidden_field_tag :submit, "finalized_prescriptions"   
     
    -if class_name(@resource)=="Patient"
      -resource_name="patient".to_sym
    -else
      -resource_name="family_member".to_sym
    = hidden_field_tag('order_id',params[:order_id])
   
    = f.input :joint_resource_id, as: :hidden
    = f.input :booking_id, as: :hidden 

  -if @examination.try(:glasses_prescriptions).present? || @examination.try(:lens_prescriptions).present? || @examination.try(:medical_rxes).present?
    - resource = @examination.joint_resource.member
    -if resource.class == FamilyMember
      = link_to "<i class='fa fa-send'></i>&nbsp;Email".html_safe,prescription_reports_path(id: @examination.try(:id),:family_member_id => resource.id ,:email => :true), :remote => true,class: "btn blue-hoki pull-left email_presc_btn",:"data-no-turbolink"=> "true"

      = link_to "<i class='fa fa-files-o'></i>&nbsp;View & Print ".html_safe, prescription_reports_path(id: @examination.id,:name => "presc_show"),:target => '_blank',class: "btn blue-hoki pull-left final_presc_tab_download_btn"
    -else
      = link_to "<i class='fa fa-send'></i>&nbsp;Email".html_safe,prescription_reports_path(id: @examination.id, :patient_id => resource.id, :email => :true), :remote => true,class: "btn blue-hoki pull-left email_presc_btn",:"data-no-turbolink"=> "true"

      = link_to "<i class='fa fa-files-o'></i>&nbsp;View & Print ".html_safe, prescription_reports_path(id: @examination.id,:name => "presc_show"),:target => '_blank',class: "btn blue-hoki pull-left final_presc_tab_download_btn"

    #finalized_prescriptions_page.tab_reload.hidden{:"data-href"=> finalized_prescriptions_examination_manage_index_path(@examination)}
    .portlet.box.cl_presc
      .portlet-title.hex_424242
        .caption
          %i.fa.fa-plus-square
          Final Contact Lens Prescription
      .portlet-body
        -if @examination.lens_prescriptions.present?
          .final_lens
            .nested-fields
              .row{style: "border-style: groove;"}
                .lens_prescription_edit
                  = f.simple_fields_for :lens_prescriptions do |lens_prescriptions_f|
                    = render "/doctor/manage_examination/partial/lens_prescription_fields", f: lens_prescriptions_f
                    %br
                    - unless current_doctor.role.include?("staff") && (current_doctor.role.reject { |c| c.blank? }.length == 1)
                      = link_to "<button class=\"btn btn-danger btn-xm\" type=\"button\">Remove Final Contact Lens Prescription</button>".html_safe, remove_lens_prescription_examination_manage_index_path(@examination, lens_prescription_id: lens_prescriptions_f.object.id), remote: true, method: :delete, data: { confirm: "Are you sure?" }, class: "delete-btn btn-right", :"data-page"=> "finalized_prescriptions_page"
                  - unless current_doctor.role.include?("staff") && (current_doctor.role.reject { |c| c.blank? }.length == 1)  
                    = link_to "<button class=\"btn btn-success btn-xm\" type=\"button\">Add New</button>".html_safe, "#", class: "add-new-btn btn-right", :"data-value"=> "add_lens_prescription", :"data-href"=> finalized_prescriptions_examination_manage_index_path(@examination), :"data-page"=> "finalized_prescriptions_page"
                    = link_to "<button class=\"btn btn-success\" type=\"button\">Edit</button>".html_safe, "#", class: "edit_lens btn-right"
          
    .portlet.box.glass_presc
      .portlet-title.hex_424242
        .caption
          %i.fa.fa-plus-square
          Final Eyeglasses Prescription
      .portlet-body
        -if @examination.glasses_prescriptions.present?
          .row.glass_prescription{style: "border-style: groove;"}
            .glass_prescription_edit
              = f.simple_fields_for :glasses_prescriptions do |glass_prescription|
                = render '/doctor/manage_examination/partial/glasses_prescription_fields', f: glass_prescription
                %br
                - unless current_doctor.role.include?("staff") && (current_doctor.role.reject { |c| c.blank? }.length == 1)
                  = link_to "<button class=\"btn btn-danger btn-xm\" type=\"button\">Remove Final Eyeglasses Prescription</button>".html_safe, remove_glass_prescription_examination_manage_index_path(@examination, glasses_prescription_id: glass_prescription.object.id), remote: true, method: :delete, data: { confirm: "Are you sure?" }, class: "delete-btn btn-right", :"data-page"=> "finalized_prescriptions_page"
              %br
              - unless current_doctor.role.include?("staff") && (current_doctor.role.reject { |c| c.blank? }.length == 1)  
                = link_to "<button class=\"btn btn-success btn-xm\" type=\"button\">Add New</button>".html_safe, "#", class: "add-new-btn btn-right", :"data-value"=> "add_glass_prescription", :"data-href"=> finalized_prescriptions_examination_manage_index_path(@examination), :"data-page"=> "finalized_prescriptions_page"
                = link_to "<button class=\"btn btn-success\" type=\"button\">Edit</button>".html_safe, "#", class: "edit_glass btn-right"
          %br
    .portlet.box
      .portlet-title.hex_424242
        .caption
          %i.fa.fa-plus-square
          Medical Rx
      .portlet-body
        - if @examination.try(:medical_rxes).present?
          .row
            .col-md-1
            .col-md-7
              %p
                = @examination.try(:store).try(:office_address).try(:full_addr_for_reports)
                %br
                - if @examination.try(:store).phone_number.present?
                  = "P: #{number_to_phone(@examination.store.phone_number.to_s[2..-1].to_i, area_code: true)}"
                  %br
                - if @examination.try(:store).fax.present?
                  = "F: #{@examination.store.fax}"
                  %br
                = @examination.try(:store).url
            .col-md-4
              - if @examination.try(:store).try(:logo).present?
                = image_tag @examination.store.logo.url(:thumb), class: "img-responsive"
              - else
                %img.img-responsive{:alt => "logo", :src => "/images/def_logo.jpg"}/
                %h3
                  = @examination.try(:store).try(:description)
          .row
            .col-md-1
            .col-md-10
              %hr
          .row.hidden.exam_id  
            = @examination.id
          -@examination.medical_rxes.each do |e_imp|
            .row
              .col-md-1
              .col-md-4
                %label.control-label Name:
                %span.valuemark
                  #{@resource.try(:name)}
              .col-md-4
                %label.control-label DOB
                %span.valuemark
                  #{@resource.try(:birthday)}
              .col-md-3
                %label.string.optional.control-label Age:
                %span.valuemark
                  #{@resource.try(:age)}
            .row.delete_data
              .col-md-1
              .col-md-11
                .row.hidden.med_rx_id  
                  = e_imp.id
                .row
                  .col-md-6
                    %label Issue Date:
                    %input.medical_rxs.med_rxissuedate{value: e_imp.issued_date.nil? ? "" : e_imp.issued_date.to_date}
                  .col-md-6
                    %label.control-label Exp Date:
                    %input.medical_rxs.medical_rx_expdate{value: e_imp.expired_date.nil? ? "" : e_imp.expired_date.to_date}
                .row
                  .col-md-2
                    = image_tag "/images/medical_rx.png",class: "img-responsive set_img_style " 
                  .col-md-6
                    - if e_imp.try(:medication).present? 
                      .row.medi_dosage_margin
                        .col-md-12
                          = e_imp.medication
                    - if e_imp.try(:dosage).present?  
                      .row
                        .col-md-12
                          %label Sig:
                          = e_imp.dosage
                .row.medi_dosage_margin
                  .col-md-6
                  .col-md-6
                    = @examination.doctor.name.to_s
                    %br
                    - if @examination.doctor.license_no.present?
                      = "   O.D. LIC # " +  "#{@examination.doctor.license_no.to_s}"
                .row
                  - if e_imp.try(:generic).present?  
                    .col-md-3
                      %label Refills:
                      = e_imp.try(:refill)
                      %br
                      = "Generic Ok" 
                  .col-md-3
                  .col-md-6
                    - if @examination.doctor.sign_image.present?
                      %img{:src => @examination.doctor.sign_image.url, :style => "height: 100%;"}/
                    - else
                      .signature
                        = @examination.doctor.name
                .row.del
                  .col-md-9
                  .col-md-3
                    = link_to "Delete", remove_medical_rx_examinations_path(medical_rx_id: e_imp.id), data: { confirm: "Are you sure?" }, class: "btn btn-sm red remove_med_rx",:remote => true,:"data-no-turbolink"=> "true"
                    - if e_imp == @examination.medical_rxes.last
                      = link_to "Print", '#', class: "btn btn-sm blue", id: "medical_print"
                .row
                  .col-md-11
                    %hr.set_border_style
          
  - else
    .text-center
      %i.fa.fa-search
      %em No finalized prescription found
  = f.input :joint_resource_id, as: :hidden
  = f.submit "Finalized", class: 'hidden', id: "form_finalized_button", remote: false 
  = hidden_field_tag :submit, "finalized_prescriptions"
  

= render '/doctor/manage_examination/shared/final_count_js' 

:javascript  
  ComponentsPickers.init();
  $( ".lens_prescription_edit input").attr("disabled","disabled");
  $( ".lens_prescription_edit select").attr("disabled","disabled");
  $( ".lens_prescription_edit input:checkbox").removeAttr("disabled");
  $( ".lens_prescription_edit input:hidden").removeAttr("disabled");
  $( ".examination_lens_prescriptions_cleaning_solution select").removeAttr("disabled");
  $( ".examination_lens_prescriptions_comment input").removeAttr("disabled");
  $( ".glass_prescription_edit input").attr("disabled","disabled");
  $( ".glass_prescription_edit select").attr("disabled","disabled");
  $( ".glass_prescription_edit input:checkbox").removeAttr("disabled");
  $( ".glass_prescription_edit input:hidden").removeAttr("disabled");
  $( ".glass_prescription_comment").removeAttr("disabled");
  $(document).on('click','.edit_lens',function(){
    $( ".lens_prescription_edit input").removeAttr("disabled");
    $( ".lens_prescription_edit select").removeAttr("disabled");
  })
  $(document).on('click','.edit_glass',function(){
    $( ".glass_prescription_edit input").removeAttr("disabled");
    $( ".glass_prescription_edit select").removeAttr("disabled");
  })

  $(document).ready(function(){
    url = $('#overview_tab').attr('data-href')
    $('#print_overview').load( url, function( response, status, xhr ) {   
      $('.spinner').hide();
      icheck();      
      examinationsFormPage();      
      initializePlugins();
    });
  })
  medical_rx();
  medical_rx_date_picker();
  update_med_rx_dates();
  examFormSubmitEnter();