- @setting = current_organisation.setting
= simple_form_for @examination, remote: true, html: {class: "exam-form wrapper-fluid"} do |f|
  .div{style: "background-color: white"}
    = hidden_field_tag :submit, "medical_history"  
     
    -if class_name(@resource)=="Patient"
      -resource_name="patient".to_sym
    -else
      -resource_name="family_member".to_sym
    = hidden_field_tag('order_id',params[:order_id])
   
    = f.input :joint_resource_id, as: :hidden
    = f.input :booking_id, as: :hidden 
    #medical_social_history_page.tab_reload.hidden{:"data-href"=> medical_history_examination_manage_index_path(@examination)}
    .portlet.box
      .portlet-title.hex_424242
        .caption
          %i.fa.fa-plus-square>
          Medical History
      .portlet-body.icheck_fixed_190.medical-history-section
        = f.simple_fields_for :joint_resource, @joint_resource do |jr_f|
          = jr_f.simple_fields_for resource_name, @resource do |patient_f|
            .row
              .col-md-6
                - {"pmhxes"=> "Patient Medical History", "fmhxes"=> "Family Medical History", "pohxes"=> "Patient Ocular History","medications" => "Medications"}.each do |medical_issue, value|

                  = exam_simple_checkbox_add "#{medical_issue}_check", patient_f, {checkbox_label: value} do         
                    - if medical_issue == "fmhxes"
                      - if @resource.fmhxes.present?
                        - @resource.try(:fmhxes).group_by(&:relation).each do |key, fmhxes_sorted_by_relations|
                          - index = 1
                          .md-container
                            = patient_f.simple_fields_for medical_issue, fmhxes_sorted_by_relations do |med|
                              .row
                                .col-md-offset-1.col-md-3
                                  - if index == 1
                                    = med.input :relation, collection:  MedicalHistory::Relation, input_html:  {rows: 3, class: 'relation_select'}, label: false, prompt: 'Select Relation'
                                  -else
                                    = med.input :relation, as: :hidden, input_html: {class: "relation_field"}
                                .col-md-5.child-toggler
                                  = med.input :checked, label: false, as: :boolean, input_html: {:checked => !(med.object.new_record?), data: { 'toggle-element' => "##{medical_issue}_#{med.object.try(:disease).try(:key_name)}"}, toggle: '', :class => 'icheck-me', "data-color" => "blue", "data-skin" => "line", "data-text" => med.object.try(:disease).try(:name)}
                                  
                                .col-md-3{ id: "#{medical_issue}_#{med.object.try(:disease).try(:key_name)}" }
                                  = med.hidden_field :disease_id
                                  = med.input :notes, label: false, placeholder: "Add Notes"
                              - index = index+1
                            = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue), class: "family_disease_autocomplete_field form-control pull-right", "data-type"=> medical_issue, "data-type-params" => "#{@resource.class == Patient ? 'patient' : 'family_member'}", placeholder: "Add disease", style: "width: 61%;"
                            .clearfix
                            %br
                      .md-container
                        = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue),:id => "#{medical_issue}", class: "add_new_family_disease_autocomplete_field form-control pull-right", "data-type"=> medical_issue, "data-type-params" => "#{@resource.class == Patient ? 'patient' : 'family_member'}", placeholder: "Add next relatives disease", style: "width: 90%"

                        .clearfix
                        %br

                    - else
                      = patient_f.simple_fields_for medical_issue do |med|
                        .row                                    
                          .col-md-offset-1.col-md-5.child-toggler 
                            = med.input :checked, label: false, as: :boolean, input_html: {:checked => !(med.object.new_record?), data: { 'toggle-element' => "##{medical_issue}_#{med.object.try(:disease).try(:key_name)}"}, toggle: '', :class => 'icheck-me', "data-color" => "blue", "data-skin" => "line", "data-text" => med.object.disease.try(:name)}
                          .col-md-6{ id: "#{medical_issue}_#{med.object.disease.try(:key_name)}" }
                            
                            = med.hidden_field :disease_id
                            = med.input :notes, label: false, placeholder: "Add Notes"
                      = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue),:id => "#{medical_issue}", class: "disease_autocomplete_field pull-right form-control", "data-type"=> medical_issue, "data-type-params" => "#{@resource.class == Patient ? 'patient' : 'family_member'}",  placeholder: "Add More", style: "width: 88%"
                      .clearfix
                      %br

              .col-md-6
                - {"fohxes"=> "Family Ocular History", "sxhxes"=>"Patient Surgical History", "allergies"=> "Allergy"}.each do |medical_issue, value|
                  = exam_simple_checkbox_add "#{medical_issue}_check", patient_f, {checkbox_label: value} do
                    - if medical_issue == "fohxes"
                      - if @resource.fohxes.present?
                        - @resource.try(:fohxes).group_by(&:relation).each do |key, fohxes_sorted_by_relations|
                          - index = 1
                          .md-container
                            = patient_f.simple_fields_for medical_issue, fohxes_sorted_by_relations do |med|
                              .row
                                .col-md-offset-1.col-md-3
                                  - if index == 1
                                    = med.input :relation, collection:  MedicalHistory::Relation, input_html:  {rows: 3, class: 'relation_select'}, label: false, prompt: 'Select Relation'
                                  -else
                                    = med.input :relation, as: :hidden, input_html: {class: "relation_field"}
                                .col-md-5.child-toggler
                                  = med.input :checked, label: false, as: :boolean, input_html: {:checked => !(med.object.new_record?), data: { 'toggle-element' => "##{medical_issue}_#{med.object.try(:disease).try(:key_name)}"}, toggle: '', :class => 'icheck-me', "data-color" => "blue", "data-skin" => "line", "data-text" => med.object.try(:disease).try(:name)}
                                  
                                .col-md-3{ id: "#{medical_issue}_#{med.object.try(:disease).try(:key_name)}" }
                                  = med.hidden_field :disease_id
                                  = med.input :notes, label: false, placeholder: "Add Notes"
                              - index = index+1
                            = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue), class: "family_disease_autocomplete_field form-control pull-right", "data-type"=> medical_issue, "data-type-params" => "#{@resource.class == Patient ? 'patient' : 'family_member'}", placeholder: "Add disease", style: "width: 61%;"
                            .clearfix
                            %br
                      .md-container
                        = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue),:id => "#{medical_issue}", class: "add_new_family_disease_autocomplete_field form-control pull-right", "data-type"=> medical_issue, "data-type-params" => "#{@resource.class == Patient ? 'patient' : 'family_member'}", placeholder: "Add next relatives disease", style: "width: 90%"

                        .clearfix
                        %br
                    - else
                      = patient_f.simple_fields_for medical_issue do |med|
                        .row
                          .col-md-offset-1.col-md-5.child-toggler
                            = med.input :checked, label: false, as: :boolean, input_html: { :checked => !(med.object.new_record?), data: { 'toggle-element' => "##{medical_issue}_#{med.object.try(:disease).try(:key_name)}"} , toggle: '', :class => 'icheck-me', "data-color" => "blue", "data-skin" => "line", "data-text" => med.object.disease.try(:name)}
                          .col-md-6{ id: "#{medical_issue}_#{med.object.disease.key_name}" }
                            = med.hidden_field :disease_id
                            = med.input :notes, label: false, placeholder: "add details"
                      = autocomplete_field_tag 'disease_name', '', autocomplete_disease_name_autocompletes_path(type: medical_issue),:id => "#{medical_issue}", class: "disease_autocomplete_field pull-right form-control " , "data-type"=> medical_issue, "data-type-params" => "#{@resource.class == Patient ? 'patient' : 'family_member'}", placeholder: "Add More", style: "width: 88%"
                      .clearfix
                      %br    
            .row
              .portlet.box
                .portlet-title.hex_424242
                  .caption
                    %i.fa.fa-plus-square>
                    Blood Pressure
                .portlet-body
                  -if @previous_exam.present?
                    %i.fa.fa-adjust.toggle.tog_btn{"data-toggle"=>"collapse", "data-target"=>"#old_exam_bp_toggle"}
                    From:
                    = @previous_exam.exam_date
                    #old_exam_bp_toggle
                      .row
                        .col-md-3
                          %label Blood Pressure:   
                          =@previous_exam.joint_resource.member.blood_pressure
                        .col-md-3
                          %label Blood Pressure Time: 
                          =@previous_exam.joint_resource.member.blood_pressure_time
              .col-md-4
                %label.bold 
                  Blood Pressure
                = patient_f.input :blood_pressure,label: false
              .col-md-4.bp_row    
                %label.bold
                  Blood Pressure Time
                = patient_f.input :blood_pressure_time, class: "bp_time",label: false
              .col-md-2  
                %button.btn.btn-primary.btn-xmclass.btn_bp_time.bp_time_button{type: "button"} TIME
    .portlet.box
      .portlet-title.hex_424242
        .caption
          %i.fa.fa-plus-square>
          Provide your Medical History details
      .portlet-body.icheck_fixed_190
        .row
          = f.simple_fields_for :joint_resource, @joint_resource do |jr_f|
            = jr_f.simple_fields_for resource_name, @resource do |patient_f|
              .form-group.col-md-12
                %label.col-md-6
                  Last Medical Exam
                %label.col-md-6
                  Where
              .form-group.col-md-12
                .col-md-6
                  = patient_f.input :medical_details, label: false,:wrapper => false
                .col-md-6
                  = patient_f.input :medical_notes,label: false,:wrapper => false
              .form-group.col-md-12
                %label.col-md-6
                  Last Eye Exam
                %label.col-md-6
                  Where
              .form-group.col-md-12
                .col-md-6
                  = patient_f.input :last_eye_exam, label: false,:wrapper => false
                .col-md-6
                  = patient_f.input :referred_by_data,label: false,:wrapper => false 


    .portlet.box
      .portlet-title.hex_424242
        .caption
          %i.fa.fa-plus-square>
          Social History
      .portlet-body.icheck_fixed_190
        .row
          = f.simple_fields_for :joint_resource do |jr_f|
            = jr_f.simple_fields_for resource_name, @resource do |patient_f|
              .col-md-6
                .col-md-12
                  
                  .col-md-12
                    %label.string.optional.control-label
                      %b Neurological Psychological Status

                  .col-md-6
                    %label.string.optional.control-label
                      Agitated
                    - resource_attributes = "#{resource_name}_attributes"
                    %input.optional.icheck-me#examination_joint_resource_attributes_tobacco_use_yes{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "examination[joint_resource_attributes][#{resource_attributes}][agitated]", :style => "position: absolute; opacity: 0;", :type => "radio", :value => "true", checked: patient_f.object.agitated}
                    %br 

                    %input.optional.icheck-me#examination_joint_resource_attributes_tobacco_use_no{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "examination[joint_resource_attributes][#{resource_attributes}][agitated]", :readonly => "readonly", :style => "position: absolute; opacity: 0;", :type => "radio", :value => "false", checked:  !patient_f.object.agitated}/
                    %br
                  .col-md-6
                    %label.string.optional.control-label
                      Depressed
                    %input.optional.icheck-me#examination_joint_resource_attributes_depressed_yes{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "examination[joint_resource_attributes][#{resource_attributes}][depressed]", :style => "position: absolute; opacity: 0;", :type => "radio", :value => "true", checked: patient_f.object.depressed}
                    %br
                    
                    %input.optional.icheck-me#examination_joint_resource_attributes_depressed_no{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "examination[joint_resource_attributes][#{resource_attributes}][depressed]", :readonly => "readonly", :style => "position: absolute; opacity: 0;", :type => "radio", :value => "false", checked: !patient_f.object.depressed}/
                    %br
                  .col-md-6
                    %label.string.optional.control-label
                      Oriented x 3
                    %input.optional.icheck-me#examination_joint_resource_attributes_oriented_x_3_yes{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "examination[joint_resource_attributes][#{resource_attributes}][oriented_x3]", :style => "position: absolute; opacity: 0;", :type => "radio", :value => "true", checked: patient_f.object.oriented_x3}
                    %br
                    
                    %input.optional.icheck-me#examination_joint_resource_attributes_oriented_x_3_no{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "examination[joint_resource_attributes][#{resource_attributes}][oriented_x3]", :readonly => "readonly", :style => "position: absolute; opacity: 0;", :type => "radio", :value => "false", checked: !patient_f.object.oriented_x3}/
                    %br
                  .col-md-6
                    %label.string.optional.control-label
                      Anxious
                    %input.optional.icheck-me#examination_joint_resource_attributes_anxious_yes{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "examination[joint_resource_attributes][#{resource_attributes}][anxious]", :style => "position: absolute; opacity: 0;", :type => "radio", :value => "true", checked: patient_f.object.anxious}
                    %br
                    
                    %input.optional.icheck-me#examination_joint_resource_attributes_anxious_no{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "examination[joint_resource_attributes][#{resource_attributes}][anxious]", :readonly => "readonly", :style => "position: absolute; opacity: 0;", :type => "radio", :value => "false", checked: !patient_f.object.anxious}/        
                    %br
                  .col-md-6
                    %label.string.optional.control-label
                      Do you use contact lenses?
                    %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "examination[joint_resource_attributes][#{resource_attributes}][contact_lenses]", :type => "radio", :value => "true", checked: patient_f.object.contact_lenses == true ? true : false}/
                    %br
                    %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "examination[joint_resource_attributes][#{resource_attributes}][contact_lenses]", :type => "radio", :value => "false", checked: patient_f.object.contact_lenses == false ? true : false}/
                    %br
                  .col-md-6
                    %label.string.optional.control-label
                      Are you interested in Contact lenses?
                    %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "examination[joint_resource_attributes][#{resource_attributes}][interested_contact_lens]", :type => "radio", :value => "true", checked: patient_f.object.interested_contact_lens == true ? true : false}/
                    %br
                    %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "examination[joint_resource_attributes][#{resource_attributes}][interested_contact_lens]", :type => "radio", :value => "false", checked: patient_f.object.interested_contact_lens == false ? true : false}/  
          = f.simple_fields_for :joint_resource do |jr_f|
            = jr_f.simple_fields_for resource_name, @resource do |patient_f|
              .col-md-6
                .col-md-12

                  .col-md-6
                    %label.string.optional.control-label
                      Tobacco Use
                    - resource_attributes = "#{resource_name}_attributes"
                    %input.optional.icheck-me#examination_joint_resource_attributes_tobacco_use_yes{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "examination[joint_resource_attributes][#{resource_attributes}][tobacco_use]", :style => "position: absolute; opacity: 0;", :type => "radio", :value => "true", checked: patient_f.object.tobacco_use}
                    %br

                    %input.optional.icheck-me#examination_joint_resource_attributes_tobacco_use_no{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "examination[joint_resource_attributes][#{resource_attributes}][tobacco_use]", :readonly => "readonly", :style => "position: absolute; opacity: 0;", :type => "radio", :value => "false", checked:  !patient_f.object.tobacco_use}/
                    %br
                    
                  .col-md-6
                    %label.string.optional.control-label
                      Alcohol Use
                    %input.optional.icheck-me#examination_joint_resource_attributes_alcohol_use_yes{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "examination[joint_resource_attributes][#{resource_attributes}][alcohol_use]", :style => "position: absolute; opacity: 0;", :type => "radio", :value => "true", checked: patient_f.object.alcohol_use}
                    %br
                    
                    %input.optional.icheck-me#examination_joint_resource_attributes_alcohol_use_no{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "examination[joint_resource_attributes][#{resource_attributes}][alcohol_use]", :readonly => "readonly", :style => "position: absolute; opacity: 0;", :type => "radio", :value => "false", checked: !patient_f.object.alcohol_use}/

                .col-md-12
                  .col-md-6
                    %label.string.optional.control-label
                      Pregnant
                    - resource_attributes = "#{resource_name}_attributes"

                    %input.optional.icheck-me#examination_joint_resource_attributes_tobacco_use_no{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "examination[joint_resource_attributes][#{resource_attributes}][pregnate]", :readonly => "readonly", :style => "position: absolute; opacity: 0;", :type => "radio", :value => "false", checked:  !patient_f.object.pregnate}/
                    %br
                  .col-md-6
                    %label.string.optional.control-label
                      In LASIK?
                    %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "examination[joint_resource_attributes][#{resource_attributes}][in_lasik]", :type => "radio", :value => "true", checked: patient_f.object.in_lasik == true ? true : false}/
                    %br
                    %input.optional.icheck-me.checkbox-sm{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "examination[joint_resource_attributes][#{resource_attributes}][in_lasik]", :type => "radio", :value => "false", checked: patient_f.object.in_lasik == false ? true : false}/
                    %br

                     
                  .col-md-6
                    %label.string.optional.control-label
                      Breast Feeding
                    %input.optional.icheck-me#examination_joint_resource_attributes_alcohol_use_yes{"data-color" => "blue", "data-skin" => "line", "data-text" => "Yes", :name => "examination[joint_resource_attributes][#{resource_attributes}][breast_feeding]", :style => "position: absolute; opacity: 0;", :type => "radio", :value => "true", checked: patient_f.object.breast_feeding}
                    %br
                    
                    %input.optional.icheck-me#examination_joint_resource_attributes_alcohol_use_no{"data-color" => "blue", "data-skin" => "line", "data-text" => "No", :name => "examination[joint_resource_attributes][#{resource_attributes}][breast_feeding]", :readonly => "readonly", :style => "position: absolute; opacity: 0;", :type => "radio", :value => "false", checked: !patient_f.object.breast_feeding}/

          = f.simple_fields_for :joint_resource do |jr_f|
            = jr_f.simple_fields_for resource_name, @resource do |patient_f| 
              - resource_attributes = "#{resource_name}_attributes"
              .col-md-12
                %label.string.optional.control-label
                  %b
                    Knowledge of office
              .col-md-12
                .col-md-4
                  %input.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Internet Search", :name => "examination[joint_resource_attributes][#{resource_attributes}][history_info][]", :type => "checkbox", :value => "Internet Search", checked: patient_f.object.history_info.include?("Internet Search")}/
                  %br
                .col-md-4
                  %input.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Insurance", :name => "examination[joint_resource_attributes][#{resource_attributes}][history_info][]", :type => "checkbox", :value => "Insurance", checked: patient_f.object.history_info.include?("Insurance")}/
                  %br
                .col-md-4
                  %input.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Sidewalk sign", :name => "examination[joint_resource_attributes][#{resource_attributes}][history_info][]", :type => "checkbox", :value => "sidewalk sign", checked: patient_f.object.history_info.include?("sidewalk sign")}/
                  %br
              .col-md-12
                %label.control-label.col-md-3
                  %b
                    Referred By
                .col-md-9
                  = patient_f.input :referred_by,label: false,:wrapper => false
                %br
                %br
              - if @resource.class == Patient
                .col-md-12
                  %label.string.optional.control-label
                    %b
                      Emergency Contact
                
                  = patient_f.simple_fields_for :relative do |relative_f| 
                    .form-group
                      %label.control-label.col-md-3
                        %b
                          Name
                      .col-md-3
                        = relative_f.input :name,label: false, :input_html => {:value=> relative_f.try(:object).try(:name).present? ? relative_f.object.name :  @joint_resource.try(:patient).try(:relative).try(:name)}
                      %label.control-label.col-md-3
                        %b
                          Relationship
                      .col-md-3
                        = relative_f.input :relationship,label: false, :input_html => {:value=> relative_f.try(:object).try(:relationship).present? ? relative_f.object.relationship :  @joint_resource.try(:patient).try(:relative).try(:relationship)}
                    %br
                    .form-group
                      %label.control-label.col-md-3
                        %b
                          Phone Number
                      .col-md-3
                        = relative_f.input :phone,label: false, :input_html => {:value=> relative_f.try(:object).try(:phone).present? ? relative_f.object.phone :  @joint_resource.try(:patient).try(:relative).try(:phone)}
                    %br


              .col-md-12
                = patient_f.input :notes_for_neurological, label: false, placeholder: "Add Notes"  

  = f.input :joint_resource_id, as: :hidden
  = f.submit "Finalized", class: 'hidden', id: "form_finalized_button", remote: false 
  
= render '/doctor/manage_examination/shared/final_count_js' 
#family_medical_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medical History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id:"disease_fmhxes", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "medical"
                = hidden_field_tag "type","family_medical"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
            

        .modal-footer            
          %button.btn.btn-sm.blue Save
#family_oculus_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Ocular History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","",id: "disease_fohxes", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "oculus"
                = hidden_field_tag "type","family_patient_ocular_history"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
        .modal-footer
          %button.btn.btn-sm.blue Save
:javascript
  $(document).ready(function(){
    url = $('#overview_tab').attr('data-href')
    $('#print_overview').load( url, function( response, status, xhr ) {   
      $('.spinner').hide();
      icheck();      
      examinationsFormPage();      
    });
  })
  telInput()
  
  examFormSubmitEnter();