- @setting = current_organisation.setting
= simple_form_for @examination, remote: true, html: {class: "exam-form wrapper-fluid"} do |f|
  .div{style: "background-color: white"}
    = hidden_field_tag :submit, "primilary_binocular"   
     
    -if class_name(@resource)=="Patient"
      -resource_name="patient".to_sym
    -else
      -resource_name="family_member".to_sym
    = hidden_field_tag('order_id',params[:order_id])
   
    = f.input :joint_resource_id, as: :hidden
    = f.input :booking_id, as: :hidden 
    #primilary_binocular_page.tab_reload.hidden{:"data-href"=> primilary_binocular_examination_manage_index_path(@examination)}
    .portlet.box
      .portlet-title.hex_424242
        .caption
          %i.fa.fa-plus-square>
          Preliminaries
      .portlet-body
        .row
          = f.simple_fields_for :primlinary_exam do |primlinary_f|
            .col-md-7
              .row
                .col-md-8
                  = primlinary_f.input :eoms, :input_html => {:value=> primlinary_f.try(:object).try(:eoms).present? ? primlinary_f.object.eoms :  ""}
              .row
                .col-md-8
                  = primlinary_f.input :pupils, :input_html => {:value=> primlinary_f.try(:object).try(:pupils).present? ? primlinary_f.object.pupils :  ""}
                
              
              = primlinary_f.simple_fields_for :primlinary_exam_notes, primlinary_f.object.try(:primlinary_exam_notes).present? ? primlinary_f.object.primlinary_exam_notes.order(:created_at) : primlinary_f.object.primlinary_exam_notes.create! do |primlinary_f|
                .row
                  .col-md-8.notes
                    = primlinary_f.input :notes, label: "Additional testings / Notes", placeholder: "Add Notes" 
                    = link_to "<button class=\"btn btn-success btn-xm\" type=\"button\">Add New</button>".html_safe, "#", class: "add-new-btn btn-right", :"data-value"=> "primlinary_exam_notes", :"data-href"=> primilary_binocular_examination_manage_index_path(@examination), :"data-page"=> "primilary_binocular_page",:"data-no-turbolink"=> "true"


            .col-md-5
              = primlinary_f.input :confrontational, label: "Confrontational Field", :input_html => {:value=> primlinary_f.try(:object).try(:confrontational).present? ? primlinary_f.object.confrontational :  ""}

              = primlinary_f.input :color_vision, label: "Color Vision", :input_html => {:value=> primlinary_f.try(:object).try(:color_vision).present? ? primlinary_f.object.color_vision :  ""}

              = primlinary_f.input :steropsis, label: "Stereopsis", :input_html => {:value=> primlinary_f.try(:object).try(:steropsis).present? ? primlinary_f.object.steropsis :  ""}

    .portlet.box
      .portlet-title.hex_424242
        .caption
          %i.fa.fa-plus-square>
          Binocular Testing
      .portlet-body
        .row
          = f.simple_fields_for :binocular_testing do |binocular_f|
            .col-md-6
              %label
                Cover Test
              .row
                .col-md-4
                  = binocular_f.input :ctd, label: "Distance", :wrapper_html => { :class => ''}, :input_html => {:value=> binocular_f.try(:object).try(:ctd).present? ? binocular_f.object.ctd :  ""}
      
                .col-md-4
                  = binocular_f.input :ctn, label: "Near", :input_html => {:value=> binocular_f.try(:object).try(:ctn).present? ? binocular_f.object.ctn : ""}
              .row
                .col-md-4
                  = binocular_f.input :nra, label: "NRA", :input_html => {:value=> binocular_f.try(:object).try(:nra).present? ? binocular_f.object.nra : ""}
                .col-md-4
                  = binocular_f.input :pra, label: "PRA", :input_html => {:value=> binocular_f.try(:object).try(:pra).present? ? binocular_f.object.pra : ""}
                .col-md-2
                  = binocular_f.input :npc, label: "NPC", :input_html => {:value=> binocular_f.try(:object).try(:npc).present? ? binocular_f.object.npc : ""}
                .row
                .col-md-10
                  = binocular_f.input :notes, label: false, placeholder: "Add Notes", :input_html => {:value=> binocular_f.try(:object).try(:notes).present? ? binocular_f.object.notes : ""}
            .col-md-6
              %label
                Phorias
              .row 
                %label.col-md-4
                  Horizontal
                .col-md-4
                  = binocular_f.input :hpd, label: "Distance", :input_html => {:value=> binocular_f.try(:object).try(:hpd).present? ? binocular_f.object.hpd : ""}
                .col-md-4
                  = binocular_f.input :hpn, label: "Near", :input_html => {:value=> binocular_f.try(:object).try(:hpn).present? ? binocular_f.object.hpn : ""}
              .row 
                %label.col-md-4
                  Vertical
                .col-md-4
                  = binocular_f.input :vpd, label: "Distance", class: "col-lg-10", :input_html => {:value=> binocular_f.try(:object).try(:vpd).present? ? binocular_f.object.vpd : ""}
                .col-md-4
                  = binocular_f.input :vpn, label: "Near", :input_html => {:value=> binocular_f.try(:object).try(:vpn).present? ? binocular_f.object.vpn : ""}
    .clearfix
  = f.input :joint_resource_id, as: :hidden
  = f.submit "Finalized", class: 'hidden', id: "form_finalized_button", remote: false 
  
:javascript
  $(document).ready(function(){
    url = $('#overview_tab').attr('data-href')
    $('#print_overview').load( url, function( response, status, xhr ) {   
      $('.spinner').hide();
      icheck();      
      examinationsFormPage();      
      initializePlugins();
    });
  })

  examFormSubmitEnter();
