- @setting = current_organisation.try(:setting)
= simple_form_for @examination, remote: true, html: {class: "exam-form wrapper-fluid"} do |f|
  .div.twilio-css
    = hidden_field_tag :submit, "procedure_impression"
    -if class_name(@resource)=="Patient"
      -resource_name="patient".to_sym
    -else
      -resource_name="family_member".to_sym
    = hidden_field_tag('order_id',params[:order_id])
   
    = f.input :joint_resource_id, as: :hidden
    = f.input :booking_id, as: :hidden 
    #procedure_impression_plan_page.tab_reload.hidden{:"data-href"=> procedure_impression_examination_manage_index_path(@examination)}
    .portlet.box.procedure
      .portlet-title.hex_424242
        .caption
          %i.fa.fa-plus-square>
          Procedure
      .portlet-body
        -if @previous_exam.present?
          %i.fa.fa-adjust.toggle.tog_btn{"data-toggle"=>"collapse", "data-target"=>"#old_exam_procedure_toggle"}
          From:
          = @previous_exam.exam_date
          #old_exam_procedure_toggle
            .row.form-group
              .col-md-6
                - @previous_exam.procedure_adjustments.each do |exam|
                  %label Procedure:  
                  =exam.exam_procedure.code_with_name
        - index = 0
        = f.simple_fields_for :procedure_adjustments do |procedure_adjustment|
          %div
            - if procedure_adjustment.try(:object).try(:exam_procedure).try(:code_with_name).present?
              .col-md-3.btn.btn-primary.proc_name
                = procedure_adjustment.object.exam_procedure.code_with_name
            .col-md-1
              = procedure_adjustment.hidden_field :exam_procedure_id
              = link_to '<i class="fa fa-trash-o fa-2x"></i>'.html_safe, delete_procedure_examination_manage_path(@examination,  procedure_adjustment.try(:object).try(:id)), remote: true,  class: "procedure-or-impression-delete-btn", :"data-page"=> "procedure_impression_plan_page" 
             
          
        = autocomplete_field_tag 'procedure_name', '', autocomplete_exam_procedure_name_autocompletes_path, class: "procedure_autocomplete_field form-control", placeholder: "Add Procedure", :"data-href"=> procedure_impression_examination_manage_index_path(@examination)

    .portlet.box.impression
      .text_div Plan
      .portlet-title.hex_424242
        .caption
          %i.fa.fa-plus-square>
          Impression
      .portlet-body
        -if @previous_exam.present?
          %i.fa.fa-adjust.toggle.tog_btn{"data-toggle"=>"collapse", "data-target"=>"#old_exam_imp_toggle"}
          From:
          = @previous_exam.exam_date
          #old_exam_imp_toggle
            .row
              .col-md-12.form-group
                - @previous_exam.exam_impressions.each do |imp|
                  .col-md-6  
                    %label Impression: 
                    =imp.impression.try(:name)
                  .col-md-6   
                    %label Plan: 
                    =imp.plan       
        - obj_index = 0
        = f.simple_fields_for :exam_impressions do |exam_impression|
          .row
            .col-md-6              
              .col-md-12
                .col-md-1.impr_col
                  = "#{obj_index+1}." 
                - if exam_impression.try(:object).try(:impression).try(:name).present?  
                  .col-md-5.btn.btn-primary
                    = exam_impression.object.impression.name
                .col-md-6

            %div.col-md-5
              = exam_impression.input :plan, label: false
              = exam_impression.hidden_field :impression_id
            .col-md-1
              = link_to '<i class="fa fa-trash-o fa-2x"></i>'.html_safe, delete_impression_examination_manage_path(@examination,  exam_impression.try(:object).try(:id)), remote: true,  class: "procedure-or-impression-delete-btn", :"data-page"=> "procedure_impression_plan_page" 
          - obj_index = obj_index + 1
        = autocomplete_field_tag 'impression_name', '', autocomplete_impression_name_autocompletes_path, class: "impression_autocomplete_field form-control", placeholder: "Add Impression", :"data-href"=> procedure_impression_examination_manage_index_path(@examination)

  = f.input :joint_resource_id, as: :hidden
  = f.submit "Finalized", class: 'hidden', id: "form_finalized_button", remote: false   

= render '/doctor/manage_examination/shared/final_count_js'

:javascript
  
  procedure_impression_tab();
  examFormSubmitEnter();