- @setting = current_organisation.setting
= simple_form_for @examination, remote: true, html: {class: "exam-form wrapper-fluid"} do |f|
  .div.twilio-css
    = hidden_field_tag :submit, "refraction_contact"
    = hidden_field_tag "any_finalize", false   
     
    -if class_name(@resource)=="Patient"
      -resource_name="patient".to_sym
    -else
      -resource_name="family_member".to_sym
    = hidden_field_tag('order_id',params[:order_id])
   
    = f.input :joint_resource_id, as: :hidden
    = f.input :booking_id, as: :hidden 
    #refraction_contact_lens_page.tab_reload.hidden{:"data-href"=> refraction_contact_lens_examination_manage_index_path(@examination)}
    .portlet.box
      .portlet-title.hex_424242
        .caption
          %i.fa.fa-plus-square>
          Visual Acuity
      .portlet-body
        = render "/doctor/manage_examination/partial/visual_acuity", f: f

    .portlet.box
      .portlet-title.hex_424242
        .caption
          %i.fa.fa-plus-square>
          Refraction
      .portlet-body.res-mob
        -if @previous_exam.try(:eye_measurements).present?
          %i.fa.fa-adjust.toggle.tog_btn{"data-toggle"=>"collapse", "data-target"=>"#old_exam_eye_measurements_toggle"}
          = f.hidden_field :old_glass_show
          From:
          = @previous_exam.exam_date
          #old_exam_eye_measurements_toggle{class: "collapse #{@examination.old_glass_show ? 'in' : ''}"}
            .row
              -@previous_exam.eye_measurements.each do |e_m|
                - if e_m.show == true
                  %table.form-group.refrac_table
                    %tr
                      %th{:colspan => 2}
                        %label.bold
                          =e_m.measurement_type.upcase
                    %tr
                      %th
                      %th SPHERE
                      %th CYLINDER
                      %th AXIS
                      %th PRISM
                      %th VA@D
                      %th VA@N
                    %tr
                      %td.bold OD
                      %td
                        = e_m.glass.od_sphere
                      %td
                        = e_m.glass.od_cylinder
                      %td
                        = e_m.glass.od_axis
                      %td
                        = "#{ e_m.glass.od_prism.present? ? e_m.glass.od_prism + 'BO' : '' }"
                      %td
                        = "20/ #{e_m.glass.visual_acuity.distance_od}"
                      %td
                        = e_m.glass.visual_acuity.near_od
                    %tr
                      %td.bold OS
                      %td
                        = e_m.glass.os_sphere
                      %td
                        = e_m.glass.os_cylinder
                      %td
                        = e_m.glass.os_axis
                      %td
                        = "#{ e_m.glass.os_prism.present? ? e_m.glass.os_prism + 'BI' : '' }"
                      %td
                        = "20/ #{e_m.glass.visual_acuity.distance_os}"
                      %td
                        = e_m.glass.visual_acuity.try(:near_os)
                    %tr
                      %td.bold Add
                      %td
                        =e_m.glass.ou_add
                      %td
                      %td
                      %td.bold OU
                      %td
                        = "20/ #{e_m.glass.visual_acuity.distance_ou}"
                      %td
                        = e_m.glass.visual_acuity.near_ou
                  
            -if @previous_exam.try(:glasses_prescriptions).present?
              .row
                -@previous_exam.glasses_prescriptions.each do |glass_prescription|
                  -if glass_prescription.eye_measurement.present? && glass_prescription.eye_measurement.glass.present?
                    -glass=glass_prescription.eye_measurement.try(:glass)
                    .col-md-12
                      %h4 Final Eyeglasses Prescription
                    .col-md-8
                      %h5 
                      .row 
                        .col-md-1
                          OD
                        .col-md-2
                          -if glass.od_sphere.present?
                            SPHERE:
                            =glass.od_sphere
                        .col-md-2
                          -if glass.od_cylinder.present?
                            CYLINDER:
                            =glass.od_cylinder
                        .col-md-2
                          -if glass.od_axis.present?
                            AXIS:
                            =glass.od_axis
                        .col-md-2
                          -if glass.try(:od_add).present?
                            ADD:
                            =glass.od_add
                        .col-md-2
                          -if glass.od_prism.present?
                            PRISM:
                            =glass.od_prism         
                      .row
                        .col-md-1
                          OS
                        .col-md-2
                          -if glass.os_sphere.present?
                            SPHERE:
                            =glass.os_sphere
                        .col-md-2
                          -if glass.os_cylinder.present?
                            CYLINDER:
                            =glass.os_cylinder
                        .col-md-2
                          -if glass.os_axis.present?
                            AXIS:
                            =glass.os_axis
                        .col-md-2
                          -if glass.try(:os_add).present?
                            ADD:
                            =glass.os_add
                        .col-md-2
                          -if glass.os_prism.present?
                            PRISM:
                            =glass.os_prism
                      .row
                        .col-md-2
                          Issued Date: 
                        .col-md-2
                          = glass_prescription.issued_date.strftime("%m/%d/%y")
                        .col-md-2
                          Expired Date:
                        .col-md-2
                          = glass_prescription.expired_date.strftime("%m/%d/%y")
                      .row
                        .col-md-2
                          Recommendations: 
                        .col-md-9
                          = glass_prescription.doctor_recommendations.map(&:name).join(', ')
              %hr                                
        .row
          - order = [2, 1,3,4]
          = f.simple_fields_for :eye_measurements , @examination.try(:eye_measurements).sort_by.with_index{ |d,i| order[i] } do |objective| 
            .col-md-6
              .btn.btn-primary.toggle.tab_sizing{"data-toggle"=>"collapse", "data-target"=>"##{objective.object.measurement_type}_toggle"}
                -if(objective.object.measurement_type == "bincular_balance")
                  Binocular Balance
                -elsif(objective.object.measurement_type == "cyclopelgic")
                  Cycloplegic
                -else
                  = objective.object.measurement_type.titleize
              = objective.hidden_field :show

              %div{class: "collapse #{objective.object.show ? 'in' : ''}", "id"=>"#{objective.object.measurement_type}_toggle"}              
                = render '/doctor/manage_examination/partial/eye_measurements', objective_f: objective
                -if objective.object.measurement_type == "subjective"
                  = link_to "<button class=\"btn btn-success btn-xm\" type=\"button\">Copy To Objective </button>".html_safe, "#", class: "add-new-btn btn-right", :"data-value"=> "copy_to_objective", :"data-page"=> "refraction_contact_lens_page"
                  = link_to "<button class=\"btn btn-success btn-xm\" type=\"button\">Copy To Binocular </button>".html_safe, "#", class: "add-new-btn btn-right", :"data-value"=> "copy_to_bincular_from_subjective", :"data-page"=> "refraction_contact_lens_page"
                  = link_to "<button class=\"btn btn-success btn-xm\" type=\"button\">Copy To Cycloplegic </button>".html_safe, "#", class: "add-new-btn btn-right", :"data-value"=> "copy_to_cyclopelgic_from_subjective", :"data-page"=> "refraction_contact_lens_page"

                -if objective.object.measurement_type == "objective"
                  = link_to "<button class=\"btn btn-success btn-xm\" type=\"button\">Copy To Subjective </button>".html_safe, "#", class: "add-new-btn btn-right", :"data-value"=> "copy_to_subjective", :"data-page"=> "refraction_contact_lens_page"
                  = link_to "<button class=\"btn btn-success btn-xm\" type=\"button\">Copy To Binocular </button>".html_safe, "#", class: "add-new-btn btn-right", :"data-value"=> "copy_to_bincular_from_objective", :"data-page"=> "refraction_contact_lens_page"
                  = link_to "<button class=\"btn btn-success btn-xm\" type=\"button\">Copy To Cycloplegic </button>".html_safe, "#", class: "add-new-btn btn-right", :"data-value"=> "copy_to_cyclopelgic_from_objective", :"data-page"=> "refraction_contact_lens_page"

                - unless @examination.glasses_prescriptions.present?
                  = hidden_field_tag "#{objective.object_name}[finalize]", false
                  - unless current_doctor.role.include?("staff") && (current_doctor.role.reject { |c| c.blank? }.length == 1)  
                    = button_tag "Finalize", class: "btn btn-success btn-xm btn-right submit_button", type: "button", onclick: "$('#any_finalize').val(true); $(this).prev('input').attr('value', true); examFormSubmit(); return false;"
                - else
                  = button_tag "Go to Final Rx", type:"button", class: "btn btn-success btn-xm btn-right", onclick: "$('#finalized_prescriptions').click();"

                -if objective.object.measurement_type == "cyclopelgic"
                  .col-md-12
                    %b Drops Used
                    - exam_form_default = current_organisation.exam_form_default
                    - if exam_form_default.present?
                      .row
                        - if exam_form_default.cyclopelgic_text.present?
                          .col-md-6
                            = objective.input :cyclopelgic, label: false, input_html: {:class => 'icheck-me ', "data-color" => "blue", "data-skin" => "line", "data-text" => "#{exam_form_default.cyclopelgic_text}", :checked => objective.object.cyclopelgic}
                        - if exam_form_default.cyclopelgic1_text.present?    
                          .col-md-6
                            = objective.input :cyclopelgic1, label: false, input_html: {:class => 'icheck-me ', "data-color" => "blue", "data-skin" => "line", "data-text" => "#{exam_form_default.cyclopelgic1_text}", :checked => objective.object.cyclopelgic1}
                      .row
                        - if exam_form_default.cyclopelgic2_text.present?    
                          .col-md-6
                            = objective.input :cyclopelgic2, label: false, input_html: {:class => 'icheck-me ', "data-color" => "blue", "data-skin" => "line", "data-text" => "#{exam_form_default.cyclopelgic2_text}", :checked => objective.object.cyclopelgic2}
                        - if exam_form_default.cyclopelgic3_text.present?        
                          .col-md-6
                            = objective.input :cyclopelgic3, label: false, input_html: {:class => 'icheck-me ', "data-color" => "blue", "data-skin" => "line", "data-text" => "#{exam_form_default.cyclopelgic3_text}", :checked => objective.object.cyclopelgic3}    
                      .col-md-6
                        -if objective.object.cyclopelgic
                          %strong
                            %br
                            %lable Instilled at 
                            = objective.input :installed_at, label: false, as: :string,:input_html => {value: objective.object.installed_at.present? ? objective.object.installed_at.strftime('%I:%M %P').to_s : Time.now.strftime('%I:%M %P').to_s}
                    .row
                      .col-md-6
                        %b Other
                        = objective.input :cyclopelgic_text, label: false,:input_html => { value: objective.object.cyclopelgic_text}
              .clearfix
              .clearfix
              %br

    .portlet.box
      .portlet-title.hex_424242
        .caption
          %i.fa.fa-plus-square>
          Contact Lens
      .portlet-body
        -if @previous_exam.try(:contact_lens_exam).present?
          %i.fa.fa-adjust.toggle.tog_btn{"data-toggle"=>"collapse", "data-target"=>"#old_exam_contact_lens_exam_toggle"}
          = f.hidden_field :old_lens_show
          From:
          = @previous_exam.try(:exam_date)
          #old_exam_contact_lens_exam_toggle{class: "collapse #{@examination.old_lens_show ? 'in' : ''}"}
            %h5
              Trial lenses
            -if @previous_exam.contact_lens_exam.try(:lenses).present?
              -@previous_exam.contact_lens_exam.lenses.where(lens_type: "current_lens").each do |lens|
                - od_lens_types =LensTypesPrice.find_by(id: lens.od_lens_types_price_id)
                - os_lens_types =LensTypesPrice.find_by(id: lens.os_lens_types_price_id)
                - od_type = od_lens_types.try(:lens_type)
                - os_type = os_lens_types.try(:lens_type)
                .row
                  .col-md-12
                    .row
                      -if lens.od_type.present? || lens.os_type.present?
                        .col-md-1
                          
                        .col-md-3
                          %strong
                            Type
                        .col-md-1
                          %strong
                            Sphere
                        .col-md-2
                          %strong
                            Cylinder
                        .col-md-2
                          %strong
                            Axis
                        .col-md-1
                          %strong
                            Add
                        .col-md-1
                          %strong
                            Curve
                        .col-md-1
                          %strong
                            Diameter
                    .row
                      -if lens.od_type.present?
                        .col-md-1
                          OD
                        .col-md-3
                          =lens.od_type
                        .col-md-1
                          =lens.od_sphere
                        .col-md-2
                          = filter_lens_fields(od_type, 'cylinder') == "hidden" ? " " : lens.od_cylinder
                        .col-md-2
                          = filter_lens_fields(od_type, 'axis') == "hidden" ? " " : lens.od_axis
                        .col-md-1
                          = filter_lens_fields(od_type, 'add') == "hidden" ? " " : lens.od_add
                        .col-md-1
                          =lens.od_base_curve
                        .col-md-1
                          =lens.od_diameter
                        
                    .row
                      -if lens.os_type.present?
                        .col-md-1
                          OS
                        .col-md-3
                          =lens.os_type
                        .col-md-1
                          =lens.os_sphere
                        .col-md-2
                          = filter_lens_fields(os_type, 'cylinder') == "hidden" ? " " : lens.os_cylinder
                        .col-md-2
                          = filter_lens_fields(os_type, 'axis') == "hidden" ? " " : lens.os_axis
                        .col-md-1
                          = filter_lens_fields(os_type, 'add') == "hidden" ? " " : lens.os_add
                        .col-md-1
                          =lens.os_base_curve
                        .col-md-1
                          =lens.os_diameter
            %hr
            -if @previous_exam.try(:lens_prescriptions).present?
              -@previous_exam.lens_prescriptions.each do |lens_prescription|
                -if lens_prescription.try(:lens).present?
                  -lens=lens_prescription.lens
                  - od_lens_types =LensTypesPrice.find_by(id: lens.od_lens_types_price_id)
                  - os_lens_types =LensTypesPrice.find_by(id: lens.os_lens_types_price_id)
                  - od_type = od_lens_types.try(:lens_type)
                  - os_type = os_lens_types.try(:lens_type)
                  .row
                    %h4
                      Final Contact Lens Prescription
                    .col-md-8
                      .row
                      .col-md-1
                        
                      .col-md-3
                        %strong
                          Type
                      .col-md-1
                        %strong
                          Sphere
                      .col-md-2
                        %strong
                          Cylinder
                      .col-md-2
                        %strong
                          Axis
                      .col-md-1
                        %strong
                          Add
                      .col-md-1
                        %strong
                          Curve
                      .col-md-1
                        %strong
                          Diameter
                      .row
                        .col-md-1
                          OD
                        -if lens.od_type.present?
                          .col-md-3
                            =lens.od_type
                          .col-md-1
                            =lens.od_sphere
                          .col-md-2
                            = filter_lens_fields(od_type, 'cylinder') == "hidden" ? " " : lens.od_cylinder
                          .col-md-2
                            = filter_lens_fields(od_type, 'axis') == "hidden" ? " " : lens.od_axis
                          .col-md-1
                            = filter_lens_fields(od_type, 'add') == "hidden" ? " " : lens.od_add
                          .col-md-1
                            =lens.od_base_curve
                          .col-md-1
                            =lens.od_diameter
                        
                      .row
                        .col-md-1
                          OS
                        -if lens.os_type.present?
                          .col-md-3
                            =lens.os_type
                          .col-md-1
                            =lens.os_sphere
                          .col-md-2
                            = filter_lens_fields(os_type, 'cylinder') == "hidden" ? " " : lens.os_cylinder
                          .col-md-2
                            = filter_lens_fields(os_type, 'axis') == "hidden" ? " " : lens.os_axis
                          .col-md-1
                            = filter_lens_fields(os_type, 'add') == "hidden" ? " " : lens.os_add
                          .col-md-1
                            =lens.os_base_curve
                          .col-md-1
                            =lens.os_diameter
                        
                    .col-md-4
                      .row
                        .col-md-4
                          Issued Date
                        .col-md-4
                          =lens_prescription.try(:created_at).strftime("%m/%d/%y")
                      
                      .row
                        - if lens_prescription.cleaning_solution.present?
                          .col-md-4
                            Cleaning Solution
                          .col-md-4
                            = current_organisation.exam_cleaning_solution.find_by(id: lens_prescription.cleaning_solution).try(:name)
            %hr
        %br
        .lens-section
          = f.simple_fields_for :contact_lens_exam do |contact_f|
            .btn.btn-primary.toggle.lens_add_btn{"data-toggle"=>"collapse", "data-target"=>"#contact_lens_toggle"}
              Add Contact Lens Form
    
            %div{"id"=>"contact_lens_toggle"}
              %table.table
                %tr
                  %td
                    Keratometry:
                %tr               

                  %td
                    <br/>OD
                  %td
                    <br/>Horizontal
                    
                  %td
                    
                    = contact_f.input :od_d_h, label: 'Diopter', collection:  AppConstant::DIAMETER, selected: contact_f.object.od_d_h.present? ? contact_f.object.od_d_h : @previous_exam.try(:contact_lens_exam).try(:od_d_h) ,:include_blank => true, input_html:  {rows: 10, id: "od-d-h", class: "diameter_value"}
                  %td
                    = contact_f.input :od_mm_h, label: 'MM', collection:  AppConstant::MM, selected: contact_f.object.od_mm_h.present? ? contact_f.object.od_mm_h : @previous_exam.try(:contact_lens_exam).try(:od_mm_h),:include_blank => true, input_html:  {rows: 10, id: "od-mm-h", class: "mm_value"} 
                  %td
                    = contact_f.input :od_axis_h, label: 'Axis', collection:  AppConstant::AXISCL, selected: contact_f.object.od_axis_h.present? ? contact_f.object.od_axis_h : @previous_exam.try(:contact_lens_exam).try(:od_axis_h),:include_blank => true, input_html:  {rows: 10, id: "od-axis-h", class: "axis_value"}
                  %td
                    <br/>OS
                  %td
                    <br/>Horizontal
                    
                  %td
                    = contact_f.input :os_d_h, label: 'Diopter', collection:  AppConstant::DIAMETER, selected: contact_f.object.os_d_h.present? ? contact_f.object.os_d_h : @previous_exam.try(:contact_lens_exam).try(:os_d_h),:include_blank => true, input_html:  {rows: 10, id: "os-d-h", class: "diameter_value" }
                  %td
                    = contact_f.input :os_mm_h, label: 'MM', collection:  AppConstant::MM, selected: contact_f.object.os_mm_h.present? ? contact_f.object.od_mm_h : @previous_exam.try(:contact_lens_exam).try(:os_mm_h),:include_blank => true, input_html:  {rows: 10, id: "os-mm-h", class: "mm_value"} 
                  %td
                    = contact_f.input :os_axis_h, label: 'Axis', collection:  AppConstant::AXISCL, selected: contact_f.object.os_axis_h.present? ? contact_f.object.os_axis_h : @previous_exam.try(:contact_lens_exam).try(:os_axis_h),:include_blank => true, input_html:  {rows: 10, id: "os-axis-h", class: "axis_value"}
                %tr
                  %td
                    <br/>
                  %td
                    Vertical
                    
                  %td
                    = contact_f.input :od_d_v, label: false, collection: AppConstant::DIAMETER, selected: contact_f.object.od_d_v.present? ? contact_f.object.od_d_v : @previous_exam.try(:contact_lens_exam).try(:od_d_v),:include_blank => true, input_html:  {rows: 10, id: "od-d-v", class: "diameter_value"}
                  %td
                    = contact_f.input :od_mm_v, label: false, collection:  AppConstant::MM, selected: contact_f.object.od_mm_v.present? ? contact_f.object.od_mm_v : @previous_exam.try(:contact_lens_exam).try(:od_mm_v),:include_blank => true, input_html:  {rows: 10, id: "od-mm-v", class: "mm_value"} 
                  %td
                    = contact_f.input :od_axis_v, label: false, collection:  AppConstant::AXISCL, selected: contact_f.object.od_axis_v.present? ? contact_f.object.od_axis_v : @previous_exam.try(:contact_lens_exam).try(:od_axis_v),:include_blank => true, input_html:  {rows: 10, id: "od-axis-v", class: "axis_value"}
                  %td
                    <br/>
                  %td
                    Vertical
                    
                  %td
                    = contact_f.input :os_d_v, label: false, collection:  AppConstant::DIAMETER, selected: contact_f.object.os_d_v.present? ? contact_f.object.os_d_v : @previous_exam.try(:contact_lens_exam).try(:os_d_v), :include_blank => true,input_html:  {rows: 10, id: "os-d-v", class: "diameter_value"} 
                  %td
                    = contact_f.input :os_mm_v, label: false, collection:  AppConstant::MM, selected: contact_f.object.os_mm_v.present? ? contact_f.object.os_mm_v : @previous_exam.try(:contact_lens_exam).try(:os_mm_v),:include_blank => true, input_html:  {rows: 10, id: "os-mm-v", class: "mm_value"} 
                  %td
                    = contact_f.input :os_axis_v, label: false, collection:  AppConstant::AXISCL, selected: contact_f.object.os_axis_v.present? ? contact_f.object.os_axis_v : @previous_exam.try(:contact_lens_exam).try(:os_axis_v),:include_blank => true, input_html:  {rows: 10, id: "os-axis-v", class: "axis_value"}
                %tr
                  %td
                    Dominate Eye
                  %td
                    %input.optional.icheck-me.checkbox-md#examination_contact_lens_exam_attributes_dominated_eye_od{"data-color" => "blue", "data-skin" => "line", "data-text" => "OD", :name => "examination[contact_lens_exam_attributes][dominated_eye_od]", :type => "radio", :value => "OD", :checked => contact_f.object.dominated_eye_od == "OD"}
                  %td
                    %input.optional.icheck-me.checkbox-md#examination_contact_lens_exam_attributes_dominated_eye_os{"data-color" => "blue", "data-skin" => "line", "data-text" => "OS", :name => "examination[contact_lens_exam_attributes][dominated_eye_od]", :type => "radio", :value => "OS", :checked => contact_f.object.dominated_eye_od == "OS"}
                  %td
                    %input.remove_check.btn.btn-default{:type=> "button",value: "Remove"}

              -count = 0
              %div 
                = contact_f.simple_fields_for :lenses, contact_f.object.lenses.order("created_at ASC") do |lens_f|
                  - if @examination.lens_prescriptions.present?
                    = button_tag "Go to Finalized Prescription", type:"button", class: "btn btn-success btn-xm btn-right", onclick: "$('#finalized_prescriptions').click();"
                  %div.lens
                    .nested-fields.contact_lens_trial
                      .row
                        .col-md-12
                          .title
                            #{contact_f.object.lenses.first.id == lens_f.object.id ? 'Current Contact Lens' : 'Trial Contact Lens #' + count.to_s}
                      = render "/doctor/manage_examination/partial/lense_fields", f: lens_f, count: count
                      -count = count + 1
                      .row
                        .btn_div.col-md-11
                      
                          - unless @examination.lens_prescriptions.present?
                            = hidden_field_tag "#{lens_f.object_name}[finalize]", false
                            - unless current_doctor.role.include?("staff") && (current_doctor.role.reject { |c| c.blank? }.length == 1)
                              = button_tag "Finalize", type:"button", class: "btn btn-success btn-xm btn-right fin_btn"
                            - if contact_f.object.lenses.first.id == lens_f.object.id
                              = link_to "<button class=\"btn btn-success\" type=\"button\">Clear</button>".html_safe, "#", class: "clear_current_lens btn-right"
                            -else  
                              = link_to "<button class=\"btn btn-danger btn-xm\" type=\"button\">Remove</button>".html_safe, remove_lens_examination_manage_index_path(@examination, lens_id: lens_f.object.id), remote: true, method: :delete, class: "delete-btn btn-right", :"data-value"=> "remove_contact_lens", :"data-page"=> "refraction_contact_lens_page"  

                            - if lens_f.object.contact_lens_distribution_order.present?
                              %a{:href => "javascript:void(0)", url: "/contact_lens_distribution_orders/#{lens_f.object.contact_lens_distribution_order.id}/edit", lens_id: "#{lens_f.object.id}", :class => "btn btn-primary btn-right order_trial_btn"} Order Trial
                            -else
                              %a{:href => "javascript:void(0)", url: "/contact_lens_distribution_orders/new", lens_id: "#{lens_f.object.id}", :class => "btn btn-primary btn-right order_trial_btn"} Order Trial   

              = link_to "<button class=\"btn btn-success btn-xm\" type=\"button\">Add New </button>".html_safe, "#", class: "add-new-btn btn-right add_new_m", :"data-value"=> "add_contact_lens", :"data-href"=> refraction_contact_lens_examination_manage_index_path(@examination), :"data-page"=> "refraction_contact_lens_page" unless @examination.lens_prescriptions.present?

  = f.input :joint_resource_id, as: :hidden
  = f.submit "Finalized", class: 'hidden', id: "form_finalized_button", remote: false


#contact_lens_type_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.bigModal
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Contact Lens Type
      = form_tag add_lens_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                %label Brand Name
                = text_field_tag "lenses[1][brand_name]","", class: "form-control",required: true
                = hidden_field_tag 'action_type' ,'add_new'
              .col-md-1.form-group
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
              
              .col-md-3.form-group
                %label Modality
                = select_tag "lenses[1][modality]", options_for_select([['1 month', '1'], ['3 months', '3'] , ['6 months', '6'] , ['12 months', '12']]), class: "form-control"
              .col-md-3.form-group
                %label Type
                = select_tag "lenses[1][lens_type]",options_for_select([['',''], ['Sphere', 'sphere'], ['Toric', 'toric'] , ['Multifocal', 'multifocal']]), class: "form-control lens_type_selection"
              .col-md-3.form-group
                %label Cost of Good
                = text_field_tag "lenses[1][cost_of_good]","", class: "form-control", placeholder: "$"
              .col-md-3.form-group
                %label Unit Price
                = text_field_tag "lenses[1][price]","", class: "form-control", placeholder: "$",required: true
              .col-md-2.form-group
                %label Base Curves
                = text_field_tag "lenses[1][base_curve]", "",class: 'form-control multi-select-base-curves'
              .col-md-2.form-group
                %label Diameters
                = text_field_tag "lenses[1][diameters]", "",class: 'form-control multi-select-diameters'
              .col-md-2.form-group
                %label Sphere
                =text_field_tag "lenses[1][sphere]", AppConstant::SPHERE.join(','), class: "form-control multi-select-sphere"
              .col-md-2.form-group.lenses_cylinder
                %label Cylinder
                =text_field_tag "lenses[1][cylinder]", AppConstant::CYLINDER.join(','), class: "form-control multi-select-cylinder"
              .col-md-2.form-group.lenses_axis
                %label Axis
                =text_field_tag "lenses[1][axis]",AppConstant::AXIS.join(','),class: "form-control multi-select-axis"
              .col-md-2.form-group.lenses_add
                %label Add
                =text_field_tag "lenses[1][add]", AppConstant::ADD.join(','), class: "form-control multi-select-add"

        .modal-footer            
          %button.btn.btn-sm.blue Save

= render '/doctor/manage_examination/shared/final_count_js'
= render "/doctor/manage_examination/partial/drawing_js"

/Start modal box for store edit
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id=>"order_trial_modal"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#myModalLabel.modal-title
          %span#store_logo_image 
          %span#store_heading
            - patient = @examination.joint_resource.patient
            = "#{patient.first_name} #{patient.last_name} Trial Lens Order"
      #order_trial_lens.modal-body
/end of family store modal box 

:javascript  
  ComponentsPickers.init();
  initializeTagMultiselect();
  $('.toggle').on('click', function(){
    if($(this).next().next().hasClass('in')){
      $(this).next().val(false);
    }
    else
    {
      $(this).next().val(true);
    }
  })
  $(document).on('change','.diameter_value',function(){
    var index = $(this).prop('selectedIndex');
    $(this).parent().parent().next().find('select').prop('selectedIndex',index)  
  })
  $(document).on('change','.mm_value',function(){
    var index = $(this).prop('selectedIndex');
    $(this).parent().parent().prev().find('select').prop('selectedIndex',index)  
  })
  
  function initializeTagMultiselect()
  {
    $(".multi-select-base-curves").select2({
      tags: #{AppConstant::BASECURVE}
    });

    $(".multi-select-diameters").select2({
      tags: #{AppConstant::DIAMETER}
    });
    $(".multi-select-sphere").select2({
      tags: #{AppConstant::SPHERE}
    });
    $(".multi-select-cylinder").select2({
      tags: #{AppConstant::CYLINDER}
    });
    $(".multi-select-add").select2({
      tags: #{AppConstant::ADD}
    });
    $(".multi-select-axis").select2({
      tags: #{AppConstant::AXIS}
    });
  }

  $(document).on('change','.lens_type_selection',function(){
    value = $(this).val();
    if(value == "multifocal"){
      $(this).parent().parent().find('.lenses_cylinder').addClass('hidden');
      $(this).parent().parent().find('.lenses_axis').addClass('hidden');
      $(this).parent().parent().find('.lenses_add').removeClass('hidden');
    }
    else if(value == "sphere")
    {
      $(this).parent().parent().find('.lenses_cylinder').addClass('hidden');
      $(this).parent().parent().find('.lenses_axis').addClass('hidden');
      $(this).parent().parent().find('.lenses_add').addClass('hidden');
    }
    else if(value == "toric")
    {
      $(this).parent().parent().find('.lenses_cylinder').removeClass('hidden');
      $(this).parent().parent().find('.lenses_axis').removeClass('hidden');
      $(this).parent().parent().find('.lenses_add').addClass('hidden');
    }
    else
    {
      $(this).parent().parent().find('.lenses_cylinder').removeClass('hidden');
      $(this).parent().parent().find('.lenses_axis').removeClass('hidden');
      $(this).parent().parent().find('.lenses_add').removeClass('hidden');
    }
  })

  $(document).ready(function(){
    url = $('#overview_tab').attr('data-href')
    $('#print_overview').load( url, function( response, status, xhr ) {   
      $('.spinner').hide();
      icheck();      
      examinationsFormPage();      
      initializePlugins();
    });
  })
  $(document).on('click','.remove_check',function(){
    $('input[name="examination[contact_lens_exam_attributes][dominated_eye_od]"]').iCheck('unCheck');
    $('input[name="examination[contact_lens_exam_attributes][dominated_eye_os]"]').iCheck('unCheck');
  })
  $(".order_trial_btn").click(function(){ 
    var lens_id = $(this).attr("lens_id");
    var url = $(this).attr("url");
    $.ajax({
      type: "PUT",
      url: "/examinations/#{@examination.id}",
      data: $(".exam-form").serialize(),
      success: function(response) {
        $.ajax({
          type: "GET",
          url: url,
          dataType:"script",
          data: {"exam" : "#{@examination.id}", "lens_id" : lens_id},
          success: function(response) {

          }
        });
      }
    });
  })

  finalise_lens();
  examFormSubmitEnter();
:css
   .modal-content{
    position: absolute;
  }
  .contact_lens_trial:hover{
    border: 1px solid #000 !important;
  }

  .bigModal{
    width:940px;
    
  }

  .multi-select-axis .select2-choices {
    max-height: 160px !important;  
    overflow-y: auto;
  }

  .multi-select-add .select2-choices {
    max-height: 160px !important;  
    overflow-y: auto;
  }

  .multi-select-sphere .select2-choices {
    max-height: 160px !important;  
    overflow-y: auto;
  }

  .multi-select-cylinder .select2-choices {
    max-height: 160px !important;  
    overflow-y: auto;
  }
  @media (max-width:767px){
    .res-mob .col-md-6 {
      width:100%
    }
  }