-@notifications.each do |notification|
  -if notification.event.present?
    -unless notification.is_deleted?
      %li
        %a{:href => notifications_path}
          %span.task
            %span.desc
              -booking_time=notification.event.try(:start_time)            
              - if notification.event.try(:doctor).try(:id)==current_doctor.id
                - tense = booking_time > Time.now ? "have" : "had"
                = (AppConfig.show_notification['doctor']['have_appointment']['with_current_doctor'] % {patient_name: notification.event.try(:joint_resource).try(:member).try(:name), booking_date: booking_time.to_date, tense: tense,  booking_time: booking_time.strftime('%I:%M %p')}).html_safe
              - else
                - tense = booking_time > Time.now ? "has" : "had"
                = (AppConfig.show_notification['doctor']['have_appointment']['with_doctor'] % {doctor_name: notification.event.doctor.name, patient_name: notification.event.joint_resource.member.name, tense: tense, booking_date: booking_time.to_date, booking_time: booking_time.strftime('%I:%M %p')}).html_safe
               
            %span.percent
              - no_of_days=(booking_time.to_date-Time.now.to_date).to_i
              = booking_time.today? ? "Today at #{booking_time.strftime('%I:%M %p')}" : no_of_days<0 ? "#{no_of_days.abs} day(s) ago" : "#{no_of_days} day(s) to go"
          %span.progress{:style=> "width: 100%"}
            - bar_percentage=(((booking_time-Time.now)/2592000)*100).to_i
            %span.progress-bar{class: "#{bar_percentage<0 ? 'progress-bar-danger' : (100-bar_percentage).abs>50 ? 'progress-bar-success' : 'progress-bar-warning'}", "aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :style => "width: #{bar_percentage<0 ? bar_percentage.abs : (bar_percentage-100).abs}%;"}
              %span.sr-only
                40% Complete
    -else
      %li
        %a{:href => notifications_path}
          %span.task
            %span.desc
              -booking=Booking.with_deleted.find(notification.event_id)
              -booking_time=booking.start_time
              - if booking.destroyer_type=="Doctor"
                - if booking.destroyer_id==current_doctor.id
                  - tense = booking_time > Time.now ? "have" : "had"

                  = (AppConfig.show_notification['doctor']['cancel_appointment']['by_current_doctor'] % {patient_name: booking.joint_resource.member.name, tense: tense}).html_safe
                - else
                  - tense = booking_time > Time.now ? "has" : "had"
                  = (AppConfig.show_notification['doctor']['cancel_appointment']['by_doctor'] % { doctor_name: Doctor.find(booking.destroyer_id).name, tense: tense, patient_name: booking.joint_resource.member.name}).html_safe

              - else
                - tense = booking_time > Time.now ? "has" : "had"              
                = (AppConfig.show_notification['doctor']['cancel_appointment']['by_patient'] % { doctor_name: booking.doctor.name, tense: tense, patient_name: booking.joint_resource.member.name}).html_safe
              
            %span.percent
              - no_of_days=(booking_time.to_date-Time.now.to_date).to_i
              = booking_time.today? ? "Today at #{booking_time.strftime('%I:%M %p')}" : no_of_days<0 ? "#{no_of_days.abs} day(s) ago" : "#{no_of_days} day(s) to go"
