- count = 0
-@notifications.each do |key, value|
  - if key == nil
    - value.each do |notification|
      %li
        %a{"data-toggle"=> "modal", :href => notification_url(notification)}
          %span.task.contact_modal
            %span.desc
              -if notification.event_type == 'Log'
                - trackable = notification.event.trackable
                - if trackable.class == "ContactForm"
                  -unless trackable.try(:name).present?
                    - unless trackable.try(:patient_id).present?
                      - @patient = Patient.where(phone: trackable.try(:phone_number)).first
                      - name = @patient.present? ? @patient.name : trackable.try(:phone_number)
                    - else
                      - name = trackable.try(:patient).try(:name)
                  -else
                    - name = trackable.try(:name)
                - else
                  - @patient = Patient.where(phone: trackable.from).first
                  - name = @patient.present? ? @patient.name : trackable.from
                  - name = trackable.logs.where(action: "recive").last.try(:notification).try(:patient).present? ? trackable.logs.where(action: "recive").last.notification.patient.try(:name) : name
              -else
                - name = notification.event.name
              ="You have #{notification.event_type == 'Log' ? 'text message reply ' : 'contact request '}from <strong>#{name}</strong>".html_safe
            %span.percent
              = "At #{notification.event.created_at.strftime('%I:%M %p, %m/%d/%Y')}"
          %span.progress{:style=> "width: 0%"}
          - count = count + 1
          - break if count == 4
  -else
    %li
      %a{"data-toggle"=> "modal", :href => notification_url(value.first)}
        %span.task.contact_modal
          %span.desc
            -if value.first.event_type == 'Log'
              - trackable = value.first.event.trackable
              - if trackable.class == "ContactForm"
                -unless trackable.try(:name).present?
                  - unless trackable.try(:patient_id).present?
                    - @patient = Patient.where(phone: trackable.try(:phone_number)).first
                    - name = @patient.present? ? @patient.name : trackable.try(:phone_number)
                  - else
                    - name = trackable.try(:patient).try(:name)
                -else
                  - name = trackable.try(:name)
              - else
                - @patient = Patient.where(phone: trackable.from).first
                - name = @patient.present? ? @patient.name : trackable.from
                - name = trackable.logs.where(action: "recive").last.try(:notification).try(:patient).present? ? trackable.logs.where(action: "recive").last.notification.patient.try(:name) : name
            -else
              - name = value.first.event.name
            ="You have #{value.first.event_type == 'Log' ? 'text message reply ' : 'contact request '}from <strong>#{name}</strong>".html_safe
          %span.percent
            = "At #{value.first.event.created_at.strftime('%I:%M %p, %m/%d/%Y')}"
        %span.progress{:style=> "width: 0%"}
        - count = count + 1
        - break if count == 4           