#team.team-block.content.content-center.margin-bottom-40
  %h2
    Meet
    %strong{:style => "color: #27BEB3; font-weight: bold;"} the team
  
  .row
    .col-md-6.item
      %img.img-responsive{:alt => "Dr. Matthew Chrycy", :src => "/images/matt_face.png", :style => "width: 200px;"}
        %h3 Dr. Matthew Chrycy
        %em CEO
        %p{:style => "color: #27BEB3"}
          matt@itrust.io
    .col-md-6.item
      %img.img-responsive{:alt => "Dr. Adam Stelzer", :src => "/images/adam_face.png", :style => "width: 200px;"}
        %h3 Dr. Adam Stelzer
        %em COO
        %p{:style => "color: #27BEB3"}
          adam@itrust.io