-@notifications.each do |notification|
  -unless notification.is_deleted?  
    %li
      %a{:href => notifications_path}
        %span.task
          %span.desc
            - booking_time=notification.event.start_time
            - tense = booking_time > Time.now ? "have" : "had"
            =  (AppConfig.show_notification['patient']['have_appointment'] % {doctor_name: notification.event.doctor.name, booking_date: booking_time.to_date, tense: tense, booking_time: booking_time.strftime('%I:%M %p')}).html_safe
           
          %span.percent
            - no_of_days=(booking_time.to_date-Time.now.to_date).to_i
            = booking_time.today? ? "Today at #{booking_time.strftime('%I:%M %p')}" : no_of_days<0 ? "#{no_of_days.abs} day(s) ago" : "#{no_of_days} day(s) to go"
        %span.progress{:style=> "width: 100%"}
          -bar_percentage=(((booking_time-Time.now)/2592000)*100).to_i
          %span.progress-bar{class: "#{bar_percentage<0 ? 'progress-bar-danger' : (100-bar_percentage).abs>50 ? 'progress-bar-success' : 'progress-bar-warning'}", "aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :style => "width: #{bar_percentage<0 ? bar_percentage.abs : (bar_percentage-100).abs}%;"}
            %span.sr-only
              40% Complete
  -else
    %li
      %a{:href => notifications_path}
        %span.task
          -booking=Booking.deleted.where(id: notification.event_id).first
          - if booking.present?
            %span.desc
              -booking_time=booking.start_time

              - if booking.destroyer_type=="Patient"
                - tense = booking_time > Time.now ? "have" : "had"
                =  (AppConfig.show_notification['patient']['cancel_appointment']['by_patient'] % {doctor_name: booking.destroyer.try(:name).to_s, tense: tense}).html_safe            
              - else
                - tense = booking_time > Time.now ? "has" : "had"
                =  (AppConfig.show_notification['patient']['cancel_appointment']['by_doctor'] % {doctor_name: booking.destroyer.try(:name).to_s, tense: tense}).html_safe
              
            %span.percent
              - no_of_days=(booking_time.to_date-Time.now.to_date).to_i
              = booking_time.today? ? "Today at #{booking_time.strftime('%I:%M %p')}" : no_of_days<0 ? "#{no_of_days.abs} day(s) ago" : "#{no_of_days} day(s) to go"