- if store.doctors.present?
	%h3.event-form-title Select Doctor to see his appointment
	#external-events
		= select_tag :doctor_id, options_from_collection_for_select(store.doctors.doctors_with_role_doctor, "id", "name",  store.try(:doctors).try(:first).try(:id)), class: "form-control", name: "booking[doctor_id]" , style: "margin-bottom: 10px"
- unless @dont_need_store_list
	= render "/doctor/bookings/doctor_list", resource: store