- parent_region = params[:parent_region] || "US"
- country = Carmen::Country.coded(parent_region)
- if country.try(:subregions?)
	= subregion_select(@address_name, :state_id, parent_region, {}, { :class => 'form-control' } )
- else
	= text_field(:addresses, :state_id)