#benefits.choose-us-block.content.text-center.margin-bottom-40
  %h2
    BENEFITS WHEN YOU
    %strong{:style => "color: #27BEB3; font-weight: bold;"} CHOOSE US
  %h4
    Join the thousands that have given us the opportunity to make their practice grow.
  .row
    .col-md-6.col-sm-6.col-xs-12.text-left
      %img.img-responsive{:alt => "Why to choose us", :src => "/images/choose_us.png"}
    .col-md-6.col-sm-6.col-xs-12.text-left
      #accordion1.panel-group
        .panel.panel-default
          .panel-heading
            %h5.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion1", "data-toggle" => "collapse", :href => "#accordion1_0"} Save Time
          #accordion1_0.panel-collapse.collapse.in
            .panel-body 
              %p.text_font
              - data_name = 'save_time' 
              = about_us_data(data_name)
        .panel.panel-default
          .panel-heading
            %h5.panel-title
              %a.accordion-toggle.collapsed{"data-parent" => "#accordion1", "data-toggle" => "collapse", :href => "#accordion1_1"} Make more revenue
          #accordion1_1.panel-collapse.collapse
            .panel-body
              %p.text_font 
              - data_name = 'make_more_revenue' 
              = about_us_data(data_name)
        .panel.panel-default
          .panel-heading
            %h5.panel-title
              %a.accordion-toggle.collapsed{"data-parent" => "#accordion1", "data-toggle" => "collapse", :href => "#accordion1_2"} Storage when you need it
          #accordion1_2.panel-collapse.collapse
            .panel-body
              %p.text_font 
              - data_name = 'free_storage' 
              = about_us_data(data_name)
        .panel.panel-default
          .panel-heading
            %h5.panel-title
              %a.accordion-toggle.collapsed{"data-parent" => "#accordion1", "data-toggle" => "collapse", :href => "#accordion1_3"} Faster Answers
          #accordion1_3.panel-collapse.collapse
            .panel-body
              %p.text_font 
              - data_name = 'customer_service' 
              = about_us_data(data_name)
        .panel.panel-default
          .panel-heading
            %h5.panel-title
              %a.accordion-toggle.collapsed{"data-parent" => "#accordion1", "data-toggle" => "collapse", :href => "#accordion1_4"} Less Stress
          #accordion1_4.panel-collapse.collapse
            .panel-body
              %p.text_font 
              - data_name = 'opto_platform' 
              = about_us_data(data_name)
        .panel.panel-default
          .panel-heading
            %h5.panel-title
              %a.accordion-toggle.collapsed{"data-parent" => "#accordion1", "data-toggle" => "collapse", :href => "#accordion1_5"} iTrust Satisfaction Guarantee 
          #accordion1_5.panel-collapse.collapse
            .panel-body
              %p.text_font 
              - data_name = 'satisfaction_guarantee' 
              = about_us_data(data_name)
#services.services-block.content.content-center
  %h2
    About
    %strong{:style => "color: #27BEB3; font-weight: bold;"} US

  %h3 Our company is designed to save you time, money, and lower your stress on a daily bases.
  
  %h4.text_font 
  - data_name = 'internet_platform' 
  = about_us_data(data_name)
%h2.content.content-center
  1 YEAR OFFICE 
  %strong{:style => "color: #27BEB3; font-weight: bold;"} POTENTIALS
  #facts-block.facts-block.content.content-center
    .row
      .col-md-3.col-sm-3.col-xs-6.mobile_padding
        .item.mobile_font{:style => "width: initial;"}
          %strong 99%
          Patient <br/> Satisfaction
      .col-md-3.col-sm-3.col-xs-6.mobile_padding
        .item.mobile_font{:style => "width: initial;"}
          %strong 23K
          Saved in expensive, wage hours, etc
      .col-md-3.col-sm-3.col-xs-6.mobile_padding
        .item.mobile_font{:style => "width: initial;"}
          %strong 1.5
          Hours saved daily from staff routine job
      .col-md-3.col-sm-3.col-xs-6.mobile_padding
        .item.mobile_font{:style => "width: initial;"}
          %strong 0
          Risk for endless office potential  
:css
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .facts-block {
    padding: 0px 0 0 !important;
    }
    .col-md-3.col-sm-3.col-xs-6.mobile_padding {
    padding: 10px;
    }
  } 