%body.page-header-fixed.page-quick-sidebar-over-content
  / BEGIN HEADER
  .row
  .col-md-12
    / Google Map
    .row
      %iframe{:frameborder => "0", :height => "400px", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3593.261584698569!2d-80.191035!3d25.761922000000002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b6816f200f7f%3A0xa3023420f20056c3!2sEyetrust+Vision+of+Brickell!5e0!3m2!1sen!2sus!4v1428942744764", :width => "100%"}
    .row.margin-bottom-20
      .col-md-6
        .space20
        %h3.form-section Contacts
        %p
          We strive to meet each patient’s individual needs with attention to detail to ensure customer satisfaction.
        .well
          %h4 Address
          %address
            %strong Eyetrust Vision of Brickell
            %br
              1201 Brickell Ave #300
              %br
                SMiami, FL 33131, United States
                %br
                  %abbr{:title => "Phone"} P:
                  (305) 587-9898
          %address
            %strong Email
            %br
              %a{:href => "mailto:#"}
                eyetrustvision@gmail.com
          %ul.social-icons.margin-bottom-10
            %li
              %a.facebook{"data-original-title" => "facebook", :href => "#"}
            %li
              %a.github{"data-original-title" => "github", :href => "#"}
            %li
              %a.googleplus{"data-original-title" => "Goole Plus", :href => "#"}
            %li
              %a.linkedin{"data-original-title" => "linkedin", :href => "#"}
            %li
              %a.rss{"data-original-title" => "rss", :href => "#"}
            %li
              %a.skype{"data-original-title" => "skype", :href => "#"}
            %li
              %a.twitter{"data-original-title" => "twitter", :href => "#"}
            %li
              %a.youtube{"data-original-title" => "youtube", :href => "#"}
      .col-md-6
        .space20
        / BEGIN FORM
        %form{:action => "#"}
          %h3.form-section Contact Form
          %p
            %strong Most messages will be answered within 1 business day.
            %br
            Please fill out the form today for inquires of eye exams, eyeglasses, contact lenses, sunglasses, prescriptions and other information pertaining to our office. We take pride in our optometrist office in Miami and want to make your experience going to the eye doctor and easy and pleasurable one.  Please note with your are traveling from Downtown Miami, Miami Beach, South Beach, Coral Gables, Coconut Grove, Key Biscayne, and other outside area please find our Valet Parking on SE 12 street and the Colonnade Building Entrance.

          .form-group
            .input-icon
              %label
                Name
              %span.error *
              %i.fa.fa-user
              %input.form-control{:placeholder => "First Last", :type => "text"}
          .form-group
            %label
              Email
            %span.error *
            .input-icon
              %i.fa.fa-envelope
              %input.form-control{:placeholder => "email@domain.com", :type => "password"}
          .form-group
            %label
              Phone Number
            %span.error *
            %input.form-control{placeholder: "eg: +12025550172", :type => "text"}
          .form-group
            %label
              Comment
            %span.error *
            %textarea.form-control{:placeholder => "The reson for your contact", :rows => "3=6"}
          .form-group
            %label
              Priority
            %span.error *
            %select.form-control.col-md
              %option{:value => "Select Option"} Select Option
              %option{:value => "Low"} Low
              %option{:value => "Normal"} Normal
              %option{:value => "Urgent"} Urgent
          .form-group
            %label    
              Existing Patient
            %span.error *
            %br
            %input{:name => "optradio", :type => "radio"} Yes
            %input{:name => "optradio", :type => "radio"} No 
          .form-group
            %button.btn.btn-primary{:type => "submit"} Submit 

          
        / END FORM
        / END PAGE CONTENT
    / END CONTENT
    
  / END CONTAINER

:javascript
  jQuery(document).ready(function() {    
    Metronic.init(); // init metronic core components
    Layout.init(); // init current layout
    QuickSidebar.init() // init quick sidebar
    ContactUs.init();
  });
/ END JAVASCRIPTS
/ END BODY