$("<%=j render(:partial => 'doctor_calendar_notifications', :object => @notifications) %>").appendTo($(".notifications"));

<% if @notifications.total_pages > @notifications.current_page %>
  //page.call 'checkScroll'
  $('.notifications').scroll(function() {
  	checkScroll();
	});

<% else %>
  //page[:loading].hide
 $('.notification_spinner').hide();
<% end %>

