$("<%=j render(:partial => 'doctor_message_notifications', :object => @notifications) %>").appendTo($(".messages"));

<% if @notifications.total_pages > @notifications.current_page %>
  $('.messages').scroll(function() {
  	checkScroll();
	});

<% else %>
 $('.message_spinner').hide();
<% end %>
