#services.services-block.content.content-center
  %h2
    NEW
    %strong{:style => "color: #27BEB3; font-weight: bold;"} FEATURES
  
  .row
    #seo_drive.col-md-4.col-sm-4.col-xs-12.item.features
      %i.fa.fa-heart
      %h3 Customized SEO Driven Website
      %p.text_font
        You will get the most customized experience with our SEO driven website for your business. Let us do the work for you, and just still back and relax while we make you the a website that has proven results.
      -#%a.btn.btn-lg.btn-success.video_btn Play Video
      -#.seo_video{:style => "display: none;"}
        %video{:width => 320, :height => 240, :controls => true }
          %source{:src => "/videos/seo.mp4", :type => 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
    #online_booking.col-md-4.col-sm-4.col-xs-12.item.features
      %i.fa.fa-calendar
      %h3 Integrated Online Scheduler
      %p.text_font
        Point and click scheduling for your patients has never been easier. Free up your phone lines and let your patients set the time and doctor for what works best for them.
      %br
      -#%a.btn.btn-lg.btn-success.video_btn Play Video
      -#.scheduler_video{:style => "display: none;"}
        %video{:width => 320, :height => 240, :controls => true}
          %source{:src => "/videos/scheduler.mp4", :type => 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
    #rated_ehr.col-md-4.col-sm-4.col-xs-12.item.features
      %i.fa.fa-mobile
      %h3 Flexible Doctor Friendly EMR
      %p.text_font
        Number one rated EMR is fast, accurate, flexible, and customizable to all your offices needs.  See patients more efficiently on your desktop, laptop, of table device.
      %br
      -#%a.btn.btn-lg.btn-success.video_btn Play Video
      -#.mobile_video{:style => "display: none;"}
        %video{:width => 320, :height => 240, :controls => true}
          %source{:src => "/videos/mobile.mp4", :type => 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
  .row
    .col-md-4.col-sm-4.col-xs-12.item.features
      %i.fa.fa-desktop
      %h3 Social Media Designed Patient Portal
      %p.text_font
        Let your patients feel comfortable with your practice in their social media designed patient portal. Patients are able to place orders, schedule appointments, manage invoices, and address any office queries in one safe spot.
      -#%a.btn.btn-lg.btn-success.video_btn Play Video
      -#.patient_video{:style => "display: none;"}
        %video{:width => 320, :height => 240, :controls => true}
          %source{:src => "/videos/patient.mp4", :type => 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
    #point_sale.col-md-4.col-sm-4.col-xs-12.item.features
      %i.fa.fa-newspaper-o
      %h3 Point of Sale Order Forms
      %p.text_font
        Customize your order form to match your office needs. Quickbooks linking, POS integration, the latest technology at your finger tips.
      %br
      -#%a.btn.btn-lg.btn-success.video_btn Play Video
      -#.order_video{:style => "display: none;"}
        %video{:width => 320, :height => 240, :controls => true}
          %source{:src => "/videos/order.mp4", :type => 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
    #depth_analytics.col-md-4.col-sm-4.col-xs-12.item.features
      %i.fa.fa-signal
      %h3 In-depth office analytics
      %p.text_font
        We give you the most accurate graphical data for your office, doctors, and employees performance. See what’s working or what isn’t, all shown instantly.
      %br
      -#%a.btn.btn-lg.btn-success.video_btn Play Video
      -#.analytics_video{:style => "display: none;"}
        %video{:width => 320, :height => 240, :controls => true}
          %source{:src => "/videos/analytics.mp4", :type => 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}

:javascript
  $(document).on('click','.video_btn',function(){
    if($(this).next().is(':hidden') == true)
    {
      $(this).next().show();
      var video = $(this).next().find('video')[0];
      video.play();
      if (video.requestFullscreen) {
        video.requestFullscreen();
      } else if (video.mozRequestFullScreen) {
        video.mozRequestFullScreen();
      } else if (video.webkitRequestFullscreen) {
        video.webkitRequestFullscreen();
      }
      $(this).html("Stop Video")
    }
    else
    {
      $(this).next().hide();
      var video = $(this).next().find('video')[0];
      video.pause();
      video.currentTime = 0;
      $(this).html("Play Video")
    }
  });

:css
  .features:hover {
    background-color: GRAY;
    color: white;
    border: 1px solid red;
  }