#mkBgSlider.mk-header-slider
  %img.img-responsive.slider_img{:src => "/images/slide4.jpg"}
  %span.mk-slider-mask
  .mkFlexSlider
    .flexSlider
      .slides
        %article{:style=>"margin-top: 130px !important;"}
          %div
            %h1.mainCaption{:style=>"background-color: black;"} OPTOMETRY EHR FOR LOWERING STRESS, SAVING TIME & INCREASING REVENUE
            %p.subCaption 
              %b{:style=>"background-color: black;"} Save money with $0 activation fee | Lower your stress with quick implementation | Let the EMR do your work for you | Grow your business now!
          %input{:type => "text", :id => "email_scroll", :name => "email",:placeholder=>"Enter your email address", :style=>"font-size: 14px;border: 3px solid cornflowerblue;width: 20%"}
          %a.btn.btn-lg.btn-success{:href => "/#organisation", :id => "sign_scroll"} Sign up FREE

#about_us.target
  = render :file => "/pages/about_us"

#features.target
  = render :file => "/pages/features"

#prices.target
  = render :file => "/pages/prices"

#testimonials.target
  = render :file => "/pages/testimonials"

= render "meet_team"

#organisation.content.content-center.target
  %h2
    Sign Up
    %strong{:style => "color: #27BEB3; font-weight: bold;"} Free Account
  = render :file => "/organisations/no_tab_new"

:css
  .text_font {
    font-family: Ariel !important;
  }

:javascript
  $(document).on('click','#sign_scroll',function(){
    $('#owner_email').val($('#email_scroll').val());
  })
  $(document).on('focus','#email_scroll',function(){
    jQuery('.flexSlider').flexslider('pause');
  })
  $(document).on('focusout','#email_scroll',function(){
    jQuery('.flexSlider').flexslider('play');
  })