#prices.prices-block.content.content-center
  
  %h2.margin-bottom-50
    %strong{:style => "color: #27BEB3; font-weight: bold;"} Pricing
  .row
    / Pricing item BEGIN
    .col-md-3.col-sm-6.col-xs-6
      .pricing-item
        .pricing-head
          %h3 Starter
          
        .pricing-content.mobile_content_pricing
          .pi-price.mobile_view_drop1
            %strong
              $
              %em 99
            %p Per Month
          %ul.list-unstyled.mobile_view_display_none.mobile_view_drop1
            %li
              %i.fa.fa-circle
              Up to 3 Users
            %li
              %i.fa.fa-circle
              $0 Activation
            %li
              %i.fa.fa-circle
              Free Unlimited Text Message
            %li
              %i.fa.fa-circle
              Free Updates
            %li
              %i.fa.fa-circle
              Free 24/7 World Class Technical Software Support              
            %li
              %i.fa.fa-circle
              Free Recall w/ integrate Patient Email Campaigns  
            %li
              %i.fa.fa-circle
              Full access to iTrust EHR, POS, Patient Management Platform
        .pricing-footer
          %a.btn.btn-default{:href => "/#organisation"} Sign Up
    / Pricing item END
    / Pricing item BEGIN
    .col-md-3.col-sm-6.col-xs-6
      .pricing-item
        .pricing-head
          %h3 Professional
        %p.add_clr
          additional    
        .pricing-content.mobile_content_pricing
          .pi-price.mobile_view_drop2
            %strong
              $
              %em 199
            %p Per Month
          %ul.list-unstyled.mobile_view_display_none.mobile_view_drop2
            %li
              %i.fa.fa-circle
              Up to 9 Users
            %li
              %i.fa.fa-circle
              $0 Activation
            %li
              %i.fa.fa-circle
              Free Unlimited Text Message
            %li
              %i.fa.fa-circle
              Free Updates
            %li
              %i.fa.fa-circle
              Free 24/7 World Class Technical Software Support              
            %li
              %i.fa.fa-circle
              Free Recall w/ integrate Patient Email Campaigns  
            %li
              %i.fa.fa-circle
              Full access to iTrust EHR, POS, Patient Management Platform
        .pricing-footer
          %a.btn.btn-default{:href => "/#organisation"} Sign Up
    / Pricing item END

    / Pricing item BEGIN
    .col-md-3.col-sm-6.col-xs-6
      .pricing-item
        .pricing-head
          %h3 Unlimited
        %p.add_clr
          additional  
        .pricing-content.mobile_content_pricing
          .pi-price.mobile_view_drop3
            %strong
              $
              %em 299
            %p Per Month
          %ul.list-unstyled.mobile_view_display_none.mobile_view_drop3
            %li
              %i.fa.fa-circle
              Unlimited Users
            %li
              %i.fa.fa-circle
              $0 Activation
            %li
              %i.fa.fa-circle
              Free Unlimited Text Message
            %li
              %i.fa.fa-circle
              Free Updates
            %li
              %i.fa.fa-circle
              Free 24/7 World Class Technical Software Support              
            %li
              %i.fa.fa-circle
              Free Recall w/ integrate Patient Email Campaigns  
            %li
              %i.fa.fa-circle
              Full access to iTrust EHR, POS, Patient Management Platform
        .pricing-footer
          %a.btn.btn-default{:href => "/#organisation"} Sign Up
    / Pricing item END
   
    / Pricing item BEGIN
    .col-md-3.col-sm-6.col-xs-6
      .pricing-item
        .pricing-head
          %h3 Multi-practice Groups
          
        .pricing-content.mobile_content_pricing
          .pi-price.mobile_view_drop4
            %strong
              $ SAVE
          %ul.list-unstyled.mobile_view_display_none.mobile_view_drop4
            %li
              %i.fa.fa-circle
              2-5 Stores
            %li  
              30% Discount
            %li
              %i.fa.fa-circle
              6-10 Stores
            %li  
              35% Discount
            %li
              %i.fa.fa-circle
              11-20 Stores
            %li  
              40% Discount
            %li
              %i.fa.fa-circle
              21-35 Stores
            %li  
              45% Discount
            %li
              %i.fa.fa-circle
              36+ Stores
            %li  
              50% Discount
        .pricing-footer
          %a.btn.btn-default{:href => "/#organisation"} Sign Up
    / Pricing item END 
:css
  .pricing-content {
  height: 620px;
  }
  .pi-price.webview {

  }
  .pricing-head{
    margin-bottom: 0 !important;
  }
  .pi-price{
    margin-top: 20px;
  }
  .add_clr{
    color: #27BEB3;
    margin-top: 5px;
  }
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #prices.prices-block.content.content-center[class*="col-"] {
        width: 100%;
    }
    .pricing-content.mobile_content_pricing {
    height: auto;
    }
    .pricing-head h3 {
    font-size: 27px;
    }
    .list-unstyled.mobile_view_display_none {
      
    }   
  }
:javascript
    $(document).ready(function(){
      if (screen.width <= 768) {
        $(".list-unstyled.mobile_view_display_none").hide();
        $(".pi-price.mobile_view_drop1").click(function(){
        $(".list-unstyled.mobile_view_display_none.mobile_view_drop1").toggle();
        });
        $(".pi-price.mobile_view_drop2").click(function(){
        $(".list-unstyled.mobile_view_display_none.mobile_view_drop2").toggle();
        });
        $(".pi-price.mobile_view_drop3").click(function(){
        $(".list-unstyled.mobile_view_display_none.mobile_view_drop3").toggle();
        });
        $(".pi-price.mobile_view_drop4").click(function(){
        $(".list-unstyled.mobile_view_display_none.mobile_view_drop4").toggle();
        });
      }
      else {
        $(".list-unstyled.mobile_view_display_none").show();
      }
    });
  