/ Testimonials block BEGIN
.testimonials-block.content.content-center
  %h2
    Doctor Referral
    %strong{:style => "color: #27BEB3; font-weight: bold;"} Program
  
  #testimonials-block
    %img.img-responsive.center-block{:alt => "", :src => "/images/referral_logout.png",:width => "840"}/