.row
  .col-md-12
    / BEGIN PAGE TITLE &amp; BREADCRUMB
    %h3.page-title
      SEO
      %small Search Engine Optimisation
    %ul.page-breadcrumb.breadcrumb      
      %li
        %i.fa.fa-home
        %a{:href => "/"} Home
        %i.fa.fa-angle-right
      %li
        %a{:href => "#"} SEO
    / END PAGE TITLE &amp; BREADCRUMB
/ END PAGE HEADER
%div{style: "background: white; padding: 10px;"}
  .row
    .col-md-2
      Page
    .col-md-2
      Title
    .col-md-3
      Description
    .col-md-4
      Keywords
    
  = simple_form_for :seo do |f|
    .row
      .col-md-2
        = f.input :view_name, collection:  @remaining_seos, class: 'form-control', input_html:  {rows: 3}, label: false, class: 'form-control', prompt: 'Select Page'
      .col-md-2
        = f.input :title, placeholder: 'Title', label: false, class: 'form-control'
      .col-md-3
        = f.text_field :description, placeholder: 'Description', label: false, class: 'form-control'
      .col-md-4
        = f.text_field :keywords, placeholder: 'Keywords seperated by , e.g: eye, doctor, USA', label: false, class: 'form-control'
      .col-md-1
        = f.submit "Save", class: "btn green"
  - @seos.each do |seo|
    = form_for seo, url: seo_path(seo), method: :patch do |f|
      .row
        .col-md-2
          = seo.view_name.gsub("_", " ").upcase
        .col-md-2
          = f.text_field :title, placeholder: 'Title', class: 'form-control'
        .col-md-3
          = f.text_field :description, placeholder: 'Description', class: 'form-control'
        .col-md-4
          = f.text_field :keywords, placeholder: 'keywords seperated by , e.g: eye, doctor, USA', class: 'form-control'
        .col-md-1
          = f.submit "Update", class: "btn green"
      %br

                        
        





