%div#stack_error.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "stack_error", :role => "dialog", :tabindex => "-1"}
  - joint_resource = @order.present? ? @order.try(:joint_resource) : @favourite_order.try(:joint_resource)
  - joint_resource = @patient.try(:joint_resource) unless joint_resource.present?
  .modal-dialog{:style => 'margin: 140px auto !important;'}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}  ×
        %h4#stack_error.modal-title
          - if joint_resource.patient.profile.present?
            = joint_resource.patient.profile.validated? ? "<i class='fa fa-check' ></i> Card Authorized !".html_safe : "<i class='fa fa-exclamation-triangle' ></i> Warning : Card Not Authorized !".html_safe
      .modal-body{:style => 'max-height: 500px;overflow-y: auto;'} 
        -if joint_resource.patient.try(:profile).try(:customer_payment_profile_id).present?
          .note.note-warning
            %h4{:class => 'block'}
              = "Customer Profile ID : #{joint_resource.patient.try(:profile).try(:customer_profile_id)}"
            %h4{:class => 'block'}
              = "Customer Payment Profile ID : #{joint_resource.patient.try(:profile).try(:customer_payment_profile_id)}"
            %br
            %p
              = "You can authorize this card for patient account with  email <b> #{joint_resource.email} </b> for <b> #{joint_resource.patient.name} </b> by providing its security code / CVV / CCV below".html_safe
            %p
              .row{:style => "margin-top: 20px;"}
                .col-md-12
                  = form_for :creditcard, url: card_verification_dashboards_path,:role =>"form", :remote => true, :authenticity_token => true,html: { method: :post,class: "card_verify" } do |cc|
                    .form-group
                      %label Security Code/ CVV/CCV Code
                      %span.require *
                      .input-group
                        %input.form-control{ name: "jr_id",value: joint_resource.id, type: 'hidden'}
                        %input.form-control{ name: "creditcard[verification_value]",placeholder: "enter verification code here"}
                          %span.input-group-addon
                            %i.fa.fa-credit-card
                    .form-group
                      .col-md-12
                        %label Note: Patient Credit Card will be charged $ 1
                        = cc.submit "Check Now", class: "btn green pull-right"
        -else
          .form-group.col-md-12
            %label.col-sm-6
              %i.fa.fa-exclamation-triangle
              No profile card has been added
      .modal-footer.bg-warning
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %a{ :data => { :remote => true ,'type' => 'json' }, :href => email_card_warning_order_path(joint_resource), class: 'btn btn-danger'}
          %i.fa.fa-send
          Email Card Warning
        %button.btn.btn-primary.skip_card_verify{"data-dismiss" => "modal",:type => "button"}
          %i.m-icon-swapright.m-icon-white
          Skip To Payment
:javascript
  $(document).ready(function(){
    cardVerifyValidation();
  });
