.row
  .col-md-12
    .portlet.box.red-intense
      .portlet-title
        .caption
          %i.fa.fa-circle-thin
          %i.fa.fa-circle-thin
          Contact Lens
          %span.semi-bold Prescription
      .portlet-body.form
        = simple_form_for :contact_lens_exam,html: { id: :contact_lens_exam_form ,class: "horizontal-form" }  do |f|
          .form-body
            = f.simple_fields_for :lens do |lens_f|
              .row
                .col-md-10
                  = render "/doctor/examinations/shared/lens", f: lens_f, final_prescription: false
                .col-md-2
                  =# lens_f.input :finalize,as: :hidden
                  =# f.input :cleaning_solution, :collection=> ['Alcon', 'B n L', 'AMO', 'Hydrogen', 'Peroxide', 'Other']
                  =# f.input :first_instruction, label: "Patient explanation of benefits and risk of contact lens"
                  =# f.input :second_instruction,  label: "Patient explanation of benefits and risk of contact lens"
                  %br
          .form-actions.right
            = button_tag "Save", type:"submit",id: "finalize_new_lens",class: "btn btn-primary"
:javascript
  $(document).on('click','#finalize_new_lens',function(e){
    //alert($('#contact_lens_exam_form').serialize());
    $.ajax({ 
                type: "POST", 
                url: "/orders/update_new_lens?order_id=#{@order.id}",
                data: $('#contact_lens_exam_form').serialize(),
                success: function(data){ 
                  $('#newcontactlens').html(data);
                }
           });
    $('#add_contact_lens_order').remove();
    return false;
  });
    
  var availableTags = ["1 Day Acuvue 30","1 Day Acuvue Moist 30","Acuvue Oasys","Acuvue Oasys Astigmatism","Acuvue Oasys Presbyopia","1 Day Acuvue Moist 30","1 Day Moist Astigmatism","Acuvue TruEye","Acuvue Adavance +","Acuve 2","Air Optix","Air Optix Astigmatism","Air Optix Multifocal","Focus Dailies","Dailies Aqua Comfort +","Ciba Dailies Toric","Air Optix Night and Day","Freshlook Colorblends","Biofinity","Biofinity Toric","Biofinity Multifocal","Proclear 1 Day","Proclear Multifocal","Proclear Multifocal 1 Day","Proclear Multifocal Toric","Pure Vision","Pure Vision 2","Softlens Daily","Pure Vision Toric","Pure Vision 2 Astigm","Pure Vision Multifocal"];

  $(".contact-lens-type" ).autocomplete({
    source: availableTags
  });
  
  $(document).on('click',"#contact_lens_exam_lens_od_type",function(){
    types_with_base_curve_and_diameter($(this).val(),"od");
  });
  $(document).on('click',"#contact_lens_exam_lens_os_type",function(){
    types_with_base_curve_and_diameter($(this).val(),"os");
  });
  
  function types_with_base_curve_and_diameter(typeval,eyetp){
      var base_curve = $('#contact_lens_exam_lens_'+eyetp+'_base_curve');
      var diameter = $('#contact_lens_exam_lens_'+eyetp+'_diameter');
      switch(typeval){
        case "Acuve 2":
                       base_curve.empty().append("<option value='8.3'>8.3</option><option value='8.7'>8.7</option>");
                       diameter.empty().append("<option value='14.0'>14.0</option>");
                       break;
        case "Acuvue Oasys": 
                       base_curve.empty().append("<option value='8.4'>8.4</option><option value='8.8'>8.8</option>");
                       diameter.empty().append("<option value='14.0'>14.0</option>");
                       break;
        case "Acuvue Oasys Astigmatism":
                       base_curve.empty().append("<option value='8.6'>8.6</option>");
                       diameter.empty().append("<option value='14.5'>14.5</option>");
                       break;
        case "Acuvue Oasys Presbyopia":
                       base_curve.empty().append("<option value='8.6'>8.6</option>");
                       diameter.empty().append("<option value='14.3'>14.3</option>");
                       break;
        case "Acuvue Moist":
                       base_curve.empty().append("<option value='8.6'>8.6</option>");
                       diameter.empty().append("<option value='14.3'>14.3</option>");
                       break;
        case "1 Day Moist Astigmatism":
                       base_curve.empty().append("<option value='8.5'>8.5</option>");
                       diameter.empty().append("<option value='14.5'>14.5</option>");
                       break;
        case "Acuvue TruEye":
                       base_curve.empty().append("<option value='8.5'>8.5</option>");
                       diameter.empty().append("<option value='14.2'>14.2</option>");
                       break;
        case "Acuvue Adavance +":
                       base_curve.empty().append("<option value='8.3'>8.3</option><option value='8.7'>8.7</option>");
                       diameter.empty().append("<option value='14.0'>14.0</option>");
                       break;
        case "Air Optix" || "Air Optix Multifocal" || "Ciba Dailies Toric" || "Softlens Daily":
                       base_curve.empty().append("<option value='8.6'>8.6</option>");
                       diameter.empty().append("<option value='14.2'>14.2</option>");
                       break;
        case "Air Optix Astigmatism" ||  "Biofinity Toric":
                       base_curve.empty().append("<option value='8.7'>8.7</option>");
                       diameter.empty().append("<option value='14.5'>14.5</option>");
                       break;
        case "Focus Dailies":
                       base_curve.empty().append("<option value='8.6'>8.6</option>");
                       diameter.empty().append("<option value='13.8'>13.8</option>");
                       break;
        case "Dailies Aqua Comfort +" || "Pure Vision Toric":
                       base_curve.empty().append("<option value='8.7'>8.7</option>");
                       diameter.empty().append("<option value='14.0'>14.0</option>");
                       break;
        case "Air Optix Night and Day":
                       base_curve.empty().append("<option value='8.6'>8.6</option><option value='8.4'>8.4</option>");
                       diameter.empty().append("<option value='13.8'>13.8</option>");
                       break;
        case "Freshlook Colorblends":
                       base_curve.empty().append("<option value='Med'>Med</option>");
                       diameter.empty().append("<option value='14.5'>14.5</option>");
                       break;
        case "Biofinity" || "Biofinity Multifocal" || "Pure Vision" || "Pure Vision 2" || "Pure Vision Multifocal":
                       base_curve.empty().append("<option value='8.6'>8.6</option>");
                       diameter.empty().append("<option value='14.0'>14.0</option>");
                       break;
        case "Proclear 1 Day" || "Proclear Multifocal 1 Day":
                       base_curve.empty().append("<option value='8.7'>8.7</option>");
                       diameter.empty().append("<option value='14.2'>14.2</option>");
                       break;
        case "Proclear Multifocal":
                       base_curve.empty().append("<option value='8.7'>8.7</option>");
                       diameter.empty().append("<option value='14.4'>14.4</option>");
                       break;
        case "Proclear Multifocal Toric":
                       base_curve.empty().append("<option value='8.4'>8.4</option><option value='8.8'>8.8</option>");
                       diameter.empty().append("<option value='14.4'>14.4</option>");
                       break;
        case "Pure Vision 2 Astigm":
                       base_curve.empty().append("<option value='8.9'>8.9</option>");
                       diameter.empty().append("<option value='14.5'>14.5</option>");
                       break;
        }
    }