.row
  .col-lg-12
    .portlet.box.red-intense
      .portlet-title
        .caption
          %i.icon-eyeglasses
          EyeGlasses
          %span.semi-bold Prescription
      .portlet-body.form
        = simple_form_for :eye_measurements,html: { id: :eye_measurements_form,class: "horizontal-form" }  do |objective_f|
          .form-body
            .row
              .col-md-10
                = render '/doctor/examinations/eye_measurements', objective_f: objective_f
              .col-md-2
                =# lens_f.input :finalize,as: :hidden
                =# f.input :cleaning_solution, :collection=> ['Alcon', 'B n L', 'AMO', 'Hydrogen', 'Peroxide', 'Other']
                =# f.input :first_instruction, label: "Patient explanation of benefits and risk of contact lens"
                =# f.input :second_instruction,  label: "Patient explanation of benefits and risk of contact lens"
                %br
          .form-actions.right
            = button_tag "Save", type:"submit",id: "finalize_new_glass",class: "btn btn-primary"
:javascript
  $(document).on('click','#finalize_new_glass',function(e){
    $.ajax({ 
                type: "POST", 
                url: "/orders/update_glass?order_id=#{@order.id}",
                data: $('#eye_measurements_form').serialize(),
                success: function(data){ 
                  $('#neweyeglass').html(data);
                }
           });
    $('#add_eyeglass_order').remove();
    return false;
  });
  
  var availableGlassTypes = ["Single Vision","Progessive","Bifocal","Trifocal"]
  $(".eye-glass-type" ).autocomplete({
    source: availableGlassTypes
  });