- all_users =  @online_users.present? ? @online_users : [current_doctor]
- all_users.each do |user|
  %div.pull-right{:style => 'padding-right: 4px;'}
    - if user.avatar.present? 
      %img.media-object{:alt => "available", :src => user.avatar.url, :height => "29", :width => "35", :title => user.try(:name), :class => "img-circle" }/
    - else
      %div.online_user_names{:style => "background-color: #{user.theme_color};",:title => user.try(:name)}
        = user.try(:name)[0]

:CSS

  .online_user_names {
    font-size: 18px !important;
    height: 29px !important;
    display: table-cell;
    vertical-align: middle !important; 
    -webkit-border-radius: 25px;
    border-radius: 100% !important;
    width: 35px;
    border-radius: 100; text-align: center;
    color: white;
    }