%div#checklist_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "checklist_modal", "data-backdrop" => "static", "data-keyboard"=>"false", :role => "dialog", :tabindex => "-1",:class => "bs-modal-lg"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}  ×
        %h4#checklist_modal.modal-title Order Checklist
      .modal-body{:style => 'max-height: 500px;overflow-y: auto;background-color: #fff;'} 
        #checklist_body
      .modal-footer.bg-warning
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-success{:type => "button" ,:class => 'checklist_save_option'}
          Save
          %i.m-icon-swapright.m-icon-white