%div#order_complete_confirmation.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "order_complete_confirmation", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:style => 'vertical-align: middle;'}
    .modal-content
      .modal-body{:style => 'max-height: 500px;overflow-y: auto;'} 
        #order_confirmation_actions{:style => 'text-align: center;'}
          %a{:href => checklist_order_path(@order),:class => 'icon-btn proceed_to_checklist',:style => 'width: 200px !important;',:data => { :dismiss => 'modal',:name => @joint_resource.try(:name), :remote => true }}
            %i.fa.fa-check
            %div Proceed to order checklist
          -# if @order.status.exclude?("unforder")  
          %a{:href => profile_payment_patients_path(order_id: @order.id),:class => 'icon-btn',:style => 'width: 200px !important;',:data => {  "no-turbolink"=> "true",:remote => true,:dismiss => 'modal'}}
            %i.fa.fa-medkit
            %div Finalize Order !
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close