%ul.nav.nav-tabs
  / .page-logo{:style => "-webkit-user-select: text;"}
  %li{ :class => (@contact_lens_order.present? || @eye_glass_order.present?) ? "inactive" : "active"}
    %a{:href => '#tab1',"data-toggle" => 'tab'}
      %span Exam Procedures
      %span.badge.badge-danger{:style => 'margin-top: -20px;'}
        = @order.try(:procedure_adjustments).count
  %li{ :class => @contact_lens_order.present? ? "active" : "inactive"}
    %a{:href => '#tab2',"data-toggle" => 'tab'}
      %span Contact Lens Order
      -if @order.try(:hold_lenses) > 0
        %span.badge.badge-success{:style => 'margin-top: -20px;'}
          = @order.try(:hold_lenses)
      -unless (@order.contact_lens_orders.count == @order.try(:hold_lenses)) && @order.contact_lens_orders.count != 0
        %span.badge.badge-danger{:style => 'margin-top: -20px;'}
          = @order.contact_lens_orders.count
  %li{ :class => @eye_glass_order.present? ? "active" : "inactive"}
    %a{:href => '#tab3',"data-toggle" => 'tab'}
      %span Eyeglass Order
      -if @order.try(:hold_glasses) > 0
        %span.badge.badge-success{:style => 'margin-top: -20px;'}
          = @order.try(:hold_glasses) 
      -unless (@order.eye_glass_orders.count == @order.try(:hold_glasses)) && @order.eye_glass_orders.count != 0
        %span.badge.badge-danger{:style => 'margin-top: -20px;'}
          = @order.eye_glass_orders.count
  %li{ :class => 'pull-right' }
    %a{ :href => '#'}
      %span Badge Color Indication: 
      %span.badge.badge-roundless.badge-danger
        Total Count
      %span.badge.badge-roundless.badge-success
        Items on Hold