.row.profile-reports
  .col-md-10.col-md-offset-1
    .tab-content
      #tab_5-1.tab-pane.active
        .portlet.box.green-turquoise
          .portlet-title
            .caption
              %i.fa.fa-gift
              Contact lens auto-replenish
          .portlet-body#selected_patient_prescriptions
            =render '/patient/order_subscriptions/selected_patient_prescriptions'
.row.profile-reports
  .col-md-10.col-md-offset-1
    #order_subscriptions
      -if @order_subscriptions.present?
        .tab-content
          #tab_5-1.tab-pane.active
            .portlet.box.green-turquoise
              .portlet-title
                .caption
                  %i.fa.fa-gift
                  Subscriptions
              .portlet-body
                %label
                  Finalize Contact Lens Prescription
                %table.table.table-striped.table-hover
                  %thead
                    %tr
                      %th
                      %th
                        TYPE
                      %th.hidden-480
                        SPHERE
                      %th.hidden-480
                        CYLINDER
                      %th.hidden-480
                        AXIS
                      %th
                        ADD
                      %th
                        BASE CURVE
                      %th
                        DIAMETER
                      %th
                        Quantity
                      %th
                        START DATE
                      %th
                        NEXT ORDER WILL BE PROCESSED
                      %th
                        ACTION

                  
                  %tbody
                    - @order_subscriptions.each do |subscription|
                      - lens = subscription.try(:lens_prescription).try(:lens)
                      - if lens.od_type.present? || lens.os_type.present?  
                        - if lens.od_type.present?  
                          .col-md-12
                            %tr
                              %th
                                OD
                              %td{class: 'type'}
                                = lens.od_type
                              %td.hidden-480
                                = lens.od_sphere
                              %td.hidden-480
                                = lens.od_cylinder
                              %td.hidden-480
                                = lens.od_axis
                              %td.hidden-480
                                = lens.od_add
                              %td
                                = lens.od_base_curve
                              %td
                                = lens.od_diameter
                              %td
                                = subscription.od_lens_quantity
                              %td
                                = subscription.try(:start_time).try(:strftime,"%d %B %Y")
                              %td
                                = subscription.try(:end_time).try(:strftime,"%d %B %Y")
                              %td
                                = form_for subscription, remote: true do |f|
                                  = hidden_field_tag 'patient_id',subscription.try(:joint_resource).try(:patient).try(:id)
                                  = f.hidden_field :active, value: (subscription.try(:active) ? false : true)
                                  = f.submit subscription.try(:active) ? "Deactivate" : "Activate", class: subscription.try(:active) ? "btn btn-danger" : "btn btn-success"
                                = link_to "<i class='fa fa-history' ></i> &nbsp;Audits".html_safe, audits_order_subscription_path(subscription), :remote => true,:class => "btn btn-md btn-default", "data-toggle" => "modal"
                        - if lens.os_type.present?   
                          .col-md-12
                            %tr
                              %th
                                OS
                              %td
                                = lens.os_type
                              %td
                                = lens.os_sphere
                              %td
                                = lens.os_cylinder
                              %td
                                = lens.os_axis
                              %td
                                = lens.os_add
                              %td
                                = lens.os_base_curve
                              %td
                                = lens.os_diameter
                              %td
                                = subscription.os_lens_quantity
                              %td
                              - if subscription.joint_resource.try(:name).present?
                                %td
                                  %span.badge.badge-rounded.badge-success
                                    Subscribed by :
                                  %strong.pull-right
                                    = subscription.joint_resource.name
                              %td
                        .col-md-12
                          %tr
                            %th
                            %td
                            %td
                            %td
                            %td
                            %td
                            %td
                            %td
                            %td
                            %td
                            %td
:javascript

  $(".status_button").click(function () {
    $(this).toggleClass("red");
    $(this).text(function(x, y){
       return y === 'Active' ? 'Inactive' : 'Active'
    })
  });
