-if @order_subscriptions.present?
  .tab-content
    #tab_5-1.tab-pane.active
      .portlet.box.green-turquoise
        .portlet-title
          .caption
            %i.fa.fa-gift
            Subscriptions
        .portlet-body
          %label
            Finalize Contact Lens Prescription
          %table.table.table-striped.table-hover
            %thead
              %tr
                %th
                %th
                  TYPE
                %th.hidden-480
                  SPHERE
                %th.hidden-480
                  CYLINDER
                %th.hidden-480
                  AXIS
                %th
                  ADD
                %th
                  BASE CURVE
                %th
                  DIAMETER
                %th
                  Quantity
                %th
                  START DATE
                %th
                  NEXT ORDER WILL BE PROCESSED
                %th
                  ACTION

            
            %tbody
              - @order_subscriptions.each do |subscription|
                - lens = subscription.try(:lens_prescription).try(:lens)
                .col-md-12
                  %tr
                    %th
                      OD
                    %td{class: 'type'}
                      = lens.try(:od_type)
                    %td.hidden-480
                      = lens.try(:od_sphere)
                    %td.hidden-480
                      = lens.try(:od_cylinder)
                    %td.hidden-480
                      = lens.try(:od_axis)
                    %td.hidden-480
                      = lens.try(:od_add)
                    %td
                      = lens.try(:od_base_curve)
                    %td
                      = lens.try(:od_diameter)
                    %td
                      = subscription.try(:od_lens_quantity)
                    %td
                      = subscription.try(:start_time).try(:strftime,"%d %B %Y")
                    %td
                      = subscription.try(:end_time).try(:strftime,"%d %B %Y")
                    %td
                      = form_for subscription, remote: true do |f|
                        = hidden_field_tag 'patient_id',subscription.joint_resource.patient.id
                        = f.hidden_field :active, value: (subscription.active ? false : true)
                        = f.submit subscription.active ? "Deactivate" : "Activate", class: subscription.active ? "btn btn-danger" : "btn btn-success"
                      = link_to "<i class='fa fa-history' ></i> &nbsp;Audits".html_safe, audits_order_subscription_path(subscription), :remote => true,:class => "btn btn-md btn-default", "data-toggle" => "modal" 
                .col-md-12
                  %tr
                    %th
                      OS
                    %td
                      = lens.try(:os_type)
                    %td
                      = lens.try(:os_sphere)
                    %td
                      = lens.try(:os_cylinder)
                    %td
                      = lens.try(:os_axis)
                    %td
                      = lens.try(:os_add)
                    %td
                      = lens.try(:os_base_curve)
                    %td
                      = lens.try(:os_diameter)
                    %td
                      = subscription.try(:os_lens_quantity)
                    %td
                    %td
                      %span.badge.badge-rounded.badge-success
                        Subscribed by :
                      %strong.pull-right
                        = subscription.try(:joint_resource).try(:name)
                    %td
                .col-md-12
                  %tr
                    %th
                    %td
                    %td
                    %td
                    %td
                    %td
                    %td
                    %td
                    %td
                    %td
                    %td
:javascript
  $(document).ajaxComplete(function(){
    $('.spinner').hide();
  });