%table.table.table-striped.table-hover
  %thead
    %tr
      %th
      %th
        TYPE
      %th.hidden-480
        SPHERE
      %th.hidden-480
        CYLINDER
      %th.hidden-480
        AXIS
      %th
        ADD
      %th
        BASE CURVE
      %th
        DIAMETER
      %th
        Boxes
      %th
        ACTION
  %tbody
    - lens = @selected_prescription.lens
    .col-md-12
      %tr
        %th
          OD
        %td{class: 'type'}
          = lens.od_type
        %td.hidden-480
          = lens.od_sphere
        %td.hidden-480
          = lens.od_cylinder
        %td.hidden-480
          = lens.od_axis
        %td.hidden-480
          = lens.od_add
        %td
          = lens.od_base_curve
        %td
          = lens.od_diameter
          -#= f.input :order_id,as: :hidden , :input_html => {:value => @prev_order.id }
          -#= f.input :lens_order_id,as: :hidden , :input_html => {:value => lens.contact_lens_order_id, class: 'display_prescription'}
        %td
          = (@selected_prescription.modality_period / @selected_prescription.lens_od_modality_period)
        %td
          /= link_to "Select", order_subscriptions_path(prescription_id: prescription.id), { remote: true, class: 'btn btn-primary select_prescription', "data-selected_prescription_id"=> prescription.id}
    .col-md-12
      %tr
        %th
          OS
        %td
          = lens.os_type
        %td
          = lens.os_sphere
        %td
          = lens.os_cylinder
        %td
          = lens.os_axis
        %td
          = lens.os_add
        %td
          = lens.os_base_curve
        %td
          = lens.os_diameter
        %td
          = (@selected_prescription.modality_period / @selected_prescription.lens_os_modality_period)
        %td
          /= link_to "Open", get_1_click_dashboards_path(lens_id: lens.id),{ remote: true, "data-dismiss" => "modal"}
    .col-md-12
      %tr
        %th
        %td
        %td
        %td
        %td
        %td
        %td
        %td
        %td
        /%td
