-current_patient||= @patient || @selected_patient.patient
= simple_form_for @order_subscription.present? ? @order_subscription : OrderSubscription.new,url: order_subscriptions_path,remote: true,:'data-update-target' => 'order_subscriptions' ,html: { class: "form-inline order_subscription_form" ,role: 'form'} do |f|
  .row
    .col-md-7
      %label How would you like to recieve your order?
    .col-md-4
      %label Select Patient
  .row
    .col-md-7.btn-group{"data-toggle" => "buttons"}
      %button.btn.btn-default.myButton.shippment{:type => "button", value: :free_shipping} Free Shipping
      %button.btn.btn-default.active.myButton.shippment{:type => "button" ,value: :pick_up_at_office} Pick Up at Office
    = f.input :shippment_method,as: :hidden,:input_html => { value: :pick_up_at_office }
    .col-md-4
      = f.input :joint_resource_id, :collection => current_patient.all_resources, :label_method => :name, :value_method => :id, label: false, selected: @selected_patient.present? ? @selected_patient.id : current_patient.joint_resource.id
  %hr
  - if @all_prescriptions_in_use.present?
    %label
      Finalize Contact Lens Prescription
    #lens_prescriptions
      .table-responsive
        %table.table.table-striped.table-hover
          %thead
            %tr
              %th
              %th
                TYPE
              %th.hidden-480
                SPHERE
              %th.hidden-480
                CYLINDER
              %th.hidden-480
                AXIS
              %th
                ADD
              %th
                BASE CURVE
              %th
                DIAMETER
              %th
                BOXES
              %th
                ACTION
          %tbody
            -@all_prescriptions_in_use.each_with_index do |prescription,index|
              -unless prescription.lens.is_empty?
                - lens = prescription.lens
                - if lens.od_type.present? || lens.os_type.present?  
                  - if lens.od_type.present?   
                    .col-md-12
                      %tr
                        %th
                          OD
                        %td{class: 'type'}
                          = lens.od_type
                        %td.hidden-480
                          = lens.od_sphere
                        %td.hidden-480
                          = lens.od_cylinder
                        %td.hidden-480
                          = lens.od_axis
                        %td.hidden-480
                          = lens.od_add
                        %td
                          = lens.od_base_curve
                        %td
                          = lens.od_diameter
                        %td
                          #lens_od_quantity
                            = (prescription.modality_period / prescription.lens_od_modality_period)
                        %td
                          = link_to "Select", selected_prescription_order_subscriptions_path(prescription_id: prescription.id), { remote: true, class: 'btn btn-primary prescription_select_option'}
                  - if lens.os_type.present?   
                    .col-md-12
                      %tr
                        %th
                          OS
                        %td
                          = lens.os_type
                        %td
                          = lens.os_sphere
                        %td
                          = lens.os_cylinder
                        %td
                          = lens.os_axis
                        %td
                          = lens.os_add
                        %td
                          = lens.os_base_curve
                        %td
                          = lens.os_diameter
                        %td
                          #lens_os_quantity
                            = (prescription.modality_period / prescription.lens_os_modality_period)
                        %td
                .col-md-12
                  %tr
                    %th
                    %td
                    %td
                    %td
                    %td
                    %td
                    %td
                    %td
                    %td
    .row
      .col-md-6
        %label
          %b Date to start
      .col-md-6
        %label
          %b Amount(in months)
    .row
      .col-md-6
        .input-group
          = f.input :start_time, as: :date_picker, label: false, placeholder: "Start Date"
          = f.input :od_lens_quantity, as: :hidden
          = f.input :os_lens_quantity, as: :hidden
      .col-md-6
        = f.input :interval, label: false, collection: ([*1..12].select{|x| x % @one_click_lens_prescription.modality_period ==0}), selected: '1'
        = f.input :end_time, as: :hidden
        = f.input :lens_prescription_id,as: :hidden,:input_html => { :value => @one_click_lens_prescription.id ,:class => 'display_prescription'}
    %br
    .row
      .col-md-12
        = f.submit "Start", class: "button btn btn-success pull-right"
  - else
    %br
    .col-md-12{:style => "text-align: center;"}
      .table-responsive
        %table.table.table-hover.table-bordered
          %tr
            %td.text-center{:colspan => 11}
              %i.fa.fa-search
              %em No prescriptions to display
    %br
    %hr

:javascript
  $(document).ready(function(){
    Metronic.init();
    $('#order_subscription_joint_resource_id').change(function() {
      jr_id = $(this).val();
      url = '/order_subscriptions/selected_patient_prescriptions?jr_id='+jr_id;
      
      $('#selected_patient_prescriptions').load(url, function( response, status, xhr ){
        $('.spinner').hide();
      });
    });
    
    $(".btn-group button").click(function () {
      $('#favourite_order_shippment_method').val($(this).val())
      $(this).siblings().removeClass('active')
      $(this).addClass('active');
      console.log($(this).val());
    });
    $(".date-picker").datepicker( { startDate: new Date() });
    orderSubscriptionFormValidation();
    $(document).on('change','#order_subscription_interval',function(){
      var lens_prescription_id = $('#order_subscription_lens_prescription_id').val();
      var interval = $(this).val();
      $.ajax({ 
              type: "GET", 
              url: "/order_subscriptions/interval_boxes?lens_prescription_id="+lens_prescription_id+"&interval="+interval,
              success: function(data){
                console.log(data);
              }
      });
    });
  });
