$modal = $('#subscription_audits');
$modalBody = $('#subscription_audits .modal-body');
$modalHeading = $('#subscription_audits .modal-heading');
$modalHeading.html("Previous Updates");
$modalBody.html('<%= escape_javascript(render partial: "doctor/dashboards/audits",locals: {:object => @subscription.prev_audits.map{|obj| obj.as_json}}) %>');
$modal.modal();