$('#order_subscription_od_lens_quantity').val("<%= @od_boxes %>")
$('#order_subscription_os_lens_quantity').val("<%= @os_boxes %>")
$('#lens_od_quantity').html("<%= @od_boxes %>");
$('#lens_os_quantity').html("<%= @os_boxes %>");
