$('#lens_prescriptions').html("<%= escape_javascript(render :partial => 'selected_prescription') %>");
$('.display_prescription').val("<%= @selected_prescription.id %>");
$('#order_subscription_interval').html("<%= escape_javascript options_for_select([*1..12].select{|x| x % @selected_prescription.modality_period ==0}) %>")
$('#order_subscription_od_lens_quantity').val("<%= (@selected_prescription.modality_period / @selected_prescription.lens_od_modality_period) %>")
$('#order_subscription_os_lens_quantity').val("<%= (@selected_prescription.modality_period / @selected_prescription.lens_os_modality_period) %>")
$('.spinner').hide();