.col-md-10
  .inbox-loading
    .portlet.box.blue-steel      
  .inbox-content
    .portlet.box.blue-steel
      .portlet-body
        = will_paginate @booking_notifications, :params => {:controller => 'notifications', :action => 'booking_notifications'} if @booking_notifications.present?
        .scroller.full_view_notification{"data-always-visible" => "1", "data-rail-visible" => "0", :style => "height: 350px;"}
          %ul.feeds
            -@booking_notifications.each do |notification|
              -if !notification.is_deleted? 
                -booking_time=notification.event.start_time
                - if booking_time.present?
                  %li
                    .col1
                      .cont
                        .cont-col1
                          .label.label-sm.label-warning
                            %i.fa.fa-bell-o
                        .cont-col2
                          .desc
                            ="<strong>You had an appointment with #{notification.event.doctor.try(:name)}</strong> on #{booking_time.to_date} at #{booking_time.strftime('%I:%M %p')}".html_safe
                    .col2
                      .date
                        = "Created At #{notification.created_at.strftime('%I:%M %p , %m/%d/%Y')}"
              -else
                -booking=Booking.deleted.where(id: notification.event_id).first
                -booking_time=booking.try(:start_time)
                - if booking.present? && booking_time.present?
                  %li
                    .col1
                      .cont
                        .cont-col1
                          .label.label-sm.label-warning
                            %i.fa.fa-bell-o
                        .cont-col2
                          .desc
                            ="Appointment Between You and <strong>#{booking.doctor.try(:name)}</strong> on #{booking_time.to_date} at #{booking_time.strftime('%I:%M %p')} has been canceled by <strong>#{booking.destroyer_type}</strong>".html_safe
                    .col2
                      .date
                        = "Created At #{notification.created_at.strftime('%I:%M %p , %m/%d/%Y')}"