.row
  .col-md-12
    %h3.page-title
      Notifications
      %small user inbox
    %ul.page-breadcrumb.breadcrumb
      %li
        %i.fa.fa-home
        %a{:href => "/"} Home
        %i.fa.fa-angle-right
      %li
        %a{:href => "#"} Notifications
        %i.fa.fa-angle-right
      %li
        %a{:href => "#"} Inbox

.row.inbox
  .col-md-2
    %ul.inbox-nav.margin-bottom-10
      %li.inbox.active
        %a{"data-toggle" => "tab", :href => "#tab_1_1"}
          Booking
        %b
  .tab-content
    #tab_1_1.tab-pane.active  
      #booking_notifications     
        = render "booking_notifications"

:javascript
  $('.pagination a').attr('data-remote', 'true');
      