.row.profile-account
  .col-md-3
    %ul.ver-inline-menu.tabbable.margin-bottom-10
      %li.active
        %a{"data-toggle" => "tab", :href => "#tab_1-1"}
          %i.fa.fa-cog
          Personal info
        %span.after
      %li
        %a{"data-toggle" => "tab", :href => "#tab_2-2"}
          %i.fa.fa-picture-o
          Change Avatar
      %li
        %a{"data-toggle" => "tab", :href => "#tab_3-3"}
          %i.fa.fa-lock
          Change Password
      %li
        %a{"data-toggle" => "tab", :href => "#tab_4-4"}
          %i.fa.fa-eye
          Change Background
      %li
        %a{"data-toggle" => "tab", :href => "#tab_5-5"}
          %i.fa.fa-home
          Change Address
  .col-md-9
    .tab-content
      #tab_1-1.tab-pane.active
        = form_for @doctor, url: dashboard_path(@doctor.id) do |f|
          .form-group
            %label.control-label First Name
            = f.text_field :first_name, class:"form-control"
          .form-group
            %label.control-label Last Name
            = f.text_field :last_name, class:"form-control"
          .form-group
            %label.control-label Mobile Number
            = text_field_tag  "tel_input", @doctor.mobile_number, class:"form-control tel-input"
            = f.hidden_field :mobile_number
          .form-group
            %label.control-label Email
            = f.text_field :email, class:"form-control"
          .form-group
            %label.control-label Date Of Birth
            = f.text_field :DOB, class:"form-control date-picker"
          .form-group
            %label.control-label Designation
            = f.text_field :designation, class:"form-control"
          .form-group
            %label.control-label About
            = f.text_field :about, class:"form-control"
          .form-group
            %label.control-label Portfolio Url
            = f.text_field :portfolio, class:"form-control"
          .form-group
            %label.control-label Featured Color (This color will define you on calender)
            .input-group.color.colorpicker-default{"data-color" => current_doctor.theme_color, "data-color-format" => "rgba", :style => "width: 50%;"}
              = f.text_field :theme_color, class:"form-control", :readonly=>true
              %span.input-group-btn
                %button.btn.default{:type => "button"}
                  %i{:style => "background-color: #3865a8;"}
                  \&nbsp;

          - if current_doctor.role.include?("doctor")
            .form-group
              .col-md-12
                -if @doctor.sign_image.present?
                  %img{:src => @doctor.sign_image.url, :style => "height: 100%;"}/
                  .row.bold.form-group.col-md-offset-1  
                    = @doctor.try(:name)  
                -else  
                  .signature
                    = @doctor.try(:name)
                  .row.bold.form-group.col-md-offset-2 
                    = @doctor.try(:name)

          .margiv-top-10
            = f.submit "Save Changes", class: "btn green"
            
      #tab_2-2.tab-pane
        = form_for @doctor,  url: dashboard_path(@doctor.id), :authenticity_token => true, :html => {:multipart => true, method: :put} do |form|
          .form-group
            .fileinput.fileinput-new{"data-provides" => "fileinput"}
              .fileinput-new.thumbnail{:style => "width: 200px; height: 150px;"}
                %img{:alt => "", class: "profile_image", :src => current_doctor.avatar.url, :style => "height: 100%; width: 100%"}/
              .fileinput-preview.fileinput-exists.thumbnail{:style => "max-width: 200px; max-height: 150px;"}
              %div
                %span.btn.default.btn-file
                  %span.fileinput-new
                    Select image
                  %span.fileinput-exists
                    Change
                  =form.file_field :avatar, onchange: "readURL(this);"
          .margin-top-10
            = form.submit "Submit", class: "btn green"
            
      #tab_3-3.tab-pane
        = form_for :edit_doctor,  url: password_update_dashboards_path, remote: true, html: { method: :put } do |f|
          .form-group
            = f.label :current_password, class: "control-label"
            %i (we need your current password to confirm your changes)
            %br
            = f.password_field :current_password, autocomplete: "off",required: true ,class: "form-control"
          .form-group
            = f.label :password, class: "control-label"
            %i (leave blank if you don't want to change it)
            %br
            = f.password_field :password, autocomplete: "off",required: true , class: "form-control"
          .form-group
            = f.label :password_confirmation, class: "control-label"
            %br
            = f.password_field :password_confirmation, autocomplete: "off",required: true , class: "form-control"
          .actions
            = f.submit "Change Password", class: "btn green"
      #tab_4-4.tab-pane
        .col-md-6
          = form_for :background, url: backgrounds_path, remote: true, :authenticity_token => true, :html => {:multipart => true} do |form|
            .form-group
              .fileinput.fileinput-new{"data-provides" => "fileinput"}
                .fileinput-new.thumbnail{:style => "width: 200px; height: 150px;"}
                  %img{:alt => "", :id=>"background_image", :src => current_doctor.bgurl}/
                .fileinput-preview.fileinput-exists.thumbnail{:style => "max-width: 200px; max-height: 150px;"}
                %div
                  %span.btn.default.btn-file
                    %span.fileinput-new
                      Select image
                    %span.fileinput-exists
                      Change
                    =form.file_field :avatar, onchange: "readUrlForBackground(this);"
            .margin-top-10
              = form.submit "Submit", class: "btn green"

        .col-md-6
          .portlet.box.red-sunglo
            .portlet-title
              .caption
                %i.fa.fa-plus-square>
                Click on Image To Change Your Background                   
          .portlet-body
            .scroller{"data-always-visible" => "1", "data-handle-color" => "red", "data-rail-color" => "blue", "data-rail-visible" => "1", :style => "height:200px"}
              -current_doctor.backgrounds.each do |background_image|
                -if background_image.try(:avatar).exists?
                  =link_to background_update_dashboards_path(bg_id: background_image) do
                    %img{:alt => "", :id=>"background_image", :src => background_image.avatar.url(:thumb), :style=>"padding: 2px"}/
      #tab_5-5.tab-pane
        .col-md-6{style: "border-right: 1px solid #ccc;"}
          %h4 Home Address
          = form_for @doctor, url: dashboard_path(@doctor.id) do |f|
            = f.simple_fields_for :home_address,(@doctor.home_address.present? ? @doctor.home_address : @doctor.build_home_address) do |home_addr_f|
              
              .form-group.col-sm-12
                %label.control-label Address
                = home_addr_f.text_field :address1, class:"form-control"
              .form-group.col-sm-6
                %label.control-label Country
                = home_addr_f.country_select :country_id, {priority: %w(US CA)}, class: 'form-control country_select', :"data-target"=> "#home_address_state"
              
              .form-group.col-sm-6
                %label.control-label State
                #home_address_state
                  - country_code  = home_addr_f.object.country_id.present? ? home_addr_f.object.country_id : "US" 
                  - if Carmen::Country.coded(country_code).try(:subregions).present?
                    = home_addr_f.subregion_select(:state_id, country_code, {}, { :class => 'form-control' } )
              .form-group.col-sm-6
                %label.control-label City
                = home_addr_f.text_field :city, class:"form-control"
              .form-group.col-sm-6
                %label.control-label Pin Code
                = home_addr_f.text_field :postal_code, class:"form-control"
                = home_addr_f.hidden_field :addr_type, class:"form-control", :value => "home"
              .margin-top-10.col-sm-12
                = home_addr_f.submit "Change Address", class: "btn green"

        .col-md-6
          %h4 Office Address
          = form_for @doctor, url: dashboard_path(@doctor.id) do |f|
            = f.simple_fields_for :office_address,(@doctor.office_address.present? ? @doctor.office_address : @doctor.build_office_address) do |office_addr_f|
              
              .form-group.col-sm-12
                %label.control-label Address
                = office_addr_f.text_field :address1, class:"form-control"
              .form-group.col-sm-6
                %label.control-label Country
                = office_addr_f.country_select :country_id, {priority: %w(US CA)}, class: 'form-control country_select', :"data-target"=> "#office_address_state"

              .form-group.col-sm-6
                %label.control-label State
                #office_address_state
                  - country_code  = office_addr_f.object.country_id.present? ? office_addr_f.object.country_id : "US"
                  - if Carmen::Country.coded(country_code).try(:subregions).present?
                    = office_addr_f.subregion_select(:state_id, country_code, {}, { :class => 'form-control' } )
              .form-group.col-sm-6
                %label.control-label City
                = office_addr_f.text_field :city, class:"form-control"
              .form-group.col-sm-6
                %label.control-label Pin Code
                = office_addr_f.text_field :postal_code, class:"form-control"
                = office_addr_f.hidden_field :addr_type, class:"form-control", :value => "office"
              .margin-top-10.col-sm-12
                = office_addr_f.submit "Change Address", class: "btn green"      
    / end col-md-9
#medical_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medical History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "medical"
                = hidden_field_tag "patient","patient"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
            

        .modal-footer            
          %button.btn.btn-sm.blue Save

#family_medical_history_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add Medical History
      = form_tag add_disease_settings_path, :remote => true do
        .modal-body
          .object
            .row
              .col-md-11.form-group
                = text_field_tag "diseases[1][name]","", class: "form-control",required: true
                = hidden_field_tag "diseases[1][groups][]", "medical"
                = hidden_field_tag "family","family"
              .col-md-1
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
            

        .modal-footer            
          %button.btn.btn-sm.blue Save