-if @contact_lens_distribution_orders.present?
  .col-md-12.name
    .col-md-4
      .row
        %h3
          Trial Order Lens     
    .col-md-7
      .row
        = form_tag send_report_contact_lens_distribution_orders_path, :method => 'get', remote: true  do
          .col-md-5 
            =  autocomplete_field_tag 'address', '', autocomplete_contact_name_autocompletes_path, :placeholder => "Enter Company Name", :as => :autocomplete, class: "form-control order-contact-autocomplete clear_input", id: "order" ,value: "", label: false
            = hidden_field_tag("contact_emails", "", :id => "contact_emails")
            = hidden_field_tag("contact_acounts", "", :id => "contact_acounts")
          .col-md-7  
            = submit_tag "Send",  class: "btn btn-sm btn-primary pull-right", :name => nil
      #contacts_report  

    .col-md-1     
      = link_to "Download", lens_pdf_contact_lens_distribution_orders_path, class: "btn btn-sm btn-primary pull-right"
  - @contact_lens_distribution_orders.each do |contact_lens_distribution_order|
    - lens = contact_lens_distribution_order.lens
    = form_for contact_lens_distribution_order, url: contact_lens_distribution_order_path(contact_lens_distribution_order), remote: true do |f|
      .row
        .col-md-12
          .col-md-12
            %h4
              Name:
              %span
                %a{:href => doctor_patient_profile_path(:patient_id => contact_lens_distribution_order.patient_id)}  
                  = " #{contact_lens_distribution_order.patient.first_name} #{contact_lens_distribution_order.patient.last_name} "
          .col-md-12.name
            %table.table.table-striped.table-hover
              - od_type =LensTypesPrice.find_by(id: lens.od_lens_types_price_id).try(:lens_type)
              - os_type =LensTypesPrice.find_by(id: lens.os_lens_types_price_id).try(:lens_type)
              %thead
                %tr
                  %th
                    
                  %th
                    TYPE
                  %th.hidden-480
                    SPHERE
                  %th.hidden-480
                    CYLINDER
                  %th.hidden-480
                    AXIS
                  %th
                    ADD
                  %th
                    BASE CURVE
                  %th
                    DIAMETER
                  %th
                    QUANTITY
              %tbody
                .col-md-12
                  %tr
                    %th
                      OD
                      %td
                        = lens.od_type
                      %td.hidden-480
                        = lens.od_sphere
                      %td.hidden-480
                        = filter_lens_fields(od_type, 'cylinder') == "hidden" ? " " : lens.od_cylinder
                      %td.hidden-480
                        = filter_lens_fields(od_type, 'axis') == "hidden" ? " " : lens.od_axis
                      %td.hidden-480
                        = filter_lens_fields(od_type, 'add') == "hidden" ? " " : lens.od_add
                      %td
                        = lens.od_base_curve
                      %td
                        = lens.od_diameter
                      %td
                        = f.select :od_quantity, (0..12), :selected => contact_lens_distribution_order.od_quantity, class: "form-control"

                .col-md-12
                  %tr
                    %th
                      OS
                      %td
                        = lens.os_type
                      %td
                        = lens.os_sphere
                      %td
                        = filter_lens_fields(os_type, 'cylinder') == "hidden" ? " " : lens.os_cylinder
                      %td
                        = filter_lens_fields(os_type, 'axis') == "hidden" ? " " : lens.os_axis
                      %td
                        = filter_lens_fields(os_type, 'add') == "hidden" ? " " : lens.os_add
                      %td
                        = lens.os_base_curve
                      %td
                        = lens.os_diameter
                      %td
                        = f.select :os_quantity, (0..12), :selected => contact_lens_distribution_order.os_quantity, class: "form-control"
          .col-md-12.border_bottom
            .col-md-8                       
              %label
                Comments:     
              =f.text_field :comments, class: 'form-control',  placeholder: 'comments'
            .col-md-4
              = link_to "Delete", contact_lens_distribution_order_path(contact_lens_distribution_order.id), method: :delete, remote: true, class: "btn btn-danger pull-right"
              = f.submit("Save", class: "btn btn-success pull-right")
      %br
-else
  %h3.center
    No Result Found      

:css
  .border_bottom {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;}
  .center{
    text-align: center;
  }  

