.row
  .col-md-12
    .add-portfolio
      %span
        Journal
      -#
        %a.btn.icn-only.green{:href => "#"}
          Add a new Project
          %i.m-icon-swapright.m-icon-white
/ end add-portfolio
.portfolio-block
  .col-md-5
    .portfolio-text                
      .portfolio-text-info
        %h4 Orders
        %p
          Orders Statistics
  .col-md-5.portfolio-stat
    .portfolio-info
      Today Sold
      %span
        =@today_orders.count
    .portfolio-info
      Total Sold
      %span
        =@total_orders.count
    .portfolio-info
      Earns
      %span
        = "$"+@total_orders.sum("total").to_s
  -#
    .col-md-2
      .portfolio-btn
        %a.btn.bigicn-only{:href => "#"}
          %span
            Manage
/ end row
.portfolio-block
  .col-md-5.col-sm-12.portfolio-text
    .portfolio-text-info
      %h4 Eyeglasses
      %p
        Eye Glass Statistics
  .col-md-5.portfolio-stat
    .portfolio-info
      Today Sold
      %span
        =@today_eye_glass_orders.count
    .portfolio-info
      Total Sold
      %span
        =@total_eye_glass_orders.count
    .portfolio-info
      Earns
      %span
        ="$"+@total_eye_glass_orders.sum("total").to_s
  -#
    .col-md-2.col-sm-12.portfolio-btn
      %a.btn.bigicn-only{:href => "#"}
        %span
          Manage
/ end row
.portfolio-block
  .col-md-5.portfolio-text
    .portfolio-text-info
      %h4 Contact Lenses
      %p
        Contact Lenses Statistics
  .col-md-5.portfolio-stat
    .portfolio-info
      Today Sold
      %span
        =@today_contact_lens_orders.count
    .portfolio-info
      Total Sold
      %span
        =@total_contact_lens_orders.count
    .portfolio-info
      Earns
      %span
        ="$"+@total_contact_lens_orders.sum("total").round(2).to_s
  -#
    .col-md-2.portfolio-btn
      %a.btn.bigicn-only{:href => "#"}
        %span
          Manage