%table.table.table-striped.table-bordered.table-advance.table-hover
  %thead
    %tr
      %th
        Order ID
      %th
        %i.fa.fa-briefcase
        Doctor
      %th
        %i.fa.fa-calendar
        Order Date
      %th
        %i.fa.fa-clock-o
        Cost($)
      %th
        %i.fa.fa-bookmark
        Payment Status
      %th
        %i.fa.fa-bookmark
        Order Status
      -if current_doctor.present?  
        %th.text-center
          %i.fa.fa-bookmark
          Action
  %tbody 
    - @orders.each do |order|
      %tr
        %td
          = "##{order.id}"
        %td
          = order.try(:doctor).try(:name)
        %td
          = order.try(:order_date).try(:strftime, "%m-%d-%y")
        %td
          = order.total.present? ? "$ " + order.total.round(2).to_s : "N/A"
        %td
          - if order.paid?
            %a.btn.default.btn-xs.red-stripe{:href => "#"}
              Paid
          -else
            %a.btn.default.btn-xs.red-stripe{:href => "#"}
              pending
        %td
          %a.btn.default.btn-xs.green-stripe{:href => "#"}
            = order.try(:status).try(:titleize)
        -if current_doctor.present?
          %td
            %ul.dropdown
              %li#actionsliststyle.btn-group
                %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                  Actions
                  %i.fa.fa-angle-down
                
                %ul.dropdown-menu.pull-right   
                  %li
                    %a{ :data => {"remote" =>"true",'type' => 'json'},'tabindex' =>"-1",:href =>  dispense_order_path(order),:class => 'dispense_link'}
                      %i.fa.fa-medkit
                      Ready to be dispensed
                    %a{ :data => { "no-turbolink"=> "true" },'tabindex' =>"-1",:href =>  edit_order_path(order)}
                      %i.fa.fa-shopping-cart
                      Open
= will_paginate @orders,:param_name => 'customer_orders_page'             