.row
  .col-md-3
    %ul.list-unstyled.profile-nav
      %li
        %img.img-responsive{:src => user_profile_image}/
      %li
        .col-md-12
          .portlet.sale-summary
            .portlet-title
              
            .portlet-body
              %ul.list-unstyled
                %li
                  %span.sale-info
                    TODAY's Appointments
                    %i.fa.fa-img-up
                  %span.sale-num
                    =@today_exam
                %li
                  %span.sale-info
                    WEEKLY Appointments
                    %i.fa.fa-img-down
                  %span.sale-num
                    =@weekly_exam
                %li
                  %span.sale-info
                    Upcoming Appointments
                  %span.sale-num
                    =@coming_exam
                %li
                  %span.sale-info
                    TOTAL Appointments
                  %span.sale-num
                    =@total_exam
  .col-md-9
    -resource=current_doctor||current_patient
    .row{style: "min-height: 200px"}
      .col-md-8.profile-info
        %h1 
          =resource.name
        %p.about_section
          =resource.about
        %p
          %a{:href => "#{resource.portfolio}",:target => '_blank'}
            =resource.portfolio
        %ul.list-inline
          - if  resource.email.present? 
            %li{style: "margin-top: 7px"} 
              %i.fa.fa-envelope
              = "#{resource.email}"
          - if resource.mobile_number.present?  
            %li
              %i.fa.fa-comment
              = "#{number_to_phone(resource.mobile_number.to_s[2..-1].to_i, area_code: true)}"
          %br
          - if resource.DOB.present?  
            %li
              %i.fa.fa-calendar
              = "#{resource.DOB}" 
          - if resource.designation.present?  
            %li
              %i.fa.fa-briefcase
              = "#{resource.designation}" 
          %li
            %i.fa.fa-star{:class => ("hidden" unless resource.role.present?)}
            = resource.role.collect{|x| x.titleize}.reject(&:empty?).join(", ")
          %br
          %li
            -if resource.home_address.present?
              - address = resource.home_address
              %i.fa.fa-map-marker
              -if address.address1.present?
                - addr = address.address1
              -if address.city.present?
                -if addr.present?
                  - addr = addr + ', ' + address.city
                -else
                  - addr = address.city
              -if address.country_id.present? && address.state_id.present? 
                -if addr.present?
                  - addr = addr + "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name).nil? ? "" : ", #{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"}"
                -else
                  - addr = "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"
              -if address.postal_code.present?
                -if addr.present?
                  - addr = addr + ', ' + address.postal_code
                -else
                  - addr = address.postal_code
              = addr
            
    .tabbable.tabbable-custom.tabbable-custom-profile
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab_1_11"}
            Today's Appointments
            %span.badge.badge-success
              / =@today_appointment.count
              = Booking.where("id IN (?)", @today_appointment.map(&:id)).fetch_today_bookings.count
        -#%li
          %a{"data-toggle" => "tab", :href => "#tab_1_22"}
            Upcoming Appointments
            %span.badge.badge-success
              =@comming_appointment.count
        %li{:class => current_doctor.role.include?('doctor') ? '' : 'hidden'}
          %a{"data-toggle" => "tab", :href => "#exam_tab_1_33", :id => "load_exam_tab"}
            Unfinished Exams
            %span.badge.badge-success
              =@recent_exams.count
        %li
          %a{"data-toggle" => "tab", :href => "#order_tab_1_44", :id => "load_order_tab"}
            Recent Order
            %span.badge.badge-success
              =@recent_orders.count + @recent_renewed_orders.count
        %li
          %a{"data-toggle" => "tab", :href => "#follow_tab_1_55", :id => "load_follow_tab"}
            Follow Up List
            %span.badge.badge-success
              =@follow_ups.count + @follow_list.count + @renewed_follow_ups.count
        %li
          %a{"data-toggle" => "tab", :href => "#dispense_tab_1_66", :id => "load_dispense_tab"}
            To be Dispensed
            %span.badge.badge-success
              =@to_be_dispensed.count
      .tab-content
        #tab_1_11.tab-pane.active
          .portlet-body
            %table.table.table-striped.table-bordered.table-advance.table-hover
              %thead
                %tr
                  = search_form_for @todays_search, url: root_path,:remote => true do |f|
                    %td
                      = f.search_field :joint_resource_patient_full_name_cont, class: "form-control",placeholder: 'Patient Name'
                      -#= f.search_field :id_eq, class: "form-control",placeholder: 'Booking ID'
                    %td
                      = f.search_field :exam_procedures_name_cont, class: "form-control",placeholder: 'Reason of visit'
                    %td
                      = f.search_field :doctor_first_name_or_doctor_last_name_or_joint_resource_patient_vision_insurance_name_or_store_description_cont_any,class: "form-control",placeholder: 'Provider'
                    %td
                      = hidden_field_tag :search_form, 'todays'
                    %td
                      =f.submit 'search', class: "btn btn-blue"
          .portlet-body.table-responsive
            #todayappointments
              = render 'doctor/dashboards/dashboard_partial/todayappointments_table'
        / tab-pane
        -#tab_1_22.tab-pane
          .portlet-body
            %table.table.table-striped.table-bordered.table-advance.table-hover
              %thead
                %tr
                  = search_form_for @comming_search, url: root_path,:remote => true do |f|
                    %td
                      = f.search_field :joint_resource_patient_first_name_cont, class: "form-control",placeholder: 'Patient Name'
                      -#= f.search_field :id_eq, class: "form-control",placeholder: 'Booking ID'
                    %td
                      = f.search_field :exam_procedures_name_cont, class: "form-control",placeholder: 'Reason of visit'
                    %td
                      = f.search_field :doctor_first_name_or_doctor_last_name_cont,class: "form-control",placeholder: 'Provider'
                    %td
                      = f.search_field :start_time_or_end_time_gteq,class: "form-control date-picker",placeholder: ' After Date'
                      = hidden_field_tag :search_form, 'upcoming'
                    %td
                      =f.submit 'search', class: "btn btn-blue"
          .portlet-body
            #upcomingapoinments
              = render 'doctor/dashboards/dashboard_partial/upcoming_appointments'
        / tab-pane
        #exam_tab_1_33.tab-pane{:class => current_doctor.role.include?('doctor') ? '' : 'hidden'}
          Loading...
        #order_tab_1_44.tab-pane
          Loading...
        #follow_tab_1_55.tab-pane
          Loading...
        #dispense_tab_1_66.tab-pane
          Loading...

:javascript
  
  /*----Below functions are defined in dashboard.js----start----*/

  load_exams_tab();
  load_orders_tab();
  load_dispenses_tab();
  load_follow_up();
  
  /*----Below functions are defined in dashboard.js----end----*/