%table.table.table-striped.table-bordered.table-advance.table-hover
  %thead
    %tr
      %th
        %i.fa.fa-briefcase
        Name
      %th.hidden-xs
        %i.fa.fa-question
        Reason of Visit
      %th
        %i.fa.fa-briefcase
        = "Provider/Vision #{current_organisation.setting.flag_for_medical ? '/Medical' : ''}"
      %th
        Status
      %th
        %i.fa.fa-clock-o
        Time
      %th
        %i.fa.fa-bookmark
        Action
  %tbody
    -old_time = @today_appointment.present? ? @today_appointment.first.start_time : ''
    -@today_appointment.each do |booking|
      - joint_resource = booking.joint_resource
      - patient = joint_resource.member
      %tr{:style => "#{(old_time < Time.now && booking.end_time > Time.now) ? 'border-style: groove;' : ''}"}
        %td
          -if booking.joint_resource.member.class == FamilyMember
            %a{:href => family_member_path(booking.joint_resource.member)}
              =booking.joint_resource.member.name
              %br
              = booking.joint_resource.member.birthday.strftime("%b %d,%Y") if booking.joint_resource.member.birthday.present?
          -else
            %a{:href => doctor_patient_profile_path(:patient_id => booking.joint_resource.patient.id)}
              =booking.joint_resource.member.name
              %br
              = booking.joint_resource.member.birthday.strftime("%b %d,%Y") if booking.joint_resource.member.birthday.present?
          -if patient.class.name == "Patient" && patient.home_address == nil
            = link_to 'Complete Sign Up', edit_patient_path(patient), :class => "btn btn-default btn-xs", :style => "border-radius: 10px !important;"
        %td.hidden-xs{style: "width: 25%;"}
          - if current_doctor.role.include?("staff") || current_doctor.role.include?("administrator") || current_doctor.role.include?("super_administrator")
            .booking_exam_update
              -if booking.exam_procedures.map{|x| x.name}.join(",") == ""
                = link_to (booking.examination.present? and booking.examination.procedure_adjustments.any?) ? booking.examination.procedure_adjustments.collect(&:name).join(', ').titleize : 'N/A', '#'
              -else  
                = link_to booking.exam_procedures.map{|x| x.name}.join(", "), '#'
              %i.fa.fa-edit 
            .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => "booking_exam_procedure_modal#{booking.id}"}
              .modal-dialog.bigModal
                .modal-content
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                    %h4.modal-title Edit Reason Of Visit
                  = simple_form_for booking, :method => 'put', :remote => true do |f|
                    .modal-body
                      .row
                        .col-md-6
                          %label Select Exam Procedures
                          = f.association :exam_procedures,collection: current_organisation.exam_procedures.all.order(:position),:value_method => :id,input_html:{:multiple => true,:class => "multi-select-exams",:style => 'width: 100%; overflow-x: hidden;'}, label: false      
                          = hidden_field_tag('page_id','#tab_1_11')                

                    .modal-footer            
                      %button.btn.btn-sm.blue.exam_update{:"data-no-turbolink" => "true"} Update
          - else
            = booking.try(:exam_procedures).map(&:name).present? ? booking.exam_procedures.map(&:name).join(", ").titleize : "N/A"
        %td
          - if current_doctor.role.include?("staff") || current_doctor.role.include?("administrator") || current_doctor.role.include?("super_administrator")
            %a{:href => new_booking_path} 
              =read_org_appointment(current_doctor) ? booking.store.try(:description) + ' / ' : ''
              =booking.doctor.try(:name)
              =booking.joint_resource.member.vision_insurance.present? ? ' / ' + booking.joint_resource.member.vision_insurance.name : ''
              - medical_insurance_id = booking.try(:joint_resource).try(:member).try(:medical_insurance_id)
              - if current_organisation.setting.flag_for_medical 
                - if medical_insurance_id.present?
                  = ' / ' + MedicalInsurance.find(medical_insurance_id).name
          - else
            = read_org_appointment(current_doctor) ? booking.store.try(:description) + ' / ' : ''
            = booking.doctor.try(:name)
            = booking.joint_resource.member.vision_insurance.present? ? ' / ' + booking.joint_resource.member.vision_insurance.name : ''
            - medical_insurance_id = booking.try(:joint_resource).try(:member).try(:medical_insurance_id)
            - if current_organisation.setting.flag_for_medical
              - if medical_insurance_id.present?
                = ' / ' + MedicalInsurance.find(medical_insurance_id).name
        %td
          - if booking.status == "no_show" && booking.examination.present? && booking.examination.status == "finalized"
            Finalized
          -elsif booking.deleted_at.nil?
            - ex_pro_id = current_organisation.exam_procedures.where(name: "Follow Up").first.id
            - follow_up_procedure = booking.exam_procedures.where(id: ex_pro_id).present?
            - old_exam =joint_resource.examinations.last
            - if follow_up_procedure && old_exam.present?
              = old_exam.status.titleize
            - else
              - if booking.status != "nil"
                = booking.status.titleize
            %br
            -if booking.check_in.present? && booking.status.in?(['on_time','early','late','nil'])
              = "Checked In #{booking.check_in.strftime("at %I:%M%p")}"
          = link_to "Canceled", '#booking_canceled-modal', "data-toggle" => "modal" unless booking.deleted_at.nil?
        %td
          %div{style: "width: 60px !important;"}
            - if current_doctor.role.include?("staff") || current_doctor.role.include?("administrator") || current_doctor.role.include?("super_administrator")
              %a{:href => new_booking_path} 
                =booking.start_time.strftime("%I:%M %p")
            - else
              = booking.start_time.strftime("%I:%M %p")
        %td
          -if booking.deleted_at.nil?
            %ul.dropdown
              %li#actionsliststyle.btn-group
                %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                  Actions
                  %i.fa.fa-angle-down
                %ul.dropdown-menu.pull-right
                  -#if booking.start_time <= Time.zone.now && booking.check_in.blank? 
                  -if booking.try(:check_in).blank?
                    %li
                      %a.booking_checkin{ :data => { "no-turbolink"=> "true", "booking_id"=> booking.id ,"url" => check_in_booking_path(id: booking.id) },:href => "#",:style => "-webkit-user-select: text;"}
                        %i.fa.fa-sign-in
                        Check In   
                  - if booking.examination.present?
                    %li
                      - if booking.examination.status == "finalized"
                        %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(booking.examination) }
                          %i.fa.fa-edit
                          Open Exam
                      - else
                        %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(booking.examination) +"?changecall=pending_exam" }
                          %i.fa.fa-edit
                          Open Exam
                    - if booking.examination.order.present? && (booking.examination.order.contact_lens_orders.present? || booking.examination.order.eye_glass_orders.present?)
                      %li
                        %a{ :"data-no-turbolink" => "true",:href => edit_order_path(booking.examination.order)+"?changecall=pending_order" ,:style => "-webkit-user-select: text;"}
                          %i.fa.fa-shopping-cart
                          Open Order
                    - else
                      -if booking.joint_resource.orders.present? 
                        - today_order = Order.where("Date(created_at) = ? and joint_resource_id = ?", Date.today,joint_resource.id)
                        -if today_order.present?
                          %li
                            %a{ :"data-no-turbolink" => "true",:href => edit_order_path(today_order.first)}
                              %i.fa.fa-shopping-cart
                              Open Order
                        -else
                          - if current_doctor.role.include?("staff") || current_doctor.role.include?("administrator") || current_doctor.role.include?("super_administrator")
                            %li
                              %a.create_order_exam{ :"data-no-turbolink" => "true",:data => { "booking_id"=> booking.id , "url" => new_order_for_exam_path(:examination_id => booking.examination.id,:id => joint_resource.id,:changecall => 'pending')},:href => "#"}
                                %i.fa.fa-shopping-cart
                                Create Order
                      -else
                        - if current_doctor.role.include?("staff") || current_doctor.role.include?("administrator") || current_doctor.role.include?("super_administrator")
                          %li
                            %a.create_order_exam{ :"data-no-turbolink" => "true",:data => { "booking_id"=> booking.id , "url" => new_order_for_exam_path(:examination_id => booking.examination.id,:id => joint_resource.id,:changecall => 'pending')},:href => "#"}
                              %i.fa.fa-shopping-cart
                              Create Order
                  - else
                    - ex_pro_id = current_organisation.exam_procedures.where(name: "Follow Up").first.id
                    - follow_up_procedure = booking.exam_procedures.where(id: ex_pro_id).present?
                    - old_exam =joint_resource.examinations.last
                    - if follow_up_procedure && old_exam.present?
                      %li
                        %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(old_exam, prior_exam_follow_up: true, exam_procedure_id: ex_pro_id)}
                          %i.fa.fa-edit
                          Work on Follow-up from prior exam #{old_exam.exam_date.to_date}
                        - if old_exam.status == "finalized"
                          %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(old_exam)}
                            %i.fa.fa-edit
                            Open Exam 
                        - else
                          %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(old_exam)+"?changecall=pending_exam"}
                            %i.fa.fa-edit
                            Open Exam

                      - if old_exam.order.present? && (old_exam.order.contact_lens_orders.present? || old_exam.order.eye_glass_orders.present?)
                        %li
                          %a{ :"data-no-turbolink" => "true",:href => edit_order_path(old_exam.order)+"?changecall=pending_order" ,:style => "-webkit-user-select: text;"}
                            %i.fa.fa-shopping-cart
                            Open Order
                      - else
                        %li
                          - today_order = Order.where("Date(created_at) = ? and joint_resource_id = ?", Date.today,joint_resource.id)
                          -if today_order.present?
                            %a{ :"data-no-turbolink" => "true",:href => edit_order_path(today_order.first)}
                              %i.fa.fa-shopping-cart
                              Open Order
                          -else
                            - if current_doctor.role.include?("staff") || current_doctor.role.include?("administrator") || current_doctor.role.include?("super_administrator")
                              %a.create_order_exam{:"data-no-turbolink" => "true",:data => { "booking_id"=> booking.id , "url" => new_order_for_exam_path(:examination_id => old_exam.id,:id => joint_resource.id,:changecall => 'pending')},:href => "#"}
                                %i.fa.fa-shopping-cart
                                Create Order
                    -else
                      %li
                        %a{ :data => { "no-turbolink"=> "true"},:href=> new_examination_path(:id => joint_resource.id ,:changecall => "pending", :booking_id => booking.id),:style => "-webkit-user-select: text;"}
                          %i.fa.fa-edit 
                          Create Exam

                  - if joint_resource.lens_prescriptions_in_use.any?
                    %li
                      %a{:data => {"remote"=>"true",'type' => 'json'},:href => email_prescription_dashboard_path(joint_resource.lens_prescriptions_in_use.last)}
                        %i.fa.fa-send
                        Email Prescription

                  - if !joint_resource.lens_prescriptions_in_use.any? && joint_resource.glass_prescriptions_in_use.any? 
                    %li
                      %a{:data => {"remote"=>"true",'type' => 'json'},:href => email_prescription_dashboard_path(joint_resource.glass_prescriptions_in_use.last,glass: true)}
                        %i.fa.fa-send
                        Email Prescription
                  -unless booking.try(:examination).try(:status) == "finalized" || false
                    - if current_doctor.role.include?("staff") || current_doctor.role.include?("administrator") || current_doctor.role.include?("super_administrator")
                      %li
                        %a.booking_cancel{ :data => { "no-turbolink"=> "true", "booking_id"=> booking.id ,"url" => booking_path(id: booking.id,notification: true,exams_delete: true) },:href => "#",:style => "-webkit-user-select: text;"}
                          %i.fa.fa-remove
                          Cancel    
                  %li
                    %a{ :data => { :remote => true ,"no-turbolink"=> "true",'type' => 'json'},:href => reconfirm_notify_dashboard_path(:id => patient.id ,:booking => booking.id,:patient_class => patient.class.name)}  
                      %i.fa.fa-question
                      Reconfirm
                  -if patient.class.name == "FamilyMember"  
                    %li
                      %a{:data => { "no-turbolink"=> "true"},:href => family_member_path(joint_resource.family_member_id),:style => "-webkit-user-select: text;"} 
                        %i.fa.fa-user
                        View Profile
                  -else
                    %li  
                      %a{ :data => { "no-turbolink"=> "true"},:href => doctor_patient_profile_path(:patient_id => patient.id),:style => "-webkit-user-select: text;"}
                        %i.fa.fa-user
                        View Profile
                  -if !joint_resource.patient.confirmed?
                    %li
                      %a{ :data => { :remote => true ,'type' => 'json' } ,:href => confirm_account_dashboard_path(patient)}
                        %i.fa.fa-question-circle
                        Confirm Account
                  %li
                    %a{ :href => '#' ,:class => 'followups', :data => { :id => booking.joint_resource.id ,:name => booking.joint_resource.patient.name}}
                      %i.fa.fa-thumbs-o-up
                      Follow up
                      %span.badge.badge-success                                               
                        = booking.try(:joint_resource).try(:follow_ups).count
          -else
            #booking_canceled-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "booking_canceled-modal-label",:role => "dialog", :tabindex => "-1"}
              .modal-dialog
                .modal-content
                  .modal-header
                    Action For Canceled booking
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
                  .modal-body
                    Undo Canceled Booking and Revert it to "Pending"
                    %br
                  .modal-footer
                    = link_to "Undo Cancel Booking", restore_booking_booking_path(booking), :class => "btn btn-primary"
                    %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close
      - old_time = booking.end_time
  .digg_pagination
    = will_paginate @today_appointment.paginate(:page => params[:page], :per_page => 20),:param_name => 'todays_appointments_page'
#followup-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "followup-modal-label",:role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
        %h4#followup-modal-label.modal-title
      .modal-body
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close


:javascript
  $(function() {
    $(".pagination").on("click", 'a',function() {
      $(".pagination").html("Page is loading...");
      $.getScript(this.href);
      return false;
    });
  });
  
  $('.multi-select-exams').multiselect({
      enableFiltering: true,
      includeSelectAllOption: true,
      maxHeight: '300',
      buttonWidth: '256',
      templates: {
        filterClearBtn: '<span class="input-group-btn"><button class="btn btn-default multiselect-clear-filter" type="button"><b>X</b></button></span>',
        saveBtn: '<span class="input-group-btn"><button type="button" class="btn btn-default"><b>✔</b></button></span>'
      }
  });

  $(document).on('click','.booking_exam_update',function(e){
    $(this).next().modal();
  })

  $(document).on('click','.exam_update',function(e){
    $(this).closest('.modal').modal('hide');
  })

  $(document).on('click','.create_order_exam',function(event){
    event.preventDefault();
    var booking_id = $(this).data('booking-id');
    $.ajax({ 
              type: "GET",
              dataType: 'JSON',
              url: $(this).data('url'),
              success: function(data){ 
                window.location = $(this).data('url');
              }
    });
    
    $.ajax({ 
                type: "GET", 
                dataType: 'script',
                url: "/dashboards/todays_appointments",
                success: function(data){
              }
      });
      var new_user_hash = {};    
      new_user_hash[booking_id] = $.now();
      var myFirebaseRef = new Firebase("https://#{ENV['FIREBASE_APP_URL']}");  //firebase app url reference
      var doctorDashboardFirebaseRef = myFirebaseRef.child('doctor_dashboard').ref()
      doctorDashboardFirebaseRef.child('booking').transaction(function(data){ return $.extend(data, new_user_hash)});
      window.location = $(this).data('url');
  });