%table.table.table-striped.table-bordered.table-advance.table-hover
  %thead
    %tr
      %th
        %i.fa.fa-briefcase
        Name
      %th.hidden-xs
        %i.fa.fa-question
        Reason of Visit
      %th
        %i.fa.fa-briefcase
        Provider
      %th
        %i.fa.fa-clock-o
        Time
      %th
        %i.fa.fa-bookmark
        Action
  %tbody
    -@comming_appointment.each do |booking|
      - joint_resource = booking.joint_resource
      - patient = joint_resource.member
      %tr
        %td
          %a{:href => doctor_patient_profile_path(:patient_id => booking.joint_resource.patient.id)} 
            =booking.joint_resource.member.name
        %td.hidden-xs{style: "width: 25%;"}
          = booking.examination.present? and booking.examination.procedure_adjustments.any? ? booking.examination.procedure_adjustments.collect(&:name).join(',').titleize : booking.exam_procedures.map{|x| x.name}.join(",").titleize
        %td
          =read_org_appointment(current_doctor) ? booking.store.try(:description) + ' / ' : ''
          =booking.doctor.name
        %td
          =booking.start_time.strftime("%I:%M %p")+" to "+booking.end_time.strftime("%I:%M %p")+" on "+booking.start_time.strftime("%m/%d/%y")
        %td
          %ul.dropdown
            %li#actionsliststyle.btn-group
              %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                Actions
                %i.fa.fa-angle-down
              %ul.dropdown-menu.pull-right
                - if booking.examination.present?
                  %li
                    %a{ :data => { "no-turbolink"=> "true"}, :href => edit_examination_path(booking.examination)+"?changecall=pending_exam" }
                      %i.fa.fa-edit
                      Open Exam
                  - if booking.examination.order.present?
                    %li
                      %a{ :data => { "no-turbolink"=> "true" },:href => edit_order_path(booking.examination.order)+"?changecall=pending_order" ,:style => "-webkit-user-select: text;"}
                        %i.fa.fa-shopping-cart
                        Open Order
                  - else
                    -if booking.joint_resource.orders.present? && booking.joint_resource.orders.last.status.in?(['finalized','ready_for_pick_up','follow','dispensed'])
                      %li
                        %a{ :data => { "no-turbolink"=> "true"},:href => new_order_for_exam_path(:examination_id => booking.examination.id,:id => joint_resource.id,:changecall => 'pending')}
                          %i.fa.fa-shopping-cart
                          Create Order
                - else
                  %li
                    %a{ :data => { "no-turbolink"=> "true"},:href=> new_examination_path(:id => joint_resource.id ,:changecall => "pending", :booking_id => booking.id),:style => "-webkit-user-select: text;"}
                      %i.fa.fa-edit 
                      Create Exam
                %li
                  %a{ :data => { "no-turbolink"=> "true"},:href => doctor_patient_profile_path(:patient_id => patient.id),:style => "-webkit-user-select: text;"}
                    %i.fa.fa-user
                    View Profile
                %li
                  %a{ :data => { "no-turbolink"=> "true", method: :delete  , confirm: "Are you sure?"},:href => booking_path(id: booking.id,notification: true),:style => "-webkit-user-select: text;"}
                    %i.fa.fa-remove
                    Cancel
  .digg_pagination
    = will_paginate @comming_appointment,:param_name => 'upcoming_appointments_page' 
:javascript
  $(function() {
    $(".pagination").on("click", 'a',function() {
      $(".pagination").html("Page is loading...");
      $.getScript(this.href);
      return false;
    });
  });