.form-group
  .row.new-sty-logo
    .col-md-6
      %p
        = @doctor.store.description
        %br
        -if @doctor.store.try(:office_address).try(:full_addr_for_reports).present?
          #{@doctor.store.try(:office_address).try(:full_addr_for_reports)}
        %br
        %abbr{:title => "Email"}
        #{@doctor.try(:store).try(:contact_email)}
        %br
        - if @doctor.try(:store).phone_number.present?
          = "P: #{number_to_phone(@doctor.store.phone_number.to_s[2..-1].to_i, area_code: true)}" 
          %br
        - if @doctor.try(:store).fax.present?  
          = "F: #{@doctor.store.fax}"
        %br
        = "Date: #{Date.today}"
        %br
        %h6
          Account Numbers:
          %br
          - if @acount_numbers.present?
            - @acount_numbers.each do |account_number|
              = "#{account_number[0]}: #{account_number[1]}"
              %br           
    .col-md-1 
    .col-md-5
      - if @doctor.store.logo.present?
        = wicked_pdf_image_tag @doctor.store.logo.url(:thumb), class: "img-responsive align-middle pull-right"
      - else
        %img.img-responsive.align-middle.pull-right{:alt => "logo", :src => "/images/def_logo.jpg"}/
        %h3
          = @doctor.store.description
    
  %hr
    %h4
      Trial Order Lens           
  - @contact_lens_distribution_orders.each do |contact_lens_distribution_order|
    - lens = contact_lens_distribution_order.lens
    - od_type =LensTypesPrice.find_by(id: lens.od_lens_types_price_id).try(:lens_type)
    - os_type =LensTypesPrice.find_by(id: lens.os_lens_types_price_id).try(:lens_type)
    %h5
      = "Name: #{contact_lens_distribution_order.patient.first_name} #{contact_lens_distribution_order.patient.last_name} "    
    %table.table.table-condensed{:style => "font-size:12px;"}
      %tr
        %th
          
        %th
          TYPE
        %th
          SPHERE
        %th
          CYLINDER
        %th
          AXIS
        %th
          ADD
        %th
          BASE CURVE
        %th
          DIAMETER
        %th
          QUANTITY
      %tr
        %th
          OD
          %td
            = lens.od_type
          %td
            = lens.od_sphere
          %td
            = filter_lens_fields(od_type, 'cylinder') == "hidden" ? " " : lens.od_cylinder
          %td
            = filter_lens_fields(od_type, 'axis') == "hidden" ? " " : lens.od_axis
          %td
            = filter_lens_fields(od_type, 'add') == "hidden" ? " " : lens.od_add
          %td
            = lens.od_base_curve
          %td
            = lens.od_diameter
          %td
            = contact_lens_distribution_order.od_quantity   
      %tr
        %th
          OS
          %td
            = lens.os_type
          %td
            = lens.os_sphere
          %td
            = filter_lens_fields(os_type, 'cylinder') == "hidden" ? " " : lens.os_cylinder
          %td
            = filter_lens_fields(os_type, 'axis') == "hidden" ? " " : lens.os_axis
          %td
            = filter_lens_fields(os_type, 'add') == "hidden" ? " " : lens.os_add
          %td
            = lens.os_base_curve
          %td
            = lens.os_diameter
          %td
            = contact_lens_distribution_order.os_quantity
    .div.border_bottom                                
      %label
        Comments:     
      =  contact_lens_distribution_order.comments
:css
  .border_bottom {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;}