.container
  .row{:style => "padding-top: 30px;"}
    .col-md-4.pull-left
      - if @store.present?
        -logo_url = @store.try(:logo).try(:url).to_s
        = wicked_pdf_image_tag(logo_url, :style=>"width:180px;height:50px;")
      - else
        = wicked_pdf_image_tag '/images/def_logo.jpg',:alt=>"logo"
    .col-md-5.pull-right
      %h5 1201  Brickell  Ave #300
      %h5 Miami,FL  33131
      %h5 (305) 587 - 9898
      %h5 brickellvision.com
  .row{:style => "padding: 100px 0 0 0;"}
    .row
      .col-md-4.pull-left.valuemark
        %span.semi-bold Patient Name:
      .col-md-6.valuemark
        %span #{@order.joint_resource.patient.name}
    .row
      .col-md-4.pull-left.valuemark
        %span.semi-bold DOB:
      .col-md-6.valuemark
        %span #{@order.joint_resource.patient.birthday}
    .row
      .col-md-4.pull-left.valuemark
        %span.semi-bold Date:
      .col-md-6.valuemark
        %span #{@order.updated_at.strftime("%B %d, %Y")}
  .row{:style => "padding: 100px 0 0 0;", :class => ("hidden" unless @lens_order.lens.present?)}
    .col-md-12
      %table.table-bordered
        %thead
          %tr
            %th
              %label.col-md-7
                Type
            %th{:class => ("hidden" unless @lens_order.lens.try(:od_sphere).present? || @lens_order.lens.try(:os_sphere).present?)}
              %label.col-md-1
                SPHERE    
            %th{:class => ("hidden" unless @lens_order.lens.try(:od_cylinder).present? || @lens_order.lens.try(:os_cylinder).present?)}
              %label.col-md-1
                CYLINDER
            %th{:class => ("hidden" unless @lens_order.lens.try(:od_axis).present? || @lens_order.lens.try(:os_axis).present?)}
              %label.col-md-1
                AXIS  
            %th{:class => ("hidden" unless @lens_order.lens.try(:od_add).present? || @lens_order.lens.try(:os_add).present?)}
              %label.col-md-1
                ADD
            %th{:class => ("hidden" unless @lens_order.lens.try(:od_prism).present? || @lens_order.lens.try(:os_prism).present?)}
              %label.col-md-1
                PRISM
        %tbody
          %tr{:class => ("hidden" unless @lens_order.lens.try(:od_type).present?)}
            %td
              OD #{@lens_order.lens.try(:od_type)}
            %td
              = @lens_order.lens.try(:od_sphere)
            %td
              = @lens_order.lens.try(:od_cylinder)
            %td
              = @lens_order.lens.try(:od_axis)
            %td
              = @lens_order.lens.try(:od_add)
            %td
              = @lens_order.lens.try(:od_prism)
          %tr{:class => ("hidden" unless @lens_order.lens.try(:os_type).present?)}
            %td
              OS #{@lens_order.lens.try(:os_type)}
            %td
              = @lens_order.lens.try(:os_sphere)
            %td
              = @lens_order.lens.try(:os_cylinder)
            %td
              = @lens_order.lens.try(:os_axis)
            %td
              = @lens_order.lens.try(:os_add)
            %td
              = @lens_order.lens.try(:os_prism)
  .row{:style => "padding-top: 40px;"}
    .col-md-6.pull-right
      .row
        .col-md-4
          %span.semi-bold Total
        .col-md-4
          %span
            = number_to_currency(@order.subtotal)
      .row
        .col-md-4
          %span.semi-bold Adjustments
        .col-md-4
          %span
            = number_to_currency(@order.adjustments)
      .row
        .col-md-4
          %span.semi-bold Payment
        .col-md-4
          %span
            = number_to_currency(@order.total)
