$modal = $('#mymodal');
$modalBody = $('#mymodal .modal-body');
$modalHeading = $('#mymodal .modal-heading');
$modalHeading.html("Previous Updates");
$modalBody.html('<%= escape_javascript(render partial: "doctor/favourites/partials/audits") %>');
$modal.modal();