.section.bottom_gap
  / BEGIN PAGE HEADER
  .row
    .col-md-12
      / BEGIN PAGE TITLE &amp; BREADCRUMB
      %h3.page-title
        Order
        %small
          = @favourite_order.joint_resource.email
      %ul.page-breadcrumb.breadcrumb.page_bottom_gap
        %li#actionsliststyle.dropdown.btn-group
          %a.dropdown-toggle{"data-toggle" => "dropdown","data-delay"=>"1000","data-hover"=>"dropdown", :href => "#",class: 'btn blue btn-lg'}
            %span Actions
            %i.fa.fa-angle-down
          %ul.dropdown-menu.pull-right
            %li
              %a{:data => { "no-turbolink"=> "true"},:href => dispense_favourite_path(@favourite_order)}
                %i.fa.fa-medkit
                Dispense it

            - member_class=@favourite_order.joint_resource.member
            -if member_class.class == Patient
              %li
                %a{ :data => { "no-turbolink"=> "true"},:href => doctor_patient_profile_path(:patient_id => member_class.id)}
                  %i.fa.fa-user
                  View Profile
            -else
              %li
                %a{ :data => { "no-turbolink"=> "true"},:href => family_member_path(member_class.id)}
                  %i.fa.fa-user
                  View Profile
        %li
          %i.fa.fa-home
          %a{:href => "/"} Home
          %i.fa.fa-angle-right
        %li
          %a{:href => "#"} Favourites
          %i.fa.fa-angle-right
        %li
          %a{:href => "#"} order
  / END PAGE TITLE &amp; BREADCRUMB
  / END PAGE HEADER

- resource=@favourite_order.joint_resource.member
.page-container.favorder_cont
  .page-content{:style=> "background-image: url() !important;min-height: 360px !important;"}
    .prescription
      .form-group
        .row.margin-bottom-40
          .col-lg-12
            .row
              .col-md-12
                %h3
                  #{resource.try(:name)}
                  -if class_name(resource) == "FamilyMember"
                    %small
                      Family member of
                      = resource.try(:patient).try(:name)
            - if resource.birthday.present?  
              .row
                .col-md-3
                  %i.fa.fa-calendar
                  %label.string.optional.control-label DOB:
                  %span.semi-bold
                    #{resource.birthday}
                .col-md-3
                  %i.fa.fa-birthday-cake
                  %label.string.optional.control-label AGE:
                  %span.semi-bold
                    #{resource.age}
        %hr
      .row.profile
        .col-md-12
          / BEGIN TABS
          .tabbable.tabbable-custom.tabbable-full-width
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#tab_0_2"}
                  = @favourite_order.order_subscription_id.present? ? "Subscribed Order details": "Order Details"
              %li
                %a{"data-toggle" => "tab", :href => "#tab_0_1"}
                  Checklist
            .tab-content
              #tab_0_1.tab-pane
                .row#renewed_order_checklist
                  .col-md-12
                    .container{:style => "background-image: url() !important;"}
                      = form_for @favourite_order, url: checklist_update_favourite_path(@favourite_order),  remote: true,:method => :put,html: { :class =>"renewed_order_checklist_update"} do|f|
                        %h1 Contact Lens Order Prescription
                        .lens-items
                          %h2.done{"aria-hidden"=>"true"} Instock
                          %h2.undone{ "aria-hidden" =>"true"} Needs to be order
                          %label
                            %span.col-md-4
                              %span.bold.text-center.label_view TYPE
                            %span.col-md-1{:class => ("hidden" unless @lens_order.lens.od_base_curve.present? || @lens_order.lens.os_base_curve.present?)} 
                              %span.bold.label_view BASE CURVE
                            %span.col-md-1{:class => ("hidden" unless @lens_order.lens.od_diameter.present? || @lens_order.lens.os_diameter.present?)} 
                              %span.bold.label_view DIAMETER
                            %span.col-md-1{:class => ("hidden" unless @lens_order.lens.od_sphere.present? || @lens_order.lens.os_sphere.present?)} 
                              %span.bold.label_view SPHERE
                            %span.col-md-1{:class => ("hidden" unless @lens_order.lens.od_cylinder.present? || @lens_order.lens.os_cylinder.present?)} 
                              %span.bold.label_view CYLINDER
                            %span.col-md-1{:class => ("hidden" unless @lens_order.lens.od_axis.present? || @lens_order.lens.os_axis.present?)} 
                              %span.bold.label_view AXIS
                            %span.col-md-1{:class => ("hidden" unless @lens_order.lens.od_add.present? || @lens_order.lens.os_add.present?)} 
                              %span.bold.label_view ADD
                            %span.col-md-1{:class => ("hidden" unless @lens_order.lens.try(:od_prism).present? || @lens_order.lens.try(:os_prism).present?)} 
                              %span.bold.label_view PRISM
                          = hidden_field_tag "favourite_order[lens_od_checkmark]", 'false'
                          %input.checkmark.od_checkmark{"data-title" => "lens prescription OD", :name => "favourite_order[lens_od_checkmark]",:id => "renewed_order_lens_od_checkmark", :type => "checkbox","data-val"=>"true" ,:value => "true",:checked => @favourite_order.lens_od_checkmark ? true: false}
                          - if @lens_order.lens.try(:od_type).present?
                            %label.checkmark.control-label{:for => 'renewed_order_lens_od_checkmark'}
                              %span.col-md-4
                                = "OD #{@lens_order.lens.od_type}"
                              %span.col-md-1
                                = "#{@lens_order.lens.od_base_curve}"
                              %span.col-md-1
                                = "#{@lens_order.lens.od_diameter}"
                              %span.col-md-1
                                = "#{@lens_order.lens.od_sphere}"
                              %span.col-md-1
                                = "#{@lens_order.lens.od_cylinder}"
                              %span.col-md-1
                                = "#{@lens_order.lens.od_axis}"
                              %span.col-md-1
                                = "#{@lens_order.lens.od_add}"
                              %span.col-md-1
                                = "#{@lens_order.lens.try(:od_prism)}"
                          = hidden_field_tag "favourite_order[lens_os_checkmark]", 'false'
                          %input.checkmark.os_checkmark{"data-title" => "lens prescription OS", :name => "favourite_order[lens_os_checkmark]",:id => "renewed_order_lens_os_checkmark", :type => "checkbox","data-val"=>"true" ,:value => "true",:checked => @favourite_order.lens_os_checkmark ? true : false}
                          - if @lens_order.lens.try(:os_type).present?
                            %label.checkmark.control-label{:for => 'renewed_order_lens_os_checkmark'}
                              %span.col-md-4
                                = "OS #{@lens_order.lens.os_type}"
                              %span.col-md-1
                                = "#{@lens_order.lens.os_base_curve}"
                              %span.col-md-1
                                = "#{@lens_order.lens.os_diameter}"
                              %span.col-md-1
                                = "#{@lens_order.lens.os_sphere}"
                              %span.col-md-1
                                = "#{@lens_order.lens.os_cylinder}"
                              %span.col-md-1
                                = "#{@lens_order.lens.os_axis}"
                              %span.col-md-1
                                = "#{@lens_order.lens.os_add}"
                              %span.col-md-1
                                = "#{@lens_order.lens.try(:os_prism)}"
                        %button.btn.green.button-submit.pull-right{type: "submit"}
                          Save
                          %i.m-icon-swapright.m-icon-white

              #tab_0_2.tab-pane.active
                - if @lens_order.lens.try(:od_type).present? || @lens_order.lens.try(:os_type).present?  
                  .row
                    .col-md-12
                      .portlet.box.blue-hoki
                        .portlet-title
                          .caption
                            %i.fa.fa-circle-thin
                            Order Prescription
                        .portlet-body
                          .table-wrapper-responsive
                            %table.table.table-striped
                              %thead
                                %tr
                                  %th
                                    %label.col-md-2
                                      Type
                                  %th{:class => ("hidden" unless @lens_order.lens.od_sphere.present? || @lens_order.lens.os_sphere.present?)}
                                    %label.col-md-2
                                      Sphere
                                  %th{:class => ("hidden" unless @lens_order.lens.od_cylinder.present? || @lens_order.lens.os_cylinder.present?)}
                                    %label.col-md-2
                                      Cylinder
                                  %th{:class => ("hidden" unless @lens_order.lens.od_axis.present? || @lens_order.lens.os_axis.present?)}
                                    %label.col-md-2
                                      Axis
                                  %th{:class => ("hidden" unless @lens_order.lens.od_add.present? || @lens_order.lens.os_add.present?)}
                                    %label.col-md-2
                                      Add
                                  %th{:class => ("hidden" unless @lens_order.lens.try(:od_prism).present? || @lens_order.lens.try(:os_prism).present?)}
                                    %label.col-md-2
                                      Prism
                              %tbody
                                - if @lens_order.lens.try(:od_type).present? 
                                  %tr
                                    %td
                                      %label OD #{@lens_order.lens.od_type}
                                    %td
                                      %label
                                        = @lens_order.lens.od_sphere
                                    %td
                                      %label
                                        = @lens_order.lens.od_cylinder
                                    %td
                                      %label
                                        = @lens_order.lens.od_axis
                                    %td
                                      %label
                                        = @lens_order.lens.od_add
                                    %td
                                      %label
                                        = @lens_order.lens.try(:od_prism)
                                - if @lens_order.lens.try(:os_type).present?  
                                  %tr
                                    %td
                                      %label OS #{@lens_order.lens.os_type}
                                    %td
                                      %label
                                        = @lens_order.lens.os_sphere
                                    %td
                                      %label
                                        = @lens_order.lens.os_cylinder
                                    %td
                                      %label
                                        = @lens_order.lens.os_axis
                                    %td
                                      %label
                                        = @lens_order.lens.os_add
                                    %td
                                      %label
                                        = @lens_order.lens.try(:os_prism)
                - if  @lens_order.lens.try(:od_type).present? || @lens_order.lens.try(:os_type).present? 
                  .row
                    .col-md-12
                      .portlet.grey-cascade.box
                        .portlet-title
                          .caption
                            %i.fa.fa-cogs
                            Order Summary
                        .portlet-body
                          .table-wrapper-responsive
                            %table.table.table-hover.table-striped
                              %thead
                                %tr
                                  %td
                                    %label.col-md-4
                                      Type
                                  %th{:class => ("hidden" unless @favourite_order.lens_orders['lens_od_quantity'].present? || @favourite_order.lens_orders['lens_os_quantity'].present?)}
                                    %label.col-md-4
                                      Quantity
                                  %th{:class => ("hidden" unless @favourite_order.lens_orders['lens_od_unit_price'].present? || @favourite_order.lens_orders['lens_os_unit_price'].present?)}
                                    %label.col-md-4
                                      Unit price
                              %tbody
                                - if @lens_order.lens.try(:od_type).present?
                                  %tr
                                    %td
                                      OD
                                      = @lens_order.lens.od_type
                                    %td
                                      = @favourite_order.lens_orders['lens_od_quantity']
                                    %td
                                      = @favourite_order.lens_orders['lens_od_unit_price']
                                - if @lens_order.lens.try(:os_type).present?  
                                  %tr
                                    %td
                                      OS
                                      = @lens_order.lens.os_type
                                    %td
                                      = @favourite_order.lens_orders['lens_os_quantity']
                                    %td
                                      = @favourite_order.lens_orders['lens_os_unit_price']
                .row
                  .col-md-6
                  .col-md-6
                    .well
                      - if @favourite_order.subtotal.present?
                        .row.static-info.align-reverse
                          .col-md-8.name
                            Subtotal:
                          .col-md-3.value
                            #subtotal $ #{@favourite_order.subtotal.round(2)}
                      .row.static-info.align-reverse
                        .col-md-8.name
                          Discount:
                        .col-md-3.value
                          #discount 15.00%
                      - if @favourite_order.shippment_method.present?  
                        .row.static-info.align-reverse
                          .col-md-8.name
                            Shipping:
                          .col-md-3.value
                            #{@favourite_order.shippment_method.try(:titleize)}
                      - if @favourite_order.reward_points_used.present?  
                        .row.static-info.align-reverse
                          .col-md-8.name
                            Reward Points Applied:
                          .col-md-3.value
                            #{@favourite_order.reward_points_used}
                      - if @favourite_order.total.present?  
                        .row.static-info.align-reverse
                          .col-md-8.name
                            Total:
                          .col-md-3.value
                            #order_total $ #{@favourite_order.total.round(2)}
                      - if @favourite_order.balance_due.present?  
                        .row.static-info.align-reverse
                          .col-md-8.name
                            Balance Due:
                          .col-md-3.value
                            #order_balance_due  $ #{@favourite_order.balance_due}
                    %br

    = form_for @favourite_order, url: status_update_favourite_path(@favourite_order),  remote: true,:method => :put,html: { :class =>"order-form" ,:id => "favourite_order_status_update_hidden"} do|f|
      = hidden_field_tag "favourite_order[doctor_id]",current_doctor.id
      = hidden_field_tag "favourite_order[status]"
