.page-container{:style => "margin-top: 0px;"}
  .page-content{:style => "background-image: url() !important;min-height: 60px !important;"}
    -if @order.audits.present?
      - order_prescription = @order.lens_prescription
      - order_prescription.audits.each do |order_audit|
        %h4
          %span #{order_audit.auditable_type.try(:titleize)}
          %small.pull-right #{order_audit.created_at.strftime("%B %d, %Y")}
        - order_audit.audited_changes.each do |key,value|
          .row
            .col-md-2
            .col-md-5
              %label #{key.titleize}
            .col-md-5
              -if value.is_a?(Array)
                %label #{value.compact.reject(&:blank?)}
              -else
                %label #{value}
        .row
          .col-md-4
          .col-md-8
            .col-md-2
              %span.badge.badge-rounded.badge-success
                Made By: 
            .col-md-6.pull-right
              %strong #{order_audit.try(:user).try(:name)}
        %hr
      - order_prescription.lens.audits.each do |lens_audit|
        %h4
          %span #{lens_audit.auditable_type.try(:titleize)}
          %small.pull-right #{lens_audit.created_at.strftime("%B %d, %Y")}
        - lens_audit.audited_changes.each do |key,value|
          .row
            .col-md-2
            .col-md-5
              %label #{key.titleize}
            .col-md-5
              %label #{value}
        .row
          .col-md-4
          .col-md-8
            .col-md-2
              %span.badge.badge-rounded.badge-success
                Made By: 
            .col-md-6.pull-right
              %strong #{lens_audit.try(:user).try(:name)}
        %hr
    -else
      .row
        .col-md-8.text-center
          %i.fa.fa-search
          %em No Changes found
