.row
  .col-md-12
    .col-md-6
      .portlet.box.red
        .portlet-title.portlet-title-height
          .caption
            %i.fa.fa-flag>
            Vision Insurance
        .portlet-body
          = simple_form_for :vision_insurance, url: add_vision_insurance_setting_patients_path do |f|
            .row
              .col-md-5
                = f.input :name,label: false, placeholder: 'Name'
              .col-md-5
                = f.input :code, label: false, placeholder: 'Code'
              .col-md-2
                = submit_tag "Create" ,class: "btn btn-primary btn-sm"
            .row
              .col-md-12
                - @vision_insurances.each do |vision_insurance|
                  .row
                    .col-md-3
                      = vision_insurance.name.capitalize
                    .col-md-5
                      = vision_insurance.code
                    .col-md-2
                      = link_to "Edit", "#edit-modal", "data-id" =>vision_insurance.id, "data-name" => vision_insurance.name, "data-code" => vision_insurance.code, class: "edit_vision"
                    .col-md-2
                      = link_to "Delete", delete_vision_insurance_setting_patients_path(id: vision_insurance), remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete
    .col-md-6
      .portlet.box.red
        .portlet-title.portlet-title-height
          .caption
            %i.fa.fa-flag>
            Medical Insurance
          = simple_form_for :control_medical_on_off,url: setting_patient_path(@fetch_setting_id),method: :put, remote: true do |f|
            %span.pull-right
              Show?
              = radio_button_tag("flag_for_medical", true, current_organisation.setting.flag_for_medical)
              Yes
              = radio_button_tag("flag_for_medical", false, !current_organisation.setting.flag_for_medical)
              NO     
        .portlet-body
          = simple_form_for :medical_insurance, url: add_medical_insurance_setting_patients_path do |f|
            .row
              .col-md-5
                = f.input :name,label: false, placeholder: 'Name'
              .col-md-5
                = f.input :code, label: false, placeholder: 'Code'
              .col-md-2
                = submit_tag "Create" ,class: "btn btn-primary btn-sm"
            .row
              .col-md-12
                -if @medical_insurances.present?
                  - @medical_insurances.each do |medical_insurance|
                    .row
                      .col-md-3
                        = medical_insurance.name.capitalize
                      .col-md-5
                        = medical_insurance.code
                      .col-md-2
                        = link_to "Edit", "#edit-modal-medical", "data-id" =>medical_insurance.id, "data-name" => medical_insurance.name, "data-code" => medical_insurance.code, class: "edit_medical"
                      .col-md-2
                        = link_to "Delete", delete_medical_insurance_setting_patients_path(id: medical_insurance), remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete                      

.row  
  .col-md-12
    .col-md-6
      .portlet.box.red
        .portlet-title.portlet-title-height
          .caption
            %i.fa.fa-flag>
            Patient/Office Agreements
        .portlet-body
          = simple_form_for :document,url:  upload_file_setting_patient_path(@fetch_setting_id),method: :put do |f|
            .row
              .col-md-5
                = f.file_field "attached_file", name: "setting[attached_file]"
              .col-md-2
                = submit_tag "Upload" ,class: "btn btn-primary btn-sm"
            .row
              .col-md-12
                - @documents.each do |doc|
                  .row
                    .col-md-10
                      = doc.docs_file_name.truncate(60)
                    .col-md-2  
                      = link_to "Delete", delete_file_setting_patients_path("doc_id" => doc.id),remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete

#edit-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "edit-modal-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times
        %h4.modal-title
          Edit Vision Insurance
      .modal-body
        = simple_form_for :vision_insurance, url: update_vision_insurance_setting_patients_path, method: :get do |f|
          .row
            .col-md-5
              = f.input :name,label: false, placeholder: 'Name'
            .col-md-5
              = f.input :code, label: false, placeholder: 'Code'
              = f.hidden_field :vision_id, value: ''
            .col-md-2
              = submit_tag "Save" ,class: "btn btn-primary btn-sm"

#edit-modal-medical.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "edit-modal-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times
        %h4.modal-title
          Edit Medical Insurance
      .modal-body
        = simple_form_for :medical_insurance, url: update_medical_insurance_setting_patients_path, method: :get do |f|
          .row
            .col-md-5
              = f.input :name,label: false, placeholder: 'Name'
            .col-md-5
              = f.input :code, label: false, placeholder: 'Code'
              = f.hidden_field :medical_id, value: ''
            .col-md-2
              = submit_tag "Save" ,class: "btn btn-primary btn-sm"
:css
  .margin{
    margin-left: 200px;
  }
:javascript
  $('input:radio[name="flag_for_medical"]').change(function(){
    $(".control_medical_on_off").submit();
  })
