= simple_form_for :closure, remote: true, url: add_holiday_setting_schedulers_path  do |f|
  .row
    = f.input :trackable_id, as: :hidden, input_html: {value: @doctor.id}
    = f.input :trackable_type, as: :hidden, input_html: {value: "Doctor"}
    .col-md-7
      = f.input :date, as: :daterange_picker, label: false, placeholder: "Select Date"
    .col-md-3
      = f.input :reason, label: false, placeholder: "Reason"
    .col-md-2
      = submit_tag "Create", class: "btn btn-primary btn-sm", :confirm=>'Are you sure you want to close entire day?'
  .row
    .col-md-12
      -if @doctor_closure.present?  
        - @doctor_closure.each do |closure|
          .row
            .col-md-4
              -if (closure.date.present? && closure.end_date.present?) && closure.date.to_date != closure.end_date.to_date
                = closure.date.strftime("%b %d, %Y")+' - '+closure.end_date.strftime("%b %d, %Y")
              -else
                = closure.date.strftime("%b %d, %Y")
            .col-md-6
              = closure.reason
            .col-md-2
              = link_to "Delete", delete_holiday_setting_schedulers_path(id: closure.id), remote: true, onclick: "$(this).parent().parent().next().remove();$(this).parent().parent().remove();", data: { confirm: "Are you sure?" },  method: :delete
          %br
      -else
        Closures not present
