.row
  .col-md-12
    .col-md-4
      .portlet.white-sunglo
        .caption
          Select Store
        .actions
          = select_tag :store_select, options_from_collection_for_select(current_organisation.stores.order("id"), "id", "description"), class: "form-control",  onchange: "$.get('/setting_schedulers/working_schedule?trackable_id=' + $(this).val()+'&trackable_type=Store')"
  =render '/doctor/setting_schedulers/schedule'

:javascript
  $(".date-picker").datepicker({ startDate: new Date() });