-trackable=trackable||@trackable # gives us day closures
-tracked=tracked||@tracked    # gives us store
-@doctor=@doctor||current_doctor
-store=tracked.present? ? tracked : current_organisation.stores.first
#scheduling
  .col-md-12  
    .col-md-6
      / BEGIN Portlet PORTLET
      .portlet.box.red-sunglo
        .portlet-title
          .caption
            %i.fa.fa-calendar>
            Set Doctor Schedule
          .actions
            = select_tag :doctor_select, options_from_collection_for_select(store.doctors.doctors_with_role_doctor.order("id"), "id", "name"), class: "form-control",  onchange: "$.get('/setting_schedulers/working_schedule?trackable_id=' + $(this).val()+'&trackable_type=Doctor')"
        .portlet-body
          #doctor_working_schedule_form
            = render "/doctor/setting_schedulers/working_schedule_form", trackable: store.try(:doctors).order("id").present? ? store.try(:doctors).first.working_schedule : "nothing"
    .col-md-6
      / BEGIN Portlet PORTLET
      .portlet.box.blue
        .portlet-title.portlet-title-height
          .caption
            %i.fa.fa-calendar>
            Set Store Schedule
          .actions
            / = select_tag :store_select, options_from_collection_for_select(current_organisation.stores, "id", "description", @first_store), class: "form-control",  onchange: "$.get('/settings/working_schedule?trackable_id=' + $(this).val()+'&trackable_type=Store')"
        .portlet-body
          #store_working_schedule_form
            = render "/doctor/setting_schedulers/working_schedule_form", trackable: @store_working_schedule
  .col-md-12
    .col-md-6
      / BEGIN Portlet PORTLET
      .row
        .col-md-12
          .portlet.box.blue-steel
            .portlet-title
              .caption
                %i.fa.fa-calendar>
                Doctor Out of Office
              .actions
                = select_tag :doctor_select, options_from_collection_for_select(store.doctors.doctors_with_role_doctor.order("id"), "id", "name"), class: "form-control", onchange: "$.get('/setting_schedulers/doctor_leave_closure?doctor_id=' + $(this).val())"
            .portlet-body
              #doctor_day_closure_form
                = render "/doctor/setting_schedulers/doctor_leave_closure_form"
    .col-md-6
      / BEGIN Portlet PORTLET
      .row
        .col-md-12
          .portlet.box.red
            .portlet-title.portlet-title-height
              .caption
                %i.fa.fa-calendar>
                Office Closed       
            .portlet-body
              #store_closure_form
                = render partial: "/doctor/setting_schedulers/store_closure_form", locals: { store: store}
  .col-md-12
    .col-md-6
      / BEGIN Portlet PORTLET
      .row
        .col-md-12
          .portlet.box.red
            .portlet-title.portlet-title-height
              .caption
                %i.fa.fa-calendar>
                Appointment Time Slot
            .portlet-body
              = simple_form_for :set_calender_slot_time,url: set_defaut_slot_time_setting_path(current_organisation.setting.id),method: :put do |f|
                .row
                  .col-md-5
                    = f.number_field :slot_time,min:05,max:60,:step=>05,:value=>current_organisation.setting.slot_time,class: "set_box_width" 
                    minutes 
                  .col-md-2
                    = submit_tag "Update" ,class: "btn btn-primary btn-sm"

:css

  .portlet-title-height
  {
    height: 55px;
  }