= simple_form_for :closure, remote: true, url: add_holiday_setting_schedulers_path  do |f|
  .row
    .col-md-5
      = f.input :trackable_id, as: :hidden, input_html: {value: store.id}
      = f.input :trackable_type, as: :hidden, input_html: {value: "Store"}
      = f.input :date, as: :date_picker, label: false, placeholder: "Date"
       
    .col-md-5
      = f.input :reason, label: false, placeholder: "Reason"
    .col-md-2
      = submit_tag "Create", class: "btn btn-primary btn-sm", :confirm=>'Are you sure you want to close entire day?'
  .row
    .col-md-12
      - store.try(:holidays).each do |closure|
        .row
          .col-md-3
            = closure.date.strftime("%B %d, %Y")
          .col-md-7
            = closure.reason
          .col-md-2
            = link_to "Delete", delete_holiday_setting_schedulers_path(id: closure.id), remote: true, onclick: "$(this).parent().parent().remove()", data: { confirm: "Are you sure?" },  method: :delete