- trackable ||= @trackable
-if trackable!="nothing"
  = simple_form_for trackable, url: update_working_schedule_setting_schedulers_path, :method=> 'post' do |f|
    = f.input :trackable_id,  as: :hidden
    = f.input :id,  as: :hidden
    .row
      .col-md-2 Monday
      .col-md-3
        = f.input :monday_start_time, :as => :time_picker, label: false, placeholder: "Start Time"         
      .col-md-1 to
      .col-md-3
        = f.input :monday_end_time, :as => :time_picker, label: false, placeholder: "End Time"
      .col-md-1 or 
      .col-md-1
        %label Closed
      .col-md-1
        %input{:name => "monday", :type => "checkbox", :id => "monday"}
    %br
    .row
      .col-md-2 Tuesday
      .col-md-3
        = f.input :tuesday_start_time, :as => :time_picker, label: false, placeholder: "Start Time"
         
      .col-md-1 to
      .col-md-3
        = f.input :tuesday_end_time, :as => :time_picker, label: false, placeholder: "End Time"
      .col-md-1 or 
      .col-md-1
        %label Closed
      .col-md-1
        %input{:name => "tuesday", :type => "checkbox", :id => "tuesday"}
    %br
    .row
      .col-md-2 Wednesday
      .col-md-3
        = f.input :wednesday_start_time, :as => :time_picker, label: false, placeholder: "Start Time"
         
      .col-md-1 to
      .col-md-3
        = f.input :wednesday_end_time, :as => :time_picker, label: false, placeholder: "End Time"
      .col-md-1 or 
      .col-md-1
        %label Closed
      .col-md-1
        %input{:name => "wednesday", :type => "checkbox", :id => "wednesday"}
    %br
    .row
      .col-md-2 Thursday
      .col-md-3
        = f.input :thursday_start_time, :as => :time_picker, label: false, placeholder: "Start Time"
         
      .col-md-1 to
      .col-md-3
        = f.input :thursday_end_time, :as => :time_picker, label: false, placeholder: "End Time"
      .col-md-1 or 
      .col-md-1
        %label Closed
      .col-md-1
        %input{:name => "thursday", :type => "checkbox", :id => "thursday"}
    %br
    .row
      .col-md-2 Friday
      .col-md-3
        = f.input :friday_start_time, :as => :time_picker, label: false, placeholder: "Start Time"
         
      .col-md-1 to
      .col-md-3
        = f.input :friday_end_time, :as => :time_picker, label: false, placeholder: "End Time"
      .col-md-1 or 
      .col-md-1
        %label Closed
      .col-md-1
        %input{:name => "friday", :type => "checkbox", :id => "friday"}
    %br
    .row
      .col-md-2 Saturday
      .col-md-3
        = f.input :saturday_start_time, :as => :time_picker, label: false, placeholder: "Start Time"
         
      .col-md-1 to
      .col-md-3
        = f.input :saturday_end_time, :as => :time_picker, label: false, placeholder: "End Time"
      .col-md-1 or 
      .col-md-1
        %label Closed
      .col-md-1
        %input{:name => "saturday", :type => "checkbox", :id => "saturday"}
    %br
    .row
      .col-md-2 Sunday
      .col-md-3
        = f.input :sunday_start_time, :as => :time_picker, label: false, placeholder: "Start Time"
         
      .col-md-1 to
      .col-md-3
        = f.input :sunday_end_time, :as => :time_picker, label: false, placeholder: "End Time"
      .col-md-1 or 
      .col-md-1
        %label Closed
      .col-md-1
        %input{:name => "sunday", :type => "checkbox", :id => "sunday"}
    .row
    .modal-footer
      %button.btn.btn-sm.blue Save
-else
  .row
    .modal-footer
      There Are No Doctors For this store

:javascript
  settingsWorkingSchedule();
  