<%
  trackable=trackable||@trackable # gives us day closures
  tracked=tracked||@tracked    # gives us store
  @doctor=@doctor||current_doctor
  store=tracked.present? ? tracked : current_organisation.stores.first
%>
<% if params[:closure][:trackable_type] == "Doctor"%>
  $('#doctor_day_closure_form').html("<%= escape_javascript(render partial: 'doctor_leave_closure_form') %>");
<%else%>
  $('#store_closure_form').html("<%= escape_javascript(render partial: 'store_closure_form', locals: {store: store}) %>");
<%end%>

$(".date-picker").datepicker({ startDate: new Date() });
<%= add_gritter(@notice,:title => @status) %>