<% if @trackable.trackable_type == "Doctor"%>
  $('#doctor_working_schedule_form').html("<%= escape_javascript(render partial: 'working_schedule_form', trackable: @trackable) %>");
<%else%>
  $('#scheduling').html("<%= escape_javascript(render partial: '/doctor/setting_schedulers/schedule', :locals =>{:trackable=> @trackable, :tracked=> @tracked} )%>");
<%end%>  

 ComponentsPickers.init();