.nested-fields
  .row
    .col-lg-12
      .portlet.box.blue-hoki
        .portlet-title
          .caption
            %i.fa.fa-circle-thin
            %i.fa.fa-circle-thin
            Contact Lens
            %span.semi-bold Order ##{f.object.id}
          .tools-dropdown-on-portlet.pull-right
            = link_to '&nbsp; Hold'.html_safe, hold_lens_suborder_order_path(f.object), :method => :put, :remote => true , :id => 'lens_order_hold_'+f.object.id.to_s,:class => f.object.hold? ? "hold_lens fa fa-gavel icon-white btn btn-sm btn-success" : "hold_lens fa fa-gavel icon-white btn btn-sm blue-hoki"
            - if @order.joint_resource.examinations.present?
              = link_to '&nbsp;Other Prescriptions'.html_safe,lens_prescriptions_orders_path(:jr_id => @order.joint_resource,:form_id =>  f.options[:html][:id] ),:remote => true,:data => {:toggle => 'modal', :target => "#prescription"},:class => "fa fa-wrench icon-white btn blue-hoki btn-sm",:title => 'Other Prescriptions', :rel=> 'tooltip'
            = link_to '&nbsp;Manually Change'.html_safe,"#lens_manual_toggle_"+f.object.id.to_s,:class => 'fa fa-gear btn btn-sm blue-hoki lens_manual_change',data: {:suborder =>f.object.id}
            = link_to '&nbsp;Remove'.html_safe,  delete_contact_lens_suborder_order_path(f.object.id), :remote => true , :method => :delete, :class => 'fa fa-trash btn btn-sm blue-hoki lens_delete'
            = f.input :od_lens_types_price_id,as: :hidden
            = f.input :os_lens_types_price_id,as: :hidden
            = f.input :doctor_id, as: :hidden,input_html: { value: current_doctor.try(:id) }
        .portlet-body.form
          .form-body.lenses
            = f.simple_fields_for :lenses do |lens|
              .lens_form_fields{:style => 'display:none;',id: "lens_edit_manual_change_"+f.object.id.to_s}
                = render 'doctor/orders/order_partial/contact_lens_order/lens_fields',:f => f,:lens => lens
              .contact_prescription.table-responsive{:id => 'contacts_prescription_manual_change_'+f.object.id.to_s,:style => 'display:block;'}
                = render 'doctor/orders/order_partial/contact_lens_order/contacts_prescription',:suborder => f.object,:lens => lens.object,:f => f
              .row
                .col-md-12
                  .portlet.box.red-intense
                    .portlet-title
                      .caption
                        %i.fa.fa-money
                        Benefits
                    .portlet-body
                      .row
                        .form-group
                          %label.control-label.col-md-3 Material Copay
                          .col-md-3
                            .input-icon
                              %i.fa.fa-dollar
                              = f.input :material_copay, label: false,as: :string,:input_html => {value: (number_with_precision(f.object.material_copay, :precision => 2)) ,:class => "lens_total_calc price_inp" , :data => { :suborder => f.object.id.to_s } },:wrapper => false
                          %label.control-label.col-md-3 Allowance
                          .col-md-3
                            .input-icon
                              %i.fa.fa-dollar
                              = f.input :allowance, label: false,as: :string,:input_html => {value: (number_with_precision(f.object.allowance, :precision => 2)) ,:class => "lens_total_calc price_inp", :data => { :suborder => f.object.id.to_s} },:wrapper => false
                      .row
                        .form-group
                          %label.control-label.col-md-3 CL Fit
                          .col-md-3
                            .input-icon
                              %i.fa.fa-dollar
                              = f.input :cl_fit, label: false,as: :string,:input_html => {value: (number_with_precision(f.object.cl_fit, :precision => 2)) ,:class => "lens_total_calc price_inp" , :data => { :suborder => f.object.id.to_s} },:wrapper => false
                          %label.control-label.col-md-3 Remaining
                          %label.control-label.col-md-3= f.input :remaining,label: false,:input_html => {value: (number_with_precision(f.object.cl_fit, :precision => 2)),:class => "cl_fit_and_allowance_remaining" , :data => { :suborder => f.object.id.to_s} ,:readonly => true}
                      .row
                        .col-md-6
                          .row
                            .col-md-6
                              %input.icheck-me{"data-color" => "blue", "data-skin" => "line", :type => "checkbox", checked: true, "data-text" => "Discount"}
                            .col-md-6
                              %i.percent_icon %
                              = f.input :discount, label: false,as: :string,:input_html => {value: (number_with_precision(f.object.discount, :precision => 2)) ,:class => 'price_inp lens_total_calc toggle_discount percent_box', data: { :suborder => f.object.id }}
                          .row
                            .form-group
                              %label.control-label.col-md-12
                                .well
                                  .goods-page-price
                                    %strong Total
                                  .input-icon
                                    %i.fa.fa-dollar
                                    = f.input :total, label: false,as: :string,:input_html => {value: (number_with_precision(f.object.total, :precision => 2)) ,:class => 'lens_order_total'},:wrapper => false
                        .col-md-6
                          .row
                            .col-md-12
                              = f.input :comments,as: :text,:input_html => {:cols => 6, :rows => 5 }
                          .row
                            .col-md-6
                            .col-md-6{:style => 'display:none;align:right;',id: "lens_save_manual_change_"+f.object.id.to_s}
                              = f.submit 'Save', class: 'pull-right fa fa-floppy-o btn btn-md green lens_save',:"data-no-turbolink"=> "true"
