.col-md-12
  .row.static-info
    .col-md-12.name
      %h3
        = lens.finalize? ? "Finalized Contact Lens Prescription" : "Manually Entered Prescription"
      %table.table.table-striped.table-hover
        -unless lens.is_empty?
          - od_type =LensTypesPrice.find_by(id: lens.od_lens_types_price_id).try(:lens_type)
          - os_type =LensTypesPrice.find_by(id: lens.os_lens_types_price_id).try(:lens_type)
          %thead
            %tr
              %th
                
              %th
                TYPE
              %th.hidden-480
                SPHERE
              %th.hidden-480
                CYLINDER
              %th.hidden-480
                AXIS
              %th
                ADD
              %th
                BASE CURVE
              %th
                DIAMETER
              %th
                BOXES
              %th
                Unit Price
              %th
                Adjusted Price
              %th
                Months
          %tbody
            .col-md-12
              %tr
                %th
                  OD
                -if lens.od_type.present?
                  %td
                    = lens.od_type
                  %td.hidden-480
                    = lens.od_sphere
                  %td.hidden-480
                    = filter_lens_fields(od_type, 'cylinder') == "hidden" ? " " : lens.od_cylinder
                  %td.hidden-480
                    = filter_lens_fields(od_type, 'axis') == "hidden" ? " " : lens.od_axis
                  %td.hidden-480
                    = filter_lens_fields(od_type, 'add') == "hidden" ? " " : lens.od_add
                  %td
                    = lens.od_base_curve
                  %td
                    = lens.od_diameter
                  %td#doctor_select_od
                    = suborder.od_qnt
                  %td
                    = number_to_currency(suborder.od_price)
                  %td#od_patient_pays
                    = suborder.od_patient_pays.present? ? number_to_currency(suborder.od_patient_pays) : number_to_currency(suborder.od_price)
                  %td
                    = f.input :od_interval,label: false, collection: [0] + (suborder.od_lens_modality..12).step(suborder.od_lens_modality).to_a,:selected => suborder.od_interval,:input_html => {class: "lens_total_calc",data: {:suborder =>f.object.id}}
            .col-md-12
              %tr
                %th
                  OS
                -if lens.os_type.present?
                  %td
                    = lens.os_type
                  %td
                    = lens.os_sphere
                  %td
                    = filter_lens_fields(os_type, 'cylinder') == "hidden" ? " " : lens.os_cylinder
                  %td
                    = filter_lens_fields(os_type, 'axis') == "hidden" ? " " : lens.os_axis
                  %td
                    = filter_lens_fields(os_type, 'add') == "hidden" ? " " : lens.os_add
                  %td
                    = lens.os_base_curve
                  %td
                    = lens.os_diameter
                  %td#doctor_select_os
                    = suborder.os_qnt
                  %td
                    = number_to_currency(suborder.os_price)
                  %td#os_patient_pays
                    = suborder.os_patient_pays.present? ? number_to_currency(suborder.os_patient_pays) : number_to_currency(suborder.os_price)
                  %td
                    = f.input :os_interval,label: false, collection: [0] + (suborder.os_lens_modality..12).step(suborder.os_lens_modality).to_a,:selected => suborder.os_interval,:input_html => {class: "lens_total_calc",data: {:suborder =>f.object.id}}
        -else
          %tbody{ class: 'lens_manual_change', :data => {:suborder => suborder.id.to_s}}
            %tr
              %td.text-center{:colspan => 11}
                %i.fa.fa-edit
                %em Prescription not completed yet!