- od_type =LensTypesPrice.find_by(id: lens.object.od_lens_types_price_id).try(:lens_type)
- os_type =LensTypesPrice.find_by(id: lens.object.os_lens_types_price_id).try(:lens_type)
.col-md-12{ :class => 'lens_options' }
  .row
    .col-md-1.form-inline.text-center
      %h3 OD
    .col-md-5
      = lens.input :od_type, label: 'Type',input_html: {class: "contact-lens-type",data: {eyetp: "od"}}
      = lens.input :od_lens_types_price_id, as: :hidden
  .row.od_details{ :class => lens.object.is_empty? ? 'hidden' : '' }
    .od_type_fields
      .col-md-2
        = lens.input :od_sphere, label: 'SPHERE',collection: AppConstant::SPHERE
      .col-md-2{:class => "#{filter_lens_fields(od_type, 'cylinder')}"}
        = lens.input :od_cylinder, label: 'CYLINDER',collection: AppConstant::CYLINDER
      .col-md-2{ :class => "#{filter_lens_fields(od_type, 'axis')}"}
        = lens.input :od_axis, label: 'AXIS',collection: AppConstant::AXIS
      .col-md-2{:class => "#{filter_lens_fields(od_type, 'add')}"}
        = lens.input :od_add, label: 'Add',collection: AppConstant::ADD
      .col-md-2
        = lens.input :od_base_curve, label: 'BC',collection: AppConstant::BASECURVE
      .col-md-2
        = lens.input :od_diameter, label: 'Dia',collection: AppConstant::DIAMETER
  .row.od_details.hide
    .col-md-3
      = f.input :od_qnt, label: 'Quantity', collection: 0..(lens.object.try(:od_lens_type_price).try(:modality).present? ? 12/lens.object.try(:od_lens_type_price).try(:modality) : 12),:input_html => {class: "od_lens_qnt lens_total_calc",data: {:suborder =>f.object.id}}
    .col-md-4
      .form-group
        %label Price
        .input-icon
          %i.fa.fa-dollar
          = f.input :od_price,label: false,as: :string,readonly: true,:wrapper => false,:input_html => {value: (number_with_precision(f.object.od_price, :precision => 2))}
    .col-md-4
      .form-group
        %label Adjusted Price
        .input-icon
          %i.fa.fa-dollar
          = f.input :od_patient_pays,label: false,as: :string,:input_html => {value: (number_with_precision(f.object.od_patient_pays.present? ? f.object.od_patient_pays : f.object.od_price, :precision => 2)) , class: "lens_total_calc price_inp",data: {:suborder =>f.object.id}},:wrapper => false
  .row
    .col-md-1.form-inline.text-center
      %h3 OS
    .col-md-5
      = lens.input :os_type, label: 'Type',input_html: {class: "contact-lens-type",data: {eyetp: "os"}}
      = lens.input :os_lens_types_price_id, as: :hidden
  .row.os_details{ :class => lens.object.is_empty? ? 'hidden' : '' }
    .os_type_fields
      .col-md-2
        = lens.input :os_sphere, label: "SPHERE",collection: AppConstant::SPHERE
      .col-md-2{:class => "#{filter_lens_fields(os_type, 'cylinder')}"}
        = lens.input :os_cylinder, label: "CYLINDER",collection: AppConstant::CYLINDER
      .col-md-2{ :class => "#{filter_lens_fields(os_type, 'axis')}"}
        = lens.input :os_axis, label: "AXIS",collection: AppConstant::AXIS
      .col-md-2{:class => "#{filter_lens_fields(os_type, 'add')}"}
        = lens.input :os_add, label: "ADD",collection: AppConstant::ADD
      .col-md-2
        = lens.input :os_base_curve, label: "BC",collection: AppConstant::BASECURVE
      .col-md-2
        = lens.input :os_diameter, label: "Dia",collection: AppConstant::DIAMETER
  .row.os_details.hide
    .col-md-3
      = f.input :os_qnt, label: "Quantity", collection: 0..( lens.object.try(:os_lens_type_price).try(:modality).present? ? 12/lens.object.try(:os_lens_type_price).try(:modality) : 12),:input_html => {class: "os_lens_qnt lens_total_calc",data: {:suborder =>f.object.id}}
    .col-md-4
      .form-group
        %label Price
        .input-icon
          %i.fa.fa-dollar
          = f.input :os_price,label: false,as: :string,readonly: true,:wrapper => false,:input_html => {value: (number_with_precision(f.object.os_price, :precision => 2))}
    .col-md-4
      .form-group
        %label Adjusted Price
        .input-icon
          %i.fa.fa-dollar
          = f.input :os_patient_pays,label: false,as: :string,:input_html => {value: (number_with_precision(f.object.os_patient_pays.present? ? f.object.os_patient_pays : f.object.os_price, :precision => 2)) , class: "lens_total_calc price_inp",data: {:suborder =>f.object.id}},:wrapper => false
          = f.input :lens_prescription_id,as: :hidden
          = f.input :id, as: :hidden
