.row
  - if object.present?
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th.hidden-480
          %th.hidden-480
          %th.hidden-480
            TYPE
          %th.hidden-480
            SPHERE
          %th.hidden-480
            CYLINDER
          %th.hidden-480
            AXIS
          %th.hidden-480
            ADD
          %th.hidden-480
            Price
      %tbody
        - object.each_with_index do |ord,index|
          - od_type = LensTypesPrice.find_by(id: ord['od_lens_types_price_id']).lens_type
          - os_type = LensTypesPrice.find_by(id: ord['os_lens_types_price_id']).lens_type
          .col-md-12
            %tr
              %th
                #{index+1}.
              %th
                OD
              %td
                = ord['od_type'] 
              %td
                = ord['od_sphere']
              %td.hidden-480
                = filter_lens_fields(od_type, 'cylinder') == "hidden" ? " " : ord['od_cylinder']
              %td.hidden-480
                = filter_lens_fields(od_type, 'axis') == "hidden" ? " " : ord['od_axis']
              %td.hidden-480
                = filter_lens_fields(od_type, 'add') == "hidden" ? " " : ord['od_add']
              / %td.hidden-480
              /   %button{:href => "#",:class => "select_lens_prescp_option btn btn-primary pull-right" ,:data => {:dismiss => 'modal',:form_prescp => form_id,:selected => ord }} Import
              %td.hidden-480
                =LensTypesPrice.find(ord['od_lens_types_price_id']).price
          .col-md-12
            %tr
              %th
              %th
                OS
              %td
                = ord['os_type']
              %td
                = ord['os_sphere']
              %td.hidden-480
                = filter_lens_fields(os_type, 'cylinder') == "hidden" ? " " : ord['os_cylinder']
              %td.hidden-480
                = filter_lens_fields(os_type, 'axis') == "hidden" ? " " : ord['os_axis']
              %td.hidden-480
                = filter_lens_fields(os_type, 'add') == "hidden" ? " " : ord['os_add']
              %td.hidden-480  
                = LensTypesPrice.find(ord['os_lens_types_price_id']).price
              %td.hidden-480
                %button{:href => "#",:class => "select_lens_prescp_option btn btn-primary pull-right" ,:data => {:dismiss => 'modal',:form_prescp => form_id,:selected => ord }} Import   

  - else
    .col-md-8.text-center
      %i.fa.fa-search
      %em No prescription found
:javascript
  $(document).on('click','.select_lens_prescp_option',function(){
    var form = $('#'+$(this).data('form-prescp'));
    var od_type = form.find('#contact_lens_order_lenses_attributes_0_od_type').val($(this).data('selected-od-type'));

    form.find('#contact_lens_order_lenses_attributes_0_od_sphere').val($(this).data('selected-od-sphere'));
    
    form.find('#contact_lens_order_lenses_attributes_0_od_cylinder').val($(this).data('selected-od-cylinder'));
    
    form.find('#contact_lens_order_lenses_attributes_0_od_axis').val($(this).data('selected-od-axis'));
    
    form.find('#contact_lens_order_lenses_attributes_0_od_add').val($(this).data('selected-od-add'));
    
    form.find('#contact_lens_order_lenses_attributes_0_od_base_curve').val($(this).data('selected-od-base-curve'));
    
    form.find('#contact_lens_order_lenses_attributes_0_od_diameter').val($(this).data('selected-od-diameter'));
    
    var os_type = form.find('#contact_lens_order_lenses_attributes_0_os_type').val($(this).data('selected-os-type'));
    
    form.find('#contact_lens_order_lenses_attributes_0_os_sphere').val($(this).data('selected-os-sphere'));
    
    form.find('#contact_lens_order_lenses_attributes_0_os_cylinder').val($(this).data('selected-os-cylinder'));
    
    form.find('#contact_lens_order_lenses_attributes_0_os_axis').val($(this).data('selected-os-axis'));

    form.find('#contact_lens_order_lenses_attributes_0_os_add').val($(this).data('selected-os-add'));
    
    form.find('#contact_lens_order_lenses_attributes_0_os_base_curve').val($(this).data('selected-os-base-curve'));
    
    form.find('#contact_lens_order_lenses_attributes_0_os_diameter').val($(this).data('selected-os-diameter'));
    
    form.find('#contact_lens_order_lens_prescription_id').val($(this).data('selected-lens-prescription-id'));
    
    if(!isNaN($(this).data('selected-finalize'))){
      form.find('#contact_lens_order_lenses_attributes_0_finalize').val('true');
    }
    od_type.data("ui-autocomplete")._trigger("change");
    os_type.data("ui-autocomplete")._trigger("change");
    $('#lens_edit_manual_change_'+$(this).data('form-prescp').match(/\d+/)[0]+",#contacts_prescription_manual_change_"+$(this).data('form-prescp').match(/\d+/)[0]+",#lens_save_manual_change_"+$(this).data('form-prescp').match(/\d+/)[0]);

    form.submit();
  });
