= f.simple_fields_for :contact_lens_orders,@order.contact_lens_orders do |lens_order|
  = render 'doctor/orders/order_partial/contact_lens_order/contact_lens_order_fields',:f => lens_order,:sherlock => lens_order.options[:child_index]
.pull-right
  = link_to_add_association "<i class='fa fa-plus'></i>&nbsp;Add new".html_safe, f, :contact_lens_orders,:partial => 'doctor/orders/order_partial/contact_lens_order/contact_lens_order_fields',:render_options => {:locals => {:sherlock => Time.now.to_i }},:class => "btn btn-success lens-tools tooltip-set","data-original-title" => "click to add more lens orders", "data-placement" => "right", "data-toggle" => "tooltip"