#tab_3-1.tab-pane.active.contact_edit_form
  = form_for @contact,  remote: true, authenticity_token: true do |f|  
    .form-group.col-md-6
      %label.control-label 
        Company Name
        %span.required
          *
      = f.text_field :company_name, class:"form-control", required: true
    .form-group.col-md-6
      %label.control-label Email
      = f.text_field :email, class:"form-control"
      =# f.hidden_field :type, class:"form-control", :value=>"Doctor"
    .form-group.col-md-6
      %label.control-label Account Number
      = f.text_field :account_number, class:"form-control"
    .form-group.col-md-6
      %label.control-label 
        Phone Number
      = text_field_tag "phone_number", @contact.phone_number, class:"form-control tel-input", placeholder: "eg: (305) 877-2026"
    = f.simple_fields_for :contact_address do |contact_addr_f|
      .form-group.col-sm-6
        %label.control-label Address
        = contact_addr_f.text_field :address1, class:"form-control"
      .form-group.col-sm-6
        %label.control-label Fax
        = f.text_field :fax, class:"form-control"
      .form-group.col-sm-6
        %label.control-label Country
        = contact_addr_f.country_select :country_id,  {priority: %w(US CA)}, class: 'form-control country_select ', :"data-target"=> "#contact_address_state_#{@contact.id}"
      .form-group.col-sm-6
        %label.control-label State
        %div{id: "contact_address_state_#{@contact.id}"}
          - country_code  = contact_addr_f.object.country_id.present? ? contact_addr_f.object.country_id : "US" 
          - if Carmen::Country.coded(country_code).try(:subregions).present?
            = contact_addr_f.subregion_select(:state_id, country_code, {}, { :class => 'form-control' } )
      .form-group.col-sm-6
        %label.control-label City
        = contact_addr_f.text_field :city ,class:"form-control"
      .form-group.col-sm-6
        %label.control-label Zip Code
        = contact_addr_f.text_field :postal_code, class:"form-control"
    .form-group.col-md-6
      %label.control-label Website
      = f.text_field :website, class:"form-control" 
    .form-group.col-md-6
      %label.control-label Select Store  
      = f.select :store_id, options_from_collection_for_select(current_organisation.stores, "id", "description", @contact.store_id), {}, class:"form-control" 
    .form-group.col-md-6
      %label.control-label Upload Logo 
      = f.file_field(:profile_image, class: "form-control")
    .form-group.col-md-6
      %label.control-label 
        Comments
      = f.text_field :comments, class:"form-control"   
    .col-md-12            
      = link_to "Delete", "#contact_delete_alert#{@contact.id}", :"data-toggle"=> "modal", class: "btn btn-danger btn-right "
      = link_to "<button class=\"edit_contact_btn btn btn-success\" type=\"button\">Edit</button>".html_safe, "#", class: "edit_contact btn-right"
      = f.submit "Save", class: "btn save_contact_btn green btn-right"

    %div.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1", id: "contact_delete_alert#{@contact.id}"}
      .modal-dialog.modal-full
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4.modal-title Confirmation
          .modal-body
            Are you sure you want to delete this contact?
          .modal-footer
            %button.btn.default{"data-dismiss" => "modal", :type => "button"} Cancel
            = link_to "Yes", contact_path(@contact.id), method: :delete, remote: true, class: "btn green" 
    /end store delete alert 
    

:javascript
  $( ".contact_edit_form input").attr("disabled","disabled");
  $(".save_contact_btn").hide();
  $(document).on('click','.edit_contact',function(){
    $( ".contact_edit_form input").removeAttr("disabled");
    $( ".contact_edit_form select").removeAttr("disabled");
    $(".save_contact_btn").show();
    $(".edit_contact_btn").hide();
  })   