.row.profile
  .tabbable.tabbable-custom.tabbable-full-width
    .tab-content
      #tab_1_1.tab-pane.active
        .tab-content
          .row.profiles
            .col-md-12
              .portlet.box.blue-madison
                .portlet-title
                  .caption
                    %i.fa.fa-plus-square>
                    Contact List
                  .actions
                    = link_to "Add New", new_contact_path, class: "contact_new_btn btn btn-sm btn-danger pull-right", remote: true
            .col-sm-12
              = form_tag contacts_path, remote: true, :method => 'get'  do 
                = text_field_tag :search, params[:search]
                = submit_tag "Search",  class: "btn btn-success btn-xs", :name => nil
              %br                
            .row.profile-account
              .col-md-3
                %ul.ver-inline-menu.tabbable.margin-bottom-10.contact_tabs
                  - @contacts.each do |contact|
                    .col-md-12
                      %li.contact
                        %span
                        -if contact.profile_image.present?
                          = link_to edit_contact_path(contact),  onclick: " $('.contact').removeClass('active'); $(this).parent().addClass('active')", remote: true do
                            %img{:src => contact.profile_image.url, :style => "height: 50px; width:50px;"}/
                            = contact.company_name
                        -else
                          = link_to edit_contact_path(contact), onclick: " $('.contact').removeClass('active'); $(this).parent().addClass('active')", remote: true do
                            %span.circle
                              %span.initials
                                = contact.company_name.first(2).upcase
                            = contact.company_name
                                   
              .col-md-9
                .tab-content
                  #contact_edit_form
                    -if @contacts.present?
                      = render :partial => 'contact_form'
                    -else
                      %h1.text-center
                        No Contact Found


/Start modal box for store edit
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id=>"contact_new_modal"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#myModalLabel.modal-title
          %span#store_logo_image 
          %span#store_heading Contact Detail
      #contact_new_form.modal-body
/end of family store modal box

:css
  .modal-content{
    position: absolute;
  }
  .circle{
    text-align: center;
  }
  .initials {
    position: relative;
    font-size: 35px; /* 50% of parent */
    line-height: 50px; /* 50% of parent */
    color: #333333;
    font-family: "Courier New", monospace;
    font-weight: bold;
   
  }
:javascript
  $("ul.contact_tabs li:first").addClass("active")  
