#tab_3-1.tab-pane.active
  = form_for @contact, remote:true, authenticity_token: true do |f|  
    .form-group.col-md-6
      %label.control-label 
        Company Name
        %span.required
          *
      = f.text_field :company_name, class:"form-control", required: true
    .form-group.col-md-6
      %label.control-label Email
      = f.text_field :email, class:"form-control"
      =# f.hidden_field :type, class:"form-control", :value=>"Doctor"
    .form-group.col-md-6
      %label.control-label Account Number
      = f.text_field :account_number, class:"form-control"
    .form-group.col-md-6
      %label.control-label 
        Phone Number
      = text_field_tag  "phone_number", @contact.phone_number, class:"form-control tel-input", placeholder: "eg: (305) 877-2026"
    = f.simple_fields_for :contact_address do |contact_addr_f|
      .form-group.col-sm-6
        %label.control-label Address
        = contact_addr_f.text_field :address1, class:"form-control"
      .form-group.col-sm-6
        %label.control-label Fax
        = f.text_field :fax, class:"form-control"
      .form-group.col-sm-6
        %label.control-label Country
        = contact_addr_f.country_select :country_id,  {priority: %w(US CA)}, class: 'form-control country_select ', :"data-target"=> "#office_address_state_#{@contact.id}"
      .form-group.col-sm-6
        %label.control-label State
        %div{id: "office_address_state_#{@contact.id}"}
          - country_code  = contact_addr_f.object.country_id.present? ? contact_addr_f.object.country_id : "US" 
          - if Carmen::Country.coded(country_code).try(:subregions).present?
            = contact_addr_f.subregion_select(:state_id, country_code, {}, { :class => 'form-control' } )
      .form-group.col-sm-6
        %label.control-label City
        = contact_addr_f.text_field :city ,class:"form-control"
      .form-group.col-sm-6
        %label.control-label Zip Code
        = contact_addr_f.text_field :postal_code, class:"form-control"
    .form-group.col-md-6
      %label.control-label Website
      = f.text_field :website, class:"form-control"
    .form-group.col-md-6
      %label.control-label Select Store  
      = f.select :store_id, options_from_collection_for_select(current_organisation.stores, "id", "description", @contact.store_id), {}, class:"form-control"  
    .form-group.col-md-6
      %label.control-label Upload Logo 
      = f.file_field(:profile_image, class: "form-control")   
    .form-group.col-md-6
      %label.control-label 
        Comments
      = f.text_field :comments, class:"form-control"           
    =# link_to "<button class=\"edit_contact_btn btn btn-success\" type=\"button\">Edit</button>".html_safe, "#", class: "edit_contact btn-right"
    = f.submit "Save", class: "btn save_contact_btn btn-sm green btn-right"

 