.tab-content
  .row.profiles
    .row.profile-account
      .col-md-3
        %ul.ver-inline-menu.tabbable.margin-bottom-10
          - @contacts.each do |contact|
            %li.contact
              %i.fa.fa-cog
                %span
                  = link_to "#{contact.company_name}", "/contacts/#{contact.id}/edit",  remote:true
              %span.after
      .col-md-9
        .tab-content
          #contact_edit_form      