.login 
  .content
    / BEGIN LOGIN FORM
    // here session_path(resource_name) was not working due to subdomain-fu
    %img.img-responsive.center-block.form-group{:alt => "", :src => current_organisation.present? ?current_organisation.avatar.url(:thumb) : "/images/Eyetrust_Vision_Logo.png"}/
    %ul.nav.nav-tabs
      %li.active
        %a#doc_login{"data-toggle" => "tab", :href => "#doctor_login"} Doctor
      %li
        %a{"data-toggle" => "tab", :href => "#patient_login"} Patient
    .tab-content
      #doctor_login.tab-pane.active
        = form_for(resource, :as => :doctor, :url => session_path(:doctor)) do |f|

          %h3.form-title

            = "Login to Doctor account"
          .alert.alert-danger.display-hide
            %button.close{"data-close" => "alert"}
            %span
              Enter any username and password.
          .form-group
            / ie8, ie9 does not support html5 placeholder, so we just show field title for that
            %label.control-label.visible-ie8.visible-ie9 Username
            .input-icon
              %i.fa.fa-user
              = f.email_field :email, placeholder: "Email", autofocus: true, label: false, class: "placeholder-no-fix form-control"
          .form-group
            %label.control-label.visible-ie8.visible-ie9 Password
            .input-icon
              %i.fa.fa-lock
              = f.password_field :password, placeholder: "Password" , :class => "col-sm-2 control-label", class: "placeholder-no-fix form-control"
          .form-actions
            .checkbox
              %label
                %span
                  - if devise_mapping.rememberable?
                    = f.check_box :remember_me, as: :boolean
                    Remember me



            %button.btn.green-meadow.btn-right{:type => "submit"}
              Login
              %i.icon-arrow-right

          .forget-password
            %h4 Forgot your password ?
            %p
              no worries, click
              = link_to "here", new_doctor_password_path
              to reset your password.
      #patient_login.tab-pane.fade
        = form_for(resource, :as => :patient, :url => session_path(:patient)) do |f|

          %h3.form-title

            = "Login to Patient account"
          .alert.alert-danger.display-hide
            %button.close{"data-close" => "alert"}
            %span
              Enter any username and password.
          .form-group
            / ie8, ie9 does not support html5 placeholder, so we just show field title for that
            %label.control-label.visible-ie8.visible-ie9 Username
            .input-icon
              %i.fa.fa-user
              = f.email_field :email, placeholder: "Email", autofocus: true, label: false, class: "placeholder-no-fix form-control"
          .form-group
            %label.control-label.visible-ie8.visible-ie9 Password
            .input-icon
              %i.fa.fa-lock
              = f.password_field :password, placeholder: "Password" , :class => "col-sm-2 control-label", class: "placeholder-no-fix form-control"
          .form-actions
            .checkbox
              %label
                %span
                  - if devise_mapping.rememberable?
                    = f.check_box :remember_me, as: :boolean
                    Remember me



            %button.btn.green-meadow.btn-right{:type => "submit"}
              Login
              %i.icon-arrow-right

          .forget-password
            %h4 Forgot your password ?
            %p
              no worries, click
              = link_to "here", new_patient_password_path
              to reset your password.
          .create-account
            %p
              
              Don't have an account yet ?&nbsp;
              = link_to "Create an account", new_pat_registration_path
      
    / END LOGIN
:css
  a.google_login:hover{
    border: 5px solid #1bbc9b !important;
    padding: 10px 10px !important;
  }
  .nav-tabs > li.active > a{
    background-color : #17CBB2 !important;
    color: white !important;
  }