.page-container{:style => "margin-top: 0px;"}
  .page-content{:style => "background-image: url() !important;min-height: 379px !important;"}
    = form_for :update_checklist, url: update_checklist_order_path(@order),  remote: true,html: { :class =>"checklist_update"} do|f|
      .items
        - if @order.contact_lens_orders.any?
          - @order.contact_lens_orders.each_with_index do |lens_order,index|
            %input{:name => "order[contact_lens_orders_attributes][#{index}][id]",:id => "order[contact_lens_orders_attributes][#{index}][id]", :type => "hidden",:value => lens_order.id}
            = hidden_field_tag "order[contact_lens_orders_attributes][#{index}][order_checkmark]", 'false'
            %input.checkmark.parent_item.lens_order_checkmark{:name => "order[contact_lens_orders_attributes][#{index}][order_checkmark]",:id => "contact_lens_orders_#{index}_order_checkmark", :type => "checkbox","data-val"=>"true" ,:value => "true",:checked => lens_order.order_checkmark}
            %label.checkmark.parent_item.lens_order_checkmark.control-label{:for => "contact_lens_orders_#{index}_order_checkmark"}
              %h4 Contact Lens Order ##{index+1}
              = hidden_field_tag "order[contact_lens_orders_attributes][#{index}][od_checkmark]", 'false'
              %input.checkmark.subitem.od_checkmark{"data-title" => "lens prescription OD", :name => "order[contact_lens_orders_attributes][#{index}][od_checkmark]",:id => "order_contact_lens_orders_#{index}_od_checkmark", :type => "checkbox","data-val"=>"true" ,:value => "true",:checked => lens_order.od_checkmark}
              %label.checkmark.subitem.control-label{:for => "order_contact_lens_orders_#{index}_od_checkmark"}
                = "OD"
                - if lens_order.lenses.first.present?
                  = lens_order.lenses.first.try(:od_type)
                  = lens_order.lenses.first.try(:od_base_curve)
                  = lens_order.lenses.first.try(:od_diameter)
                  = lens_order.lenses.first.try(:od_sphere)
                  = lens_order.lenses.first.try(:od_cylinder)
                  = lens_order.lenses.first.try(:od_axis)
                  = lens_order.lenses.first.try(:od_add)
                  %input.od_qnt{:name => "order[contact_lens_orders_attributes][#{index}][od_qnt]",:id => "order_contact_lens_orders_attributes_#{index}_od_qnt", :type => "hidden",:value => lens_order.try(:od_qnt)}
                  = lens_order.try(:od_qnt)
              = hidden_field_tag "order[contact_lens_orders_attributes][#{index}][os_checkmark]", 'false'
              %input.checkmark.subitem.os_checkmark{"data-title" => "lens prescription OS", :name => "order[contact_lens_orders_attributes][#{index}][os_checkmark]",:id => "order_contact_lens_orders_#{index}_os_checkmark", :type => "checkbox","data-val"=>"true" ,:value => "true",:checked => lens_order.os_checkmark}
              %label.checkmark.subitem.control-label{:for => "order_contact_lens_orders_#{index}_os_checkmark"}
                = "OS"
                - if lens_order.lenses.first.present?
                  = lens_order.lenses.first.try(:os_type)
                  = lens_order.lenses.first.try(:os_base_curve)
                  = lens_order.lenses.first.try(:os_diameter)
                  = lens_order.lenses.first.try(:os_sphere)
                  = lens_order.lenses.first.try(:os_cylinder)
                  = lens_order.lenses.first.try(:os_axis)
                  = lens_order.lenses.first.try(:os_add)
                  %input.od_qnt{:name => "order[contact_lens_orders_attributes][#{index}][os_qnt]",:id => "order_contact_lens_orders_attributes_#{index}_os_qnt", :type => "hidden",:value => lens_order.try(:os_qnt)}
                  = lens_order.try(:os_qnt)
        - if @order.eye_glass_orders.any?
          - @order.eye_glass_orders.each_with_index do |glass_order,index|
            %input{:name => "order[eye_glass_orders_attributes][#{index}][id]",:id => "order[eye_glass_orders_attributes][#{index}][id]", :type => "hidden",:value => glass_order.id}
            = hidden_field_tag "order[eye_glass_orders_attributes][#{index}][order_checkmark]", 'false'
            %input.checkmark.parent_item.glass_order_checkmark{:name => "order[eye_glass_orders_attributes][#{index}][order_checkmark]",:id => "eye_glass_orders_#{index}_order_checkmark", :type => "checkbox","data-val"=>"true" ,:value => "true",:checked => glass_order.order_checkmark}
            %label.checkmark.parent_item.glass_order_checkmark.control-label{:for => "eye_glass_orders_#{index}_order_checkmark"}
              %h4
                Eye Glass Order ##{index+1}
              - if glass_order.glasses.first.present?
                = hidden_field_tag "order[eye_glass_orders_attributes][#{index}][od_checkmark]", 'false'
                %input.checkmark.subitem.od_checkmark{"data-title" => "glass prescription OD", :name => "order[eye_glass_orders_attributes][#{index}][od_checkmark]",:id => "order_eye_glass_orders_#{index}_od_checkmark", :type => "checkbox","data-val"=>"true" , :value => "true",:checked => glass_order.od_checkmark}
                %label.checkmark.subitem.od_checkmark.control-label{:for => "order_eye_glass_orders_#{index}_od_checkmark"}
                  = "OD"
                  = glass_order.glasses.first.try(:glasses_type)
                  = glass_order.glasses.first.try(:od_base_curve)
                  = glass_order.glasses.first.try(:od_segment_height)
                  = glass_order.glasses.first.try(:od_prism)
                  = glass_order.glasses.first.try(:od_sphere)
                  = glass_order.glasses.first.try(:od_cylinder)
                  = glass_order.glasses.first.try(:od_axis)
                  = glass_order.glasses.first.try(:od_add)
                = hidden_field_tag "order[eye_glass_orders_attributes][#{index}][os_checkmark]", 'false'
                %input.checkmark.subitem{"data-title" => "glass prescription OS", :name => "order[eye_glass_orders_attributes][#{index}][os_checkmark]",:id => "order_eye_glass_orders_#{index}_os_checkmark", :type => "checkbox","data-val"=>"true" ,:value => "true",:checked => glass_order.os_checkmark}
                %label.checkmark.subitem.control-label{:for => "order_eye_glass_orders_#{index}_os_checkmark"}
                  = "OS"
                  = glass_order.glasses.first.try(:glasses_type)
                  = glass_order.glasses.first.try(:os_base_curve)
                  = glass_order.glasses.first.try(:os_segment_height)
                  = glass_order.glasses.first.try(:os_prism)
                  = glass_order.glasses.first.try(:os_sphere)
                  = glass_order.glasses.first.try(:os_cylinder)
                  = glass_order.glasses.first.try(:os_axis)
                  = glass_order.glasses.first.try(:os_add)
              - if glass_order.lens_material.present?
                %label.lens_info
                  %strong
                    %u Lens Information
                = hidden_field_tag "order[eye_glass_orders_attributes][#{index}][lens_material_checkmark]", 'false'
                %input.checkmark.subitem.lens_material_checkmark{"data-title" => "Lens Material", :name => "order[eye_glass_orders_attributes][#{index}][lens_material_checkmark]",:id => "eye_glass_orders_#{index}_lens_material_checkmark", :type => "checkbox","data-val"=>"true" ,:value => "true",:checked => glass_order.lens_material_checkmark}
                %label.checkmark.subitem.control-label{:for => "eye_glass_orders_#{index}_lens_material_checkmark"}
                  Material:
                  = glass_order.lens_material.try(:name)
              - if glass_order.eyeglass_types_price.present?
                = hidden_field_tag "order[eye_glass_orders_attributes][#{index}][eye_glass_type_checkmark]", 'false'
                %input.checkmark.subitem.eye_glass_type_checkmark{"data-title" => "Lens Type", :name => "order[eye_glass_orders_attributes][#{index}][eye_glass_type_checkmark]",:id => "eye_glass_orders_#{index}_eye_glass_type_checkmark", :type => "checkbox","data-val"=>"true" ,:value => "true",:checked => glass_order.eye_glass_type_checkmark}
                %label.checkmark.subitem.control-label{:for => "eye_glass_orders_#{index}_eye_glass_type_checkmark"}
                  Type:
                  = glass_order.eyeglass_types_price.try(:glasstype)
              - if glass_order.addon_details.present?
                - glass_order.addon_details.each_with_index do |addon_detail,indx|
                  %input{:name => "order[eye_glass_orders_attributes][#{index}][addon_details_attributes][#{indx}][id]",:id => "order_eye_glass_orders_attributes_#{index}_addon_details_attributes_#{indx}_id", :type => "hidden",:value => addon_detail.id}
                  = hidden_field_tag "order[eye_glass_orders_attributes][#{index}][addon_details_attributes][#{indx}][checkmark]", 'false'
                  %input.checkmark.subitem.addon_checkmark{"data-title" => "Addons", :name => "order[eye_glass_orders_attributes][#{index}][addon_details_attributes][#{indx}][checkmark]",:id => "order_eye_glass_orders_#{index}_addon_details_#{indx}_checkmark", :type => "checkbox","data-val"=>"true" ,:value => "true",:checked => addon_detail.checkmark}
                  %label.checkmark.subitem.control-label{:for => "order_eye_glass_orders_#{index}_addon_details_#{indx}_checkmark"}
                    #{indx+1}. Addon#{addon_detail.try(:color)}:
                    = addon_detail.glass_addons_price.try(:addon) if addon_detail.glass_addons_price.present?
              - if glass_order.glass_frames_price.present?
                = hidden_field_tag "order[eye_glass_orders_attributes][#{index}][frame_checkmark]", 'false'
                %input.checkmark.subitem.frame_checkmark{"data-title" => "Frame Information", :name => "order[eye_glass_orders_attributes][#{index}][frame_checkmark]",:id => "eye_glass_orders_#{index}_frame_checkmark", :type => "checkbox","data-val"=>"true", :value => "true",:checked => glass_order.frame_checkmark}
                %label.checkmark.subitem{:for => "eye_glass_orders_#{index}_frame_checkmark"}
                  %strong
                    %u Frame Information
                    %small
                      = glass_order.glass_frames_price.try(:frame)
                  %br
                  %span
                    Model:
                    = glass_order.try(:model)
                  %span
                    Material:
                    = glass_order.try(:material)
                  %span
                    B:
                    = glass_order.try(:glass_b)
                  %span
                    Eye Size:
                    = glass_order.try(:model)
                  %br
                  %span
                    Bridge:
                    = glass_order.try(:bridge)
                  %span
                    ED:
                    = glass_order.try(:glass_ed)
                  %span
                    Temple:
                    = glass_order.try(:temple)
                  %span
                    Color:
                    = glass_order.try(:color)
              %label.subitem.col-md-4{:for => "order.eye_glass_orders_#{index}_comments"} Comments
              %textarea.subitem.col-md-4.comments{"data-title" => "eye glass order comments", :name => "order[eye_glass_orders_attributes][#{index}][comments]",:id => "order_eye_glass_orders_#{index}_comments",:rows => 4, :value => glass_order.comments}
        %h2.done{"aria-hidden"=>"true"} Instock
        %h2.undone{ "aria-hidden" =>"true"} Needs to be order
:javascript
  $('.parent_item').on('change',function(){
    parent_element = $(this);
    $(this).next().find('input.checkmark').each(function(){
      if(parent_element.is(':checked'))
        $(this).prop('checked',true);
      else
        $(this).prop('checked',false);
    });
    
  });
  $(".parent_item .subitem").on('change',function(e) {
    e.stopPropagation();
  });
