.row
	.col-md-6
		.row Account Change your basic account information
		.row
			= simple_form_for @patient, url: settings_path(), method: :put  do |f|
				=  f.input :email
				=  f.time_zone_select :time_zone 
				= f.country_select :country_code, priority: %w(US CA), prompt: 'Please select a country'
				.field
					= render partial: 'subregion_select', locals: {parent_region: f.object.country_code}
				= submit_tag "Save", class: "btn btn-primary pull-right btn-sm"

	.col-md-6
.row
	.col-md-6
	.col-md-6
:javascript
	$('select#patient_country_code').change(function(){
		select_wrapper = $('#order_state_code_wrapper');
		$('select', select_wrapper).attr('disabled', true);
		country_code = $(this).val();
		url = "/settings/subregion_options?parent_region=" + country_code;
		select_wrapper.load(url);
	})