= form_tag update_records_settings_path, method: :post do
  = hidden_field_tag 'form_type', 'contact_lens'
  -@lenses.each do |lens|
    .row.object.contact_lens_update{style: "border-style: groove;"}
      = simple_fields_for "lenses[]", lens do |f|
        .col-md-12.form-group
          %label Brand Name
          = f.input :brand_name, label: false
        .col-md-4.form-group
          %label Box Lasts
          =f.input :modality, label: false, as: :select ,collection: [ ['1 month', '1'], ['3 months', '3'] , ['6 months', '6'] , ['12 months', '12'] ]
        .col-md-4.form-group
          %label Type
          = f.input :lens_type, label: false, as: :select ,collection: [ ['Sphere', 'sphere'], ['Toric', 'toric'] , ['Multifocal', 'multifocal'] ], input_html: {class: 'lens_type_selection'}
        .col-md-2.form-group
          %label Cost Of Good
          .input-icon
            %i.fa.fa-dollar
            = f.input :cost_of_good, label: false, wrapper: false, as: :string
        .col-md-2.form-group
          %label Unit Price
          .input-icon
            %i.fa.fa-dollar
            = f.input :price, label: false, wrapper: false, as: :string
        .col-md-12
        .col-md-2.form-group
          = f.input :base_curve, input_html: {class: 'form-control multi-select-base-curves'}
        .col-md-2.form-group
          = f.input :diameters, input_html: {class: 'form-control multi-select-diameters'}
        .col-md-2.form-group
          = f.input :sphere, input_html: {class: 'form-control multi-select-sphere', value: lens.sphere.present? ? lens.sphere : AppConstant::SPHERE.join(',')}
        .col-md-2.form-group{class: "#{(lens.lens_type == 'multifocal' || lens.lens_type == 'sphere') ? 'hidden' : '' }"}
          = f.input :cylinder, input_html: {class: 'form-control multi-select-cylinder', value: lens.cylinder.present? ? lens.cylinder : AppConstant::CYLINDER.join(',')}
        .col-md-2.form-group{class: "#{(lens.lens_type == 'multifocal' || lens.lens_type == 'sphere') ? 'hidden' : '' }"}
          =f.input :axis, input_html: {class: 'form-control multi-select-axis', value: lens.axis.present? ? lens.axis : AppConstant::AXIS.join(',')}
        .col-md-2.form-group{class: "#{(lens.lens_type == 'toric' || lens.lens_type == 'sphere') ? 'hidden' : '' }"}
          = f.input :add, input_html: {class: 'form-control multi-select-add', value: lens.add.present? ? lens.add : AppConstant::ADD.join(',')}
        
  .row.modal-footer
    = submit_tag :Save, class: "btn btn-primary"
:javascript  
  initializeTagMultiselect();
  $(document).on('change','.lens_type_selection',function(){
    value = $(this).val();
    if(value == "multifocal"){
      $(this).parent().parent().parent().find('.lenses_cylinder').parent().addClass('hidden');
      $(this).parent().parent().parent().find('.lenses_axis').parent().addClass('hidden');
      $(this).parent().parent().parent().find('.lenses_add').parent().removeClass('hidden');
    }
    else if(value == "sphere")
    {
      $(this).parent().parent().parent().find('.lenses_cylinder').parent().addClass('hidden');
      $(this).parent().parent().parent().find('.lenses_axis').parent().addClass('hidden');
      $(this).parent().parent().parent().find('.lenses_add').parent().addClass('hidden');
    }
    else if(value == "toric")
    {
      $(this).parent().parent().parent().find('.lenses_cylinder').parent().removeClass('hidden');
      $(this).parent().parent().parent().find('.lenses_axis').parent().removeClass('hidden');
      $(this).parent().parent().parent().find('.lenses_add').parent().addClass('hidden');
    }
    else
    {
      $(this).parent().parent().parent().find('.lenses_cylinder').parent().removeClass('hidden');
      $(this).parent().parent().parent().find('.lenses_axis').parent().removeClass('hidden');
      $(this).parent().parent().parent().find('.lenses_add').parent().removeClass('hidden');
    }
  })
