= form_tag update_records_settings_path, method: :post do
  = hidden_field_tag 'form_type', 'disease'
  
  .row.object
    - @diseases.each do |disease|
      = simple_fields_for "diseases[]", disease do |f|
        .col-md-6.form-group
          = f.input :name, label: false
        
  .row.modal-footer
    = submit_tag :Save, class: "btn btn-primary"
