= form_tag update_records_settings_path, method: :post do
  = hidden_field_tag 'form_type', 'cleaning_solution'
  .row
      
  .row.object
    - @exam_cleaning_solution.each do |solution|
      = simple_fields_for "solutions[]", solution do |f|
        .col-md-3.form-group
          = f.input :name        
        
  .row.modal-footer
    = submit_tag :Save, class: "btn btn-primary"