= form_tag update_records_settings_path, method: :post do
  = hidden_field_tag 'form_type', 'impression'
  .row
    .col-md-3
      Name
    .col-md-3
      Code
    .col-md-3
      Name
    .col-md-3
      Code
    
  .row.object
    - @impressions.each do |impression|
      = simple_fields_for "impressions[]", impression do |f|
        .col-md-3.form-group
          = f.input :name, label: false
        .col-md-3.form-group
          = f.input :code, label: false
        
        
  .row.modal-footer
    = submit_tag :Save, class: "btn btn-primary"
