= form_tag update_records_settings_path, method: :post do
  = hidden_field_tag 'form_type', 'procedure'
  .row
    .col-md-3
      Name
    .col-md-3
      Code
    .col-md-3
      Cost of Good
    .col-md-3
      Patient Pays
    
  .row.object
    - @procedures.each do |procedure|
      = simple_fields_for "procedures[]", procedure do |f|
        .col-md-3.form-group
          = f.input :name, label: false
        .col-md-3.form-group
          = f.input :code, label: false
        .col-md-3.form-group
          .input-icon
            %i.fa.fa-dollar
            = f.input :patient_pays, label: false,:input_html => { value: (number_with_precision(f.object.patient_pays, :precision => 2)) ,class: 'dollar_box'}
        .col-md-3.form-group
          .input-icon
            %i.fa.fa-dollar
            = f.input :price, label: false,:input_html => { value: (number_with_precision(f.object.price, :precision => 2)) ,class: 'dollar_box'}
        
        
  .row.modal-footer
    = submit_tag :Save, class: "btn btn-primary"
