= form_tag update_records_settings_path, method: :post do
  = hidden_field_tag 'form_type', 'recommendation'
  .row
      
  .row.object
    - @recommendations.each do |recommendation|
      = simple_fields_for "doctor_recommendations[]", recommendation do |f|
        .col-md-3.form-group
          = f.input :name        
        
  .row.modal-footer
    = submit_tag :Save, class: "btn btn-primary"
