#tab_1_1_1.tab-pane.active
  %button.btn.yellow.pull-right.add_p2d Add Patient
  .table-responsive
    %table#dispensetab.table.table-hover.table-condensed.table-bordered
      %thead
        %tr
          %th
            Name
          %th
            Latest Entry
          %th
            Actions
          %th.hidden
            id
      %tbody
        - to_be_dispensed.each do |order|
          - patient = order.joint_resource.member
          %tr
            %td
              -if patient.class.name == "FamilyMember"
                %a{:href => family_member_path(order.joint_resource.family_member)}
                  = patient.name
                  %br
                  %strong
                    Family member of
                    =order.joint_resource.patient.name
              -else
                %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id)}
                  = patient.name
            %td
              = order.updated_at.strftime("%m/%d/%Y at %I:%M%p")
            %td
              %ul.dropdown
                %li#actionsliststyle.btn-group
                  %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe clickable_dispense'}
                    Actions
                    %i.fa.fa-angle-down
                  %ul.dropdown-menu.pull-right
                    %li
                      %a{ :href => '#' ,:id => 'dispenselog' ,:data => { :name => patient.name, :order => order.id,:type => 'Order'} ,:class => 'dispense-log'}
                        %i.fa.fa-edit
                          Dispense Log
                          %span.badge-success #{order.dispense_logs.count}
                    %li
                      %a{ :href => '#' ,:id => 'removeconfirm' ,:data => {:id => order.id }, :class => 'remove-confirm'}
                        %i.fa.fa-trash-o
                          Remove
            %td.hidden
              = order.joint_resource.id
        - re_newed_dispensed.each do |re_newed_order|
          - if re_newed_order.joint_resource.present?
            - patient = re_newed_order.joint_resource.member  #hot fix
            %tr
              %td
                -if patient.class.name == "FamilyMember"
                  %a{:href => family_member_path(re_newed_order.joint_resource.family_member)}
                    = patient.name
                    %br
                    %strong
                      Family member of
                      =re_newed_order.joint_resource.patient.name
                -else
                  %a{:href => doctor_patient_profile_path(:patient_id => re_newed_order.joint_resource.patient.id)}
                    = patient.name
              %td
                = re_newed_order.updated_at.strftime("%m/%d/%Y at %I:%M%p")
                -if re_newed_order.order_subscription_id.present?
                  %span.pull-right.badge.badge-rounded.badge-info subscribed
                -else
                  %span.pull-right.badge.badge-rounded.badge-warning re-newed
              %td
                %ul.dropdown
                  %li#actionsliststyle.btn-group
                    %a.dropdown-toggle{ :href =>"#" ,"data-toggle" => "dropdown",class: 'btn btn-sm default yellow-stripe'}
                      Actions
                      %i.fa.fa-angle-down
                    %ul.dropdown-menu.pull-right
                      %li
                        %a{ :href => '#' ,:id => 'dispenselog' ,:data => { :name => patient.name, :order => re_newed_order.id ,:type => 'FavouriteOrder'} ,:class => 'dispense-log'}
                          %i.fa.fa-edit
                            Dispense Log
                            %span.badge-success #{re_newed_order.dispense_logs.count}
                      %li
                        %a{ :href => '#' ,:id => 'removeconfirm' ,:data => {:id => re_newed_order.id ,:renewed => 'order'}, :class => 'remove-confirm'}
                          %i.fa.fa-trash-o
                            Remove
              %td.hidden
                = re_newed_order.joint_resource.id
    %div#modalremoveconfirm.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalremoveconfirmLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
            %h4#modalremoveconfirmLabel.modal-title Confirmation
          .modal-body{:style => 'max-height: 100px;overflow-y: auto;'} 
            %span
              Are You sure you want to remove this log ?
          .modal-footer.bg-warning
            .row
              .col-md-12.pull-right
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} No
                %a{"data-method" => "delete", :href => "#", :rel => "nofollow",:id => "emailremoveid",:class => "btn btn-success"} Yes
    %div#mymodal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "mymodalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
            %h4#mymodalLabel.modal-title Patient Details
          .modal-body{:style => 'max-height: 420px;overflow-y: auto;'}
          .modal-footer
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close
    %div#dispensemodal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "dispensemodalLabel", "data-backdrop" => "static", "data-keyboard"=>"false", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
            %h4#dispensemodalLabel.modal-title
          .modal-body{:style => 'height: 400px;overflow-y: auto !important;'}
          .modal-footer
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close
%div#ymodal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "mymodalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
        %h4#mymodalLabel.modal-title Patient Search
      .modal-body{:style => 'max-height: 420px;overflow-y: auto;'}
        =render '/doctor/dashboards/dashboard_partial/to_to_ordered'
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close

:javascript
  $(function() {
    var oTable4 = $('#dispensetab').dataTable({
      "sPaginationType": "full_numbers",
      "bSort" : false,
      "fnDrawCallback":function(){
        if (Math.ceil((this.fnSettings().fnRecordsDisplay()) / this.fnSettings()._iDisplayLength) > 1) {
          $('.dataTables_paginate').css("display", "block");  
          $('.dataTables_length').css("display", "block");
          $('.dataTables_filter').css("display", "block");  
        } 
        else {
          $('.dataTables_paginate').css("display", "none");
          $('.dataTables_length').css("display", "none");
        }
      }
    });
    $(".pagination").on("click", 'a',function() {
    $(".pagination").html("Page is loading...");
    $.getScript(this.href);
    return false;
    });
  });
  $(document).on('click','.add_p2d',function(){
    $('#ymodal').modal('show');
  });
  var myFirebaseRef = new Firebase("https://#{ENV['FIREBASE_APP_URL']}");
  var formatted_date = "#{Date.today.strftime('%m/%d/%Y')}";
  managePatientsIndexPage(myFirebaseRef.child('manage_patients').ref(),formatted_date,myFirebaseRef.child('doctor_dashboard').ref());
  $('.dropdown-toggle').dropdown();

  $('#dispensetab').on('click', '.clickable_dispense', function(){
    $(this).parent().addClass("open");
  });

:css
  #dispensetab_filter{
    margin-top: -35px;
    margin-right: 110px;
  }