#tab_1_1_1.tab-pane.active
  %table#recentexams.table.table-hover.table-condensed.table-bordered
    %thead
      %tr
        %th Name
        %th Latest Entry
        %th Actions
    %tbody
      - recent_exams.each do |exam|
        -patient = exam.joint_resource.member
        %tr
          %td
            %a{:href => doctor_patient_profile_path(:patient_id => exam.joint_resource.patient.id)}
              = patient.name
          %td
            = exam.updated_at.strftime("%m/%d/%Y at %I %p")
          %td
            = link_to "<i class='fa fa-history'></i>&nbsp;Audits".html_safe, exam_audits_dashboard_path(exam), remote: true,data: {toggle: "modal", target: "#myexammodal"},class: "exam_audits_popup btn btn-sm default blue-stripe"
            = link_to "<i class='fa fa-openid'></i>&nbsp; Open exam".html_safe,edit_examination_path(exam),:target => '_blank',:class => 'btn btn-sm default blue-stripe'
  %div#myexammodal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myexammodalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
          %h4#myexammodalLabel.modal-title
            %i.fa.fa-history
            %span Examination Audits
        .modal-body{:style => 'max-height: 420px;overflow-y: auto;'}
        .modal-footer
          %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close