#tab_1_1_1.tab-pane.active
  .table-responsive
    %table#followups_tab.table.table-hover.table-condensed.table-bordered
      %thead
        %tr
          %th
            Name
          %th
            Days Remaining & Due Date
          %th
            Actions
          %th.hidden
            id
      %tbody
        - follow_ups.each do |order|
          - patient = order.joint_resource.member
          %tr{:id => 'follow_up_' + order.joint_resource_id.to_s}
            %td
              -if patient.class.name == "FamilyMember"
                %a{:href => family_member_path(order.joint_resource.family_member)}
                  = patient.name
              -else
                %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id)}
                  = patient.name
              - order_follow_up = patient.joint_resource.follow_ups.last
              -if order_follow_up.present?
                -if order_follow_up.is_followed?
                  -if order_follow_up.due_date > order_follow_up.updated_at
                    %i.fa.fa-flag{:style => "font-size:24px;color:green"}
                  -else
                    %i.fa.fa-flag{:style => "font-size:24px;color:blue"}
                -else
                  -if order_follow_up.due_date > Date.today
                    %i.fa.fa-flag{:style => "font-size:24px;color:yellow"}
                  -else
                    %i.fa.fa-flag{:style => "font-size:24px;color:red"}
            %td
              = order.updated_at.strftime("%m/%d/%Y at %I:%M%p")
            %td
              %ul.dropdown
                %li#actionsliststyle.btn-group
                  %a.dropdown-toggle{ :href => '#', 'data-toggle' => 'dropdown',:class => 'btn btn-sm default yellow-stripe'}
                    Actions
                    %i.fa.fa-angle-down
                  %ul.dropdown-menu.pull-right
                    %li
                      %a{ :href => '#' ,:class => 'follow_ups', :data => { :id => order.joint_resource.id ,:name => patient.name}}
                        %i.fa.fa-thumbs-o-up
                        Follow up
                        %span.badge.badge-success
                          =patient.try(:joint_resource).try(:follow_ups).count
                    %li
                      %a{ :href => '#' ,:id => 'finalized_remove' ,:data => {:id => order.id },:class => 'remove-confirm'}
                        %i.fa.fa-trash-o
                        Remove
            %td.hidden
              = order.joint_resource.id
        - renewed_follow_ups.each do |order|
          - patient = order.joint_resource.member
          %tr
            %td
              = patient.name
              - re_order_follow_up = patient.joint_resource.follow_ups.last
              -if re_order_follow_up.present?
                -if re_order_follow_up.is_followed?
                  -if re_order_follow_up.due_date > re_order_follow_up.updated_at
                    %i.fa.fa-flag{:style => "font-size:24px;color:green"}
                  -else
                    %i.fa.fa-flag{:style => "font-size:24px;color:blue"}
                -else
                  -if re_order_follow_up.due_date > Date.today
                    %i.fa.fa-flag{:style => "font-size:24px;color:yellow"}
                  -else
                    %i.fa.fa-flag{:style => "font-size:24px;color:red"}
            %td
              = order.updated_at.strftime("%m/%d/%Y at %I:%M%p")
              -if order.order_subscription_id.present?
                %span.pull-right.badge.badge-rounded.badge-info subscribed
              -else
                %span.pull-right.badge.badge-rounded.badge-warning re-newed
            %td
              %ul.dropdown
                %li#actionsliststyle
                  %a.dropdown-toggle{ :class => 'btn btn-sm default yellow-stripe', :href => '#', 'data-toggle' => 'dropdown'}
                    Actions
                    %i.fa.fa-angle-down
                  %ul.dropdown-menu
                    %li
                      %a{ :href => '#' ,:class => 'follow_ups', :data => { :id => patient.id ,:name => patient.name}}
                        %i.fa.fa-thumbs-o-up
                        Follow up
                        %span.badge.badge-success
                          =patient.try(:joint_resource).try(:follow_ups).count
                    %li
                      %a{ :href => '#' ,:id => 'finalized_remove' ,:data => {:id => order.id ,:renewed => 'order'},:class => 'remove-confirm'}
                        %i.fa.fa-trash-o
                        Remove
            %td.hidden
              = order.joint_resource.id
        - follow_list.each do |order|
          - patient = order.joint_resource.member
          %tr
            %td
              -if patient.class.name == "FamilyMember"
                %a{:href => family_member_path(order.joint_resource.family_member)}
                  = patient.name
              -else
                %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id)}
                  = patient.name
              -if order.is_followed?
                -if order.due_date > order.updated_at
                  %i.fa.fa-flag{:style => "font-size:24px;color:green"}
                -else
                  %i.fa.fa-flag{:style => "font-size:24px;color:blue"}
              -else
                -if order.due_date > Date.today
                  %i.fa.fa-flag{:style => "font-size:24px;color:yellow"}
                -else
                  %i.fa.fa-flag{:style => "font-size:24px;color:red"}
            %td
              = "#{(order.due_date.to_date - Date.today).to_i} days remain for due date #{order.due_date.strftime('%m/%d/%Y')}" if order.due_date > Date.today
            %td
              %ul.dropdown
                %li#actionsliststyle.btn-group
                  %a.dropdown-toggle{ :href => '#', 'data-toggle' => 'dropdown',:class => 'btn btn-sm default yellow-stripe'}
                    Actions
                    %i.fa.fa-angle-down
                  %ul.dropdown-menu.pull-right
                    %li
                      %a{ :href => '#' ,:class => 'follow_ups', :data => { :id => order.joint_resource.id ,:name => patient.name}}
                        %i.fa.fa-thumbs-o-up
                        Follow up
                        %span.badge.badge-success
                          =patient.try(:joint_resource).try(:follow_ups).count
                    %li
                      %a{ :href => '#' ,:id => 'finalized_remove' ,:data => {:id => order.id },:class => 'remove-confirm',:onclick => "assign_element(this);"}
                        %i.fa.fa-trash-o
                        Remove
            %td.hidden
              = order.joint_resource.id
    %div#followupmodal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "followupmodallabel",:role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
            %h4#followupmodallabel.modal-title
          .modal-body
          .modal-footer
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close
    %div#modalfollowupremove.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalfollowupremoveLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
            %h4#modalfollowupremoveLabel.modal-title Confirmation
          .modal-body{:style => 'max-height: 100px;overflow-y: auto;'} 
            %span
              Are You sure you want to remove this log ?
          .modal-footer.bg-warning
            .row
              .col-md-12.pull-right
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} No
                %a{:onclick => "remove_element();","data-method" => "delete", "data-remote"=>"true", :href => "#",:id => "follow_up_remove_id",:class => "btn btn-success"} Yes

:javascript
  $(document).on('click',"#finalized_remove",function(e) {
    e.preventDefault();
    if(typeof $(this).data('renewed') != 'undefined')
      $('#follow_up_remove_id').attr('href','/favourites/'+$(this).data('id')+'?remove_finalized=true');
    else
      $('#follow_up_remove_id').attr('href', '/orders/'+$(this).data('id')+'?remove_finalized=true');
    $('#modalfollowupremove').data('id', $(this).data('id')).modal('show');
  });

  $(function() {
    $(".pagination").on("click", 'a',function() {
    $(".pagination").html("Page is loading...");
    $.getScript(this.href);
    return false;
    });
  });

  var myFirebaseRef = new Firebase("https://#{ENV['FIREBASE_APP_URL']}");
  var formatted_date = "#{Date.today.strftime('%m/%d/%Y')}";
  managePatientsIndexPage(myFirebaseRef.child('manage_patients').ref(),formatted_date,myFirebaseRef.child('doctor_dashboard').ref());
  $('.dropdown-toggle').dropdown();

  // To list patient follow ups in modal box
  $(document).on('click','.follow_ups',function(){
    var patient_id = $(this).data('id');
    var patient_name  = $(this).data('name');
    $.ajax({ 
           type: "GET",
           url: "/follow_ups",
           data: 'id='+patient_id,
           dataType: "JSON",
           async: false
           }).success(function(data){
               $('#followupmodal').find('.modal-header').html("<h3><i class='fa fa-user'></i>&nbsp;&nbsp;"+patient_name+"&nbsp;Follow up Log</h3>");
               $('#followupmodal').find('.modal-body').html(data.html);
               $('#followupmodal').find('.modal-footer').html("<a class='btn btn-default' data-dismiss='modal'>Close</a> <a href=# data-id="+patient_id+" data-name="+patient_name+" class='addnewfollow_up btn btn-primary'>Add New</a>");
               $('#followupmodal').modal('show');
          });
  });
  
  // To add new follow up log through modal box
  $(document).on('click','.addnewfollow_up',function(){
    var patient_id = $(this).data('id');
    var patient_name  = $(this).data('name');
    $.ajax({ 
           type: "GET",
           url: "/follow_ups/new",
           data: 'id='+patient_id,
           dataType: "JSON",
           async: true
           }).success(function(data){
              if(data.status == "Error"){
                $('#followupmodal').modal('hide');
                jQuery.gritter.add({ title: data.status, text: data.msg });
              }
              else{
                $('#followupmodal').find('.modal-header').html("<h3><i class='fa fa-user'></i>&nbsp;&nbsp;"+patient_name+"&nbsp;Follow up Log</h3>");
                $('#followupmodal').find('.modal-body').html(data.html);
                $('#followupmodal').find('.modal-footer').html("<a class='btn btn-default' data-dismiss='modal'>Close</a> <a href=# data-id="+patient_id+" data-name="+patient_name+" class='save_follow_up btn btn-primary'>Save</a>");
                $('#followupmodal').modal('show');
              }
          });
  });
  
  // To save the newly added follow up log
  $(document).on('click','.save_follow_up',function(){
    var myform = $('#new_follow_up').serialize();
    var patient_id = $(this).data('id');
    var patient_name  = $(this).data('name');
    $.ajax({ 
           type: "POST",
           url: "/follow_ups",
           data: myform,
           dataType: "JSON"
           }).success(function(data){
             var element;
             $('.follow_ups').each(function(){ if($(this).data('id')== patient_id ){ element=$(this) } });
             if( typeof element != "undefined" ) { element.trigger('click');}
          }).error(function(data){
             $('#error_explanation').html(data.responseJSON.error);
             $('#error_explanation').show();
             return false;
          });
  });