#tab_1_1_1.tab-pane.active
  .table-responsive
    %table#recentorders.table.table-hover.table-condensed.table-bordered
      %thead
        %tr
          %th Name
          %th Latest Entry
          %th Actions
      %tbody
        - recent_orders.each do |order|
          -if order.contact_lens_orders.present? or order.eye_glass_orders.present?
            -patient = order.joint_resource.member
            %tr
              %td
                %a{:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id)}
                  = patient.name
              %td
                = order.updated_at.strftime("%m/%d/%Y at %I %p")
              %td
                = link_to "<i class='fa fa-history'></i>&nbsp;Audits".html_safe,order_audits_dashboard_path(order), remote: true,data: {toggle: "modal", target: "#mymodal"},class: "btn btn-sm default blue-stripe"
                = link_to "<i class='fa fa-openid'></i>&nbsp;Open order".html_safe,edit_order_path(order),:target => '_blank',:class => 'btn btn-sm default blue-stripe'
        - recent_renewed_orders.each do |order|
          -patient = order.joint_resource.member
          %tr
            %td
              -if patient.class.name == "FamilyMember"  
                %a{:data => { "no-turbolink"=> "true"},:href => family_member_path(order.joint_resource.family_member_id),:style => "-webkit-user-select: text;"} 
                  = patient.name
              -else
                %a{ :data => { "no-turbolink"=> "true"},:href => doctor_patient_profile_path(:patient_id => order.joint_resource.patient.id),:style => "-webkit-user-select: text;"}
                  = patient.name
            %td
              = order.updated_at.strftime("%m/%d/%Y at %I %p")
              -if order.order_subscription_id.present?
                %span.pull-right.badge.badge-rounded.badge-info subscribed
              -else
                %span.badge.badge-rounded.badge-warning.pull-right re-newed
            %td
              = link_to "<i class='fa fa-history'></i>&nbsp;Audits".html_safe, order_audits_favourite_path(order) , remote: true,class: "btn btn-sm default blue-stripe"
              = link_to "<i class='fa fa-openid'></i>&nbsp;Open order".html_safe,favourite_path(order),:target => '_blank',:class => 'btn btn-sm default blue-stripe'
    %div#mymodal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "mymodalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} ×
            %h4#mymodalLabel.modal-title
              %i.fa.fa-history
              %span Order Audits
          .modal-body.order_audit_modal
          .modal-footer
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close