.row
  .col-md-offset-2.col-md-8
    .portlet-body
      .row.margin-bottom-40
        - if @survey
          = simple_form_for(@survey) do |f|
            = f.input :survey_token, as: :hidden
            .pricing.hover-effect
              .pricing-head
                %h3
                  Survey
                  %span
                    That will help to improve us.
              %ul.pricing-content.list-unstyled
                %li
                  .row
                    .col-md-6
                      %h4
                        %i.fa.fa-mortar-board
                        Professionalism
                    .col-md-6
                      = f.input :professionalism, min: 0, max: 5, step: 0.5, :"data-size"=>"sm", label: false
                %li
                  .row
                    .col-md-6
                      %h4
                        %i.fa.fa-asterisk
                        Quality Of work
                    .col-md-6
                      = f.input :work_quality, min: 0, max: 5, step: 0.5, :"data-size"=>"sm", label: false
                %li
                  .row
                    .col-md-6
                      %h4
                        %i.fa.fa-user-md
                        Staff
                    .col-md-6
                      = f.input :staff, min: 0, max: 5, step: 0.5, :"data-size"=>"sm", label: false
                %li
                  .row
                    .col-md-6
                      %h4
                        %i.fa.fa-calendar-o
                        Adherence to schedule
                    .col-md-6
                      = f.input :schedule_adherence, min: 0, max: 5, step: 0.5, :"data-size"=>"sm", label: false
                %li
                  .row
                    .col-md-6
                      %h4
                        %i.fa.fa-comments-o
                        Communication
                    .col-md-6
                      = f.input :communication, min: 0, max: 5, step: 0.5, :"data-size"=>"sm", label: false
                %li
                  .row
                    .col-md-6
                      %h4
                        %i.fa.fa-trash-o
                        Cleanliness
                    .col-md-6
                      = f.input :cleanliness, min: 0, max: 5, step: 0.5, :"data-size"=>"sm", label: false
                %li
                  .row
                    .col-md-6
                      %h4
                        %i.fa.fa-file-text-o
                        Feedback
                    .col-md-6                    
                      = f.input :feedback, label: false
              .pricing-footer
                .row
                  .col-md-6
                  .col-md-6                    
                    = f.submit "Submit", class: "btn yellow-crusta pull-left"
              / //End Pricing
        - else
          %h3
            Wraning! You have invalid token. Please make sure you are using same url that you have in survey email.

:javascript
  $(".numeric").rating()
