.row
  .col-md-offset-2.col-md-8
    .portlet-body
      .row.margin-bottom-40
        .pricing.hover-effect
          .pricing-head
            %h3
              Thanks for giving the survey, We appreciate your time and patience.