.row
  .col-lg-12
    %ul{:style =>"left: 20%;"}
      %a{:href => "#",:name => "procedure",:exam_id => exam.present? ? exam.id : '',:class => 'procedure',:data => {:type => "select2" ,:url => exam_procedure_update_manage_patients_by_doctor_index_path(:exam_id => exam.present? ? exam.id : '',:id => order.present? ? order.id : ''),:pk => exam.present? ? exam.id : '',:value => ids,:title => "Enter Procedure"}}
:javascript
  $.fn.editableform.engine = 'jquery';
  $.fn.editable.defaults.mode = 'inline';
  $.fn.editable.defaults.ajaxOptions = {type: "PUT",dataType: 'json'};
  $('.procedure').editable({
    select2: {multiple: true},
    source: $.parseJSON('#{exam_prods}')
  });
