= simple_form_for @order, remote: true,html: {id: 'procedure_adjustments_form'} do |f|
  %table.table.table-hover.table-bordered.table-striped
    %thead
      %tr
        %th
          = "Description"
        %th
          = "Code"
        %th.text-center
          = "Unit Price"
        %th.text-center
          = "Adjusted Price"
        %th.text-center
          = "Actions"
    %tbody
      -if @order.procedure_adjustments.any?
        =f.simple_fields_for :procedure_adjustments do |procedure_adjustment|
          = render 'doctor/orders/order_partial/procedure_adjustment/procedure_adjustment_fields',:f => procedure_adjustment
      - else
        %tr
          %td.text-center{:colspan => 5}
            %i.fa.fa-search
            %em No exam procedures found
-unless @order.examination.blank?
  = simple_form_for @order.examination,url: add_procedures_order_path(@order.examination),remote: true, html: {class: "order-form wrapper-fluid"} do |f|
    .div{style: "background-color: white"}
      .portlet.box
        .portlet-title.hex_424242
          .caption
            %i.fa.fa-plus-square>
            Add New Procedure
        -#.portlet-body
          - index = 0
          -#= f.simple_fields_for :procedure_adjustments do |procedure_adjustment|
            %div
              -#.col-md-3.btn.btn-primary{style: "margin-bottom: 10px;"}
                = procedure_adjustment.object.exam_procedure.try(:code_with_name)
              -#.col-md-1
              = procedure_adjustment.hidden_field :order_id, :value => @order.id
              = procedure_adjustment.hidden_field :exam_procedure_id
              -#= link_to '<i class="fa fa-trash-o" style="font-size: 20px"></i>'.html_safe, delete_procedures_order_path(examination_id: @order.examination,id:  procedure_adjustment.object.id), method: :delete,remote: true,  class: "procedure-delete-btn" 
    = autocomplete_field_tag 'procedure_name', '', autocomplete_exam_procedure_name_autocompletes_path, class: "procedure_autocomplete_field form-control", placeholder: "Add Procedure"
  #procedure_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Add Procedures
        = form_tag add_procedure_settings_path(order: true), :remote => true do
          .modal-body
            .row
              .col-md-4
                Procedure
              .col-md-3
                Exam Code 
              .col-md-2
                Cost of Good
              .col-md-2
                Patient Pays 
            .row.object
              .col-md-4.form-group
                = text_field_tag "procedures[1][name]","", class: "form-control",required: true
              .col-md-3.form-group
                = text_field_tag "procedures[1][code]","", class: "form-control",required: true
              .col-md-2.form-group
                = text_field_tag "procedures[1][patient_pays]","", class: "form-control", placeholder: "$"
              .col-md-2.form-group
                = text_field_tag "procedures[1][price]","", class: "form-control", placeholder: "$",required: true
              .col-md-1.form-group
                = link_to "<i class=\"fa fa-times\"></i>".html_safe, "#", class: "hidden closed"
          .modal-footer            
            %button.btn.btn-sm.blue Save