%tr
  %td
    %h5
      #{f.object.name}
  %td
    %em
      #{f.object.code}
  %td.text-center
    %strong
      %span $
      #{number_with_precision(f.object.actual_price, :precision =>2)}
  %td.col-md-4
    %div.input-group
      %div.input-group-addon $
      = f.input :price,label: false, input_html: { class: "form-control procedure_adjustment", value: f.object.price.present? ? number_with_precision(f.object.price, :precision =>2) : number_with_precision(f.object.actual_price, :precision =>2)}
    = f.input :order_id, as: :hidden, input_html: { value: @order.id}
  %td.text-center
    = link_to '<i class="fa fa-trash-o" style="font-size: 20px"></i>'.html_safe, delete_procedures_order_path(examination_id: @order.try(:examination),id:  f.object.id), remote: true,  method: :delete,class: "procedure-delete-btn",data: { no_turbolink: true }