$("#procedure_adjustment_fields").html("<%=j render :partial => 'doctor/orders/order_partial/procedure_adjustment/procedure_adjustment_table'%>");
$('#total_all').html("$ <%= '%.2f' % @order.total %>")
$('#order_balance_due').html("$ <%= '%.2f' % @order.balance_due %>")
$('#order_refund').html("$ <%= '%.2f' % @order.refund %>")
$('#tab_partial').html("<%= j render :partial => 'doctor/orders/order_partial/tab_partial' %>")
if($('.order_complete_options').length ==0){
  $('.order_action').append('<li><a class="order_complete_options" data-no-turbolink="true" data-remote="" href="/patients/profile_payment?order_id=<%= @order.id%>"> <i class="fa fa-check-circle"></i> Finalize Order</a><li>')
}
<% unless (@order.eye_glass_orders.any? || @order.contact_lens_orders.any? || @order.procedure_adjustments.any?) %>
    $('.order_complete_options').remove()
<% end %>
setInterval(2000);
$('.spinner').hide();