- store ||= @store
= form_for store ,:html => {:multipart => true, class: "store_form"} do |f|
  .row
    .col-md-12
      .form-group.col-sm-6
        %label.control-label 
          Office Short Name
          %span.required
            *
        = f.text_field :description, class:"form-control", :required => true
      .form-group.col-sm-6
        %label.control-label Office Contact Email
        = f.email_field :contact_email, class:"form-control"
      .form-group.col-sm-6
        %label.control-label Office Manager
        = f.select :manager_id, options_from_collection_for_select(current_organisation.doctors, 'id', 'name'),{}, :class => 'form-control'
          
      .form-group.col-sm-6
        %label.control-label 
          Phone Number
          %span.required
            *
        = text_field_tag  "tel_input", store.phone_number, class:"form-control tel-input", placeholder: "eg: (305) 877-2026", required: true
        = f.hidden_field :phone_number
      = f.simple_fields_for :office_address do |office_addr_f|
        .form-group.col-sm-6
          %label.control-label Address Line 1
          = office_addr_f.text_field :address1, class:"form-control"
        .form-group.col-sm-6
          %label.control-label Fax
          = f.text_field :fax, class:"form-control"
        .form-group.col-sm-6
          %label.control-label Country
          = office_addr_f.country_select :country_id,  {priority: %w(US CA)}, class: 'form-control country_select ', :"data-target"=> "#office_address_state_#{store.id}"
        .form-group.col-sm-6
          %label.control-label State
          %div{id: "office_address_state_#{store.id}"}
            - country_code  = office_addr_f.object.country_id.present? ? office_addr_f.object.country_id : "US" 
            - if Carmen::Country.coded(country_code).try(:subregions).present?
              = office_addr_f.subregion_select(:state_id, country_code, {}, { :class => 'form-control' } )
        .form-group.col-sm-6
          %label.control-label City
          = office_addr_f.text_field :city ,class:"form-control"
        .form-group.col-sm-6
          %label.control-label Zip Code
          = office_addr_f.text_field :postal_code, class:"form-control"
          = office_addr_f.hidden_field :addr_type, class:"form-control", :value => "office" 
        .form-group.col-sm-6
          %label.control-label Upload New Logo 
          = f.file_field(:logo, class: "form-control")
        .form-group.col-sm-6
          %label.control-label Office Homepage
          = f.text_field :url, class:"form-control", placeholder: "e.g. http://brickellvision.itrust.io"
  %hr
  .row  
    .col-md-12
      .portlet
        .portlet-title
          .caption
            Social Media Share
            %i.fa.fa-share-square-o
        .portlet-body
          -#= f.simple_fields_for :social_settings,@store.social_settings.present? ? @store.social_settings : @store.social_settings.build  do |social_setting|
            = render 'doctor/stores/partials/social_setting_fields', :f => social_setting
          -#.pull-right
            = link_to_add_association "<i class='fa fa-plus'></i>&nbsp;Add new".html_safe, f, :social_settings,:partial => 'doctor/stores/partials/social_setting_fields' , :class => "btn btn-primary"
          .form-group.col-sm-6
            .row
              .col-sm-1
                = image_tag('admin/pages/media/email/social_facebook.png', onmouseover: "Facebook URL", alt: "Facebook URL")
              .col-sm-11  
                = f.text_field :facebook_url,class:"form-control"
          .form-group.col-sm-6
            .row
              .col-sm-1
                = image_tag('admin/pages/media/email/social_twitter.png', alt: "Twitter URL")
              .col-sm-11
                = f.text_field :twitter_url,class:"form-control"
          .form-group.col-sm-6
            .row
              .col-sm-1
                = image_tag('admin/pages/media/email/social_google.png', alt: "Google URL")
              .col-sm-11
                = f.text_field :google_url,class:"form-control"    
          .form-group.col-sm-6
            .row
              .col-sm-1
                = image_tag('admin/pages/media/email/social_linked_in.png', alt: "Linkedin URL")
              .col-sm-11
                = f.text_field :linked_in_url,class:"form-control"
          .form-group.col-sm-6
            .row
              .col-sm-1
                = image_tag('admin/pages/media/email/social_youtube.png', alt: "Youtube URL")
              .col-sm-11
                = f.text_field :youtube_url,class:"form-control"  
          .form-group.col-sm-6
            .row
              .col-sm-1
                = image_tag('admin/pages/media/email/social_pintrest.png', alt: "Pintrest URL")
              .col-sm-11
                = f.text_field :pintrest_url,class:"form-control"
          .form-group.col-sm-6
            .row
              .col-sm-1
                = image_tag('admin/pages/media/email/social_instagram.png', alt: "Instagram URL")
              .col-sm-11
                = f.text_field :instagram_url,class:"form-control"
      .margin-top-10.col-sm-12
        -if params[:action] == "edit"
          = f.submit "Save", class: "btn green pull-right"
        -else
          = f.submit "Create", class: "btn green pull-right"
          
:javascript
  size_limit();