-view ||= @view || current_organisation.doctors
-view_type ||= @view_type || "staff"
-if view_type=="store"
  .table-responsive
    %table.table.table-hover.table-condensed.table-bordered
      %thead
        %tr
          %th Store Name
          %th Manager Name
          %th Doctors
      %tbody
        -view.each do |store|
          %tr
            %td
              =store.description
            %td
              =store.manager.name
            %td
              - if store.doctors.present?
                =store.doctors.map{|doctor| doctor.name}.join(",")
              -else 
                %strong
                  don't have any doctors
-else
  .table-responsive
    %table.table.table-hover.table-condensed.table-bordered
      %thead
        %tr
          %th Doctor Name
          %th Store Name
          %th Assign
      %tbody
        -view.each do |doctor|
          %tr
            %td
              =doctor.name
            %td
              -if doctor.store.present?
                =doctor.store.description
              -else
                %strong
                  not assigned to any store
            %td
              %a.btn.btn-default.btn-sm{"data-toggle" => "modal", :href => "#assign_store#{doctor.id}"}
                %i.fa.fa-pencil
                Assign

              .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id=>"assign_store#{doctor.id}"}
                .modal-dialog
                  .modal-content
                    .modal-header
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                      %h4#myModalLabel.modal-title Assign Store
                    = form_for doctor, url: staff_path(doctor), html: { class: "reportform" }, remote: true do |f|
                      .modal-body
                        .form-group
                          %label.control-label Select Store                          
                          = f.select :store_id, options_from_collection_for_select(current_organisation.stores, "id", "description", doctor.store_id), {}, class:"form-control"
                      .modal-footer
                        = f.submit "Save Changes", class: "btn green"

:javascript
  reload_on_update();