<% logo_url = @store.try(:logo).try(:url) %>
<% if @store.try(:logo).present? %>
  $('#store_logo_image').html("<img src='<%= logo_url %>' height='25px' width='25px' />");
<% end %>
$('#store_edit_form').html("<%= escape_javascript(render partial: 'form', store: @store) %>");
telInput();