.row
  .col-md-12
    / BEGIN PAGE TITLE &amp; BREADCRUMB
    %h3.page-title
      Manage Store
      %small Setup Store and manage staff
    %ul.page-breadcrumb.breadcrumb
      %li
        %i.fa.fa-home
        %a{:href => "/"} Home
        %i.fa.fa-angle-right
      %li
        %a{:href => "#"} Store
      
    / END PAGE TITLE &amp; BREADCRUMB
.row.profile
  .col-md-12
    / BEGIN TABS
    .tabbable.tabbable-custom.tabbable-full-width
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab_1_1"}
            Store List
        %li
          %a{"data-toggle" => "tab", :href => "#tab_1_2"}
            Create Store
        %li
          %a{"data-toggle" => "tab", :href => "#tab_1_3"}
            Staff
        
  
      .tab-content
        #tab_1_1.tab-pane.active
          - if @stores.present?
            - @stores.each do |store|
              .portfolio-block
           
                .col-md-1
                  - if store.logo.present?  
                    %img.img-responsive{:src => store.logo.url(:thumb)}/
                  -else
                    %img.img-responsive{:alt => "logo", :src => "/images/def_logo.jpg"}/
                .col-md-2
                  .portfolio-text 
                    .portfolio-info
                      %h4
                        = store.try(:manager).try(:name)
                .col-md-4             
                  .portfolio-info
                    %h4
                      =store.try(:description)
                .col-md-3
                  .portfolio-info
                    %h4
                      - if store.office_address.present?
                        = "#{store.office_address.address1.present? ? store.office_address.address1 : '' }"
                        - if store.office_address.city.present?
                          = "#{store.office_address.city},"
                        - if store.office_address.state_id.present? 
                          = "#{store.office_address.state_id},"
                        = "#{store.office_address.postal_code.present? ? store.office_address.postal_code : ''}"
                      %br   
                      - if store.phone_number.present?
                        = "P: #{number_to_phone(store.phone_number.to_s[2..-1].to_i, area_code: true)}"
                .col-md-1
                  .portfolio-btn
                    = link_to "Edit", edit_store_path(store.id), remote: true, class: "btn btn-info btn-lg store_edit_btn"                  
                .col-md-1
                  .portfolio-btn
                    = link_to "Delete", "#store_delete_alert#{store.id}", :"data-toggle"=> "modal", class: "btn btn-info btn-lg"
                    /start store delete alert
                  %div.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1", id: "store_delete_alert#{store.id}"}
                    .modal-dialog.modal-full
                      .modal-content
                        .modal-header
                          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                          %h4.modal-title Alert!
                        .modal-body
                          Are sure you want to delete this store, this action we destroy all the store dependent data! 
                        .modal-footer
                          %button.btn.default{"data-dismiss" => "modal", :type => "button"} Cancel
                          = link_to "Continue", store_path(store.id), method: :delete, class: "btn green" 
                  /end store delete alert
          - else
            .portfolio-block
              .col-md-12            
                .portfolio-info
                  %h4
                    There is no store!

          

        #tab_1_2.tab-pane
          = render "form", store: @store
        #tab_1_3.tab-pane
          .row.profile-account
            .col-md-3
              %ul.ver-inline-menu.tabbable.margin-bottom-10
                %li.active
                  %a{"data-toggle" => "tab", :href => "#tab_3-1"}
                    %i.fa.fa-cog
                    Create Staff
                  %span.after
                %li
                  %a{"data-toggle" => "tab", :href => "#tab_3-2"}
                    %i.fa.fa-picture-o
                    Manage Staff
                %li
                  %a{"data-toggle" => "tab", :href => "#tab_3-3"}
                    %i.fa.fa-picture-o
                    View
            .col-md-9
              .tab-content
                #tab_3-1.tab-pane.active
                  = render "/doctor/staff/form"
                #tab_3-2.tab-pane
                  .col-md-4
                    = select_tag :store_select, options_from_collection_for_select(current_organisation.stores, "id", "description",current_organisation.stores.first.try(:id)), class: "form-control",  onchange: "$.get('/staff?store_id=' + $(this).val())"
                  .col-md-12
                    %br
                    #manage_staff
                      =render "/doctor/staff/manage_staff"

                #tab_3-3.tab-pane
                  .col-md-12
                    %label.control-label View By
                    = select_tag :view_by, options_for_select([["staff", "staff"],["store","store"]], ["staff", "staff"] ), class: "form-control", onchange: "$.get('/stores/manage_view?view_type='+$(this).val())"
                  .col-md-12
                    %br
                    #manage_view
                      =render "/doctor/stores/manage_view"


/Start modal box for store edit
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id=>"store_edit_modal"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#myModalLabel.modal-title
          %span#store_logo_image 
          %span#store_heading Store Detail
      #store_edit_form.modal-body
/end of family store modal box