.row
  .col-md-3
    = "<b>Date Issued:</b>".html_safe if count > 0
  .col-md-8
    = f.input :lens_date, as: :date_picker, label: false, input_html: {value: f.object.lens_date.present? ? f.object.lens_date : f.object.created_at.to_date} if count > 0
  = f.simple_fields_for :visual_acuity, f.try(:object).try(:visual_acuity).present? ? f.object.visual_acuity : f.try(:object).build_visual_acuity do |visual_acuities|
    %br
    %br
    %br
    %br
    .col-md-6
      .row.od_details
        %label.col-md-12
          DISTANCE
      %br
      .row.od_details
        .col-md-3
          20/
        .col-md-8
          = visual_acuities.input :distance_od, label: false
          = visual_acuities.input :id, as: :hidden, class: "visual_acuity_id"
      %br
      %br
      %br
      %br
      .row.os_details
        %label.col-md-12
          DISTANCE
      %br
      .row.os_details
        .col-md-3
          20/
        .col-md-8
          = visual_acuities.input :distance_os, label: false
      .row.os_details
        .col-md-3.label-no-padding
          OU 20/
        %label.col-md-8
          = visual_acuities.input :distance_ou, label: false
    .col-md-6
      .row.od_details
        %label.col-md-12
          NEAR
      %br
      .row.od_details
        .col-md-3
          20/
        .col-md-8
          = visual_acuities.input :near_od, label: false
      %br
      %br
      %br
      %br
      .row.os_details
        %label.col-md-12
          NEAR
      %br
      .row.os_details
        .col-md-3
          20/
        .col-md-8
          = visual_acuities.input :near_os, label: false
      .row.os_details
        .col-md-3.label-no-padding
          OU 20/
        %label.col-md-8
          = visual_acuities.input :near_ou, label: false