:javascript
  var referral_eye_view_function = #{@examination.try(:external_exam).try(:eye_draw_data).to_json}
  if (referral_eye_view_function){  
    var eye1 = Raphael.sketchpad("eye_view", {
      height: 200,
      width: 600,
      input: "#eyes_draw_data",      
      editing: false // true is default
    });
    eye1.strokes(referral_eye_view_function);
  }
  var referral_corneal_view_function = #{@examination.external_exam.try(:corneal_disease).try(:draw_data).to_json}
  if (referral_corneal_view_function) {  
    var corneal_view = Raphael.sketchpad("corneal_view", {
      height: 120,
      width: 400,
      input: "#cornea_draw_data",
      editing: false // true is default
    });
    corneal_view.strokes(referral_corneal_view_function);
  }
  var referral_internal_function = #{@examination.try(:internal_exam).try(:draw_data).to_json}
  if (referral_internal_function) {  
    var internal_eye_view = Raphael.sketchpad("internal_eye_view", {
      height: 200,
      width: 600,
      input: "#internal_exam_draw_data",
      editing: false // true is default
    }); 
    internal_eye_view.strokes(referral_internal_function);
  }