:javascript
  jQuery.browser = {};
  (function () {
      jQuery.browser.msie = false;
      jQuery.browser.version = 0;
      if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
          jQuery.browser.msie = true;
          jQuery.browser.version = RegExp.$1;
      }
  })();
  $('.spinner').hide();
- if params[:action] == "external_internal"
  :javascript
    /* External Exam js--------------------------------Start---------------------------*/
      /* Draw scketch js-------------------------------Start---------------------*/
        var eye = Raphael.sketchpad("eye_editor", {
          height: 200,
          width: 600,
          input: "#eye_draw_data",      
          editing: true // true is default
        });
        var line_thicknes = 3;
        eye.pen().width(line_thicknes);
        eye.change(function() {
          $("#eye_draw_data").val(eye.json());
          update_actions();
        });

        function update_actions() {
          enable(".editor_undo", eye.undoable());
          enable(".editor_redo", eye.redoable());
          enable(".editor_clear", eye.strokes().length > 0);
          return false;
        }
      
        eye.strokes(#{@examination.try(:external_exam).try(:eye_draw_data).to_json}); 

        var cornea_edit = Raphael.sketchpad("corneal_editor", {
          height: 120,
          width: 400,
          input: "#cornea_draw_data",
          editing: true // true is default
        });
        cornea_edit.pen().width(line_thicknes);
        cornea_edit.change(function() {
          $("#cornea_draw_data").val(cornea_edit.json());
        });

        cornea_edit.strokes(#{@examination.try(:external_exam).try(:corneal_disease).try(:draw_data).present? ? @examination.try(:external_exam).try(:corneal_disease).try(:draw_data).to_json :  (@previous_exam.present? ? (@previous_exam.try(:external_exam).try(:corneal_disease).try(:draw_data).present? ?  @previous_exam.try(:external_exam).try(:corneal_disease).try(:draw_data).to_json : "".to_json) : ''.to_json)});
        if($("#corneal_editor_view").length > 0)
        {
          var cornea = Raphael.sketchpad("corneal_editor_view", {
            height: 120,
            width: 400,
            input: "#cornea_draw_data",
            editing: true // true is default
          });
          cornea.pen().width(line_thicknes);
          cornea.change(function() {
            $("#cornea_draw_data").val(cornea.json());
          });
          cornea.strokes(#{@examination.try(:external_exam).try(:corneal_disease).try(:draw_data).present? ? @examination.try(:external_exam).try(:corneal_disease).try(:draw_data).to_json :  (@previous_exam.present? ? (@previous_exam.try(:external_exam).try(:corneal_disease).try(:draw_data).present? ?  @previous_exam.try(:external_exam).try(:corneal_disease).try(:draw_data).to_json : "".to_json) : ''.to_json)});
        }


        

        function enable(element, enable) {
          if (enable) {
            $(element).removeClass("disabled");
          } else {
            $(element).addClass("disabled");
          }
        };

        function select(element1, element2) {
          $(element1).addClass("selected");
          $(element2).removeClass("selected");
        }

        $("#external_exam .editor_undo").click(function() {
          if($(".eye-tool").is(':checked'))      
            eye.undo();
          else
            cornea.undo();
          return false;
        });

        $("#external_exam .editor_redo").click(function() {
          if($(".eye-tool").is(':checked'))      
            eye.redo();
          else
            cornea.redo();
          return false;
        });

        $("#external_exam .editor_clear").click(function() {
          if($(".eye-tool").is(':checked'))      
            eye.clear();
          else
            cornea.clear();
          return false;
        });


        $(document).click(function(event) {
          var sketch_color = $("#external_exam .sketch_color").val();
          if($(".eye-tool").is(':checked')){
            eye.pen().color(sketch_color);
          }
          else{
            cornea.pen().color(sketch_color);
          }
        })
      /* Draw scketch js-------------------------------end---------------------*/



      /* Gat time js --------------------------------end----------------*/    
        $(document).on('click', ".gat_time_button", function() {
          var date = new Date();
          var t=moment(date).format(" h:mm:ss a")
          $(this).parent().find("input").attr('value', t);
        });

        $(document).on('click', ".nc_time_button", function() {
          var date = new Date();
          var t=moment(date).format(" h:mm:ss a")
          $(this).parent().find("input").attr('value', t);
        });

        $("#corneal_clear").click(function() {
          $('#cornea-body input').each(function(){
            $(this).val('');
            $(this).removeAttr('checked');

          });
          cornea_edit.clear();
        });

        $("#gonio_clear").click(function() {
          $('#gonioscopy-body input').each(function(){
            $(this).val('');
          });
          $('select').each(function(){
            this.selectedIndex = 0 ;
          });
        });
      /* Gat time js --------------------------------end----------------*/     
    /* External Exam js------------------------------end---------------------------*/


    /* Internal Exam js--------------------------------Start---------------------------*/

      var internal_eye = Raphael.sketchpad("internal_eye_editor", {
        height: 200,
        width: 600,
        input: "#internal_exam_draw_data",
        editing: true // true is default
      }); 
      var line_thicknes = 3;
      internal_eye.pen().width(line_thicknes);     
      internal_eye.change(function() {
        $("#internal_exam_draw_data").val(internal_eye.json());
      });

      internal_eye.strokes(#{@examination.try(:internal_exam).try(:draw_data).to_json});
     
      $("#internal_exam .editor_undo").click(function() {       
        internal_eye.undo();      
        return false;
      });

      $("#internal_exam .editor_redo").click(function() {          
        internal_eye.redo();
        return false;
      });

      $("#internal_exam .editor_clear").click(function() {           
        internal_eye.clear();      
        return false;
      });

      $(document).click(function(event) {
        var sketch_color = $("#internal_exam .sketch_color").val();
        internal_eye.pen().color(sketch_color); 
      })

    /* Internal Exam js--------------------------------End---------------------------*/
    
- else
  :javascript
    /* Contact Circal js--------------------------------End---------------------------*/
      if($(".contact_lens_os_draw_data").length > 0)
        $(".contact_lens_os_draw_data").each(function (index, value){
          var lens_ids = #{@examination.contact_lens_exam.try(:lenses).order("created_at ASC").map(&:id)};
          var contact_circle_os = Raphael.sketchpad("circle_os_"+lens_ids[index], {
            height: 60,
            width: 60,
            input: ".contact_lens_os_draw_data",
            editing: true // true is default
          });
          contact_circle_os.change(function() {
            $(value).val(contact_circle_os.json());
          }); 
          var strokes = #{@examination.contact_lens_exam.try(:lenses).order("created_at ASC").map(&:os_draw_data).to_json}; 
          contact_circle_os.strokes(strokes[index]);
        });
        $(".os_draw_clear").on("click", function(){
          $(this).next().find('svg path').remove();
          $(this).prev().val('')
        });
      
      if($(".contact_lens_od_draw_data").length > 0)
        $(".contact_lens_od_draw_data").each(function (index, value){
          var lens_ids = #{@examination.contact_lens_exam.try(:lenses).order("created_at ASC").map(&:id)};
          var contact_circle_od = Raphael.sketchpad("circle_od_"+lens_ids[index], {
            height: 60,
            width: 60,
            input: ".contact_lens_od_draw_data",
            editing: true // true is default
          });
          contact_circle_od.change(function() {
            $(value).val(contact_circle_od.json()); 
          }); 
          var strokes = #{@examination.contact_lens_exam.try(:lenses).order("created_at ASC").map(&:od_draw_data).to_json}; 
          contact_circle_od.strokes(strokes[index]);
        });
        $(".od_draw_clear").on("click", function(){
          $(this).next().find('svg path').remove();
          $(this).prev().val('')
        });

    /* Contact Circal js--------------------------------End---------------------------*/