= objective_f.input :measurement_type, as: :hidden, input_html: {class: "refraction_type"}
= objective_f.simple_fields_for :glass,  objective_f.object.present? ? (objective_f.object.glass.present? ? objective_f.object.glass : (@previous_exam.try(:eye_measurements).present? ? objective_f.object.build_glass(@previous_exam.eye_measurements.where(:measurement_type => objective_f.object.measurement_type).first.glass.try(:attributes).try(:except, "id","created_at","updated_at","organisation_id","joint_resource_id","selected_finalize","eye_glass_order_id","examination_id","visual_acuity_id")) : objective_f.object.build_glass)) : @glass  do |f|	
  .col-md-12
    .row
      .col-md-7
      .col-md-5{:style => "text-align: center;"}
        Visual Acuity
  .col-md-12
    .row
      .col-md-7
        = render "/doctor/manage_examination/shared/glass", f: f, type: objective_f.object.measurement_type
      .col-md-5
        = render "/doctor/manage_examination/shared/visual_acuity", f: f
    = objective_f.input :notes, placeholder: "add notes", label: false