.nested-fields   
  .col-md-12
    .row
    %br
    %label.col-md-2
      Type
    .col-md-4
      = f.input :glasses_type, label: false, :input_html => {:value=> f.try(:object).try(:glasses_type).present? ? f.object.glasses_type :  ""}
  .row
    .col-md-7
    .col-md-5{:style => "text-align: center;"}
      Visual Acuity
  .col-md-12
    .row
      .col-md-7
        = render "/doctor/manage_examination/shared/glass", f: f, type: 'current_glass'
      .col-md-5
        = render "/doctor/manage_examination/shared/visual_acuity", f: f
       