= f.simple_fields_for :glass, f.object.glass.present? ? "" : f.object.build_glass do |glass|
  .col-md-6
    = render "/doctor/manage_examination/shared/glass", f: glass
    %br
  .col-md-6
    = f.collection_check_boxes :doctor_recommendation_ids, current_organisation.doctor_recommendations.all, :id, :name,  include_hidden: false, item_wrapper_class: 'col-md-4', :inline_label => true, wrapper_html: { class: 'commentCheckboxes' }
    .col-md-12
      = f.text_field :comment, class: "form-control glass_prescription_comment"
%br    
.row.col-md-12
  .col-md-offset-1.col-md-2
    = f.input :issued_date, as: :date_picker
  .col-md-offset-1.col-md-2
    = f.input :expired_date, as: :date_picker