= f.simple_fields_for :lens, f.object.lens.present? ? f.object.lens : f.object.build_lens do |lens_f|
  .col-md-10
    = render "/doctor/manage_examination/shared/lens", f: lens_f, final_prescription: true
  .col-md-2
    = f.input :cleaning_solution, :collection=> current_organisation.exam_cleaning_solution.all
    %br
    %br
  .row
    .col-md-12
      .row
        .col-md-offset-1.col-md-3
          = f.input :issued_date, as: :date_picker
        .col-md-3
          = f.input :expired_date, as: :date_picker
        .col-md-4
          =f.input :comment
