.row
	.col-md-9
		= render "/doctor/manage_examination/shared/lens", f: f, final_prescription: false
	.col-md-3
		= render "/doctor/manage_examination/partial/contact_lens_visual_acuity_fields", f: f, count: count
	.col-md-12
		= f.input :notes, placeholder: "add notes", :input_html => { id: "add_notes_#{f.object.id}" }, label: false
