-if @previous_exam.try(:visual_acuities).present?
  %i.fa.fa-adjust.toggle.tog_btn{"data-toggle"=>"collapse", "data-target"=>"#old_exam_visual_acuities_toggle"}
  = f.hidden_field :visual_sec_visibility
  From:
  = @previous_exam.try(:exam_date)
  #old_exam_visual_acuities_toggle{class: "collapse #{@examination.visual_sec_visibility ? 'in' : ''}"}
    .row
      -@previous_exam.try(:visual_acuities).each do |v_a|
        .col-md-6
          .row
            .col-md-12
              .row
                - if v_a.glass_type.present? || v_a.distance_od.present? || v_a.distance_os.present? || v_a.distance_ou.present? || v_a.near_od.present? || v_a.near_os.present? || v_a.near_ou.present?
                  .col-md-6
                    =v_a.using_glasses ? "With Correction" : "Without Correction"
                .col-md-6
                  -if v_a.glass_type.present?
                    Type:
                    =v_a.glass_type
              .col-md-6
                .row
                  .col-md-6
                    -if v_a.distance_od.present?
                      OD 20/:
                      =v_a.distance_od
                .row
                  .col-md-6
                    -if v_a.distance_os.present?
                      OS 20/:
                      =v_a.distance_os
                .row
                  .col-md-6
                    -if v_a.distance_ou.present?
                      OU 20/:
                      =v_a.distance_ou
              .col-md-6
                .row
                  .col-md-6     
                    -if v_a.near_od.present?
                      OD 20/:
                      =v_a.near_od
                .row
                  .col-md-6
                    -if v_a.near_os.present?
                      OS 20/:
                      =v_a.near_os
                .row
                  .col-md-6
                    -if v_a.near_ou.present?
                      OU 20/:
                      =v_a.near_ou
    
    %br
    .row
      -@previous_exam.try(:glasses).map do |glass|
        %div
          -if glass.glasses_type.present?
            TYPE:
            =glass.glasses_type
        .col-md-12
          .row
            .col-md-7
              -if glass.glasses_type.present?  
                .row
                  .col-md-1
                    OD
                  .col-md-2
                    -if glass.od_sphere.present?
                      SPHERE:
                      =glass.od_sphere
                  .col-md-2
                    -if glass.od_cylinder.present?
                      CYLINDER:
                      =glass.od_cylinder
                  .col-md-2
                    -if glass.od_axis.present?
                      AXIS:
                      =glass.od_axis
                  .col-md-2
                    -if glass.ou_add.present?
                      ADD:
                      =glass.ou_add
                  .col-md-2
                    -if glass.od_prism.present?
                      PRISM:
                      =glass.od_prism
                .row
                  .col-md-1
                    OS
                  .col-md-2
                    -if glass.os_sphere.present?
                      SPHERE:
                      =glass.os_sphere
                  .col-md-2
                    -if glass.os_cylinder.present?
                      CYLINDER:
                      =glass.os_cylinder
                  .col-md-2
                    -if glass.os_axis.present?
                      AXIS:
                      =glass.os_axis
                  .col-md-2
                    -if glass.ou_add.present?
                      ADD:
                      =glass.ou_add
                  .col-md-2
                    -if glass.os_prism.present?
                      PRISM:
                      =glass.os_prism
              -else
                Current Glasses
            .col-md-5
              - if glass.try(:visual_acuity).present?
                -v_a=glass.visual_acuity
                .col-md-6
                  -if v_a.distance_od.present? || v_a.distance_os.present? || v_a.distance_ou.present? 
                    .row
                      .col-md-12
                        DISTANCE:
                  .row
                    -if v_a.distance_od.present?
                      .col-md-4
                        20/
                      .col-md-8
                        =v_a.distance_od
                  .row
                    -if v_a.distance_os.present?
                      .col-md-4
                        20/
                      .col-md-8
                        =v_a.distance_os
                  .row
                    -if v_a.distance_ou.present?
                      .col-md-4
                        OU 20/
                      .col-md-8
                        =v_a.distance_ou
                .col-md-6
                  - if v_a.near_od.present? || v_a.near_os.present? || v_a.near_ou.present?  
                    .row
                      .col-md-12
                        NEAR:
                  .row
                    -if v_a.near_od.present?
                      .col-md-4
                        20/
                      .col-md-8
                        =v_a.near_od
                  .row
                    -if v_a.near_os.present? 
                      .col-md-4
                        20/
                      .col-md-8   
                        =v_a.near_os
                  .row
                    -if v_a.near_ou.present?
                      .col-md-4
                        OU 20/
                      .col-md-8
                        =v_a.near_ou
    %hr

%br
.row
  = f.simple_fields_for :visual_acuities, f.object.visual_acuities.reverse do |visual_acuity|
    .col-md-6
      .btn.btn-primary.toggle.tab_sizing{"data-toggle"=>"collapse", "data-target"=>"##{visual_acuity.object.using_glasses ? 'with_correction': 'without_correction'}_toggle"}
        = visual_acuity.object.using_glasses ? "With Correction": "Without Correction"
      -if visual_acuity.object.using_glasses == true
        = f.hidden_field :with_correction_show
      -else
        = f.hidden_field :without_correction_show
      %div{class: "collapse #{visual_acuity.object.using_glasses ? (@examination.with_correction_show ? 'in' : '') : (@examination.without_correction_show ? 'in' : '')}", "id"=>"#{visual_acuity.object.using_glasses ? 'with_correction': 'without_correction'}_toggle"} 
        .row
          .col-md-12
            %br
            = visual_acuity.input :glass_type, label: "Type", :wrapper_html => {:class => 'form-inline'} if visual_acuity.object.using_glasses
          .col-md-12
            .row
              .col-md-6
                %label.control-label
                  Distance
                = visual_acuity.input :distance_od, label: "OD 20/ ", :wrapper_html => {:class => 'form-inline'}
                = visual_acuity.input :distance_os, label: "OS 20/ ", :wrapper_html => {:class => 'form-inline'}
                = visual_acuity.input :distance_ou, label: "OU 20/ ", :wrapper_html => {:class => 'form-inline'}
              .col-md-6
                %label.control-label
                  Near
                = visual_acuity.input :near_od, label: "OD 20/ ", :wrapper_html => {:class => 'form-inline'}
                = visual_acuity.input :near_os, label: "OS 20/ ", :wrapper_html => {:class => 'form-inline'}
                = visual_acuity.input :near_ou, label: "OU 20/ ", :wrapper_html => {:class => 'form-inline'}
              = visual_acuity.input :using_glasses, as: :hidden

%br
.row.glass_section
  .glass_append
    .col-md-12
      .btn.btn-primary.toggle.tab_sizing{"data-toggle"=>"collapse", "data-target"=>"#current_glass_toggle"}
        Current Glass


      = f.hidden_field :current_glass_show
    
      %div{class: "collapse #{f.object.current_glass_show ? 'in' : ''}", "id"=>"current_glass_toggle"} 
        - i = 0
        = f.simple_fields_for :glasses do |glass|

          = render '/doctor/manage_examination/partial/glass_fields', f: glass
          %br
          %br
          = link_to "<button class=\"btn btn-warning btn-xm\" type=\"button\">Add New</button>".html_safe, "#", class: "add-new-btn btn-right", :"data-value"=> "add_glass", :"data-href"=> refraction_contact_lens_examination_manage_index_path(@examination), :"data-page"=> "refraction_contact_lens_page"

          = link_to "<button class=\"btn btn-success btn-xm\" type=\"button\">Copy To Subjective </button>".html_safe, "#", class: "add-new-btn btn-right", :"data-value"=> "copy_to_subjective_from_current", :"data-page"=> "refraction_contact_lens_page"
          
          = link_to "<button class=\"btn btn-success btn-xm\" type=\"button\">Copy To Objective </button>".html_safe, "#", class: "add-new-btn btn-right", :"data-value"=> "copy_to_objective_from_current", :"data-page"=> "refraction_contact_lens_page"

          - if i == 0
          - else
            = link_to "<button class=\"btn btn-danger btn-xm\" type=\"button\">Remove Current Glass</button>".html_safe, remove_glass_examination_manage_index_path(@examination, glass_id: glass.object.id), remote: true, method: :delete, class: "delete-btn btn-right", :"data-page"=> "refraction_contact_lens_page"
          - i += 1

