/* this is wordpress theme css Level9themes MK */

body {
    background-color: #222;
    font: 13px/1.6 'Open Sans',Arial, sans-serif;
}

h2,h3 {
    font-family: Helvetica;
    font-weight: normal!important;
}

ul{
  list-style: none;
}

a {
    color: #17CBB2;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #0E8070;
}

a:focus {
    outline: none;
}

embed,
iframe,
object,
video {
    max-width: 100%!important;
}

.top55 {
    margin-top: 55px;
}

.top30 {
    margin-top: 30px;
}

.no-bd {
    border-radius: 0;
}

.top50 {
    margin-top: 50px;
}

.top40 {
    margin-top: 40px;
}

.top60 {
    margin-top: 60px;
}

.top75 {
    margin-top: 75px;
}

.top0 {
    margin-top: 0px!important;
}

.top10 {
    margin-top: 10px;
}

.top20 {
    margin-top: 20px;
}

/*

  Basic Layout / Menu / Side Footer
  
======================================*/
.mk-header-branding {
    padding: 30px 0 30px;
}

.mk-mobile-branding {
    padding-left: 20px;
    display: none;
    color: #fff;
    font-size: 18px;
    margin: 13px 0;
}

.site-desc {
    padding: 0 30px 0 30px;
    font-size: 12px;
    font-style: italic!important;
  color: #dcdcdc;
}

@media(max-width:767px) {
    .mk-mobile-branding {
        display: block;
    };
}

#mk-main-wrapper {
    width: 100%;
}

#mk-page-wrapper {
    overflow: hidden;
    min-height: 568px;
    background-color: #fff;
}

#content {
    min-height: 600px;
    margin-bottom: 45px;
}

@media(min-width:768px) {
    #mk-page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
    };
}

.arrow {
    float: right;
    line-height: 1.42857;
}

.glyphicon.arrow:before {
    content: "\e079";
}

.active > a > .glyphicon.arrow:before {
    content: "\e114";
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.plus-times {
    float: right;
}

.fa.plus-times:before {
    content: "\f067";
}

.active > a > .fa.plus-times {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.plus-minus {
    float: right;
}

.fa.plus-minus:before {
    content: "\f067";
}

.active > a > .fa.plus-minus:before {
    content: "\f068";
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-toggle {
    border-color: #333;
}

.icon-bar {
    background-color: #fff;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
    line-height: 1.6;
}

.sidebar .fa.arrow:before {
    content: "\f104";
    content: "\f105";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #17CBB2;
    color: #ffffff;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: fixed;
        width: 250px;
        margin-top: 31px;
    }

    .sidebar-footer {
        position: fixed;
        bottom: 30px;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    };
}

.sidenav-search {
    margin-top: 40px;
}

@media(max-width:767px) {
    .sidebar-footer {
        display: none;
    }

    #header-outer,.sidenav-search {
        display: none;
    };
}

.sidebar ul li {
    border-bottom: 1px solid transparent;
    text-align: center;
    font-family: Arial, Sans-serif;
}

.sidebar ul li a {
    text-transform: uppercase;
    font-weight: 300!important;
    color: #939393;
    font-size: 13px;
}

.navbar-default {
    background: #222222;
}

.sidebar ul li a.active {
    background-color: #222;
}

.sidebar-footer a {
    color: #7F6D6A;
}

.sidebar-footer p {
    font-family: 'Open Sans Semibold',Arial, Sans-serif;
    font-size: 11px;
    color: #dcdcdc;
    padding: 0 20px 0 20px;
    text-shadow: 0;
    text-transform: uppercase;
}

.sb-social {
    margin-bottom: 20px;
}

.sb-social a {
    color: #999999;
    margin: 0 4px 0 4px;
}

.sb-social a:hover {
    color: #EA6452;
}

#header-outer {
    position: relative;
}

#level-nine-search-container {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 75px;
    position: fixed;
    display: none;
    z-index: 999990000;
    overflow: visible!important;
    background-color: #0AC8AD;
}

#level-nine-search-container input[type=search]::-webkit-input-placeholder{
  color: white!important;
  opacity: 1;
}

#level-nine-search-container input[type=search]:-moz-placeholder{
  color: white!important;
  opacity: 1;
}

#level-nine-search-container input[type=search]::-moz-placeholder{
  color: white!important;
  opacity: 1;
}

#level-nine-search-container input[type=search]::-ms-input-placeholder{
  color: white!important;
  opacity: 1;
}

#level-nine-search-container input[type=submit] {
    display: none;
    width: 0px;
}

#level-nine-search-container input[type=search] {
    width: 96%!important;
    margin: 0 0px 0 30px;
    color: white!important;
  opacity: 1!important;
    font-size: 33px;
    line-height: 54px!important;
    position: relative;
    padding: 10px 0 0 0!important;
    background-color: #0AC8AD;
    border: 0px;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -o-box-shadow: none!important;
    letter-spacing: 1px;
    display: block;
}

#level-nine-search-container #lnt-close-search-bar a {
    position: absolute;
    right: 40px;
    top: 28px;
    display: block;
    width: 24px;
    height: 17px;
    line-height: 22px;
    color: #fff;
    font-size: 44px;
}

#header-search {
    opacity: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

#header-search i.ss-search {
    float: left;
    font-size: 24px;
    padding-top: 7px;
    display: inline-block;
}

#header-search form {
    float: left;
    width: 80%;
}

#header-search input {
    background: transparent;
    border: 0;
    font-size: 24px;
    padding: 0 15px;
    margin: 0;
    width: 100%;
    line-height: 31px;
}

#header-search-close {
    float: right;
    font-size: 28px;
    padding: 10px;
    display: block;
}

#container {
    position: relative;
    z-index: 99;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-origin: 50% 1%;
    transform-origin: 50% 1%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.open-search {
    display: block;
}

#search-btn {
  display: block;
    position: relative;
  padding-top: 20px;
}

#search-btn:before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background: #363636;
    border-top: 1px solid #101010;
    left: 50%;
    margin-left: -30px;
    top: 0;
}

#search-btn i {
    font-size: 20px;
    color: #555555;
}

/*

Home slider

--------------------------------------------------------------*/
html,
body,
#wrapper,
#mk-mk-header-slider,
#mk-mk-header-slider,
#slide-items-container,
#page-wrapper {
    min-height: 100%;
}

#mk-mk-header-slider {
    position: relative;
    overflow: hidden;
}

#mk-mk-header-slider .slider,#mk-mk-header-slider .slides-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    z-index: 4;
}

#slide-items-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    z-index: 8;
}

.no-bd {
    border-radius: 0px;
}

.mk-slider-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    /*background: url(../images/overlay/1.png) repeat;*/
    opacity: .6;
}

.mkFlexSlider {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 6;
    width: 100%;
    min-height: 260px;
    padding-top: 5px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mk-header-slider {
    position: relative;
    max-width: 100%;
}

.slides-container .slideItem {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flexSlider .mainCaption,
  .flexSlider .subCaption {
    z-index: 10;
    color: #fff;
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.flexSlider .mainCaption {
    position: relative;
    display: inline-block;
    font-size: 34px;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: 700;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.flexSlider .subCaption {
    font-size: 18px;
    line-height: 28px;
    padding: 5px 0 50px;
    font-weight: 300;
}

@media only screen and (max-width: 767px) {
    
    .mkFlexSlider {
      min-height: 190px;
    }
    
}   

@media only screen and (max-width: 479px) {
    .mkFlexSlider {
      min-height: 190px;
    }
    .flexSlider .mainCaption {
      font-size: 20px;
        line-height: 30px;
        padding-bottom: 5px;
    }
    .flexSlider .subCaption {
        font-size: 12px;
        line-height: 24px;
        padding: 10px 0 24px;
    }
    .mk-header-slider {
      height: 370px !important;
    }
    .slider_img{
      top: -40px !important;
      height: 370px !important;
      width: 395px !important;
      margin: auto;
    }
  }

/*
  Blog / Homepage / Comments / SinglePost / Comments 
  
==================================================*/

.mk-blog-items-wrap {
    overflow: hidden;
}

.mk-blog-item {
    float: left;
    position: relative;
    width: 50%;
    padding-bottom: 50%;
}

.mk-blog-item-inner {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
}

@media(max-width: 767px) {
    .mk-blog-item {
        width: 100%;
        padding-bottom: 60%;
    };
}

.mk-blog-item img {
    display: block;
    position: absolute;
    max-width: 100%;
    height: auto;
    z-index: 6;
    top: 0;
    left: 0;
}

.post-link-btn {
    border: 2px solid #ffffff;
    padding: 6px 14px;
    border-radius: 2px;
    color: #dcdcdc;
    border-radius: 2px;
}

span.mk-post-format-icon {
    display: block;
    position: absolute;
    z-index: 22;
    display: block;
    right: 0;
    top: 0;
    width: 32px;
    text-align: center;
    line-height: 32px;
    color: white;
    height: 32px;
    background-color: Aqua;
} 

/*  social media icons */
.social-media-icons {
    list-style-type: none;
    margin: 0!important;
    padding: 0!important;
    height: 36px;
    font-family: Zocial;
    text-align: center;
}

.social-media-icons li {
    display: inline-block;
    background-color: rgba(0, 0, 0,.2);
    border-radius: 3px;
    text-align: center;
    width: 40px;
    height: 36px;
}

.social-media-icons li a {
    opacity: 1;
    display: block;
    background-repeat: no-repeat;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    color: #fff;
    line-height: 34px;
}

.mk-post-meta-2 {
    position: absolute;
    z-index: 24;
    bottom: 0;
    right: 50%;
    background: #24292F;
    color: #fff;
    padding: 20px;
    border-radius: 0 3px 0 0;
}

.mk-blog-post h3 {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
    margin-top: 0;
}

.mk-post-link {
    display: inline-block;
    margin-top: 15px;
    color: #dcdcdc;
}

.overlay {
    display: block;
    position: absolute;
    z-index: 20;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0px;
    opacity: 0;
    padding: 20px;
}

div .overlay h3 {
    margin-bottom: 20px;
}

div.expand {
    display: block;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 60px;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size: 15px;
}

.overlay div.expand {
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.mk-blog-item.hover {
    cursor: pointer;
}

.mk-blog-item.hover .overlay {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    background: rgb(0,0,0);
    background: transparent\9;
    background: rgba(0,0,0,0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
    zoom: 1;
}

.mk-blog-item.hover .overlay:nth-child(n) {
    filter: none;
}

div.mk-blog-item.post-4 .img .overlay div.expand {
    top: 50%;
    margin-top: -30px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

div.mk-blog-item.post-4  .img .overlay {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    background: rgb(0,0,0);
    background: transparent\9;
    background: rgba(0,0,0,0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
    zoom: 1;
}

.mk-blog-item.hover .overlay div.expand {
    top: 50%;
    margin-top: -30px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.mk-blog-item.hover .overlay div.expand {
    top: 50%;
    margin-top: -30px;
    opacity: 1;
}

.grid-pagination.pagination-wrapper {
    background: #232527;
    padding: 60px 0 60px;
}

.pagination-wrapper {
    width: 100%;
    text-align: center;
}

.pagination-wrapper.classic-pagination {
    padding: 0;
    background: transparent;
}

.mk-single-top {
    width: 100%;
    height: 280px;
    padding: 80px 0 0 0;
    margin: 0;
    color: #dcdcdc;
    position: relative;
    overflow: hidden;
}

.home .mk-single-top.header-grid {
    display: none;
}

.mk-header-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.custom-header-content,.post-meta {
    position: relative;
    z-index: 4;
}

.mk-single-top-overlay-mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -moz-opacity: .6;
    -khtml-opacity: .6;
    opacity: 1;
    background: rgb(0,0,0);
    background: transparent\6;
    background: rgba(0,0,0,0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
    zoom: 1;
    z-index: 2;
}

.mk-single-top h2 a {
    color: #CECBC9;
}

.mk-breadcrumbs {
    position: absolute;
    bottom: -20px;
    left: 20%;
    right: 20%;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 5;
    color: #f4f4f4;
    background: #0087D5;
}

.mk-breadcrumbs a {
    color: #dcdcdc;
}

/* Author profiles */
.author .archive-header {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}

.author-info {
    margin-top: 4px;
    border: 1px solid #ededed;
    padding: 40px;
    overflow: hidden;
    background: #f4f4f4;
}

.author-description h3 {
    margin-top: 0;
    margin-bottom: 7px;
    margin-bottom: 0.5rem;
}

.author-description {
    display: inline-block;
}

.author-description p {
    color: #757575;
    line-height: 1.5;
}

.author.archive .author-info {
    margin: 0 0 48px;
    margin: 0 0 3.428571429rem;
}

.author.archive .author-avatar {
    margin-top: 0;
    display: inline-block;
}

.archive.author .author-avatar img {
    width: 90px;
    height: 90px;
    border: 1px solid #e9e9e9;
    display: block;
}

/*
  quote post format
*/
.mk-quote-post-format {
    background: #0AC8AD;
    color: white;
}

.mk-quote-post-format blockquote {
    background: transparent;
    color: white;
    border: 0;
    position: absolute;
    top: 22%;
    left: 10%;
    right: 10%;
    font-size: 18px;
    font-family: 'Georgia','Times New Roman',serif;
    font-style: italic;
}

.mk-quote-post-format blockquote small {
    color: #f6f6f6;
    font-style: normal;
    font-family: sans-serif;
}

.mk-quote-post-format .more-link {
    display: none;
}

/*
  viseo post format
*/

.format-video {
    background-color: #262626;
}

.format-video video {
    display: inline-block;
}

.mk-video-post-format .wp-video {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 99;
}

.mk-video-post-format .mejs-controls {
    bottom: 20px!important;
    visibility: visible!important;
}

/*
  Format Audio
*/

.format-audio {
    background-color: #db572f;
    position: relative;
}

body.single-post .format-audio {
    background-color: transparent!important;
}

.single-post audio {
    display: block!important;
  visibility: visible!important;
  margin: 20px 0 20px!important;
}

/*
.format-audio:before {
    font-family: FontAwesome;
    position: absolute;
    content: "\f001";
    color: #fff;
    font-size: 60px;
    width: 60px;
    height: 60px;
    display: block;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -30px;
    z-index: 24;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
*/
.mk-blog-item.hover .social-media-icons {
    margin-top: 40px!important;
}

.mk-blog-item.hover.format-audio:before {
    display: none!important;
}

.mk-audio-post-format .mejs-controls {
    z-index: 99;
}

/*

  Social Sharing
  
*/

.simplesocial-box {
    border-bottom: 1px solid #e9e9e9;
    padding: 15px 0 15px 0;
}
/*

  Pagination
*/

div.pagination ul {
    padding: 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 0;
    margin-bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

div.pagination ul>li {
    display: inline;
}

div.pagination ul>li>a {
    color: #17CBB2;
}

div.pagination ul>li>a,.pagination ul>li>span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #2F3439;
    border: 1px solid rgba(0,0,0,.3);
    border-left-width: 0;
}

div.pagination ul>li>a:hover,.pagination ul>.current>a,.pagination ul>.current>span {
    color: #0E8070;
}

div.pagination span.current,.pagination ul>.current>span {
    color: #778491;
    cursor: default;
}

div.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover {
    color: aqua!important;
    background-color: transparent;
    cursor: default;
}

div.pagination ul>li:first-child>a,.pagination ul>li:first-child>span {
    border-left-width: 1px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}

div.pagination ul>li:last-child>a,.pagination ul>li:last-child>span {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

div.pagination-centered {
    text-align: center;
}

.wp-pagenavi {
    margin-bottom: 45px;
}

.wp-pagenavi span.pages {
}

.wp-pagenavi a, .wp-pagenavi span {
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 4px 6px;
    margin: 2px;
    border-radius: 3px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
    background-color: #f5f5f5;
    border: 1px solid #CCD7E2;
}

.wp-pagenavi a:hover {
    color: #FF8000;
    border: 1px solid #FF8000;
}

.wp-pagenavi span.current {
    font-weight: bold;
}

/*

  QuotePost Format

*/

article.quote-post-format blockquote {
    border: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-style: Georgia, serif;
    font-style: italic;
}

article.quote-post-format blockquote small {
    margin-top: 20px;
}



/*

  Gallery Post
  
*/

div._latest_posts_pagination {
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 666;
    width: 84px;
    height: 35px;
}

div._latest_posts_pagination span {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 32px;
    background: #13B3A9;
    background: rgba(10, 200, 173,.6);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    color: #fff;
    margin: 0 1px 0 1px;
    padding: 0;
    display: inline-block;
    border-radius: 2px;
}

div._latest_posts_pagination span:hover {
    cursor: pointer;
    background: #EA6452;
    background: rgba(234, 100, 82,.6);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.gallery-slideshow div.blog-gal-prev,.gallery-slideshow div.blog-gal-next {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 40px;
    background: rgba(10, 200, 173,.6);
    z-index: 20000;
    margin-top: -20px;
    text-align: center;
}

.gallery-slideshow div.blog-gal-prev:hover,.gallery-slideshow div.blog-gal-next:hover {
    cursor: pointer;
}

.gallery-slideshow div.blog-gal-prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.gallery-slideshow div.blog-gal-prev:before,.gallery-slideshow div.blog-gal-next:before {
    font-family: FontAwesome;
    position: absolute;
    color: white;
    font-size: 26px;
    line-height: 40px;
}

.gallery-slideshow div.blog-gal-prev:before {
    left: 10px;
    content: "\f104";
}

.gallery-slideshow div.blog-gal-next:before {
    right: 10px;
    content: "\f105";
}

.gallery-slideshow div.blog-gal-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.gallery-slideshow {
    margin: 0;
    padding: 0;
}

.gallery-slideshow li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-weight: bold;
}

div.mk-sigle-post .post-nav-links ul {
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0!important;
}

div.mk-sigle-post .post-nav-links li {
    width: 100%;
    text-align: center;
    position: relative;
    background: #FAFAFA;
}

div.mk-sigle-post .post-nav-links li a {
    display: block;
    padding: 15px 0px 15px 0px;
}

div.mk-sigle-post .post-nav-links li.post-nav-previous {
    border: 1px solid #EEE;
    margin-top: 1px;
}

div.mk-sigle-post .post-nav-links li.post-nav-next {
    border: 1px solid #EEE;
    margin-top: 10px;
}

div.mk-sigle-post .post-nav-links li i {
    color: #ccc;
    font-size: 18px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

div.mk-sigle-post .post-nav-links li.post-nav-previous i {
    left: 10px;
}

div.mk-sigle-post .post-nav-links li.post-nav-next i {
    right: 10px;
}

div.mk-sigle-post .post-nav-links li a:hover {
    background: #ebebeb;
    background: rgba(0,0,0,0.02);
}

div.mk-sigle-post .post-nav-links li:hover {
    background: #0AC8AD;
    border-color: #0AC8AD;
}

div.mk-sigle-post .post-nav-links li:hover a {
    color: #fff;
}

.single-article-content img,.single-article-content a img {
    width: 100%;
    height: auto;
}

body.single-post .hentry:before,
body.single-post .hentry:after {
    display: table;
    content: " ";
}

body.single-post .hentry {
    margin-bottom: 30px;
}

.mk-sticky-post {
    position: absolute;
    display: block;
    top: -1px;
    background-color: #17CBB2;
    color: #fff;
    padding: 4px 10px;
    z-index: 8;
}

/*

Comments


*/

#comments {
    margin-top: 60px;
}

@media (max-width: 767px) {
    #comments {
        margin-top: 30px;
    };
}

h2.comments-title {
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 24px;
}

#comments h3,
#comment-leave h3 {
    color: #0AC8AD;
    margin-bottom: 20px;
}

/*

*/

.single-article-content article {
    border: 1px solid #eee;
    background: #fbfbfb;
    padding: 40px;
    margin-bottom: 45px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.single-article-content article img {
    margin: 20px 0 20px;
    border-radius: 3px;
}

.single-article-content article .page-lead {
    color: #42A3D1;
    font-size: 16px;
    border-left: 4px solid rgba(149, 162, 199,.2);
    padding: 6px 15px 6px 15px;
    background: #f6f6f6;
}

#comments ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

#comments ol article {
    margin-bottom: 25px;
    padding: 30px;
    position: relative;
    border: 1px solid #eee;
    background: #ffffff;
    border-radius: 3px;
}

#comments .bypostauthor >article {
    background: #FBFBFB;
    border-radius: 0 3px 3px 0;
    border-left: 5px solid #17CBB2;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}

#comments ol article .comment-reply-link {
    position: absolute;
    bottom: 20px;
    right: 30px;
    padding: 2px 6px 2px 6px;
    border-radius: 3px;
}

.comment-metadata time {
    position: absolute;
    bottom: 20px;
    left: 30px;
}

#comments .comment-content {
    margin-bottom: 36px;
    position: relative!important;
    padding: 20px 0 20px;
}

#comments .comment-content:before {
    display: block;
    content: ""!important;
    position: absolute!important;
    height: 1px!important;
    top: 0;
    left: -30px;
    z-index: 90;
    right: -30px;
    height: 1px!important;
    border-top: 1px solid #EDEFED!important;
    background: red!important;
}

.comment-awaiting-moderation {
    font-size: 12px;
    color: #b4b4b4;
}

#comments ol article .comment-content:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    bottom: 0;
    left: -30px;
    right: -30px;
    border-top: 1px solid #EDEFED;
}

.comment-author.vcard {
    position: relative;
    margin-bottom: 15px;
}

.comment-author.vcard .fn {
    padding-left: 50px;
}

.comment-author.vcard img {
    display: block;
    position: absolute;
    left: 0px;
    top: -10px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #e9e9e9;
}

#comments ol ol {
    margin-left: 20px;
}

#comments ul ul {
    margin-left: 20px;
}

#respond {
    margin: 85px 0 25px 0;
    padding: 20px 40px 45px 40px;
    position: relative;
    border: 1px solid #eee;
    background: #ffffff;
    border-radius: 3px;
    overflow: hidden;
}

#commentform input[type="text"] ,
#commentform input[type="email"],
#commentform input[type="url"] {
    margin: 0 !important;
    background: #FBFBFB;
    border: 1px solid #E4E4E4;
    font-family: arial;
    color: #878787;
    height: 38px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: block;
    width: 70.5%;
    padding: 0 0 0 20px !important;
    transition: border 0.6s linear;
    -moz-transition: border 0.6s linear;
    -webkit-transition: border 0.6s linear;
    -o-transition: border 0.6s linear;
}

#commentform input[type="text"]:last-child {
    margin-right: 0px!important;
}

#commentform input[type="text"]:focus ,
#commentform input[type="text"]:hover ,
#commentform input[type="email"]:focus,
#commentform input[type="email"]:hover,
#commentform input[type="url"]:focus,
#commentform textarea:hover,
#commentform textarea:focus,
#commentform input[type="url"]:hover {
    border: 1px solid #0E8070;
}

#contact label,
#commentform label {
    display: block;
    margin: 20px 0 10px;
}

#commentform textarea {
    clear: both;
    background: #FBFBFB;
    border: 3px solid #EAECEE;
    color: #878787;
    width: 70.5%;
    height: 160px;
    padding: 20px;
    font-family: arial;
    transition: border 0.6s linear;
    -moz-transition: border 0.6s linear;
    -webkit-transition: border 0.6s linear;
    -o-transition: border 0.6s linear;
}

#contact-form,
#commentform {
    width: 100%;
}

#contact-form > div {
    position: relative;
}

p.form-allowed-tags {
    display: none;
}

#commentform input[type="submit"] {
    float: left;
    font-family: arial;
    margin: 30px 15px 0 0;
    font-size: 12px;
    background: #0AC8AD;
    color: #fff;
    border: none;
    padding: 10px 25px 8px;
    transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
}

#contact input[type="submit"]:hover,
#commentform input[type="submit"]:hover {
    background: #0E8070;
}

#contact .message,
#commentform .message {
    float: left;
    height: 30px;
    font-size: 12px;
}

#contact .message.error,
#commentform .message.error {
    color: #eb2c06;
}

#contact .message.success,
#commentform .message.success {
    color: #7da817;
}

@media (max-width: 767px) {
    #comments-list li ul {
        margin: 0!important;
        padding-left: 0;
    };
}

/*
  pages
*/

header.page-header {
    border: 0px;
    padding: 0px;
}

header.page-header h1 {
    padding-left: 20px;
    font-size: 18px;
}

body.error404 header.page-header h1 {
    padding-left: 0px;
}

.mk-search-results header.page-header h1 {
    padding-left: 0px;
    font-size: 18px;
}

div.pagination ul>li>a {
    color: #17CBB2;
}

.pagination-wrapper.classic-pagination div.pagination ul>li>a,
.mk-search-results div.pagination ul>li>a,.pagination ul>li>span {
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.mk-search-results div.pagination ul>.current>a,.pagination ul>.active>span {
    color: #bababa;
}

div.pagination ul>li>a:hover,.pagination ul>.current>a,.pagination ul>.current>span {
    color: #23527C;
}

div.pagination span.current,.pagination ul>.current>span {
    cursor: default;
}

._page-404 input[type="search"] {
    box-sizing: border-box;
    border: 1px solid #cccccc;
    padding: 2px 0 3px 12px;
}

div.mk-archives article {
    border: 1px solid #eeeeee;
    background: #ffffff;
    padding: 40px 40px 30px 40px;
    margin-bottom: 45px;
    border-radius: 3px;
    overflow: hidden;
    color: #555555;
    position: relative;
}

@media(max-width:767px) {
    div.content {
        margin-left: 20px;
        margin-right: 20px;
    };
}

div.mk-archives article header .entry-title {
    display: inline-block;
    margin: 0px 0px 10px;
    padding: 0px;
    font: 500 28px/35px Arial,sans-serif;
    text-decoration: none;
    vertical-align: middle;
    color: rgb(107, 119, 132);
    transition-property: color;
    transition-duration: 0.3s;
}

div.mk-archives article header .entry-title a {
    color: #34495E;
}

div.mk-archives article footer {
    position: relative;
    margin-top: 30px;
    padding: 30px 0 0 0;
}

div.mk-archives article footer .row {
    position: relative;
    z-index: 10;
}

div.mk-archives article footer:before {
    content: '';
    position: absolute;
    border-top: 1px solid #eeeeee;
    left: -45px;
    right: -45px;
    top: 0;
    bottom: 0;
    z-index: 1;
}

div.mk-archives .pagination-wrap {
    margin-left: 42px;
}

div.mk-archives  article.format-quote {
    border-radius: 0px;
    border: 0px;
    border-left: 5px solid #9DE5DB;
    background: #f6f6f6;
    margin-left: 42px;
}

@media (max-width: 767px) {
    div.mk-archives  article.format-quote {
        margin-left: 0px;
    };
}

div.mk-archives article.format-quote blockquote {
    border: 0px;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

div.mk-archives article.format-quote .more-link {
    display: none;
}

div.mk-archives .format-audio:before {
    display: none;
}

/*

  Footer Settings
  
*/

footer#site-footer {
    background: #262626;
    color: #777;
    position: relative;
    padding: 45px 20px 65px 20px;
}

footer#site-footer a {
    color: #777;
}

footer#site-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer#site-footer aside {
    margin-bottom: 45px;
}

div.siteinfo {
    vertical-align: bottom;
    padding: 20px 0 20px 0;
    background: #222222;
    margin-top: 45px;
    font-size: 13px;
    border-top: 1px solid #1F1F1F;
}

footer#site-footer aside.widget_recent_entries li {
    padding: 6px 0;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px dotted #333!important;
}

footer#site-footer aside.widget_recent_entries li:last-child {
    border-bottom: 0px;
}

input[type="submit"] {
    background: #17CBB2;
    color: #fff;
    cursor: pointer;
    height: auto;
    overflow: visible;
    padding: 3px 20px 4px 20px;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
    width: auto;
    border: 0;
    border: 0px;
}

#site-footer input[type="submit"] {
    display: block;
}

#site-footer .search-form,.subscribe {
    background: #1e2223;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding-left: 6px;
    padding-bottom: 6px;
    line-height: 18px;
}

#site-footer input[type="search"],.sub-text {
    width: 135px;
    float: left;
    margin: 5px 0 0 5px;
    border: none;
    background: none;
    color: #9d9d9d;
}

#site-footer input[type="submit"],input.sub-button {
    float: right;
    height: 30px;
    margin: auto;
    padding: 5px 14px 6px 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
} 

/*
  Social Widget - Color 
*/

.level9-social-widget-color ul {
    list-style: none;
}

.level9-social-widget-color ul li {
    margin: 0;
    padding: 0;
    border: none;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.level9-social-widget-color ul li a {
    font-family: Zocial;
    background: #444;
    display: block;
    height: 30px;
    line-height: 30px;
    width: 30px;
    border-radius: 3px;
    text-align: center;
    font-size: 1.077em;
    color: #fff !important;
}

.level9-social-widget-color a:hover {
    opacity: 0.7;
}

.level9-social-widget-color .social-widget-twitter a {
    background: #55ACCE;
}

.level9-social-widget-color .social-widget-dribbble a {
    background: #ea4c89;
}

.level9-social-widget-color .social-widget-facebook a {
    background: #3b5998;
}

.level9-social-widget-color .social-widget-youtube-play a {
    background: #C4302B;
}

.level9-social-widget-color .social-widget-flickr a {
    background: #FF0084;
}

.level9-social-widget-color .social-widget-vk a {
    background: #55779b;
}

.level9-social-widget-color .social-widget-tumblr a {
    background: #2C4762;
}

.level9-social-widget-color .social-widget-google-plus a {
    background: #DD4B39;
}

.level9-social-widget-color .social-widget-youtube-play a {
    background: #C4302B;
}

.level9-social-widget-color .social-widget-skype a {
    background: #00AFF0;
}

.level9-social-widget-color .social-widget-rss a {
    background: #FF7900;
}

.level9-social-widget-color .social-widget-instagram a {
    background: #3F729B;
}

.level9-social-widget-color .social-widget-linkedin a {
    background: #3399CC;
}

.level9-social-widget-color .social-widget-pinterest a {
    background: #CB2027;
}

div.siteinfo p {
    margin: 0;
}

h2.footer-branding {
    margin: 0;
    color: #fff;
}

footer#site-footer p.about-text {
    margin-top: 25px;
}

footer#site-footer h3.widget-title {
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    margin: 0px 0px 20px 0;
}

ul#footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul#footer-menu li {
    display: inline-block;
    margin: 0 12px 0 12px;
}

ul#footer-menu li:last-child {
    margin-right: 0;
}

ul#footer-menu li a {
    color: #777777;
}
  
  