#tab_contact_form
  .col-md-12
    / BEGIN PAGE TITLE &amp; BREADCRUMB
    %h4.page-title
      Contact Form Notification
      %small Do reply to our patients

  .col-md-12
    #tab_images{style: "background-color: white"}  
      %table.table.table-bordered.table-hover
        %thead
          %tr.heading{:role => "row"}
            %th{:width => "5%"}
              = "#id"
            %th{:width => "8%"}
              Name
            %th{:width => "8%"}
              Email
            %th{:width => "10%"}
              Phone
            %th{:widthSort => "8%"}
              Priority
            %th{:width => "10%"}
              Existing Patient
            %th{:width => "15%"}
              Message
            %th{:width => "10%"}
              Created at
            %th{:width => "20%"}
              Reply
        %tbody
          - @contact_forms.each_with_index do |contact_form, index|
            %tr
              %td
                %label
                  -if params[:page].to_i>1 
                    = "#{@contact_forms.per_page*(params[:page].to_i-1)+index+1}"
                  -else
                    = "#{index+1}"
              %td
                %label
                  = contact_form.name
              %td
                %label
                  = contact_form.email.present? ? contact_form.email : "N/A"
              %td
                %label
                  = contact_form.phone_number.present? ? contact_form.phone_number : "N/A"
              %td
                %label
                  = contact_form.priority.present? ? contact_form.priority : "N/A"
              %td
                %label
                  = contact_form.existing.present? ? contact_form.existing : "N/A"
              %td
                %label
                  = contact_form.comment.present? ? contact_form.comment : "N/A"
              %td
                %label
                  = contact_form.created_at.to_date
              %td
                -if contact_form.notification_method == 1
                  %a.btn.default.btn-sm{"data-toggle"=> "modal", :href => "#contact-form-email-modal#{index}"}
                    Email
                -elsif contact_form.notification_method == 2
                  %a.btn.default.btn-sm{"data-toggle"=> "modal", :href => "#contact-form-sms-modal#{index}"}
                    SMS
                -else
                  %a.btn.default.btn-sm{"data-toggle"=> "modal", :href => "#contact-form-both-modal#{index}"}
                    Both
                = render :partial => "/contact_forms/reply_modal_boxes", :locals => { :index => index, :contact_form => contact_form, :type => "ContactForm"} 
          = will_paginate @contact_forms, :'data-url'=>"/contact_forms", :'data-type'=>"contact_forms" if @contact_forms.present?