-if type == "ContactForm"
  -if contact_form.try(:notification_method) == 1
    .modal.fade{"data-backdrop" => "static", "data-keyboard" => "false", :tabindex => "-1", id: "contact-form-email-modal#{index}"}
      .modal-dialog
        .modal-content
          .modal-header
            %h4
              Reply
          = form_for :email_reply, url: reply_contact_form_path(contact_form.id) do |f|
            .modal-body
              Previous Replies
              - logs = contact_form.logs.select{|x| x.log_type == "email"}
              %div{style: "max-height: 250px; overflow-y: auto; margin-bottom: 20px;" }
                - logs.each do |log|
                  %p
                    = "#{log.action}: #{log.message}"
              
              %p
                = f.text_field :email,value: contact_form.email, class: "form-control", readonly: true
                = f.hidden_field :reply_with, :value => "email"
                = f.text_area :message, class: "form-control", rows: 5, placeholder: "Write your message here.."
            .modal-footer
              %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
              = f.submit :Send, class: "btn btn-sm green"
  -elsif contact_form.try(:notification_method) == 2
    .modal.fade{"data-backdrop" => "static", "data-keyboard" => "false", :tabindex => "-1", id: "contact-form-sms-modal#{index}"}
      .modal-dialog
        .modal-content
          .modal-header
            %h4
              Reply
          = form_for :email_reply, url: reply_contact_form_path(contact_form.id) do |f|
            .modal-body
              Previous Replies
              - logs = contact_form.logs.select{|x| x.log_type == "sms"}
              %div{style: "max-height: 250px; overflow-y: auto; margin-bottom: 20px;"}
                - logs.each do |log|
                  %p
                    = "#{log.action}: #{log.message}"
              %p
                -unless contact_form.try(:name).present?
                  - unless contact_form.try(:patient_id).present?
                    - @patient = Patient.where(phone: contact_form.try(:phone_number)).first
                    - name = @patient.present? ? @patient.name : contact_form.try(:phone_number)
                  - else
                    - name = contact_form.try(:patient).try(:name)
                -else
                  - name = contact_form.try(:name)
                = f.text_field :phone_number, value: name, class: "form-control", readonly: true
                = f.hidden_field :reply_with, :value => "sms"
                = f.text_area :message, class: "form-control", rows: 5, placeholder: "Write your message here.."
            .modal-footer
              %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
              = f.submit :Send, class: "btn btn-sm green"
  -else
    .modal.fade{"data-backdrop" => "static", "data-keyboard" => "false", :tabindex => "-1", id: "contact-form-both-modal#{index}"}
      .modal-dialog
        .modal-content
          .modal-header
            %h4
              Reply
          = form_for :email_reply, url: reply_contact_form_path(contact_form.id) do |f|
            .modal-body
              Previous Replies
              %div{style: "max-height: 250px; overflow-y: auto; margin-bottom: 20px;"}
                - contact_form.logs.each do |log|
                  %p
                    = "#{log.log_type}: #{log.action}: #{log.message}"

              %p
                = f.text_area :message, class: "form-control", rows: 5, placeholder: "Write your message here.."
            .modal-footer
              %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
              = f.submit :Send, class: "btn btn-sm green"
-elsif type == "TwilioWebhook"
  .modal.fade{"data-backdrop" => "static", "data-keyboard" => "false", :tabindex => "-1", id: "reply-sms-modal#{index}"}
    .modal-dialog
      .modal-content
        %div{:id => "reply_modal_#{twilio_webhook.id}"}
          =render :partial => '/contact_forms/send_reply_message', :locals => {:twilio_webhook => twilio_webhook}
