- @patient = Patient.where(phone: twilio_webhook.from).first
- name = @patient.present? ? @patient.name : twilio_webhook.from
- receiver = twilio_webhook.logs.where(action: "recive").last.try(:notification).try(:patient).present? ? twilio_webhook.logs.where(action: "recive").last.notification.patient.try(:name) : name
.modal-header
  %h4
    = "Message From #{receiver}"
= form_for :sms_reply, url: send_message_twilio_webhook_path(twilio_webhook.id), remote: true, html: {method: :post} do |f|
  .modal-body
    %div{style: "max-height: 250px; overflow-y: auto; margin-bottom: 20px;"}
      -logs = TwilioWebhook.where(from: twilio_webhook.from).map(&:logs)
      - rply_log = [] 
      - logs.each do |message_log|
        - message_log.order("created_at ASC").each do |log|
          - rply_log << log
      - rply_message = rply_log.sort_by{|e| e[:created_at]}   
      - rply_message.each do |log|
        %p
          %a{:href => doctor_patient_profile_path(:patient_id => Patient.where(phone: twilio_webhook.from).first),:class=>'anchor_style', :style => "color: black;"}
            =" #{log.updated_at.strftime("%m/%d/%Y at %I:%M%p")}"
            %i.fa.fa-user
            = "#{log.action == 'recive' ? receiver : log.organisation.company_name}: #{log.message}"    
    %p
      =# f.label receiver, class: "form-control"
      = f.text_area :message, class: "form-control", rows: 5, placeholder: "Write your message here.."
  .modal-footer
    %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Close
    = f.submit :Send, class: "btn btn-sm green"