.top20
.row
  .col-md-12
    -unless (params["wordpress_login"].present? && params["wordpress_login"] == "true")
      / Google Map
      -#.row
        %iframe{:frameborder => "0", :height => "400px", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3593.261584698569!2d-80.191035!3d25.761922000000002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b6816f200f7f%3A0xa3023420f20056c3!2sEyetrust+Vision+of+Brickell!5e0!3m2!1sen!2sus!4v1428942744764", :width => "100%"}
      .row.margin-bottom-20
        .col-md-6
          .space20
          %h3.form-section Contacts
          %p
            We strive to meet each patient’s individual needs with attention to detail to ensure customer satisfaction.
          .well
            %h4 Address
            %address
              %strong Eyetrust Vision of Brickell
              %br
                1201 Brickell Ave #300
                %br
                  SMiami, FL 33131, United States
                  %br
                    %abbr{:title => "Phone"} P:
                    (305) 587-9898
            %address
              %strong Email
              %br
                %a{:href => "mailto:#"}
                  eyetrustvision@gmail.com
            %ul.social-icons.margin-bottom-10
              %li
                %a.facebook{"data-original-title" => "facebook", :href => "#"}
              %li
                %a.github{"data-original-title" => "github", :href => "#"}
              %li
                %a.googleplus{"data-original-title" => "Goole Plus", :href => "#"}
              %li
                %a.linkedin{"data-original-title" => "linkedin", :href => "#"}
              %li
                %a.rss{"data-original-title" => "rss", :href => "#"}
              %li
                %a.skype{"data-original-title" => "skype", :href => "#"}
              %li
                %a.twitter{"data-original-title" => "twitter", :href => "#"}
              %li
                %a.youtube{"data-original-title" => "youtube", :href => "#"}
        .col-md-6
          .space20
          / BEGIN FORM
          - @contact_form = @contact_form.present? ? @contact_form : ContactForm.new
          = form_for @contact_form do |f|
            %h3.form-section Contact Form
            %p
              %strong Most messages will be answered within 1 business day.
              %br
              Please fill out the form today for inquires of eye exams, eyeglasses, contact lenses, sunglasses, prescriptions and other information pertaining to our office. We take pride in our optometrist office in Miami and want to make your experience going to the eye doctor and easy and pleasurable one.  Please note with your are traveling from Downtown Miami, Miami Beach, South Beach, Coral Gables, Coconut Grove, Key Biscayne, and other outside area please find our Valet Parking on SE 12 street and the Colonnade Building Entrance.

            .form-group
              .input-icon
                %label
                  Name
                %span.error *
                %i.fa.fa-user
                = f.text_field :name, class: "form-control", placeholder: "First Last"             
            .form-group
              %label
                Email
              %span.error *
              .input-icon
                %i.fa.fa-envelope
                = f.text_field :email, class: "form-control", placeholder: "email@domain.com"
            .form-group
              %label
                Phone Number
              %span.error *
              = text_field_tag  "tel_input", nil, class:"form-control tel-input"
              = f.hidden_field :phone_number
            .form-group
              %label
                Comment
              %span.error *
              = f.text_area :comment, class: "form-control", placeholder: "The reson for your contact", rows: "3=6"
              
            .form-group
              %label
                Priority
              %span.error *
              = f.select :priority, ["Low", "Normal", "Urgent"], {}, class: "form-control"
              
            .form-group
              %label    
                Existing Patient
              %span.error *
              %br
              %input{:name => "contact_form[existing]", :type => "radio", value: 1} Yes
              %input{:name => "contact_form[existing]", :type => "radio", value: 0} No 
            
            .form-group
              %label
                Preference of contact
              %br
              .col-md-3
                - email_notification_method = (f.object.notification_method == 1 ? true : false)
                %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Email", :name => "contact_form[notification_method]", :style => "-webkit-user-select: text;", :type => "radio", :value => "1", :checked => email_notification_method}
              .col-md-5 
                - text_notification_method = (f.object.notification_method == 2 ? true : false)                   
                %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Text Message", :name => "contact_form[notification_method]", :style => "-webkit-user-select: text;", :type => "radio", :value => "2" , :checked => text_notification_method}
              .col-md-3
                - both_notification_method = (f.object.notification_method == 3 ? true : false)                  
                %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Both", :name => "contact_form[notification_method]", :style => "-webkit-user-select: text;", :type => "radio", :value => "3", :checked => both_notification_method}
              %br
              %br
            
            .form-group
              %button.btn.btn-primary{:type => "submit"} Submit 
    - else
      .col-md-10
        / BEGIN FORM
        - @contact_form = @contact_form.present? ? @contact_form : ContactForm.new
        = form_for @contact_form do |f|
          %h3.form-section Contact Form
          %p
            %strong Most messages will be answered within 1 business day.
            %br
            Please fill out the form today for inquires of eye exams, eyeglasses, contact lenses, sunglasses, prescriptions and other information pertaining to our office. We take pride in our optometrist office in Miami and want to make your experience going to the eye doctor and easy and pleasurable one.  Please note with your are traveling from Downtown Miami, Miami Beach, South Beach, Coral Gables, Coconut Grove, Key Biscayne, and other outside area please find our Valet Parking on SE 12 street and the Colonnade Building Entrance.
          .col-md-6
            .form-group
              .input-icon
                %label
                  Name
                %span.error *
                %i.fa.fa-user
                = f.text_field :name, class: "form-control", placeholder: "First Last"             
            .form-group
              %label
                Email
              %span.error *
              .input-icon
                %i.fa.fa-envelope
                = f.text_field :email, class: "form-control", placeholder: "email@domain.com"
            .form-group
              %label
                Phone Number
              %span.error *
              = text_field_tag  "tel_input", nil, class:"form-control tel-input"
              = f.hidden_field :phone_number
            .form-group
              %label
                Comment
              %span.error *
              = f.text_area :comment, class: "form-control", placeholder: "The reson for your contact", rows: "3=6"
              
            .form-group
              %label
                Priority
              %span.error *
              = f.select :priority, ["Low", "Normal", "Urgent"], {}, class: "form-control"
              
            .form-group
              %label    
                Existing Patient
              %span.error *
              %br
              %input{:name => "contact_form[existing]", :type => "radio", value: 1} Yes
              %input{:name => "contact_form[existing]", :type => "radio", value: 0} No 
            
            .form-group
              %label
                Preference of contact
              %br
              .col-md-3
                - email_notification_method = (f.object.notification_method == 1 ? true : false)
                %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Email", :name => "contact_form[notification_method]", :style => "-webkit-user-select: text;", :type => "radio", :value => "1", :checked => email_notification_method}
              .col-md-5 
                - text_notification_method = (f.object.notification_method == 2 ? true : false)                   
                %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Text Message", :name => "contact_form[notification_method]", :style => "-webkit-user-select: text;", :type => "radio", :value => "2" , :checked => text_notification_method}
              .col-md-3
                - both_notification_method = (f.object.notification_method == 3 ? true : false)                  
                %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Both", :name => "contact_form[notification_method]", :style => "-webkit-user-select: text;", :type => "radio", :value => "3", :checked => both_notification_method}
              %br
              %br
            
            .form-group
              %button.btn.btn-primary{:type => "submit"} Submit

          
        / END FORM
        / END PAGE CONTENT
    / END CONTENT
    
  / END CONTAINER

:javascript
  jQuery(document).ready(function() { 
    contactFormValidation();
  });
/ END JAVASCRIPTS
/ END BODY