%div{style: "background: aliceblue"}
  %table{style: "width:100%; padding:0 40px"}    
    %tr
      %td
        -if @store.present?
          Kind Regards,
          %br
          = @store.description
          %br
          -if @store.try(:office_address).try(:full_addr_for_reports).present?
            #{@store.office_address.full_addr_for_reports}
          %br
          %abbr{:title => "Email"}
          #{@store.try(:contact_email)}
          %br
          - if @store.phone_number.present?
            = "P: #{number_to_phone(@store.phone_number.to_s[2..-1].to_i, area_code: true)}" 
            %br
          - if @store.fax.present?  
            = "F: #{@store.fax}"
    %tr
      %td{style: "text-align: center"}
        = "Copyright © #{Time.now.year} #{@patient.try(:organisation).try(:company_name)}"
        - url = @store.present? ? @store.url : " "
        %a{ :href => "#{url}"}
          = url
    %tr
      %td{:align => "center"}            
        - socials = ['facebook','twitter','linked_in','youtube','pintrest','google','instagram']
        - socials.each do |name|
          -if @store.present? && @store.send("#{name}_url").present?
            = link_to image_tag("admin/pages/media/email/social_#{name}.png"), @store.send("#{name}_url")
            &nbsp;
          -elsif @patient.try(:organisation).present? && @patient.try(:organisation).send("#{name}_url").present?
            = link_to image_tag("admin/pages/media/email/social_#{name}.png"), @patient.try(:organisation).send("#{name}_url")
            &nbsp;
                 
             