%div{style: "background: aliceblue"}  
  %table{:align => "center"}
    %tr
      %td
        -if @store.present? && @store.try(:logo).present?
          = image_tag @store.logo.url(:thumb), :style=>"width:160px;height:50px;"
        -elsif @patient.present? && @patient.try(:organisation).try(:avatar).present?
          = image_tag @patient.try(:organisation).avatar.url(:thumb), :style=>"width:160px;height:50px;"
        -else
          - attachments.inline['Eyetrust_Vision_Logo.png'] = File.read(Rails.root.join("public","images", "Eyetrust_Vision_Logo.png"))
          = image_tag(attachments['Eyetrust_Vision_Logo.png'].url, :style=>"width:160px;height:50px;")
