!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Organisation request email
    %meta{:content => "width=device-width", :name => "viewport"}/
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            %table{:align => "center"}
              %tr
                %td
                  %h4
                    = "Hi #{@owner.try(:name)},"
                  %h4
                    Welcome to the iTrust community!
                    %br
                    Within the next 24 hours we will review your request for the details below:
                  %h4
                    = "#{@organisation.company_name}"
                    %br
                    "powered by itrust.io"
                  %h4
                    - url = @store.present? ? @store.url : "http://itrust.io"
                  %table
                    %tr
                      %td
                        %h4
                          If something else went wrong please contact us
                        %p
                          %b
                            %span
                              Thanks,
                              %br
                              Practice Managers
                      %td
            = render "/app_mailer/footer"          
