!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Contact Form
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"

            %table{:align => "center"}
              %tr
                %td
                  %h4
                    = "Hi #{@contact_form.name},"
                  %h4
                    = "Thank you for conacting us. #{@contact_form.organisation.company_name} supported by Itrust Vision!"
                  %p
                    = "Your Query: #{@contact_form.comment}"
                  %p
                    = "Reply: #{@message}"
                  - if @patient.present?
                    %p
                      For your profile direct access click link below.
                    %table{:style => "margin-bottom: 10px"}
                      %tr
                        %td
                          = link_to root_url(patient_email: @patient.email, authentication_token: @patient.authentication_token), root_url(patient_email: @patient.email, authentication_token: @patient.authentication_token)
                        %td
                  - else
                    %p
                      You are not registered user. If you want to register for appointment please follow the link.
                    %table{:style => "margin-bottom: 10px"}
                      %tr
                        %td
                          = link_to new_pat_registration_url(subdomain: @contact_form.organisation.domain_name), new_pat_registration_url(subdomain:  @contact_form.organisation.domain_name)
                          
                        %td
                  %p
                    If clicking the URL above does not work, copy and paste the URL into a browser window or feel free to contact us.
                 
            = render "/app_mailer/footer" if @patient.present?
