!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Contact Form Details
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"

            %table{:align => "center"}
              %tr
                %td
                  %h4
                    = "Hi Doctor,"
                  %h4
                    = "Following is the details of contact form request"
                  %p
                    = "Name: " + @contact_form.name
                    %br
                    = "Email: " + @contact_form.email
                    %br
                    = "Phone Number: " + @contact_form.phone_number
                    %br
                    = "Comment: " + @contact_form.comment
                    %br
                    - if @contact_form.notification_method == 1
                      -  preference = "Email"
                    - elsif @contact_form.notification_method == 2
                      -  preference = "Text Message"
                    -else
                      -  preference = "Email and Text Message"
                    = "Preference of contact: " +  preference