!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Re-Newed Order ready to dispense
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            %table{:align => "center"}
              %tr
                %td            
                  %h4
                    = "Hi #{@patient.name},"
                  %h4 
                    = "Thank you for being a valuable customer at #{@favourite_order.doctor.store.description}!"
                  %p
                    This notification is to inform you that your
                    = @joint_resource.is_family_member? ? "re-newed order of your family member named #{@joint_resource.member.name} is ready for pick up" : "re-newed order is ready to be dispensed !!" 
                  %p
                    = "If you have any question please reply to this message , or call us at  #{number_to_phone(@favourite_order.doctor.store.phone_number.to_s[2..-1].to_i, area_code: true)}"
                  %table{:style => "margin-bottom: 10px"}
                    - working_schedule = @favourite_order.doctor.store.working_schedule
                    %tr
                      %td{:colspan => 3}
                        Office Schedule:
                    %tr
                      %td
                        Monday  - 
                      -if working_schedule.monday_start_time.present? && working_schedule.monday_end_time.present? && working_schedule.working_day?(Date.today.monday)
                        %td
                          #{working_schedule.try(:monday_start_time).strftime('%I:%M%p')} to
                        %td #{working_schedule.try(:monday_end_time).strftime('%I:%M%p')}
                      -else
                        %td{:colspan => 2} Closed
                    %tr
                      %td
                        Tuesday  - 
                      -if working_schedule.tuesday_start_time.present? && working_schedule.tuesday_end_time.present? && working_schedule.working_day?(Date.today.monday + 1.day)
                        %td
                          #{working_schedule.try(:tuesday_start_time).strftime('%I:%M%p')} to
                        %td  #{working_schedule.try(:tuesday_end_time).strftime('%I:%M%p')}
                      -else
                        %td{:colspan => 2} Closed
                    %tr
                      %td
                        Wednesday -
                      -if working_schedule.wednesday_start_time.present? && working_schedule.wednesday_end_time.present? && working_schedule.working_day?(Date.today.monday + 2.day)
                        %td
                          #{working_schedule.try(:wednesday_start_time).strftime('%I:%M%p')} to
                        %td  #{working_schedule.try(:wednesday_end_time).strftime('%I:%M%p')}
                      -else
                        %td{:colspan => 2} Closed
                    %tr
                      %td
                        Thursday  - 
                      -if working_schedule.thursday_start_time.present? && working_schedule.thursday_end_time.present? && working_schedule.working_day?(Date.today.monday + 3.day)
                        %td
                          #{working_schedule.try(:thursday_start_time).strftime('%I:%M%p')} to
                        %td  #{working_schedule.try(:thursday_end_time).strftime('%I:%M%p')}
                      -else
                        %td{:colspan => 2} Closed
                    %tr
                      %td
                        Friday -  
                      -if working_schedule.friday_start_time.present? && working_schedule.friday_end_time.present? && working_schedule.working_day?(Date.today.monday + 4.day)
                        %td
                          #{working_schedule.try(:friday_start_time).strftime('%I:%M%p')} to
                        %td  #{working_schedule.try(:friday_end_time).strftime('%I:%M%p')}
                      -else
                        %td{:colspan => 2} Closed
                    %tr
                      %td
                        Saturday - 
                      -if working_schedule.saturday_start_time.present? && working_schedule.saturday_end_time.present? && working_schedule.working_day?(Date.today.monday + 5.day)
                        %td
                          #{working_schedule.try(:saturday_start_time).strftime('%I:%M%p')} to
                        %td  #{working_schedule.try(:saturday_end_time).strftime('%I:%M%p')}
                      -else
                        %td{:colspan => 2} Closed
                    %tr
                      %td
                        Sunday - 
                      -if working_schedule.sunday_start_time.present? && working_schedule.sunday_end_time.present? && working_schedule.working_day?(Date.today.monday + 6.day)
                        %td
                          #{working_schedule.try(:sunday_start_time).strftime('%I:%M%p')} to
                        %td  #{working_schedule.try(:sunday_end_time).strftime('%I:%M%p')}
                      -else
                        %td{:colspan => 2} Closed
                  %p
                    For direct profile access click link below.
                  %table{:style => "margin-bottom: 10px"}
                    %tr
                      %td
                        = link_to @one_click_url, @one_click_url
                      %td
                 
            = render "/app_mailer/footer"
