!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Referral form
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            %table{:align => "center"}
              %tr
                %td
                  %h4
                    = "Hi #{@patient.try(:name)},"
                  %h4 
                    = "You're a valuable patient of #{@exam.try(:store).try(:description)}"
                  %h4
                    = "Your personal records indicates you are due for an appointment at our office."                            
                  %p
                    = " Please respond to this message or give us a call at #{number_to_phone(@exam.store.phone_number.to_s[2..-1].to_i, area_code: true)} to schedule your appointment."

                  %p
                    For your profile direct access click link below.
                  %table{:style => "margin-bottom: 10px"}
                    %tr
                      %td
                        = link_to @one_click_url, @one_click_url
                      %td
                  %p
                    If clicking the URL above does not work, copy and paste the URL into a browser window or feel free to contact us.
                 
            = render "/app_mailer/footer"
