!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Appointment Cancel
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            
            %table{:align => "center"}
              %tr
                %td                  
                  %h4
                    = "Hi #{@patient.name},"
                  %h4 
                    = "You're a valuable patient of #{@booking.try(:store).try(:description)}"
                  %p
                    = @joint_resource.is_family_member? ? "Your family member #{@booking.joint_resource.name} appointment has been canceled with #{@doctor.name} on #{@booking.start_time.strftime('%A %m/%d/%Y %I:%M%P')}" : "Your appointment has been canceled with #{@doctor.name} on #{@booking.start_time.strftime('%A %m/%d/%Y %I:%M%P')}."
                    
                  %p
                    For your profile direct access click link below.
                  %table{:style => "margin-bottom: 10px"}
                    %tr
                      %td
                        = link_to @one_click_url, @one_click_url
                      %td
                  %p
                    If clicking the URL above does not work, copy and paste the URL into a browser window or feel free to contact us.
                 
            = render "/app_mailer/footer"
