!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Confirmation Email
    %meta{:content => "width=device-width", :name => "viewport"}/ 
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            %table{:align => "center"}
              %tr
                %td
                  %h4
                    = "Hi #{@organisation.try(:owner).try(:name)},"
                  %h4 
                    = "Welcome to the iTrust community!"
                  %h4  
                    = "Congrats, your store has been approved!"
                  %h4  
                    = "Please use your login credentials below:"
              %tr
                %td
                  %h4
                    - organisation_link= Rails.env.include?('staging') ? new_doctor_session_url(subdomain: "#{@organisation.owner.subdomain}.dev") : new_doctor_session_url(subdomain: "#{@organisation.owner.subdomain}")
                    =  link_to "#{organisation_link}" , organisation_link
                  %h4
                    = "Email: " + "#{@organisation.try(:owner).try(:email)}"
                  %h4
                    = "Password: " + "#{@organisation.try(:owner).try(:password)}" if @organisation.try(:owner).try(:password).present?

                  %table
                    %tr
                      %td
                        %h4 
                          If something else went wrong please contact us.
                        %p
                          %b
                            %span
                              Thanks,
                              %br
                              Practice Managers
                      %td
            /= render "/app_mailer/footer"
