!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Appointment Reminder
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            %table{:align => "center"}
              %tr
                %td
                  %h4
                    = "Hi #{@patient.name},"
                  %h4 
                    = "You're a valuable patient of #{@booking.try(:store).try(:description)}"
                  %table
                    %tr
                      %td{style: "padding-right: 10px;"}
                        Your appointment is in:
                      %td{style: "padding-right: 10px;"}
                        = @duration
                    %tr
                      %td{style: "padding-right: 10px;"}
                        Appointment Date:
                      %td{style: "padding-right: 10px;"}
                        = @booking.try(:start_time).strftime('%m/%d/%Y at %I:%M%P')
                    %tr
                      %td{style: "padding-right: 10px;"}
                        Reason For Visit:
                      %td{style: "padding-right: 10px;"}
                        = @booking.try(:exam_procedures).present? ? @booking.try(:exam_procedures).map{|x| x.try(:name)}.join(",") : ''
                    %tr{style: "padding-bottom: 5px;"}
                      %td{style: "padding-right: 10px;"}
                        Provider:
                      %td{style: "padding-right: 10px;"}
                        = @booking.doctor.name

                  %p
                    For your profile direct access click link below.
                  %table{:style => "margin-bottom: 10px"}
                    %tr
                      %td
                        = link_to @one_click_url, @one_click_url
                      %td
                  %p
                    If clicking the URL above does not work, copy and paste the URL into a browser window or feel free to contact us.
            %span                 
            = render "/app_mailer/footer"