!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Order Billing Confirmation
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"

            %table{:align => "center"}
              %tr
                %td
                  %table{:style => "margin-bottom: 10px"}
                    %tr
                      %td.wrapper.last
                        %h4
                          = "Hi #{@joint_resource.patient.name},"
                        %h4 
                          = " Your order (##{@order.id}) payment is completed. You are a valuable user of #{@patient.organisation.company_name} supported by Itrust Vision!"
                        %p
                          = @joint_resource.is_family_member? ? "Order of your Family member #{@joint_resource.member.name} will be delivered in short time. " : "Your Order will be deliverd to you in short time. "
                        %p
                          Your Order detail is
                        / BEGIN: Note Panel
                        %table.twelve.columns{:style => "margin-bottom: 10px"}
                          %tr
                            - if @order.cash_payment_received.present? && @order.cash_payment_received > 0
                              %td.panel
                                %strong Total Cash Payment : 
                              %td.panel
                                %strong $ #{@order.cash_payment_received }
                              %br
                          %tr
                            -if @order.check_payment_received.present? && @order.check_payment_received > 0
                              %td.panel
                                %strong Total Check Payment : 
                              %td.panel
                                %strong $ #{@order.check_payment_received }
                              %br
                          %tr
                            - if @order.transactions.any?
                              %td.panel
                                %strong Total Profile Card Payment: 
                              %td.panel
                                %strong $ #{@order.transactions.sum(:amount)}
                          %tr
                            - if @order.balance_due.to_f > 0
                              %td.panel
                                %strong Balance Due :   
                              %td.panel
                                %strong $ #{@order.balance_due}                      
                          
                        %p
                          For your profile direct access click link below.
                        / BEGIN: Note Panel
                        %table.twelve.columns{:style => "margin-bottom: 10px"}
                          %tr
                            %td.panel
                              = link_to @one_click_url, @one_click_url
                            %td.expander
                        %p
                          If clicking the URL above does not work, copy and paste the URL into a browser window or feel free to contact us.
                        / END: Note Panel
                 
            = render "/app_mailer/footer"
