!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Transaction Receipt From #{@patient.subdomain}
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            %table{:align => "center"}
              %tr
                %td
                  %table{:style => "margin-bottom: 10px", :cellspacing => "0" ,:cellpadding =>"2" ,:bgcolor =>"#a0a0a0" ,:width =>"100%"} 
                    %tbody
                      %tr
                        %th
                          Order Information                           
                  %table{:style => "margin-bottom: 10px"}
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          Description:
                        %td
                          Goods and Service
                  %hr
                  %table{:style => "margin-bottom: 10px"}
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          %span{ :style => "font-size:20px"}
                            %span{ :style => "font-weight:bold"}
                              Billing Information
                            %br
                            %span{:style => "font-size:18px"}
                              = @joint_resource.try(:name)
                            %br
                            -#%span
                              = @joint_resource.try(:home_address).try(:full)
                            %a{:href => "mailto:#{@joint_resource.email}" ,:target => "_blank",:style => "font-size:18px"}
                              = @joint_resource.email
                  %hr
                  %table{ :cellspacing => "0" ,:cellpadding => "0" ,:width => "100%"}
                    %tbody
                      %tr
                        %td{ :align=>"right"}
                          %table{ :cellspacing => "0", :cellpadding =>"2"}
                            %tbody
                              %tr
                                %td{ :valign => "top" ,:align => "right"}
                                  %span{ :style => "font-size:14px;font-weight:bold"}
                                    Total:
                                %td{:valign=>"top" ,:align=>"right"}
                                  %span{ :style=> "font-size:14px"}
                                %td{:valign => "top", :align=> "right"}
                                  %span{ :style=>"font-size:14px;font-weight:bold"}
                                    = "#{number_to_currency(@payment_information['amount'])} (USD)"
                  %table{:style => "margin-bottom: 10px", :cellspacing => "0" ,:cellpadding =>"2" ,:bgcolor =>"#a0a0a0" ,:width =>"100%"} 
                    %tbody
                      %tr
                        %th
                          Payment Information                           
                  %table{:style => "margin-bottom: 10px"}
                    %tbody
                      %tr
                        %td
                          Date/Time:
                        %td
                        %td
                          = "#{@transaction_time}" 
                      %tr
                        %td
                          Transaction ID
                        %td
                        %td
                          = "#{@payment_information['transaction_id']}"
                      %tr
                        %td
                          Payment Method
                        %td
                        %td
                          = "#{@payment_information['card_type']}   #{@payment_information['account_number']}"
                      %tr
                        %td
                          Transaction Type
                        %td
                        %td
                          = "#{@payment_information['transaction_type']}"
                      %tr
                        %td
                          Approval Code
                        %td
                        %td
                          = "#{@payment_information['approval_code']}"
                  %hr
                  %table{:style => "margin-bottom: 10px", :cellspacing => "0" ,:cellpadding =>"2" ,:bgcolor =>"#a0a0a0" ,:width =>"100%"} 
                    %tbody
                      %tr
                        %th
                          Merchant Contact Information
                  %table{:style => "margin-bottom: 10px"}
                    %tbody
                      %tr
                        %td
                          %strong #{@store.try(:description).try(:titleize)}
                          %br
                          %strong #{@store.try(:office_address).try(:address1)}
                          - unless @store.try(:office_address).try(:address2).blank?
                            %br
                            #{@store.try(:office_address).try(:address2)}
                          %br/
                          #{@store.try(:office_address).try(:city)} ,
                          = Carmen::Country.coded(@store.try(:office_address).try(:country_id)).try(:subregions).try(:coded,(@store.try(:office_address).try(:state_id))).try(:name)
                          #{@store.try(:office_address).try(:postal_code)}
                          %br
                          P: #{@store.try(:office_address).try(:phone)}  #{@store.try(:phone_number)}
                          %br
                          %abbr{:title => "Email"}
                          #{@store.try(:contact_email)}
                  %hr
                  %table{:style => "margin-bottom: 10px", :cellspacing => "0" ,:cellpadding =>"2" ,:bgcolor =>"#a0a0a0" ,:width =>"100%"}
                    %tbody
                      %tr
                        %th
                          Cash Payment Details
                  %table{:style => "margin-bottom: 10px"}
                    %tbody
                      %tr
                        - if @order.cash_payment_received.present? && @order.cash_payment_received > 0
                          %td
                            %b Total Cash Payment :
                          %td
                          %td.panel
                            %strong $ #{@order.cash_payment_received }
                  %hr
                  %table{:style => "margin-bottom: 10px", :cellspacing => "0" ,:cellpadding =>"2" ,:bgcolor =>"#a0a0a0" ,:width =>"100%"}
                    %tbody
                      %tr
                        %th
                          Cheque Payment Details
                  %table{:style => "margin-bottom: 10px"}
                    %tbody
                      %tr
                        - if @order.cash_payment_received.present? && @order.cash_payment_received > 0
                          %td
                            %b Total Cheque Payment :
                          %td
                          %td.panel
                            %strong $ #{@order.check_payment_received }
            = render "/app_mailer/footer"
