!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      ="Organisation Sign Up Request By #{@owner.first_name} #{@owner.last_name} for #{@organisation.company_name}"

    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            %table{:align => "center"}
              %tr
                %td
                  %table{:style => "margin-bottom: 10px", :cellspacing => "0" ,:cellpadding =>"2" ,:bgcolor =>"#a0a0a0" ,:width =>"100%"} 
                    %tbody
                      %tr
                        %th
                          Owner Detail                   
                  %table{:style => "margin-bottom: 10px"}
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          First name:
                        %td
                          =@owner.first_name
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          Last name:
                        %td
                          =@owner.last_name
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          Email:
                        %td
                          = mail_to @owner.email
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          Phone Number:
                        %td
                          =@owner.mobile_number
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          Company Name
                        %td
                          =@organisation.company_name
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          Domain name:
                        %td
                          =@organisation.domain_name
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          Country:
                        %td
                          =Carmen::Country.coded(@organisation.address.country_id).name
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          Address line 1:
                        %td
                          =@organisation.address.address1
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          Address line 2:
                        %td
                          =@organisation.address.address2
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          State:
                        %td
                          =Carmen::Country.coded(@organisation.try(:address).try(:country_id)).try(:subregions).try(:coded,(@organisation.try(:address).try(:state_id))).try(:name)
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          City:
                        %td
                          =@organisation.address.city
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          Zip Code:
                        %td
                          =@organisation.address.postal_code