!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Referral form
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            %table{:align => "center"}
              %tr
                %td
                  %h4
                    = "Hi #{@patient.name},"
                  %h4 
                    = "You're a valuable patient of #{@patient.try(:organisation).try(:owner).try(:store).try(:description)}"
                  %p
                    Please take 30 seconds and click the link below.
                  %table{:style => "margin-bottom: 10px"}
                    %tr
                      %td
                        = link_to new_survey_url(survey_token: @patient.survey_token), new_survey_url(survey_token: @patient.survey_token)
                      %td
                                
                  %p
                    If clicking the URL above does not work, copy and paste the URL into a browser window or feel free to contact us.
                 
            = render "/app_mailer/footer"
