!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Subscription Failed
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"

            %table{:align => "center"}
              %tr
                %td
                  %h4
                    = "Hi #{@patient.name},"
                  %h4 
                    = "You are valuable user of #{@patient.organisation.company_name} supported by Itrust Vision!"
                  %p
                    = "Your Order Subscription(##{@subscription.id}) for #{@joint_resource.name} Lenses #{@lens_order.lens.try(:od_type)}, #{@lens_order.lens.try(:os_type)} could'nt be renewed because your lens prescription ##{@subscription.lens_prescription.id} is not in use now."                        
                  %p
                    For your profile direct access click link below.
                  %table{:style => "margin-bottom: 10px"}
                    %tr
                      %td
                        = link_to @one_click_url, @one_click_url
                      %td
                  %p
                    If clicking the URL above does not work, copy and paste the URL into a browser window or feel free to contact us.
                 
            = render "/app_mailer/footer"
