!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      ="Anonymous Booking Details"

    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            %table{:align => "center"}
              %tr
                %td
                  %table{:style => "margin-bottom: 10px", :cellspacing => "0" ,:cellpadding =>"2" ,:bgcolor =>"#a0a0a0" ,:width =>"100%"} 
                    %tbody
                      %tr
                        %th
                          Appointment Detail                   
                  %table{:style => "margin-bottom: 10px"}
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          Patient name:
                        %td
                          =@booking.try(:joint_resource).try(:name)
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          Email:
                        %td
                          =@booking.try(:joint_resource).try(:email)
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          Provider:
                        %td
                          =@booking.try(:doctor).try(:name)
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          Date and Time:
                        %td
                          =@booking.try(:start_time).try(:strftime,("%D %r"))
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          Reason For Visit
                        %td
                          =@booking.try(:exam_procedures).map(&:name).join(',')
                    %tbody
                      %tr
                        %td{:width => '250' ,:vlign => 'top'}
                          Insurance
                        %td
                          =@booking.try(:joint_resource).try(:member).try(:vision_insurance).try(:name)