!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Last exam prescription
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{ :valign => "top"}
            = render "/app_mailer/header"
            %table{style: "width:100%; padding:0 40px"} 
              %tr
                %td
                  %h4
                    = "Date: #{Date.today.strftime("%m/%d/%Y")}"
                  %h4 
                    = "You have recieved a new contact lens order from  #{@store.description}"
              %tr       
                %td
                  %h4
                    Account Numbers:
                    %br
                    - if @acount_numbers.present?
                      - @acount_numbers.each do |account_number|
                        = "#{account_number[0]}: #{account_number[1]}"
                        %br                 
            = render "/app_mailer/footer"
