!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Dispensed Remove
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            %table{:align => "center"}
              %tr
                %td
                  %h4
                    = "Hi #{@patient.name},"
                  %h4 
                    = "Your order dispensed is removed. You are valuable user of #{@patient.organisation.company_name} supported by Itrust Vision!"
                  %p
                    = "Your dispensed order detail is "
                  
                  %table{:style => "margin-bottom: 10px"}
                    %tr
                      %td
                        Procedures:
                      %td
                        = @procedures.present? ? @procedures : 'There is no procedure.'
                  - if @order.class == Order.new.class
                    %table{:style => "margin-bottom: 10px"}
                      - if @order.contact_lens_orders.present?
                        %tr
                          %td                                 
                            = "Eye Glass SubTotal: "
                          %td
                            = @order.contact_lens_orders.last.total
                      - if @order.eye_glass_orders.present?
                        %tr
                          %td                               
                            = "Lens Order SubTotal: "
                          %td
                            = @order.eye_glass_orders.last.total
                      %tr
                        %td                                
                          = "Order Total: "
                        %td
                          = @order.total                            
                    
                  %p
                    For your profile direct access click link below.
                  %table{:style => "margin-bottom: 10px"}
                    %tr
                      %td
                        = link_to @one_click_url, @one_click_url
                      %td
                  %p
                    If clicking the URL above does not work, copy and paste the URL into a browser window or feel free to contact us.
                 
            = render "/app_mailer/footer"
