!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Renewed Order
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            %table{:align => "center"}
              %tr
                %td
                  %h4
                    = "Hi #{@patient.name},"
                  %h4 
                    = "You are valuable user of #{@patient.organisation.company_name} supported by Itrust Vision!"
                  %p
                    - if @booking.joint_resource.member.class.name == "Patient"
                      = "Your have missed your appointment scheduled as #{@booking.start_time.strftime('%m/%d/%Y at %I:%M%p')}"
                    -else
                      = "You have missed your appointment for family member #{@booking.joint_resource.name} scheduled as #{@booking.start_time.strftime('%m/%d/%Y at %I:%M%p')}"
                 
            = render "/app_mailer/footer"
