!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Referral form
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            %table{:align => "center"}
              %tr
                %td
                  %h4
                    = "Hi #{@joint_resource.name},"
                  %h4 
                    Please find your attached referral
                  
                  %table
                    %tr
                      %td
                        %p
                          Request to see: 
                      %td
                        %p
                          = "#{@referral_form.try(:refer_to)}"
                    %tr
                      %td
                        %p
                          Referral Reason: 
                      %td
                        %p
                          = "#{@referral_form.try(:referral_reason)}"
                    %tr
                      %td
                        %p
                          Body Message: 
                      %td
                        %p
                          = "#{@referral_form.try(:message)}"

                  = link_to "Access Referral", root_url(patient_email: @patient.email, authentication_token: @patient.authentication_token , :anchor => 'referrals_reports_tab_3-1'), style: "color: #fff; background-color: #f0ad4e; border-color: #eea236; display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; text-decoration: none !important;"
                  %p
                    Or copy and paste this link into your browser.
                  %table{:style => "margin-bottom: 10px"}
                    %tr
                      %td
                        = link_to @one_click_url, @one_click_url
                      %td


            = render "/app_mailer/footer"
