!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Resect account password
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            %table{:align => "center"}
              %tr
                %td
                  %h4
                    = "Hi #{@patient.name},"
                  %h4 
                    = "Your upcomming appointment details are below."
                  %table
                    %tr
                      %td{style: "padding-right: 10px;"}
                        Name
                      %td{style: "padding-right: 10px;"}
                        Appointment Time
                      %td{style: "padding-right: 10px;"}
                        Clinic
                      %td{style: "padding-right: 10px;"}
                        Provider

                    - @future_bookings.each do |booking|
                      %tr{style: "padding-bottom: 5px;"}
                        %td{style: "padding-right: 10px;"}
                          = booking.joint_resource.name
                        %td{style: "padding-right: 10px;"}
                          = booking.start_time.strftime('%A %m/%d/%Y %I:%M %p')
                        %td{style: "padding-right: 10px;"}
                          = booking.store.description
                        %td{style: "padding-right: 10px;"}
                          = booking.doctor.name

                  %p
                    For your profile direct access click link below.
                  %table{:style => "margin-bottom: 10px"}
                    %tr
                      %td
                        = link_to @one_click_url, @one_click_url
                      %td
                  %p
                    If clicking the URL above does not work, copy and paste the URL into a browser window or feel free to contact us.
            %span                 
            = render "/app_mailer/footer"