!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Referral form
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            %table{:align => "center"}
              %tr
                %td
                  %h4 
                    ="Please find your attached referral for #{@patient.name} :"
                  
                  %table
                    %tr
                      %td
                        %p
                          Request to see: 
                      %td
                        %p
                          = "#{@referral_form.try(:refer_to)}"
                    %tr
                      %td
                        %p
                          Referral Reason: 
                      %td
                        %p
                          = "#{@referral_form.try(:referral_reason)}"
                    -if @referral_form.message.present?
                      %tr
                        %td
                          %p
                            Body Message: 
                        %td
                          %p
                            = "#{@referral_form.message}"

                  %table
                    %tr
                      %td
                        %h4 
                          If something else went wrong please contact us.
                        %p
            = render "/app_mailer/footer"
        %tr
          %th
            Powered by 
            %a{ :href => "http://itrust.io/" }
              itrust.io
            Most Trusted Doctors Practice Management App
                 
