!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Order Cancelation
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            %table{:align => "center"}
              %tr
                %td
                  %h4
                    = "Hi #{@patient.name},"
                  %h4 
                    = "Your order has been Confirmed. Your are a valuable user of #{@patient.organisation.company_name} supported by Itrust Vision!"
                  %p
                    = "Your order detail is "
                  
                  %table{:style => "margin-bottom: 10px"}
                    - if @order.examination.present? 
                      %tr
                        %th
                          Procedures                            
                      - @order.examination.try(:procedure_adjustments).map(&:exam_procedure).each do |procedure|
                        %tr
                          %td
                            = procedure.name
                          %td
                            = procedure.code 
                          %td
                            = procedure.price

                  %table{:style => "margin-bottom: 10px"}
                    - if @order.contact_lens_orders.present? 
                      %tr
                        %td
                          Lens Order SubTotal
                        %td
                          = @order.contact_lens_orders.last.total
                    - if @order.eye_glass_orders.present? 
                      %tr
                        %td
                          Eye Glass SubTotal
                        %td
                          = @order.eye_glass_orders.last.total
                    %tr
                      %td
                        Total
                      %td
                        = @order.total 
                    
                  %p
                    For your profile direct access click link below.
                  %table{:style => "margin-bottom: 10px"}
                    %tr
                      %td
                        = link_to @one_click_url, @one_click_url
                      %td
                  %p
                    If clicking the URL above does not work, copy and paste the URL into a browser window or feel free to contact us.
                 
            = render "/app_mailer/footer"
