.page-container{:style => "margin-top: 0px;"}
  .page-content{:style => "background-image: url() !important;min-height: 360px !important;"}
    - if dispense_logs.present?
      .row
        .col-lg-12
          %ul.timeline
            - dispense_logs.each_with_index do |log|
              %li{:class => "timeline-"+note_color(log).to_s}
                .timeline-time
                  %span.time{:style => "font-size: 20px !important;"}
                    #{log['logged_at'].try(:strftime,"%I:%M%p")}
                  %span.date
                    #{log['logged_at'].try(:strftime,"%B %d, %Y")}
                .timeline-icon{:style => "left: 24% !important;"}
                  %i.fa.fa-envelope
                .timeline-body{:style => "right: -8px !important;"}
                  - if log.emailed
                    .timeline-content
                      %h4
                        %label Emailed #{log.note}
                  - else
                    .timeline-content
                      .row
                        .col-md-3
                          %h4 Note:
                        .col-md-9
                          %label #{log.note}
    - else
      %span.semi-bold.fa.fa-search{ style: 'padding-left: 30px;'} &nbsp;&nbsp; No dispense contacts
