= simple_form_for @dispense_log, :url => contact_lens_exam_index_path, :method => 'post' do |f|
  .row
    .col-md-12
      = f.input :note,as: :text,label: 'Note',:input_html => {:cols => 3, :rows => 5 }
      = f.hidden_field :dispensable_id
      = f.hidden_field :dispensable_type
  .row
    .col-md-12
      .col-md-6
        = f.input :logged_at_date,input_html: { class: "datepicker" ,value: Time.now.strftime('%d-%m-%Y')}
      .col-md-6
        = f.input :logged_at_time,input_html: { class: "timepicker" ,value: Time.now.strftime('%H:%M:%S')}
        = gflash
:javascript
  $(document).ready(function(e){
    $('input.datepicker').data({behaviour: "datepicker"}).datepicker().css("z-index","2");
    $('input.timepicker').datetimepicker({ format: 'HH:mm:ss'});
  });
