/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require bootstrap-multiselect
 *= require bootstrap-slider
 *= require bootstrap_and_overrides.css
 *= require custom
 *= require dataTables.jqueryui
 *= require fullcalendar
 *= require pdf.css
 *= require star-rating
 *= require jquery.dataTables.yadcf.css

 *= require gritter
 *= require bootstrap-slider
 *= require_tree ../stylesheets/doctor
 *= require_tree ../stylesheets/theme
 *= require_self
 *= require icheck/line/blue
 *= require icheck_custom
 *= require intlTelInput
 */
@import "bootstrap";


html.turbolinks-progress-bar::before {
  background-color: #31c7b2 !important;
  z-index: 9999 !important;
}

/* page-content is a main container for view and have fixed background image*/
.page-content{    
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  
  
}
/*.page-height sets the min height of a page*/
.page-height{
  min-height: 605px; 
}

#main {
  margin-top: 50px;
}

.recent-status-box {
  border-bottom-width: 2px;
  border-color: #140d0f;
  border-radius: 5px;
  border-style: solid;
  height: auto;
}
/*.disease_notes, .disease_checkboxes {
  margin-left: 10px;
  margin-top:  1.5%;
}*/

/*.relation{
  margin-top:  1.5%;
}*/

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}



/*--------- examination form css  start------*/
.section_border
{
  border: 1px gray solid;
}
/*--------- examination form css  End  ------*/

/* Autocomplete formatting ----------start----------*/
 ul.ui-autocomplete {
      margin-top: 2px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;

      position: absolute;
      top: 100%;
      left: 0;
      z-index: 9999;
      display: none;
      float: left;
      min-width: 160px;
      padding: 4px 0;
      margin: 1px 0 0;
      list-style: none;
      background-color: white;
      border: 1px solid #CCC;
      border: 1px solid rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      } 
      ul.ui-autocomplete li{
      display: block;
      padding: 3px 15px;
      clear: both;
      font-weight: normal;
      line-height: 18px;
      color: "#fff";
      white-space: nowrap;
      }

      ul.ui-autocomplete li:hover, li.ui-state-focus {
      color: "white";
      text-decoration: none;
      background-color: #efefef;
      }
      ul.ui-autocomplete.ui-menu {
        z-index: 99999;
      }
/* autocomplete formating -------end------- */

/* calendar popover */
.popover
{
  max-width: 700px !important;
  width: 400px !important;
}
/* calendar popover */
  

/* spinner start*/  
  .spinner {
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-top: 17%;
    margin-left: 49%;
    position: fixed;
    z-index: 99999;
  }
  
  .spinner.medium {

      height: 64px; width: 64px;
      background: url("/images/main-spinner.gif");
      background-size: 100% 100%;
  }

/* spinner end*/ 

/*fix for actions submenu in patient log start */ 
.table-responsive {
  overflow-x: visible !important ; 
}
/*fix for actions submenu in patient log end */ 

.medical-history-section .checkbox
{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  height: 33px !important;
}


/*exam form   ----------------------------statrt-------------------------------*/
  .btn-right
  {
    float: right;
    margin-right: 10px;
  }
  .label-no-padding
  {
    padding: 0px;
  }
  .back-eye-image
  {
    background: url(/images/external_image.jpg) no-repeat center; 
    height: 200px;
    width: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .internal-eye-image
  {
    background: url(/images/internal_image.jpg) no-repeat center; 
    height: 200px;
    width: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .back-corneal-image
  {
    background: url(/images/cornea.png) no-repeat center; 
    height: 120px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .contact-circle {
    width: 60px;
    height: 60px;
    border: 1px solid;
    -moz-border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    border-radius: 50px !important;
  }
  
  .form-inline .checkbox
  {
    padding: 10px;
  }
  .info0
  {
    background-color: white !important;
  }
  .info1
  {
    margin: 9px 10px 10px 16px !important;
  }
  .info2
  {
    margin-left: -3px
  }

  .raphael_div {
    position: relative;
    padding: 0;
  }
  .raphael_draw {
    position: absolute;
    top: 0;
    left: 0;
  }
/*exam form   ----------------------------end-------------------------------*/

/*--css for link text-decoration-------start-----*/

.anchor_style:hover {
  text-decoration: none;
}

.anchor_style1, .anchor_style1:hover {
  color: black;
  text-decoration: none;
}
/*--css for link text-decoration-------end-----*/

/*--css for spacing between download and email button over exam form finalised prescription tab---start---*/

.final_presc_tab_download_btn {
  margin-left: 1%;
}
/*--css for spacing between download and email button over exam form finalised prescription tab---end---*/

/*--Used inside _card_detail.html.haml--start--*/
.outer_container_bg {
  height: 335px; 
  background: rgb(239, 239, 239); 
  padding: 30px;
}
.inner_container_bg {
  width: 100%; 
  height: 100%;  
  background: white; 
  padding: 10px;
}
.remove_card {
  color: white;
}

/*--Used inside _card_detail.html.haml--end--*/

/*--Used in _overview.html.haml--start--*/
.patient_details_container {
  min-height: 200px;
}
/*--Used in _overview.html.haml--end--*/

.tab_sizing {
  width: 100%;
}
i.fa.fa-adjust.toggle.tog_btn {
  -webkit-user-select: text;
  font-size: 20px;
}
.lens_add_btn{
  width: 20%;
}
.add_new_m{
  margin-top: -34px;
}

/*--greyish black hex color set on differnt pages--start--*/
.hex_424242 {
  color: #424242 !important;
}
/**/
.notes {
  margin-top: 10px;
}
/*--twilio webhooks _index.html.haml page css--start--*/
.twilio-css {
  background-color: white;
}

/*--twilio webhooks _index.html.haml page css--end--*/

.search_box_sizing {
  width: 15%;
  margin-bottom: 1%;
}

.margin_set {
  margin-left: -40px;
}
.set_cornea_height {
  height: 120px;
}
.text_css {
  background: url(/images/cross.png);
  background-repeat: no-repeat;
  background-position: center;
}
.img_eye_cornea {
  height: 120px;
  width: 400px;
}
.img_eyes {
  width: 600px;
  height: 200px;
}
/*--Css used at patient_log.html.haml--start--*/
.ui-widget-header{
  border:1px solid #ffffff !important;
  background:#ffffff !important;
  color:#fff !important;
  font-weight:bold !important;
}
.patient-log .dropdown-submenu > a:after {
  display: block;
  float: left;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-right: -10px;
  border-color: transparent;
  border-right-color: #cccccc;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  content: " "; 
}
/*--Css used at patient_log.html.haml--end--*/
.hr_exam_form:hover + hr{
  border: 1px solid #000 !important;
}
.remove_line a:hover {
  text-decoration: none;
}
.current_text_size {
  font-size: 8px;
}
.comp_left_margin {
  margin-right: 34%;
  left: 4%;
  padding-bottom: 1%;
  word-wrap: break-word;
}
.refract_s{ 
  font-size: 11px;
}
.table-condensed {
  font-size: 13px;
} 
.text_padding_fix {
  padding: 0;
}
.set_box_width {
  width: 50%;
}

.percent_icon {
  right: 20px;
  color: #ccc;
  position: absolute;
  font-size: 16px;
  top: 7px;
}

.percent_box {
  text-align: right;
  padding-right: 20px;
}

.dollar_box {
  padding-left: 33px !important;
}