* {
    font-family: Helvetica;
}

.wrapper {
    width: 60%;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 20px auto;
    padding: 10px;
}

.bookings_table input[type="number"] {
    width: 30px;
}

.bookings_table {
    font-size: 14px;
    color: gray;
}

.errors {
    color: #c00;
}

.calendar_container {
    margin: auto;
    width: 80%;
}

/*unavailable slot -----------Start-----*/

.dayslot {
    float: left;
    margin-left: 2px;
}

.fc-agenda-slots .unavailable {
    background-color: #e6e6e6;
    width: 100%;

}

.unavailable {
    background-color: #e6e6e6;
    width: 100%;

}

/*unavailable slot -----------End-----*/

/*order page ----start----*/
.valuemark {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.rightcolborder {
    border-right-style: solid;
    border-right-width: 1px;
}

.default_class {
    position: absolute;
}

#finalize_new_lens {
    float: right;
    margin: 5px 52px 21px 0px
}

.icon-white {
    color: white
}

@media screen and (max-width: 991px) {
    .pupillary_distance {
        float: left;
    }
}

.action_success {
    font-size: 25px;
    margin-left: 20px;
}

/*end*/

/* order detail page----start-----*/
.actionsclass {
    margin: 10px 10px 10px 20px;
}

#actionsliststyle {
    list-style-type: none;
}

.price_detail{
  font-size: 17px;
}

/* order detail page----end-----*/

/* follow up popup */
.popover-title {
    background: #3366FF;
}

.editable-input > .input-medium {
    color: black;
}

.outcome {
    color: black !important;
}


.intl-tel-input{
	width: 100% !important;
	display: block !important;
}

.intl-tel-input .country-list{
  	z-index: 9 !important;
}

/* end */
.cash_payment_amount, .check_payment_amount, .check_payment_number {
    width: 100px;
}

.total {
    background-color: #D4D4D4;
    padding-bottom: 50px;
}

.pushme {
    background: rgb(255, 18, 42);
}

.pushme.green {
    background: rgb(26, 255, 0);
}
.button{
    width: 35px;
    margin-left: -9px;
    padding-left: 5px !important;
}
