/*customize icheck color*/
.icheckbox_line-blue, .iradio_line-blue {    
    font-size: 15px !important;
    line-height: 23px !important;
    padding: 5px 15px 5px 21px !important;
    background-color: #ffae42 !important;
    height: 33px;
}
.icheck_fixed_190 .icheckbox_line-blue {
 width: 190px;
}
.icheck_fixed_190 .iradio_line-blue {
 width: 190px;
}

.icheckbox_line-blue.checked,.iradio_line-blue.checked {
  background-color: #45b6af !important; 
}

.icheckbox_line-blue.hover,.iradio_line-blue.hover {
  background-color: #59be40 !important; 
}

.icheckbox_line-blue.checked.hover,.iradio_line-blue.checked.hover {
  background-color: #59be40 !important;
}

.blocked_section
{
  pointer-events: none;
}

.checkbox-md{
  width: 100px !important;
  padding: 5px 15px 5px 21px !important;
}

.checkbox-la{
  width: 150px !important;
  padding: 5px 15px 5px 21px !important;
}


.checkbox-sm{
  width: 50px !important;
  padding: 5px 15px 5px 21px !important;
}

.icheckbox_line-blue .icheck_line-icon,
.iradio_line-blue .icheck_line-icon {
  
  left: 5px !important;
}
  
