- final_count = 0
-if @examination.lens_prescriptions.present? 
  - final_count = @examination.lens_prescriptions.count
- if @examination.glasses_prescriptions.present? 
  - final_count = final_count + @examination.glasses_prescriptions.count
- if @examination.medical_rxes.present?
  - final_count = final_count + @examination.medical_rxes.count

:javascript
  $("#final_prescreption_count").html(#{final_count});