.row
  %label.col-md-2
.row
  .col-md-3
    OD
    - if defined? type
      .os_copy.fa.fa-caret-up{style:"font-size:24px;"}
  .col-md-3
    = f.input :od_sphere, label: false, collection: ((@setting.glass_sphere_start.to_i..@setting.glass_sphere_end.to_i).step(0.25).to_a.map! { |e| e > 0 ? "+#{'%.2f'%e}" : (e==0 ? "pl" : '%.2f'%e)}).sort_by(&:to_i).reverse,prompt: "Sphere",:selected => f.object.od_sphere.present? ? f.object.od_sphere : 'pl', :input_html => { class: "sphere_od" }
  .col-md-3
    = f.input :od_cylinder, label: false, collection: ["DS"]+((@setting.glass_cylinder_start.to_i..@setting.glass_cylinder_end.to_i).step(0.25).to_a.map! { |e| e > 0 ? ("+#{'%.2f'%e}" if e != 0) : '%.2f'%e}-["0.00"]).sort_by(&:to_i).reverse, :include_blank => true,:selected => f.object.od_cylinder.present? ? f.object.od_cylinder : '', :input_html => { class: "cylinder_od" }

  .col-md-3
    = f.input :od_axis, label: false, placeholder: 'Axis', collection: (1..180).step(1).to_a, :include_blank => true,:selected => f.object.od_axis.present? ? f.object.od_axis : '', :input_html => { class: "axis_od" }

.row
  .col-md-3
    OS
    - if defined? type
      .od_copy.fa.fa-caret-down{style:"font-size:24px;"}
  .col-md-3
    = f.input :os_sphere, label: false, collection: ((@setting.glass_sphere_start.to_i..@setting.glass_sphere_end.to_i).step(0.25).to_a.map! { |e| e > 0 ? "+#{'%.2f'%e}" : (e==0 ? "pl" : '%.2f'%e)}).sort_by(&:to_i).reverse,prompt: "Sphere",:selected => f.object.os_sphere.present? ? f.object.os_sphere : 'pl', :input_html => { class: "sphere_os" }
  .col-md-3
    = f.input :os_cylinder, label: false, collection:  ["DS"]+((@setting.glass_cylinder_start.to_i..@setting.glass_cylinder_end.to_i).step(0.25).to_a.map! { |e| e > 0 ? ("+#{'%.2f'%e}" if e != 0) : '%.2f'%e}-["0.00"]).sort_by(&:to_i).reverse, :include_blank => true,:selected => f.object.os_cylinder.present? ? f.object.os_cylinder : '', :input_html => { class: "cylinder_os" }
  .col-md-3
    = f.input :os_axis, label: false, placeholder: 'Axis', collection: (1..180).step(1).to_a,:include_blank => true,:selected => f.object.os_axis.present? ? f.object.os_axis : '', :input_html => { class: "axis_os" }
  
.row
  %label.col-md-3
    PRISM 
  .col-md-3
    = f.input :od_prism, label: false, placeholder: "od",input_html: {value: f.object.od_prism.present? ? f.object.od_prism : ''}
  .col-md-3
    = f.input :os_prism, label: false, placeholder: "os",input_html: {value: f.object.os_prism.present? ? f.object.os_prism : ''}
  .col-md-3
    = f.input :ou_add, label: false, collection: (@setting.glass_add_start.to_i..@setting.glass_add_end.to_i).step(0.25).to_a.map! { |e| "+#{'%.2f'%e}" }, prompt: "Add",:selected =>  f.object.ou_add.present? ? f.object.ou_add : ''
