= f.hidden_field :lens_type, class: "lens_type"
.row
  %label.col-md-1
  %label.col-md-2
    Type
- lens =LensTypesPrice.find_by(id: f.try(:object).try(:od_lens_types_price_id))
.row
  .col-md-1
    OD
  .col-md-4
    = f.input :od_type, :url => autocomplete_lens_types_price_name_autocompletes_path, :as => :autocomplete, placeholder: "Add lens type", input_html: {class: "form-control contact-type-autocomplete od_lens_fill", value: lens.try(:brand_name)}, label: false
    = f.input :od_lens_types_price_id, as: :hidden
- type = lens.try(:lens_type)
.form-element
  .row
    %label.col-md-1
    %label.col-md-2
      SPHERE           
    %label.cylinder.col-md-2{:class => "#{filter_lens_fields(type, 'cylinder')}"}
      CYLINDER 
    %label.axis{ :class => "#{filter_lens_fields(type, 'axis')} #{final_prescription ? 'col-md-2' : 'col-md-1'}"}
      AXIS
    %label.add.col-md-2{:class => "#{filter_lens_fields(type, 'add')}"}
      ADD
    %label.col-md-1
      Base Curve 
    %label.col-md-1
      Diameter
    - unless final_prescription
      %label.col-md-1
        Draw 
      %label.col-md-1
        Over Refraction
  .row
    %label.col-md-1
    .col-md-2.od_sphere
      = f.input :od_sphere, label: false, collection: ((-40.0..+40.0).step(0.25).to_a.map! { |e| e > 0 ? "+#{'%.2f'%e}" : (e==0 ? "pl" : '%.2f'%e)}).sort_by(&:to_i).reverse
    .col-md-2.od_cylinder.cylinder{:class => "#{filter_lens_fields(type, 'cylinder')}"}
      = f.input :od_cylinder, label: false, collection:  ["DS"]+((-20.0..+20.0).step(0.25).to_a.map! { |e| e > 0 ? "+#{'%.2f'%e}" : '%.2f'%e}-["+0.00"]).sort_by(&:to_i).reverse
    %div.od_axis.axis{ :class => "#{filter_lens_fields(type, 'axis')} #{final_prescription ? 'col-md-2' : 'col-md-1'}"}
      - od_axis = lens.present? ? lens.try(:axis).split(",") : []
      = f.input :od_axis, label: false, collection: od_axis
    .col-md-2.od_add.add{:class => "#{filter_lens_fields(type, 'add')}"}
      - add = lens.present? ? lens.try(:add).split(",") : []
      = f.input :od_add, label: false, collection: add, :include_blank => false
    .col-md-1.base_curve
      - base_curve = lens.present? ? lens.try(:base_curve).split(",") : []
      = f.input :od_base_curve, label: false, collection: base_curve, :include_blank => false
    .col-md-1.diameter
      - diameters = lens.present? ? lens.try(:diameters).split(",") : []
      = f.input :od_diameter, label: false, collection: diameters
    - unless final_prescription
      .col-md-1
        = f.hidden_field :od_draw_data, class: "contact_lens_od_draw_data"
        .od_draw_clear.btn.btn-default Clear
        .contact-circle{:id => "circle_od_#{f.object.id}"}
      .col-md-1
        = f.input :od_over_refraction, label: false
  .row
    %label.col-md-1
    %label.col-md-2
      Type
- lens =LensTypesPrice.find_by(id: f.object.os_lens_types_price_id)
.row
  .col-md-1
    OS
  .col-md-4
    = f.input :os_type, :url => autocomplete_lens_types_price_name_autocompletes_path, :as => :autocomplete, placeholder: "Add lens type", input_html: {class: "form-control contact-type-autocomplete os_lens_fill",  value: lens.try(:brand_name)},label: false
    = f.input :os_lens_types_price_id, as: :hidden
- type = lens.try(:lens_type)
.form-element
  .row
    %label.col-md-1
    %label.col-md-2
      SPHERE           
    %label.col-md-2.cylinder{:class => "#{filter_lens_fields(type, 'cylinder')}"}
      CYLINDER 
    %label.axis{ :class => "#{filter_lens_fields(type, 'axis')} #{final_prescription ? 'col-md-2' : 'col-md-1'}"}
      AXIS
    %label.add.col-md-2{:class => "#{filter_lens_fields(type, 'add')}"}
      ADD
    %label.col-md-1
      Base Curve 
    %label.col-md-1
      Diameter  
    - unless final_prescription
      %label.col-md-1
        Draw
      %label.col-md-1     
        Over Refraction
  .row
    %label.col-md-1
    .col-md-2.os_sphere  
      = f.input :os_sphere, label: false, collection: ((-40.0..+40.0).step(0.25).to_a.map! { |e| e > 0 ? "+#{'%.2f'%e}" : (e==0 ? "pl" : '%.2f'%e)}).sort_by(&:to_i).reverse
    .col-md-2.os_cylinder.cylinder{:class => "#{filter_lens_fields(type, 'cylinder')}"}
      = f.input :os_cylinder, label: false, collection:  ["DS"]+((-20.0..+20.0).step(0.25).to_a.map! { |e| e > 0 ? "+#{'%.2f'%e}" : '%.2f'%e}-["+0.00"]).sort_by(&:to_i).reverse
    %div.os_axis.axis{ :class => "#{filter_lens_fields(type, 'axis')} #{final_prescription ? 'col-md-2' : 'col-md-1'}"}
      - os_axis = lens.present? ? lens.try(:axis).split(",") : []
      = f.input :os_axis, label: false, collection: os_axis
    .col-md-2.os_add.add{:class => "#{filter_lens_fields(type, 'add')}"}
      - add = lens.present? ? lens.try(:add).split(",") : []
      = f.input :os_add, label: false, collection: add, :include_blank => false
    .col-md-1.base_curve
      - base_curve = lens.present? ? lens.try(:base_curve).split(",") : []
      = f.input :os_base_curve, label: false, collection: base_curve, :include_blank => false
    .col-md-1.diameter
      - diameters = lens.present? ? lens.try(:diameters).split(",") : []
      = f.input :os_diameter, label: false, collection: diameters
    - unless final_prescription
      .col-md-1
        = f.hidden_field :os_draw_data, class: "contact_lens_os_draw_data"
        .os_draw_clear.btn.btn-default Clear
        .contact-circle{:id => "circle_os_#{f.object.id}"}
      .col-md-1
        = f.input :os_over_refraction, label: false