.row
  = f.simple_fields_for :visual_acuity, f.object.visual_acuity.present? ? f.object.visual_acuity : f.object.build_visual_acuity do |visual_acuities|
    .col-md-6
      -#.row
        %label.col-md-12
          DISTANCE
      .row
        .col-md-3
          20/
        .col-md-8
          = visual_acuities.input :distance_od, label: false, placeholder: 'Distance', :input_html => { class: "distance_od" }
          = visual_acuities.input :id, as: :hidden, class: "visual_acuity_id"
      .row
        .col-md-3
          20/
        .col-md-8
          = visual_acuities.input :distance_os, label: false, placeholder: 'Distance', :input_html => { class: "distance_os"}
      .row
        .col-md-3.label-no-padding
          OU 20/
        %label.col-md-8
          = visual_acuities.input :distance_ou, label: false, placeholder: 'Distance'
    .col-md-6
      -#.row
        %label.col-md-12
          NEAR
      .row
        .col-md-3
          20/
        .col-md-8
          = visual_acuities.input :near_od, label: false, placeholder: 'Near', :input_html => { class: "near_od" }
      .row
        .col-md-3
          20/
        .col-md-8
          = visual_acuities.input :near_os, label: false, placeholder: 'Near', :input_html => { class: "near_os" }
      .row
        .col-md-3.label-no-padding
          OU 20/
        %label.col-md-8
          = visual_acuities.input :near_ou, label: false, placeholder: 'Near'