!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Confirmation Email
    %meta{:content => "width=device-width", :name => "viewport"}/ 
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            %table{:align => "center"}
              %tr
                %td
                  %h4
                    = "Hi #{@resource.name},"
                  %h4 
                    = "Please activate your account below:" 

                  - confirmation_link = confirmation_url(@resource, confirmation_token: @token, subdomain: @resource.subdomain)

                  - confirmation_link.gsub!(@resource.subdomain, @resource.subdomain + ".dev") if Rails.env.include?('staging') && @resource.subdomain != 'dev'
                  
                  = link_to "Activate Account", confirmation_link, style: "color: #fff; background-color: #f0ad4e; border-color: #eea236; display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; text-decoration: none !important;"
                  %p
                    Or copy and paste this link into your browser.
                  %table{:style => "margin-bottom: 10px"}
                    %tr
                      %td
                        = link_to "#{confirmation_link}" , confirmation_link
                      %td

                  - if @resource.unhashed_password.present?
                    %table
                      %tr
                        %td
                          %p
                            %span Your system generated password is
                            %b
                              %span
                                = @resource.unhashed_password
                        %td
                  %table
                    %tr
                      %td
                        %h4 
                          If something else went wrong please contact us.
                        %p
                          %b
                            %span
                              Thanks,
                              %br
                              = @resource.organisation.company_name
                      %td
            = render "/app_mailer/footer"
            