!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Itrust | Resect account password
    %meta{:content => "width=device-width", :name => "viewport"}/
   
  %body
    %div{style: "background: ghostwhite;"}
      %table{style: "width: 100%;"}
        %tr
          %td{:align => "center", :valign => "top"}
            = render "/app_mailer/header"
            %table{:align => "center"}
              %tr
                %td
                  %h4
                    = "Hi #{@resource.name},"
                  %h4 
                    = "You are the user of #{@resource.organisation.company_name} supported by Itrust Vision!"
                  %p
                    Someone has requested a link to change your password. Please click the following URL to reset your account:
                  %table{:style => "margin-bottom: 10px"}
                    %tr
                      %td
                        = link_to  edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token)
                      %td
                  %p
                    If clicking the URL above does not work, copy and paste the URL into a browser window or feel free to contact us.
            %span                 
            = render "/app_mailer/footer"
