- order = order || @order
- resource=order.joint_resource.member
-current_patient=@patient||current_patient
- address = @store.try(:office_address) || order.organisation.address
.div{:style => "#{@order.present? ? '' : 'transform: scale3d(1,1,1);transform-origin: left top;height: 500px;overflow-y: auto;margin-bottom: 50px;'}", class: "#{@order.present? ? 'col-md-12' : 'col-md-6'}"}
  .invoice{id: "order#{order.id}"}
    = render partial: 'patient/reports/invoice',:locals => {order: order, address: address,  request_type: request_type}
    .row
      .col-sm-7
      .col-sm-4
        %ul.list-unstyled.amounts.invoice-bottom
          -if order.contact_lens_orders.present?
            - unless (over_all_cl_material_copay(order) == "0.0")  
              %li
                %strong Material Copay CL :
            - unless (over_all_cl_fit(order) == "0.0")  
              %li
                %strong CL Fit :
            - unless (over_all_cl_allowance(order) == "0.0")  
              %li
                %strong CL Allowance :
          -if order.eye_glass_orders.present?
            - unless (over_all_gl_material_copay(order) == "0.0")  
              %li
                %strong Material Copay GL :
            - unless (over_all_gl_frame_allowance(order) == "0.0")  
              %li
                %strong GL Frame Allowance :
          %li
            %strong SubTotal amount :
          %hr.border_inv2   
          %li
            %strong Sales Tax :
          %li
            %strong Reward Points Used :
          %hr.border_inv1
          %hr.border_inv1
          %li
            %strong.total_size Grand Total :
          %hr.border_inv1 
          %hr.border_inv1 
          %li
            %strong Additional Discounts :
          %li
            %strong Rewards Earned :
      .col-sm-1{:style => "margin-left: -2%;"}
        %ul.list-unstyled.amounts.invoice-bottom
          -if order.contact_lens_orders.present?
            %li
              %strong
                ="#{number_to_currency(over_all_cl_material_copay(order))}" unless (over_all_cl_material_copay(order) == "0.0")
            %li
              %strong
                = "#{number_to_currency(over_all_cl_fit(order))}" unless (over_all_cl_fit(order) == "0.0")
            %li
              %strong
                = "-"+"#{number_to_currency(over_all_cl_allowance(order))}" unless (over_all_cl_allowance(order) == "0.0")
          -if order.eye_glass_orders.present?
            %li
              %strong
                = "#{number_to_currency(over_all_gl_material_copay(order))}" unless (over_all_gl_material_copay(order) == "0.0") 
            %li
              %strong
                =  "-"+"#{number_to_currency(over_all_gl_frame_allowance(order))}" unless (over_all_gl_frame_allowance(order) == "0.0") 
          %li
            %strong
              = number_to_currency(order.subtotal.to_s)
          %hr.border_inv2
          %li
            %strong
              = "$  0.00"
          %li
            %strong
              = (order.reward_points_used.present? ? '-' + number_to_currency(order.reward_points_used.round(2).to_s) : '0.00')
          %hr.border_inv1
          %hr.border_inv1
          %li.total_size
            %b
              = number_to_currency(order.try(:total).to_s)
          %hr.border_inv1
          %hr.border_inv1
          %li
            %strong
              = number_to_currency(order.overall_discount.to_s)
          %li
            %strong
              = number_to_currency(((order.try(:total_paid).to_f - order.try(:reward_points_used).to_f) * 0.10).round(2).to_s)
    .row
      -unless @order.present?
        .col-sm-12
          -if resource.class == FamilyMember
            .col-md-3.pull-right
              = link_to "<i class='fa fa-file-pdf-o'></i>&nbsp;Download".html_safe,invoice_reports_path(id: order.id,:family_member_id => resource.id, :format => :pdf),:target => '_blank',class: "btn blue-hoki btn-sm pull-right"
            .col-md-3.pull-right
              = link_to "<i class='fa fa-send'></i>&nbsp;Email".html_safe,invoice_reports_path(id: order.id,:family_member_id => resource.id ,:email => :true), :remote => true,class: "btn blue-hoki btn-sm pull-right",:"data-no-turbolink"=> "true"
          -else
            .col-md-3.pull-right
              = link_to "<i class='fa fa-file-pdf-o'></i>&nbsp;Download".html_safe,invoice_reports_path(id: order.id, :patient_id => resource.id, :format => :pdf),:target => '_blank',class: "btn blue-hoki btn-sm pull-right" 
            .col-md-3.pull-right
              = link_to "<i class='fa fa-send'></i>&nbsp;Email".html_safe,invoice_reports_path(id: order.id, :patient_id => resource.id,:email => :true),class: "btn blue-hoki btn-sm", :remote => true,:"data-no-turbolink"=> "true"

          -if !order.paid? && patient_signed_in?
            %a.payment-modal-link.btn.btn-sm.green.hidden-print.margin-bottom-5{:href => "#", "data-value"=> order.id}
              Submit Your Invoice
              %i.fa.fa-check

:css
  //css for invoice report bottom part.
  .invoice-bottom {
    margin-right: -35%;
  }
  .border_inv1 {
    margin: 5px 0px !important;
    border-top: 3px solid #000000;
    width: 117%;
  }
  .border_inv2 {
    margin: 5px 0px !important;
    border-top: 2px solid #000000;
    width: 117%;
  }
  .total_size {
    font-size: 17px;
  }