%head
	%link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :integrity => "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", :rel => "stylesheet"}/
	%link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
.row.top_view_margin
	.col-md-1
	.col-md-10
		= render partial: 'patient/reports/invoices',:locals => { request_type: 'html'}
	.col-md-1

:css

	.top_view_margin {
		margin-top: 2%;
		margin-bottom: 2%;
	}
	body {
		width: 98%;
	}
	@media print{
		@page {
			size: landscape
		}
	}