-count=0
-resource=order.joint_resource.member
.row
  .col-md-6
    - if order.store.try(:logo).present?
      -if request_type.present? && request_type == 'pdf'
        = wicked_pdf_image_tag order.store.logo.url(:thumb), class: "img-responsive align-middle"
      -elsif params[:request_type].present? && params[:request_type] == 'pdf'
        = wicked_pdf_image_tag order.store.logo.url(:thumb), class: "img-responsive align-middle"
      -else
        = image_tag order.store.logo.url(:thumb), class: "img-responsive align-middle"
    - else
      %img.img-responsive.align-middle{:alt => "logo", :src => "/images/Eyetrust_Vision_Logo.png"}/
      %h4
        = order.store.try(:description)
  .col-sm-5
    %strong #{order.try(:store).try(:description).try(:titleize)}
    %br
    -if order.store.try(:office_address).try(:full_addr_for_reports).present?
      #{order.store.try(:office_address).try(:full_addr_for_reports)}
    %br
    - if order.try(:store).phone_number.present? 
      = "P: #{number_to_phone(order.store.phone_number.to_s[2..-1].to_i, area_code: true)}" 
      %br
    %abbr{:title => "Email"}
    #{order.try(:store).try(:contact_email)}  
    %br
    = "F: #{order.store.fax}"  if order.try(:store).fax.present?      
  .col-md-1
%hr/

.row  
  .col-md-6
    %label
      %b
        = resource.try(:name)
    %ul.list-inline
      - if resource.email.present?  
        %li{style: "margin-top: 7px"}
          %i.fa.fa-envelope
          = "#{resource.email}"
      - if resource.phone.present?  
        %li
          %i.fa.fa-comment
          = "#{number_to_phone(resource.phone.to_s[2..-1].to_i, area_code: true)}"
      %br
      - if resource.birthday.present?  
        %li
          %i.fa.fa-calendar
          = "#{resource.birthday} , AGE: #{resource.try(:age)}"
      - if resource.occupation.present?  
        %li
          %i.fa.fa-briefcase
          = "#{resource.occupation}"
      - unless resource.class  == FamilyMember
        - if  resource.employer.present? 
          %li
            %i.fa.fa-user
            = "#{resource.employer}"

      - if resource.vision_insurance.present?
        - if resource.vision_insurance_name.present? && resource.vision_insurance_code.present?
          %li
            %i.fa.fa-eye
            = "#{resource.vision_insurance_name + ' / ' + resource.vision_insurance_code}"
        - else
          %li
            %i.fa.fa-eye
            = "#{resource.vision_insurance_name}"
      %br
      - if resource.try(:joint_resource).try(:home_address).present?
        %li
          - address = resource.joint_resource.home_address
          %i.fa.fa-map-marker
          -if address.address1.present?
            - addr = address.address1
          -if address.city.present?
            -if addr.present?
              - addr = addr + ', ' + address.city
            -else
              - addr = address.city
          -if address.country_id.present? && address.state_id.present? 
            -if addr.present?
              - addr = addr + "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name).nil? ? "" : ", #{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"}"
            -else
              - addr = "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"
          -if address.postal_code.present?
            -if addr.present?
              - addr = addr + ', ' + address.postal_code
            -else
              - addr = address.postal_code
          = addr
  .col-sm-6.invoice-payment
    %h4 Payment Details:
    %ul.list-unstyled
      -if order.paid?
        %li
          Status: Paid
      -else
        %li
          Still Pending.....
        %br
      -if order.other_payments.present?  
        %li
          = "comments: #{order.other_payments.last.comments}"
        %li
          = "additional comments: #{order.other_payments.last.additional_notes}"         


.row
  .col-sm-6
    %ul.list-unstyled
      %li
        = "Date: #{order.try(:order_date).try(:strftime,"%m/%d/%Y")}"
      %li
        = "Order : ##{order.try(:id)}"
- unless order.total == 0.0  
  .row
    .col-sm-12
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th{:colspan => 2}
              Item Description
            %th 

            %th
              Quantity
            %th
              Unit Cost
            %th
              Discount
            %th 
              Sub Total    
            %th
              Total
        %tbody
        -if order.procedure_adjustments.present?
          %tr
            %th{:colspan => 2}
              Exam Procedures
            %th
            %th
            %th
            %th
            %th
            %th
              =number_to_currency(order.exam_copay)
          -order.procedure_adjustments.each do |procedure_adjustment| 
            %tr
              %td
                =count=count+1 
              %td
                - if procedure_adjustment.exam_procedure.try(:name).present?
                  = "  "+procedure_adjustment.exam_procedure.name
              %td

              %td.hidden-480
                =1
              %td.hidden-480  
                - if procedure_adjustment.exam_procedure.try(:price).present?
                  =number_to_currency(procedure_adjustment.exam_procedure.price)
              %td
              %td
                =number_to_currency(procedure_adjustment.price)
              %td  
        -if order.eye_glass_orders.present?
          -(order.eye_glass_orders-order.eye_glass_orders.where(:hold=>true)).each_with_index do |eye_glass,index|  
            -if eye_glass.total > 0.0  
              %tr
                %th{:colspan => 2}
                  Eyeglass Order ##{index+1}
                %th
                
                %th
                
                %th
                %th
                %th
                %th
                  =number_to_currency(eye_glass.total)
              %tr
                %td
                  =count=count+1
                %td
                  Frame
                %td.hidden-480
                  =eye_glass.glass_frames_price.try(:frame)
                %td.hidden-480
                  
                %td.hidden-480
                  =number_to_currency(eye_glass.frame_price)
                %td
                  = over_all_gl_overage_discount(order)+"%" unless (over_all_gl_overage_discount(order) == "0.0")
                %td  
                  =number_to_currency(eye_glass.frame_price)
                %td
              %tr
                %td
                  =count=count+1
                %td
                  Glass Type
                %td.hidden-480
                  =eye_glass.eyeglass_types_price.try(:glasstype)
                %td.hidden-480
                  
                %td.hidden-480
                  =number_to_currency(eye_glass.glass_type_price)
                %td
                  = over_all_gl_disc(order)+"%"  unless over_all_gl_disc(order) == "0.0"
                %td  
                  =number_to_currency(eye_glass.glass_type_price)
                %td
              %tr
                %td
                  =count=count+1
                %td
                  Material
                %td.hidden-480
                  =eye_glass.lens_material.try(:name)
                %td.hidden-480
                  
                %td.hidden-480
                  =number_to_currency(eye_glass.lens_material_price)
                %td
                  = over_all_gl_disc(order)+"%"  unless over_all_gl_disc(order) == "0.0"
                %td  
                  =number_to_currency(eye_glass.lens_material_price)
                %td
              %tr
                %td
                  =count=count+1
                %td
                  Addons
                %td.hidden-480
                  =eye_glass.addon_details.map{|ad| ad.try(:glass_addons_price).try(:addon)}.join(",")
                %td.hidden-480
                  
                %td.hidden-480
                  =number_to_currency(eye_glass.addons_price)
                %td
                  = over_all_gl_disc(order)+"%"  unless over_all_gl_disc(order) == "0.0"
                %td
                  =number_to_currency(eye_glass.addons_price)
                %td
              %tr
                %td
                  =count=count+1
                %td
                  Material Copay
                %td.hidden-480
                  
                %td.hidden-480
                  
                %td.hidden-480
                %td
                  = over_all_gl_disc(order)+"%"  unless over_all_gl_disc(order) == "0.0"
                %td
                  =number_to_currency(eye_glass.try(:material_copay))
                %td
        -if order.contact_lens_orders.present?
          -(order.contact_lens_orders-order.contact_lens_orders.where(:hold=> true)).each_with_index do |contact_lens,index| 
            - if contact_lens.try(:od_qnt) > 0
              %tr{:style => 'hidden'}
                %th{:colspan => 2}
                  Contact Lens Order ##{index+1}
                %th
                
                %th
                
                %th
                %th
                %th
                %th
                  =number_to_currency(contact_lens.total)
              %tr
                %td
                  =count=count+1
                %td
                  = contact_lens.try(:od_lens_type_price).try(:brand_name) || contact_lens.lenses.first.try(:od_type)
                %td.hidden-480
                  
                %td.hidden-480
                  = contact_lens.try(:od_qnt)
                %td.hidden-480
                  = number_to_currency(contact_lens.try(:od_price))
                %td
                  - cl_dis1 = contact_lens.try(:discount) * 100
                  = "#{cl_dis1}%" 
                %td
                  - mul1 = contact_lens.try(:od_qnt).to_f*(contact_lens.try(:od_patient_pays).to_f)
                  = number_to_currency(mul1)
                %td
              %tr
                %td
                  =count=count+1
                %td
                  = contact_lens.try(:os_lens_type_price).try(:brand_name) || contact_lens.lenses.first.try(:os_type)
                %td.hidden-480
                %td.hidden-480
                  = contact_lens.try(:os_qnt)
                %td.hidden-480
                  = number_to_currency(contact_lens.try(:os_price))
                %td
                  - cl_dis2 = contact_lens.try(:discount) * 100
                  = "#{cl_dis2}%" 
                %td
                  - mul2 = contact_lens.try(:os_qnt).to_f*(contact_lens.try(:os_patient_pays).to_f)
                  = number_to_currency(mul2)
                %td