%head
	%link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :integrity => "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", :rel => "stylesheet", :media =>'screen,print',  :type => 'text/css'}/
	%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"}
.container
	.row
		.col-md-12
			= render partial: 'patient/reports/prescription',:locals => { request_type: 'html'}
		.col-md-4.pull-right.form-group.print_presc_tab
			.alert.alert-info
				%strong Please click below button after page is successfully loaded
			= button_tag "PRINT", class: 'btn btn-success btn-lg pull-right print_presc_tab', type: "button",onclick: "printPage()"




:javascript
	function printPage(){
		$(".print_presc_tab").hide();
		window.print()
		$(".print_presc_tab").show();
	}
:css
	@media print {
	  html, body {
	   width: 100%;
	  }
	  .container, .container div {
	  	width: 100%;
	  }
	}