- exam = exam || @exam
- resource=exam.joint_resource.member
-current_patient=@patient||current_patient
.div{:id=> "prescription#{exam.id}",  :style => "#{@exam.present? ? '' : 'transform: scale3d(1,1,1);transform-origin: left top;height: 500px;overflow-y: auto;margin-bottom: 50px;'}", class: "#{@exam.present? ? 'col-md-12' : 'col-md-6'}"}
  .form-group
    .row.new-sty-logo
      .col-md-6
        %p
          = exam.store.description
          %br
          -if exam.store.try(:office_address).try(:full_addr_for_reports).present?
            #{exam.store.try(:office_address).try(:full_addr_for_reports)}
          %br
          %abbr{:title => "Email"}
          #{exam.try(:store).try(:contact_email)}
          %br
          - if exam.try(:store).phone_number.present?
            = "P: #{number_to_phone(exam.store.phone_number.to_s[2..-1].to_i, area_code: true)}" 
            %br
          - if exam.try(:store).fax.present?  
            = "F: #{exam.store.fax}"
            %br          
      .col-md-1 
      .col-md-5
        - if exam.store.logo.present?
          -if @exam.present?
            -if request.try(:format).try(:html?) || !request.try(:format).try(:pdf?)
              = image_tag exam.store.logo.url(:thumb), class: "img-responsive align-middle"
            -else
              = wicked_pdf_image_tag exam.store.logo.url(:thumb), class: "img-responsive align-middle"
          -else
            = image_tag exam.store.logo.url(:thumb), class: "img-responsive"
        - else
          %img.img-responsive.align-middle{:alt => "logo", :src => "/images/def_logo.jpg"}/
          %h3
            = exam.store.description
    %hr
    .row.linear.new-sty-logo
      .col-md-5
        %label.control-label Name:
        %span.valuemark
          - if exam.try(:joint_resource).is_family_member?
            #{resource.try(:name)}
          -else
            #{exam.try(:joint_resource).try(:patient).try(:name)}
      .col-md-4
        %label.control-label DOB
        %span.valuemark
          #{resource.birthday.present? ? resource.birthday : "N/A"}
      .col-md-3
        - if resource.birthday.present?
          %label.string.optional.control-label Age:
          %span.valuemark
            #{resource.age}
    %hr
  - if exam.glasses_prescriptions.present? 
    .col-md-12
      .row  
        %h4.control-label Final Eyeglasses Prescription
      .row{:id => "mobileview"}
        - exam.glasses_prescriptions.each do |glasses_prescription|
          - if glasses_prescription.expired_date < Date.today
            %h2.form-group.text-center.text-danger
              EXPIRED PRESCRIPTION
          - glass = glasses_prescription.glass
          .row
            .col-md-1.bold
            .col-md-2.bold
              SPHERE
            .col-md-3.bold
              CYLINDER
            .col-md-2.bold
              AXIS
            .col-md-2.bold
              Add
            .col-md-2.bold
              PRISM
          .row
            .col-md-1
              OD
            .col-md-2
              = glass.try(:od_sphere)
            .col-md-3
              = glass.try(:od_cylinder)
            .col-md-2
              = glass.try(:od_axis)
            .col-md-2
              = glass.try(:ou_add)
            .col-md-2
              = glass.try(:od_prism)
          .row.form-group
            .col-md-1
              OS
            .col-md-2
              = glass.try(:os_sphere)
            .col-md-3
              = glass.try(:os_cylinder)
            .col-md-2
              = glass.try(:os_axis)
            .col-md-2
              = glass.try(:ou_add)
            .col-md-2
              = glass.try(:os_prism)
          .row
            .col-md-3
              Issued Date: 
            .col-md-3
              = glasses_prescription.try(:issued_date)
            .col-md-3
              Expired Date:
            .col-md-3
              = glasses_prescription.try(:expired_date)
          .row
            .col-md-3
              Recommendations: 
            .col-md-8
              = glasses_prescription.try(:doctor_recommendations).map(&:name).join(', ')
          .row.form-group
            .col-md-3
              Comment: 
            .col-md-9
              = glasses_prescription.try(:comment)


      %hr
      %br
  -if exam.lens_prescriptions.present? 
    .col-md-12
      %h4.control-label Final Contact Lens Prescription
      .row{:id => "mobileview"}
        - exam.lens_prescriptions.each do |lens_prescription|
          - if lens_prescription.expired_date < Date.today
            %h2.text-center.text-danger
              EXPIRED PRESCRIPTION
          - lens = lens_prescription.lens
          - od_lens_types =LensTypesPrice.find_by(id: lens.od_lens_types_price_id)
          - os_lens_types =LensTypesPrice.find_by(id: lens.os_lens_types_price_id)
          - od_type = od_lens_types.try(:lens_type)
          - os_type = os_lens_types.try(:lens_type)
          .col-md-12  
            .row
              .col-md-1.bold
              .col-md-2.bold
                Type
              .col-md-2.bold
                Sphere
              .col-md-2.bold
                Cylinder
              .col-md-1.bold
                Axis
              .col-md-1.bold
                Add
              .col-md-1.bold
                Base Curve
              .col-md-1.bold
                Diameter
          .col-md-12
            .row
              .col-md-1
                OD
              -if lens.od_type.present?  
                .col-md-2
                  = lens.od_type
                .col-md-2
                  = lens.od_sphere
                .col-md-2
                  = filter_lens_fields(od_type, 'cylinder') == "hidden" ? " " : lens.od_cylinder
                .col-md-1
                  = filter_lens_fields(od_type, 'axis') == "hidden" ? " " : lens.od_axis
                .col-md-1
                  = filter_lens_fields(od_type, 'add') == "hidden" ? " " : lens.od_add
                .col-md-1
                  = lens.od_base_curve
                .col-md-1
                  = lens.od_diameter
          .col-md-12
            .row
              .col-md-1
                OS
              -if lens.os_type.present?
                .col-md-2
                  = lens.os_type
                .col-md-2
                  = lens.os_sphere
                .col-md-2
                  = filter_lens_fields(os_type, 'cylinder') == "hidden" ? " " : lens.os_cylinder
                .col-md-1
                  = filter_lens_fields(os_type, 'axis') == "hidden" ? " " : lens.os_axis
                .col-md-1
                  = filter_lens_fields(os_type, 'add') == "hidden" ? " " : lens.os_add
                .col-md-1
                  = lens.os_base_curve
                .col-md-1
                  = lens.os_diameter
            %br
          - if lens_prescription.cleaning_solution.present?
            .col-md-3
              Cleaning Solution :
            .col-md-3
              = current_organisation.exam_cleaning_solution.find_by(id: lens_prescription.cleaning_solution).try(:name)
          - else
          .col-md-12
            .row
              .col-md-3
                Issued Date: 
              .col-md-3
                = lens_prescription.try(:issued_date).strftime("%m/%d/%y")
              .col-md-3
                Expired Date:
              .col-md-3
                = lens_prescription.try(:expired_date).strftime("%m/%d/%y")
            .row.form-group
              .col-md-3
                Comment: 
              .col-md-9
                = lens_prescription.try(:comment)
      

  %br
  /*--here @exam is used for pdf view and else part is for normal HTML report--*/
  -if @exam.present?
    - if @exam.doctor.sign_image.present?
      - sign_image_url = @exam.doctor.sign_image
      -if request.try(:format).try(:html?)
        %img{:src => sign_image_url.url, :style=>"width:180px;height:50px;"}/
      -else
        = wicked_pdf_image_tag(sign_image_url.to_s, :style=>"width:180px;height:50px;")
    - else
      .signature
        = @exam.doctor.try(:name)
    %br
    = @exam.doctor.try(:name)
    %br 
    - if @exam.try(:doctor).try(:license_no).present?
      = " License Number " + @exam.try(:doctor).try(:license_no)
  -else
    %div.col-md-offset-4
      - if exam.doctor.sign_image.present?
        - sign_image_url = exam.doctor.sign_image
        -if request.try(:format).try(:html?)
          %img{:src => sign_image_url.url, :style=>"width:180px;height:50px;"}/
        - else
          = wicked_pdf_image_tag(sign_image_url.to_s, :style=>"width:180px;height:50px;")
      -else  
        .signature
          = exam.doctor.try(:name)
      .col-md-offset-2
        = exam.doctor.try(:name)
        %br
        - if exam.try(:doctor).try(:license_no).present?
          = " License Number " + exam.try(:doctor).try(:license_no)

  %br
  - unless @exam.present?
    .col-md-12
      .col-md-3.pull-right.view_presc_btn  
        %input.btn.blue-hoki.btn-sm.pull-right{:onclick => "printprescDiv('prescription#{exam.id}')", :type => "button", :value => "View & Print"}/
      .col-md-4.pull-right.form-group.btn_presc_show_hide.hide
        .alert.alert-danger
          %strong Click print below after page is successfully loaded
        = button_tag "PRINT", class: 'btn btn-success btn-lg pull-right print_presc_report', type: "button"
      -if resource.class == FamilyMember
        .col-md-3.pull-right.presc_email_btn
          = link_to "<i class='fa fa-send'></i>&nbsp;Email".html_safe,prescription_reports_path(id: exam.id,:family_member_id => resource.id ,:email => :true), :remote => true,class: "btn blue-hoki btn-sm pull-right",:"data-no-turbolink"=> "true"
      -else
        .col-md-3.pull-right.presc_email_btn
          = link_to "<i class='fa fa-send'></i>&nbsp;Email".html_safe,prescription_reports_path(id: exam.id, :patient_id => resource.id, :email => :true), :remote => true,class: "btn blue-hoki btn-sm pull-right",:"data-no-turbolink"=> "true"


:css
  -if params["controller"] == "doctor/reports"
    @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      [class*="col-"] {
          width: 100%;
      }   
      .row.linear {
      display: flex;
      white-space: nowrap;
      }
      #mobileview .row {
      display: flex;
      }
      @font-face {
      font-family: signature;
      src: url(/signature.ttf);
      }
      .signature {
        font-family: signature;
        font-size: 40px;
      }
    }
  -else  
    .row.linear {
    display: flex;
    white-space: nowrap;
    }
    #mobileview .row {
    display: flex;
    }
    @font-face {
    font-family: signature;
    src: url(/signature.ttf);
    }
    .signature {
      font-family: signature;
      font-size: 40px;
    }
    @media print{
    .new-sty-logo .col-md-6{width:50%; float:left}
    .new-sty-logo .col-md-5{width:40%; float:right}
    }

:javascript
  function printprescDiv(divName) 
  {
    var divToPrint = document.getElementById(divName).innerHTML;
    document.body.innerHTML = divToPrint;
    $(".presc_email_btn").hide();
    $(".print_presc_report").show();
    $(".view_presc_btn").hide();
    $(".btn_presc_show_hide").removeClass("hide");
    $( ".print_presc_report" ).on( "click", function() {
      var current_url = window.location.href;
      window.location.assign(current_url);
      $(".view_presc_btn").hide();
      $(".btn_presc_show_hide").hide();
      window.print();
    })
  }
  $(".print_presc_report").hide();
