- referral_form ||= @referral_form
- exam = referral_form.examination
- resource=referral_form.joint_resource.member
- current_patient=@patient||current_patient
.div{:id=>"referral-slip#{referral_form.id}",  :style => "#{@referral_form.present? ? '' : 'transform: scale3d(1,1,1);transform-origin: left top;height: 500px;overflow-y: auto;margin-bottom: 50px;'}", class: "#{@referral_form.present? ? 'col-md-12' : "col-md-6"}"}
  .form-group
    .row
      .col-sm-5
        %p
          = exam.store.description
          %br
          -if exam.store.try(:office_address).try(:full_addr_for_reports).present?
            #{exam.store.try(:office_address).try(:full_addr_for_reports)}
          %br
          %abbr{:title => "Email"}
          #{exam.try(:store).try(:contact_email)}
          %br
          - if exam.try(:store).phone_number.present?
            = "P: #{number_to_phone(exam.store.phone_number.to_s[2..-1].to_i, area_code: true)}"  
            %br
          = "F: #{exam.store.fax}" if exam.try(:store).fax.present?
      .col-sm-1 
      .col-md-6
        - if exam.store.logo.present?
          -if request.try(:format).try(:html?) || request.try(:format).try(:js?)
            -if params['fax'].present?
              = wicked_pdf_image_tag exam.store.logo.url(:thumb), class: "img-responsive align-middle"
            -else
              = image_tag exam.store.logo.url(:thumb), class: "img-responsive align-middle"  
          -else
            = wicked_pdf_image_tag exam.store.logo.url(:thumb), class: "img-responsive align-middle"
        - else
          %img.img-responsive.align-middle{:alt => "logo", :src => "/images/def_logo.jpg"}/
          %h3
            = exam.store.description
        %br
        Referral Date: #{referral_form.updated_at.strftime("%m/%d/%Y %I:%M%p")}
    %hr/
    
    .row
      .col-md-10
        %label
          %b
            = resource.try(:name)
        %ul.list-inline
          - if resource.email.present?  
            %li{style: "margin-top: 7px"}
              %i.fa.fa-envelope
              = "#{resource.email}"
          - if resource.phone.present?  
            %li
              %i.fa.fa-comment
              = "#{number_to_phone(resource.phone.to_s[2..-1].to_i, area_code: true)}"
          %br
          - if resource.birthday.present?  
            %li
              %i.fa.fa-calendar
              = "#{resource.birthday} , AGE: #{resource.try(:age)}"
          - if resource.occupation.present?  
            %li
              %i.fa.fa-briefcase
              = "#{resource.occupation}"
          - unless resource.class  == FamilyMember
            - if  resource.employer.present? 
              %li
                %i.fa.fa-user
                = "#{resource.employer}"

          - if resource.vision_insurance.present?
            - if resource.vision_insurance_name.present? && resource.vision_insurance_code.present?
              %li
                %i.fa.fa-eye
                = "#{resource.vision_insurance_name + ' / ' + resource.vision_insurance_code}"
            - else
              %li
                %i.fa.fa-eye
                = "#{resource.vision_insurance_name}"
          %br
          - if resource.try(:joint_resource).try(:home_address).present?
            %li
              - address = resource.joint_resource.home_address
              %i.fa.fa-map-marker
              -if address.address1.present?
                - addr = address.address1
              -if address.city.present?
                -if addr.present?
                  - addr = addr + ', ' + address.city
                -else
                  - addr = address.city
              -if address.country_id.present? && address.state_id.present? 
                -if addr.present?
                  - addr = addr + "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name).nil? ? "" : ", #{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"}"
                -else
                  - addr = "#{Carmen::Country.coded(address.country_id).try(:subregions).try(:coded,(address.state_id)).try(:name)}"
              -if address.postal_code.present?
                -if addr.present?
                  - addr = addr + ', ' + address.postal_code
                -else
                  - addr = address.postal_code
              = addr
            %br
    %br

    - if referral_form.refer_to.present?  
      .row
        .col-md-3
          %label.string.optional.control-label Request to see:
        .col-md-3
          = referral_form.refer_to
    - if referral_form.referral_reason.present?  
      .row
        .col-md-3
          %label.string.optional.control-label Referral Reason:
        .col-md-3
          = referral_form.referral_reason
    - if referral_form.message.present?  
      .row
        .col-md-3
          %label.string.optional.control-label Message:
        .col-md-3
          = referral_form.message
      - if referral_form.cc_to.present?
        .row
          .col-md-3
            %label.string.optional.control-label CC to:
          %span.valuemark
            #{referral_form.cc_to}
      - if exam.chief_complain.present?
        .row
          .col-md-3
            %label.string.optional.control-label Chief Complaint: 
            - chief_complain = exam.chief_complain
          = "#{chief_complain}"
    %br
    .row
      .col-md-12
        = render partial: "doctor/referrals/view", :locals => {referral_form: referral_form, exam: exam, patient: resource}


    - unless @referral_form.present?
      .col-md-12
        .col-md-3.pull-right.view_print_btn  
          %input.btn.blue-hoki.btn-sm.pull-right{:onclick => "printDiv('referral-slip#{referral_form.id}')", :type => "button", :value => "View & Print"}/
        .col-md-4.pull-right.form-group.btn_ref_show_hide.hide
          .alert.alert-danger
            %strong Click print below after page is successfully loaded
          = button_tag "PRINT", class: 'btn btn-success btn-lg pull-right print_ref_report', type: "button"
        -if resource.class == FamilyMember
          .col-md-3.pull-right.ref_email_btn
            = link_to "<i class='fa fa-send'></i>&nbsp;Email".html_safe,referral_reports_path(id: referral_form.id,:family_member_id => resource.id ,:email => :true), :remote => true,class: "btn blue-hoki btn-sm pull-right",:"data-no-turbolink"=> "true"
        -else
          .col-md-3.pull-right.ref_email_btn
            = link_to "<i class='fa fa-send'></i>&nbsp;Email".html_safe,referral_reports_path(id: referral_form.id,:patient_id => resource.id ,:email => :true), :remote => true,class: "btn blue-hoki btn-sm pull-right",:"data-no-turbolink"=> "true"
              


:css

  body{
    font-size: 12px;
  }
  label {
    font-size: 13px;
  }

