%div.print_report.hidden 
  .row.new-sty-logo
    .col-md-6
      %p
        = current_doctor.store.description
        %br
        -if current_doctor.store.try(:office_address).try(:full_addr_for_reports).present?
          #{current_doctor.store.try(:office_address).try(:full_addr_for_reports)}
        %br
        %abbr{:title => "Email"}
        #{current_doctor.try(:store).try(:contact_email)}
        %br
        - if current_doctor.try(:store).phone_number.present?
          = "P: #{number_to_phone(current_doctor.store.phone_number.to_s[2..-1].to_i, area_code: true)}" 
          %br
        - if current_doctor.try(:store).fax.present?  
          = "F: #{current_doctor.store.fax}"
        %br
        = "Date: #{Date.today}"
        %br        
    .col-md-1 
    .col-md-5
      - if current_doctor.store.logo.present?
        = image_tag current_doctor.store.logo.url(:thumb), class: "img-responsive align-middle pull-right"
      - else
        %img.img-responsive.align-middle.pull-right{:alt => "logo", :src => "/images/def_logo.jpg"}/
        %h3
          = current_doctor.store.description
  .row
    %h3.text
      - if params[:analytic].present?
        = "Report Year #{params[:analytic][:year]}"
      -else
        = "Report Year #{Date.today.year}"           
    
.row
  .col-md-12
    / BEGIN SAMPLE TABLE PORTLET
    .portlet
      .portlet-title
        .caption
          %i.fa.fa-money>
          Finance
        .tools
          %a.collapse{:href => "javascript:;"}
      - if @examinations.try(:any?) || @renewed_orders.present?
        .portlet-body.media_print
          .table-scrollable
            %table.table.table-striped.table-bordered.table-advance.table-hover
              %thead
                %tr
                  %th
                    %i.fa.fa-calendar
                    Date
                  %th
                    %i.fa.fa-shopping-cart
                    No. of entries
                  %th
                    %i.fa.fa-briefcase
                    Exam payments
                  %th
                    %i.fa.fa-credit-card
                    Eyeglass payments
                  %th
                    %i.fa.fa-credit-card
                    Contact lens payments
                  %th
                    %i.fa.fa-credit-card
                    Insurance Reimbursement
                  %th
                    %i.fa.fa-credit-card
                    Total
              %tbody
                - if @examinations.try(:any?)
                  - total_exam_payments = 0
                  - total_eye_glass_payments = 0
                  - total_contact_lens_payments = 0
                  -total_pay = 0
                  - @all_records.sort.each do |key, value|
                    %tr
                      %td
                        - if @view_name == 'month' || @view_name == 'week'  
                          = key.try(:strftime,"%B %d")
                        - else 
                          = key.try(:strftime,"%B")
                      %td
                        = @all_records[key][:number_of_entries]
                      %td
                        = number_to_currency(@all_records[key][:exam_payments].to_f)
                        - total_exam_payments = total_exam_payments + @all_records[key][:exam_payments].to_f
                      %td
                        = number_to_currency(@all_records[key][:eye_glass_payments].to_f)
                        - total_eye_glass_payments = total_eye_glass_payments + @all_records[key][:eye_glass_payments].to_f
                      %td
                        = number_to_currency(@all_records[key][:contact_lens_payments].to_f)
                        - total_contact_lens_payments = total_contact_lens_payments + @all_records[key][:contact_lens_payments].to_f
                      %td
                        N/A
                      %td
                        = number_to_currency(@all_records[key][:total].to_f)
                        - total_pay = total_pay + @all_records[key][:total].to_f

                  %tr
                    %td
                    %td
                    %td
                      =  number_to_currency(total_exam_payments.to_f)
                    %td
                      =  number_to_currency(total_eye_glass_payments.to_f)
                    %td
                      =  number_to_currency(total_contact_lens_payments.to_f)
                    %td  
                    %td
                      =  number_to_currency(total_pay.to_f)
                -elsif @renewed_orders.present?
                  
      -else
        No records to display
      / END SAMPLE TABLE PORTLET


  .col-md-12
    / BEGIN SAMPLE TABLE PORTLET
    .portlet
      .portlet-title
        .caption
          %i.fa.fa-edit>
          Exam
        .tools
          %a.collapse{:href => "javascript:;"}
      - if  @examinations.present?
        .portlet-body
          .table-scrollable
            %table.table.table-striped.table-bordered.table-advance.table-hover
              %thead
                %th
                  %i.fa.fa-calendar
                  Date
                -procedure_array=@exam_record.map{|date, exam_procedure_array| exam_procedure_array.map{|exam_procedure| exam_procedure.try(:name)}}.try(:flatten).try(:uniq)
                -procedure_array.each do|procedure_name|
                  %th
                    =procedure_name
              %tbody
                - @exam_record.sort.each do |key, value|
                  %tr
                    %td
                      - if @view_name == 'month' || @view_name == 'week'  
                        = key.try(:strftime,"%B %d")
                      - else
                        = key.try(:strftime,"%B")
                      ="($#{value.inject(0){|sum,x| sum+x.cost.to_f}})"
                    -val= value.group_by{|x| x.name}
                    -for j in 0...procedure_array.count
                      %td
                        -if val[procedure_array[j]].present?
                          =val[procedure_array[j]].inject(0){|sum, x| sum+x.no_of_exam_procedure}
                        -else
                          0
      -else
        No records to display
      / END SAMPLE TABLE PORTLET


  .col-md-12
    / BEGIN SAMPLE TABLE PORTLET
    .portlet
      .portlet-title
        .caption
          %i.icon-eyeglasses>
          Eyeglass Orders
        .tools
          %a.collapse{:href => "javascript:;"}
      - if   @eyeglasses.present?
        %table.table.table-striped.table-bordered.table-advance.table-hover
          %thead
            %tr
              %th
                %i.fa.fa-calendar
                Date
              - @lens_type_array = @lens.map{|date,glass_price_array| glass_price_array.map{|glass_price| glass_price.try(:glasstype)}}.try(:flatten).try(:uniq)
              -@lens_type_array.each do|lens|
                %th
                  =lens
          %tbody
            - @lens.sort.each do |key, value|
              %tr
                %td
                  - if @view_name == 'month' || @view_name == 'week'  
                    = key.try(:strftime,"%B %d") 
                  - else 
                    = key.try(:strftime,"%B")
                -val=value.group_by{|x| x.glasstype}
                -for j in 0...@lens_type_array.count
                  %td
                    -if val[@lens_type_array[j]].present?
                      =val[@lens_type_array[j]].inject(0){|sum, x| sum+x.no_of_glass_frames}
                    -else
                      0

        .portlet-body
          %h5 Addons
          %table.table.table-striped.table-bordered.table-advance.table-hover
            %thead
              %tr
                %th
                  %i.fa.fa-calendar
                  Date
                %th
                  Payment Total  
                -@addon_array = @addon.map{|date,glass_addon_price_array| glass_addon_price_array.map{|glass_addon_price| glass_addon_price.addon}}.try(:flatten).try(:uniq)
                -@addon_array.each do|addon|
                  %th
                    =addon
            %tbody
              - total = 0
              - @addon.sort.each do |key, value|
                %tr
                  %td
                    - addon = "#{value.inject(0){|sum,x| sum+x.cost.to_f}}"
                    - total = total + addon.to_f
                    - if @view_name == 'month' || @view_name == 'week'  
                      =  key.try(:strftime,"%B %d")
                    - else
                      = key.try(:strftime,"%B")
                  %td     
                    =" #{number_to_currency(addon.to_f)}"
                  -val=value.group_by{|x| x.addon}
                  -for j in 0...@addon_array.count
                    %td
                      -if val[@addon_array[j]].present?
                        =val[@addon_array[j]].inject(0){|sum, x| sum+x.no_of_glass_addons}
                      -else
                        0
              %tr
                %td
                %td
                  = " #{number_to_currency(total.to_f)}"                       

        .portlet-body
          %h5 Frames
          %table.table.table-striped.table-bordered.table-advance.table-hover
            %thead
              %tr
                %th
                  %i.fa.fa-calendar
                  Date
                %th
                  Payment Total  
                -@frame_array=@frame.map{|date,glass_frame_price_array| glass_frame_price_array.map{|glass_frame_price| glass_frame_price.try(:frame)}}.try(:flatten).try(:uniq)
                -@frame_array.each do|frame|
                  %th
                    =frame
            %tbody
              - frame_total = 0
              - @frame.sort.each do |key, value|
                %tr
                  %td
                    - frames = "#{value.inject(0){|sum,x| sum+x.cost.to_f}}"
                    - frame_total = frame_total + frames.to_f
                    - if @view_name == 'month' || @view_name == 'week'  
                      = key.try(:strftime,"%B %d")
                    - else
                      = key.try(:strftime,"%B")
                  %td    
                    =" #{number_to_currency(frames.to_f)}" 
                  -val=value.group_by{|x| x.frame}
                  -for j in 0...@frame_array.count
                    %td
                      -if val[@frame_array[j]].present?
                        =val[@frame_array[j]].inject(0){|sum, x| sum+x.no_of_glass_frames}
                      -else
                        0
              %tr
                %td
                %td
                  =" #{number_to_currency(frame_total.to_f)}"

        .portlet-body
          %h5 Lens Material
          %table.table.table-striped.table-bordered.table-advance.table-hover
            %thead
              %tr
                %th
                  %i.fa.fa-calendar
                  Date
                %th
                  Payment Total  
                -@lens_material_array = @lens_material.map{|date,lens_material_array| lens_material_array.map{|lens_material| lens_material.try(:name)}}.try(:flatten).try(:uniq)
                -@lens_material_array.each do|lens_material|
                  %th
                    =lens_material
            %tbody
              - lens_material_total = 0
              - @lens_material.sort.each do |key, value|
                %tr
                  %td
                    - lens_material = "#{value.inject(0){|sum,x| sum+x.cost.to_f}}"
                    - lens_material_total = lens_material_total + lens_material.to_f 
                    - if @view_name == 'month' || @view_name == 'week'  
                      = key.try(:strftime,"%B %d")
                    - else
                      = key.try(:strftime,"%B")
                  %td    
                    =" #{number_to_currency(lens_material.to_f)}" 
                  -val=value.group_by{|x| x.name}
                  -for j in 0...@lens_material_array.count
                    %td
                      -if val[@lens_material_array[j]].present?
                        =val[@lens_material_array[j]].inject(0){|sum, x| sum+x.no_of_glass_frames}
                      -else
                        0
              %tr
                %td
                %td
                  =" #{number_to_currency(lens_material_total.to_f)}"                          
      -else
        No records to display

  .col-md-12
    / BEGIN SAMPLE TABLE PORTLET
    .portlet
      .portlet-title
        .caption
          %i.fa.fa-circle-thin>
          %i.fa.fa-circle-thin>
          Contact Lens Orders
        .tools
          %a.collapse{:href => "javascript:;"}
      - if  @lenses_type.present?
        .portlet-body.scroll
          %table.table.table-striped.table-bordered.table-advance.table-hover
            %thead
              %tr
                %th
                  %i.fa.fa-calendar
                  Date
                %th
                  Payment Total  
                -@lenses_type_array = @lenses_type.map{|date,lenses_type_array| lenses_type_array.map{|lens_type| lens_type.try(:brand_name)}}.try(:flatten).try(:uniq)
                -@lenses_type_array.each do|lens_type|
                  %th
                    =lens_type
            %tbody
              - lens_price_total = 0
              - @lenses_type.sort.each do |key, value|
                %tr
                  %td
                    - lens_type_price = "#{value.inject(0){|sum,x| sum+x.price.to_f}}"
                    - lens_price_total = lens_price_total + lens_type_price.to_f
                    - if @view_name == 'month' || @view_name == 'week'  
                      = key.try(:strftime,"%B %d")
                    - else 
                      = key.try(:strftime,"%B")
                  %td    
                    =" #{number_to_currency(lens_type_price.to_f)}" 
                  -val=value.group_by{|x| x.brand_name}
                  -for j in 0...@lenses_type_array.count
                    %td
                      -if val[@lenses_type_array[j]].present?
                        =val[@lenses_type_array[j]].inject(0){|sum, x| sum+x.no_of_lens}
                      -else
                        0
              %tr
                %td
                %td
                  =" #{number_to_currency(lens_price_total.to_f)}"      
      -else
        No records to display
    / END SAMPLE TABLE PORTLET
:css
  .text{
    text-align: center;
  }
  .scroll{
    overflow-x: scroll;
  }
  @media print{    
    .media_print  {
        width: 100%;
      }
  }    