.row
  .col-md-6
    / BEGIN SAMPLE TABLE PORTLET
    .portlet
      .portlet-title
        .caption
          %i.fa.fa-money>
          Finance
        .tools
          %a.collapse{:href => "javascript:;"}
      .portlet-body
        .table-scrollable
          %table.table.table-striped.table-bordered.table-advance.table-hover
            %thead
              %tr
                %th.hidden-xs
                  %i.fa.fa-user
                  Name
                %th
                  %i.fa.fa-shopping-cart
                  Order
                %th
                  %i.fa.fa-briefcase
                  Insurance Reimbursement
                
                %th
                  %i.fa.fa-credit-card
                  Payment Status
                %th
            %tbody

              - if @orders.present?
                - @orders.each do |order| 
                  %tr
                    %td.highlight
                      .success
                      - patient = order.try(:joint_resource).try(:member)
                      
                      -if patient.class.name == "FamilyMember"
                        %a{:href => family_member_path(order.try(:joint_resource).try(:family_member))}
                          = order.try(:joint_resource).try(:member).try(:name)
                      -else
                        %a{:href => doctor_patient_profile_path(:patient_id => order.try(:joint_resource).try(:patient).try(:id))}
                          = order.try(:joint_resource).try(:member).try(:name)

                    %td.hidden-xs
                      = order.try(:total)
                    %td
                      = order.insurance_paid.present? ? order.insurance_paid : "N/A"
                    %td
                      = order.paid? ? 'Paid' : 'Due'

              - if @renewed_orders.present?  
                - @renewed_orders.each do |favourite_order|
                  %tr
                    %td.highlight
                      .success
                      - patient = favourite_order.try(:joint_resource).try(:member)
                      
                      -if patient.class.name == "FamilyMember"
                        %a{:href => family_member_path(favourite_order.try(:joint_resource).try(:family_member))}
                          = favourite_order.try(:joint_resource).try(:name)
                      -else
                        %a{:href => doctor_patient_profile_path(:patient_id => favourite_order.try(:joint_resource).try(:patient).try(:id))}
                          = favourite_order.try(:joint_resource).try(:name)
                    
                    %td.hidden-xs
                      = favourite_order.try(:total)
                    %td

                    %td
                      = favourite_order.paid? ? 'Paid': 'Due'
             
    / END SAMPLE TABLE PORTLET
  .col-md-6
    / BEGIN SAMPLE TABLE PORTLET
    .portlet
      .portlet-title
        .caption
          %i.fa.fa-edit>
          Exam
        .tools
          %a.collapse{:href => "javascript:;"}
      .portlet-body
        .table-scrollable
          %table.table.table-striped.table-bordered.table-advance.table-hover
            %thead
              %tr
                %th.hidden-xs
                  %i.fa.fa-user
                  Name
                %th.hidden-xs
                  %i.fa.fa-plus-square
                  Exam Procedures
                %th
            %tbody

              - if @examinations.present?
                - @examinations.each do |examination| 
                  %tr
                    %td
                      - patient = examination.try(:joint_resource).try(:member)
                      
                      -if patient.class.name == "FamilyMember"
                        %a{:href => family_member_path(examination.try(:joint_resource).try(:family_member))}
                          = examination.try(:joint_resource).try(:member).try(:name)
                      -else
                        %a{:href => doctor_patient_profile_path(:patient_id => examination.try(:joint_resource).try(:patient).try(:id))}
                          = examination.try(:joint_resource).try(:member).try(:name)
                    
                    %td.hidden-xs
                      = examination.try(:procedure_adjustments).map(&:name).join(",")
                
    / END SAMPLE TABLE PORTLET
.row
  .col-md-6
    / BEGIN SAMPLE TABLE PORTLET
    .portlet
      .portlet-title
        .caption
          %i.icon-eyeglasses>
          Eyeglasses
        .tools
          %a.collapse{:href => "javascript:;"}
          
      .portlet-body
        .table-scrollable
          %table.table.table-striped.table-bordered.table-advance.table-hover
            %thead
              %tr
                %th.hidden-xs
                  %i.fa.fa-user
                  Name
                %th
                  %i.fa.fa-plus-square
                  Glass Type
                %th.hidden-xs
                  %i.fa.fa-plus-square
                  Frame Brand
                %th
                  %i.fa.fa-plus-square
                  Lens Meterial
                %th.hidden-xs
                  %i.fa.fa-plus
                  Addons
            %tbody
              
              - if @orders.present?
                - @orders.each do |order|
                  - order.try(:eye_glass_orders).each do |glass|
                    %tr
                      %td
                        - patient = order.try(:joint_resource).try(:member)
                        
                        -if patient.class.name == "FamilyMember"
                          %a{:href => family_member_path(order.try(:joint_resource).try(:family_member))}
                            = order.try(:joint_resource).try(:member).try(:name)
                        -else
                          %a{:href => doctor_patient_profile_path(:patient_id => order.try(:joint_resource).try(:patient).try(:id))}
                            = order.try(:joint_resource).try(:member).try(:name)
                      
                      %td
                        = glass.try(:eyeglass_types_price).try(:glasstype)
                      %td
                        = glass.try(:glass_frames_price).try(:frame)
                      %td
                        = glass.try(:lens_material).try(:name)
                      %td
                        / =glass.addon_details.map(&:addon).join(",")
                        =glass.addon_details.map{|x| x.glass_addons_price.try(:addon)}.join(",")
    / END SAMPLE TABLE PORTLET
  .col-md-6
    / BEGIN SAMPLE TABLE PORTLET
    .portlet
      .portlet-title
        .caption
          %i.fa.fa-circle-thin
          %i.fa.fa-circle-thin
          Lenses
        .tools
          %a.collapse{:href => "javascript:;"}
      .portlet-body
        .table-scrollable
          %table.table.table-striped.table-bordered.table-advance.table-hover
            %thead
              %tr
                %th
                  %i.fa.fa-user
                  Name
                %th.hidden-xs
                  %i.fa.fa-plus-square
                  Brand Name
                %th.hidden-xs
                  %i.fa.fa-plus-square
                  Lens Type
                %th
                  %i.fa.fa-plus-square
                  Quantity
            %tbody
              
              - if @orders.present?
                - @orders.each do |order|
                  - order.try(:contact_lens_orders).each do |contact_lens_order| 
                    %tr
                      %td
                        - patient = order.try(:joint_resource).try(:member)
                        
                        -if patient.class.name == "FamilyMember"
                          %a{:href => family_member_path(order.try(:joint_resource).try(:family_member))}
                            = order.try(:joint_resource).try(:name)
                        -else
                          %a{:href => doctor_patient_profile_path(:patient_id => order.try(:joint_resource).try(:patient).try(:id))}
                            = order.try(:joint_resource).try(:name)
                      
                      %td.hidden-xs
                        = contact_lens_order.try(:od_lens_type_price).try(:brand_name)
                      %td
                        = contact_lens_order.try(:od_lens_type_price).try(:lens_type)
                      %td
                        = contact_lens_order.try(:od_qnt)
                    %tr
                      %td
                        - patient = order.try(:joint_resource).try(:member)
                        
                        -if patient.class.name == "FamilyMember"
                          %a{:href => family_member_path(order.try(:joint_resource).try(:family_member))}
                            = order.try(:joint_resource).try(:name)
                        -else
                          %a{:href => doctor_patient_profile_path(:patient_id => order.try(:joint_resource).try(:patient).try(:id))}
                            = order.try(:joint_resource).try(:name)
                      
                      %td.hidden-xs
                        = contact_lens_order.try(:os_lens_type_price).try(:brand_name)
                      %td
                        = contact_lens_order.try(:os_lens_type_price).try(:lens_type)
                      %td
                        = contact_lens_order.try(:os_qnt)
              
              - if @renewed_orders.present?
                - @renewed_orders.each do |favourite_order|
                  - lens = favourite_order.try(:lens_prescription).try(:lens)
                  %tr
                    %td
                      - patient = favourite_order.try(:joint_resource).try(:member)
                      
                      -if patient.class.name == "FamilyMember"
                        %a{:href => family_member_path(favourite_order.try(:joint_resource).try(:family_member))}
                          = favourite_order.try(:joint_resource).try(:name)
                      -else
                        %a{:href => doctor_patient_profile_path(:patient_id => favourite_order.try(:joint_resource).try(:patient).try(:id))}
                          = favourite_order.try(:joint_resource).try(:name)
                    
                    %td.hidden-xs
                      = lens.try(:od_type)
                    %td

                    %td
                      = favourite_order.lens_orders['lens_od_quantity']
                  %tr
                    %td
                      - patient = favourite_order.try(:joint_resource).try(:member)
                      
                      -if patient.class.name == "FamilyMember"
                        %a{:href => family_member_path(favourite_order.try(:joint_resource).try(:family_member))}
                          = favourite_order.try(:joint_resource).try(:name)
                      -else
                        %a{:href => doctor_patient_profile_path(:patient_id => favourite_order.try(:joint_resource).try(:patient).try(:id))}
                          = favourite_order.try(:joint_resource).try(:name)

                    %td.hidden-xs
                      = lens.try(:os_type)
                    %td

                    %td
                      = favourite_order.lens_orders['lens_os_quantity']
    / END SAMPLE TABLE PORTLET