%h1
.row
  .col-md-4.text-primary
    = "Total Payments $#{@total_payments.count}"
  .col-md-4.text-primary
    = "Total Users #{@total_patient.map{|x,y| y}.inject{|sum,i| sum+i}}"
  .col-md-4.text-primary
    = "Total Appointments #{@total_appointments.map{|x,y| y}.inject{|sum,i| sum+i}}"
.row
  .col-md-4
    = line_chart @total_payments, height: "80px"
  .col-md-4
    = line_chart @total_patient,  height: "80px"
  .col-md-4
    = line_chart @total_appointments,  height: "80px"
%h1
.row
  .col-md-4.text-primary
    = "Total Eyeglass Orders #{@total_eyeglass_orders.count}"
  .col-md-4.text-primary
    = "Total Contact Lens Orders #{@total_lens_orders.count}"
  .col-md-4.text-primary
    = "Total Exam Procedures #{@exam_procedures.count}"
.row
  .col-md-4
    = line_chart @total_eyeglass_orders, height: "80px"
  .col-md-4
    = line_chart @total_lens_orders, height: "80px"
  .col-md-4
    = line_chart @exam_procedures, height: "80px"
%h1
.row
  .col-md-4.text-primary
    = "Total Eyeglasses Orders Payments #{ @eye_glass_order_payments.count}"
  .col-md-4.text-primary
    = "Total Contact Lens Orders Payments #{@contact_lens_order_payments.count}"
  .col-md-4.text-primary
    = "Total Exam Procedure Payments #{@total_exam_proc_payment.count}"
.row
  .col-md-4
    = line_chart  @eye_glass_order_payments, height: "80px"
  .col-md-4
    = line_chart @contact_lens_order_payments, height: "80px"
  .col-md-4
    = line_chart @total_exam_proc_payment, height: "80px"