%div.hide_for_report
  %h2
  .row
    .col-md-4.text-center.text-primary
      / BEGIN PAGE TITLE &amp; BREADCRUMB
      %h3.page-title
        - if (current_doctor.role.include?("staff") && current_doctor.role.reject(&:empty?).length == 1)
          Analytics for #{current_doctor.name}
        -else
          Analytics
          %small statistics and more
    .col-md-8
      = simple_form_for :analytic, :url => filter_analytics_path, remote: true, html: {method: :get}  do |f|
        .row
          .col-md-4
            = f.input :start_date,  as: :date_picker, required: true, label: false, placeholder: "Start Date", :input_html => {:value=>2.weeks.ago.midnight.strftime('%m/%d/%Y')}
            
          .col-md-4
            = f.input :end_date,  as: :date_picker, required: true, label: false, placeholder: "End Date", :input_html => {:value=>Date.today.strftime('%m/%d/%Y')}
          .col-md-4
            = f.submit "Apply", class: "btn btn-primary"
        %br
        .row
          - if !(current_doctor.role.include?("staff") && current_doctor.role.reject(&:empty?).length == 1)
            .col-md-6
              = f.input :filter_class, :collection => [['Total Payments', 'order'] ,["Appointments", 'booking'], ['Eyeglass Orders','eye_glass_order'], ["Contact Lens Orders", "contact_lens_order"], ["Exam Procedures", "exam_procedures"]] + current_organisation.doctors.where("confirmed_at  IS NOT NULL").collect{|d| "#{d.name}, #{d.id}".split(",")}, selected: 1, label: false,  placeholder: "Select filter type"
          -else
            = f.input :filter_class, label: false, :input_html => {:value => current_doctor.id, :class => "hidden"}
  .div.col-md-12{:style=> "background: white !important"}         
    #filter_graph
      = render "filter_graph"
    .row
      .col-md-8
        #small_graph
          = render "small_graph"
      .col-md-4
        = pie_chart({"Returning Visitor" =>  @returning_visitor , "New Visitor" =>  @new_visitor })
    .clearfix

    %h1
    = simple_form_for :analytic, :url => orders_detail_analytics_path, remote: true, html: {method: :get}  do |f|
      .row
        .col-md-2
          = label_tag 'Day view'
          = f.radio_button :select_duration, "day", id: 'day_view'
        .col-md-2
          = label_tag 'Week view'
          = f.radio_button :select_duration, "week", id: 'week_view'
        .col-md-2
          = label_tag 'month view'
          = f.radio_button :select_duration, "month", id: 'month_view'
        .col-md-2
          = label_tag 'Year view'
          = f.radio_button :select_duration, "year", id: 'year_view', :checked => true
        .col-md-2
          %div.day.hidden
            = f.input :date, as: :date_picker, label: false
              
          %div.month.hidden
            = f.input :month, collection: (1..12).to_a.map{|i| [I18n.t("date.month_names")[i], i]} ,label: false, placeholder: Date.today.strftime("%B"), selected: Date.today.month
          %div.year.hidden
            = f.input :year, collection: (Date.today.year-2.. Date.today.year), label: false, placeholder: "Year", selected: Date.today.year
          %div.week.hidden
            = f.input :week, as: :date_picker,  label: false
              
        .col-md-2
          = f.submit "Apply", class: "btn btn-primary"
          = link_to "Print", '#', class: "btn btn-primary", id: "print_page"
      
.div.col-md-12{:style=> "background: white !important"}  
  #orders_detail_data
    = render "month_order_detail_data"
.div.clearfix


:javascript
  $(document).ready(function(){
    analyticsIndexPage();
  });  
  $('#print_page').on('click',function(){  
    $(".print_report").removeClass('hidden')
    $(".hide_for_report").addClass('hidden')
    window.print();
    $(".print_report").addClass('hidden')
    $(".hide_for_report").removeClass('hidden')
  })