<% if @view_name == "day" %>
	$('#orders_detail_data').html("<%= escape_javascript(render partial: 'orders_detail_data') %>");
<% end %>
<% if @view_name == "week" %>
	$('#orders_detail_data').html("<%= escape_javascript(render partial: 'month_order_detail_data') %>");
<% end %>
<% if @view_name == "month" %>
	$('#orders_detail_data').html("<%= escape_javascript(render partial: 'month_order_detail_data') %>");
<% end %>
<% if @view_name == "year" %>
	$('#orders_detail_data').html("<%= escape_javascript(render partial: 'month_order_detail_data') %>");
<% end %>