-doctor=doctor||@doctor
-url=doctor.id.present? ? staff_path(doctor) : staff_index_path(doctor)
= form_for doctor, url: url, remote: true do |f|  
  .form-group.col-md-6
    %label.control-label 
      First Name
      %span.required
        *
    = f.text_field :first_name, class:"form-control", required: true
  .form-group.col-md-6
    %label.control-label Last Name
    = f.text_field :last_name, class:"form-control"
    = f.hidden_field :type, class:"form-control", :value=>"Doctor"
  .form-group.col-md-6
    %label.control-label Mobile Number
    = text_field_tag  "tel_input", doctor.mobile_number, class:"form-control tel-input", placeholder: "eg: (305) 877-2026"
    = f.hidden_field :mobile_number
  .form-group.col-md-6
    %label.control-label 
      Email
      %span.required
        *
    = f.text_field :email, class:"form-control", required: true
  .form-group.col-md-6
    %label.control-label Date Of Birth
    = f.text_field :DOB, class:"form-control date-picker"
  .form-group.col-md-6
    %label.control-label Designation
    = f.text_field :designation, class:"form-control"
  .form-group.col-md-6
    %label.control-label About
    = f.text_field :about, class:"form-control"
  .form-group.col-md-6
    %label.control-label Select Store
    = f.select :store_id, options_from_collection_for_select(current_organisation.stores, "id", "description", doctor.store_id), {}, class:"form-control"
  .form-group.col-md-6
    %label.control-label Select Role
    - if current_doctor.role.include?("super_administrator")
      = f.select(:role, options_for_select([['super_administrator', 'super_administrator'], ['administrator', 'administrator'],['doctor','doctor'], ['staff', 'staff']], doctor.role), {}, {multiple: true, size: 3, class: 'form-control multi-select-roles', disabled: @super_admin_count == 1 ? true : false})
    - elsif current_doctor.role.include?("administrator")
      = f.select(:role, options_for_select([['administrator', 'administrator'],['doctor','doctor'], ['staff', 'staff']], doctor.role), {}, {multiple: true, size: 3, class: 'form-control multi-select-roles', disabled: @admin_count == 1 ? true : false})
  .form-group.col-md-6
    %label.control-label License Number
    = f.text_field :license_no, class:"form-control"

  - if current_doctor.role.to_set.intersect?(["administrator", "super_administrator"].to_set)
    .form-group.col-md-6
      %label.control-label Upload Signature 
      = f.file_field(:sign_image, class: "form-control")
 
    .form-group.col-md-6
      .col-md-12
        -if doctor.sign_image.present?
          %img{:src => doctor.sign_image.url, :style => "height: 100%;"}/
          .row.bold.form-group.col-md-offset-2 
            = @doctor.try(:name)
        -else  
          .signature
            = doctor.try(:name)
          .row.bold.form-group.col-md-offset-2 
            = @doctor.try(:name)
  
  .form-group.col-md-12
    %label.control-label Featured Color (This color will define you on calender)
    .input-group.color.colorpicker-default{"data-color" => doctor.theme_color, "data-color-format" => "hex", :style => "width: 50%;"}
      = f.text_field :theme_color, class:"form-control", :readonly=>true
      %span.input-group-btn
        %button.btn.default{:type => "button"}
          %i{:style => "background-color: "}
          \&nbsp;

  .clearfix
  .margiv-top-10.btn.pull-right
    = f.submit "Save Changes", class: "btn btn-lg green", onclick: "doctor_save_btn()"
  - if doctor.persisted? && !(doctor.id == current_doctor.id)
    .margiv-top-10.btn.pull-right
      = link_to "Delete Account", staff_path(doctor.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn pull-right btn-lg blue"
  - else
    .margiv-top-10.btn.pull-right
      = link_to "Delete Account", "#",class: "btn pull-right btn-lg blue" , disabled: true
  .clearfix
    

:javascript
  staff_form();