
- if @store_doctors != "nothing"
  - @store_doctors.each do |doctor|
    .portfolio-block
 
      .col-md-2
        .portfolio-text 
          .portfolio-info
            %h4
              = doctor.try(:name)
      .col-md-4             
        .portfolio-info
          %h4
            =doctor.try(:designation)
      .col-md-3
        .portfolio-info
          %h4
            = doctor.try(:about) 
        
      .col-md-3
        .portfolio-btn
          = link_to "Edit", edit_staff_path(doctor.id), remote: true, class: "btn btn-info btn-lg doctor_edit_btn"                 
       
        /end store delete alert
- else
  .portfolio-block
    .col-md-12            
      .portfolio-info
        %h4
          There is no staff for this store!
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", "data-backdrop"=> "false", :role => "dialog", :tabindex => "-1", :id=>"doctor_edit_modal", :style => "z-index: 0; margin-top:1.7em;"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#myModalLabel.modal-title Edit Doctor
      #docor_edit_form.modal-body