$('#docor_edit_form').html("<%= escape_javascript(render partial: 'form', doctor: @doctor) %>");


$(document).ready(function() {
    Metronic.init();
    ComponentsPickers.init();
    telInput();
  }); 