#payment-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "mymodalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}  ×
        %h4#mymodalLabel.modal-title
          Checkout
      .modal-body
        .row.margin-bottom-40
          / BEGIN CONTENT
          .col-md-12.col-sm-1
            / BEGIN CHECKOUT PAGE
            = form_for @transaction.present? ? @transaction : OrderTransaction.new, :url => payments_path, remote: true, html: {id: "payment-form"} do |f|
              = f.hidden_field :orderable_id
              = f.hidden_field :orderable_type
              = fields_for :creditcard, @creditcard do |cc|
                #checkout-page.panel-group.checkout-page.accordion.scrollable
                  / BEGIN PAYMENT ADDRESS
                  #payment-address.panel.panel-default
                    .panel-heading
                      %h2.panel-title
                        %a.accordion-toggle{"data-parent" => "#checkout-page", "data-toggle" => "collapse", :href => "#payment-address-content"}
                          Step 1: Account &amp; Billing Details
                    #payment-address-content.panel-collapse.collapse.in
                      .panel-body.row
                        .col-md-12.col-sm-12
                          .form-group.col-sm-6
                            %label{:for => "firstname"}
                              First Name
                              %span.required{"aria-required" => "true"}
                                *
                                .input-icon.right
                                  %i.fa
                                  %input#firstname.form-control{:type => "text", name: "option[billing_address][first_name]"}
                          .form-group.col-sm-6
                            %label{:for => "firstname"}
                              Last Name
                              %span.required{"aria-required" => "true"}
                                *
                                %input#firstname.form-control{:type => "text", name: "option[billing_address][last_name]"}
                          
                          .form-group.col-sm-6
                            %label{:for => "email"}
                              E-Mail
                              %span.require *
                            %input#email.form-control{:type => "text", name: "option[billing_address][e-mail]"}
                          .form-group.col-sm-6
                            %label{:for => "telephone"}
                              Telephone
                              %span.require *
                            %input#telephone.form-control{:type => "text", name: "option[billing_address][phone]"}
                          
                          
                        .col-md-12.col-sm-12
                          .form-group.col-sm-12
                            %label{:for => "address1"}
                              Address
                              %span.require *
                            %input#address1.form-control{:type => "text", name: "option[billing_address][address1]"} 
                          .form-group.col-sm-6
                            %label{:for => "region-state"}
                              City
                              %span.require *
                            %input#address1.form-control{:type => "text", name: "option[billing_address][city]"}
                          
                          .form-group.col-sm-6
                            %label{:for => "post-code"}
                              Post Code
                              %span.require *
                            %input#post-code.form-control{:type => "text", name: "option[billing_address][zip]"}
                          .form-group.col-sm-6
                            %label{:for => "post-code"}
                              Country
                              %span.require *
                            = country_select(nil,:country, { priority: %w(US CA) , selected: 'US'},:class=>"form-control country_select", :"data-target"=> "#billing_address_state", name: "option[billing_address][country_id]")
                          
                          
                          .form-group.col-sm-6
                            %label{:for => "region-state"}
                              Region/State
                              %span.require *
                            #billing_address_state
                              = render partial: '/pages/subregion_select'
                          
                        %hr
                          .col-md-12                                                           
                            %button#button-payment-address-continue.btn.btn-primary.pull-right{:type => "button"} Continue
                            %button#button-payment-address.btn.btn-primary.pull-right.hidden{"data-parent" => "#checkout-page", "data-target" => "#shipping-address-content", "data-toggle" => "collapse", :type => "button"} Continue
                            
                  / END PAYMENT ADDRESS
                  / BEGIN SHIPPING ADDRESS
                  #shipping-address.panel.panel-default
                    .panel-heading
                      %h2.panel-title
                        %a.accordion-toggle{"data-parent" => "#checkout-page", "data-toggle" => "collapse", :href => "#shipping-address-content"}
                          Step 2: Delivery Details
                    #shipping-address-content.panel-collapse.collapse
                      .panel-body.row
                        .col-md-12.col-sm-12
                          .form-group.col-sm-6
                            %label{:for => "firstname"}
                              First Name
                              %span.require *
                            %input#firstname.form-control{:type => "text", name: "option[shipping_address][first_name]"}
                          .form-group.col-sm-6
                            %label{:for => "firstname"}
                              Last Name
                              %span.require *
                            %input#firstname.form-control{:type => "text", name: "option[shipping_address][last_name]"}
                          
                          .form-group.col-sm-6
                            %label{:for => "email"}
                              E-Mail
                              %span.require *
                            %input#email.form-control{:type => "text", name: "option[shipping_address][e-mail]"}
                          .form-group.col-sm-6
                            %label{:for => "telephone"}
                              Telephone
                              %span.require *
                            %input#telephone.form-control{:type => "text", name: "option[shipping_address][phone]"}
                        .col-md-12.col-sm-12
                          .form-group.col-sm-12
                            %label{:for => "address1"}
                              Address
                              %span.require *
                            %input#address1.form-control{:type => "text", name: "option[shipping_address][address1]"} 
                          .form-group.col-sm-6
                            %label{:for => "region-state"}
                              City
                              %span.require *
                            %input#address1.form-control{:type => "text", name: "option[shipping_address][city]"}
                          
                          .form-group.col-sm-6
                            %label{:for => "post-code"}
                              Post Code
                              %span.require *
                            %input#post-code.form-control{:type => "text", name: "option[shipping_address][zip]"}
                          .form-group.col-sm-6
                            %label{:for => "post-code"}

                              Country
                              %span.require *
                            = country_select(nil,:country, { priority: %w(US CA) , selected: 'US'},:class=>"form-control country_select", :"data-target"=> "#shipping_address_state", name: "option[shipping_address][country_id]")
                          
                          .form-group.col-sm-6
                            %label{:for => "region-state"}
                              Region/State
                              %span.require *
                            #shipping_address_state
                              = render partial: '/pages/subregion_select'
                          
                        .col-md-12
                          %button#button-shipping-address-continue.btn.btn-primary.pull-right{:type => "button"} Continue
                          %button#button-shipping-address.btn.btn-primary.pull-right.hidden{"data-parent" => "#checkout-page", "data-target" => "#confirm-content", "data-toggle" => "collapse", :type => "button"} 
                  / END SHIPPING ADDRESS            
                  / BEGIN CONFIRM
                  #confirm.panel.panel-default
                    .panel-heading
                      %h2.panel-title
                        %a.accordion-toggle{"data-parent" => "#checkout-page", "data-toggle" => "collapse", :href => "#confirm-content"}
                          Step 3: Confirm Order/Card Details
                    #confirm-content.panel-collapse.collapse
                      .panel-body.row 
                        .form-group.col-sm-6
                          %label{:for => "firstname"}
                            First Name
                            %span.require *
                          = cc.text_field :first_name, class: "form-control"
                        .form-group.col-sm-6
                          %label{:for => "firstname"}
                            Last Name
                            %span.require *
                          = cc.text_field :last_name, class: "form-control"
                        .col-md-12
                          .form-group
                            %label{:for => "exampleInputPassword1"} Card Number
                            %span.require *
                            .input-group
                              %input.form-control{ name: "creditcard[number]"}
                                %span.input-group-addon
                                  %i.fa.fa-credit-card
                        .form-group.col-sm-4
                          %label{:for => "region-state-dd"}
                            Month
                            %span.require *
                          = cc.select :month, Date::ABBR_MONTHNAMES.compact.each_with_index.collect{|m, i| [m, i+1]}, {:prompt => '--- Please Select ---'}, class: "form-control input-sm"
                        .form-group.col-sm-4
                          %label{:for => "region-state-dd"}
                            Year
                            %span.require *
                          = cc.select :year,  Array.new(15){|i| Date.current.year+i}, {:prompt => '--- Please Select ---'}, class: "form-control input-sm"
                        .form-group.col-sm-4
                          %label{:for => "lastname-dd"}
                            Security Code
                            %span.require *
                          = cc.text_field :verification_value, class: "form-control"

                        .clearfix
                        %button#button-confirm.btn.btn-primary.pull-right{:type => "submit"} Confirm Order
                        %button.btn.btn-default.pull-right.margin-right-20{:type => "button", "data-dismiss" => "modal"} Cancel
                        .checkbox.pull-right
                          %label
                            %input{:type => "checkbox"}
                              I have read and agree to the
                              %a{:href => "#", :title => "Privacy Policy"} Privacy Policy
                              \&nbsp;&nbsp;&nbsp;
              / END CONFIRM
            / END CHECKOUT PAGE
          / END CONTENT