.container
  .row
    .col-md-4
    .col-md-4{style: "margin-top:20px;"}
      - if @patient.present?
        - current_patient = @patient
      - if current_patient.home_address.present?
        %h5 #{current_patient.home_address.try(:address1)}, #{current_patient.home_address.try(:address2)} , #{current_patient.home_address.try(:city)}
        %h5 DOB: #{current_patient.birthday} , AGE: #{current_patient.age}
        %h5 Employer: #{current_patient.employer}
        %h5 Occupation: #{current_patient.occupation}
    .col-md-4.pull-left.recent-status-box
      %row
        .col-md-4
          %i{class: "fa fa-user fa-5x",style: "margin-top:40px;"}
        .col-md-8
          .row
            .col-md-12
              %h3
                %span #{current_patient.first_name}#{current_patient.last_name}
          .row
            .col-md-3
              %span Visits
              %h4
                #{current_patient.sign_in_count}
            .col-md-3
              %span Views
              %h4
                #{current_patient.views_count}
            .col-md-3
              %span Rewards
              %h4
                #{current_patient.reward_point.to_i}
  .row
    .col-md-6.pull-left
      .page-title
        %h3.ch3
          Exams
  .row-fluid
    .span12
      .grid.simple
        .grid-body
          .table-responsive
            %table#exams.table.table-hover.table-condensed.table-bordered
              %thead
                %tr
                  %th Dated
                  %th Description
                  %th Items
                  %th Order Status
                  %th Amount
              %tbody
                - @my_exams.each do |exam|
                  %tr
                    %td
                      = exam.updated_at.strftime("%m/%d/%Y")
                    %td
                      = exam.exam_procedures.present? ? exam.exam_procedures.map{|prcd| prcd.name }.join(","):""
                    %td
                      = exam.exam_procedures.present? ? exam.exam_procedures.map{|prcd| prcd.code }.join(","):""
                    %td
                      = "#{exam.doctor.first_name}#{exam.doctor.last_name}"
                    %td
                      = exam.exam_procedures.present? ? exam.exam_procedures.sum(:price): ""
  .row
    .col-md-6.pull-left
      .page-title
        %h3.ch3
          Orders
  .row-fluid
    .span12
      .grid.simple
        .grid-body
          .table-responsive
            %table#orders.table.table-hover.table-condensed.table-bordered
              %thead
                %tr
                  %th Dated
                  %th Description
                  %th Items
                  %th Order Status
                  %th Amount
              %tbody
                - @my_orders.each do |order|
                  %tr
                    %td
                      = order.updated_at.strftime("%m/%d/%Y")
                    %td
                      - if order.contact_lens_orders.present?
                        %h6
                          = "OD: "+order.examination.lens_prescriptions.last.lens.od_type.to_s
                        %h6
                          = "OS: "+order.examination.lens_prescriptions.last.lens.os_type.to_s
                    %td
                      = #order.contact_lens_orders.last.lens.present? ? order.exam_procedures.select('code'):""
                    %td
                      = "#{order.examination.doctor.first_name}#{order.examination.doctor.last_name}"
                    %td
                      = order.total
  .row
    .col-md-6.pull-left
      .page-title
        %h3.ch3
          Appointments
  .row-fluid
    .span12
      .grid.simple
        .grid-body
          .table-responsive
            %table#appointments.table.table-hover.table-condensed.table-bordered
              %thead
                %tr
                  %th Dated
                  %th Description
                  %th Provider
                  %th Status
              %tbody
                - @my_appointments.each do |appoint|
                  %tr
                    %td
                      = appoint.updated_at.strftime("%m/%d/%Y")
                    %td
                      = appoint.chief_complain
                    %td
                      = ""
                    %td
                      = "#{appoint.doctor.first_name}#{appoint.doctor.last_name}" if appoint.doctor.present?
  .row
    .col-md-6.pull-left
      .page-title
        %h3.ch3
          Subscriptions
  .row-fluid
    .span12
      .grid.simple
        .grid-body
          .table-responsive
            %table#subscriptions.table.table-hover.table-condensed.table-bordered
              %thead
                %tr
                  %th Dated
                  %th Description
                  %th Provider
                  %th Status
              %tbody
                - @my_subscriptions.each do |subscp|
                  %tr
                    %td
                      = subscp.updated_at.strftime("%m/%d/%Y")
                    %td
                      = subscp.chief_complain
                    %td
                      = ""
                    %td
                      = "#{subscp.doctor.first_name}#{subscp.doctor.last_name}"
:javascript
  $(document).ready(function() {
    var oTable = $('#exams').dataTable();
    var oTable1 = $('#orders').dataTable();
    var oTable2 = $('#appointments').dataTable();
    var oTable3 = $('#subscriptions').dataTable();
  });
