#portlet-config.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
        %h4.modal-title Modal title
      .modal-body
        Widget settings form goes here
      .modal-footer
        %button.btn.blue{:type => "button"} Save changes
        %button.btn.default{"data-dismiss" => "modal", :type => "button"} Close
        

.row.profile
  .col-md-12
    .tabbable.tabbable-custom.tabbable-full-width
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab_1_1", id: "dash_mobile_tabs"}
            Overview
        %li
          %a{"data-toggle" => "tab", :href => "#reports_tab_1_3"}
            Reports
            %span.badge.badge-success
              =@patient.total_report_count
        %li
          %a{"data-toggle" => "tab", :href => "#account_tab_1_2", id: "load_account_tab"}
            Account

      .tab-content
        #tab_1_1.tab-pane.active
          =render '/patient/dashboards/dashboard_partial/overview'
        #account_tab_1_2.tab-pane.account_and_family
          Loading...
        #reports_tab_1_3.tab-pane.reports
          Loading...       


/modal box for family member edit

#favourite-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "favourite-modal", "data-backdrop" => "static", "data-keyboard"=>"false", :role => "dialog", :tabindex => "-1",:class => "bs-modal-lg"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header{:style => 'background-color: #2ae0bb;'}
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#favourite-modal.modal-title Order Details
      .modal-body{:style => 'max-height: 500px;overflow-y: auto;'} 
      .modal-footer.bg-warning
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        .btn-group
          %a{:href => "#",:class => 'btn blue re_new_order',:data => { :dismiss => 'modal'}}
            %i.fa.fa-edit
            Proceed to re-new order
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id=>"family_member_edit_modal"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#myModalLabel.modal-title Member Detail
      #family_member_edit_form.modal-body
/end of family member edit modal box
/modalbox for payment start
= render "checkout_form"
/modalbox for payment end
:css
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }   
    .menu-toggler.responsive-toggler
    {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    }
    .page-header.navbar .top-menu {
    display: block;
    clear: none;
    }
    #dash_mobile_tabs {
    display: none;
    }
    #load_family_member_tab{
    display: none;
    }
    ::-webkit-scrollbar{
    height:2px;
    }
    .dropdown {
    padding-left: 2px;
    }
    .portlet-body {
    overflow-x: scroll;
    }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu {
    background-color: #e2e2e2;
    }
    .hide_tab {
    display: none;
    }
  }
:javascript
  jQuery(document).ready(function() { 
    dashboardIndexPage();
  });
  $(document).on('ajax:complete', '.order_confirm_btn',function () {
    location.reload();
  });

  $(document).on('click', "#load_account_tab", function(){
    $('.spinner').show();
    account_tab = '/dashboards/account_section';
    $('#account_tab_1_2').load(account_tab, function( response, status, xhr ) {
      $('.spinner').hide();
    });
  })

  
