.container
  %p#notice= notice
  %h3 Examination Report
  %hr/
  .row
    .col-md-6
      %label.string.optional.control-label
        Dated
      %h5
        = @examination.updated_at
  .row
    .col-md-3
      %label.string.optional.control-label
        Patient Name
      %h5
        = @examination.joint_resource.member.name
    .col-md-2  
      %label.string.optional.control-label
        Age
      %h5
        = @examination.patient.age
    .col-md-2  
      %label.string.optional.control-label
        Birthday
      %h5
        = @examination.patient.birthday
    .col-md-2  
      %label.string.optional.control-label
        Exam Date
      %h5
        = @examination.patient.created_at
  .row
    .col-md-9
      %label.string.optional.control-label
        Medical History
      .row.section_border 
        .col-md-6
          - {"pmhxes"=> "Patient Medical History", "fmhxes"=> "Family Medical History", "pohxes"=> "Patient Ocular History"}.each do |medical_issue, value|
            %label.string.optional.control-label
              = value 
            %br
            - medical_history(@examination.try(medical_issue.to_sym)).each do |hist|
              .row
                .col-md-9
                  %h5
                    = hist
        .col-md-6
          - {"fohxes"=> "Family Ocular History", "sxhxes"=>"Patient Surgical History", "allergies"=> "Allergy"}.each do |medical_issue, value|
            %label.string.optional.control-label
              = value 
            %br
            - medical_history(@examination.try(medical_issue.to_sym)).each do |hist|
              .row
                .col-md-9
                  %h5
                    = hist
  .row
    .col-md-9
      %label.string.optional.control-label
        Social History
      .row.section_border 
        .col-md-6
          - {"neurological_psych_status"=> "Neurological Psychological Status"}.each do |medical_issue, value|
            %label.string.optional.control-label
              = value
            - social_history(@examination.social_history.try(medical_issue.to_sym)).each do |hist|
              .row
                .col-md-9
                  %h5
                    = hist
        .col-md-6
          - {"tobacco_use"=> "Tobacco use", "alcohol_use"=>"Alcohol use"}.each do |medical_issue, value|
            %label.string.optional.control-label
              = value 
            .row
              .col-md-9
                %h5
                  = @examination.social_history.try(medical_issue.to_sym)? 'yes': 'no'
  .row
    .col-md-9
      %label.string.optional.control-label
        Binocular Testing
      .row.section_border 
        .col-md-6
          - {"ctd"=> "Cover Test Distance","ctn"=> "Cover Test Near","nra"=> "Cover Test NRA","pra"=> "Cover Test PRA"}.each do |medical_issue, value|
            .row
              .col-md-9
                %label.string.optional.control-label
                  = value
                %h5
                  = @examination.binocular_testing.try(medical_issue.to_sym)
        .col-md-6
          - {"hpd"=> "Horizontal Phorias Distance", "hpn"=>"Horizontal Phorias Near","vpd"=> "Vertical Phorias Distance","vpn"=> "Vertical Phorias Near"}.each do |medical_issue, value|
            .row
              .col-md-9
                %label.string.optional.control-label
                  = value 
                %h5
                  = @examination.binocular_testing.try(medical_issue.to_sym)
  .row
    .col-md-9
      %label.string.optional.control-label
        Preliminary Exam
      .row.section_border 
        .col-md-6
          - {"eoms"=> "Eoms","pupils"=> "Pupils","reaction"=>"Reaction"}.each do |medical_issue, value|
            .row
              .col-md-9
                %label.string.optional.control-label
                  = value
                %h5
                  = @examination.primlinary_exam.try(medical_issue.to_sym)
        .col-md-6
          - {"confrontational"=> "Confrontational Field","color_vision"=> "Color Vision (Ishihara)","steropsis"=>"Steropsis (Randot)"}.each do |medical_issue, value|
            .row
              .col-md-9
                %label.string.optional.control-label
                  = value 
                %h5
                  = @examination.primlinary_exam.try(medical_issue.to_sym)
  .row
    .col-md-9
      %label.string.optional.control-label
        Visual Acuity
      .row.section_border 
        .col-md-12
          %label.string.optional.control-label
            Without Correction
          %hr
            - @examination.visual_acuities.each do |vs_acuity|
              .row
                - {"distance_od"=> "Distance od","distance_os"=> "Distance os","distance_ou"=>"Distance ou"}.each do |medical_issue, value|
                  .col-md-6
                    %label.string.optional.control-label
                      = "#{value}:"
                    %span
                      = vs_acuity.try(medical_issue.to_sym)
                - {"near_od"=> "Near od","near_os"=> "Near os","near_ou"=>"Near ou"}.each do |medical_issue, value|
                  .col-md-6
                    %label.string.optional.control-label
                      = "#{value}:"
                    %span
                      = vs_acuity.try(medical_issue.to_sym)
      .row.section_border
        .col-md-12
          %label.string.optional.control-label
            With Correction
          %hr
            - @examination.glasses.each do |glass|
              .row
                - {"distance_od"=> "Distance od","distance_os"=> "Distance os","distance_ou"=>"Distance ou"}.each do |medical_issue, value|
                  .col-md-6
                    %label.string.optional.control-label
                      = "#{value}:"
                    %span
                      = glass.visual_acuity.try(medical_issue.to_sym)
                - {"near_od"=> "Near od","near_os"=> "Near os","near_ou"=>"Near ou"}.each do |medical_issue, value|
                  .col-md-6
                    %label.string.optional.control-label
                      = "#{value}:"
                    %span
                      = glass.visual_acuity.try(medical_issue.to_sym)
              %hr