.page-container{:style => "margin-top: 0px;"}
  .page-content{:style => "background-image: url() !important;min-height: 379px !important;"}
    - if follow_ups.present?
      .row
        .col-lg-12
          %ul.timeline
            - follow_ups.each do |follow_up|
              %li{:class => "timeline-"+status_check(follow_up).to_s}
                - unless follow_up.deleted_at.present?
                  .timeline-time{:style => 'padding-right: 2%;'}
                    %span.time{:style => "font-size: 15px !important;color: black !important;"}
                      #{follow_up['due_date'].try(:strftime,"%B %d")}
                    %span.date
                      #{follow_up['due_date'].try(:strftime,"%Y")}
                .timeline-icon
                  %i{:class => follow_up.deleted_at.present? ? "fa fa-trash-o" : "fa fa-phone"}
                .timeline-body
                  - if follow_up.deleted_at.present?
                    .timeline-content
                      %h4
                        %label Removed on #{follow_up.deleted_at.try(:strftime,"%B %d,%Y")}
                  - else
                    %h3 Reason: #{follow_up['reason']}
                    .timeline-content
                      %h4
                        %label Days until due: &nbsp;
                        %i.badge.badge-danger{:style => "font-size: 10pt !important;"} #{contact_days(follow_up).to_i}
                      %h4
                        %label Outcome: &nbsp;&nbsp;
                        %a{:href => "#",:name => "outcome",:class => 'outcome',:data => {:type => "text" ,:pk => follow_up.id , :url => follow_up_path(follow_up) ,:title => "Enter Outcome"}} #{follow_up['outcome']}
    - else
      %span.semi-bold.fa.fa-phone{ style: 'padding-left: 30px;'} &nbsp;&nbsp; No Contacts Yet
:javascript
  $.fn.editable.defaults.mode = 'inline';
  $.fn.editable.defaults.ajaxOptions = {type: "PUT",dataType: 'json'};
  $('.outcome').editable({
    success: function(data) {
      var element;
      $('.followups').each(function(){
        if($(this).data('id') == data.id ){ 
          element=$(this) 
        } 
      });
      if( typeof element != "undefined" ) { element.trigger('click');}
    }
  });
