.portlet.box.green-haze
  .portlet-title
    .caption
      %i.fa.fa-gift
      New Form
  .portlet-body
    = simple_form_for follow_up ,html: { class: "form-inline" ,role: 'form'} do |f|
      #error_explanation.alert.alert-danger
      .row
        .col-md-5
          %label Contact Date
        .col-md-7
          %label#contact_due #{Time.now.strftime("%B %d,%Y")}
      %hr
      .row
        .col-md-5
          %label Days until contact
        .col-md-7
          .bg-success
            %i.fa.fa-clock-o
            %label#days{:style => 'padding-left: 5%;'}  
              0 days to go
      %hr
      .row
        .col-md-5
          %label Due date until follow up
        .col-md-7
          = f.input :due_date,as: :date_picker,label: false , :input_html => { class: 'follow_up_due_date'}
          = f.hidden_field :joint_resource_id
          = f.hidden_field :doctor_id,:value => current_doctor.id
      %hr
      .row
        .col-md-5
          %label Reason
        .col-md-7
          = f.input :reason,as: :text,label: false,:input_html => {:cols => 30, :rows => 4 }
:javascript
  $(document).ready(function(e){
    $('#error_explanation').hide();
    var dateToday = new Date();
    $(".date-picker").datepicker({ startDate: new Date() }).on('changeDate', function (ev) {
       $.ajax({ 
              type: "GET",
              url: "#{contact_days_follow_ups_path}",
              data: 'due_date='+$('#follow_up_due_date').val(),
              dataType: "JSON",
              async: false
              }).success(function(data){
                  $('#days').html(data.day+" days to go");
             });
    });
  });
 