/ Footer Widgets
%footer#site-footer
  .row
    .col-sm-3.col-md-3
      %a{:href => root_url(subdomain: false)}
        %img{:alt => "", :src => "/images/itrust_logo.png", :style => "width: 100%"}/
      .col-sm-2.col-md-2
      .col-sm-10.col-md-10
        %p{style: "color: white;font-size: medium; text-align: center;"}
          1201 Brickell Ave #300 
          %br
          Miami, FL 33131
          %br
          Call Us
          %br
          (866) 700 - 0729
    .col-sm-3.col-md-3.view_mobile
      #mk-left-footer.widget-area{:role => "complementary"}
        %aside#text-7.widget.widget_text
          %h4.widget-title Products
          
          %ul
            %li
              %a{:href => "/#seo_drive"} SEO drive website
            %li
              %a{:href => "/#online_booking"} Online booking
            %li
              %a{:href => "/#rated_ehr"} "#1 rated EHR"
            %li
              %a{:href => "/#point_sale"} Point of sale
            %li
              %a{:href => "/#depth_analytics"}In depth analytics 

      / #mk-left-footer
    .col-sm-3.col-md-3.view_mobile
      #mk-mid-footer.widget-area{:role => "complementary"}
        %aside#text-9.widget.widget_text
          %h4.widget-title Company

          %ul
            %li.contact_us_form{style: "cursor: pointer;cursor: hand;"}
              Press
            %li.contact_us_form{style: "cursor: pointer;cursor: hand;"}
              Company
            %li.contact_us_form{style: "cursor: pointer;cursor: hand;"}
              Investors
            %li.contact_us_form{style: "cursor: pointer;cursor: hand;"}
              Careers
      / #mk-mid-footer
    .col-sm-3.col-md-3.view_mobile
      #mk-right-footer.widget-area{:role => "complementary"}
        %aside#text-8.widget.widget_text
          %h4.widget-title Help & Resources

          %ul
            %li
              Blog
            %li
              Contact us
            %li
              FAQ
            %li
              TOS / Private Policy
/ Footer Widgets

%div#contactusmodal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "contactusmodallabel",:role => "dialog", :tabindex => "-1"}
  .row
    .col-md-12
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
          .modal-body
            - @contact_form = @contact_form.present? ? @contact_form : ContactForm.new
            = form_for @contact_form do |f|
              .form-group
                .input-icon
                  %label
                    Name
                  %span.error *
                  %i.fa.fa-user
                  = f.text_field :name, class: "form-control", placeholder: "First Last"             
              .form-group
                %label
                  Email
                %span.error *
                .input-icon
                  %i.fa.fa-envelope
                  = f.text_field :email, class: "form-control",:required => true, placeholder: "email@domain.com"
              .form-group
                %label
                  Phone Number
                %span.error *
                = text_field_tag  "tel_input", nil, class:"form-control tel-input"
                = f.hidden_field :phone_number
              .form-group
                %label
                  Message
                %span.error *
                = f.text_area :comment, class: "form-control",:required => true, placeholder: "The reson for your contact", rows: "3=6"
                
              .form-group
                %label
                  Priority
                %span.error *
                = f.select :priority, ["Low", "Normal", "Urgent"], {}, class: "form-control"
              
              .form-group
                %label
                  Preference of contact
                %br
                .col-md-3
                  - email_notification_method = (f.object.notification_method == 1 ? true : false)
                  %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Email", :name => "contact_form[notification_method]", :style => "-webkit-user-select: text;", :type => "radio", :value => "1", :checked => email_notification_method}
                .col-md-5 
                  - text_notification_method = (f.object.notification_method == 2 ? true : false)                   
                  %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Text Message", :name => "contact_form[notification_method]", :style => "-webkit-user-select: text;", :type => "radio", :value => "2" , :checked => text_notification_method}
                .col-md-3
                  - both_notification_method = (f.object.notification_method == 3 ? true : false)                  
                  %input.optional.icheck-me{"data-color" => "blue", "data-skin" => "line", "data-text" => "Both", :name => "contact_form[notification_method]", :style => "-webkit-user-select: text;", :type => "radio", :value => "3", :checked => both_notification_method}
                %br
                %br
              
              .form-group
                %button.btn.btn-primary.btn-right{:type => "submit"} Submit
                %button.btn.btn-primary.btn-right{"data-dismiss" => "modal", :type => "button"} Close
          .modal-footer


:css
  .widget-title{    
    border-bottom: 3px solid rgb(0, 255, 255);
    width: 140px;
  }
  #site-footer li:hover {
    text-decoration: underline;
  }

:javascript
  $(document).on('click','.contact_us_form',function(){
    $('#contactusmodal').find('.modal-header').html("<h3>" + $(this).text().trim() + " contact form</h3>");
    $('#contactusmodal').modal('show');
  });
:css
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #site-footer [class*="col-"] {
        width: 100%;
    }
    .widget-title {
    border-bottom: 2px solid rgb(0, 255, 255);
    font-size: 22px;
    width:90px;
    }
    a {
    font-size: 19px;
    }
    li {
    text-decoration: underline;
    font-size: 19px;
    }
    .col-sm-10.col-md-10 {
    border-bottom: 2px solid white;
    } 
    .col-sm-3.col-md-3.view_mobile {
    margin-top: 20px;
    }
  }