- unless current_organisation.present?     
  %nav
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.mk-mobile-branding{:href => "http://www.myeyeexamonline.com"}
  .sidebar-footer.text-center
    %p{style: "color: white;font-size: medium; text-align: center;"}
      %br
      Call Us
      %br
      (866) 700 - 0729
    %ul.social-icons{ :style =>"padding-left: 25%;"}
      %li
        %a.facebook{"data-original-title" => "facebook", :href => "http://www.facebook.com/"}
      %li
        %a.googleplus{"data-original-title" => "Goole Plus", :href => "http://www.googleplus.com/"}
      %li
        %a.linkedin{"data-original-title" => "linkedin", :href => "http://www.linkedin.com/"}
      %li
        %a.twitter{"data-original-title" => "twitter", :href => "http://www.twitter.com/"}
    %p
      \&copy;&nbsp;
      %a{:href => "http://www.myeyeexamonline.com"}
      \&bull; iturst.io 2012 -
      =Time.now.year
  .navbar-default.sidebar{:role => "navigation"}
    .sidebar-nav.navbar-collapse
      .mk-header-branding.text-center
        %a{:href => root_url(subdomain: false)}
          %img{:alt => "", :src => "/images/itrust_logo.png", :style => "width: 100%"}/
        .site-desc.top20
      %ul#side-menu.nav
        %li#link-about.link_home
          %a{:href => "/#about_us"} About
        %li#link-features.link_home
          %a{:href => "/#features"} Features
        %li#link-pricing.link_home
          %a{:href => "/#prices"} Pricing
        %li#link-testimonials.link_home
          %a{:href => "/#testimonials"} Testimonials
        -#%li#link-video.link_home
          %a{:href =>  "/#contact_us" } Contact Us
        %li#link-organisation.link_home
          %a{:href =>  "/#organisation" } Sign up free
        - if request.subdomain.present?
          %li
            %a{:href =>  new_booking_path } Schedule An Appointment
        -#%li#link-signup.link_home
          %a{:href => "/#sign_up"} Sign Up  
        - if Comfy::Cms::Site.where(:identifier => request.subdomain).first.try(:pages).present?
          - Comfy::Cms::Site.where(:identifier => request.subdomain).first.pages.try(:root).try(:children).try(:published).each do |page|
            %li
              = link_to page.label, page.url(:relative)
        %li#link-login
          %a{:href => "javascript:void(0)"}
            Login
            %span.fa.arrow
          %ul.nav.nav-second-level.collapse
            %li#link-patient-login
              - if current_organisation.present?
                - as_patient_subdomain = current_organisation.domain_name
                - if as_patient_subdomain == "dev"
                  %a{:href => Rails.env.include?('staging') ? new_patient_session_url(subdomain: "#{current_organisation.domain_name}") : new_patient_session_url(subdomain: "#{current_organisation.domain_name}")} As Patient
                -else
                  %a{:href => Rails.env.include?('staging') ? new_patient_session_url(subdomain: "#{current_organisation.domain_name}.dev") : new_patient_session_url(subdomain: "#{current_organisation.domain_name}")} As Patient
              -else
                %a{:href => Rails.env.include?('staging') ? new_patient_session_url(subdomain: "dev") : new_patient_session_url(subdomain: "brickellvision")} As Patient
            %li#link-doctore-login
              - if current_organisation.present?
                - as_doctor_subdomain = current_organisation.domain_name
                - if as_doctor_subdomain == "dev"  
                  %a{:href => Rails.env.include?('staging') ? new_doctor_session_url(subdomain: "#{current_organisation.domain_name}") : new_doctor_session_url(subdomain: "#{current_organisation.domain_name}")} As Doctor
                -else
                  %a{:href => Rails.env.include?('staging') ? new_doctor_session_url(subdomain: "#{current_organisation.domain_name}.dev") : new_doctor_session_url(subdomain: "#{current_organisation.domain_name}")} As Doctor
              -else
                %a{:href => Rails.env.include?('staging') ? new_doctor_session_url(subdomain: "dev") : new_doctor_session_url(subdomain: "brickellvision")} As Doctor