.page-header.navbar.navbar-fixed-top
  .page-header-inner
    .page-logo
      %a{:href => root_path}
        - if current_doctor.try(:store).try(:logo).present?
          %img.logo-default{:alt => "logo", :src => "#{current_doctor.store.logo.url(:thumb)}", :style => "max-height: 46px;"}/
        -else     
          %img.logo-default{:alt => "logo", :style => "max-height: 46px;", :src => "/images/def_logo.jpg"}/
    .hor-menu.hidden-sm.hidden-xs
      %ul.nav.navbar-nav.hidden-sm.hidden-xs
        %li.classic-menu-dropdown
          %a{:href => root_path}
            %img{:alt => "", :src => "/images/dash_icon.png", :style => "max-width: 20px;"}/
            Dashboard            
    
    .search-form.open{:style=>"width: 40%;"}
      .input-group
        = autocomplete_field_tag 'patient_name', '', autocomplete_patient_first_name_autocompletes_path, class: "topbar_autocomplete_field form-control", :name => "patient_name", placeholder: "Search with Patient Name, DOB or Phone", :id => "topbar_result"
        %span.input-group-btn
          #search_button.btn
            %i.fa.fa-search
    %a.menu-toggler.responsive-toggler{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :href => "javascript:;"}
    .top-menu
      %ul.nav.navbar-nav.pull-right
        -@notifications = Notification.select("notifications.*").joins("INNER JOIN doctors_notifications ON notifications.id=doctors_notifications.notification_id").where("doctors_notifications.doctor_id IN(?) and notifications.event_type IN ('ContactForm','Log')",current_organisation.doctors.map(&:id)).order("notifications.created_at desc").order("notifications.created_at desc").uniq.select('notifications.*, notifications.patient_id').group_by(&:patient_id)
        - @notification_count=Notification.select("notifications.*").joins("INNER JOIN doctors_notifications ON notifications.id=doctors_notifications.notification_id").where(" doctors_notifications.doctor_id = #{current_doctor.id} and doctors_notifications.status=false and notifications.event_type IN ('ContactForm','Log')").uniq.flatten.count
        %li#header_task_bar.dropdown.dropdown-extended.dropdown-tasks.notify
          %a.dropdown-toggle.notifications_view{"data-close-others" => "true", "data-click" => "dropdown", "data-toggle" => "dropdown", :href => "#", "data-type"=>"ContactForm"}
            %i.icon-envelope-open
            %span.badge.badge-default
              = @notification_count
          %ul.dropdown-menu.extended.tasks
            %li
              %p
                ="You have #{@notification_count} message"
              %li
                %ul.dropdown-menu-list.scroller.messages{:style => "height: 250px;" , :'data-url' => "/pages/doctor_message_notifications.js?page="}
                  = render :partial => '/pages/doctor_message_notifications', :object => @notifications

            %li.external
              %a{:href => notifications_path(redirect:"contact")}
                See inbox
                %img.message_spinner.hidden{ :alt => "Loading", :src => "/images/flickr.gif"}/
                %i.m-icon-swapright

        -@notifications=Notification.select("notifications.*").joins("INNER JOIN doctors_notifications ON notifications.id=doctors_notifications.notification_id").where("doctors_notifications.doctor_id=#{current_doctor.id} and notifications.event_type='Booking'").uniq.order("notifications.created_at desc").flatten.first(4)
        -@notification_count=Notification.select("notifications.*").joins("INNER JOIN doctors_notifications ON notifications.id=doctors_notifications.notification_id").where("doctors_notifications.doctor_id=#{current_doctor.id} and doctors_notifications.status=false and notifications.event_type='Booking'").uniq.flatten.count
        %li#header_task_bar.dropdown.dropdown-extended.dropdown-tasks.notify
          %a.dropdown-toggle.notifications_view{"data-close-others" => "true", "data-click" => "dropdown", "data-toggle" => "dropdown", :href => "#", "data-type"=>"Booking"}
            %i.icon-calendar
            %span.badge.badge-default#booking-count
              =@notification_count
          %ul.dropdown-menu.extended.tasks.infinite-table
            %li
              %p
                ="You have #{@notification_count} pending apponitment"
              %li
                %ul.dropdown-menu-list.scroller.notifications{:style => "height: 250px;" , :'data-url' => "/pages/doctor_calendar_notifications.js?page="}
                  = render :partial => '/pages/doctor_calendar_notifications', :object => @notifications

            %li.external
              %a{:href => notifications_path(redirect:"booking")}
                See all notifications
                %img.notification_spinner.hidden{ :alt => "Loading", :src => "/images/flickr.gif"}/
                %i.m-icon-swapright


        %li.dropdown.dropdown-user
          %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
            %img.img-circle{:alt => "", :src => user_profile_image, :style=> "height: 29px"}/
            %span.username
              = display_user_name
            %i.fa.fa-angle-down
          %ul.dropdown-menu
            %li
              %a{:href => new_booking_path, "data-no-turbolink" => "true"}
                %i.icon-calendar
                My Calendar
            %li
              %a{:href => new_patient_path, "data-no-turbolink" => "true"}
                %i.fa.fa-plus
                Add Patient
            %li
              %a{:href => doctor_patient_logs_path,:data => { "no-turbolink" => "true"}}
                %i.fa.fa-edit
                Patient Log
            - unless current_doctor.role.include?("doctor") && (current_doctor.role.reject { |c| c.blank? }.length == 1)
              %li
                = link_to "<i class='fa fa-signal'></i>".html_safe + 'Analytics', analytics_path
    
            - if current_doctor.role.include?("administrator") || current_doctor.role.include?("super_administrator")
              %li
                %a{:href => "/contacts", :data => {"no-turbolink" => "true"}}
                  %i.fa.fa-user
                  Contacts  
              %li
                %a{:href => settings_path}
                  %i.fa.fa-cog
                  App Settings
            - else
              - if current_doctor.role.include?("staff")
                %li
                  %a{:href => settings_path}
                    %i.fa.fa-cog
                    Store Settings 

            - unless params[:controller] == "patient/patients" && (params[:action] == "edit" || params[:action] == "new") 
              - if current_doctor.role.include?("administrator") || current_doctor.role.include?("super_administrator")
                %li.dropdown-submenu
                  %a
                    %i.fa.fa-cogs
                    Admin Settings
                  %ul.dropdown-menu
                    - if current_doctor.role.include?("super_administrator")
                      %li
                        %a{:href => comfy_admin_cms_path, "data-no-turbolink" => "true", :target => "_blank"}
                          %i.fa.fa-file-text-o
                          Add Pages 
                    - if can? :manage, :seo
                      %li
                        %a{:href => seo_index_path}
                          %i.fa.fa-gear
                          SEO Settings
                    %li
                      %a{:href => stores_path}
                        %i.fa.fa-university
                        Stores
                    - if can? :index, :manage_organisation
                      %li
                        %a{:href => manage_organisations_path}
                          %i.fa.fa-users
                          Manage Organizations
                    %li
                      %a{:href => campaigns_path}
                        %i.fa.fa-envelope
                        Manage Campaigns
                    - if current_doctor.role.include?("administrator") || current_doctor.role.include?("super_administrator")
                      %li.dropdown-submenu
                        %a{:href => manage_patients_by_doctor_index_path}
                          %i.fa.fa-users
                          Manage Patients
                        %ul.dropdown-menu
                          %li
                            %a{:class => 'step',:href => manage_patients_by_doctor_index_path + "#pending-tab"}
                              Pending Appointments
                          %li
                            %a{:class => 'step',:href => manage_patients_by_doctor_index_path + "#unf-exam-tab"}
                              Unfinished Exam
                          %li
                            %a{:class => 'step',:href => manage_patients_by_doctor_index_path + "#unf-ord-tab"}
                              Unfinished Orders
                          %li
                            %a{:class => 'step',:href => manage_patients_by_doctor_index_path + "#to-be-orderd-tab"}
                              To Be Ordered
                          %li
                            %a{:class => 'step',:href => manage_patients_by_doctor_index_path + "#to-be-dspnsd-tab"}
                              To Be Dispensed
                          %li
                            %a{:class => 'step',:href => manage_patients_by_doctor_index_path + "#fllw-up-tab"}
                              Follow Up List
                          %li
                            %a{:class => 'step',:href => manage_patients_by_doctor_index_path + "#ins-bal-tab"}
                              Insurance Balance Due
                    - if can? :edit, :manage_organisation
                      %li
                        %a{:href => edit_manage_organisation_path(current_organisation)}
                          %i.fa.fa-edit
                          Update Organization Details
                    %li
                      %a{:href => analytic_campaigns_path}
                        %i.fa.fa-signal
                        Campaign Analytics

              %li
                = link_to "<i class=\"icon-key\"></i> Log Out".html_safe, destroy_doctor_session_path, method: :delete
          
        
:javascript
  $('#topbar_result').bind('railsAutocomplete.select', function(event, data){
    if (data.item.family_member_id == null) {
      window.location.assign('/doctor/patient/profile?patient_id='+data.item.patient_id);
    }
    else{
      window.location.assign('/family_members/'+data.item.family_member_id);
    }
  });

  $('#search_button').click(function() {
    $('#topbar_result').autocomplete('search', $('#topbar_search').val())
  });