.page-footer
  .page-footer-inner
    -if current_doctor.present?
      -store = current_doctor.store
      - if store.present?
        - if store.description.present?
          - store_addr_footer = store.description.to_s
        - if store.office_address.address1.present?
          - if store_addr_footer.present?
            - store_addr_footer = store_addr_footer + ' | ' + store.office_address.address1.to_s
          -else
            - store_addr_footer = store.office_address.address1.to_s
        - if store.office_address.city.present?
          - if store_addr_footer.present?
            - store_addr_footer = store_addr_footer +', '+ store.office_address.city.to_s
          - else
            - store_addr_footer = store.office_address.city.to_s
        - if store.url.present?
          - if store_addr_footer.present?
            - store_addr_footer = store_addr_footer +  ' | '+ link_to(store.try(:url), store.try(:url))
          - else
            - store_addr_footer = link_to(store.try(:url), store.try(:url)) 
        =(store_addr_footer).html_safe
      Copyright &copy; 
      =Time.now.year
    -elsif
      - if current_organisation.company_name.present?
        - cur_orgg = current_organisation.company_name
      - if current_organisation.address.address1.present?
        - if cur_orgg.present?
          - cur_orgg = cur_orgg + ' | ' + current_organisation.address.try(:address1).to_s
        - else
          - cur_orgg = current_organisation.address.try(:address1).to_s
      - if current_organisation.address.city.present?
        - if cur_orgg.present?
          - cur_orgg = cur_orgg + ', ' + current_organisation.address.try(:city).to_s
        - else
          - cur_orgg = current_organisation.address.try(:city).to_s
      - if current_patient.present?
        - store = current_patient.joint_resource.last_assigned_doctor.store.url
        - if store.present?
          - cur_orgg = cur_orgg +' Copyright &copy; ' + (Time.now.year).to_s + ' | '+ link_to(store, store)
      = (cur_orgg).html_safe
    
  .page-footer-tools
    %span.go-top
      %i.fa.fa-angle-up