.page-header.navbar.navbar-fixed-top
  .page-header-inner
    .page-logo
      %a{:href => root_path}
        - if current_patient.joint_resource.last_assigned_doctor.present?
          %img.logo-default{:alt => "logo", :src => "#{current_patient.joint_resource.last_assigned_doctor.try(:store).try(:logo).url}", :style => "max-height: 46px;"}/
        -else  
          %img.logo-default{:alt => "logo", :style => "max-height: 46px;", :src => "/images/def_logo.jpg"}/

    .hor-menu.hidden-sm.hidden-xs
      %ul.nav.navbar-nav.hidden-sm.hidden-xs
        %li.classic-menu-dropdown.active
          %a{:href => root_path}
            %img{:alt => "", :src => "/images/dash_icon.png", :style => "max-width: 20px;"}/
            Dashboard
            %span.selected

    %a.menu-toggler.responsive-toggler{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :href => "javascript:;"}
    .top-menu
      %ul.nav.navbar-nav.pull-right
        -@notifications=current_patient.notifications
        -@notifications_count=current_patient.notifications.where(status: false).count
        %li#header_task_bar.dropdown.dropdown-extended.dropdown-tasks.notify
          %a.dropdown-toggle.notifications_view{"data-close-others" => "true", "data-click" => "dropdown", "data-toggle" => "dropdown", :href => "#", "data-type"=>"Booking"}
            %i.icon-calendar
            %span.badge.badge-default
              =@notifications_count
          %ul.dropdown-menu.extended.tasks
            %li
              %p
                ="You have #{@notifications.count} pending appointment"
            %li
              %ul.dropdown-menu-list.scroller.notifications{:style => "height: 250px;" , :'data-url' => "/pages/patient_calendar_notifications.js?page="}
                = render :partial => '/pages/patient_calendar_notifications', :object => @notifications
                                                          
            %li.external
              %a{:href => notifications_path}
                See all notifications
                #spinner{:style => "display:none;"}
                  %img#img-spinner{:alt => "Loading", :src => "/images/flickr.gif"}/
                %i.m-icon-swapright

        %li.dropdown.dropdown-user
          %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
            %img.img-circle{:alt => "", :src => user_profile_image, :style=> "height: 29px"}/
            %span.username
              = display_user_name
            %i.fa.fa-angle-down
          %ul.dropdown-menu
            %li
              %a{:href => root_path}
                %i.icon-user
                My Profile 
            %li.mobile_view
              %a{"data-toggle" => "tab", :href => "#tab_1_1"}
                Overview
            %li.mobile_view
              %a{"data-toggle" => "tab", :href => "#account_tab_1_2", id: "load_account_tab"}
                Account
            %li.mobile_view
              %a{"data-toggle" => "tab", :href => "#reports_tab_1_3"}
                Reports
            %li.mobile_view
              %a{"data-toggle" => "tab", :href => "#family_tab_1_4", id: "load_family_member_tab"}
                Family Members
            %li.mobile_view
              %a{"data-toggle" => "tab", :href => "#tab_1_5"}
                1-click Buy
            %li.mobile_view
              %a{"data-toggle" => "tab", :href => "#subscriptions_tab_1_6"}
                Subscriptions
            %li
              = link_to "<i class=\"icon-key\"></i> Log Out".html_safe, destroy_patient_session_path, method: :delete
:css
  .mobile_view
  {
  display: none;
  }
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }   
    .mobile_view {
    display:block;
    }
  }