%html
  %head
    %meta{charset: 'utf8'}
    = wicked_pdf_stylesheet_link_tag "pdf.css", :media => "all"
    = wicked_pdf_stylesheet_link_tag "custom.css", :media => "all"
    = wicked_pdf_stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    %link{:href => "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}
  %body
    .container
      = yield
