!!!
%html{:lang => "en", :prefix => "og: http://ogp.me/ns#"}
  %head
    = favicon_link_tag
    -if @cms_page.present? && @cms_page.title.present?
      %title
        = @cms_page.title
      %meta{name:"description", content: "#{cms_block_content(:meta_description)}"}
    = display_meta_tags site: ''
    %title
      = full_title(yield(:title))
    = stylesheet_link_tag    "unauthenticated_user", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "unauthenticated_user", "data-turbolinks-track" => true
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = csrf_meta_tags

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    %meta{name: "google-site-verification", content: "rYZ6LtIPDDrONGOmdxYNzY17kFpPf37gDvXplavlUzI"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js"}
    %meta{:charset => "UTF-8"}
      %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
        
        %style#demo-custom-css{:type => "text/css"}
          \.primary{color:#b8a7c6;}
    = render "layouts/google_analytics"  
    
    :javascript
      window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s= d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set._.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
      $.src="//v2.zopim.com/?4G1zt3LWuZu8fZTO1cm4OTaTAm0EuwKL";z.t=+new Date;$.type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");

  - wordpress_login = params["wordpress_login"] == "true"
  %body.home.page.page-id-9.page-template-default{style: wordpress_login ? "background-color: rgb(250,250,250)" : (current_organisation.present? ? "background-color: rgb(250,250,250)" : "")} 
    #mk-main-wrapper
      .spinner.medium
      = render "layouts/application_header"  unless  wordpress_login  
      %div{style: "background-color: rgb(250,250,250)", id: wordpress_login ? "" : (current_organisation.present? ? "" : "mk-page-wrapper")} 
     
        - if notice
          .alert.alert-success.alert-dismissible{:role => "alert"}
            %button.close{:type => "button", data: {:dismiss => "alert"}}
              %span{"aria-hidden" => "true"}
                &times;
              %span.sr-only
                Close
            = notice
        - if alert
          .alert.alert-danger.alert-dismissible{:role => "alert"}
            %button.close{:type => "button", data: {:dismiss => "alert"}}
              %span{"aria-hidden" => "true"}
                &times;
              %span.sr-only
                Close
            
            = alert
        -if @landing_page
          = yield
        - else
          .div{style: "margin: 0px 50px 25px 50px"}
            = yield
        
        = render "layouts/application_footer" unless current_organisation.present? || wordpress_login
    = render "layouts/google_analytics_pageview"