!!!
%html
  %head
    = favicon_link_tag
    = display_meta_tags site: ''
    %title
      = full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "doctor", "data-turbolinks-track" => true
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/json2/20140204/json2.min.js"
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    = javascript_include_tag "https://cdn.firebase.com/js/client/2.0.2/firebase.js"
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = csrf_meta_tags

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{name: "google-site-verification", content: "rYZ6LtIPDDrONGOmdxYNzY17kFpPf37gDvXplavlUzI"}
    = render "layouts/google_analytics"
  %body.page-header-fixed.page-quick-sidebar-over-content.page-full-width
    = render 'layouts/doctor_header'
    -@notifications=Notification.select("notifications.*").joins("INNER JOIN doctors_notifications ON notifications.id=doctors_notifications.notification_id").where("doctors_notifications.doctor_id IN(?) and notifications.event_type IN ('ContactForm','Log')",current_organisation.doctors.map(&:id)).order("notifications.created_at desc").order("notifications.created_at desc").uniq.flatten.last(4)
    -@notifications.each do |notification|
      -if notification.event_type == "ContactForm"
        = render :partial => "/contact_forms/reply_modal_boxes", :locals => { :index => notification.id, :contact_form => notification.event, :type => "ContactForm" }
      -elsif notification.event_type == "Log"
        -if notification.event.try(:trackable_type) == "ContactForm"
          = render :partial => "/contact_forms)/reply_modal_boxes", :locals => { :index => notification.id, :contact_form => notification.event.trackable, :type => "ContactForm" }
        -elsif notification.event.try(:trackable_type) == "TwilioWebhook"
          = render :partial => "/contact_forms/reply_modal_boxes", :locals => { :index => notification.id, :twilio_webhook => notification.event.trackable, :type => "TwilioWebhook" }

    .clearfix
    .page-container.page-height
      .page-content-wrapper
        .spinner.medium
        %div.page-content{:style => "background-image: url(#{current_doctor.bgurl}) !important;" }
          - if notice
            .alert.alert-success.alert-dismissible{:role => "alert"}
              %button.close{:type => "button", data: {:dismiss => "alert"}}
                %span{"aria-hidden" => "true"}
                  &times;
                %span.sr-only
                  Close
              = notice
          - if alert
            .alert.alert-danger.alert-dismissible{:role => "alert"}
              %button.close{:type => "button", data: {:dismiss => "alert"}}
                %span{"aria-hidden" => "true"}
                  &times;
                %span.sr-only
                  Close
              
              = alert
          = yield
    = render 'layouts/footer'
    = render "layouts/google_analytics_pageview"