!!!
%html
  %head
    = favicon_link_tag
    = display_meta_tags site: ''
    %title
      = full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "patient", "data-turbolinks-track" => true
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = csrf_meta_tags

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{name: "google-site-verification", content: "rYZ6LtIPDDrONGOmdxYNzY17kFpPf37gDvXplavlUzI"}
    = render "layouts/google_analytics"
  %body.page-header-fixed.page-quick-sidebar-over-content.page-full-width
    = render 'layouts/patient_header'
    .clearfix
    .page-container.page-height
      .page-content-wrapper
        .spinner.medium
        - bgurl = current_patient.try(:bgurl).present? ? current_patient.try(:bgurl) : "/images/patient_bg.jpg"
        %div.page-content{:style => "background-image: url(#{bgurl}) !important" }
          - if notice
            .alert.alert-success.alert-dismissible{:role => "alert"}
              %button.close{:type => "button", data: {:dismiss => "alert"}}
                %span{"aria-hidden" => "true"}
                  &times;
                %span.sr-only
                  Close
              = notice
          - if alert
            .alert.alert-danger.alert-dismissible{:role => "alert"}
              %button.close{:type => "button", data: {:dismiss => "alert"}}
                %span{"aria-hidden" => "true"}
                  &times;
                %span.sr-only
                  Close
              = alert
          = yield
    = render 'layouts/footer'
    = render "layouts/google_analytics_pageview"
